
        <!--
        footer
        ==================================== -->
        <footer class="footer">
            <div class="container">
                <!-- <p class="copyright pull-left item_left"> Copyright &copy; 2015 Eydia. All rights reserved. design by <strong><a href="#">pixel studio</a>.</strong></p>
                <ul class="pull-right social-links text-center item_right">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul> -->
            </div>
        </footer>
        <!--
        End footer
        ==================================== -->
        
        <!-- back to top -->
        <a href="javascript:;" id="go-top">
            <i class="fa fa-angle-up"></i>
            top
        </a>

       
    </div>


  

     
         <script type="text/javascript" src="/js1/vendor/modernizr-2.6.2.min.js" async></script>
        <script type="text/javascript" src="/js1/vendor/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/js1/jquery-migrate.min.js" async></script>
        <script type="text/javascript" src="/js1/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.appear.js" async></script>
        <script type="text/javascript" src="/js1/jquery.bxslider.min.js" async></script>
        <script type="text/javascript" src="/js1/vendor/owl.carousel.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.backstretch.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.nav.js" async></script>
        <script type="text/javascript" src="/js1/lightbox.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.parallax-1.1.3.js" async></script>
        <!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js1?sensor=true"></script> -->
        <script type="text/javascript" src="/js1/jquery-validation.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.easing.min.js" async></script>
        <script type="text/javascript" src="/js1/form.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.isotope.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.multiscroll.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery-countTo.js" async></script>
        <script type="text/javascript" src="/js1/jquery.mb.YTPlayer.min.js" async></script>
        <script type="text/javascript" src="/js1/jflickrfeed.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.selectbox-0.2.min.js" async></script>
        <script type="text/javascript" src="/js1/tweetie.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.sticky.js" async></script>
        <script type="text/javascript" src="/js1/jquery.nicescroll.min.js" async></script>
     
        <script type="text/javascript" src="/js1/bootstrap-progressbar.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.circliful.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.easypiechart.js" async></script>
        <script type="text/javascript" src="/js1/masonry.pkgd.js" async></script>
        <script type="text/javascript" src="/js1/jquery.tubular.1.0.js" async></script>
        <script type="text/javascript" src="/js1/kenburned.min.js" async></script>
        <script type="text/javascript" src="/js1/mediaelement-and-player.min.js" async></script>
        <!-- shortcode scripts -->
        <script type="text/javascript" src="/shortcodes/js/jquery.nivo.slider.pack.js" async></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.prettyPhoto.js" async></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.slicebox.min.js" async></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.eislideshow.js" async></script>
        <script type="text/javascript" src="/shortcodes/js/camera.min.js" async></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.zaccordion.min.js" async></script>
        <script type="text/javascript" src="/shortcodes/js/main.js" async></script>
        <script type="text/javascript" src="/js1/jquery.prettySocial.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.magnific-popup.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.zoom.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.countdown.js" async></script>
        <script type="text/javascript" src="/js1/jquery.webticker.min.js" async></script>
        <script type="text/javascript" src="/js1/jquery.timepicker.min.js" async></script>
        <script type="text/javascript" src="/js1/selectize.min.js" async></script>
        <!-- image filter -->
        <script type="text/javascript" src="/js1/img-filter/jquery.gray.min.js" async></script>
        <!-- // image filter -->
        <script type="text/javascript" src="/js1/wow.min.js" async></script>
        <script src="/syntax-highlighter/scripts/prettify.min.js" async></script>
        <script type="text/javascript">$.SyntaxHighlighter.init();</script>
        <script type="text/javascript" src="/js1/main.js" async></script>
         <script type="text/javascript">
            $(function() {
                $(".slide-thumbs").flexslider({
                    animation: "slide",
                    controlNav: true,
                    animationLoop: false,
                    slideshow: false,
                    itemWidth: 75,
                    itemMargin: 5,
                    asNavFor: ".flex-with-thumb"
                });

                $(".flex-with-thumb").flexslider({
                    animation: "slide",
                    controlNav: false,
                    animationLoop: false,
                    slideshow: false,
                    sync: ".slide-thumbs"
                });
            });
        </script>

<script type="text/javascript">
    document.getElementById("cartvalue").value = localStorage.cart;
     // document.getElementById("cartvalues").value = localStorage.cart;
     
      
  </script>

  <style type="text/css">
     td.negative { color : red; }
    </style>
  
  <script>
        var cart = [];



        $(function () {
            if (localStorage.cart)
            {
                 // alert(localStorage.cart);

                cart = JSON.parse(localStorage.cart);
                showCart();
                // document.getElementById("cartvalue").value = localStorage.cart;

    // document.getElementById("hidebutton").style.display = "none";
    // document.getElementById("checkoutbutton").style.display= "block";

               
            }
               if (cart.length == 0 || cart.length == null) {
              document.getElementById("totalprice").textContent= "0";
              document.getElementById("totalprices").textContent= "0";
              document.getElementById("shippricesmp").textContent="0";
             document.getElementById("shippricesoutmp").textContent="0";


              
                // $("#messageempty").html("YOUR CART IS CURRENTLY EMPTY");

                //  $("#messageemptysecond").html("You have not added any items in your shopping cart");
                //  document.getElementById("messagebutton").style.display = "block";
            }

        });


        function addToCart() {
             // alert("me too calling");
            var productIdd = $("#prodId").val();
            // alert(productIdd);   
            var productStockkk =$("#prodStock").val();
            // alert("yes" + productStockkk);

            var productImgg =$("#prodImg").val();

            // alert(productImgg);

            var productquantity = $("#prductqntatity").val();

            // alert("no" + productquantity);      

            var price =$("#productprice").text();
            // alert(price);
            var name = $("#productname").text();
            // alert(name);
            var productcategory = $("#productcategory").text();
            // alert(productcategory);
            var productsubcategory = $("#productsubcategory").text();
            // alert(productsubcategory);
            var qty = $("#qty").val();
            // alert(qty);
            var shipPrice = $("#shipprice").text();
            // alert(shipPrice);

             var shipOutPrice = $("#shippriceout").text();
            // alert(shipOutPrice);

             var minusvalue = parseInt(productquantity) - parseInt(qty);

            var total= 0;

            for (var i in cart) {
                if(cart[i].Product == name)
                {
                    cart[i].ProductIds = productIdd;
                    cart[i].ProductStocks = productStockkk;
                    cart[i].ProductImgs = productImgg;
                    cart[i].ProductQuantitys = productquantity;
                    cart[i].Price = price;
                    cart[i].Qty = qty;
                    cart[i].Total = total;
                    cart[i].ShipPrice = shipPrice;
                    cart[i].ShipOutPrice = shipOutPrice;
                    cart[i].MinusAmount= minusvalue;
                    showCart();
                    saveCart();
                    return;
                }
            }
            // create JavaScript Object
            var item = { ProductIds : productIdd , ProductImgs : productImgg, ProductStocks : productStockkk , ProductQantitys : productquantity , Product: name,  Price: price, Qty: qty, Total : total , ShipPrice : shipPrice , ShipOutPrice : shipOutPrice , MinusAmount : minusvalue}; 

            cart.push(item);
            saveCart();
            showCart();
        }

        function deleteItem(index){
          
            cart.splice(index,1); // delete item at index
            window.location.reload();
            showCart();
            saveCart();
        }

        function saveCart() {
            if ( window.localStorage)
            {

                // alert(localStorage.cart);
                localStorage.cart = JSON.stringify(cart);

            }
        }

           function showCart() {

                 // alert(localStorage.cart);
             if (cart.length == 0) {
              // alert(localStorage.cart);
                $("#cart").css("visibility", "hidden");
               // document.getElementById("totalitem").textContent= "0";
                document.getElementById("totalprice").textContent= "0";
                document.getElementById("totalprices").textContent= "0";
               document.getElementById("shippricesmp").textContent="0";
             document.getElementById("shippricesoutmp").textContent="0";

                return;
            }
          

             $("#cart").css("visibility", "visible");
            $("#cartBody").empty();

          
              var total= 0;
               var grandtotal= 0;
              var final= 0;
              var totalShipOutMp = 0;
              var totalShipMp= 0;

// $("tr td.qtyydataminus").each(function(i){
//     $(this).text();
//     alert("value is" + $(this).text(););
// });

 
              // var flag = "True";

            for (var i in cart) {

                var item = cart[i];

                // alert("hiii");

                // alert(JSON.stringify(item));


            
                var total = total + item.Qty * item.Price;

                 var totalShipMp = parseFloat(totalShipMp) + parseFloat(item.ShipPrice) * parseFloat(item.Qty) ;
                 // alert(totalShipMp);

                 var totalShipOutMp = parseFloat(totalShipOutMp) + parseFloat(item.ShipOutPrice) * parseFloat(item.Qty) ;
                // alert(totalShipOutMp);

               var productidde = productIdd =item.ProductIds;

                var productimgData =item.ProductImgs;

                var grandtotal = grandtotal + item.Qty * item.Price;
                //alert(grandtotal);
                var productnames = $("#productname").textContent=item.Product;
               //alert(productnames);
                var newprices = $("#newprice").textContent=item.Price;
                // alert(newprices);
                var totalqtys = $("#totalqty").value=item.Qty;
                 // alert(item.Qty);
                 

               var productqtyss = $("#prductqntatity").textContent=item.ProductQantitys;

                // var minusqtyss = $("#qtyvalues").textContent=item.MinusAmount;

                 // alert(item.MinusAmount);

                 // alert(minusqtyss);

                 var shippricemp = $("#shipPricemp").textContent=item.ShipPrice * item.Qty;

                 // alert(shippricemp);


                 var shippricempout = $("#shipPricempOut").textContent=item.ShipOutPrice * item.Qty;

                 // alert(shippricempout);

                  

               
                document.getElementById("totalprice").textContent=parseFloat(Math.round(total * 100) / 100).toFixed(2);

                 document.getElementById("grandtotalprice").textContent=parseFloat(Math.round(grandtotal * 100) / 100).toFixed(2);

                // document.getElementById("shippricesmp").textContent=parseFloat(Math.round(totalShipMp * 100) / 100).toFixed(2);

               //   document.getElementById("shippricesoutmp").textContent=parseFloat(Math.round(totalShipOutMp * 100) / 100).toFixed(2);



                 
                 // alert(totalprice);


               // var row =" <tr><td><h5 id='productId"+ i +"' name='productId"+ i +"'>" + item.ProductIds + "</h5></td><td><h5 id='productStock"+ i +"' name='productStock"+ i +"'>" + item.ProductStocks + "</h5></td><td><td><h5 id='productname"+ i +"' name='productname"+ i +"'>" + item.Product + "</h5></td><td><h5 id='newprice"+ i +"' name='newprice"+ i +"'><strong>$" + item.Price + "</strong></h5></td><td><div class='input-group spinner'><input type='text' class='form-control cssQty' id='totalqty"+ i +"' name='totalqty"+ i +"' value='" + item.Qty + "' rowid='"+i+"' pattern='[0-9]{10}' onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></div></td><td><h5 id='itemtotal" +i+"'><strong style='margin-right: 3px;'>"+"$"+ item.Qty * item.Price + "</strong></h5></td><td><button class='btn btn-link btn-lg pull-right' style='margin-right: 30px;margin-top: -3px;' onclick='deleteItem(" + i + ")'><span class='glyphicon glyphicon-trash'> </span></button></td></tr>";



                // if(item.MinusAmount < 0){

                //    alert("negative");

                //    flag = "False";

                //   // document.getElementById("hidebutton").style.display = "block";
                //   // document.getElementById("checkoutbutton").style.display= "none";
                  

                // }

                // else {

                //   alert("positive");

                //   document.getElementById("hidebutton").style.display = "none";
                //   document.getElementById("checkoutbutton").style.display= "block";


                // }




               var totalShip = $("#shipAmount").text();
               var totalTax = $("#amountTax").text();
               // alert(totalTax);
                  // var Finalvalue = +parseFloat(Math.round(grandtotal * 100) / 100).toFixed(2)+ +parseInt(totalShip)+ +parseFloat(1.84).toFixed(2);

                    var Finalvalue = parseFloat(Math.round(grandtotal * 100) / 100).toFixed(2);


                  $('#hdnCartTotal').val(parseFloat(Math.round(Finalvalue).toFixed(2)));

               $('#hdnCartTotalcart').val(parseFloat(Math.round(Finalvalue).toFixed(2)));


               document.getElementById("finalPrice").textContent=Finalvalue;
                document.getElementById("finalPricess").value=Finalvalue;

// <input type='number' class='qtyydataminus' name='qtyvalues"+ i +"' id='qtyvalues"+ i +"' min='1' max='" + item.MinusAmount + "'>

                 var row ="<tr class='cart_item'><td class='product-thumbnail' style='display:none;'><h5 id='productid"+ i +"' name='productid"+ i +"'>" + item.ProductIds + "</h5>&nbsp;<h5 style='display:none;' id='prductqntatity"+ i +"' name='prductqntatity"+ i +"'>" + item.ProductQantitys + "</h5></td><td class='product-thumbnail'><a href='#'><img src="+  item.ProductImgs +" alt='' style='height:50px;width:80px;'></a></td><td class='product-name'><a href='#'><h5 id='productname"+ i +"' name='productname"+ i +"'>" + item.Product + "</h5></a><h5 id='shippricemp"+ i +"' name='shippricemp"+ i +"'><strong>Shipping in MP: &nbsp;" + item.ShipPrice + "</strong></h5><br><h5 id='shippricempout"+ i +"' name='shippricempout"+ i +"'><strong>Shipping in out of MP: &nbsp;" + item.ShipOutPrice + "</strong></h5></td><td class='product-price'><span class='amount'><h5 id='newprice"+ i +"' name='newprice"+ i +"'><strong><i class='fa fa-inr' aria-hidden='true'></i>" + item.Price + "</strong></h5></span></td><td class='product-quantity'><input type='number' min='1' max='" + item.ProductQantitys + "' class='form-control cssQty' id='totalqty"+ i +"' name='totalqty"+ i +"' value='" + item.Qty + "' rowid='"+i+"' pattern='[0-9]{10}' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:60px;'/></td><td class='product-subtotal'><span class='amount'><h5 id='itemtotal" +i+"'><strong style='margin-right: 3px;'>"+"<i class='fa fa-inr' aria-hidden='true'></i>"+ item.Qty * item.Price + "</strong></h5></span></td><td><button class='btn btn-link btn-lg' style='margin-top: -3px;color:#000;' onclick='deleteItem(" + i + ")'><span class='glyphicon glyphicon-trash'> </span></button></td></tr>";

                 // <select class='form-control cssQty' id='totalqty"+ i +"' name='totalqty"+ i +"' rowid='"+i+"' style='width: 60px;'></select>

                  
                $("#cartBody").append(row); 
                // alert(i);
                // alert('totalqty'+i);

               //  function selectOne() {
               //    var select = document.getElementById('totalqty'+i);
               //         // alert('selet' + select);
               //       for (var k=0; k<item.ProductQantitys; k++) {
               //          select.options[select.options.length] = new Option(k+1, k+1);
               //       }
               //      }
               // selectOne();

               

            }

            // alert(flag);


            // if(flag = "False"){

            //    // document.getElementById("hidebutton").style.display = "block";
            //    // document.getElementById("checkoutbutton").style.display= "none";

            // }

             // alert(totalShipMp);
             // alert(totalShipOutMp);
            

           document.getElementById("shippricesmp").textContent=parseFloat(Math.round(totalShipMp * 100) / 100).toFixed(2);

             document.getElementById("shippricesoutmp").textContent=parseFloat(Math.round(totalShipOutMp * 100) / 100).toFixed(2);




             // alert(Finalvalue);
        }
 </script>

 <% 

    var rowFrameworkResultInJss =  loadproductdata

    var totall = rowFrameworkResultInJss.length

    var finalvals = JSON.stringify(rowFrameworkResultInJss)

    %>
 
<script type="text/javascript">


// $("#hidebutton").click(function(){
//   alert("First add quantity to available product quantity");
// });


$(document).ready(function(){ 

  $("[type='number']").keypress(function (evt) {
    evt.preventDefault();
});

$('.cssQty').change(function () {
 // alert("hii");
var id=$(this).attr("rowid"); 
    // alert(id); 

var productIdd = $('#'+ "productid" + id).text();
// alert(productIdd);

// var totalproductqty =

// prductqntatity

var productqntitydata = $('#'+ "prductqntatity" + id).text()

// alert(productqntitydata);

var productqtykk = $('#'+ "totalqty" + id).val();

var itemqty =$(this).val();

// alert(itemqty);

// var minusqtydata = parseInt(productqntitydata) - parseInt(itemqty); 

// alert(minusqtydata);

// document.getElementById("qtyvalues" + id).textContent = minusqtydata;


// if(minusqtydata < 0){

//   alert("negative value");

//   // document.getElementById("hidebutton").style.display = "block";
//   // document.getElementById("checkoutbutton").style.display= "none";
    

// }else{

//     alert("positive value");


//   // document.getElementById("hidebutton").style.display = "none";
//   // document.getElementById("checkoutbutton").style.display= "block";


// }


var totalfinalvals = "<%= finalvals%>";

var partPro = totalfinalvals.replace(/&quot;/g,'"');

var objPartpro = JSON.parse(partPro);

var lengthtPartpro = Object.keys(objPartpro).length;
    
    var namepro = $('#'+ "productname" + id).text();
    // alert(namepro);  
    var actualprices=$('#'+ "newprice" + id).text();  
    // alert(actualprices);
    // var actualprice = actualprices.substr(1);
    // alert(actualprice);
    var itemtotal = actualprices * itemqty;
    // alert(itemtotal);

    var oldactualprice=$('#'+ "itemtotal" + id).text();  
    // alert(oldactualprice);
    var oldgrandotalprice=$('#grandtotalprice').text(); 

    // var qtyminuvals = minusqtydata; 

    // alert(qtyminuvals);
    var calc = oldgrandotalprice - oldactualprice ;
    // alert(calc);

    $('#'+"itemtotal" + id).html("<i class='fa fa-inr' aria-hidden='true'></i>"+itemtotal);
    // alert(oldgrandotalprice);
     var grandtotalprice1 = calc + itemtotal;
     // alert(grandtotalprice1);
      $('#grandtotalprice').text(grandtotalprice1);
      $('#totalprice').text(grandtotalprice1);





           var grandtotal= 0;
           var totalShipMp = 0;
           var totalShipOutMp = 0;
           var total= 0;
           var final= 0;

        for (var i = 0; i < cart.length; i++) {
          if (cart[i].Product == namepro) {
                 cart[i].Price = actualprices;
                 cart[i].Qty = itemqty;
                 cart[i].Total = oldactualprice;
                 // cart[i].MinusAmount= qtyminuvals;
                 // showCart();
                 saveCart();  

         
          }
        }

              var total= 0;
              var grandtotal= 0;
              var final= 0;
              var totalShipMp = 0;
              var totalShipOutMp = 0 ;





              for (var i in cart) {
             var item = cart[i];

              // alert(item.MinusAmount);

               
                var total = total + item.Qty * item.Price;

                var totalShipMp = parseFloat(totalShipMp) + parseFloat(item.ShipPrice)  * parseFloat(item.Qty);
                 // alert(totalShipMp);

                var totalShipOutMp = parseFloat(totalShipOutMp) + parseFloat(item.ShipOutPrice)  * parseFloat(item.Qty);
                // alert(totalShipOutMp);
                var grandtotal = grandtotal + item.Qty * item.Price;

                var productnames = $("#productname").textContent=item.Product;
                // alert(productnames);
                var newprices = $("#newprice").textContent=item.Price;

                 // alert(newprices);
                var totalqtys = $("#totalqty").value=item.Qty;

               // var productqtyss = $("#prductqntatity").textContent=item.ProductQtyss;

               // alert(productqtyss);

               // var minusqtyss = $("#qtyvalues").textContent=item.MinusAmount;


                var shippricemp = $("#shipPricemp").textContent=item.ShipPrice * item.Qty;

                var shippricempout = $("#shipPricempOut").textContent=item.ShipOutPrice * item.Qty;

                  document.getElementById("shippricesmp").textContent=parseFloat(Math.round(totalShipMp * 100) / 100).toFixed(2);

                document.getElementById("shippricesoutmp").textContent=parseFloat(Math.round(totalShipOutMp * 100) / 100).toFixed(2);

                

                  document.getElementById("totalprice").textContent=parseFloat(Math.round(total * 100) / 100).toFixed(2);
                  // document.getElementById("totalprices").textContent= parseFloat(Math.round(total * 100) / 100).toFixed(2);


                  document.getElementById("grandtotalprice").textContent=parseFloat(Math.round(grandtotal * 100) / 100).toFixed(2);

                

              

                   // document.getElementById("messagebutton").style.display = "none";


               var totalShip = $("#shipAmount").text();
               var totalTax = $("#amountTax").text();
               // alert(totalTax);

               

                // var Finalvalue = +parseFloat(Math.round(grandtotal * 100) / 100).toFixed(2)+ +parseInt(totalShip)+ +parseFloat(1.84).toFixed(2);

                var Finalvalue = +parseFloat(Math.round(grandtotal * 100) / 100).toFixed(2)+ +parseInt(totalShip).toFixed(2);

                // alert(Finalvalue);

                $('#hdnCartTotal').val(parseFloat(Math.round(Finalvalue).toFixed(2)));

               $('#hdnCartTotalcart').val(parseFloat(Math.round(Finalvalue).toFixed(2)));



               document.getElementById("finalPrice").textContent=Finalvalue;
               document.getElementById("finalPricess").value=Finalvalue;
            

            
            }

});
});

</script> 

    

<!-- 
<script>
      var autocomplete = {};
    var autocompletesWraps = ['test', 'test2'];

    var test_form = { street_number: 'short_name', route: 'long_name', locality: 'long_name', administrative_area_level_1: 'short_name', country: 'long_name', postal_code: 'short_name' };
    var test2_form = { street_number: 'short_name', route: 'long_name', locality: 'long_name', administrative_area_level_1: 'short_name', country: 'long_name', postal_code: 'short_name' };

  function initialize() {

      $.each(autocompletesWraps, function(index, name) {
      
        if($('#'+name).length == 0) {
          return;
        }

        autocomplete[name] = new google.maps.places.Autocomplete($('#'+name+' .autocomplete')[0], { types: ['geocode'] });
          
        google.maps.event.addListener(autocomplete[name], 'place_changed', function() {
          
          var place = autocomplete[name].getPlace();
          var form = eval(name+'_form');

          for (var component in form) {
            $('#'+name+' .'+component).val('');
            $('#'+name+' .'+component).attr('disabled', false);
          }
          
          for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (typeof form[addressType] !== 'undefined') {
              var val = place.address_components[i][form[addressType]];
              $('#'+name+' .'+addressType).val(val);
            }
          }
        });
      });
    }
    </script> -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->
   <!--  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDykCyqFM1dxUnnEhTh5ctttawHY-G2a04&libraries=places&callback=initAutocomplete"  type="text/javascript"></script> -->

 
    </body>
</html>
