<div class="front-copyright">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <p style="text-align: center;">
                     <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
                        <span class="margin-right-10">2013 © <%= loadwebsitedata[i].webName %> | ALL Rights Reserved.|</span><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        <br>
                        <span class="margin-right-10"><%= loadwebsitedata[i].webEmail %> | <a href="#"><%= loadwebsitedata[i].webAddress %></a>
                         <br>
                        <span class="margin-right-10">Contact Us | <a href="#"><%= loadwebsitedata[i].webPhone %></a>
                        <% } %>     
                    </p>
                </div>      
               
            </div>
        </div>
    </div>