

<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
    <title><%= loadwebsitedata[i].webName %></title>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <link rel="shortcut icon" href="/imgs/icons/favicon.png">

       
        <!--
        Google Fonts
        ============================================= -->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,700italic,300italic">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arvo:400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis:800,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Great+Vibes">
        
        
        <!--
        CSS
        ============================================= -->
        <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/jquery.bxslider.css" defer>
        <link type="text/css" rel="stylesheet" href="/js1/vendor/owl.carousel.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/magnific-popup.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/lightbox.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/icomoon.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/flaticon.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/supersized.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap-timepicker.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/jquery-ui.min.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/animate.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/multiscroll.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/selectize.default.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/jquery.fullPage.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/bbpress.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/jquery.timepicker.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/bbp-theme.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/buddypress.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/buddypress-theme.css" defer>
        <link type="text/css" rel="stylesheet" href="/syntax-highlighter/scripts/prettify.min.css" defer>
        <!-- Shortcodes main stylesheet -->
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/prettyPhoto.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/eislideshow.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/nivo-slider.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/liteaccordion.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/flexslider.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/iconmoon.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/slicebox.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/camera.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/main.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/media-queries.css" defer>
        <!-- Main Stylesheet -->
        <link type="text/css" rel="stylesheet" href="/css/main.css" defer>
        <!-- CSS media queries -->
        <link id="themeColorChangeLink" type="text/css" rel="stylesheet" href="/css/colors/c0.css" defer>    

    <link href="/assets_home/css/bootstrap.min.css" rel="stylesheet" type="text/css" defer>      
  
  
    <link rel="stylesheet" href="/assets/css/new.css" type="text/css" defer>  
    <link rel="stylesheet" href="/assets/css/media-query.css" type="text/css" defer>  
 
            
  <script src="/assets_home/js/jquery-1.11.1.min.js" async></script> 


</head>
<style type="text/css">

/*.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}*/
  @media screen and (-webkit-min-device-pixel-ratio:0) and (max-width :768px){
  .newimagecss{

  margin-top: 50px;
}

    }
    .fa.fa-check {
  color: #336699b3;
}

.dropdown.open .dropdown-toggle {
    color: #0e0e0e9e!important;
}
.btn.focus,.btn:focus,.btn:hover {
    color: #fff;
    text-decoration: none;
}

.dropdown-menu {
    position: absolute;
    top: 124%;
    left: 20px;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


@media only screen and (max-width: 1920px) and (min-width: 515px) 
    {

      #innernav{
    
    left: -96px;
      }
</style>

<body onload="checkfunction()">
    
    <div class="pre-loader">
        <div class="load-con">
            <img src="#" class="animated fadeInDown" alt="">
            <div class="">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
    </div>
   
    <header>

  

</header>



<style type="text/css">

@media screen and  (max-width:375px){
  .shifting{       margin-left: 50px;}}

 a.newlogocss{
      margin-left: 20px;
}



 @media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
    margin: 13px;
 }
   }

    @media (min-width: 1920px){
 .fa{
     font-size: 25px !important;
    
 }
 .center-block{
   font-size: 14px !important;
   }
 }

 @media only screen and (max-width: 812px) and (min-width: 360px) 
    {


.navbar-collapse
 {
  
    border-top: 0px !important;
 
}
.navbar-nav>li>a {
    padding-top: 0px; 
     padding-bottom: 0px; 
   }

   .navbar-nav {

     margin: 0px !important; 
   }

   .sidetab{
         margin-left: 0px!important; 
   }

     .nav navbar-nav visible-xs
   {
    box-shadow: 5px 10px !important;
   }

   .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff !important;
    }

  .navbar-inverse .navbar-toggle {
    border-color: #fff !important;
  }
    }

</style>

                           
 <div id="wrapper">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed visible-xs" data-toggle="modal" data-target="#navbarss"  style="border: none;display: none;background-color: #fff;">
              <i class="fa fa-user" style="color: #336699b3"></i>
          </button>
          
       
          <button type="button" class="navbar-toggle collapsed visible-xs">
              <span class="sr-only">Toggle navigation</span>
            <a href="/carts">  <i class="fa fa-shopping-cart" aria-hidden="true" style="color: #336699b3;float: left;margin-top: 8px;font-size: 20px;">&nbsp;<i class="fa fa-inr" aria-hidden="true"></i><span id="totalprices"></span> </i></a>
              </span>
              </button>
          
                <div  class="navbar-brand">


                   <!--  <a id="menu-toggle" href="#" class="btn-menu toggle">
                            
                       
                    </a> -->

               <!--       <button type="button" class="hamburger is-closed" data-toggle="offcanvas" style="margin: 0px;">
                <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>

       
            </button> -->
                   
            <a class="newlogocss" href="/home" style="color: #000;text-decoration: none;">
               <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
    <img src="/uploads/logo/<%= loadwebsitedata[i].img.originalname %>" name="originalname" class="img-responsive finalimageeee" style="height: 30px; width: 65px;margin-top: -23px;margin-left: 12px;">
    <% } %>
            </a>
                </div>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
         <!-- <li><a href="/health-provider" style="border: none;text-decoration: none;">Certified Practitioners
</a></li> -->
      <% if(user.user_role == "manager"){ %>  
        <li class="dropdown">
         <a href="/product-list"><i class="fa fa-bell"></i> (<b><%= totalprod %></b>)</a>
        </li>
      <% } %>
     <% if(user.user_role == "admin"){ %>   
        <li class="dropdown">
         <a href="/product-list"><i class="fa fa-bell"></i> (<b><%= ftotalprod %></b>)</a>
        </li>
    <% } %>    
                             <li>
                                <a href="/shop-carts"><i class="fa fa-inr" aria-hidden="true"></i><span id="totalprice"></span></a>
                            </li>
           <li class="dropdown active">
                                <a class="dropdown-toggle colordrop" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#" data-target="dropdown active open" style="z-index: 100000000;background: none;color: #999;">
                                    <% if (user.local.email){ %>
                                        <%= user.firstName %>
                                    <% } else if (user.google.token) { %>  
                                           <%= user.google.name %>
                                    <% } else { %>
                                          <%= user.facebook.name %> 
                                      <% } %>                  
                                
                                  <i class="icon-angle-down"></i>
                                </a>
                                  
                             <ul class="dropdown-menu menud" id="innernav">
                             
                     <li><a href="account" class="sidetab" style="color: #999;margin-left: 15px!important;"> My Account</a></li>
                    <!--  <li><a href="order" class="sidetab" style="color: #999;margin-left: 15px!important;"> My Order</a></li> -->
                     <!--  <li><a class="sidetab" style="color: #999;margin-left: 15px!important;" href="subscription" > My Subscription</a></li>
                     <li><a href="order" class="sidetab" style="color: #999;margin-left: 15px!important;"> My Order</a></li> -->
                   <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                     <li><a href="managewebsite" class="sidetab" style="color: #999;margin-left: 15px!important;"> Website Managment</a></li>
                     <!-- <li><a href="managemake" class="sidetab" style="color: #999;margin-left: 15px!important;"> Make Managment</a></li>
                     <li><a href="managemodel" class="sidetab" style="color: #999;margin-left: 15px!important;"> Model Managment</a></li>
                     <li><a href="managesubmodel" class="sidetab" style="color: #999;margin-left: 15px!important;"> Submodel Managment</a></li> -->
                     <li><a href="managecategory" class="sidetab" style="color: #999;margin-left: 15px!important;"> Category Managment</a></li>
                      <li><a href="manageunit" class="sidetab" style="color: #999;margin-left: 15px!important;"> Unit Managment</a></li>
                     <!-- <li><a href="managecoupon" class="sidetab" style="color: #999;margin-left: 15px!important;"> Coupon Managment</a></li> -->
                      <li><a href="managesubcategory" class="sidetab" style="color: #999;margin-left: 15px!important;"> SubCategory Managment</a></li>
                      <li><a href="managesecondsubcategory" class="sidetab" style="color: #999;margin-left: 15px!important;">Second SubCategory Managment</a></li>
                      <li><a href="managethirdsubcategory" class="sidetab" style="color: #999;margin-left: 15px!important;">Third SubCategory Managment</a></li>
                      <li><a href="product-list" class="sidetab" style="color: #999;margin-left: 15px!important;">Part Managment</a></li>
                      <li><a href="purchase-list" class="sidetab" style="color: #999;margin-left: 15px!important;">Purchase Managment</a></li>
                       <li><a href="sales-list" class="sidetab" style="color: #999;margin-left: 15px!important;">Sales Managment</a></li>
                      <li><a href="supplier" class="sidetab" style="color: #999;margin-left: 15px!important;">Supplier Managment</a></li>
                      <li><a href="admin" class="sidetab" style="color: #999;margin-left: 15px!important;">User  Managment</a></li>
                      <li><a href="manageorder" class="sidetab" style="color: #999;margin-left: 15px!important;"> Order Managment</a></li>
                    <!--   <li><a href="cms" class="sidetab" style="color: #999;margin-left: 15px!important;">Content Managment</a></li>
                      <li><a href="paymentmanage" class="sidetab" style="color: #999;margin-left: 15px!important;">Payment Managment</a></li>  -->
                   <!--  <li><a href="manageorder" class="sidetab" style="color: #999;margin-left: 15px!important;"> Order Managment</a></li>
                    <li><a href="managetransaction" class="sidetab" style="color: #999;margin-left: 15px!important;"> Transaction Managment</a></li>
                    <li><a href="symptom-admin" class="sidetab" style="color: #999;margin-left: 15px!important;"> Symptom History</a></li>
                    <li><a href="product-list" class="sidetab" style="color: #999;margin-left: 15px!important;"> Our Products</a></li>
                     <li><a href="admin" class="sidetab" style="color: #999;margin-left: 15px!important;"> User Management</a></li>
                     <li><a href="add-symptoms" class="sidetab" style="color: #999;margin-left: 15px!important;"> Add Symptoms</a></li>
                     <li><a href="manage-symptoms" class="sidetab" style="color: #999;margin-left: 15px!important;"> Manage Symptoms</a></li> -->
                    <% } %>
                   <% if (user.user_role === 'user') { %>
                   <!--   <li><a href="consult" class="sidetab" style="color: #999;margin-left: 15px!important;" > My Consultations</a></li>
                     <li><a href="symptom-user" class="sidetab" style="color: #999;margin-left: 15px!important;"> Symptom History</a></li> -->
                     <% } %>
                     <% if (user.user_role === 'customer') { %>
                   <!--   <li><a href="consult" class="sidetab" style="color: #999;margin-left: 15px!important;" > My Consultations</a></li>
                     <li><a href="symptom-user" class="sidetab" style="color: #999;margin-left: 15px!important;"> Symptom History</a></li> -->
                     <% } %>
                   <% if (user.user_role === 'doctor') { %>
                  <!--     <li><a href="review-consult" class="sidetab" style="color: #999;margin-left: 15px!important;"> Review Consultations</a></li>
                      <li><a href="symptom-all" class="sidetab" style="color: #999;margin-left: 15px!important;"> Symptom History</a></li> -->
                      <% } %>
                   <li><a href="/logout" class="sidetab" style="color: #999;margin-left: 15px!important;"> Logout</a></li>
                        
                                </ul>
                              </li>
                   
        </ul>
         
          <% if (user.user_role === 'doctor') { %> 
     
      <% } %>

     <% if (user.user_role === 'user') { %>
     
      <% } %>
   
      </div>

        <!-- ////////// -->
        <div id="navbarss" class="collapse navbar-collapse" style="border-color: snow!important;">
        <ul class="nav navbar-nav visible-xs" style="display: none;background-color: #fff;margin-top: 0px; border-top : 0px !important";>

                  <!-- <li>
                    <a class="sidetab " href="health-provider" style="padding: 0px;margin-left: 15px!important;padding-right: 20px !important;">
                        &nbsp;&nbsp;<span>Certified Practitioners
                        </span>
                    </a>
                </li> -->
                  <!-- <br> -->
                <li><a href="account" class="sidetab" style="color: #999;"> My Account</a></li>
                <!-- <li><a href="order" class="sidetab" style="color: #999;"> My Order</a></li> -->
                      <li><a class="sidetab" style="color: #999;" href="subscription" > My Subscription</a></li>
                     <li><a href="order" class="sidetab" style="color: #999;"> My Order</a></li>
                   <% if (user.user_role === 'admin') { %>
                    <li><a href="manageorder" class="sidetab" style="color: #999;"> Order Managment</a></li>
                    <li><a href="managetransaction" class="sidetab" style="color: #999;"> Transaction Managment</a></li>
                    <li><a href="symptom-admin" class="sidetab" style="color: #999;"> Symptom History</a></li>
                    <li><a href="product-list" class="sidetab" style="color: #999;"> Our Products</a></li>
                     <li><a href="admin" class="sidetab" style="color: #999;"> User Management</a></li>
                     <li><a href="add-symptoms" class="sidetab" style="color: #999;"> Add Symptoms</a></li>
                     <li><a href="manage-symptoms" class="sidetab" style="color: #999;"> Manage Symptoms</a></li>
                    <% } %>
                   <% if (user.user_role === 'user') { %>
                   <!--   <li><a href="consult" class="sidetab" style="color: #999;" > My Consultations</a></li>
                     <li><a href="symptom-user" class="sidetab" style="color: #999;"> Symptom History</a></li> -->
                     <% } %>
                      <% if (user.user_role === 'customer') { %>
                   <!--   <li><a href="consult" class="sidetab" style="color: #999;" > My Consultations</a></li>
                     <li><a href="symptom-user" class="sidetab" style="color: #999;"> Symptom History</a></li> -->
                     <% } %>
                   <% if (user.user_role === 'doctor') { %>
                     <!--  <li><a href="review-consult" class="sidetab" style="color: #999;"> Review Consultations</a></li>
                      <li><a href="symptom-all" class="sidetab" style="color: #999;"> Symptom History</a></li> -->
                      <% } %>
                   <li><a href="/logout" class="sidetab" style="color: #999;"> Logout</a></li>

                               
                   
        </ul>

      
      </div><!--/.nav-collapse -->
      <!-- ///////////// -->
    </div>
  </nav>
    
    <div id="sidebar-wrapper" >


        <nav id="spy">
            <ul class="sidebar-nav nav" style="background: #fff;">
            <li class="sidebar-brand">
                    
                </li>
               
                 <li class="sidebar-brand">
                    <a class="shifting" href="home" style="padding: 0px;">
                        <i class="fa fa-home"> </i> &nbsp;&nbsp;<span>Home</span>
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a class="shifting" href="order-medicines" style="padding: 0px;">
                        <i class="fa fa-shopping-cart"></i>  &nbsp;&nbsp; <span>Order Supplements </span>
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a class="shifting" href="consult-onlines" style="padding: 0px;">
                        <i class="fa fa-user-md"></i> &nbsp;&nbsp; <span>Consult a Doctor</span>
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a class="shifting" href="download-apps" style="padding: 0px;">
                        <i class="fa fa-film"></i> &nbsp;&nbsp;<span> Download App</span>
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a class="shifting" href="health-provider" style="padding: 0px;">
                        <i class="fa fa-film"></i> &nbsp;&nbsp;<span>Certified Practitioners
</span>
                    </a>
                </li>
                <li class="sidebar-brand dropdown">
                  <a  href="#" class="dropdown-toggle shifting" data-toggle="dropdown" style="font-size: 15px;padding: 0px;"><i class="fa fa-tree" aria-hidden="true" ></i>&nbsp;&nbsp;&nbsp;Resources<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" style="top:0px;">
                   
                    <li><a class="shifting" href="res-philosophys">Philosophy</a></li>
                    <li><a class="shifting" href="res-herbals">&nbsp;&nbsp;&nbsp;Herbal Therapy</a></li>
                    <li><a class="shifting" href="res-hplcs">&nbsp;&nbsp;&nbsp;HPLC</a></li>
                    <li><a class="shifting" href="res-organics">&nbsp;&nbsp;&nbsp;Organic</a></li>
                  
                  </ul>
                </li>

                <li class="sidebar-brand dropdown" >
                  <a href="#" class="dropdown-toggle shifting" data-toggle="dropdown" style="font-size: 15px;padding: 0px;"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;People<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" style="top:0px;">
                    
                    <li><a class="shifting" href="peo-comprofiles">Company Profile</a></li>
                    <li><a class="shifting" href="peo-fourgpss">&nbsp;&nbsp;4 GP's</a></li>
                   
                  </ul>
                </li>
            </ul>
        </nav>
    </div>




    <style type="text/css">
.sidebar-nav li a {
    color: #101010;
    }

  .sidebar-nav li a:hover,.sidebar-nav li.active , .sidebar-nav li a:active
   {
    color: #336699b3 ! important;
  }
  #abc a:-webkit-any-link {
    
    color: #171616 ! important;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
     background-color:  #ffffff !important; 
    box-shadow: none;
  }

</style>


    
</div>
<style type="text/css">
  /*bug fixing for- Open modal pop up is shifting body content to the right */
.modal-open {
  padding-right: 0 !important;
}
html {
  overflow-y: scroll !important;
}
.navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
</style>

  <!-- preloader -->
  <div id="preloader">
      <img src="/img/preloader.gif" alt="Preloader">
    </div>
    <!-- end preloader -->
<script type="text/javascript">
  jQuery(window).load(function(){

  $("#preloader").fadeOut("slow");

});
</script>
<style type="text/css">
  #preloader {
  background-color: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

#preloader > img {
  left: 47%;
  position: absolute;
  top: 48%;
}

</style>

    <script type="text/javascript">
      $(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {

      hamburger_cross();  
     
    });

    function hamburger_cross() {

      if (isClosed == true) {   
       // alert("close sidebar");       
        overlay.hide();
        $("#sidebar-wrapper").css("width", "0");
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else{
     // alert("open sidebar");   
        overlay.show();
        $("#sidebar-wrapper").css("width", "250");
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      } 
//       else {

//        $('#hpage').click(function(e){
//          // if (isClosed == true) {   
//         // alert("true");   
//         alert("close divison sidebar");      
//         overlay.hide();
//         trigger.removeClass('is-open');
//         trigger.addClass('is-closed');
//         isClosed = false;
//       // } 
// }); 
//       }


  }

  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  

$('#hpage').click(function(e){
         if (isClosed == true) {   
        // alert("true");   
        //alert("close divison sidebar");      
        overlay.hide();
        $("#sidebar-wrapper").css("width", "0");
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        
        isClosed = false;
      } 
}); 

      
});
    </script>
     
        <script type="text/javascript">
$(document).ready(
    function(){
        $(".dropdown-toggle colordrop").click(function () {
            $("#navbarss").show();
        });

    });
</script>