<% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
<!DOCTYPE html>
<html lang="en">
     <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Always force latest IE rendering engine or request Chrome Frame -->
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="utf-8">

        <!-- Site Title -->
         
          <title><%= loadwebsitedata[i].webName %></title>
          
        
        <link rel="shortcut icon" href="/imgs/icons/favicon.png" defer>
        
        <!--
        Google Fonts
        ============================================= -->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,700italic,300italic" defer>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" defer>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700" defer>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arvo:400,700" defer>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis:800,700" defer>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Great+Vibes" defer>
        
        
        <!--
        CSS
        ============================================= -->
        <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/jquery.bxslider.css" defer>
        <link type="text/css" rel="stylesheet" href="/js1/vendor/owl.carousel.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/magnific-popup.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/lightbox.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/icomoon.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/flaticon.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/supersized.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap-timepicker.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/jquery-ui.min.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/animate.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/multiscroll.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/selectize.default.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/jquery.fullPage.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/bbpress.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/jquery.timepicker.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/bbp-theme.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/buddypress.css" defer>
        <link type="text/css" rel="stylesheet" href="/css/buddypress-theme.css" defer>
        <link type="text/css" rel="stylesheet" href="/syntax-highlighter/scripts/prettify.min.css" defer>
        <!-- Shortcodes main stylesheet -->
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/prettyPhoto.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/eislideshow.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/nivo-slider.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/liteaccordion.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/flexslider.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/iconmoon.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/slicebox.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/camera.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/main.css" defer>
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/media-queries.css" defer>
        <!-- Main Stylesheet -->
        <link type="text/css" rel="stylesheet" href="/css/main.css" defer>
        <!-- CSS media queries -->
        <link type="text/css" rel="stylesheet" href="/css/media-queries.css" defer>
       
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body class="bordered">
        <!-- Preloader Two -->
        <div id="preloader">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>

    <!-- compare-basket -->
    <!-- <div class="compare-basket">
        <div class="container-fluid">
            <a href="compare.php" class="compare-action ajax-view btn btn-ash btn-icon pull-right"><i class="fa fa-check"></i> Compare</a>
            <ul class="compareProductList pull-right clearfix"></ul>
        </div>
    </div> -->
    <!-- // compare-basket -->

    <div class="bordered shop-border">
        <!-- <div class="border-left"></div>
        <div class="border-right"></div>
        <div class="border-top"></div>
        <div class="border-bottom"></div>
 -->
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="head" class="navbar-default header6 arrow2 sticky-header">
            <div class="container">
                 <div class="mega-menu-wrapper no-beaf clear">
                    <div class="navbar-header">
                        <!-- responsive nav button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- /responsive nav button -->                    
                        <!-- logo -->
                       <!--  <a class="navbar-brand" href="/">
                            <img src="/uploads/logo/<%= loadwebsitedata[i].img.originalname %>" alt="<%= loadwebsitedata[i].webName %>">
                        </a> -->
                        <!-- /logo -->
                    </div>
                    <!-- main nav -->
                    <nav class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                          
                            <li>
                              
                        </ul>
                    </nav>
                    <!-- /main nav -->
                </div> 
               
            </div>
        </header>

   <% } %>     

  

    