<%- include partials/header_userdashboard %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" >
        function preventBack(){window.history.forward();}
          setTimeout("preventBack()", 0);
          window.onunload=function(){null};
      </script>
           
      <script type="text/javascript" href="/js/categories.js"></script>
        <div class="row-fluid">
         <!--  <div class="row" style="background: #f0f0f5;">
            <div class="container"> -->
              <div class="container-fluid" style="background-color: #f0f0f5;">
                <div class="span2 sidebar-content ">
                  <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">

                      <li ng-class="{active: activeTab === 'home'}">
                          <a href="home">
                          <i class="fa fa-home" aria-hidden="true"></i> 
                          Home
                          </a> 
                          <span class="after"></span>                                    
                      </li>
                            
                      <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>
                      

                      <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                      <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>


                      <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                      <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                    
                      <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i  > Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span>  </a> 
                        <ul> <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                       
                        </ul>
                      </li>

                        <li ng-class="{active: activeTab === 'purchase-list'}" ><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                        <li ng-class="{active: activeTab === 'purchasereturn-list'}" ><a href="purchasereturn-list"><i class="fa fa-plus"  aria-hidden="true"></i>Purchase Return</a></li>
 
                        <li ng-class="{active: activeTab === 'sales-list'}" ><a href="sales-list"><i class="fa fa-plus"  aria-hidden="true"></i> Sales Management</a></li>

                        <li ng-class="{active: activeTab === 'salesreturn-list'}" class="active"><a href="salesreturn-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Return</a></li>

                        <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                        <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>

                       
                        <% } %>

                          <% if (user.user_role === 'user') { %>

                        <% } %>
 
                          <% if (user.user_role === 'doctor') { %>
                         
                        <% } %>

                      <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                    </ul>
                    </div>

                    <style type="text/css">
                        #nav li ul { display: none; list-style:none;}
                    </style>

                    <script type="text/javascript">
                        $("#nav li a").on("click", function (e) {
                        //allow links to be followed if they don't have a sub-menu
                        if ( !$(this).parent().has("ul").length ) { return; }

                        //we have a sub-menu, so stop the link from being followed
                        e.preventDefault();

                        if(!$(this).hasClass("open")) {
                            //we need to know which 'level' we're on 
                            var currentLevel = $(this).closest('ul')
                            $("li ul", currentLevel).slideUp(350);
                            $("li a", currentLevel).removeClass("open");

                            // open our new menu and add the open class
                            $(this).next("ul").slideDown(350);
                            $(this).addClass("open");
                        } else {
                            $(this).removeClass("open");
                            $(this).next("ul").slideUp(350);
                          }
                      });
                    </script>
                         
            
                    
                      <div class="span10" style="height: 1300px;">
                        <!-- BEGIN PAGE HEADER-->
                          <div class="row-fluid">

                            <div class="span12">
                            
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                <h6 class="page-title" style="font-size: 18px;">
                                  
                                    <% if (user.local.email) { %>

                                      <%= user.firstName %>'s Profile !!!!

                                    <% } %>

                                    <% if (user.google.token) { %>

                                      <%= user.google.name %> Profile !!!!
                
                                    <% } %>

                                    <% if (user.facebook.token) { %>
                   
                                        <%= user.facebook.name %> Profile !!!!

                                    <% } %> 

                                </h6>

                            </div>

                        </div>
                        <!-- END PAGE HEADER-->
                       


                           <div class="row-fluid">
                      <div class="span12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->   
                        
                      <div class="portlet box blue tabbable">
                        <div class="portlet-title">
                          <div class="caption">
                              <span class="hidden-480">Sales Invoice</span>
                          </div>
                        </div>

                        <div class="portlet-body form">
                          <div class="tabbable portlet-tabs">
                            <div class="tab-content">
                              <div class="tab-pane active" id="portlet_tab1" style="overflow-y: scroll">

                              <form class="form-horizontal" method="post" action="updatesalesreturn">
                            
                        <% for (var d = 0; d < datasales.length; d++) if(datasales[d]._id == supId){ 

                        %> 

                        <input type="hidden" value="<%= datasales[d]._id %>" name="Prodid" readonly/>

                        <% for (var i = 0; i < datasalesdetail.length; i++) if(datasales[d]._id == datasalesdetail[i].salesId){ 
                
                        %> 

                        <input type="hidden" value="<%= datasalesdetail[i]._id %>" name="updateId[]" readonly/>

                        <% } %>


                        <div class="span12"></div>
                        <div class="span12">
                          <div class="span6">
                              <div class="control-group">
                      <label class="control-label">Voucher No</label>
                        <div class="controls">

                      <input type="text" value="<%= datasales[d].voucherNo %>" name="voucherNo" readonly/>
                         
                           </div>
                           </div>

                          </div>
                          <div class="span6">
                              <div class="control-group">
                      <label class="control-label">Date</label>
                        <div class="controls">

                         
                        <input type="text" id="demodate" readonly/>

                        <script>
                        var dates =  new Date();    
                        document.getElementById("demodate").value = dates;
                        </script>

                           </div>
                           </div>    
                          </div>
                        </div>

                        <div class="span12">
                          <div class="span6">
                            
                       <div class="control-group">
                      <label class="control-label">Select Supplier</label>

                        <div class="controls">
                          <select class="form-control" name="supId" id="selectbox" required="required" readonly>
                            <option value="">Select Supplier Name</option>
                        
                            <% for (var q = 0; q < loadsupplierdata.length; q++) if(loadsupplierdata[q]._id == datasales[d].supId) { %>                             
                              <option value="<%= loadsupplierdata[q]._id %>" selected><%= loadsupplierdata[q].supName %>
                              </option>
                                <% } %>
                               
                                <% for (var q = 0; q < loadsupplierdata.length; q++) if(loadsupplierdata[q]._id != datasales[d].supId) { %>                             
                              <option value="<%= loadsupplierdata[q]._id %>"><%= loadsupplierdata[q].supName %>
                              </option>
                                <% } %>
                            </select>
                           </div>
                         </div>
                          </div>
                          <div class="span6">
                             <div class="control-group">
                      <label class="control-label">Invoice no</label>
                        <div class="controls">
 
                          <input type="text" value="<%= datasales[d].invoiceNo %>" name="invoiceNo" readonly/>
                           </div>
                           </div> 
                          </div>
                        </div>
                     
                        <div class="span12">
                          <div class="span6">
                            <div class="control-group">
                              <label class="control-label">Invoice Date</label>
                                <div class="controls">
                                  <input type="date" name="SupDate" value="<%= datasales[d].SupDate %>" readonly>
                                </div>
                            </div> 

                          </div>
                          <div class="span6">
                            <div class="control-group">
                              <label class="control-label">Select Order No</label>
                              <div class="controls">
                                <select class="form-control" required="required" name="orderId" readonly>
                                  <option value="">Select Order No</option>
                                  <% for (var q = 0; q < loadorderdata.length; q++) if(loadorderdata[q]._id == datasales[d].orderId){ %>                             
                                    <option value="<%= loadorderdata[q]._id %>" selected><%= loadorderdata[q]._id %>
                                    </option>
                                      <% } %>

                                       <% for (var q = 0; q < loadorderdata.length; q++) if(loadorderdata[q]._id != datasales[d].orderId){ %>                             
                                    <option value="<%= loadorderdata[q]._id %>"><%= loadorderdata[q]._id %>
                                    </option>
                                      <% } %>
                                  </select> 
                              </div>
                            </div> 

                          </div>
                        </div>
                    
                           <% } %>
                      <table id="myTable" class="table order-list">
                        <thead>
                          <tr>
                           <td>Description Of Goods</td>
                            <td>Selling Price</td>
                            <td>Tax(%)</td>
                            <td>HSN </td>
                            <td>Qty</td>
                            <td>Cost Price</td>
                            <td>Per</td>
                            <td>Discount in %</td>
                            <td>Taxable Amount</td>
                            <td id="cgstt" class="CGST1">CGST</td>
                            <td id="sgstt" class="SGST1">SGST</td>
                            <td id="igstt" class="IGST1">IGST</td>
                            <td>Total Amount</td>
                          </tr>
                        </thead>
                        <tbody id="addeddataa">
                        </tbody>
                        <tfoot>

                            <tr>
                                <td colspan="5" style="text-align: left;">
                                    <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                                </td>
                            </tr>
                            <tr>
                               <input type="hidden" name="GrandTotalAmnt" id="totalpriceAmntf">
                              <input type="hidden" name="SgstTotalAmnt" id="totalpriceCgstf">
                              <input type="hidden" name="CgstTotalAmnt" id="totalpriceSgstf">
                              <input type="hidden" name="IgstTotalAmnt" id="totalpriceIgstf">
                              <input type="hidden" name="FinalTotalAmnt" id="totalpriceFinalAmntf">
                            </tr>
                             <tr>
                                <td colspan="5" class="text-center" style="text-align: left;">Taxable Amount Total</td>
                                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceAmnt"></span></td>
                            </tr>
                            <tr id="CgstRow">
                                <td colspan="5" class="text-center" style="text-align: left;">CGST Total</td>
                                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceCgst"></span></td>
                            </tr>
                            <tr id="SgstRow">
                                <td colspan="5" class="text-center" style="text-align: left;">SGST Total</td>
                                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceSgst"></span></td>
                            </tr>
                             <tr id="IgstRow">
                                <td colspan="5" class="text-center" style="text-align: left;">IGST Total</td>
                                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceIgst"></span></td>
                            </tr>
                             <tr>
                                <td colspan="5" class="text-center" style="text-align: left;">Total Amount</td>
                                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceFinalAmnt"></span></td>
                            </tr>
                             <tr>
                               <td><input type="submit" class="btn btn-block" value="Add"></td>
                            </tr>
                        </tfoot>
                      </table>                   

                    </form>


                       <% 

                          var rowFrameworkResultInJss =  dataproduct

                          var totall = rowFrameworkResultInJss.length

                          var finalvals = JSON.stringify(rowFrameworkResultInJss)


                          var totalrowdatasales = datasales

                          var total2 = totalrowdatasales.length

                          var finalvalssales = JSON.stringify(totalrowdatasales)



                          var totalrowdatasalesdetail = datasalesdetail

                          var total21 = totalrowdatasalesdetail.length

                          var finalvalsdatasalesdetail = JSON.stringify(totalrowdatasalesdetail)


                          var supplierDetailData = loadsupplierdata

                          var totalSupplier = supplierDetailData.length

                          var finalSupplerValue = JSON.stringify(supplierDetailData)


                          var idss = supId


                         %>


  <script type="text/javascript">
    
    var  supStatedata = "";
     
      $( "#selectbox" ).change(function() {

        var LoadId = $('#selectbox').val();
     
        $.ajax({
          type:'get',
          url:'/checkSupplierState',// put your real file name 
          data:{supId: LoadId},
          success:function(data)
          {
         
          var totalrowdatasales = "<%= totalrowdatasales %>";
          var totalsaleslength = "<%= total2 %>";
          var totalfinalvalssales = "<%= finalvalssales%>";
          var totalrowdatasalesdetail = "<%= totalrowdatasalesdetail %>";
          var totalsalesdetaillength = "<%= total21 %>";
          var totalfinalvalssalesdetail = "<%= finalvalsdatasalesdetail%>";
          var rowFrameworkResultInJs = "<%= rowFrameworkResultInJss %>";
          var totallength = "<%= totall %>";
          var totalfinalvals = "<%= finalvals%>";
          var supplierDetailDataSUp = "<%= supplierDetailData %>";
          var totalSupplierlength = "<%= totalSupplier %>";
          var totalfinalSupplerValue = "<%= finalSupplerValue%>";
          var totalidss = "<%= idss%>";   
          var cart = [];
                    
              $("#addeddataa").empty();

          $(function () {

              var selectedSupplierValue = data["state"];
              var newdata = totalfinalvalssales.replace(/&quot;/g,'"');
              var newdatapro = totalfinalvalssalesdetail.replace(/&quot;/g,'"'); 
              var partPro = totalfinalvals.replace(/&quot;/g,'"');
              var obj = JSON.parse(newdata);
              var objpro = JSON.parse(newdatapro);
              var objPartpro = JSON.parse(partPro);
              var lengtht = Object.keys(obj).length; 
              var lengthtpro = Object.keys(objpro).length;
              var lengthtPartpro = Object.keys(objPartpro).length;
              var i = 0;

              for (var h = 0; h < objpro.length; h++) if(objpro[h].salesId == totalidss) {
           
                for (var n = 0; n < objPartpro.length; n++) if(objPartpro[n]._id == objpro[h].partId) {

                    if(data["state"] == "Madhya Pradesh"){
                  
                  var row ="<tr><td><select name='partId[]' style='width:130px;' readonly><option value='" + objPartpro[n]._id +"'>" + objPartpro[n].partId +"</option></select></td><td><input type='text' style='width:40px;' value='" + objpro[h].SellPrice +"' id='SellingPrice"+i+"' name='SellPrice[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' readonly></td><td><input type='text' style='width:40px;' value='" + objpro[h].Tax +"' id='taxs"+i+"' name='Tax[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' readonly></td><td><input type='text' style='width:40px;' value='" + objpro[h].Discount +"' id='hsnCode"+i+"' name='Discount[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' readonly></td><td><input type='text' value='" + objpro[h].Quantity +"' id='qtyy"+i+"' class='abcalc' onkeypress='return event.charCode >= 48 && event.charCode <= 57' name='Quantity[]' style='width: 25px;'></td><td><input type='text' id='pricess"+i+"' value='" + objpro[h].Price +"' class='abcalcPrice' name='Price[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:50px;'></td><td><input type='text' style='width:40px;' value='" + objpro[h].Per +"' id='pers"+i+"' name='Per[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' readonly></td><td><input type='text' value='" + objpro[h].DiscountAmnt +"' id='discAmnt"+i+"' class='abcalcPriceDiscAmnt' name='DiscountAmnt[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' width='30px;'></td><td><input type='text' value='" + objpro[h].TotalAmnt +"' id='singleAmt"+i+"' class='amount' name='TotalAmnt[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:80%;'></td><td id='cgsttVal'><input type='text' value='"  + objpro[h].Cgst +"' id='cgst" + i + "' class='Cgstamount' name='Cgst[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:80%;'></td><td id='sgsttVal'><input type='text' value='" + objpro[h].Sgst +"' id='sgst"+i+"' class='Sgstamount' name='Sgst[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:80%;'></td><input type='hidden' value='" + objpro[h].Igst +"' id='igst"+i+"' class='Igstamount' name='Igst[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:80%;'><td><input type='text' value='" + objpro[h].TotalAmntData +"' class='FinalTotalamount' id='totalAmount"+i+"' name='TotalAmntData[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:80%;'></td></tr>";

                      document.getElementById("igstt").style.display = "none";

                      document.getElementById("IgstRow").style.display = "none";

                  }else{

                    var row ="<tr><td><select name='partId[]' style='width:130px;' readonly><option value='" + objPartpro[n]._id +"'>" + objPartpro[n].partId +"</option></select></td><td><input type='text' style='width:40px;' value='" + objpro[h].SellPrice +"' id='SellingPrice"+i+"' name='SellPrice[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' readonly></td><td><input type='text' style='width:40px;' value='" + objpro[h].Tax +"' id='taxs"+i+"' name='Tax[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' readonly></td><td><input type='text' style='width:40px;' value='" + objpro[h].Discount +"' id='hsnCode"+i+"' name='Discount[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' readonly></td><td><input type='text' value='" + objpro[h].Quantity +"' id='qtyy"+i+"' class='abcalc' onkeypress='return event.charCode >= 48 && event.charCode <= 57' name='Quantity[]' style='width: 25px;'></td><td><input type='text' id='pricess"+i+"' value='" + objpro[h].Price +"' class='abcalcPrice' name='Price[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:50px;'></td><td><input type='text' style='width:40px;' value='" + objpro[h].Per +"' id='pers"+i+"' name='Per[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' readonly></td><td><input type='text' value='" + objpro[h].DiscountAmnt +"' id='discAmnt"+i+"' class='abcalcPriceDiscAmnt' name='DiscountAmnt[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' width='30px;'></td><td><input type='text' value='" + objpro[h].TotalAmnt +"' id='singleAmt"+i+"' class='amount' name='TotalAmnt[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:80%;'></td><input type='hidden' value='"  + objpro[h].Cgst +"' id='cgst" + i + "' class='Cgstamount' name='Cgst[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:80%;'><input type='hidden' value='" + objpro[h].Sgst +"' id='sgst"+i+"' class='Sgstamount' name='Sgst[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:80%;'><td id='igsttVal'><input type='text' value='" + objpro[h].Igst +"' id='igst"+i+"' class='Igstamount' name='Igst[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:80%;'></td><td><input type='text' value='" + objpro[h].TotalAmntData +"' class='FinalTotalamount' id='totalAmount"+i+"' name='TotalAmntData[]' onkeypress='return event.charCode >= 48 && event.charCode <= 57' style='width:80%;'></td></tr>";

                      document.getElementById("cgstt").style.display = "none";

                      document.getElementById("sgstt").style.display = "none";

                      document.getElementById("CgstRow").style.display = "none";

                      document.getElementById("SgstRow").style.display = "none";
                  
                  }

                  $("#addeddataa").append(row);

                i++; 

              } 

            }  

                  

                                var sum = 0;
                            
                            $('.amount').each(function(i, obj){

                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                  sum += parseFloat(this.value);

                                sum = Math.round(sum * 100) / 100 ;

                              }

                            });


                                var sumCgst = 0;

                            $('.Cgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                  sumCgst += parseFloat(this.value);
                                    // alert(sumCgst + " sumCgst");
                                sumCgst = Math.round(sumCgst * 100) / 100 ;
                              }

                            });

                           

                                var sumSgst = 0;

                            $('.Sgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                   sumSgst += parseFloat(this.value);
                                  // alert(sumSgst + " sumSgst");

                                 sumSgst = Math.round(sumSgst * 100) / 100 ; 

                              }


                            });

                         
                            
                                 var sumIgst=0;

                              $('.Igstamount').each(function(i, obj){
                              
                                if($.isNumeric(this.value)) {
                                    
                                    sumIgst += parseFloat(this.value);
                                   
                                  sumIgst = Math.round(sumIgst * 100) / 100 ; 

                                }


                              });
                     
                                   var sumfinalTotal=0;

                              $('.FinalTotalamount').each(function(i, obj){
                              
                                if($.isNumeric(this.value)) {
                                 
                                    sumfinalTotal += parseFloat(this.value);

                                  sumfinalTotal = Math.round(sumfinalTotal)
                                    
                                }

                              });


                           
                  document.getElementById("totalpriceAmnt").textContent=sum;
                  document.getElementById("totalpriceCgst").textContent=sumCgst;
                  document.getElementById("totalpriceSgst").textContent=sumSgst;
                  document.getElementById("totalpriceIgst").textContent=sumIgst;
                  document.getElementById("totalpriceFinalAmnt").textContent=sumfinalTotal;

                  document.getElementById("totalpriceAmntf").value=sum;
                  document.getElementById("totalpriceCgstf").value=sumCgst;
                  document.getElementById("totalpriceSgstf").value=sumSgst;
                  document.getElementById("totalpriceIgstf").value=sumIgst;
                  document.getElementById("totalpriceFinalAmntf").value=sumfinalTotal;               
              $(document).on("keyup", ".abcalcPriceDiscAmnt" ,function(){

                var selectedSupplierValue = data["state"];

                  if(selectedSupplierValue == "Madhya Pradesh"){
                 
                    var datCalculateval1 = this.value;
                        
                      var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');                      

                        var objSupplier = JSON.parse(newdataSupplier);  

                          var datCalculatelist1 = this.id.substring('8');
                    
                            var myBox3 = document.getElementById("taxs"+ datCalculatelist1).value;
                    
                            var TotlQty = document.getElementById("qtyy"+ datCalculatelist1).value;

                            var TotlPricee = document.getElementById("pricess"+ datCalculatelist1).value;
                               
                            var DiscountAmnt = datCalculateval1;

                             // var finaldd = TotlPricee - (TotlPricee * TotlQty * DiscountAmnt / 100);

                            var final =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                            var finaldd = Math.round(final * 100) / 100 ;

                            var c = (finaldd * myBox3 /100) * 1/2 ;
                            var s = (finaldd * myBox3 /100) * 1/2 ;
                            var i = (finaldd * myBox3 /100);

                            var cgstAmnt = Math.round(c * 100) / 100 ;

                            var sgstAmnt = Math.round(s * 100) / 100 ;

                            var igstAmnt = Math.round(i * 100) / 100 ;

                            document.getElementById("cgst"+ datCalculatelist1).value=cgstAmnt;

                            document.getElementById("sgst"+ datCalculatelist1).value=sgstAmnt;
     
                           

                            document.getElementById("singleAmt"+ datCalculatelist1).value=finaldd;

                  
                            document.getElementById("cgst"+ datCalculatelist1).style.display = "block";

                            document.getElementById("sgst"+ datCalculatelist1).style.display = "block";
                             
                            
                           
                            document.getElementById("CgstRow").style.display = "block";
                              
                            document.getElementById("SgstRow").style.display = "block";
                             
                            
                                var TotalAmntdata1 =  finaldd + cgstAmnt + sgstAmnt;

                                var TotalAmntdata = Math.round(TotalAmntdata1 * 100) / 100 ;

                            document.getElementById("totalAmount"+ datCalculatelist1).value=TotalAmntdata;

                      } else {

                        var datCalculateval1 = this.value;
                           // alert(datCalculateval1);
                          var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');                      

                          var objSupplier = JSON.parse(newdataSupplier);  



                          var datCalculatelist1 = this.id.substring('8');
                       
                          var myBox3 = document.getElementById("taxs"+ datCalculatelist1).value;
                          


                            var TotlQty = document.getElementById("qtyy"+ datCalculatelist1).value;

                            var TotlPricee = document.getElementById("pricess"+ datCalculatelist1).value;
                           
                            var DiscountAmnt = datCalculateval1;

                                   // var finaldd = TotlPricee - (TotlPricee * TotlQty * DiscountAmnt / 100);

                               var final =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                                var finaldd = Math.round(final * 100) / 100 ;

                                  var c = (finaldd * myBox3 /100) * 1/2 ;
                                  var s = (finaldd * myBox3 /100) * 1/2 ;
                                  var i = (finaldd * myBox3 /100);

                                  var cgstAmnt = Math.round(c * 100) / 100 ;

                                  var sgstAmnt = Math.round(s * 100) / 100 ;

                                  var igstAmnt = Math.round(i * 100) / 100 ;

                            document.getElementById("igst"+ datCalculatelist1).value=igstAmnt;   

                            document.getElementById("singleAmt"+ datCalculatelist1).value=finaldd;

                            document.getElementById("igst"+ datCalculatelist1).style.display = "block";
                       
                            document.getElementById("IgstRow").style.display = "block";

                                var TotalAmntdata1 =  finaldd + igstAmnt;
                          
                                var TotalAmntdata = Math.round(TotalAmntdata1 * 100) / 100 ;
                           
                            document.getElementById("totalAmount"+ datCalculatelist1).value=TotalAmntdata;
                          
                        }

                              var sum = 0;

                            $('.amount').each(function(i, obj){

                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                  sum += parseFloat(this.value);

                                sum = Math.round(sum * 100) / 100 ;

                              }

                            });

                              var sumCgst = 0;

                            $('.Cgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                  sumCgst += parseFloat(this.value);
                                    // alert(sumCgst + " sumCgst");
                                sumCgst = Math.round(sumCgst * 100) / 100 ;

                              }

                            });


                               var sumSgst = 0;

                            $('.Sgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                  sumSgst += parseFloat(this.value);
                                  // alert(sumSgst + " sumSgst");

                                sumSgst = Math.round(sumSgst * 100) / 100 ; 

                              }

                            });

                              

                                var sumIgst=0;

                            $('.Igstamount').each(function(i, obj){
                              
                                if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                    sumIgst += parseFloat(this.value);
                                    // alert(sumIgst + " sumIgst");
                                  sumIgst = Math.round(sumIgst * 100) / 100 ;
                                    
                                }

                            });

                            var sumfinalTotal=0;

                          $('.FinalTotalamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                             
                                sumfinalTotal += parseFloat(this.value);

                              sumfinalTotal = Math.round(sumfinalTotal)
                                
                            }

                          });

                  document.getElementById("totalpriceAmnt").textContent=sum;
                  document.getElementById("totalpriceCgst").textContent=sumCgst;
                  document.getElementById("totalpriceSgst").textContent=sumSgst;
                  document.getElementById("totalpriceIgst").textContent=sumIgst;
                  document.getElementById("totalpriceFinalAmnt").textContent=sumfinalTotal;

                  document.getElementById("totalpriceAmntf").value=sum;
                  document.getElementById("totalpriceCgstf").value=sumCgst;
                  document.getElementById("totalpriceSgstf").value=sumSgst;
                  document.getElementById("totalpriceIgstf").value=sumIgst;
                  document.getElementById("totalpriceFinalAmntf").value=sumfinalTotal;

              });
        
              $(document).on("keyup", ".abcalcPrice" ,function(){

                 var selectedSupplierValue = data["state"];

                  if(selectedSupplierValue == "Madhya Pradesh"){
                  
                  var datCalculateval2 = this.value;

                    var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');
                   
                      var objSupplier = JSON.parse(newdataSupplier);  


                      var datCalculatelist2 = this.id.substring('7');
                 
                      var myBox3 = document.getElementById("taxs"+ datCalculatelist2).value;
                      

                         var TotlQty = document.getElementById("qtyy"+ datCalculatelist2).value;

                         var TotlPricee = datCalculateval2;
                         
                         var DiscountAmnt = document.getElementById("discAmnt"+ datCalculatelist2).value;


                           var final =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                              var finaldd = Math.round(final * 100) / 100 ;

                              var c = (finaldd * myBox3 /100) * 1/2 ;
                              var s = (finaldd * myBox3 /100) * 1/2 ;
                              var i = (finaldd * myBox3 /100);

                              var cgstAmnt = Math.round(c * 100) / 100 ;

                              var sgstAmnt = Math.round(s * 100) / 100 ;

                              var igstAmnt = Math.round(i * 100) / 100 ;

                          document.getElementById("cgst"+ datCalculatelist2).value=cgstAmnt;
                          document.getElementById("sgst"+ datCalculatelist2).value=sgstAmnt;
                          
                          document.getElementById("singleAmt"+ datCalculatelist2).value=finaldd;

                          document.getElementById("cgst"+ datCalculatelist2).style.display = "block";
                          document.getElementById("sgst"+ datCalculatelist2).style.display = "block";
                           
                          document.getElementById("CgstRow").style.display = "block";
                          document.getElementById("SgstRow").style.display = "block";
                           

                              var TotalAmntdata1 =  finaldd + cgstAmnt + sgstAmnt;

                              var TotalAmntdata = Math.round(TotalAmntdata1 * 100) / 100 ;

                          document.getElementById("totalAmount"+ datCalculatelist2).value=TotalAmntdata;
                                
                      }else{

                          var datCalculateval2 = this.value;

                            var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');
                       
                            var objSupplier = JSON.parse(newdataSupplier);  


                            var datCalculatelist2 = this.id.substring('7');
                     
                            var myBox3 = document.getElementById("taxs"+ datCalculatelist2).value;
                          

                             var TotlQty = document.getElementById("qtyy"+ datCalculatelist2).value;

                             var TotlPricee = datCalculateval2;
                             
                             var DiscountAmnt = document.getElementById("discAmnt"+ datCalculatelist2).value;


                               var final =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                                  var finaldd = Math.round(final * 100) / 100 ;

                                  var c = (finaldd * myBox3 /100) * 1/2 ;
                                  var s = (finaldd * myBox3 /100) * 1/2 ;
                                  var i = (finaldd * myBox3 /100);

                                  var cgstAmnt = Math.round(c * 100) / 100 ;

                                  var sgstAmnt = Math.round(s * 100) / 100 ;

                                  var igstAmnt = Math.round(i * 100) / 100 ;


                            document.getElementById("igst"+ datCalculatelist2).value=igstAmnt;   

                            document.getElementById("singleAmt"+ datCalculatelist2).value=finaldd;


                           
                            document.getElementById("igst"+ datCalculatelist2).style.display = "block";
                           
                            document.getElementById("IgstRow").style.display = "block";

                              var TotalAmntdata1 =  finaldd + igstAmnt;
                              
                              var TotalAmntdata = Math.round(TotalAmntdata1 * 100) / 100 ;

                            document.getElementById("totalAmount"+ datCalculatelist2).value=TotalAmntdata;
                          }


                                var sum = 0;

                            $('.amount').each(function(i, obj){

                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                sum += parseFloat(this.value);

                                sum = Math.round(sum * 100) / 100 ;

                              }

                            });

                                var sumCgst = 0;

                            $('.Cgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                  sumCgst += parseFloat(this.value);
                                    // alert(sumCgst + " sumCgst");
                                sumCgst = Math.round(sumCgst * 100) / 100 ;
                              }

                            });


                                var sumSgst = 0;

                            $('.Sgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                   sumSgst += parseFloat(this.value);
                                  // alert(sumSgst + " sumSgst");

                                 sumSgst = Math.round(sumSgst * 100) / 100 ; 
                              }

                            });

                              

                                var sumIgst=0;

                            $('.Igstamount').each(function(i, obj){
                              
                                if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                  sumIgst += parseFloat(this.value);
                                    // alert(sumIgst + " sumIgst");
                                  sumIgst = Math.round(sumIgst * 100) / 100 ;  
                                }

                            });

                            var sumfinalTotal=0;

                          $('.FinalTotalamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                             
                                sumfinalTotal += parseFloat(this.value);

                              sumfinalTotal = Math.round(sumfinalTotal)
                                
                            }

                          });
                           
                    document.getElementById("totalpriceAmnt").textContent=sum;
                    document.getElementById("totalpriceCgst").textContent=sumCgst;
                    document.getElementById("totalpriceSgst").textContent=sumSgst;
                    document.getElementById("totalpriceIgst").textContent=sumIgst;
                    document.getElementById("totalpriceFinalAmnt").textContent=sumfinalTotal;
                    document.getElementById("totalpriceAmntf").value=sum;
                    document.getElementById("totalpriceCgstf").value=sumCgst;
                    document.getElementById("totalpriceSgstf").value=sumSgst;
                    document.getElementById("totalpriceIgstf").value=sumIgst;
                    document.getElementById("totalpriceFinalAmntf").value=sumfinalTotal;

              });          

              $(document).on("keyup", ".abcalc" ,function(){

                 var selectedSupplierValue = data["state"];

                  if(selectedSupplierValue == "Madhya Pradesh"){
                
                  var datCalculateval3 = this.value;
                  
                    var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');
                 
                      var objSupplier = JSON.parse(newdataSupplier);  
                    
                      var datCalculatelist3 = this.id.substring('4');
                     
                      var myBox3 = document.getElementById("taxs"+ datCalculatelist3).value;
                     
                      var TotlQty = datCalculateval3;

                      var TotlPricee = document.getElementById("pricess"+ datCalculatelist3).value;

                        var DiscountAmnt = document.getElementById("discAmnt"+ datCalculatelist3).value;

                          var final =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                              var finaldd = Math.round(final * 100) / 100 ;

                              var c = (finaldd * myBox3 /100) * 1/2 ;
                              var s = (finaldd * myBox3 /100) * 1/2 ;
                              var i = (finaldd * myBox3 /100);

                              var cgstAmnt = Math.round(c * 100) / 100 ;

                              var sgstAmnt = Math.round(s * 100) / 100 ;

                              var igstAmnt = Math.round(i * 100) / 100 ;

                            document.getElementById("cgst"+ datCalculatelist3).value=cgstAmnt;    
                            document.getElementById("sgst"+ datCalculatelist3).value=sgstAmnt;    
                            document.getElementById("singleAmt"+ datCalculatelist3).value=finaldd;   

                            document.getElementById("cgst"+ datCalculatelist3).style.display = "block";
                            document.getElementById("sgst"+ datCalculatelist3).style.display = "block";
                           

                            document.getElementById("CgstRow").style.display = "block";
                            document.getElementById("SgstRow").style.display = "block";
                           
                               var TotalAmntdata1 =  finaldd + cgstAmnt + sgstAmnt;

                              var TotalAmntdata = Math.round(TotalAmntdata1 * 100) / 100 ;
                            
                              document.getElementById("totalAmount"+ datCalculatelist3).value=TotalAmntdata;

                            
                          }else{
                            
                            var datCalculateval3 = this.value;
                  
                            var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');
                       
                            var objSupplier = JSON.parse(newdataSupplier);  
                          
                            var datCalculatelist3 = this.id.substring('4');
                           
                            var myBox3 = document.getElementById("taxs"+ datCalculatelist3).value;
                           
                            var TotlQty = datCalculateval3;

                            var TotlPricee = document.getElementById("pricess"+ datCalculatelist3).value;

                              var DiscountAmnt = document.getElementById("discAmnt"+ datCalculatelist3).value;

                              var final =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                                  var finaldd = Math.round(final * 100) / 100 ;

                                  var c = (finaldd * myBox3 /100) * 1/2 ;
                                  var s = (finaldd * myBox3 /100) * 1/2 ;
                                  var i = (finaldd * myBox3 /100);

                                  var cgstAmnt = Math.round(c * 100) / 100 ;

                                  var sgstAmnt = Math.round(s * 100) / 100 ;

                                  var igstAmnt = Math.round(i * 100) / 100 ;

                            document.getElementById("igst"+ datCalculatelist3).value=igstAmnt;   

                            document.getElementById("singleAmt"+ datCalculatelist3).value=finaldd;

                            document.getElementById("igst"+ datCalculatelist3).style.display = "block";
                          
                            document.getElementById("IgstRow").style.display = "block";


                              var TotalAmntdata1 =  finaldd + igstAmnt;
                              
                              var TotalAmntdata = Math.round(TotalAmntdata1 * 100) / 100 ;

                            document.getElementById("totalAmount"+ datCalculatelist3).value=TotalAmntdata;

                           
                          
                          }

                      
                              var sum = 0;

                            $('.amount').each(function(i, obj){

                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                sum += parseFloat(this.value);

                                sum = Math.round(sum * 100) / 100 ;

                              }

                            });

                              var sumCgst = 0;

                            $('.Cgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                  sumCgst += parseFloat(this.value);
                                    // alert(sumCgst + " sumCgst");
                                sumCgst = Math.round(sumCgst * 100) / 100 ;
                              }

                            });


                               var sumSgst = 0;

                            $('.Sgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                   sumSgst += parseFloat(this.value);
                                  // alert(sumSgst + " sumSgst");

                                 sumSgst = Math.round(sumSgst * 100) / 100 ; 
                              }

                            });

                              

                                var sumIgst=0;

                            $('.Igstamount').each(function(i, obj){
                              
                                if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                  sumIgst += parseFloat(this.value);
                                    // alert(sumIgst + " sumIgst");
                                  sumIgst = Math.round(sumIgst * 100) / 100 ;  
                                }

                            });

                            var sumfinalTotal=0;

                          $('.FinalTotalamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                             
                                sumfinalTotal += parseFloat(this.value);

                              sumfinalTotal = Math.round(sumfinalTotal)
                                
                            }

                          });
                            // alert(sumfinalTotal);
                      document.getElementById("totalpriceAmnt").textContent=sum;
                      document.getElementById("totalpriceCgst").textContent=sumCgst;
                      document.getElementById("totalpriceSgst").textContent=sumSgst;
                      document.getElementById("totalpriceIgst").textContent=sumIgst;
                      document.getElementById("totalpriceFinalAmnt").textContent=sumfinalTotal;
                      document.getElementById("totalpriceAmntf").value=sum;
                      document.getElementById("totalpriceCgstf").value=sumCgst;
                      document.getElementById("totalpriceSgstf").value=sumSgst;
                      document.getElementById("totalpriceIgstf").value=sumIgst;
                      document.getElementById("totalpriceFinalAmntf").value=sumfinalTotal;

              });


              });

                $(function () {
                   $(document).on('keydown', '.abcalc,.abcalcPrice,.abcalcPriceDiscAmnt', function (e) {
                      -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault()
                    }

                  );

                });

              }

          });

      }) . trigger("change") 
</script>
                                      

                                          
                    </div>
                  </div>
                </div>
              </div>
            </div>
                        <!-- END SAMPLE FORM PORTLET-->
        </div>
      </div>
    </div>
  </div>
           
 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
  }

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>
 
</body>
<!-- END BODY -->
</html>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>

 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 

<!--     <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
 -->
    <!-- <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
 
  <!--  <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
 

  




 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
      height: 30px;
          width: 80%;
      }

    textarea{
           width: 80%;
     
    }
    .modal-backdrop, .modal-backdrop.fade.in {
        opacity: 0;
        filter: alpha(opacity=80);
    }


 </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        