    <%- include partials/header_userdashboard %>


 
    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                  <div class="span3 sidebar-content ">
                <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>
          

                     <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                     <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                     <!-- <li ng-class="{active: activeTab === 'managemake'}""><a href="managemake"><i class="fa fa-user"  aria-hidden="true"></i> Make Managment</a></li>
                      <li ng-class="{active: activeTab === 'managemodel'}"><a href="managemodel"><i class="fa fa-user"  aria-hidden="true"></i> Model Managment</a></li>
                    <li ng-class="{active: activeTab === 'managemodel'}"><a href="managesubmodel"><i class="fa fa-user"  aria-hidden="true"></i> Sub Model Managment</a></li> -->
                     <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                     <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                  <!--     <li ng-class="{active: activeTab === 'managecoupon'}"><a href="managecoupon"><i class="fa fa-user"  aria-hidden="true"></i> Coupon  Managment</a></li> -->
                      <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>
                       <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 
                        <ul> <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                        <!-- <li ng-class="{active: activeTab === 'size'}"><a href="managesize"><i class="fa fa-user"  aria-hidden="true"></i> Size Mangment</a>
                        </li>
                        <li ng-class="{active: activeTab === 'color'}"><a href="managecolor"><i class="fa fa-user"  aria-hidden="true"></i> Color Managment</a>
                        </li> -->
                    </ul>
                       </li>
                       <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>

                        <li ng-class="{active: activeTab === 'admin'}" class="active"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                        <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                    
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                     <!-- <li ng-class="{active: activeTab === 'consult'}"><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                     <!--  <li ng-class="{active: activeTab === 'review-consult'}"><a href="review-consult"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                      <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                        
                    </div>
                    <style type="text/css">
    #nav li ul { display: none; list-style:none;}
</style>
<script type="text/javascript">
    $("#nav li a").on("click", function (e) {
    //allow links to be followed if they don't have a sub-menu
    if ( !$(this).parent().has("ul").length ) { return; }

    //we have a sub-menu, so stop the link from being followed
    e.preventDefault();

    if(!$(this).hasClass("open")) {
        //we need to know which 'level' we're on 
        var currentLevel = $(this).closest('ul')
        $("li ul", currentLevel).slideUp(350);
        $("li a", currentLevel).removeClass("open");

        // open our new menu and add the open class
        $(this).next("ul").slideDown(350);
        $(this).addClass("open");
    } else {
        $(this).removeClass("open");
        $(this).next("ul").slideUp(350);
    }
});

</script> 

            
                    
              <div class="span9" style="height: 800px;">
                      
                  <div class="row-fluid">
                    
                      <div class="span12">
                        
                        <div class="portlet box blue tabbable">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="hidden-480">User Managment</span>
                                </div>
                            </div>

                            <div class="portlet-body form">

                                <div class="tabbable portlet-tabs">
                                    
                  <div class="tab-content">

                    <div class="tab-pane active" id="portlet_tab1">
                   
                      <div class="form-control">  

                        <a data-toggle="modal" data-target="#myModal" href="#myModal"><input type="button" class="btn theme-btn text-center" style="width: 30%;" value="Add User" /></a>
                          
                          <i class="fa fa fa-search" aria-hidden="true"></i>

                        <input type="text" id="searchfor" placeholder="Search!" />                   
                       
                      </div> 
                                           
                    <br>
                            
                    <form class="form-horizontal" style="overflow:auto;">

                      <div class="table-list-search">
                        
                        <table class="table table-striped table-bordered" id="example">

                          <thead>

                            <tr>
                              <th>No</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>User Role</th>
                              <th>City</th> 
                              <th>Action</th>
                            </tr>

                          </thead>

                          <tbody>

                            <% for (var i = 0; i < datauser.length; i++) { %>      
                              
                              <tr>

                                <td>

                                  <%= i+1 %>

                                </td>

                                <td>
                                                    
                                  <% if (datauser[i].local){ %>
                                      <%= datauser[i].firstName %>
                                  <% } else if (datauser[i].google) { %>  
                                      <%= datauser[i].google.name %>
                                  <% } else { %>
                                      <%= datauser[i].facebook.name %> 
                                  <% } %> 

                                </td>
                                                                      <!-- <td><%= datauser[i].lastName %></td> -->
                                <td>  

                                  <% if (datauser[i].local) { %>

                                    <%= datauser[i].local.email %>

                                  <% } else if (datauser[i].google) { %>

                                    <%= datauser[i].google.email %>
                                      
                                  <% } else { %>
                                         
                                    <%= datauser[i].facebook.email %> 

                                  <% } %> 

                                </td>
                                                                     
                                <td>

                                  <% if (datauser[i].local) { %>

                                    <% if(datauser[i].user_role == "user") { %>

                                      Customer

                                    <% } else { %>

                                  <%= datauser[i].user_role %>

                                    <% } %>

                                  <% } else if (datauser[i].google) { %>

                                      Customer
                                      
                                  <% } else { %>
                                         
                                      Customer

                                  <% } %>

                                </td>

                                <td>
                                  
                                  <%= datauser[i].city %>

                                </td>

                                <td>

                                  <a href="edit-user?id=<%= datauser[i]._id %>"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px"></i>
                                  </a>

                                </td>

                              </tr>

                            <% } %>  

                          </tbody>

                        </table>

                      </div>

                       <!--<td><a ng-click="vm.deleteUser(user._id)">Delete</a></td>-->
                    </form>  

                    <script type="text/javascript">

                      var tableBody = $('.table-list-search').find('tbody');
                      var tableRowsClass = tableBody.find('tr');

                      // store the table data in an array
                      var tableData = [];
                      tableRowsClass.each(function (i, val) {
                          tableData.push($(val).text().toLowerCase());
                      });

                      // scan the table data array on each keyup
                      $('#searchfor').keyup(function () {
                          var inputText = $(this).val().toLowerCase();
                          // use each instead of indexOf to get multiple instances
                          $(tableData).each(function (i, val) {
                              if (val.indexOf(inputText) > -1) {
                                  // the index of the data in the array will be the same 
                                  // as the corresponding table row
                                  tableRowsClass.eq(i).show();
                              } else {
                                  tableRowsClass.eq(i).hide();
                              }
                          });
                      });

                    </script>


      <form action="/registerinsert" method="post" enctype="multipart/form-data" style="height: 0px;" class="form-horizontal">

      <div class="modal" id="myModal" style="display: none;background-color:#fff;height: auto;top: 5%;">

        <div class="modal-dialog">
          <div class="modal-content">
          
            <div class="modal-header">
              <h4 class="modal-title">Add User</h4>
             
            </div>

           
            
            <div class="modal-body">

              <input type="hidden" name="user_role"  class="form-control" value="user" required />
                
                <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

                  <script type="text/javascript">
                    
                    $(document).ready(function() {

                      var token= Math.random();
                                          
                      document.getElementById("tokendata").value = token;
                    
                    });

                  </script>

              <input type="text" name="regsitertoken" id="tokendata" class="form-control" style="display: none;" required />

              <div class="control-group">
                 <label class="control-label">Full Name</label>
                  <div class="controls">

                     <input type="text" name="firstName" class="form-control" placeholder="Full Name" value="<%= locals.firstName || '' %>" required />

                  </div>
              </div>

              <div class="control-group">
             <label class="control-label">User Name (Always Unique)</label>
              <div class="controls">

                 <input type="text" name="username" class="form-control" placeholder="User Name" value="<%= locals.firstName || '' %>" required />

              </div>
              </div>

              <div class="control-group">
               <label class="control-label">Company Name</label>
                <div class="controls">

                   <input type="text" name="companyName" class="form-control" required />

                </div>
              </div>

              <div class="control-group">
               <label class="control-label">Cash on delivery</label>
                <div class="controls">

                   <select class="form-control" name="cod" required="required">
                    <option>Select Yes/No</option>
                     <option value="Yes">Yes</option>
                     <option value="No">No</option>
                   </select>

                </div>
              </div>

              <div class="control-group">
             <label class="control-label">Email</label>
              <div class="controls">

                 <input type="email" name="email" class="form-control" value="<%= locals.username || '' %>" placeholder="Email" required />

              </div>
              </div>


            <div class="control-group">
              <label class="control-label">Mobile No</label>
                <div class="controls">

                  <input type="text" name="phone" placeholder="Enter Mobile no" class="form-control"/>

                </div>
            </div>

           <div class="control-group">
             <label class="control-label">Address</label>
              <div class="controls">

               <input type="text" name="address" placeholder="Enter Address" class="form-control"/>

              </div>
           </div>

          <div class="control-group">

              <label class="control-label">City</label>
              <div class="controls">
              <input type="text" id="city" name="city" value="<%= user.city || ''  %>" required/>
              </div>

          </div>

          <div class="control-group">

            <label class="control-label">State</label>

            <div class="controls">

              <select name="state">
                  <option value="">Select State</option>
                  <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                  <option value="Daman and Diu">Daman and Diu</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Lakshadweep">Lakshadweep</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Orissa">Orissa</option>
                  <option value="Pondicherry">Pondicherry</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttaranchal">Uttaranchal</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="West Bengal">West Bengal</option>

              </select>

            </div>

          </div>

          <div class="control-group">

            <label class="control-label">Pin Code</label>
              <div class="controls">
              <input type="text" id="pinCode" name="pinCode" value="<%= user.pinCode || ''  %>" required/>
            </div>                   

          </div>     

          <div class="control-group">
            <label class="control-label">BANK NAME</label>
              <div class="controls">
                <input type="text" name="bankName" class="form-control" required/>
              </div>

          </div>

          <div class="control-group">

            <label class="control-label">ACCOUNT HOLDER NAME</label>

              <div class="controls">

                <input type="text" name="holderName" class="form-control" required/>
                
              </div>

          </div>

          <div class="control-group">

            <label class="control-label">ACCOUNT NUMBER</label>

              <div class="controls">

                <input type="text" name="accountNumber" class="form-control" required/>

              </div>

          </div>

          <div class="control-group">

            <label class="control-label">IFSC CODE</label>

              <div class="controls">
                <input type="text" name="ifscCode" class="form-control" required/>
              </div>

          </div>

          <div class="control-group">
            <label class="control-label">PAN No</label>
              <div class="controls">
                <input type="text" name="panNo" class="form-control"  placeholder="PAN No" required>
              </div>

          </div>

          <div class="control-group">
            <label class="control-label">Registartion Type</label>
            <div class="controls">
                <select class="form-control" name="registerType">
                  <option>Select type</option>
                  <option value="Regular">Regular</option>
                  <option value="Consumer">Consumer</option>
                  <option value="Unregistered">Unregistered</option>
                  <option value="Composition">Composition</option>
              
                </select>
            </div>                                    

          </div> 

          <div class="control-group">
              <label class="control-label">GSIT / UJN</label>
              <div class="controls">
                   <input type="text" name="gsit" class="form-control" placeholder="GSIT / UJN" required>
              </div>

          </div>

          <div class="control-group">
              <label class="control-label">SET/Alter SET Detail</label>
              <div class="controls">
                  <select class="form-control" name="registerSet">
                    <option>Select SET</option>
                    <option value="Yes" selected="selected">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>

          </div>

          <div class="row-fluid">

            <div class="span4"></div>

              <div class="span3">

                <input type="submit" class="btn theme-btn" value="Register">
                  
              </div>

              <div class="span3">

                <button type="button" class="btn theme-btn" data-dismiss="modal">Close</button>

              </div>
                 
              <div class="span2"></div>  

          </div>

          </div>

          </div>
        
          <div class="modal-footer" style="background-color:#fff;">
              
          </div>
            
        </div>

      </div>
  </div>
</form>
                                            
                                      

                                          
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->



                    </div>
                </div>
                    
                    </div>
                </div>
                </div>
                </div>

 <style type="text/css">
    a.newlogocss{
      margin-left: 20px;
    }

    .navbar-brand{
      padding: 15px !important;
    }
  
    .dropdown.open .dropdown-toggle{
      background-color: #fff !important;
    }

    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
      outline: thin dotted;
      outline: none;
      outline-offset: -2px;
    }

    .navbar-inverse .navbar-toggle {
        border-color:  #ffffff;
    }

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

      color: #999;
    }

    .nav .dropdown-toggle .caret {
      margin-top: 6px;
      border-top-color: #020202 !important;
      border-bottom-color: #121213 !important;
    }

    .modal {
        background-color: rgba(92, 92, 92, 0.03);
        border: 0px;
    }

    .modal-body {
 
      padding: 0px;
      overflow-y: scroll;
      max-height: 525px!important;

    }

    @media (min-width: 414px){
      .navbar-brand{

        font-size: 25px !important;

      }
    }

    @media (min-width: 320px) and (max-width: 320px){
      .navbar-brand{
        font-size: 15px !important;
        padding: 0px;
        margin: 14px 0px 0px 25px !important;
    }

    input{
        -moz-border-radius: 15px;
        border-radius: 15px;
        border:solid 1px black; 
        padding:5px;
    }



 </style>
 
</body>
<!-- END BODY -->
</html>

    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
   

 <style type="text/css">
    input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
     height: 30px;
     width: 50%;
}

textarea{
       width: 80%;
 
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
    filter: alpha(opacity=80);
}


 </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        