    <%- include partials/header_product %>
<style>
button.btn.btn-primary.nextBtn.btn-lg{
  outline: 0 none;
  }
 button.datas-btn.btn.btn-primary.btn-md{
        outline: 0 none;
     }
     button.btn.btn-primary.btn-md{
        outline: 0 none;
     }
.panel-info{
      border-color: #babf10;
}
.panel-info>.panel-heading{
  color: #fff;
  background-color: rgb(245, 245, 245);
  border-color: #babf10;
}
h4,h6 {
   margin-top: 25px;
}
.input-sm{
   margin-top: 15px;
}

.btn-group-xs>.btn, .btn-xs{
  margin-top: 20px;
}
</style>
 <div id="hpage">

<div class="row-fluid">
  <img src="/assets/img/shopping.gif" class="img-responsive">

    

 </div> 

<div class="container" style="padding-top: 60px;">
  <div class="row">
    <div class="col-xs-12">
   <h3 id="messageempty" style="text-align: center;color: #000;font-weight: 600;"></h3>

      <h6 id="messageemptysecond" style="text-align: center;font-weight: 600;"></h6>
      <br>
      <a href="/order-medicine"><button id="messagebutton" type="button" class="newbtn  btn btn-primary btn-md" style="line-height: 20px;display: none;">
                 RETURN TO SHOP
                </button></a>
 <div class="panel-body" id="cart" style="visibility: hidden;">
       <div class="table-responsive">
        <table class="table table-hover" style="border: 1px solid #babf10;">
         
          <thead style="background-color: #f5f5f5;">
            <tr>
              <th style="color:#9ca00c;width: 70%;">Product name</th>
              <th style="color:#9ca00c;width: 10%;">Price</th>
              <th style="color:#9ca00c;width: 10%;">Qty</th>
              <th style="color:#9ca00c;width: 5%;">Total</th>
              <th style="color:#9ca00c;width: 5%;">Action</th>
            </tr>
          </thead>
          <tbody id="cartBody">
           
           
           
          </tbody>
            <tfoot style="background-color: #f5f5f5;">
            <tr>
               <td colspan="2"></td>
              <td colspan="1" style="color:#9ca00c;"> <strong>Grand Total</strong> </td>
               <td colspan="2"><strong style="color:#9ca00c;">$</strong><strong style="color:#9ca00c;" id="grandtotalprice"> </strong></td>
            </tr>
            <tr>
              
              <td colspan="3" class="text-center" style="background-color: #f5f5f5;border-color: none;"><a href="/order-medicine"><button type="button" class="newbtn btn btn-primary btn-md" style="line-height: 20px"><span class="glyphicon glyphicon-share-alt"></span>
                Continue Shopping
              </button></a></td>
              <td colspan="2" class="text-center" style="background-color: #f5f5f5;"><a href="/checkout"><button type="button" class="newbtn btn btn-primary btn-md" style="line-height: 20px">
                Checkout
              </button></a></td>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->          
        <br>
      </div>
       </div> 
    </div>
  </div>
</div>
  </div>

 
    <%- include partials/footer_product %>
