    <%- include partials/header_product_login %>
<style>
button.btn.btn-primary.nextBtn.btn-lg{
  outline: 0 none;
  }
 button.datas-btn.btn.btn-primary.btn-md{
        outline: 0 none;
     }
     button.btn.btn-primary.btn-md{
        outline: 0 none;
     }
.panel-info{
      border-color: #babf10;
}
.panel-info>.panel-heading{
  color: #fff;
  background-color: rgb(245, 245, 245);
  border-color: #babf10;
}
h4,h6 {
   margin-top: 25px;
}
.input-sm{
   margin-top: 15px;
}

.btn-group-xs>.btn, .btn-xs{
  margin-top: 20px;
}
</style>
 <div id="hpage">

<div class="row-fluid">
  <img src="/assets/img/shopping.gif" class="img-responsive">

    

 </div> 

<div class="container" style="padding-top: 60px;">
  <div class="row">
    <div class="col-xs-12">
   <h3 id="messageempty" style="text-align: center;color: #000;font-weight: 600;"></h3>

      <h6 id="messageemptysecond" style="text-align: center;font-weight: 600;"></h6>
      <br>
      <a href="/order-medicines"><button id="messagebutton" type="button" class="newbtn  btn btn-primary btn-md" style="line-height: 20px;display: none;">
                 RETURN TO SHOP
                </button></a>
 <div class="panel-body" id="cart" style="visibility: hidden;">
       <div class="table-responsive">
        <table class="table table-hover" style="border: 1px solid #babf10;">
         
          <thead style="background-color: #f5f5f5;">
            <tr>
              <th style="color:#9ca00c;width: 70%;">Product name</th>
              <th style="color:#9ca00c;width: 10%;">Price</th>
              <th style="color:#9ca00c;width: 10%;">Qty</th>
              <th style="color:#9ca00c;width: 5%;">Total</th>
              <th style="color:#9ca00c;width: 5%;">Action</th>
            </tr>
          </thead>
          <tbody id="cartBody">
           
           
           
          </tbody>
            <tfoot style="background-color: #f5f5f5;">
            <tr>
               <td colspan="2"></td>
              <td colspan="1" style="color:#9ca00c;"> <strong>Grand Total</strong> </td>
               <td colspan="2"><strong style="color:#9ca00c;">$</strong><strong style="color:#9ca00c;" id="grandtotalprice"> </strong></td>
            </tr>
            <tr>
              
              <td colspan="3" class="text-center" style="background-color: #f5f5f5;border-color: none;"><a href="/order-medicines"><button type="button" class="newbtn btn btn-primary btn-md" style="line-height: 20px"><span class="glyphicon glyphicon-share-alt"></span>
                Continue Shopping
              </button></a></td>
              <td colspan="2" class="text-center" style="background-color: #f5f5f5;"><a href="/checkouts"><button type="button" class="newbtn btn btn-primary btn-md" style="line-height: 20px">
                Checkout
              </button></a></td>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->          
   

      
 <!--        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
            <div class="col-xs-6">
            <h4 style="color:#9ca00c;">Product name</h4>
            </div>
           
            <div class="col-xs-6">
              <div class="col-xs-6 text-right">
                <h4 style="color:#9ca00c;">Price</h4>
              </div>
              <div class="col-xs-2">
               <h4  style="color:#9ca00c;">Qty</h4>
              </div>
              <div class="col-xs-2">
                <h4 style="color:#9ca00c;">Total</h4>
              </div>
               <div class="col-xs-2">
                <h4 style="color:#9ca00c;">Action</h4>
              </div>
              
              
            </div>
          </div>
         
          </div>
        </div>
 -->

        <!-- <div class="row">

             <div class="col-xs-8">
              <h5 style="color:#9ca00c;margin-top: 20px;margin-left: 10px;">Product Name</h5>
              
              </div>
              <div class="col-xs-1 text-right">
                <h5 style="color:#9ca00c;margin-top: 20px;margin-left: 50px;">Price</h5>
              </div>
               <div class="col-xs-1">
               <h5 style="color:#9ca00c;margin-top: 20px;margin-left: 50px;">Qty</h5>
              </div>
               <div class="col-xs-1 text-right">
                <h5 style="color:#9ca00c;margin-top: 20px;margin-left: 50px;">Total</h5>
              </div>
               <div class="col-xs-1">
                <h5 style="color:#9ca00c;margin-top: 20px;margin-left: 30px;">Action</h5>

              </div>
            </div> -->

       
       

        <br>

 





      
   <!--     <div class="row">
            
         
          </div>

          <div class="row">
            <div class="text-center">
              <div class="col-xs-3">
                 <input type="text" class="form-control" style="margin-top: 3px;margin-left: 5px;" placeholder="I HAVE A DISCOUNT COUPON">
                 <br>
              </div>
              <div class="col-xs-3">
                <button type="button" class="newbtn btn btn-primary btn-md pull-left" style="line-height: 20px">
                 Apply Coupon
                </button>

              </div>
              <div class="col-xs-3">
            
              </div>
              <div class="col-xs-3">
                
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            
            <div class="col-xs-3">
            
            </div>

            <div class="col-xs-2"> 
             
            </div>

            <div class="col-xs-2">
            
              </div>
            
            <div class="col-xs-3">
               
                <h4 style="text-align:center;"><strong>Grand Total</strong></h4>
             </div>
             
              <div class="col-xs-2">
               
               
                 <h4 style="text-align:center;margin-right: 32px;">$<strong  id="grandtotalprice"> </strong> </h4>
              </div>
          
          </div> -->
       
        <!-- 
        <div class="panel-footer">
          <div class="row">
            <div class="col-xs-3">
             <a href="/order-medicine"><button type="button" class="newbtn btn btn-primary btn-md" style="line-height: 20px"><span class="glyphicon glyphicon-share-alt"></span>
                Continue Shopping
              </button></a>
            </div>
            <div class="col-xs-6">
            
            </div>
            <div class="col-xs-3">
             <a href="/checkout"><button type="button" class="newbtn btn btn-primary btn-md" style="line-height: 20px">
                Checkout
              </button></a>
            </div>
          </div>
        </div>
       -->
 

      </div>
       </div> 
    </div>
  </div>
</div>
  </div>

 
    <%- include partials/footer_product %>
