<%- include partials/header_login %>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <span id="finalPricess" style="display: none;"></span>
      <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-md-8">
                          <div class="shop-quick-login eydia-input">
                              <h5>Returning customer? <a href="#" data-toggle="modal" data-target="#myModal">Click here to login</a></h5>
                             
                          </div>
                      </div>


                                <form action="/checkout-function" method="post">

                                <div class="col-xs-12 col-md-8">
                                    <div class="user-registration eydia-input margin_top50">

    <input maxlength="200" type="hidden" class="form-control newform" id="userids" name="userid" value="<%= user._id %>" required="required" />

    <input maxlength="200" type="hidden" class="form-control newform" id="cartvalue" name="cartvalue" />
    
    <input type="hidden" name="hdnCartTotal" id="finalvallss"/>

    <input type="hidden" id="dissscount" value="<%=user.discount%>">   

    <h5>Billing Address</h5>
    <div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="first_name">First Name <span>*</span></label>
            <input type="text" class="form-control" id="shipfname" name="shipfname" value="<%= user.firstName %>" placeholder="First Name" required="required">
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="last_name">Last  <span>*</span></label>
            <input type="text" class="form-control" id="shiplname" value="hk" name="shiplname" placeholder="Last Name" required="required">
        </div>
    </div>
  
    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
            <label for="company_name">Company Name</label>
            <input type="text" class="form-control" id="companyname" name="companyname" value="<%= user.companyName %>" placeholder="Company Name" required="required">
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
                                                        
            <div class="row">
              <div class="form-group col-md-6">
              <label class="control-label">EMAIL</label>
             <input maxlength="100" type="text" class="form-control" id="shipemail" name="shipemail" value="<%= user.local.email %>" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required="required"/>
              </div>
              <div class="form-group col-md-6">
              <label class="control-label">CONFIRM EMAIL</label>
             <input maxlength="100" type="text" class="form-control" id="shipc_email" name="shipc_email" value="<%= user.local.email %>" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required="required"/>
              </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="phone_number">Phone <span>*</span></label>
            <input type="text" class="form-control" id="shipphone" name="shipphone" value="<%= user.phone %>" placeholder="Phone" required="required">
        </div>
    </div>

    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
          <label for="street_address">Address <span>*</span></label>
          <input class="form-control" id="autocompletes" name="autocomplete" value="<%= user.address %>" placeholder="Enter your address" type="text"/>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
            <label for="town_city">Town / City <span>*</span></label>
            <input maxlength="200" value="<%= user.city %>" type="text" class="form-control locality" id="locality" name="locality" required="required"/>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12">
      <div class="form-group">
        <label for="state_county">State <span>* (Please write full name of state i.e Madhya Pradesh) </span></label>
        <input class="form-control mySelect administrative_area_level_1" id="administrative_area_level_1" name="administrative_area_level_1" value="<%= user.state %>" onInput="edValueKeyPress()" required="required"> 
      </div>
    </div>

    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
            <label for="town_city">Postcode / Zip <span>*</span></label>
            <input maxlength="200" type="text" class="form-control postal_code" id="postal_code" value="<%= user.pinCode %>" name="postal_code" required="required"/>
        </div>
    </div>  

    <script type="text/javascript">

      function checkfunction(){

        var text_val = document.getElementById("administrative_area_level_1").value;
       
        if (text_val == "Madhya Pradesh") {
       
          var datssks = document.getElementById("grandtotalprice").innerText;

          var datassks = document.getElementById("shippricesmp").innerText;

              var dis = $('#dissscount').val();

            if (dis > 0) {
               
              var discount = (datssks * dis/ 100);
              
              var afterdicout = datssks - discount;
    
                document.getElementById("discount").textContent = discount;

                document.getElementById("afterdicount").textContent = parseFloat(Math.round(afterdicout * 100) / 100).toFixed(2);

                  var finaldatasskkt = parseFloat(afterdicout) + parseFloat(datassks);

              document.getElementById("finalvallss").value = finaldatasskkt;

              document.getElementById("finalshipamount").innerText= finaldatasskkt;

            } else {
               
                document.getElementById("dissccoount").style.display= "none";

                document.getElementById("afterdis").style.display= "none";

                  var finaldatasskkt = parseFloat(datssks) + parseFloat(datassks);

              document.getElementById("finalvallss").value = finaldatasskkt;

              document.getElementById("finalshipamount").innerText= finaldatasskkt;
            
            }

              document.getElementById("shipooutmphide").style.display="none";

            document.getElementById("totaltexthide").style.display="none";

          document.getElementById("totalorderhide").style.display="none";

        } else {
          
          var datsskt = document.getElementById("grandtotalprice").innerText;

          var dataskkt = document.getElementById("shippricesoutmp").innerText;

              var dis = $('#dissscount').val();

            if (dis > 0) {
               
              var discount = (datsskt * dis/ 100);
              
              var afterdicout = datsskt - discount;

                document.getElementById("discount").textContent = discount;

                document.getElementById("afterdicount").textContent = parseFloat(Math.round(afterdicout * 100) / 100).toFixed(2);;

                  var finaldatasskkt = parseFloat(afterdicout) + parseFloat(dataskkt);

              document.getElementById("finalvallss").value = finaldatasskkt;

              document.getElementById("finalshipamount").innerText = finaldatasskkt;

            } else {
               
                document.getElementById("dissccoount").style.display= "none";

                document.getElementById("afterdis").style.display= "none";

                  var finaldatasskkt = parseFloat(datsskt) + parseFloat(dataskkt);

              document.getElementById("finalvallss").value = finaldatasskkt;

              document.getElementById("finalshipamount").innerText = finaldatasskkt;
            
            }

              document.getElementById("shipinmphide").style.display="none";

            document.getElementById("totaltexthide").style.display="none";

          document.getElementById("totalorderhide").style.display="none";

        }


      }

      function edValueKeyPress(){

        var edValue = document.getElementById("administrative_area_level_1");

        var s = edValue.value;
        
        if(s == "Madhya Pradesh"){
         
          var datss = document.getElementById("grandtotalprice").innerText;

          var datass = document.getElementById("shippricesmp").innerText; 

              var dis = $('#dissscount').val();

            if (dis > 0) {
               
              var discount = (datss * dis/ 100);
              
              var afterdicout = datss - discount;

                document.getElementById("dissccoount").style.display= "block";

                document.getElementById("afterdis").style.display= "block";

                document.getElementById("discount").textContent = discount;

                document.getElementById("afterdicount").textContent = parseFloat(Math.round(afterdicout * 100) / 100).toFixed(2);

                  var finaldatass = parseFloat(afterdicout) + parseFloat(datass);

                document.getElementById("finalvallss").value = finaldatass;

                document.getElementById("finalshipamount").innerText= finaldatass;

            } else {
               
              document.getElementById("dissccoount").style.display = "none";

              document.getElementById("afterdis").style.display = "none";

                var finaldatass = parseFloat(datss) + parseFloat(datass);

              document.getElementById("finalvallss").value = finaldatass;

              document.getElementById("finalshipamount").innerText = finaldatass;

            
            }
          
              document.getElementById("shipooutmphide").style.display = "none";

            document.getElementById("totaltexthide").style.display = "none";

          document.getElementById("totalorderhide").style.display = "none";
     
        } else {

          var datss = document.getElementById("grandtotalprice").innerText;  

          var datask = document.getElementById("shippricesoutmp").innerText;

              var dis = $('#dissscount').val();

            if (dis > 0) {
               
              var discount = (datss * dis/ 100);
              
              var afterdicout = datss - discount;

                document.getElementById("dissccoount").style.display = "block";

                document.getElementById("afterdis").style.display = "block";

                document.getElementById("discount").textContent = discount;

                document.getElementById("afterdicount").textContent = parseFloat(Math.round(afterdicout * 100) / 100).toFixed(2);;

                  var finaldatass = parseFloat(afterdicout) + parseFloat(datask);

                document.getElementById("finalvallss").value = finaldatass;

                document.getElementById("finalshipamount").innerText= finaldatass;

            } else {
               
                document.getElementById("dissccoount").style.display= "none";

                document.getElementById("afterdis").style.display= "none";

                  var finaldatassk = parseFloat(datss)+parseFloat(datask);

                document.getElementById("finalvallss").value = finaldatassk;

                document.getElementById("finalshipamount").innerText= finaldatassk;
            
            }        
          
              document.getElementById("shipinmphide").style.display="none";
            
            document.getElementById("totaltexthide").style.display="none";

          document.getElementById("totalorderhide").style.display="none";
         
        }

      }

    </script>         

    <div class="col-xs-12 col-md-12">
        <div class="form-group shipping_toggle">
            <input type="checkbox" name="shipping_toggle" class="custom_check" id="shipping_toggle">
            <label class="custom_label" for="shipping_toggle"> Ship to a different address?</label>
        </div>
    </div>

    <div class="different_shipping-address">
        <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="first_name">First Name <span>*</span></label>
            <input type="text" class="form-control" id="billfname" name="billfname" placeholder="First Name">
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="last_name">Last Name <span>*</span></label>
            <input type="text" class="form-control" id="billname" name="billname" placeholder="Last Name">
        </div>
    </div>

    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
            <label for="company_name">Company Name</label>
            <input type="text" class="form-control" id="companyBillname" name="companyBillname" placeholder="Company Name">
        </div>
    </div>

    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
            <div class="row">
              <div class="form-group col-md-6">
              <label class="control-label">EMAIL</label>
             <input maxlength="100" type="text" class="form-control" id="billemail" name="billemail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
              </div>
              <div class="form-group col-md-6">
              <label class="control-label">CONFIRM EMAIL</label>
             <input maxlength="100" type="text" class="form-control" id="billc_email" name="billc_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
              </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">

        <div class="form-group">
            <label for="phone_number">Phone <span>*</span></label>
            <input type="text" class="form-control" id="billphone" name="billphone" placeholder="Phone">
        </div>

    </div>

    <div class="col-xs-12 col-sm-6">

        <div class="form-group">
            <label class="control-label">ADDRESS</label>
            <input maxlength="200" type="text" class="form-control newform autocomplete1" id="autocompletes1" name="billaddress" />
        </div>

    </div>     
    
    <div class="col-xs-12 col-sm-6">

        <div class="form-group">
            <label class="control-label">STATE</label>
            <input class="form-control newform administrative_area_level_1" id="billstate" name="billstate">
        </div>

    </div> 

    <div class="col-xs-12 col-sm-6">

        <div class="form-group">
            <label class="control-label">CITY</label>
            <input maxlength="200" type="text" class="form-control newform locality"  id="billcity" name="billcity" />
        </div>

    </div>
       
    <div class="col-xs-12 col-sm-6">

      <div class="form-group">
        <label class="control-label">ZIP CODE</label>
        <input maxlength="6" type="text" class="form-control newform postal_code" id="billcode" name="billcode" pattern= "[0-9]{6}" />
      </div>

    </div>

    <div class="col-xs-12 col-sm-6">

      <div class="form-group">
        <label class="control-label">GSIT NO</label>
            <input type="text" class="form-control newform postal_code" id="gsitno" name="gsitno"/>
      </div>
      
    </div>

    </div>

    <div class="col-xs-12 col-sm-12">

        <div class="form-group">
          <marquee style="color: red;font-size: 25px;">Order deliver will be within 2 hours if your city is INDORE !!</marquee>
        </div>

    </div>

    <div class="col-xs-12 col-sm-12">

        <div class="form-group">
            <label for="password">Order Notes <span>*</span></label>
            <textarea class="form-control" cols="5" rows="2" name="order_note" placeholder="Notes about your order, e.g. special notes for delivery." value="he" required="required"></textarea>
        </div>

    </div>

    </div>

  </div>

</div>

             <div class="col-xs-12 col-md-4">
              
                <div class="cart_totals">

                  <h2>Cart Total</h2>

                    <table>

                    <tbody>

                      <tr>

                          <th colspan="3">Cart Subtotal</th>

                          <td><strong><i class="fa fa-inr" aria-hidden="true"></i><span id="grandtotalprice"></span></strong></td>

                      </tr>

                      <tr id="dissccoount">

                          <th colspan="3">Discount - <%= user.discount%> %</th>

                          <td><strong><i class="fa fa-inr" aria-hidden="true"></i><span id="discount"></span></strong></td> 

                      </tr>
                    
                      <tr id="afterdis">

                        <th colspan="3">After Discount</th>

                        <td><strong><i class="fa fa-inr" aria-hidden="true"></i><span id="afterdicount"></span></strong></td>

                      </tr>
                  
                      <tr class="order-total" id="totalorderhide">

                          <th colspan="3">Order Total</th>
                          <td><strong><i class="fa fa-inr" aria-hidden="true"></i><span id="finalPrice"></span></strong></td>
                         
                      </tr>

                      <tr id="totaltexthide">
                          <td colspan="6"> <p>When you proceed to checkout then this shipping price is added according to there state</p> </td>
                      </tr>

                      <tr id="shipinmphide" class="cart-subtotal">
                          <th colspan="3">Shipping Price (M.P)</th>
                          <td><strong><i class="fa fa-inr" aria-hidden="true"></i><span id="shippricesmp"></span></strong></td>
                      </tr>

                      <tr id="shipooutmphide" class="cart-subtotal">
                          <th colspan="3">Shipping Price (Out of M.P)</th>
                          <td><strong><i class="fa fa-inr" aria-hidden="true"></i><span id="shippricesoutmp"></span></strong></td>
                      </tr>

                      <tr id="totalshiptax" class="cart-subtotal">
                          <th colspan="3">Final Price (Included all tax)</th>
                          <td><strong><i class="fa fa-inr" aria-hidden="true"></i><span id="finalshipamount" style="font-size: 20px"></span></strong></td>
                      </tr>
         
                    </tbody>
           
                    </table>

                    <% if(user.cod == "Yes"){ %>
                    <input type="submit" class="btn btn-blue btn-full margin_top20" value="Proceed to Checkout (COD)">
                    <input type="hidden" class="btn btn-blue btn-full margin_top20" value="Cash on Delivery" name="payment_method">
                    <% } else { %>
                    <input type="submit" class="btn btn-blue btn-full margin_top20" value="Proceed to Checkout (Online)">
                    <input type="hidden" class="btn btn-blue btn-full margin_top20" value="Online" name="payment_method">

                    <% } %>
                     
                </div>   

              </div>

            </form>

          </div>

        </div> 

      </main>

    </div>

    <table id="address">
      <tr>
        <td class="label">Street address</td>
        <td class="slimField"><input type="hidden" class="field" id="street_number" disabled="true"/></td>
        <td class="wideField" colspan="2"><input type="hidden" class="field" id="route" disabled="true"/></td>
      </tr>
      
    </table>

    <style type="text/css">

      td, th {
          padding: 15px !important;
      }

    </style>

    <script>

    var placeSearch, autocomplete , autocomplete1;

    var componentForm = {
      street_number: 'short_name',
      route: 'long_name',
      locality: 'long_name',
      administrative_area_level_1: 'short_name',
      country: 'long_name',
      postal_code: 'short_name'
    };
    var componentForm1 = {
      street_number: 'short_name',
      route: 'long_name',
      billcity: 'long_name',
      billstate: 'short_name',
      billcountry: 'long_name',
      billcode: 'short_name'
    };

    function initAutocomplete() {

      autocomplete = new google.maps.places.Autocomplete(
          document.getElementById('autocomplete'), {types: ['geocode']});

      autocomplete1 = new google.maps.places.Autocomplete(
          document.getElementById('autocomplete1'), {types: ['geocode']});

      autocomplete.addListener('place_changed', fillInAddress);
      autocomplete1.addListener('place_changed', fillInAddress1);

    }


    function fillInAddress() {
      var place = autocomplete.getPlace();

      for (var component in componentForm) {
        document.getElementById(component).value = '';
        document.getElementById(component).disabled = false;
      }

      for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (componentForm[addressType]) {
          var val = place.address_components[i][componentForm[addressType]];
          document.getElementById(addressType).value = val;
        }
      }
    }

    function fillInAddress1() {
      
      var place1 = autocomplete1.getPlace();
      for (var component1 in componentForm1) {
        document.getElementById(component1).value = '';
        document.getElementById(component1).disabled = false;
      }

      for (var i = 0; i < place1.address_components.length; i++) {
        var addressType1 = place1.address_components[i].types[0];
        if (componentForm1[addressType1]) {
          var val1 = place1.address_components[i][componentForm1[addressType1]];
          document.getElementById(addressType1).value = val1;
         
        }
      }
    }

    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle(
              {center: geolocation, radius: position.coords.accuracy});
          autocomplete.setBounds(circle.getBounds());
          autocomplete1.setBounds(circle.getBounds());
        });
      }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/ js?key=AIzaSyDykCyqFM1dxUnnEhTh5ctttawHY-G2a04&libraries=places&callback=initAutocomplete" async defer></script>
<%- include partials/footer %>
