       <%- include partials/header %>
     <span id="finalPricess" style="display: none;"></span>
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
        				<div class="container">
        					<div class="row">
                                <div class="col-xs-12 col-md-8">
                                    <div class="shop-quick-login eydia-input">
                                        <h5>Returning customer? <a href="#" data-toggle="modal" data-target="#myModal">Click here to login</a></h5>
                                       
                                    </div>
                                </div>


                                <form action="/checkout-function" method="post">

        						<div class="col-xs-12 col-md-8">
        							<div class="user-registration eydia-input margin_top50">

    <input maxlength="200" type="hidden" class="form-control newform" id="userids" name="userid" value="guest" required="required" />
   <input maxlength="200" type="hidden" class="form-control newform" id="cartvalue" name="cartvalue" />
    <input type="hidden" name="hdnCartTotal" value="<%= orderprice %>"/>
    <!--  <input type="text" id="stateTax" name="stateTax"  /> -->
    <h5>Billing Address</h5>
    <div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="first_name">First Name <span>*</span></label>
            <input type="text" class="form-control" id="shipfname" name="shipfname" placeholder="First Name" required="required">
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="last_name">Last Name <span>*</span></label>
            <input type="text" class="form-control" id="shiplname" name="shiplname" placeholder="Last Name" required="required">
        </div>
    </div>

    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
            <label for="company_name">Company Name</label>
            <input type="text" class="form-control" id="companyname" name="companyname" placeholder="Company Name" required="required">
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
                                                        
            <div class="row">
              <div class="form-group col-md-6">
              <label class="control-label">EMAIL</label>
             <input maxlength="100" type="text" class="form-control" id="shipemail" name="shipemail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required="required"/>
              </div>
              <div class="form-group col-md-6">
              <label class="control-label">CONFIRM EMAIL</label>
             <input maxlength="100" type="text" class="form-control" id="shipc_email" name="shipc_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required="required"/>
              </div>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="phone_number">Phone <span>*</span></label>
                <input type="text" class="form-control" id="shipphone" name="shipphone" placeholder="Phone" required="required">
            </div>
        </div>

       

        
        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <label for="street_address">Address <span>*</span></label>
                 <input class="form-control" id="autocomplete" name="autocomplete" placeholder="Enter your address" type="text"/>
                <!--   <input class="form-control autocomplete" id="shipaddress" placeholder="Enter your address" type="text" name="shipaddress" required="required"></input> -->
            </div>
          
        </div>

        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <label for="town_city">Town / City <span>*</span></label>
                <input maxlength="200" type="text" class="form-control locality" id="locality" name="locality" required="required"/>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <label for="state_county">State <span>*</span></label>
               <input class="form-control mySelect administrative_area_level_1" id="administrative_area_level_1" name="administrative_area_level_1" required="required"> 
            </div>
        </div>

        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <label for="company_name">Country</label>
             <input class="form-control country" id="country" name="country" required="required">  </input>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <label for="town_city">Postcode / Zip <span>*</span></label>
                <input maxlength="200" type="text" class="form-control postal_code" id="postal_code" name="postal_code" required="required"/>
            </div>
        </div>

      

        <div class="col-xs-12 col-md-12">
            <div class="form-group shipping_toggle">
                <input type="checkbox" name="shipping_toggle" class="custom_check" id="shipping_toggle">
                <label class="custom_label" for="shipping_toggle"> Ship to a different address?</label>
            </div>
        </div>

    <div class="different_shipping-address">
        <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="first_name">First Name <span>*</span></label>
            <input type="text" class="form-control" id="billfname" name="billfname" placeholder="First Name">
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="last_name">Last Name <span>*</span></label>
            <input type="text" class="form-control" id="billname" name="billname" placeholder="Last Name">
        </div>
    </div>

    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
            <label for="company_name">Company Name</label>
            <input type="text" class="form-control" id="companyBillname" name="companyBillname" placeholder="Company Name">
        </div>
    </div>

    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
            <div class="row">
              <div class="form-group col-md-6">
              <label class="control-label">EMAIL</label>
             <input maxlength="100" type="text" class="form-control" id="billemail" name="billemail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
              </div>
              <div class="form-group col-md-6">
              <label class="control-label">CONFIRM EMAIL</label>
             <input maxlength="100" type="text" class="form-control" id="billc_email" name="billc_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
              </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="phone_number">Phone <span>*</span></label>
            <input type="text" class="form-control" id="billphone" name="billphone" placeholder="Phone">
        </div>
    </div>

     <div class="col-xs-12 col-sm-6">

         <div class="form-group">
            <label class="control-label">ADDRESS</label>
            <input maxlength="200" type="text" class="form-control newform autocomplete1" id="autocomplete1" name="billaddress" />
          </div>
     </div>     

     <div class="col-xs-12 col-md-12 col-sm-12">

           <div class="form-group">
            <div class="row">
            
            <div class="form-group col-md-4">
              <label class="control-label">COUNTRY</label>
             
              <!-- <input class="form-control newform country" id="billcountry1" name="billcountry1" required="required" style="display: none;" readonly/> -->


                <input class="form-control newform country" id="billcountry" name="billcountry" > 

            </div>
           

            <div class="form-group col-md-4">
              <label class="control-label">STATE</label>
               <!--  <input class="form-control newform administrative_area_level_1 myInputsss" id="billstate1" name= "billstate1" required="required" style="display: none;" readonly/> -->
      
              <input class="form-control newform administrative_area_level_1" id="billstate" name="billstate">
          </div> 

           <div class="form-group col-md-4">
              <label class="control-label">CITY</label>
              <input maxlength="200" type="text" class="form-control newform locality"  id="billcity" name="billcity" />
            </div>
           
           
          </div>
          </div>

        </div>  

         <div class="col-xs-12 col-md-12 col-sm-12">

          <div class="form-group">
            <div class="row">
               <div class="form-group col-md-6">
               <label class="control-label">ZIP CODE</label>
              <input maxlength="5" type="text" class="form-control newform postal_code" id="billcode" name="billcode" pattern= "[0-9]{5}" />
              
            </div>
            
           
            </div>
          </div>

      </div>

    </div>

    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
            <label for="password">Order Notes <span>*</span></label>
            <textarea class="form-control" cols="5" rows="2" name="order_note" placeholder="Notes about your order, e.g. special notes for delivery." required="required"></textarea>
        </div>
    </div>

</div>
</div>
</div>
        						
        					<div class="col-xs-12 col-md-4">
                                <div class="cart-collaterals">
                                     <div class="cart_totals">
                                        <h2>Cart Totals</h2>
                                        <table cellspacing="0">
                                            <tbody>
                                                <tr class="cart-subtotal">
                                                    <th colspan="3">Cart Subtotal</th>
                                                    <td><i class="fa fa-inr" aria-hidden="true"></i><span id="grandtotalprice"></span></td>
                                                </tr>
                                                <tr class="shipping">
                                            <th colspan="3">Shipping</th>
                                            <td>
                                               <i class="fa fa-inr" aria-hidden="true"></i><span id="shipAmount">0</span>
                                            </td>
                                        </tr>
                                                <tr class="tax-rate tax-rate-tax-1">
                                                    <th colspan="3">Tax</th>
                                                    <td><i class="fa fa-inr" aria-hidden="true"></i><span id="amountTax">0</span></td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th colspan="3">Order Total</th>
                                                    <td><strong><i class="fa fa-inr" aria-hidden="true"></i><span id="finalPrice"></span></strong> </td>
                                                   
                                                </tr>

                                              <!--   <tr class="order-total">
                                                    <th colspan="3">After Coupon Code</th>
                                                    <td> <strong><i class="fa fa-inr" aria-hidden="true"></i><span name="hdnCartTotaltt"><%= orderprice %></span></strong> </td>
                                                   
                                                </tr> -->
                                            </tbody>
                                        </table>
                                       
                                       <!--  <a href="/checkout" class="btn btn-blue btn-full margin_top20">Proceed to Checkout</a> -->
                                      
                                        <input type="submit" class="btn btn-blue btn-full margin_top20" value="Proceed to Checkout">
                                    </div>   
                                </div>
                            </div>
                                </form>                     


        					</div>  <!-- // row -->
        				</div>  <!-- // container -->
                    </main>
                </div>
   <table id="address">
      <tr>
        <td class="label">Street address</td>
        <td class="slimField"><input type="hidden" class="field" id="street_number" disabled="true"/></td>
        <td class="wideField" colspan="2"><input type="hidden" class="field" id="route" disabled="true"/></td>
      </tr>
      
    </table>

    <script>

var placeSearch, autocomplete , autocomplete1;

var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};
var componentForm1 = {
  street_number: 'short_name',
  route: 'long_name',
  billcity: 'long_name',
  billstate: 'short_name',
  billcountry: 'long_name',
  billcode: 'short_name'
};

function initAutocomplete() {

  autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'), {types: ['geocode']});

  autocomplete1 = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete1'), {types: ['geocode']});

  // Avoid paying for data that you don't need by restricting the set of
  // place fields that are returned to just the address components.
   // autocomplete.setFields('address_components');
   // autocomplete1.setFields('address_components1');

  // When the user selects an address from the drop-down, populate the
  // address fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
  autocomplete1.addListener('place_changed', fillInAddress1);

}


function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details,
  // and then fill-in the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}

function fillInAddress1() {
  // Get the place details from the autocomplete object.
  var place1 = autocomplete1.getPlace();

  for (var component1 in componentForm1) {
    document.getElementById(component1).value = '';
    document.getElementById(component1).disabled = false;
  }

  // Get each component of the address from the place details,
  // and then fill-in the corresponding field on the form.
  for (var i = 0; i < place1.address_components.length; i++) {
    var addressType1 = place1.address_components[i].types[0];
    if (componentForm1[addressType1]) {
      var val1 = place1.address_components[i][componentForm1[addressType1]];
      document.getElementById(addressType1).value = val1;
      alert(val1);
    }
  }
}

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle(
          {center: geolocation, radius: position.coords.accuracy});
      autocomplete.setBounds(circle.getBounds());
      autocomplete1.setBounds(circle.getBounds());
    });
  }
}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDykCyqFM1dxUnnEhTh5ctttawHY-G2a04&libraries=places&callback=initAutocomplete"
        async defer></script>

         <%- include partials/footer %>