    <%- include partials/header_product %>
      <script type="text/javascript">
      function phoneFormatter() {
  $('.phone').on('input', function() {
    var number = $(this).val().replace(/[^\d]/g, '')
    if (number.length == 7) {
      number = number.replace(/(\d{3})(\d{4})/, "$1-$2");
    } else if (number.length == 10) {
      number = number.replace(/(\d{3})(\d{3})(\d{4})/, "($1) $2-$3");
    }
    $(this).val(number)
  });
};

$(phoneFormatter);
    </script>
  
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<style type="text/css">
  .product_meta span{
  margin-bottom: 0px;
  }
</style>

<!--<div class="container" style="padding-top: 60px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                            </div>
                            
                        </div>
                    </div>
                </div>
                 <div class="panel-body">
               
                    <div class="row">
                        <div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
                        </div>
                        <div class="col-xs-4">
                            <h4 class="product-name"><strong>Product name</strong></h4><h4><small>Product description</small></h4>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-6 text-right">
                                <h6><strong>25.00 <span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-xs-4">
                                <input type="text" class="form-control input-sm" value="1">
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-link btn-lg" style="padding: 3px;">
                                    <span class="glyphicon glyphicon-trash"> </span>
                                </button>
                            </div>
                        </div>
                    </div>
                   <hr>
                    <div class="row">
                        <div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
                        </div>
                        <div class="col-xs-4">
                            <h4 class="product-name"><strong>Product name</strong></h4><h4><small>Product description</small></h4>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-6 text-right">
                                <h6><strong>25.00 <span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-xs-4">
                                <input type="text" class="form-control input-sm" value="1">
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-link btn-lg" style="padding: 3px;">
                                    <span class="glyphicon glyphicon-trash"> </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                  
                </div>
                 <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <h4 class="text-right">Total <strong>$50.00</strong></h4>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-md-12">
                                <h5><span class="glyphicon glyphicon-home"></span> Billing Address</h5>
                            </div>
                            
                        </div>
                    </div>
                </div>
                 <div class="panel-body">
                   
                    <br>

                    <div class="row-fluid">
                     <div class="col-md-12">    
                        <form action="" class="horizontal-form" method="POST" role="form">
                                  <div class="form-group">
                                    <label for="">First Name</label>
                                    <input type="text" class="form-control" id="">
                                  </div>
                              <div class="form-group">
                                <label for="">Last Name</label>
                                <input type="text" class="form-control" id="">
                              </div>
                              <div class="form-group">
                                <label for="">Email</label>
                                <input type="email" class="form-control" id="">
                              </div>
                              <div class="form-group">
                                <label for="">Company</label>
                                <input type="text" class="form-control" id="">
                              </div>
                              <div class="form-group">
                                <label for="">Address</label>
                                <input type="text" class="form-control" id="">
                              </div>
                              <div class="form-group">
                                <label for="">Phone</label>
                                <input type="text" class="form-control" id="">
                              </div>
                              
                        
                       
                        
                        </form>

                        </div>

                      
                    </div>
              
                </div>
               <div class="panel-footer">
                    <div class="row text-center" style="background-color: #fff;">
                      
                        <div class="col-md-12">
                            <button type="button" class="btn theme-btn" style="display: block;margin:0 auto;border-radius: 5px !important;">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
                 
            </div>
        </div>
         <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5><span class="glyphicon glyphicon-home"></span> Shipping Address</h5>
                            </div>
                            
                        </div>
                    </div>
                </div>
                 <div class="panel-body">
                   
                    <br>

                  <div class="row-fluid">
                    <div class="col-md-12">    
                <form action="" class="horizontal-form" method="POST" role="form">
                      <div class="form-group">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="form-group">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" id="">
                      </div>
                      <div class="form-group">
                        <label for="">Company</label>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="form-group">
                        <label for="">Address</label>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="form-group">
                        <label for="">Phone</label>
                        <input type="text" class="form-control" id="">
                      </div>
                      
                
               
                
                </form>

                </div>

               
                </div>
              
                       
                 
                 
                  
                </div>
                 <div class="panel-footer">
                    <div class="row text-center" style="background-color: #fff;">
                      
                        <div class="col-md-12">
                            <button type="button" class="btn theme-btn" style="display: block;margin:0 auto;border-radius: 5px !important;">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>

                 
            </div>
        </div>
    </div>
</div>
 <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-md-12">
                                <h5><span class="fa fa-credit-card"></span> Payment Information</h5>
                            </div>
                            
                        </div>
                    </div>
                </div>
                 <div class="panel-body">
                   
                    <br>

                    <div class="row-fluid">
                     <div class="col-md-12">    
                        <form action="" class="horizontal-form" method="POST" role="form">
                             <div class="form-group col-sm-4 col-xs-12">
                                    <label for="">Payment By</label>
                                      <select name="guiest_id3" id="guiest_id3" class="form-control">
                                        <option value="0">Credit Card</option>
                                        <option value="1">Credit Card 1</option>
                                        <option value="2">Credit Card 2</option>
                                        <option value="3">Credit Card 3</option>
                                      </select>
                                    
                              </div>
                              <div class="form-group col-sm-4 col-xs-12">
                                <label for="">Card type</label>
                                 <select name="guiest_id3" id="guiest_id3" class="form-control">
                                    <option value="0">Visa Card</option>
                                    <option value="1">Visa Card 1</option>
                                    <option value="2">Visa Card 2</option>
                                    <option value="3">Visa Card 3</option>
                                  </select>
                              </div>
                              <div class="form-group col-sm-4 col-xs-12">
                                <label for="">Card Number</label>
                                <input type="password" class="form-control" id="">
                              </div>
                            
                               <div class="form-group col-sm-4 col-xs-12">
                                <label for="">Expiration Date</label>
                                <div class="row">
                                  <div class="col-xs-6">
                                    <span class="step-drop">
                                      <select name="guiest_id3" id="guiest_id3" class="form-control">
                                        <option value="0">month</option>
                                        <option value="1">month 1</option>
                                        <option value="2">month 2</option>
                                        <option value="3">month 3</option>
                                      </select>
                                    </span>
                                  </div>
                                  <div class="col-xs-6">
                                    <span class="step-drop">
                                      <select name="guiest_id3" id="guiest_id3" class="form-control">
                                        <option value="0">2016</option>
                                        <option value="1">2017</option>
                                        <option value="2">2018</option>
                                        <option value="3">2019</option>
                                      </select>
                                    </span>
                                  </div>
                                </div>
                              </div>
                             <div class="form-group col-sm-4 col-xs-12">
                                <label for="">CV Code</label>
                                <input type="text" class="form-control" id="">
                              </div>
                              
                        
                       
                        
                        </form>

                        </div>

                      
                    </div>
              
                </div>
                  <div class="panel-footer">
                    <div class="row text-center" style="background-color: #fff;">
                      
                        <div class="col-md-12">
                            <button type="button" class="btn theme-btn" style="display: block;margin:0 auto;border-radius: 5px !important;">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
                 
            </div>
        </div>
        
    </div>
</div> -->

<!--<div class="container" style="padding-top: 60px;">
        
      
        <div class="row">
          <div class="col-md-12">
            <div class="portlet box blue" id="form_wizard_1">
              <div class="portlet-title">
                <div class="caption">
                  <i class="icon-reorder"></i> Form Wizard - <span class="step-title">Step 1 of 4</span>
                </div>
                <div class="tools hidden-phone">
                  <a href="javascript:;" class="collapse"></a>
                  <a href="#portlet-config" data-toggle="modal" class="config"></a>
                  <a href="javascript:;" class="reload"></a>
                  <a href="javascript:;" class="remove"></a>
                </div>
              </div>
              <div class="portlet-body form">
                <form action="#" class="form-horizontal" id="submit_form" novalidate="novalidate">
                  <div class="form-wizard">
                    <div class="navbar steps">
                      <div class="navbar-inner">
                        <ul class="row-fluid nav nav-pills">
                          <li class="span3 active">
                            <a href="#tab1" data-toggle="tab" class="step ">
                            <span class="number">1</span>
                            <span class="desc"><i class="icon-ok"></i> Account Setup</span>   
                            </a>
                          </li>
                          <li class="span3">
                            <a href="#tab2" data-toggle="tab" class="step">
                            <span class="number">2</span>
                            <span class="desc"><i class="icon-ok"></i> Profile Setup</span>   
                            </a>
                          </li>
                          <li class="span3">
                            <a href="#tab3" data-toggle="tab" class="step active">
                            <span class="number">3</span>
                            <span class="desc"><i class="icon-ok"></i> Billing Setup</span>   
                            </a>
                          </li>
                          <li class="span3">
                            <a href="#tab4" data-toggle="tab" class="step">
                            <span class="number">4</span>
                            <span class="desc"><i class="icon-ok"></i> Confirm</span>   
                            </a> 
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div id="bar" class="progress progress-success progress-striped">
                      <div class="bar" style="width: 25%;"></div>
                    </div>
                    <div class="tab-content">
                      <div class="alert alert-error hide">
                        <button class="close" data-dismiss="alert"></button>
                        You have some form errors. Please check below.
                      </div>
                      <div class="alert alert-success hide">
                        <button class="close" data-dismiss="alert"></button>
                        Your form validation is successful!
                      </div>
                      <div class="tab-pane active" id="tab1">
                        <h3 class="block">Provide your account details</h3>
                        <div class="control-group">
                          <label class="control-label">Username<span class="required">*</span></label>
                          <div class="controls">
                            <input type="text" class="span6 m-wrap" name="username">
                            <span class="help-inline">Provide your username</span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Password<span class="required">*</span></label>
                          <div class="controls">
                            <input type="password" class="span6 m-wrap" name="password" id="submit_form_password">
                            <span class="help-inline">Provide your username</span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Confirm Password<span class="required">*</span></label>
                          <div class="controls">
                            <input type="password" class="span6 m-wrap" name="rpassword">
                            <span class="help-inline">Confirm your password</span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Email<span class="required">*</span></label>
                          <div class="controls">
                            <input type="text" class="span6 m-wrap" name="email">
                            <span class="help-inline">Provide your email address</span>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="tab2">
                        <h3 class="block">Provide your profile details</h3>
                        <div class="control-group">
                          <label class="control-label">Fullname<span class="required">*</span></label>
                          <div class="controls">
                            <input type="text" class="span6 m-wrap" name="fullname">
                            <span class="help-inline">Provide your fullname</span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Phone Number<span class="required">*</span></label>
                          <div class="controls">
                            <input type="text" class="span6 m-wrap" name="phone">
                            <span class="help-inline">Provide your phone number</span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Gender<span class="required">*</span></label>
                          <div class="controls">
                            <label class="radio">
                            <div class="radio"><span><input type="radio" name="gender" value="M" data-title="Male"></span></div>
                            Male
                            </label>
                            <div class="clearfix"></div>
                            <label class="radio">
                            <div class="radio"><span><input type="radio" name="gender" value="F" data-title="Female"></span></div>
                            Female
                            </label>  
                            <div id="form_gender_error"></div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Address<span class="required">*</span></label>
                          <div class="controls">
                            <input type="text" class="span6 m-wrap" name="address">
                            <span class="help-inline">Provide your street address</span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">City/Town<span class="required">*</span></label>
                          <div class="controls">
                            <input type="text" class="span6 m-wrap" name="city">
                            <span class="help-inline">Provide your city or town</span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Country</label>
                          <div class="controls">
                            <div class="select2-container span6" id="s2id_country_list"><a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span class="select2-chosen"></span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen1"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><select name="country" id="country_list" class="span6 select2-offscreen" tabindex="-1">
                              <option value="">Select</option>
                              <option value="AF">Afghanistan</option>
                              <option value="AL">Albania</option>
                              <option value="DZ">Algeria</option>
                              <option value="AS">American Samoa</option>
                              <option value="AD">Andorra</option>
                              <option value="AO">Angola</option>
                              <option value="AI">Anguilla</option>
                              <option value="AQ">Antarctica</option>
                              <option value="AR">Argentina</option>
                              <option value="AM">Armenia</option>
                              <option value="AW">Aruba</option>
                              <option value="AU">Australia</option>
                              <option value="AT">Austria</option>
                              <option value="AZ">Azerbaijan</option>
                              <option value="BS">Bahamas</option>
                              <option value="BH">Bahrain</option>
                              <option value="BD">Bangladesh</option>
                              <option value="BB">Barbados</option>
                              <option value="BY">Belarus</option>
                              <option value="BE">Belgium</option>
                              <option value="BZ">Belize</option>
                              <option value="BJ">Benin</option>
                              <option value="BM">Bermuda</option>
                              <option value="BT">Bhutan</option>
                              <option value="BO">Bolivia</option>
                              <option value="BA">Bosnia and Herzegowina</option>
                              <option value="BW">Botswana</option>
                              <option value="BV">Bouvet Island</option>
                              <option value="BR">Brazil</option>
                              <option value="IO">British Indian Ocean Territory</option>
                              <option value="BN">Brunei Darussalam</option>
                              <option value="BG">Bulgaria</option>
                              <option value="BF">Burkina Faso</option>
                              <option value="BI">Burundi</option>
                              <option value="KH">Cambodia</option>
                              <option value="CM">Cameroon</option>
                              <option value="CA">Canada</option>
                              <option value="CV">Cape Verde</option>
                              <option value="KY">Cayman Islands</option>
                              <option value="CF">Central African Republic</option>
                              <option value="TD">Chad</option>
                              <option value="CL">Chile</option>
                              <option value="CN">China</option>
                              <option value="CX">Christmas Island</option>
                              <option value="CC">Cocos (Keeling) Islands</option>
                              <option value="CO">Colombia</option>
                              <option value="KM">Comoros</option>
                              <option value="CG">Congo</option>
                              <option value="CD">Congo, the Democratic Republic of the</option>
                              <option value="CK">Cook Islands</option>
                              <option value="CR">Costa Rica</option>
                              <option value="CI">Cote d'Ivoire</option>
                              <option value="HR">Croatia (Hrvatska)</option>
                              <option value="CU">Cuba</option>
                              <option value="CY">Cyprus</option>
                              <option value="CZ">Czech Republic</option>
                              <option value="DK">Denmark</option>
                              <option value="DJ">Djibouti</option>
                              <option value="DM">Dominica</option>
                              <option value="DO">Dominican Republic</option>
                              <option value="EC">Ecuador</option>
                              <option value="EG">Egypt</option>
                              <option value="SV">El Salvador</option>
                              <option value="GQ">Equatorial Guinea</option>
                              <option value="ER">Eritrea</option>
                              <option value="EE">Estonia</option>
                              <option value="ET">Ethiopia</option>
                              <option value="FK">Falkland Islands (Malvinas)</option>
                              <option value="FO">Faroe Islands</option>
                              <option value="FJ">Fiji</option>
                              <option value="FI">Finland</option>
                              <option value="FR">France</option>
                              <option value="GF">French Guiana</option>
                              <option value="PF">French Polynesia</option>
                              <option value="TF">French Southern Territories</option>
                              <option value="GA">Gabon</option>
                              <option value="GM">Gambia</option>
                              <option value="GE">Georgia</option>
                              <option value="DE">Germany</option>
                              <option value="GH">Ghana</option>
                              <option value="GI">Gibraltar</option>
                              <option value="GR">Greece</option>
                              <option value="GL">Greenland</option>
                              <option value="GD">Grenada</option>
                              <option value="GP">Guadeloupe</option>
                              <option value="GU">Guam</option>
                              <option value="GT">Guatemala</option>
                              <option value="GN">Guinea</option>
                              <option value="GW">Guinea-Bissau</option>
                              <option value="GY">Guyana</option>
                              <option value="HT">Haiti</option>
                              <option value="HM">Heard and Mc Donald Islands</option>
                              <option value="VA">Holy See (Vatican City State)</option>
                              <option value="HN">Honduras</option>
                              <option value="HK">Hong Kong</option>
                              <option value="HU">Hungary</option>
                              <option value="IS">Iceland</option>
                              <option value="IN">India</option>
                              <option value="ID">Indonesia</option>
                              <option value="IR">Iran (Islamic Republic of)</option>
                              <option value="IQ">Iraq</option>
                              <option value="IE">Ireland</option>
                              <option value="IL">Israel</option>
                              <option value="IT">Italy</option>
                              <option value="JM">Jamaica</option>
                              <option value="JP">Japan</option>
                              <option value="JO">Jordan</option>
                              <option value="KZ">Kazakhstan</option>
                              <option value="KE">Kenya</option>
                              <option value="KI">Kiribati</option>
                              <option value="KP">Korea, Democratic People's Republic of</option>
                              <option value="KR">Korea, Republic of</option>
                              <option value="KW">Kuwait</option>
                              <option value="KG">Kyrgyzstan</option>
                              <option value="LA">Lao People's Democratic Republic</option>
                              <option value="LV">Latvia</option>
                              <option value="LB">Lebanon</option>
                              <option value="LS">Lesotho</option>
                              <option value="LR">Liberia</option>
                              <option value="LY">Libyan Arab Jamahiriya</option>
                              <option value="LI">Liechtenstein</option>
                              <option value="LT">Lithuania</option>
                              <option value="LU">Luxembourg</option>
                              <option value="MO">Macau</option>
                              <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                              <option value="MG">Madagascar</option>
                              <option value="MW">Malawi</option>
                              <option value="MY">Malaysia</option>
                              <option value="MV">Maldives</option>
                              <option value="ML">Mali</option>
                              <option value="MT">Malta</option>
                              <option value="MH">Marshall Islands</option>
                              <option value="MQ">Martinique</option>
                              <option value="MR">Mauritania</option>
                              <option value="MU">Mauritius</option>
                              <option value="YT">Mayotte</option>
                              <option value="MX">Mexico</option>
                              <option value="FM">Micronesia, Federated States of</option>
                              <option value="MD">Moldova, Republic of</option>
                              <option value="MC">Monaco</option>
                              <option value="MN">Mongolia</option>
                              <option value="MS">Montserrat</option>
                              <option value="MA">Morocco</option>
                              <option value="MZ">Mozambique</option>
                              <option value="MM">Myanmar</option>
                              <option value="NA">Namibia</option>
                              <option value="NR">Nauru</option>
                              <option value="NP">Nepal</option>
                              <option value="NL">Netherlands</option>
                              <option value="AN">Netherlands Antilles</option>
                              <option value="NC">New Caledonia</option>
                              <option value="NZ">New Zealand</option>
                              <option value="NI">Nicaragua</option>
                              <option value="NE">Niger</option>
                              <option value="NG">Nigeria</option>
                              <option value="NU">Niue</option>
                              <option value="NF">Norfolk Island</option>
                              <option value="MP">Northern Mariana Islands</option>
                              <option value="NO">Norway</option>
                              <option value="OM">Oman</option>
                              <option value="PK">Pakistan</option>
                              <option value="PW">Palau</option>
                              <option value="PA">Panama</option>
                              <option value="PG">Papua New Guinea</option>
                              <option value="PY">Paraguay</option>
                              <option value="PE">Peru</option>
                              <option value="PH">Philippines</option>
                              <option value="PN">Pitcairn</option>
                              <option value="PL">Poland</option>
                              <option value="PT">Portugal</option>
                              <option value="PR">Puerto Rico</option>
                              <option value="QA">Qatar</option>
                              <option value="RE">Reunion</option>
                              <option value="RO">Romania</option>
                              <option value="RU">Russian Federation</option>
                              <option value="RW">Rwanda</option>
                              <option value="KN">Saint Kitts and Nevis</option>
                              <option value="LC">Saint LUCIA</option>
                              <option value="VC">Saint Vincent and the Grenadines</option>
                              <option value="WS">Samoa</option>
                              <option value="SM">San Marino</option>
                              <option value="ST">Sao Tome and Principe</option>
                              <option value="SA">Saudi Arabia</option>
                              <option value="SN">Senegal</option>
                              <option value="SC">Seychelles</option>
                              <option value="SL">Sierra Leone</option>
                              <option value="SG">Singapore</option>
                              <option value="SK">Slovakia (Slovak Republic)</option>
                              <option value="SI">Slovenia</option>
                              <option value="SB">Solomon Islands</option>
                              <option value="SO">Somalia</option>
                              <option value="ZA">South Africa</option>
                              <option value="GS">South Georgia and the South Sandwich Islands</option>
                              <option value="ES">Spain</option>
                              <option value="LK">Sri Lanka</option>
                              <option value="SH">St. Helena</option>
                              <option value="PM">St. Pierre and Miquelon</option>
                              <option value="SD">Sudan</option>
                              <option value="SR">Suriname</option>
                              <option value="SJ">Svalbard and Jan Mayen Islands</option>
                              <option value="SZ">Swaziland</option>
                              <option value="SE">Sweden</option>
                              <option value="CH">Switzerland</option>
                              <option value="SY">Syrian Arab Republic</option>
                              <option value="TW">Taiwan, Province of China</option>
                              <option value="TJ">Tajikistan</option>
                              <option value="TZ">Tanzania, United Republic of</option>
                              <option value="TH">Thailand</option>
                              <option value="TG">Togo</option>
                              <option value="TK">Tokelau</option>
                              <option value="TO">Tonga</option>
                              <option value="TT">Trinidad and Tobago</option>
                              <option value="TN">Tunisia</option>
                              <option value="TR">Turkey</option>
                              <option value="TM">Turkmenistan</option>
                              <option value="TC">Turks and Caicos Islands</option>
                              <option value="TV">Tuvalu</option>
                              <option value="UG">Uganda</option>
                              <option value="UA">Ukraine</option>
                              <option value="AE">United Arab Emirates</option>
                              <option value="GB">United Kingdom</option>
                              <option value="US">United States</option>
                              <option value="UM">United States Minor Outlying Islands</option>
                              <option value="UY">Uruguay</option>
                              <option value="UZ">Uzbekistan</option>
                              <option value="VU">Vanuatu</option>
                              <option value="VE">Venezuela</option>
                              <option value="VN">Viet Nam</option>
                              <option value="VG">Virgin Islands (British)</option>
                              <option value="VI">Virgin Islands (U.S.)</option>
                              <option value="WF">Wallis and Futuna Islands</option>
                              <option value="EH">Western Sahara</option>
                              <option value="YE">Yemen</option>
                              <option value="ZM">Zambia</option>
                              <option value="ZW">Zimbabwe</option>
                            </select>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Remarks</label>
                          <div class="controls">
                            <textarea class="span6 m-wrap" rows="3" name="remarks"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="tab3">
                        <h3 class="block">Provide your billing and credit card details</h3>
                        <div class="control-group">
                          <label class="control-label">Card Holder Name<span class="required">*</span></label>
                          <div class="controls">
                            <input type="text" class="span6 m-wrap" name="card_name">
                            <span class="help-inline"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Card Number<span class="required">*</span></label>
                          <div class="controls">
                            <input type="text" class="span6 m-wrap" name="card_number">
                            <span class="help-inline"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">CVC<span class="required">*</span></label>
                          <div class="controls">
                            <input type="text" placeholder="" class="m-wrap" name="card_cvc">
                            <span class="help-inline"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Expiration(MM/YYYY)<span class="required">*</span></label>
                          <div class="controls">
                            <input type="text" placeholder="MM" maxlength="2" class="m-wrap small" name="card_expiry_mm">
                            <input type="text" placeholder="YYYY" maxlength="4" class="m-wrap small" name="card_expiry_yyyy">
                            <span class="help-inline"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Payment Options<span class="required">*</span></label>
                          <div class="controls">
                            <label class="checkbox line">
                            <div class="checker"><span><input type="checkbox" name="payment[]" value="1" data-title="Auto-Pay with this Credit Card."></span></div> Auto-Pay with this Credit Card
                            </label>
                            <label class="checkbox line">
                            <div class="checker"><span><input type="checkbox" name="payment[]" value="2" data-title="Email me monthly billing."></span></div> Email me monthly billing
                            </label>
                            <div id="form_payment_error"></div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="tab4">
                        <h3 class="block">Confirm your account</h3>
                        <h4 class="form-section">Account</h4>
                        <div class="control-group">
                          <label class="control-label">Username:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="username"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Email:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="email"></span>
                          </div>
                        </div>
                        <h4 class="form-section">Profile</h4>
                        <div class="control-group">
                          <label class="control-label">Fullname:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="fullname"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Gender:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="gender"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Phone:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="phone"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Address:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="address"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">City/Town:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="city"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Country:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="country"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Remarks:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="remarks"></span>
                          </div>
                        </div>
                        <h4 class="form-section">Billing</h4>
                        <div class="control-group">
                          <label class="control-label">Card Holder Name:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="card_name"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Card Number:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="card_number"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">CVC:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="card_cvc"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Expiration:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="card_expiry"></span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Payment Options:</label>
                          <div class="controls">
                            <span class="text display-value" data-display="payment"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-actions clearfix">
                      <a href="javascript:;" class="btn button-previous" style="display: none;">
                      <i class="m-icon-swapleft"></i> Back 
                      </a>
                      <a href="javascript:;" class="btn blue button-next">
                      Continue <i class="m-icon-swapright m-icon-white"></i>
                      </a>
                      <a href="javascript:;" class="btn green button-submit" style="display: none;">
                      Submit <i class="m-icon-swapright m-icon-white"></i>
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
            
 </div>-->


<style>
/*bug fixing for- Open modal pop up is shifting body content to the right */
.modal-open {
  padding-right: 0 !important;
}
html {
  overflow-y: scroll !important;
}
button.btn.btn-primary.nextBtn.btn-lg{
  outline: 0 none;
  }
 button.datas-btn.btn.btn-primary.btn-md{
        outline: 0 none;
     }
     button.btn.btn-primary.btn-md{
        outline: 0 none;
     }

a:-webkit-any-link {
    
    color: #999999; 
}
.newform{
  height: 40px;
      width: 100%;
}
label{
  color: #999999;
  font-weight: 500;
  font-size: 11px;
}
.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover

.steepp.active, .steepp.focus, .steepp:active, .steepp:focus, .steepp:hover{
    color: #babf10;
    border-color: #babf10;
}
.steeppbtn{
    color: #fff;
    background-color: #babf10;
    border-color: #babf10;
    border-radius: 50px !important;
}
.steeppbtn.active, .steeppbtn.focus, .steeppbtn:active, .steeppbtn:focus, .steeppbtn:hover{
    color: #fff;
}
#msform {
  /*width: 400px;*/
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}
#msform input, #msform textarea ,#msform select {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

 input.newinput, textarea.newinput,select.newinput{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100% !important;
  /*float:left;*/
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
#msform .action-button {
  width: 100px;
  background: #fff;
  font-weight: bold;
  color: #babf10;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  border: 1px solid #babf10;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #babf10;
  background:#babf10;
  color: #fff;
}
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  /*color: white;*/
  text-transform: uppercase;
  font-size: 12px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  border: 3px solid #babf10;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #babf10;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
#progressbar li.active:before,  #progressbar li.active:after{
  background: #babf10;
  color: white;
}

.newcolumn{
  border: 3px solid #f0f0f0;box-shadow: none;
}
.newpara{
  background: #eee;
  margin-left: -15px;
  margin-right: -15px;
  height: 40px;
}
.newmeta{
  border-bottom: 1px solid #fff;
  border-top: 0px;
}

@media (max-width: 768px){
.dssss {
    height: 120px;
   /* background: #f3f4f7;
    display: grid;*/
}
.mydiv br {
display: none;
}
}

@media (min-width: 769px){
.dssss {
    height: 120px;
   /* background: #f3f4f7;
    display: grid;*/
}
}



 .form-group{
  margin-bottom: 10px;
 }  

.product_meta{
  padding: 0px;
  margin: 0px;
 }
</style>

  


 <!--<div class="col-md-12">
  <div class="row dssss" style="background: #f3f4f7;display: grid;">
   <div class="stepwizard">
   <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="steeppbtn btn btn-primary btn-circle">1</a>&nbsp;&nbsp;
       <strong class="steepp"> SHIPPING </strong>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="steeppbtn btn btn-default btn-circle" disabled="disabled">2</a>&nbsp;&nbsp;
       <strong class="steepp"> BILLING </strong>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="steeppbtn btn btn-default btn-circle" disabled="disabled">3</a>&nbsp;&nbsp;
        <strong class="steepp"> REVIEW & CONFIRMATION </strong>
      </div>
      
   </div>
  </div>
</div>-->

  <!--<form id="msform" action="/index">
  <ul id="progressbar">
    <li class="active">Shipping</li>
    <li>Billing</li>
    <li>Review</li>
  </ul>
  <fieldset>
    <h2 class="fs-title">Shipping Information</h2>
    <input  maxlength="100" type="text" placeholder="FIRST NAME"  />
    <input  maxlength="100" type="text" placeholder="LAST NAME"  />
    <input type="text" name="email" placeholder="EMAIL" />
    <textarea name="address" placeholder="ADDRESS"></textarea>
    <input type="button" name="next" class="next action-button" style="border-radius: 5px !important;" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Billing Information</h2>
    <h3 class="fs-subtitle">Choose a payment option below</h3>
    <div class="col-md-6">
     <input type="text" class="newinput" name="fname" placeholder="FULL NAME" />
     <textarea class="newinput" name="address" placeholder="ADDRESS"></textarea>
     <input type="text" class="newinput" name="city" placeholder="CITY" />
     <input type="text" class="newinput" name="pcode" placeholder="ZIP CODE" />
 
    </div>
    <div class="col-md-6">
     <input type="text" class="newinput" name="fname" placeholder="NAME ON CARD" />
     <input type="text" class="newinput" name="phone" placeholder="CVV NUMBER" />
     <input type="text" class="newinput" name="lname" placeholder="CARD NUMBER "/>

      <select type="text" class="newinput">
               <option value="0">MONTH</option>
               <option value="1">month 1</option>
               <option value="2">month 2</option>
               <option value="3">month 3</option>
      </select>
      <select type="text" class="newinput">
               <option value="0">YEAR</option>
              <option value="1">2017</option>
             <option value="2">2018</option>
             <option value="3">2019</option>
      </select>

    </div>

  <input type="button" name="next" class="next action-button" style="border-radius: 5px !important;" value="Next" />
   
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Review</h2>
    
   <input type="submit" name="next" class="next action-button" style="border-radius: 5px !important;" value="Submit" />
  </fieldset>
   
</form>-->
 <div id="hpage">

 <div class="row-fluid dssss" style="background: #f3f4f7;padding-top: 50px;">
   <div class="stepwizard">
   <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="steeppbtn btn btn-primary btn-circle">1</a>&nbsp;&nbsp;
       <strong class="steepp"> SHIPPING </strong>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="steeppbtn btn btn-default btn-circle" disabled="disabled">2</a>&nbsp;&nbsp;
       <strong class="steepp"> BILLING </strong>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="steeppbtn btn btn-default btn-circle" disabled="disabled">3</a>&nbsp;&nbsp;
        <strong class="steepp"> REVIEW </strong>
      </div>
      
   </div>
  </div>
</div>

<div class="container">


<form action="/checkout-function" method="post" novalidate>
 


<script type="text/javascript">

function copyTextValue(bf) {


  var text1 = bf.checked ? document.getElementById("shipfname").value : '';
  // alert(text1);
  //var text2 = bf.checked ? document.getElementById("shiplname").value : '';
  var text3 = bf.checked ? document.getElementById("shipaddress").value : '';
  var text4 = bf.checked ? document.getElementById("postal_code").value : '';
  var text5 = bf.checked ? document.getElementById("locality").value : '';
  // var shippingtext = bf.checked ? document.getElementById("administrative_area_level_1").value : '';

  //  var text6 = $("#administrative_area_level_1 :selected").text();
var text6 = bf.checked ? document.getElementById("administrative_area_level_1").value : '';


  var text7 =  bf.checked ? document.getElementById("shipphone").value : '';
  var text8 =  bf.checked ? document.getElementById("shipemail").value : '';
  var text9 =  bf.checked ? document.getElementById("shipc_email").value : '';
  var text10 = bf.checked ? document.getElementById("country").value : '';

document.getElementById("billfname").value = text1;

// var strss = document.getElementById("billfname").value;
// alert(strss);

//document.getElementById("billname").value = text2;
document.getElementById("billaddress").value = text3;
document.getElementById("billcode").value = text4;
document.getElementById("billcity").value = text5;
document.getElementById("billstate").value = text6;
  

document.getElementById("billphone").value = text7;
document.getElementById("billemail").value = text8;
document.getElementById("billcountry").value = text10;
//document.getElementById("billcountry1").value = "USA";

document.getElementById("billcountry1").value = text10;


document.getElementById("billstate1").value = text6;
  

}


</script>




 <input maxlength="200" type="hidden" class="form-control newform" id="userids" name="userid" value="guest" required="required" />
   <input maxlength="200" type="hidden" class="form-control newform" id="cartvalue" name="cartvalue" />
    <input type="hidden" id="hdnCartTotal" name="hdnCartTotal"  />

    <div class="row setup-content" id="step-1">
       
      <div class="col-xs-12 mydiv">
        <div class="col-md-12">
         <div class="row">
          <div class="col-sm-12 col-md-2">
          </div>
          <div class="col-sm-12 col-md-2">
            <hr style="margin-top: 35px;border-top: 2px solid #eee;/*margin-right: -80px;*/">
          </div>
          <div class="col-sm-12 col-md-4">
            <h3 style="text-align:center;"><strong>Shipping Information</strong></h3>
         </div>
          <div class="col-sm-12 col-md-2">
           <hr style="margin-top: 35px;border-top: 2px solid #eee;/*margin-left: -80px;*/">
          </div>
          <div class="col-sm-12 col-md-2">
          </div>
        </div>
         <br>
        <div class="col-md-1">
        </div>
        <div class="col-md-10" id="test">
          <div class="form-group">
           
            <label class="control-label">FULL NAME</label>
            <input  maxlength="100" type="text" class="form-control" id="shipfname" name="shipfname" required="required" />
             
              <!--  <div class="form-group col-md-6">
                <label class="control-label">LAST NAME</label>
                <input maxlength="100" type="text" class="form-control" id="shiplname" name="shiplname" required="required"/>
               </div> -->
          
          </div>
          <div class="form-group">
            <label class="control-label">ADDRESS</label>
             <input class="form-control autocomplete" id="shipaddress" placeholder="Enter your address" type="text" name="shipaddress"></input>
          </div>  
          <div class="form-group" id="address">
           <div class="row">

            <div class="form-group col-md-4">
              <label class="control-label">COUNTRY</label>

              
              <input class="form-control country" id="country" name="country" required="required"> 
              </input>
             
            </div>
          
           
            
             <div class="form-group col-md-4">
              <label class="control-label">STATE</label>
              <input class="form-control mySelect administrative_area_level_1" id="administrative_area_level_1" name="administrative_area_level_1" required="required"> 
                     
              </input>

             

            </div>

            <div class="form-group col-md-4">
              <label class="control-label">CITY</label>
               <input maxlength="200" type="text" class="form-control locality" id="locality" name="locality" required="required"/>
            </div>
            
           
           </div>
       <!--    </div>
          <div class="form-group"> -->
            <div class="row">
             
              <div class="form-group col-md-6">
               <label class="control-label">ZIP CODE</label>
                     <input maxlength="5" type="text" class="form-control postal_code" id="postal_code" name="postal_code" required="required" pattern= "(^\d{5}(-\d{4})?$)|(^[ABCEGHJKLMNPRSTVXY]{1}\d{1}[A-Z]{1} *\d{1}[A-Z]{1}\d{1}$)
"/>
              </div>
               <div class="form-group col-md-6">
              <label class="control-label">PHONE</label>
             <input maxlength="10" type="text" class="form-control phone" id="shipphone" name="shipphone"  required="required" placeholder="(123) 456-7890" />
              </div>
              
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="form-group col-md-6">
              <label class="control-label">EMAIL</label>
             <input maxlength="100" type="text" class="form-control" id="shipemail" name="shipemail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required="required"/>
              </div>
              <div class="form-group col-md-6">
              <label class="control-label">CONFIRM EMAIL</label>
             <input maxlength="100" type="text" class="form-control" id="shipc_email" name="shipc_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required="required"/>
              </div>
            </div>
          </div>
          
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
            <hr style="margin-top: 30px;border-top: 2px solid #eee;/*margin-right: -50px;*/">
          </div>
          <div class="col-md-4">
           <button class="btn btn-primary nextBtn btn-lg" id="continue1" onclick = "addvalue();validateEmail();" type="button" style="margin:0 auto;display:block;margin-bottom:5px;font-size: 18px;border-radius: 50px !important;
    width: 65%;line-height: 30px;">CONTINUE</button>


             
          </div>
          <div class="col-md-2">
           <hr style="margin-top: 30px;border-top: 2px solid #eee;/*margin-left: -50px;*/">
          </div>
          <div class="col-md-2">
          </div>
        </div>
             

         <br>
          
        </div>
      <div class="col-md-1">
       </div>

        

        </div>

      </div>
    </div>
    <div class="row setup-content" id="step-2" style="display: none;">
     <div class="col-xs-12"> 
       <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <hr style="margin-top: 35px;border-top: 2px solid #eee;/*margin-right: -90px;*/">
          </div>
          <div class="col-md-4">
            
             <h3 style="text-align:center;"><strong> Billing Information</strong></h3>
            
          </div>
          <div class="col-md-2">
           <hr style="margin-top:35px;border-top: 2px solid #eee;/*margin-left: -90px;*/">
          </div>
          <div class="col-md-2"></div>

       </div>
         <br>
      <div class="col-md-12">

        <div class="col-md-1"></div>
   
        <div class="col-md-10" id="test2">
         <!--  <div class="form-group">
              <a href="#step-1" type="button" class="steeppbtn btn btn-primary btn-circle" style="color: #babf10;background-color: #fff;">1</a>&nbsp;&nbsp;
             <strong style="font-size: 20px;">Billing Address</strong>
           </div> -->

             <div class="form-group">
           <label class="control-label"><input type="checkbox" id="chbox" name="check1" onchange="copyTextValue(this);"/></label>
           <label class="control-label">Same As Shipping Address</label>
           </div>
          <div class="form-group">
            <label class="control-label">FULL NAME</label>
            <input maxlength="200" type="text" class="form-control newform" id="billfname" name="billfname" required="required" />
          </div>
          <div class="form-group">
            <label class="control-label">ADDRESS</label>
            <input maxlength="200" type="text" class="form-control newform autocomplete" id="billaddress" name="billaddress" required="required" />
          </div>
           <div class="form-group">
            <div class="row">
            
           <!--  <div class="form-group col-md-4">
              <label class="control-label">COUNTRY</label>
              <select class="form-control newform" id="billcountry" name="billcountry" required="required"></select>
            </div> -->

            <div class="form-group col-md-4">
              <label class="control-label">COUNTRY</label>
             
              <input class="form-control newform country" id="billcountry1" name="billcountry1" required="required" style="display: none;" readonly/>

          
<!-- 
              <select class="form-control newform country" id="billcountry" name="billcountry" required="required"></select> -->

                <input class="form-control newform country" id="billcountry" name="billcountry" required="required" > 

            </div>
             <!-- <div class="form-group col-md-4">
             <label class="control-label">STATE</label>
            <select class="form-control newform"  id="billstate" name= "billstate" required="required"></select>
           </div> -->

            <div class="form-group col-md-4">
              <label class="control-label">STATE</label>
                <input class="form-control newform administrative_area_level_1 myInputsss" id="billstate1" name= "billstate1" required="required" style="display: none;" readonly/>
            
          <!--   <select class="form-control newform administrative_area_level_1"  id="billstate" name= "billstate" required="required" ></select>
 -->
              <input class="form-control newform administrative_area_level_1" id="billstate" name="billstate" required="required">
          </div> 

           <div class="form-group col-md-4">
              <label class="control-label">CITY</label>
              <input maxlength="200" type="text" class="form-control newform locality"  id="billcity" name="billcity" required="required" />
            </div>
           
           
          </div>
          </div>
          <div class="form-group">
            <div class="row">
               <div class="form-group col-md-6">
               <label class="control-label">ZIP CODE</label>
              <input maxlength="5" type="text" class="form-control newform postal_code" id="billcode" name="billcode" required="required" pattern= "[0-9]{5}" />
              
            </div>
            <div class="form-group col-md-6">
            <label class="control-label">PHONE</label>
            <input maxlength="10" type="text" class="form-control newform phone" id="billphone" name="billphone" placeholder="(123) 456-7890" required="required" />
            </div>
           
            </div>
          </div>
          
          <div class="form-group">
           <label class="control-label">EMAIL</label>
            <input maxlength="200" type="text" class="form-control newform"  id="billemail" name="billemail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required="required" />
           
          </div>
          
          

            
        </div>
        <div class="col-md-1"></div>

       
        
     
      </div>
  <!--  <div class="col-md-12">    
      
        <hr>
     
      </div> -->
       
 
      <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-2">
            <hr style="margin-top: 30px;border-top: 2px solid #eee;/*margin-right: -95px;*/">
          </div>
          <div class="col-md-4">
               <button class="btn btn-primary nextBtn btn-lg" type="button" onclick="addvalue();" style="margin:0 auto;display:block;margin-bottom:5px;font-size: 18px;border-radius: 50px !important;width: 50%;line-height: 30px;">CONTINUE</button>
          </div>
          <div class="col-md-2">
           <hr style="margin-top: 30px;border-top: 2px solid #eee;/*margin-left: -95px;*/">
          </div>
          <div class="col-md-2"></div>
      </div>
         
    <br><br><br>
      </div>
    </div>
    <div class="row setup-content" id="step-3" style="display: none;">
      <div class="col-xs-12">
        <div class="col-md-12">
              <div class="row">
      
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
            <hr style="margin-top: 35px;border-top: 2px solid #eee;/*margin-right: -150px;*/">
          </div>
          <div class="col-md-4">

        
             <h3 style="text-align:center;"><strong> Review</strong></h3>
             
          </div>
          <div class="col-md-2">
           <hr style="margin-top: 35px;border-top: 2px solid #eee;/*margin-left: -150px;*/">
          </div>
          <div class="col-md-2">
          </div>
        </div>  

      
  <div class="toppanel" id="checkout">
    <div class="panel" id="checkoutbody" style="margin-bottom: 0px">
 </div>
   </div>  

   <div class="row">
      <div class="col-md-12 newcolumn">
       <div class="table-responsive">
        <table class="table table-fixed">
         <thead>
            <tr>
              <th style="color:#9ca00c;width: 70%;">Product name</th>
              <th style="color:#9ca00c;width: 10%;">Price</th>
              <th style="color:#9ca00c;width: 10%;">Qty</th>
              <th style="color:#9ca00c;width: 5%;">Total</th>
             
            </tr>
          </thead>
          <tfoot>
            <tr>
               <td colspan="2"></td>
              <td colspan="1" style="color:#9ca00c;"> <strong>Grand Total</strong> </td>
               <td colspan="2"><strong style="color:#9ca00c;">$</strong><strong style="color:#9ca00c;" id="grandtotalprice"> </strong></td>
            </tr>
          
          </tfoot>
       
          <tbody id="cartBody">
            <!-- <tr>
            <td colspan="4">
              <div class="scrollit">
                   <table>
                     <tbody id="cartBody"></tbody>
                   </table>
              </div>
            </td>
           </tr> -->
           
           
           
          </tbody>
         
            
        </table>
      </div><!--end of .table-responsive-->       
</div>
</div>

         
       <br>
        <div class="row">
         
          <div class="col-md-4">
            <hr style="margin-top: 30px;border-top: 2px solid #eee;/*margin-right: -80px;*/">
          </div>
          <div class="col-md-2">
         
              <input type="image" name="submit" src="/img/paypal.png" class="img-responsive" style="margin: 0px auto;outline-color: white;">
          

          </div>
            </form>
             <div class="col-md-2">
            

<form action="/charge" method="POST">
<input maxlength="200" type="hidden" class="form-control newform" id="userid" name="userid" value="guest" required="required" />
   <input maxlength="200" type="hidden" class="form-control newform" id="cartvalues" name="cartvalues" />
    <input maxlength="200" type="hidden" class="form-control newform" id="ordervalues" name="ordervalues" />
    <input type="hidden" id="hdnCartTotals" name="hdnCartTotals"  />
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_9kZM58tK8I3OvbEXJhPakWZf"
    data-amount=""
    data-name=""
    data-description=""
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    >
  </script>
 
</form>

          </div>
          <div class="col-md-4">
            <hr style="margin-top: 30px;border-top: 2px solid #eee;/*margin-left: -80px;*/">
          </div>
         
            </div>
          <br>
          <br>
          <br>    
          
       
        </div> 
        </div>

<style type="text/css">
   .stripe-button-el{
    border-radius: 50px !important;
    border: 1px solid #0c91de;
    display:block;
    margin:12px auto;
    width: 100%;
  }
 .Checkout.is-desktop .Section--fillTop,.Section.Section--fillTop, fieldset.Fieldset.Fieldset--subdued{
    display: none !important;
    visibility: hidden;
  }
  .Section .Section--fillTop .RememberMe--animated{
    display: none !important;
    visibility: hidden;
  }
  .Checkout.is-desktop .Fieldset-nestedPrologue,.Fieldset .Fieldset--nested{
    display: none !important;
    visibility: hidden;
  }
  .Checkout.is-desktop .Fieldset--subdued, .Checkout.is-desktop .Fieldset-child--subdued{
      display: none;
  }
</style>
<br>
      </div>

    </div>

</div>
</div>

  
 </div>
</div>
<script type="text/javascript">
    document.getElementById("cartvalue").value = localStorage.cart;
     document.getElementById("cartvalues").value = localStorage.cart;
     
      
  </script>

<script type="text/javascript">
  
  $(document).ready(function(){

    $("#continue1").click(function () {
       $("#step-2").show();
    });
});    
</script>
<script>
        var cart = [];
        $(function () {
            if (localStorage.cart)
            {
                cart = JSON.parse(localStorage.cart);
                showCart();
            }
        });

        function addToCart() {
            var price = $("#productprice").text();
            var name = $("#productname").text();
            var productcategory = $("#productcategory").text();
            
            var qty = $("#qty").val();
            var total= 0;

            // update qty if product is already present
            for (var i in cart) {
                if(cart[i].Product == name)
                {
                    cart[i].Price = price;
                    cart[i].Qty = qty;
                    cart[i].Total = total;
                    showCart();
                    saveCart();
                    return;
                }
            }
            // create JavaScript Object
            var item = { Product: name,  Price: price, Qty: qty, Total : total }; 

            cart.push(item);
            saveCart();
            showCart();
        }

        function deleteItem(index){
            cart.splice(index,1); // delete item at index
            showCart();
            saveCart();
        }

        function saveCart() {
            if ( window.localStorage)
            {
                localStorage.cart = JSON.stringify(cart);
              //  alert(localStorage.cart);
            }
        }

           function showCart() {
            if (cart.length == 0) {
                $("#cart").css("visibility", "hidden");
                //document.getElementById("totalitem").textContent= "0";
                document.getElementById("totalprice").textContent= "0";
                 document.getElementById("totalprices").textContent= "0";
                return;
            }
            
          

            $("#cart").css("visibility", "visible");
            $("#cartBody").empty();

         //   document.getElementById("totalitem").textContent=cart.length;
          
              var total= 0;
               var grandtotal= 0;
               var grandtotals= 0;
              var final= 0;

            for (var i in cart) {


                var item = cart[i];


               
                var total = total + item.Qty * item.Price;

                var grandtotal = grandtotal + item.Qty * item.Price;
                //alert(grandtotal);
                var productnames = $("#productname").textContent=item.Product;
               //alert(productnames);
                var newprices = $("#newprice").textContent=item.Price;
                //alert(newprices);
                var totalqtys = $("#totalqty").value=item.Qty;

                    document.getElementById("totalprice").textContent=parseFloat(Math.round(total * 100) / 100).toFixed(2);
                  document.getElementById("totalprices").textContent= parseFloat(Math.round(total * 100) / 100).toFixed(2);
            
                //  alert(totalqtys);
                  document.getElementById("grandtotalprice").textContent=parseFloat(Math.round(grandtotal * 100) / 100).toFixed(2);
             

//alert(grandtotal);
                    $('#hdnCartTotal').val(grandtotal);

     $('#hdnCartTotals').val(grandtotal);


                  //alert(grandtotal);
                  
                     var row =" <tr><td><h5 id='productname"+ i +"' name='productname"+ i +"'>" + item.Product + "</h5></td><td><h5 id='newprice"+ i +"' name='newprice"+ i +"'><strong>$" + item.Price + "</strong></h5></td><td><h5 id='totalqty"+ i +"' name='totalqty"+ i +"' rowid='"+i+"'>" + item.Qty + "</h5></td><td><h5 id='itemtotal" +i+"'><strong style='margin-right: 3px;'>"+"$"+ item.Qty * item.Price + "</strong></h5></td></tr><hr>";
                $("#cartBody").append(row); 
            }
        }
 </script>

<script type="text/javascript">
 $(document).ready(function(){
  $(".cssQty").change(function () {
  //alert("hii");      
    var itemqty =$(this).val();
    var id=$(this).attr("rowid");   
    var namepro = $('#'+ "productname" + id).text();
      
    var actualprice=$('#'+ "newprice" + id).text();  
   //alert(actualprice);
    var itemtotal = actualprice * itemqty;

    var oldactualprice=$('#'+ "itemtotal" + id).text();  
    // alert(oldactualprice);
    var oldgrandotalprice=$('#grandtotalprice').text();  
     //alert(oldgrandotalprice);
    var calc = oldgrandotalprice - oldactualprice ;

    $('#'+"itemtotal" + id).text("$"+itemtotal);
    //alert(oldgrandotalprice);
     var grandtotalprice1 = calc + itemtotal;
    //alert(grandtotalprice1);
      $('#grandtotalprice').text(grandtotalprice1);
 $('#totalprice').text(grandtotalprice1);
  for (var i in cart) {
                if(cart[i].Product == namepro)
                {
                    cart[i].Price = actualprice;
                    cart[i].Qty = itemqty;
                     cart[i].Total = oldactualprice;
                    showCart();
                    saveCart();
                    return;
                }
            }
         
            var item = { Product: name,  Price: actualprice, Qty: itemqty, Total:oldactualprice}; 
            //alert(item);
            cart.push(item);
            saveCart();
            showCart();
});
});
</script>

  <script type="text/javascript">
     var checkout = [];
        $(function () {
            if (localStorage.checkout)
            {
               
                checkout = JSON.parse(localStorage.checkout);
               
               // alert(checkout);
                showCheckout();
            }
        });

          function deleteCheckout(index){
            checkout.splice(index,1); // delete item at index
            showCheckout();
            saveCheckout();
        }
        function addvalue() {

         // alert("add value function");
          

         var userid = $("#user_id").val();
         var shippingfname = $("#shipfname").val();
        // alert(shippingfname);
            var shippinglname = $("#shiplname").val();
            var shippingaddress = $("#shipaddress").val();
            var shippingpcode = $("#postal_code").val();
            var shippingcity = $("#locality").val();
            var shippingstate = $("#administrative_area_level_1").val();
            var shippingcountry = $("#country").val();
            var shippingphone = $("#shipphone").val();
            var shippingemail = $("#shipemail").val();
            var shippingcemail = $("#shipc_email").val();
            var billingfname = $("#billfname").val();
            var billinglname = $("#billname").val();
            var billingphone = $("#billphone").val();
            var billingemail = $("#billemail").val();
            var billingaddress = $("#billaddress").val();
            var billingcity = $("#billcity").val();
            var billingstate = $("#billstate").val();
            var billingcountry = $("#billcountry").val();
            //alert(billingcountry);
            var billingstate1 = $("#billstate1").val();
            var billingcountry1 = $("#billcountry1").val();
            var billingpcode = $("#billcode").val();
            var cardName = $("#cardname").val();
            var cardNo = $("#cardno").val();
            var cvv = $("#cvvno").val();
            var cardExDay = $("#exp_days").val();
            var cardExMnth = $("#exp_month").val();

            // update qty if product is already present
       for (var i in checkout) {
                if(checkout[i].Userid == userid)
                {
                    checkout[i].Shippingfname = shippingfname;
                    checkout[i].Shippinglname = shippinglname;
                    checkout[i].Shippingaddress = shippingaddress;
                    checkout[i].Shippingpcode = shippingpcode;
                    checkout[i].Shippingcity = shippingcity;
                    checkout[i].Shippingstate = shippingstate;
                    checkout[i].Shippingcountry = shippingcountry;
                    checkout[i].Shippingphone = shippingphone;
                    checkout[i].Shippingemail = shippingemail;
                    checkout[i].Shippingcemail = shippingcemail;
                    checkout[i].Billingfname = billingfname;
                    checkout[i].Billinglname = billinglname;
                    checkout[i].Billingphone = billingphone;
                    checkout[i].Billingemail = billingemail;
                    checkout[i].Billingaddress = billingaddress;
                    checkout[i].Billingcity = billingcity;
                    checkout[i].Billingstate = billingstate;
                    checkout[i].Billingstate1 = billingstate1;
                    checkout[i].Billingcountry = billingcountry;
                    checkout[i].Billingcountry1 = billingcountry1;
                    checkout[i].Billingpcode = billingpcode;
                    checkout[i].CardName = cardName;
                    checkout[i].CardNo = cardNo;
                    checkout[i].Cvv = cvv;
                    checkout[i].CardExDay = cardExDay;
                    checkout[i].CardExMnth = cardExMnth;
                    saveCheckout();
                    showCheckout();
                    return;

                       
                }
            }
            // create JavaScript Object


         

         var newitem = { Userid: userid, Shippingfname: shippingfname,  Shippinglname: shippinglname, Shippingaddress: shippingaddress, Shippingpcode : shippingpcode , Shippingcity: shippingcity, Shippingstate: shippingstate , Shippingcountry: shippingcountry , Shippingphone : shippingphone ,Shippingemail : shippingemail , Shippingcemail:shippingcemail, Billingfname: billingfname, Billinglname: billinglname, Billingphone:billingphone, Billingemail : billingemail , Billingaddress : billingaddress , Billingcity :billingcity, Billingstate : billingstate, Billingcountry : billingcountry, Billingstate1 : billingstate1, Billingcountry1 : billingcountry1, Billingpcode : billingpcode , CardName : cardName, CardNo : cardNo, Cvv : cvv, CardExDay : cardExDay , CardExMnth : cardExMnth}; 

             
            checkout.push(newitem);
            saveCheckout();
            showCheckout();
        }

          function saveCheckout() {
            // alert("save data");
            if (window.localStorage)
            {
                localStorage.checkout = JSON.stringify(checkout);
             document.getElementById("ordervalues").value = localStorage.checkout;

            }
        }


          function showCheckout() {
           // alert("show data");
           if (checkout.length == 0) {
                $("#checkout").css("visibility", "hidden");
                return;
            }

           
                 $("#checkout").css("visibility", "visible");
               $("#checkoutbody").empty();
            // alert(checkout.length-1);
             //alert(checkout[checkout.length-1]);

            for (var i in checkout) {
                var checkoutitem = checkout[i];

            if(checkoutitem.Billingstate == ""){
                      console.log("billing state one show");
                      
                 var rows="<div class='row'><div class='col-md-5 newcolumn'><p class='newpara'><strong style='margin-left: 12px;font-size: 18px;'>Billing Address</strong></p><div class='product_meta newmeta'><span class='posted_in'><strong>"+ checkoutitem.Billingfname + "</strong></span><span class='posted_in'><strong>"+ checkoutitem.Billingaddress +"</strong></span><span class='posted_in'><strong>"+ checkoutitem.Billingcity +","+ checkoutitem.Billingstate1 +","+ checkoutitem.Billingcountry1 +"</strong></a></span><span class='posted_in' id='billstateonespan'><strong>"+ checkoutitem.Billingemail +"</strong><span class='posted_in' id='billcountryonespan'><strong>"+ checkoutitem.Billingphone +"</strong></span></div></div><div class='col-md-2'></div><div class='col-md-5 newcolumn'><p class='newpara'><strong style='margin-left: 12px;font-size: 18px;'>Shipping Address</strong></p><div class='product_meta newmeta'><span class='posted_in'><strong>"+ checkoutitem.Shippingfname  +"</strong></span><span class='posted_in'><strong>"+ checkoutitem.Shippingaddress +"</strong></span><span class='posted_in'><strong>"+ checkoutitem.Shippingcity +","+ checkoutitem.Shippingstate +","+ checkoutitem.Shippingcountry +"</strong></a></span><span class='posted_in'><strong>"+ checkoutitem.Shippingemail +"</strong></span><span class='posted_in'><strong>"+ checkoutitem.Shippingphone +"</strong></span></div></div></div><br>";   
                        

            } else {

              console.log("billing state show");

                  //alert("not null");   
               var rows="<div class='row'><div class='col-md-5 newcolumn'><p class='newpara'><strong style='margin-left: 12px;font-size: 18px;'>Billing Address</strong></p><div class='product_meta newmeta'><span class='posted_in'><strong>"+ checkoutitem.Billingfname +"</strong></span><span class='posted_in'><strong>"+ checkoutitem.Billingaddress +"</strong></span><span class='posted_in'><strong>"+ checkoutitem.Billingcity +","+ checkoutitem.Billingstate +","+ checkoutitem.Billingcountry +"</strong></a></span><span class='posted_in'><strong>"+ checkoutitem.Billingemail +"</strong></span><span class='posted_in'><strong>"+ checkoutitem.Billingphone +"</strong></span></div></div><div class='col-md-2'></div><div class='col-md-5 newcolumn'><p class='newpara'><strong style='margin-left: 12px;font-size: 18px;'>Shipping Address</strong></p><div class='product_meta newmeta'><span class='posted_in'><strong>"+ checkoutitem.Shippingfname  +"</strong></span><span class='posted_in'><strong>"+ checkoutitem.Shippingaddress  +"</strong></span><span class='posted_in'><strong>"+ checkoutitem.Shippingcity +","+ checkoutitem.Shippingstate +","+ checkoutitem.Shippingcountry +"</strong></span><span class='posted_in'><strong>"+ checkoutitem.Shippingemail +"</strong></span><span class='posted_in'><strong>"+ checkoutitem.Shippingphone +"</strong></span></div></div></div><br>";   

            }
        
           $("#checkoutbody").append(rows);       

            }
  
        }

        


    </script>
   
    <script type="text/javascript">
      var email = document.getElementById("shipemail");
 var cmail = document.getElementById("shipc_email");

  
  function validateEmail()
    {
      if(email.value != cmail.value)
         {
            cmail.setCustomValidity("Emails Don't Match");
            
         } 
      else 
         {
       cmail.setCustomValidity('');
      
         }
    }
  
    email.onchange = validateEmail();
    cmail.onkeyup = validateEmail();
    </script>

</div>



<script type="text/javascript">
    $(document).ready(function(){
        $('input[type="checkbox"]').click(function(){
            if($(this).prop("checked") == true){
       
                    $('input:text').prop('readOnly', true);
                    $('#billstate').hide();
                    $('#billcountry').hide();
                    $('#billstate1').show();
                    $('#billcountry1').show();
      

            }
            else if($(this).prop("checked") == false){
               $('input:text').prop('readOnly', false);
                $('#billstate').show();
                $('#billcountry').show();
                $('#billstate1').hide();
                $('#billcountry1').hide();
                
            }
        });
    });
</script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAE9SYqtc_ktQSQJguRCsgYxoZi_1flutQ&libraries=places" async defer></script>


<script>
      var autocomplete = {};
    var autocompletesWraps = ['test', 'test2'];

    var test_form = { street_number: 'short_name', route: 'long_name', locality: 'long_name', administrative_area_level_1: 'short_name', country: 'long_name', postal_code: 'short_name' };
    var test2_form = { street_number: 'short_name', route: 'long_name', locality: 'long_name', administrative_area_level_1: 'short_name', country: 'long_name', postal_code: 'short_name' };

  function initialize() {

      $.each(autocompletesWraps, function(index, name) {
      
        if($('#'+name).length == 0) {
          return;
        }

        autocomplete[name] = new google.maps.places.Autocomplete($('#'+name+' .autocomplete')[0], { types: ['geocode'] });
          
        google.maps.event.addListener(autocomplete[name], 'place_changed', function() {
          
          var place = autocomplete[name].getPlace();
          var form = eval(name+'_form');

          for (var component in form) {
            $('#'+name+' .'+component).val('');
            $('#'+name+' .'+component).attr('disabled', false);
          }
          
          for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (typeof form[addressType] !== 'undefined') {
              var val = place.address_components[i][form[addressType]];
              $('#'+name+' .'+addressType).val(val);
            }
          }
        });
      });
    }
    </script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXLpBKsMbw-UjT4PEDx1A7T3JJMjgrO2I&libraries=places&callback=initAutocomplete"
        async defer></script> -->
     
    <%- include partials/footer_product %>
