﻿    <%- include partials/header_login %>


  <div id="hpage">           

              
       <section id="getApp">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading sp-effect3">
                    <h1>Coming soon...</h1>
                    <div class="divider"></div>
                      <p>On Andriod and iOS Platform.</p>
                       <p>Mobile <br> App</p>
                   </div>
                   </div>

                  <br> 
                    <br>
                    <div class="col-md-12">
                        <div class="hanging-phone sp-effect2 hidden-xs">
                            <img src="assets_home/img/freeze/freeze-angled2.png" alt="">
                        </div>
                        <div class="platforms">
                            <a href="#" class="btn btn-primary sp-effect1">
                                <i class="fa fa-android fa-3x pull-left"></i>
                                <span>Download for</span><br>
                                <b>Android</b>
                            </a>
                            
                                <a href="#" class="btn btn-primary sp-effect2">
                                    <i class="fa fa-apple fa-3x pull-left"></i>
                                    <span>Download for</span><br>
                                    <b>Apple IOS</b>
                                </a>
                        </div>

                    </div>
               


                     </div>
                 
                  
               
                </div>

        </section>
</div>
       

       <%- include partials/footer %>
    
      
               


