<%- include partials/header_userdashboard %>
  <div class="row-fluid">
    <div class="row" style="background: #f0f0f5;">
      <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
                    <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>


                     <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                     <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                   
                     <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                     <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
               
                      <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>
                       <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 
                        <ul> <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                      
                    </ul>
                       </li>
                       <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>
                        <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus"  aria-hidden="true"></i> Sales Management</a></li>

                         <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>
                        <li ng-class="{active: activeTab === 'admin'}" class="active"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                        <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                   
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                    
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                 
                      <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                    </div>
                    <style type="text/css">
                      #nav li ul { display: none; list-style:none;}
                    </style>
                    <script type="text/javascript">
                        $("#nav li a").on("click", function (e) {
                        //allow links to be followed if they don't have a sub-menu
                        if ( !$(this).parent().has("ul").length ) { return; }

                        //we have a sub-menu, so stop the link from being followed
                        e.preventDefault();

                          if(!$(this).hasClass("open")) {
                              //we need to know which 'level' we're on 
                              var currentLevel = $(this).closest('ul')
                              $("li ul", currentLevel).slideUp(350);
                              $("li a", currentLevel).removeClass("open");

                              // open our new menu and add the open class
                              $(this).next("ul").slideDown(350);
                              $(this).addClass("open");
                          } else {
                              $(this).removeClass("open");
                              $(this).next("ul").slideUp(350);
                          }
                      });

                    </script> 

            
                    
                        <div class="span9">
                        
                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN SAMPLE FORM PORTLET-->   
                                     <div class="flash-message" ng-if="flash">
                                                <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                                     </div>
                                    <div class="portlet box blue tabbable">
                                        <div class="portlet-title">
                                            <div class="caption">
                                             
                                                <span class="hidden-480">My Profile</span>
                                            </div>
                                        </div>

                                    <div class="portlet-body form">
                                            <div class="tabbable portlet-tabs">
                                                
                                                <div class="tab-content">
                                    <div class="tab-pane active" id="portlet_tab1">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="span9">

                                    <% for (var i = 0; i < data.length; i++) if(data[i]._id == userid ){ %>          
                                             <form action="updateuser" method="post" class="form-horizontal" style="height: 400px;" enctype="multipart/form-data">

                                                 <input type="hidden" name="userid" class="form-control" value="<%= data[i]._id %>" required />

                 <div class="control-group">
                    <label class="control-label">Full Name</label>
                    <div class="controls">
                       <input type="text"  name="firstName" class="form-control" value="<% if (data[i].local){ %><%= data[i].firstName %><% } else if (data[i].google) { %><%= data[i].google.name %> <% } else { %><%= data[i].facebook.name %><% } %> "  placeholder="First Name" required />
                    </div>
                   
                </div>


        <div class="control-group">
         <label class="control-label">Company Name</label>
          <div class="controls">

             <input type="text" name="companyName" class="form-control" value="<%= data[i].companyName %>" required />

          </div>
       </div>

       <div class="control-group">
         <label class="control-label">Cash on delivery</label>
          <div class="controls">

             <select class="form-control" name="cod" required="required">
              <option>Select Yes/No</option>
              <% if (data[i].cod === 'Yes') { %>
               <option value="Yes" selected="selected">Yes</option>
               <option value="No">No</option>
               <% } else if (data[i].cod === 'No') { %>
               <option value="Yes">Yes</option>
               <option value="No" selected="selected">No</option>
               <% } else { %>
               <option value="Yes">Yes</option>
               <option value="No">No</option>
               <% } %>
             </select>

          </div>
       </div>


            <div class="control-group">
                <label class="control-label">User Name</label>
                <div class="controls">
                    <input type="text" name="username" class="form-control" value="<%= data[i].username %>" required />
                </div>
            </div>
                                <div class="control-group">
                                    <label class="control-label">Email</label>
                                    <div class="controls">
                                         <input type="email" name="email" class="form-control" value="

  <% if (data[i].local) { %>

      <%= data[i].local.email %>

   <% } %>

   <% if (data[i].google) { %>

      <%= data[i].google.email %>

    <% } %>

     <% if (data[i].facebook) { %>

    <%= data[i].facebook.email %> 

    <% } %> "
                                          placeholder="Email" readonly />
                                    </div>
                                </div>
<!-- 
                                  <div class="control-group">
                                    <label class="control-label">Password</label>
                                    <div class="controls">
                                         <input type="password"  placeholder="Password" name="password" class="form-control" />
                                    </div>
                                </div> -->

                             <div class="control-group">
                                <label class="control-label">Mobile Number</label>
                                <div class="controls">
                                     <input type="text" name="phone" id="phone" class="form-control" value="<%= data[i].phone %>"  placeholder="Mobile Number" required />
                                </div>
                            </div>

                                                               <div class="control-group">
                                                                    <label class="control-label">User Role</label>
                                                                    <div class="controls">
                                                                        

                         <select name="user_role" class="form-control"  value="<%= data[i].user_role || '' %>">
                          <option>Select User Role </option>
                         <% if (data[i].user_role === 'admin') { %>
                         <option value="admin" selected="selected">Admin</option>
                         <!-- <option value="manager">Manager</option> -->
                         <!--  <option value="doctor" >Doctor</option> -->
                          <option value="user">Customer</option>
                         <!--  <option value="health-provider">Health Provider</option> -->

                          <% } %>


                        <% if (data[i].user_role === 'user') { %>
                        <option value="admin">Admin</option>
<!--                         <option value="manager">Manager</option>
 -->                        <!-- <option value="doctor" >Doctor</option> -->
                        <option value="user" selected="selected">Customer</option>
                        <!-- <option value="health-provider">Health Provider</option> -->

                         <% } %>

                  

                                                                       </select>   
                                                                      
                                                                         

                                                                    </div>
                                                                </div>


                                                                <div class="control-group">
                                                                    <label class="control-label">Address</label>
                                                                    <div class="controls">
                                                                    <textarea id="address" name="address" class="form-control" rows="3" required="required"><%= data[i].address %></textarea>
                                                                    </div>
                                                                </div>

                                                               <!--  <% data[i].state %> -->



  <div class="control-group">
    <label class="control-label">City</label>
      <div class="controls">
        <input type="text" id="city" name="city" value="<%= user.city || ''  %>" required/>
      </div>
  </div>

  <div class="control-group">
    <label class="control-label">State</label>
      <div class="controls">
       
        <%
         var options = [ "Select State","Andaman and Nicobar Islands", "Andhra Pradesh", "Arunachal Pradesh"," Assam", "Bihar", "Chandigarh","Chhattisgarh", "Dadra and Nagar Haveli", "Daman and Diu", "Delhi","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Ladakh","Lakshadweep","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Puducherry","Punjab","Rajasthan",
            "Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal"];
         %>

        <select class="form-control" name="state">
          <% options.forEach(op => { %>
            <option value="<%= op %>" <%= data[i].state === op ? 'selected': '' %>  ><%= op %></option>
          <% }); %>
        </select>  
      
      </div>
  </div>

  <div class="control-group">
    <label class="control-label">Pin Code</label>
      <div class="controls">
        <input type="text" id="pinCode" name="pinCode" value="<%= user.pinCode || ''  %>" required/>
      </div>                   
  </div>     


                                <div class="control-group">
                                    <label class="control-label">BANK NAME</label>
                                        <div class="controls">
                                           <input type="text" name="bankName" value="<%= data[i].bankName %>" class="form-control" required/>
                                        </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">ACCOUNT HOLDER NAME</label>
                                      <div class="controls">
                                        <input type="text" name="holderName" value="<%= data[i].holderName %>" required/>
                                      </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">ACCOUNT NUMBER</label>
                                        <div class="controls">
                                           <input type="text" name="accountNumber" value="<%= data[i].accountNumber %>" required/>
                                        </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">IFSC CODE</label>
                                        <div class="controls">
                                           <input type="text" name="ifscCode" value="<%= data[i].ifscCode %>" required/>
                                        </div>
                                </div>

                                <h3>Tax Registaration Detail</h3>

                                <div class="control-group">
                                    <label class="control-label">PAN No</label>
                                    <div class="controls">
                                        <input type="text" name="panNo" class="form-control" value="<%= data[i].panNo %>"  placeholder="PAN No" required>
                                    </div>
                                </div>

                        <div class="control-group">
                            <label class="control-label">Registartion Type</label>
                            <div class="controls">
                              
                    <%
                      var options = [ "Select Type ","Regular","Consumer","Unregistered","Composition"];
                    %>

        <select class="form-control" name="registerType">
          <% options.forEach(op => { %>
            <option value="<%= op %>" <%= data[i].registerType === op ? 'selected': '' %>  ><%= op %></option>
          <% }); %>
        </select>

                             
                            </div>                                    
                        </div> 

                        <div class="control-group">
                            <label class="control-label">GSIT / UJN</label>
                            <div class="controls">
                                 <input type="text" name="gsit" class="form-control" value="<%= data[i].gsit %>" placeholder="GSIT / UJN" required>
                            </div>
                        </div>

                                <div class="control-group">
                                    <label class="control-label">SET/Alter SET Detail</label>
                                    <div class="controls">
                                        <select class="form-control" name="registerSet">
                                          <option>Select SET</option>
                                          <% if (data[i].registerSet === 'Yes') { %>
                                          <option value="Yes" selected="selected">Yes</option>
                                          <option value="No">No</option>
                                          <% } %>
                                          <% if (data[i].registerSet === 'No') { %>
                                          <option value="Yes">Yes</option>
                                          <option value="No" selected="selected">No</option>
                                          <% } %>
                                        </select>
                                    </div>
                                </div>
                                                                

                                                             <div class="row-fluid">
                                                             <div class="span4"></div>
                                                             <div class="span3">
                                                             <button type="submit" style="display: block;margin: 0 auto;" class="btn theme-btn"> <i class="fa fa-check"></i> Update Your Info
                                                             </button>
                                                             </div>
                                                             <div class="span3">
                                                             <a href="account"><button style="text-decoration: none;outline: 0 none;" class="btn theme-btn"><i class="fa fa-arrow"></i> Cancel</button></a>
                                                                </div>
                                                              <div class="span2"></div>  
                                                                </div>
           
                            </form>

                             <% if(data[i].user_role === 'health-provider') { %> 

                                    <form style="height: 80px;" class="form-horizontal" action="/updateuserstatus" method="post">   
                                       <input type="hidden" name="userid" class="form-control" value="<%= data[i]._id %>" required />       
                                                   <div class="control-group">
                                                                    <label class="control-label">Account Status</label>
                                                                    <div class="controls">

                                                             <% if(data[i].first_time_login === 'True') { %>        
                                                              
                                                               <input class="btn theme-btn" type="submit" id="newformuser" name="sub" value="Activate" style="text-align: center;">

                                                             <% } else { %> 
                                                              
                                                             <input class="btn theme-btn" type="submit" id="newformuser" name="sub" value="Deactivate" style="text-align: center;">
                                                             <% } %>
                                                                    </div>
                                                  </div>             
                                                </form>                
                                       <% } %>         


                           
                                        </div>
                                        <div class="span3">
                                             
                                             <form action="/image-upload" method="POST" enctype="multipart/form-data" style="" class="newimageform">

                                   
                                            <div class="control-group">
                                          
                                                <img id="blah" src="/uploads/<%= data[i].img.originalname %>" name="originalname" class="img-responsive finalimageeee">


                                                 <input type="hidden" name="originalname" value="<%= data[i].img.originalname %>">
                                               </div>


                                             <input type="file"  name="avatar" required="required" onchange="previewFile()">
                                              <input type="hidden" name="userid" class="m-wrap large" value="<%= data[i]._id %>"  />

                                         <!-- <img src="" alt="Image preview...">-->

                                         <input class="btn theme-btn" type="submit"  value="Upload Image">
                                         </form>
                                         

                           <% } %>            




        
                                        </div>

                                         
                                        
                                    </div>
                                 
                                </div>
                                     </div>
                                                   
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                                    <!-- END SAMPLE FORM PORTLET-->



                                </div>
                            </div>
                            <!-- END PAGE CONTENT-->         
                      </div>
                 </div>
           </div>
</div>

<!-- <script>
   function previewFile(){
       var preview = document.querySelector('img'); //selects the query named img
       var file    = document.querySelector('input[type=file]').files[0]; //sames as here
       var reader  = new FileReader();

       reader.onloadend = function () {
           preview.src = reader.result;
       }

       if (file) {
           reader.readAsDataURL(file); //reads the data as a URL
       } else {
           preview.src = "";
       }
  }

  previewFile();  //calls the function named previewFile()
  </script> -->
  <script type="text/javascript">
  $(function() {
    $('.pop').on('click', function() {
      $('.imagepreviews').attr('src', $(this).find('img').attr('src'));
      $('#imagemodal').modal('show');   
    });   
});
</script>
  

 </div>

 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
    .modal {

        background-color: rgba(92, 92, 92, 0.03);
        border: 0px;
    }

    .modal-body {
   
       padding: 0px; 
       overflow-y: inherit; 

    }


    @media (min-width: 414px){
        .navbar-brand{
            font-size: 25px !important;
        }
    }

    @media (min-width: 320px) and (max-width: 320px){
        .navbar-brand{
            font-size: 15px !important;
               padding: 0px;
            margin: 14px 0px 0px 25px !important;
    }


 </style>
 
</body>
<!-- END BODY -->
</html>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>
 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
    <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 

    <style type="text/css">
        input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
            height: 30px;
            width: 80%;
        }

        textarea{
               width: 80%;
         
        }
        .modal-backdrop, .modal-backdrop.fade.in {
            opacity: 0;
            filter: alpha(opacity=80);
        }
    
    </style>

<%- include partials/footer_userdashboard %>


                                      

                               
                                        