    <%- include partials/header_userdashboard %>

 
    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
                    <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

              

                     <% if (user.user_role === 'admin') { %>
                     <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                       <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                      <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                       <!-- <li ng-class="{active: activeTab === 'managecoupon'}"><a href="managecoupon"><i class="fa fa-user"  aria-hidden="true"></i> Coupon  Managment</a></li> -->
                      <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>
                       <li ng-class="{active: activeTab === 'product'}" class="active"><a href="product"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 
                        <ul> <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Part</a></li>
                          <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list"><i class="fa fa-user"  aria-hidden="true"></i> Manage Part</a></li>

                       </ul>
                       </li>
                        <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>


                        <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>
                         <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                        <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                   
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                 
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                    
                      <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                        
                            
                    </ul>
                        
                    </div>

                    <style type="text/css">
    #nav li ul { display: none; list-style:none;}
</style>
<script type="text/javascript">
    $("#nav li a").on("click", function (e) {
    //allow links to be followed if they don't have a sub-menu
    if ( !$(this).parent().has("ul").length ) { return; }

    //we have a sub-menu, so stop the link from being followed
    e.preventDefault();

    if(!$(this).hasClass("open")) {
        //we need to know which 'level' we're on 
        var currentLevel = $(this).closest('ul')
        $("li ul", currentLevel).slideUp(350);
        $("li a", currentLevel).removeClass("open");

        // open our new menu and add the open class
        $(this).next("ul").slideDown(350);
        $(this).addClass("open");
    } else {
        $(this).removeClass("open");
        $(this).next("ul").slideUp(350);
    }
});

</script>

          <style type="text/css">
             .m1{
                width: 500px;
                height: 200px;
              }
          </style>


                     
            
                    
                          <div class="span9" style="height: 1500px;">
                        <!-- BEGIN PAGE HEADER-->
                        <div class="row-fluid">
                            <div class="span12">
                            
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                            <h6 class="page-title" style="font-size: 18px;">
                                  <%= user.firstName %>'s Profile !!!!
                                </h6>
                            </div>
                        </div>
                        <!-- END PAGE HEADER-->
                       


                           <div class="row-fluid">
                      <div class="span12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->   
                        
                        <div class="portlet box blue tabbable">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="hidden-480">Update Part</span>
                                </div>
                            </div>

                            <div class="portlet-body form">
                                <div class="tabbable portlet-tabs" style="overflow-y: scroll;height: 1406px;">
                                    
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="portlet_tab1">
              <% for (var j = 0; j < data.length; j++) if(data[j]._id == productid) { %>    
       <form class="form-horizontal" method="post" action="/updateproduct" enctype="multipart/form-data">
                                               
         <input type="hidden" name="Prodid" class="form-control"  value="<%= data[j]._id %>" required>
           <!-- <div class="control-group">
   <label class="control-label">Part Name</label>
    <div class="controls">
  
    
    <select class="form-control"  name="partName" id="partName" onchange="javascript:dropdownlist(this.options[this.selectedIndex].value);" required="required">
      <option>Select Part</option>

    <% for (var i = 0; i < loadthirdsubcategorydata.length; i++) if(loadthirdsubcategorydata[i].role ==  "part" && loadthirdsubcategorydata[i].CategoryName ==  data[j].partName) { %>                           
      
       <option value="<%= loadthirdsubcategorydata[i].CategoryName %>" selected="selected"><%= loadthirdsubcategorydata[i].CategoryName %></option>

   <% } %>
    <% for (var i = 0; i < loadthirdsubcategorydata.length; i++) if(loadthirdsubcategorydata[i].role ==  "part" && loadthirdsubcategorydata[i].CategoryName !=  data[j].partName){ %>                           
      
    <option value="<%= loadthirdsubcategorydata[i].CategoryName %>"><%= loadthirdsubcategorydata[i].CategoryName %></option>

   <% } %>
    </select>



    </div>
 </div> -->

  <!-- <div class="control-group">
   <label class="control-label">Parent Data</label>
      <div class="controls">
                
          <input type="text" id="parentdatas" name="parentdata" value="<%= data[j].parentdata %>" readonly="readonly">

       </div>
 </div> -->

 <% for (var n = 0; n < loadproductCatgeory.length; n++) if(loadproductCatgeory[n]._id == data[j].proCattId) { %>    

  <div class="control-group">
   <label class="control-label">Category Name</label>
      <div class="controls">
                
          <input type="text"  name="procatName" value="<%= loadproductCatgeory[n].procatName %>" readonly="readonly">

       </div>
 </div>
<div class="control-group">
   <label class="control-label">Sub Category Name</label>
      <div class="controls">
                
          <input type="text" name="prosubcatName" value="<%= loadproductCatgeory[n].prosubcatName %>" readonly="readonly">

       </div>
 </div>
<div class="control-group">
   <label class="control-label">Second Sub Category Name</label>
      <div class="controls">
                
          <input type="text" name="prosecsubcatName" value="<%= loadproductCatgeory[n].prosecsubcatName %>" readonly="readonly">

       </div>
 </div>


  <!-- <div class="control-group">
   <label class="control-label">Inner Category 1</label>
      <div class="controls">
                
          <input type="text" name="proparentdata" value="<%= loadproductCatgeory[n].proparentdata %>" readonly="readonly">

       </div>
 </div> -->



    <%

          var t = 1;

          var myObject = totalvariable;

          var JsonObj = myObject;

          for (var i = 4; i < Object.keys(myObject).length-3; i++){  
        
        %> 

      <div class="control-group">
          <label class="control-label">Inner Category <%=t %></label>
          <div class="controls"> 
          <input type="text" value="<%= JsonObj[Object.keys(myObject)[i]] %>" name="proparentdata<%=[i]%>" readonly>
          </div>
      </div>
  
  <%  t++ ; } %>


  <!-- <div class="control-group">
   <label class="control-label">Inner Category 2</label>
      <div class="controls">
                
          <input type="text" name="proparentdata1" value="<%= loadproductCatgeory[n].proparentdata1 %>" readonly="readonly">

       </div>
 </div> -->


  <div class="control-group">
   <label class="control-label">Last Subcategory Name</label>
      <div class="controls">
                
          <input type="text" name="proparentdata2" value="<%= loadproductCatgeory[n].proparentdata2 %>" readonly="readonly">

       </div>
 </div>

 <% } %>
                                <div class="control-group">
                                    <label class="control-label">Part Name</label>
                                    <div class="controls">
                                        <input type="text" name="partName" class="form-control"  placeholder="Part name" value="<%= data[j].partName %>" readonly="readonly">
                                    </div>
                                </div>

                                 <div class="control-group">
                                    <label class="control-label">Part Id </label>
                                    <div class="controls">
                                        <input type="text" name="partId" class="form-control"  placeholder="Part Id" value="<%= data[j].partId %>" readonly="readonly">
                                    </div>
                                </div>

                          

                            <div class="span12">
                              <div class="span6">  
                                <div class="control-group">
                                    <label class="control-label">Stock Location One</label>
                                    <div class="controls">
                                        <input type="text" name="stockLocationOne" value="<%= data[j].stockLocationOne %>" class="form-control"  placeholder="Stock Location" required>
                                    </div>
                                </div>
                              </div>
                              <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">Stock Location Two</label>
                                    <div class="controls">
                                        <input type="text" name="stockLocationTwo" value="<%= data[j].stockLocationTwo %>" class="form-control"  placeholder="Stock Location" required>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <div class="span12">
                              <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">Stock Location Three</label>
                                    <div class="controls">
                                        <input type="text" name="stockLocationThree" value="<%= data[j].stockLocationThree %>" class="form-control"  placeholder="Stock Location" required>
                                    </div>
                                </div>
                              </div>
                              <div class="span6"> 
                                <div class="control-group">
                                    <label class="control-label">HSN Code </label>
                                    <div class="controls">
                                        <input type="text" name="code" class="form-control"  placeholder="HSN Code" value="<%= data[j].code %>" required>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <div class="span12">
                              <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">Shipping Price (M.P) </label>
                                    <div class="controls">
                                        <input type="text" name="shippricemp" class="form-control" id="shippricempp" value="<%= data[j].shippricemp %>" placeholder="Shipping Price (M.P)" required>
                                    </div>
                                </div>
                              </div>
                              <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">Shipping Price (Out of M.P)</label>
                                    <div class="controls">
                                        <input type="text" name="shippriceoutmp" class="form-control" id="shippriceoutmpp" value="<%= data[j].shippriceoutmp %>"  placeholder="Shipping Price (Out of M.P)" required>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <div class="span12">
                              <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">Dimensions</label>
                                    <div class="controls">
                                        <input type="text" name="dimension" class="form-control" id="dimensionss" value="<%= data[j].dimension %>"  placeholder="Dimensions" required>
                                    </div>
                                </div>
                              </div>
                              <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">Weight</label>
                                    <div class="controls">
                                        <input type="text" name="weight" class="form-control" id="weights" value="<%= data[j].weight %>" placeholder="Weight" required>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <div class="span12">
                              <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">MRP</label>
                                    <div class="controls">
                                        <input type="text" name="mrp" class="form-control" value="<%= data[j].mrp %>"  placeholder="MRP" required>
                                    </div>
                                </div>
                              </div>
                              <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">Price</label>
                                    <div class="controls">
                                        <input type="text" name="price" class="form-control" value="<%= data[j].price %>"  placeholder="Price" required>
                                    </div>
                                </div>
                              </div>
                            </div>

              <div class="span12">
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">Minimum Stock Quantity</label>
                      <div class="controls">
                          <input type="text" name="stkQty" class="form-control" value="<%= data[j].stkQty %>"  placeholder="Minimum Stock Quantity" required>
                      </div>
                  </div>
                </div>
                <div class="span6"> 
                  <div class="control-group">
                      <label class="control-label">Tax (%)</label>
                      <div class="controls">
                          <input type="text" name="tax" class="form-control" value="<%= data[j].tax %>"  placeholder="Tax (%)" required>
                      </div>
                  </div>
                </div>
              </div>

              <div class="span12">
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">Brand</label>
                      <div class="controls">
                          <input type="text" name="brand" class="form-control" value="<%= data[j].brand %>"  placeholder="Brand" required>
                      </div>
                  </div>
                </div>
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">Unit of Measurement</label>
                      <div class="controls">
                      <select class="form-control" name="umState" required="required">

                           <option>Select Unit</option>
                            <% for (var i = 0; i < loadunitdata.length; i++) if(loadunitdata[i].status == "1" 
                            && loadunitdata[i].symbol == data[j].umState) { %>                           
                             <option value="<%= loadunitdata[i].symbol %>" selected="selected"><%= loadunitdata[i].symbol %></option>
                           <% } %>

                           <% for (var i = 0; i < loadunitdata.length; i++) if(loadunitdata[i].status == "1" 
                            && loadunitdata[i].symbol != data[j].umState) { %>                           
                             <option value="<%= loadunitdata[i].symbol %>"><%= loadunitdata[i].symbol %></option>
                           <% } %>

                         </select>


                      </div>
                  </div>
                </div>
              </div>
                            
              <div class="span12">
                <div class="span4">
                  <div class="control-group">
                      <label class="control-label">Set Alternate Unit</label>
                      <div class="controls">
                          <input type="radio" id="chkYes" name="unitMeasure" class="form-control" value="Yes" required <%if(data[j].unitMeasure == "Yes"){ %> checked
                          <% } %>> <b>Yes</b>

                          <input type="radio" id="chkNo" name="unitMeasure" class="form-control" value="No" required<%if(data[j].unitMeasure == "No"){ %>  checked <% } %>><b>No</b>

                      </div>
                  </div>
                </div>
                <div class="span8">

                  <div class="control-group">
                      <label class="control-label">Product Description</label>
                      <div class="controls">
                           <textarea type="text" name="productdescr" class="form-control" placeholder="Product Description" required><%= data[j].productdescr %></textarea>
                      </div>
                  </div>
                </div>
              </div>
              
              <div class="control-group" id="dvPinNo1" style="display: none">
                  <label class="control-label"></label>
                  <div class="controls">
                     
                     <select class="form-control" name="altset">
                       <option>Select Unit</option>
                        <% for (var i = 0; i < loadunitdata.length; i++) if(loadunitdata[i].status == "1" 
                        && loadunitdata[i].symbol == data[j].altset) { %>                           
                         <option id="unitcount" value="<%= loadunitdata[i].symbol %>" selected="selected"><%= loadunitdata[i].symbol %></option>
                       <% } %>

                       <% for (var i = 0; i < loadunitdata.length; i++) if(loadunitdata[i].status == "1" 
                        && loadunitdata[i].symbol != data[j].altset) { %>                           
                          <option id="unitcount" value="<%= loadunitdata[i].symbol %>"><%= loadunitdata[i].symbol %></option>
                       <% } %>
                      </select>

                  </div>
              </div>

                               
<script type="text/javascript">


   $(function() {
    $("input[name='unitMeasure']").click(function() {
      if ($("#chkYes").is(":checked")) {
        $("#dvPinNo1").show();
        $("#dvPinNo11").hide();
      } else{
        $("#dvPinNo1").hide();
        $("#dvPinNo11").hide();
      }
   });
 

    $("select[name='umState']").on('change', function (e) {
     var optionSelected1 = $("option:selected", this);
     var valueSelected1 = this.value;
     // alert(valueSelected1);
     // $("#firstname").val(valueSelected1);
      $("#firstname1").html(valueSelected1);
      $("#firstname12").val(valueSelected1);
      // document.getElementById("firstname1").value = valueSelected1;

    });

     $("select[name='altset']").on('change', function (e) {
     var optionSelected = $("option:selected", this);
     var valueSelected = this.value;
     // alert(valueSelected);
     document.getElementById("firstname").value = valueSelected;
     if(valueSelected){
      $("#dvPinNo11").show();
     }else{
      $("#dvPinNo11").hide();
     }
     $("#firstname").html(valueSelected);
     $("#firstname122").val(valueSelected);
 

        });

        
     });

    $( document ).ready(function() {
      if ($("#chkYes").is(":checked")) {
        $("#dvPinNo1").show();
        $("#dvPinNo11").show();
        $("#firstname1").html(valueSelected1);
        $("#firstname12").val(valueSelected1);
        $("#firstname").html(valueSelected);
        $("#firstname122").val(valueSelected);
     } else{
        $("#dvPinNo1").hide();
        $("#dvPinNo11").hide();
       }
    });

</script>

        <div class="control-group" id="dvPinNo11" style="display: none">
          <label class="control-label">Set Value</label>
          <div class="controls"> 
              <input type="text" style="width: 10%;" name="firstSet" value="<%= data[j].firstSet %>"> <span id="firstname"><%= data[j].altset %></span> 
              <input type="hidden" id="firstname122" name="firstSetVal">
              <span>=</span>
               <input type="hidden" id="firstname12" name="secondSetVal">
              <input type="text" style="width: 10%;" name="secondSet" value="<%= data[j].secondSet %>"> <span id="firstname1"><%= data[j].umState %></span>
          </div>
        </div>

       

        <div class="controls-group">
          <label>Current image</label>
            <div class="controls">
              <table >
               
                <tbody>


                <% if(!data[j].myimage){ %> 

                <tr>
                  <td>
                    
                  </td>
                </tr>

                  <% } else { %>

                    <% for (var i = 0; i < data[j].myimage.length; i++) if(data[j]._id == productid) { %>

                      <tr>                      
                        
                        <td>

                          <img class="m1" src="http://poycard.com/uploads/product/<%= data[j].myimage[i].originalname %> " alt="picture" ><a href="/deleteproductimage?imageid=<%= data[j].myimage[i]._id %>&productId=<%= data[j]._id %>">Delete</a>

                        </td>

                          <input type="hidden" name="imges1" value="http://poycard.com/uploads/product/<%= data[j].myimage[i].originalname %>">
                 
                        <td>

                        <!--   <a href="deleteimg?originalname=<%= data[j].myimage[i].originalname %>"><i class="fa fa-trash-o" aria-hidden="true" style="font-size: 20px"> -->
                        
                      </td>

                    </tr>

                  <% } %>    


                 <% } %>

                
                </tbody>
              </table>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Upload Files of Image</label>
            <div class="controls">

                <input type="file" name="myimage[]" multiple="multiple" />
            </div>
        </div>
     
          

        <input type="hidden" id="datetime">

         <div class="row-fluid">
         <div class="span4"></div>
         <div class="span3">
         <button class="btn theme-btn" type="submit"> <i class="fa fa-check"></i>Product Add</button>
         </div>
         <div class="span3">
         <a href="/product-list"><button type="button" style="text-decoration: none;outline: 0 none;" class="btn theme-btn"><i class="fa fa-arrow"></i> Cancel</button></a>
            </div>
          <div class="span2"></div>  
            </div>


    </form>

                                        <% } %>
                                      

                                          
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->



                    </div>
                </div>
                    
                    </div>
                </div>
                </div>
                </div>

 
 <% 

    var totalthirdsubcatdata = loadthirdsubcategorydata

    var totallthirdcaTsub = totalthirdsubcatdata.length

    var finalvalthirdsubcats = JSON.stringify(totalthirdsubcatdata)

%>
   

 <script type="text/javascript">

     var rowFrameworkResultInJs = "<%= totalthirdsubcatdata %>";
               var totallength = "<%= totallthirdcaTsub %>";

                var totalfinalvals = "<%= finalvalthirdsubcats%>";
 
         function dropdownlist(listindex)
            {

               // alert(listindex);

                $('#partName').val(listindex);
  
                var newdata = totalfinalvals.replace(/&quot;/g,'"');

               var fulldata = JSON.parse(JSON.stringify(newdata));

               var obj = JSON.parse(fulldata);
               // alert(obj);
                var lengtht = Object.keys(obj).length; //you get length json result 4


                
                if (listindex) {

                    var lookup = {};
                    var j = 1;
                    for (var i = 0, len = lengtht; i < len; i++) {
                        if (obj[i].CategoryName == listindex) {
                            
                             alert(obj[i].CategoryName);
                            document.getElementById("parentdatas").value= obj[i].parentdata;
                            j = j+1;
                        }
                    }
                }
                
                return true;
            }

 </script>
           

            
 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>
 
</body>
<!-- END BODY -->
</html>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>

 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 

<!--     <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
 -->
    <!-- <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
 
  <!--  <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
 

  




 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
 height: 30px;
    width: 80%;
}

textarea{
       width: 80%;
 
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
    filter: alpha(opacity=80);
}


 </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        