<!-- <!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Node Authentication</h1>

		<p>Login or Register with:</p>

		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
	</div>

	<div class="text-center">
		<p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
		<p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
	</div>

</div>
</body>
</html> -->


    <%- include partials/header %>

   
    <style>
     button.datas-btn.btn.btn-primary.btn-md{
        outline: 0 none;
     }
     button.btn.btn-primary.btn-md{
        outline: 0 none;
     }
  
    } @media (max-width: 767px){
    .newborder{
     border-right: 2px solid rgba(129, 200, 107, 0.36);
     border-bottom: 2px solid rgba(129, 200, 107, 0.36);
     margin-bottom: -2px;
    }
    
    .newborders{
     border-right: 2px solid rgba(129, 200, 107, 0.36);
     margin-left: 7px !important;
    }

    .newbordersmob{
     border-bottom: 2px solid rgba(129, 200, 107, 0.36);
     margin-bottom: -2px;
    }

    }

    @media screen and (-webkit-min-device-pixel-ratio:0)
and (min-width:767px) {
.datas-btn{

   margin: 0px auto;display: block;
  }

.datas-btn new{

  margin-left: 75px;
}


}

@media  screen and (-webkit-min-device-pixel-ratio:0)
and (max-width:320px){


  a.newlogocss {
    margin-left: 20px;
    
    font-size: 14px;
}


 .banner-section{

  height: 152px;
    line-height: 25px;
}

}
    </style>

 <style type="text/css">

 .center-block a{
  color: #fff;
/*  height: 200px;
*/ }

 @media screen
 and (-webkit-min-device-pixel-ratio:0)and (max-width : 768px)
 {

 .bottomborder{ border-bottom :2px solid rgba(129, 200, 107, 0.36);}

.rightborder{ border-right :2px solid rgba(129, 200, 107, 0.36);}

 }
/*
@media screen
 and (-webkit-min-device-pixel-ratio:0)and (min-width : 768px) and (max-width : 50000px)
{
.rightborders{ border-right :2px solid rgba(129, 200, 107, 0.36);}


.rightborder{ border-right :2px solid rgba(129, 200, 107, 0.36);}



 }
*/
  @media screen
 and (-webkit-min-device-pixel-ratio:0)and (min-width : 769px) and (max-width : 992px)
{

 .bottomborder{ border-bottom :2px solid rgba(129, 200, 107, 0.36);}



.rightborder{ border-right :1px solid rgba(129, 200, 107, 0.36);}

.banner-section{
 height: 152px;
    line-height: 25px;
}


 }


   @media screen
 and (-webkit-min-device-pixel-ratio:0)and (min-width : 993px) and (max-width : 1024px)
{
.rightborders{ border-right :1px solid rgba(129, 200, 107, 0.36);}


.rightborder{ border-right :1px solid rgba(129, 200, 107, 0.36);}

.banner-section{
 height: 75px;
    line-height: 25px;
}

 }

  @media screen
 and (-webkit-min-device-pixel-ratio:0)and (min-width : 1025px) and (max-width : 1200px)
{
.rightborders{ border-right :1px solid rgba(129, 200, 107, 0.36);}


.rightborder{ border-right :1px solid rgba(129, 200, 107, 0.36);}

.banner-section{
 height: 86px;
    line-height: 28px;
}

 }

 @media screen
 and (-webkit-min-device-pixel-ratio:0)and (min-width : 1201px) and (max-width : 1439px)
{
.rightborders{ border-right :1px solid rgba(129, 200, 107, 0.36);}


.rightborder{ border-right :1px solid rgba(129, 200, 107, 0.36);}

.banner-section{
 height: 55px;
    line-height: 28px;
}

 }

  @media screen
 and (-webkit-min-device-pixel-ratio:0)and (min-width : 1440px) and (max-width : 5539px)
{
.rightborders{ border-right :1px solid rgba(129, 200, 107, 0.36);}


.rightborder{ border-right :1px solid rgba(129, 200, 107, 0.36);}

.banner-section{
 height: 60px;
    line-height: 28px;
}

 }

   #buttons{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
}
#buttons ul{
    list-style:none;
    position:relative;
    left:50%;
}

#buttons li{float:left;position:relative;}/* ie needs position:relative here*/

#buttons a{
    text-decoration:none;
    margin:10px;
    /*background:red;*/
    float:left;
    border:none;
    color:rgba(255, 255, 255, 0.78);
    padding:2px 5px;
    text-align:center;
    white-space:nowrap;
}

#buttons a:hover{ border: none;
    color: #fff;
    background: #41a073;}
#content{overflow:hidden}/* hide horizontal scrollbar*/
 </style> 


<!--<section class="parallax">
                 
               </section>-->


 <div id="hpage">
    <div class="row-fluid">
  <img src="/img/homebanner1.png" class="img-responsive newimagecss">
 </div> 

           <!--        <% if(locals.error) { %>
              <div class="alert alert-danger" style="text-align: center;width: 400px;float: right;position: absolute;top: 540px;left: 930px; display: none;"><%= error %>
                  <button type="button" class="close-data" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              </div>
                     <% } %>
                     <% if(locals.success) { %>
              <div class="alert alert-success" style="text-align: center;width: 400px;float: right;position: absolute;top: 540px;left: 930px;display: none;"><%= success %>
                  <button type="button" class="close-data" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              </div>
                      <% } %> 


 -->
                 
              <section class="banner-section">
               <div class="container" style="text-align: center;">
                  <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 center-block bottomborder rightborder">
       <a href="/res-philosophy"> <i class="fa fa-tree fa-1.5x"></i> <br>Resource  <br class="visible-xs visible-sm visible-md">&nbsp;</a>
            </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 center-block bottomborder rightborder">
          <a href="#reviews"> <i class="fa fa-shopping-cart fa-1.5x"></i>
                              <br> Order    <br class="visible-xs visible-sm visible-md">Supplement</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 center-block bottomborder rightborders">
         <a href="/symptomstep"><i class="fa fa-user-md fa-1.5x"></i>
                              <br>  Self  <br class="visible-xs visible-sm visible-md">Consultants</a>  
        </div> 
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 center-block rightborder">
        <a href="#features"> <i class="fa fa-tree fa-1.5x"></i>
                            <br>Consult a  <br class="visible-xs visible-sm visible-md">Doctor</a>
            </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 center-block rightborder">
          <a href="#whyWorldex"> <i class="fa fa-cog fa-1.5x"></i>
                             <br>   Why    <br class="visible-xs visible-sm visible-md">GreenLiving</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 center-block">
          <a href="#health-provider"><i class="fa fa-users fa-1.5x"></i>
                              <br>  Certified  <br class="visible-xs visible-sm visible-md">Practitioners</a>
        </div>  
      </div>  
                </div>
                
              </section>

             <section id="features">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading sp-effect3">
                    <h1>Consult a doctor</h1>
                    <div class="divider"></div>
                    <p>Connect with certified practitioners and get prescription online</p>
                   </div>

                     </div>
                      <div class="col-lg-7 col-md-7">
                        <div class="">
                         <div class="panel-body orign">
                        <div class="about-item">
                       <img src="/img/consult-a-doctor.png" class="img-responsive sp-effect5" alt="">


                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">                    
                        <div class="newssss">
                             <div class="about-item">
                            <div class="panel-body" orign>
                            <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Tell us about your symptoms</h3>
                             </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                              <h3 class="media-heading">Certified practitioners respond in 24 hours</h3>
                           </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">100% private and confidential</h3>
                             </div>
                        </div>

                          <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading"> Home delivery of your prescription in less than a week.</h3>
                           </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Treat yourself at home using our Laser Pen.</h3>
                              
                            </div>
                        </div>
                        <div class="media feature text-center">
                           
                            <div class="media-body">
                                <h3 class="datas-neww media-heading"><a href="consult-online"> <button class="datas-btn btn btn-primary btn-md" style="border-radius: 5px;border: 1px solid #babf10;width:50%;">Consult Now</button></a>
</h3>
                              
                            </div>
                        </div>
                            </div>

                            

                            </div>
                        </div>
                    </div>

                     
                     
                  </div>
               
            </div>
        </section>

           <section id="reviews">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading inverse sp-effect3">
                    <h1 style="color: #fff">Order 100% organic Herbs and Supplements</h1>
                    <div class="divider"></div>
                    <p> Find all your herbs, mix-n-match to create your secret formulae</p>
                   </div>

                     </div>
                    
                        <div class="col-lg-5 col-md-5">                    
                  <div class="newssss">
                    <div class="about-item">
                      <div class="panel-body" orign>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="datas media-heading">Guaranteed availability</h3>
                               
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="datas media-heading"> Home delivery in less than a week</h3>
                           
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="datas media-heading">Custom Formulae </h3>
                              
                            </div>
                        </div>

                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="datas media-heading">Over 200 classic formulas and over 500 single herbs</h3>
                              
                            </div>
                        </div>
                         <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="datas media-heading">100 % organic and Genuine</h3>
                              
                            </div>
                        </div>


                         <div class="media feature text-center">
                            
                            <div class="media-body">
                                <h3 class="datas-neww media-heading"> <a href="order-medicine"><button class="datas-btn btn btn-primary btn-md">Order Supplements</button></a></h3>
                              
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>
                    </div>
                   
                     <div class="col-lg-7 col-md-7">
                        <div class="">
                           
                        <div class="panel-body orign">
                        <div class="about-item">
                       <img src="/img/Herbs-and-Supplements_1.png" class="img-responsive sp-effect5" alt="">
                        </div>
                        </div>
                        </div>
                    </div>
                   
                     
                  </div>
               
            </div>
        </section>




             <section id="whyWorldex">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading sp-effect3">
                    <h1>Why Green Living?</h1>
                    <div class="divider"></div>
                    <p>Know Here</p>
                   </div>

                     </div>
                    <div class="col-lg-4 col-md-4">
                     <div class="newssss">
                        <div class="about-item">
                        <div class="panel-body">
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading" style="font-weight: 300;">Why Traditional Chinese Medicine</h3>
                             </div>
                        </div>
                       <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading" style="font-weight: 300;">100% Organic</h3>
                           </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading" style="font-weight: 300;">TCM's view of the body is concern with the identification of functional entities.</h3>
                             </div>
                        </div>
                     
                       
                        </div>

                            

                            </div>
                        </div>  
                    </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="">
                         
                           <div class="about-item">
                           <div class="panel-body orign">
                              <img src="/img/Why_Green_Living.png" class="img-responsive  sp-effect5" alt="">
                              <h3 class="media-heading text-center" style="font-weight: 500;">5 Elements of TCM</h3>
                            </div>


                        <div class="media feature text-center">
                            <div class="media-body">

                                <h3 class="datas-neww media-heading"> <a href="about-worldex"><button class="datas-btn btn btn-primary btn-md" style="border-radius: 5px;border: 1px solid #babf10;width:50%;">  Know more </button></a></h3>
                              
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">                    
                        <div class="newssss">
                        <div class="about-item">
                        <div class="panel-body" orign>
                       
                        
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading" style="font-weight: 300;">TCM recognizes energy flow, meridians</h3>
                           </div>
                        </div>

                         <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                              <h3 class="media-heading" style="font-weight: 300;">TCM is based on Yin-Yang and the Five Phases</h3>
                           </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading" style="font-weight: 300;">The majority of treatment in TCM is Chinese Herbology</h3>
                           </div>
                        </div>
                        


                        </div>

                            

                            </div>
                        </div>
                    </div>

                     
                     
                  </div>
               
            </div>
        </section>
<style type="text/css">
  section#health-provider img {
    margin: 0 auto 20px;
}
section#reviews img {
    margin: 0 auto 20px;
}
section#whyWorldex img {
    margin: 0 auto 20px;
}

</style>
          <section id="health-provider">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading inverse sp-effect3">
                    <h1 style="color: #fff">For Licensed Practitioner</h1>
                    <div class="divider"></div>
                    <p>Order your customized formulae in wholesale</p>
                   </div>

                     </div>
                    
                        <div class="col-lg-5 col-md-5">                    
                  <div class="newssss">
                    <div class="about-item">
                      <div class="panel-body orign" >
                        
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="datas media-heading"> Get your hands on USDA certified organic herbs</h3>
                           
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="datas media-heading">Order wholesale and get discounted pricing</h3>
                              
                            </div>
                        </div>

                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="datas media-heading">On time delivery</h3>
                              
                            </div>
                        </div>

                         <div class="media feature text-center">
                            
                            <div class="media-body">
                                <h3 class="datas-neww media-heading"><a href="health-provider"> <button class="datas-btn btn btn-primary btn-md" style="width:50%;">Know More</button></a></h3>
                              
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>
                    </div>
                   
                     <div class="col-lg-7 col-md-7">
                        <div class="text-center">
                           
                        <div class="panel-body orign">
                        <div class="about-item">
                       <img src="/img/Licensed-practitioner.png" class="img-responsive sp-effect5" alt="">
                        </div>
                        </div>
                        </div>
                    </div>
                   
                     
                  </div>
               
            </div>
        </section>
          <section id="getApp">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading sp-effect3">
                    <h1>Coming soon...</h1>
                    <div class="divider"></div>
                      <p>On Andriod and iOS Platform.</p>
                       <p>Mobile <br> App</p>
                   </div>
                   </div>

                  <br> 
                    <br>
                    <div class="col-md-12">
                        
                        <div class="platforms">
                            <a href="download-app"> <button class="datas-btn btn btn-primary btn-md">Know More</button></a>
                        </div>

                    </div>
               


                     </div>
                 
                  
               
                </div>

        </section>
</div>
    <footer style="background: #262F36;color: rgba(255, 255, 255, .7) !important;">
           <div class="container">
                <div class="row">
                <div class="col-md-12">
                <div class="panel-body">
                  <div class="col-md-6">

                       
                    <h2 style="color: #fff;text-align: center;">About</h2>
                    <p style="text-align: center;font-size:13.5px;letter-spacing: 0px;font-family:'Lato', Arial !important;">Vivamus imperdiet felis consectetur onec eget orci adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
                      
                    </div>
                    <div class="col-md-6" >
                       <h2 style="color: #fff;text-align: center;font-family:'Open Sans', sans-serif !important;">Contact Us</h2>
                  
                        Loop, Inc. <br />
                        259, Meridian Ave, Suite 14 <br />
                        San Jose, CA 95126 <br />
                        P: (234) 145-1810 <br />
                        Email: <a href="mailto:info@medical.com" style="color:rgba(255, 255, 255, .7) !important;">info@greenliving.com</a>                        
                   
                        
                    </div>
               
                </div>
                </div>
          </div>
           </div>     
             
        </footer>

        <div class="front-copyright" style="height: 50px;background: #babf10;color: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   
         <span class="new-copyright">2013 © Green Living | ALL Rights Reserved. | <a href="#" style="color:#fff;">Privacy Policy</a> | <a href="#" style="color:#fff;">Terms of Service</a></span>       
                </div>
               
            </div>
        </div>
    </div>  




<script>
        var cart = [];
        $(function () {
            if (localStorage.cart)
            {
                cart = JSON.parse(localStorage.cart);
                showCart();
            }
            if (cart.length == 0 || cart.length == null) {
              //alert(cart.length);
              document.getElementById("totalprice").textContent= "0";
                   document.getElementById("totalprices").textContent= "0";

                $("#messageempty").html("YOUR CART IS CURRENTLY EMPTY");

                 $("#messageemptysecond").html("You have not added any items in your shopping cart");
            }
        });

        function addToCart() {
            var price = $("#productprice").text();
            var name = $("#productname").text();
            var productcategory = $("#productcategory").text();
            
            var qty = $("#qty").val();
            var total= 0;

            // update qty if product is already present
            for (var i in cart) {
                if(cart[i].Product == name)
                {
                    cart[i].Price = price;
                    cart[i].Qty = qty;
                    cart[i].Total = total;
                    showCart();
                    saveCart();
                    return;
                }
            }
            // create JavaScript Object
            var item = { Product: name,  Price: price, Qty: qty, Total : total }; 

            cart.push(item);
            saveCart();
            showCart();
        }

        function deleteItem(index){
            cart.splice(index,1); // delete item at index
            showCart();
            saveCart();
        }

        function saveCart() {
            if ( window.localStorage)
            {
                localStorage.cart = JSON.stringify(cart);

            }
        }

        function showCart() {
            if (cart.length == 0) {
                $("#cart").css("visibility", "hidden");
              //  document.getElementById("totalitem").textContent= "0";
              
                document.getElementById("totalprice").textContent= "0";
                     document.getElementById("totalprices").textContent= "0";
                
                return;
            }
            
           

            $("#cart").css("visibility", "visible");
            $("#cartBody").empty();

           // document.getElementById("totalitem").textContent=cart.length;


              var total= 0;
            for (var i in cart) {
                var item = cart[i];
               
                var total = total + item.Qty * item.Price;
                //alert(total);

                 document.getElementById("totalprice").textContent=parseFloat(Math.round(total * 100) / 100).toFixed(2);
                  document.getElementById("totalprices").textContent= parseFloat(Math.round(total * 100) / 100).toFixed(2);
                var row = "<tr><td>" + item.Product + "</td><td>" +
                             item.Price + "</td><td>" + item.Qty + "</td><td>"
                             + "$"+ item.Qty * item.Price + "</td><td>" +  total + "</td><td>"
                             + "<button onclick='deleteItem(" + i + ")'>Delete</button></td></tr>";
                $("#cartBody").append(row);
            }
        }
    </script>


     
   <div id="myModalforget" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="padding-top: 100px;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         <!--  <button type="button" id="dialogclose" class="close" data-dismiss="modal" aria-hidden="true" id="close-model-forget">
                    ×</button> -->
          <h4 class="modal-title"></h4>
        </div>
        <form action="/forget" method="post" class="form-horizontal">
                    <% if(locals.errorforget) { %>
                     <div class="alert alert-danger">
                  <%= errorforget %> 

                </div>
                 
                         <% } %>

                       
                         <% if(locals.successforget) { %>
                     <div class="alert alert-success"><%= successforget %></div>
                          <% } %>

        <div class="modal-body">
         <div class="form-group">
             <div class="col-sm-12">
            <!--  <input type="email" name="username"  value="<%= locals.username || '' %>" class="form-control" placeholder="Enter Email" /> -->
             </div>
        </div>
              <div class="row">
                 <div class="col-sm-12">
                 <!-- <button type="submit" class="datas btn btn-primary btn-md" style="margin:0 auto;display: block;"> Submit</button> -->
                 <button type="button"  id="close" class="datas btn btn-primary btn-md" style="margin:0 auto;display: block;" data-dismiss="modal">Close</button>
                  <br>
                 </div>
             </div>                     
        </div>

      </form>
        
      </div>
      
    </div>
  </div>


    <div id="myModal12" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm" style="padding-top: 100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center;">
                    Login/Sign Up</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" style="padding-left: 45px;"> 
                            <li class="active"><a href="#stations" data-toggle="tab">Login</a></li>
                            <li><a href="#plays" data-toggle="tab">Registration</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="stations">
                              <form role="form"  action="/login" class="form-horizontal" method="post">

                                  <% if(locals.errorlogin) { %>
                     <div class="alert alert-danger">
                  <%= errorlogin %> 

                </div>
                 
                         <% } %>

                       
                         <% if(locals.successlogin) { %>
                     <div class="alert alert-success"><%= successlogin %>
                     </div>
                          <% } %>


                                <div class="form-group">
                                   
                                    <div class="col-sm-12">
                                        <input type="email" name="email" value="<%= locals.email || '' %>" class="form-control" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                   
                                    <div class="col-sm-12">
                                       <!--  <input type="password" name="password" id="password" class="form-control" placeholder="Password" /> -->

                                          <input type="text" name="pl-fake_pass" id="pl-fake_pass" value="Enter Password" class="form-control" style="display:none"/>
                               <input type="password" name="password" id="pl-password" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row">
                                
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary btn-md" style="margin:0 auto;border-radius: 5px;border: 1px solid #babf10;display: block;">
                                            Submit</button>
                                         <br>
                                         <a href="#" id="forgotPass" data-dismiss="modal" data-toggle="modal" data-target="#myModalforget" style="text-align: center;margin: 0 auto;display: block;">Forgot your password?</a>
                                    </div>
                                </div>
                              </form>
                            </div>
                            <div class="tab-pane" id="plays">
                                
                            

                            <form method="post" class="form-horizontal" id="form1">

                                   <% if(locals.errorregister) { %>
                               <div class="alert alert-danger">
                                    <%= errorregister %>
                                </div>
                           
                                   <% } %>

                                      
                               <% if(locals.successregister) { %>
                                <div class="alert alert-success">
                                  <%= successregister %>
                                </div>

                                   <% } %>

                                <div class="form-group">
                                  
                                    <div class="col-sm-12">
                                        <div class="row">
                                           
                                            <div class="col-md-12">

                                             <input type="hidden" name="user_role" class="form-control" value="health-provider" required />
                                            
                                                   <input type="text" name="firstName" class="form-control" placeholder="First Name" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                 <div class="form-group">
                                   
                                    <div class="col-sm-12">
                                        <div class="row">
                                           
                                            <div class="col-md-12">
                                            
                                                   <input type="text" name="lastName" class="form-control" placeholder="Last Name" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    
                                    <div class="col-sm-12">
                                      
                                        <input type="email" name="email"  class="form-control" value="<%= locals.email || '' %>" placeholder="Email" required />
                                    </div>
                                </div>
                               
                                  
                                <div class="form-group">
                                
                                    <div class="col-sm-12">
                                   

                                     <!-- <input type="password" name="password" id="password" class="form-control"  placeholder="Password" required /> -->

                                       <input type="text" name="pn-fake_pass" id="pn-fake_pass" value="Enter Password" class="form-control" style="display:none"/>
                               <input type="password" name="password" id="pn-password" class="form-control"/>
                                    
                                    </div>
                                </div>

                                 <div class="form-group">
                                
                                    <div class="col-sm-12">
                                  
                                    <!--  <input type="password" name="cpassword" id="cpassword" class="form-control" placeholder=" Confirm Password" required /> -->

                                       <input type="text" name="pc-fake_pass" id="pc-fake_pass" value="Confirm Password" class="form-control" style="display:none"/>
                               <input type="password" name="cpassword" id="pc-password" class="form-control"/>
                                    
                                    </div>
                                </div>

                     


                                <div class="form-group">
                                
                                    <div class="col-sm-12">
                                     <input type="file" name="licenseimg" required />
                                    
                                    </div>
                                </div>

                               
                                

                                 
                                  <div class="row">
                                   
                                  <!--   <div class="col-sm-12">
                                        <button onclick="document.getElementById('form2').submit();document.getElementById('form1').submit();" class="btn btn-primary btn-md" style="margin:0 auto;border-radius: 5px;border: 1px solid #babf10;display: block;">
                                            Register</button>
                                     
                                    </div> -->
                                      <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary btn-md" style="margin:0 auto;border-radius: 5px;border: 1px solid #babf10;display: block;">
                                            Register</button>
                                     
                                    </div>
                                </div>

                          </form>
  
                            </div>
                        </div>
                   </div>
               </div>
           </div>
        </div>
   </div>
</div>
<script type="text/javascript">      
    $("#form2").submit(function(e) {
        var formData = new FormData($(this)[0]);
        $.ajax({
            url: "/registerinsert",
          //  url: "/signup",
            type: "POST",
            data: formData,
            async: false,
            success: function (msg) {
                //alert(msg)
                //location.reload(); // reloading page
                
            },

            cache: false,
            contentType: false,
            processData: false
        });

       // e.preventDefault();
       //window.location.reload(); = "/home";
    });
         
        </script>

  <script type="text/javascript">
         

    $("#form1").submit(function(e) {
     
        var formData = new FormData($(this)[0]);
        $.ajax({
            url: "/licenseimgupload",
          //  url: "/signup",
            type: "POST",
            data: formData,
            async: false,
            success: function (msg) {
                //alert(msg)
            },
            cache: false,
            contentType: false,
            processData: false
        });

       // e.preventDefault();
        //location.reload();

      //  window.location.reload(); = "/home"; 
    });
         
        </script>



   <div id="myModalforget" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="padding-top: 100px;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close-model-forget">
                    ×</button>
          <h4 class="modal-title">Please enter your registered email.</h4>
        </div>
        <form action="/forget" method="post" class="form-horizontal">
                    <% if(locals.errorforget) { %>
                     <div class="alert alert-danger">
                  <%= errorforget %> 

                </div>
                 
                         <% } %>

                       
                         <% if(locals.successforget) { %>
                     <div class="alert alert-success"><%= successforget %></div>
                          <% } %>

        <div class="modal-body">
         <div class="form-group">
             <div class="col-sm-12">
             <input type="email" name="username"  value="<%= locals.username || '' %>" class="form-control" placeholder="Enter Email" />
             </div>
        </div>
              <div class="row">
                 <div class="col-sm-12">
                 <button type="submit" class="datas btn btn-primary btn-md" style="margin:0 auto;display: block;"> Submit</button>
                  <br>
                 </div>
             </div>                     
        </div>

      </form>
        
      </div>
      
    </div>
  </div>

   <script type="text/javascript">

//     var form = document.getElementById("form-id");

// document.getElementById("sendreqlicense").addEventListener("click", function () {
//   form.submit();
// });
            
                // $("#sendreqlicense").on("click",function(){
                   
                //  $.ajax({
                //         url: "/consultimageupload",
                //         type: "POST",
                //         data:  data,
                //         success: function(response){
                //               //do action  
                //               console.log(response);
                //         },
                //         error: function(){
                //               // do action
                //         }
                //     });
                // });
        </script>



<script type="text/javascript">
       $('#password').hide();

$('#cpassword').hide();
$('#npassword').hide();
$('#pl-password').hide();
$('#pn-password').hide();
$('#pc-password').hide();



// Show the fake pass (because JS is enabled)
$('#fake_pass').show();
$('#nfake_pass').show();

$('#cfake_pass').show();

$('#pl-fake_pass').show();
$('#pn-fake_pass').show();
$('#pc-fake_pass').show();



// On focus of the fake password field
$('#fake_pass').focus(function(){
    $(this).hide(); //  hide the fake password input text
    $('#password').show().focus(); // and show the real password input password
});

$('#nfake_pass').focus(function(){
    $(this).hide(); //  hide the fake password input text
    $('#npassword').show().focus(); // and show the real password input password
});

$('#cfake_pass').focus(function(){
    $(this).hide(); //  hide the fake password input text
    $('#cpassword').show().focus(); // and show the real password input password
});

$('#pl-fake_pass').focus(function(){
    $(this).hide(); //  hide the fake password input text
    $('#pl-password').show().focus(); // and show the real password input password
});

$('#pn-fake_pass').focus(function(){
    $(this).hide(); //  hide the fake password input text
    $('#pn-password').show().focus(); // and show the real password input password
});

$('#pc-fake_pass').focus(function(){
    $(this).hide(); //  hide the fake password input text
    $('#pc-password').show().focus(); // and show the real password input password
});

// On blur of the real pass
$('#password').blur(function(){
    if($(this).val() == ""){ // if the value is empty, 
        $(this).hide(); // hide the real password field
        $('#fake_pass').show(); // show the fake password
    }
    // otherwise, a password has been entered,
    // so do nothing (leave the real password showing)
});

$('#npassword').blur(function(){
    if($(this).val() == ""){ // if the value is empty, 
        $(this).hide(); // hide the real password field
        $('#nfake_pass').show(); // show the fake password
    }
    // otherwise, a password has been entered,
    // so do nothing (leave the real password showing)
});

$('#cpassword').blur(function(){
    if($(this).val() == ""){ // if the value is empty, 
        $(this).hide(); // hide the real password field
        $('#cfake_pass').show(); // show the fake password
    }
    // otherwise, a password has been entered,
    // so do nothing (leave the real password showing)
});

$('#pl-password').blur(function(){
    if($(this).val() == ""){ // if the value is empty, 
        $(this).hide(); // hide the real password field
        $('#pl-fake_pass').show(); // show the fake password
    }
    // otherwise, a password has been entered,
    // so do nothing (leave the real password showing)
});

// ('#pn-password').blur(function(){
//     if($(this).val() == ""){ // if the value is empty, 
//         $(this).hide(); // hide the real password field
//         $('#pn-fake_pass').show(); // show the fake password
//     }
//     // otherwise, a password has been entered,
//     // so do nothing (leave the real password showing)
// });

// ('#pc-password').blur(function(){
//     if($(this).val() == ""){ // if the value is empty, 
//         $(this).hide(); // hide the real password field
//         $('#pc-fake_pass').show(); // show the fake password
//     }
//     // otherwise, a password has been entered,
//     // so do nothing (leave the real password showing)
// });

     </script>

  
  
 

           <!-- <section id="reviews">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading inverse sp-effect3">
                    <h1 style="color: #fff">For clinics</h1>
                    <div class="divider"></div>
                    <p>Simple yet powerful solutions that are built to grow your practice.
</p>
                   </div>

                     </div>
                    
                        <div class="col-lg-5 col-md-5">                    
                  <div class="newssss">
                    <div class="about-item">
                      <div class="panel-body" orign>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="datas media-heading">  50,000 doctors are able to manage their practice efficiently</h3>
                               
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="datas media-heading"> Offering premium experience to over 25 million patients</h3>
                           
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="datas media-heading"> Higher online visibility for doctors across 5 countries
</h3>
                              
                            </div>
                        </div>

                       

                         <div class="media feature">
                            
                            <div class="media-body">
                                <h3 class="datas-neww media-heading"> <button data-toggle="modal" data-target="#myModal" class="datas-btn btn btn-primary btn-md" style="color:#fff;border-color: #fff;border-radius: 5px;border: 1px solid #ffffff;">Know More</button></h3>
                              
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>
                    </div>
                   
                     <div class="col-lg-7 col-md-7">
                        <div class="">
                           
                        <div class="panel-body orign">
                        <div class="about-item">
                       <img src="img/clinic.jpg" class="img-responsive sp-effect5" alt="">
                        </div>
                        </div>
                        </div>
                    </div>
                   
                     
                  </div>
               
            </div>
        </section>
 <section id="features">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading sp-effect3">
                    <h1>For hospitals</h1>
                    <div class="divider"></div>
                    <p>Robust plug-and-play software solutions
</p>
                   </div>

                     </div>
                      <div class="col-lg-7 col-md-7">
                        <div class="">
                           
                        <div class="panel-body orign">
                        <div class="about-item">
                       <img src="img/hospital.jpg" class="img-responsive sp-effect5" alt="">
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">                    
                        <div class="newssss">
                             <div class="about-item">
                            <div class="panel-body" orign>
                            <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">  1,000+ hospitals</h3>
                               
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">  17+ countries</h3>
                           
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">28 Million patients managed</h3>
                              
                            </div>
                        </div>

                        
                        <div class="media feature">
                           
                            <div class="media-body">
                                <h3 class="datas-neww media-heading"> <button data-toggle="modal" data-target="#myModal" class="datas-btn btn btn-primary btn-md" style="border-radius: 5px;border: 1px solid #66cdcc;">Know More</button>
</h3>
                              
                            </div>
                        </div>
                            </div>

                            

                            </div>
                        </div>
                    </div>

                     
                     
                  </div>
               
            </div>
        </section>-->
       
      
               




    <!-- <div class="wrapper">


       <div id="wrapperss">
        <div class="overlay"></div>
    
       
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
          

            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="index"><h3 style="color: #fff;float: right;margin-top: 12px;">WORLD<b style="color: #fff;">EX</b></h3></a>
                </li>
                  <li><a href="#about"><span> <i class="fa fa-users" aria-hidden="true"></i> </span>    Services</a> </li>
                  <li><a href="#reviews"><span> <i class="fa fa-mobile" aria-hidden="true"></i> </span>     Shop</a></li>
                  <li><a href="#features"><span><i class="fa fa-user-md" aria-hidden="true"></i> </span>    Consult</a></li>
                  <li><a href="#getApp"><span><i class="fa fa-film" aria-hidden="true"></i></span>    Get App</a></li>
                 
 
            </ul>

                
           
        </nav>
       
                    <div id="page-content-wrapper" style="z-index: 100000000;">
                        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                            <span class="hamb-top"></span>
                            <span class="hamb-middle"></span>
                            <span class="hamb-bottom"></span>
                        </button>
                        

                    </div>
                




                  

    </div>-->
  
 

    

      
      
     


<!-- Large modal -->



    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<!-- <script type="text/javascript">
    
    $("#sendreqs").on("click", function () {

        alert("hii");
         $(window).load(function(){        
   $('#myModal11').modal('show');
    }); 

  
         
});
</script> -->

  <!--  <script type="text/javascript">
    
    $(".close-data").on("click", function () {

     location.assign('login');
    }); 

     
</script> -->

<script type="text/javascript">
   $(document).ready(function()
   {
    $("#forgotPass").click(function(){
        $("body").css("overflow-y", "hidden");
    });
});

//     $(document).ready(function()
//    {
//     $("#close-model-forget").click(function(){
   
//     //  $("body").css("overflow-y", "visible");
     

     

//     });
// });
 $(document).ready(function()
   {
    $(".modal-open").click(function(){
   
      $("body").css("overflow-y", "hidden");
      $("body").css("padding-right","0px !important");
     

     

    });
    
});


    $("body").click(function(){
    $(this).css("padding-right","");//used rotate to see the effect
});
    $(".modal-open").click(function(){
    $(this).css("padding-right","0px !important");//used rotate to see the effect
});

    

   

 </script>





      <script type="text/javascript">
       
//        $(document).ready(function () {
//   var trigger = $('.hamburger'),
//       overlay = $('.overlay'),
//      isClosed = false;

//     trigger.click(function () {
//       hamburger_cross();      
//     });

//     function hamburger_cross() {

//       if (isClosed == true) {          
//         overlay.hide();

//         trigger.removeClass('is-open');

//         trigger.addClass('is-closed');
//         isClosed = false;
//       } else {   
//         overlay.show();
//         trigger.removeClass('is-closed');
//         trigger.addClass('is-open');
//         isClosed = true;
//       }
//   }
  
//   $('[data-toggle="offcanvas"]').click(function () {
//         $('#wrapperss').toggleClass('toggled');
//   });  
// });
    
  /*Menu-toggle*/
//     $("#menu-toggle").click(function(e) {
//         e.preventDefault();
//   e.stopPropagation()
//         //  $(this).toggleClass('open');
//           $("i", this).toggleClass("fa fa-bars fa fa-close");

//         $("#wrapper").toggleClass("active");


      
//         //alert(1);

//     });

// // added code

// // $('body,html').click(function(e){
// //         // alert('call'); 
// //         $(this).find($("#hambgr")).removeClass('fa fa-toggle-on').addClass('fa fa-toggle-off');

// //        $("#wrapper").removeClass("active");
// // });  
// // added code
// $('#hpage').click(function(e){
//        //  alert('call'); 


//        $("#hambgr").removeClass('fa fa-close').addClass('fa fa-bars');
//        $("#wrapper").removeClass("active");
// }); 




</script>

 
    <!-- <script src="/assets_home/js/bootstrap.min.js"></script>   -->
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>    
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.plugins.min.js">
    </script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>    
    <script src="/assets_home/js/waypoints.min.js"></script>
    <script src="/assets_home/js/scripts.js"></script>   
    <script>
        $(document).ready(function() {
            appMaster.preLoader();
        });

 </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>
  
    <script type="text/javascript">
      $(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {

      hamburger_cross();  
     
    });

    function hamburger_cross() {

      if (isClosed == true) {   
       // alert("close sidebar");       
        overlay.hide();
        $("#sidebar-wrapper").css("width", "0");
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else{
     // alert("open sidebar");   
        overlay.show();
        $("#sidebar-wrapper").css("width", "250");
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      } 
  }

  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  

$('#hpage').click(function(e){
         if (isClosed == true) {   
        // alert("true");   
        //alert("close divison sidebar");      
        overlay.hide();
        $("#sidebar-wrapper").css("width", "0");
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        
        isClosed = false;
      } 
}); 

      
});
    </script>
 <script>
        var cart = [];
        $(function () {
            if (localStorage.cart)
            {
                cart = JSON.parse(localStorage.cart);
                showCart();
            }
            if (cart.length == 0 || cart.length == null) {
              //alert(cart.length);
              document.getElementById("totalprice").textContent= "0";
              document.getElementById("totalprices").textContent= "0";

              
            }
        });

        function addToCart() {
            var price = $("#productprice").text();
            var name = $("#productname").text();
            var productcategory = $("#productcategory").text();
            
            var qty = $("#qty").val();
            var total= 0;

            // update qty if product is already present
            for (var i in cart) {
                if(cart[i].Product == name)
                {
                    cart[i].Price = price;
                    cart[i].Qty = qty;
                    cart[i].Total = total;
                    showCart();
                    saveCart();
                    return;
                }
            }
            // create JavaScript Object
            var item = { Product: name,  Price: price, Qty: qty, Total : total }; 

            cart.push(item);
            saveCart();
            showCart();
        }

        function deleteItem(index){
            cart.splice(index,1); // delete item at index
            showCart();
            saveCart();
        }

        function saveCart() {
            if ( window.localStorage)
            {
                localStorage.cart = JSON.stringify(cart);

            }
        }

        function showCart() {
            if (cart.length == 0) {
                $("#cart").css("visibility", "hidden");
               // document.getElementById("totalitem").textContent= "0";
                document.getElementById("totalprice").textContent= "0";
                document.getElementById("totalprices").textContent= "0";
                return;
            }
            
           

            $("#cart").css("visibility", "visible");
            $("#cartBody").empty();

            //document.getElementById("totalitem").textContent=cart.length;


              var total= 0;
            for (var i in cart) {
                var item = cart[i];
               
                var total = total + item.Qty * item.Price;
                //alert(total);
                 document.getElementById("totalprice").textContent=parseFloat(Math.round(total * 100) / 100).toFixed(2);
                  document.getElementById("totalprices").textContent= parseFloat(Math.round(total * 100) / 100).toFixed(2);
                var row = "<tr><td>" + item.Product + "</td><td>" +
                             item.Price + "</td><td>" + item.Qty + "</td><td>"
                             + "$"+ item.Qty * item.Price + "</td><td>" +  total + "</td><td>"
                             + "<button onclick='deleteItem(" + i + ")'>Delete</button></td></tr>";
                $("#cartBody").append(row);
            }
        }
    </script>


    

 
   

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<script type="text/javascript">
    
    $(".close-data").on("click", function () {
    location.assign('index');
});
</script>



      <script type="text/javascript">
   
       
 /*Menu-toggle*/
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
  e.stopPropagation()
        //  $(this).toggleClass('open');
 $("i", this).toggleClass("fa fa-bars fa fa-close");
        $("#wrapper").toggleClass("active");


      
        //alert(1);

    });

// added code



// $('body,html').click(function(e){
//         // alert('call'); 
//         $(this).find($("#hambgr")).removeClass('fa fa-toggle-on').addClass('fa fa-toggle-off');

//        $("#wrapper").removeClass("active");
// });  


        
$('#hpage').click(function(e){
        // alert('call'); 
       $("#hambgr").removeClass('fa fa-close').addClass('fa fa-bars');

       $("#wrapper").removeClass("active");
});  
// added code




</script>

 

    <script type="text/javascript">
    /*  $('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $(this).attr('href') ).offset().top
    }, 500);
    return false;
});*/
// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
    </script>
     <!--  <script src="/assets_home/js/jquery-1.11.1.min.js"></script>  -->
     <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>  -->
   <!-- <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>-->
    <!--<script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script>-->   
      <script>
        $(document).ready(function() {
            appMaster.preLoader();
        });

 </script>
     
</body>

</html>


<script type="text/javascript">
         $(window).load(function(){        
   $('#myModalforget').modal('show');
    });
</script>
    




<script type="text/javascript">
    
    $("#close").on("click", function () {
    window.location = "/home";
});
</script>
<script type="text/javascript">
   $(document).ready(function()
   {
  $('#myModalforget').modal
  ({
    backdrop: 'static',
    keyboard: false
  })
  });
</script>