    <%- include partials/header %>

<div class="row-fluid">
  <img src="/assets/img/shopping.gif" class="img-responsive">

    
 </div> 

<style type="text/css">
  
  .newclass {
    display: block!important; 
  }
</style>
<div class="container" style="padding-top: 60px;">
  <div class="row">
    <div class="col-xs-12">

            <h4 style="text-align: center;">Please Reset Your Password</h4>

            <form action="/forget_resetpassword" method="post">


          <div class="form-group">
            <label class="control-label">New Password</label>
             <input maxlength="100" type="password" class="form-control newclass" id="npassword" name="npassword" required="required"/>
          </div> 

           <div class="form-group">
            <label class="control-label">Confirm Password</label>
             <input maxlength="100" type="password" class="form-control newclass" id="cpassword" name="cpassword" required="required"/>
          </div>  

           <button class="datas btn btn-primary btn-md" type="submit" style="margin:0 auto;display:block;margin-bottom:5px;border-radius: 50px !important;line-height: 30px;">Update</button>

         </form>
          
  </div>
</div>
</div>
  

    <%- include partials/footer %>
