﻿<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
  <head>
      <!-- Site Title -->
      <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
        <title><%= loadwebsitedata[i].webName %></title>
      <% } %>
      <meta name="format-detection" content="telephone=no"/>
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
      <!-- Stylesheets -->
      <script src="/js2/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
      <link rel="icon" href="/images1/favicon.ico" type="image/x-icon">
      <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7CExo+2:400,700,900,600,300%7CPT+Sans:400,700%7CRoboto:400,300,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/css1/style.css">
  </head>
  <body>
    <!-- The Main Wrapper -->
    <div class="page">

        <!--For older internet explorer-->
        <div class="old-ie" style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
          <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="/images1/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
          </a>
        </div>
        <!--END block for older internet explorer-->

        <!--========================================================
                                  HEADER
        =========================================================-->
        <header class="page-header bg"  style="height: 80px;">
          <!-- RD Navbar -->
          <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
              <div class="rd-navbar-inner">

                <!-- RD Navbar Panel -->
                <div class="rd-navbar-panel">

                  <!-- RD Navbar Toggle -->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                  <!-- END RD Navbar Toggle -->
                  <!-- RD Navbar Brand -->
                  <div class="rd-navbar-brand">
                    <a class="newlogocss" href="/home" style="color: #000;text-decoration: none;">
                      <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>

                      <img src="/uploads/logo/<%= loadwebsitedata[i].img.originalname %>" name="originalname" class="img-responsive finalimageeee" style="height: 30px; width: 65px;margin-top: -20px;margin-left: 12px;">
                      <% } %>

                    </a>
                  </div>
                  <!-- END RD Navbar Brand -->

                  <button class="rd-navbar-toggle list" data-rd-navbar-toggle=".rd-navbar-inline-list"><span></span></button>
                </div>
                <!-- END RD Navbar Panel -->

                <div class="rd-navbar-nav-wrap">

                  <!-- RD Navbar Nav -->
                  <ul class="rd-navbar-nav">

                    <li class="active">
                      <a href="/index4">Home</a>
                    </li>

                    <li>
                      <a href="#">Autoparts</a>
                      <!-- RD Navbar Dropdown -->
                      <ul class="rd-navbar-dropdown">
                        <% for (var i = 0; i < loadcategorydata.length; i++) if(loadcategorydata[i].status == "0") { %>
                        <li>
                          <a href="/productLanding?cat=<%= loadcategorydata[i].categoryName %>"><%= loadcategorydata[i].categoryName %></a>
                          <ul class="rd-navbar-dropdown">
                            <% for (var l = 0; l < loadsubcategorydata.length; l++) 
                            if(loadsubcategorydata[l].status == "0" 
                            && 
                            loadsubcategorydata[l].categoryId == loadcategorydata[i].categoryName) { %>

                            <li>
                              <a href="productLanding?cat=<%= loadcategorydata[i].categoryName %>&subcat=<%= loadsubcategorydata[l].subcategoryName %>"><%= loadsubcategorydata[l].subcategoryName %></a>
                              <ul class="rd-navbar-dropdown">

                                <% for (var t = 0; t < secondsubcategorydata.length; t++) 
                                if(secondsubcategorydata[t].status == "0"
                                && 
                                secondsubcategorydata[t].categoryId == loadcategorydata[i].categoryName 
                                && 
                                secondsubcategorydata[t].subcategoryId == loadsubcategorydata[l].subcategoryName) { %>

                                <li>
                                  <a href="productLanding?cat=<%= loadcategorydata[i].categoryName %>&subcat=<%= loadsubcategorydata[l].subcategoryName %>&secondsubcat=<%= secondsubcategorydata[t].SecondsubcategoryName %>"><%= secondsubcategorydata[t].SecondsubcategoryName %></a>
                                  <ul class="rd-navbar-dropdown">

                                    <% for (var n = 0; n < loadthirdsubcategory.length; n++) 
                                    if(loadthirdsubcategory[n].status == "0" 
                                    && 
                                    loadthirdsubcategory[n].catNamedata == loadcategorydata[i].categoryName 
                                    && 
                                    loadthirdsubcategory[n].subcatNamedata == loadsubcategorydata[l].subcategoryName 
                                    && 
                                    loadthirdsubcategory[n].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName
                                    &&
                                    loadthirdsubcategory[n].secondsubcatNamedata == loadthirdsubcategory[n].parentdata
                                    ){ %>

                                    <li>
                                      <a href="productLanding?cat=<%= loadcategorydata[i].categoryName %>&subcat=<%= loadsubcategorydata[l].subcategoryName %>&secondsubcat=<%= secondsubcategorydata[t].SecondsubcategoryName %>&thirdsubcat=<%= loadthirdsubcategory[n].CategoryName %>"><%= loadthirdsubcategory[n].CategoryName %></a>
                                     <ul class="rd-navbar-dropdown dd">
                                        
                                        <% for (var s = 0; s < loadthirdsubcategory.length; s++) 
                                          if(loadthirdsubcategory[s].status == "0" 

                                          && 
                                          loadthirdsubcategory[s].catNamedata == loadcategorydata[i].categoryName

                                          && 
                                          loadthirdsubcategory[s].subcatNamedata == loadsubcategorydata[l].subcategoryName 

                                          && 
                                          loadthirdsubcategory[s].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName

                                          &&
                                          loadthirdsubcategory[s].secondsubcatNamedata != loadthirdsubcategory[n].parentdata
                                          )

                                          { %>

                                          <a href="productLanding?cat=<%= loadcategorydata[i].categoryName %>&subcat=<%= loadsubcategorydata[l].subcategoryName %>&secondsubcat=<%= secondsubcategorydata[t].SecondsubcategoryName %>&thirdsubcat=<%= loadthirdsubcategory[n].CategoryName %>&parentdata=<%= loadthirdsubcategory[s].CategoryName %><"><li><%= loadthirdsubcategory[s].CategoryName %></li></a>
                                        <% } %>
                                  
                                      </ul>
                                    </li>
                                    
                                    <%  }  %>
                                  </ul>
                                </li>
                                <% } %>
                              </ul>
                            </li>                     
                            <% } %>
                          </ul>
                        </li>
                        <% } %>
                      </ul>
                      <!-- END RD Navbar Dropdown -->
                    </li>
                    
                    <li class="float-right">

                        <% if (user.local.email){ %>

                        <a style="margin-left: 874px; margin-top: -25px;" href="#"><%= user.firstName %></a>

                          <% } else if (user.google.token) { %> 

                        <a style="margin-left: 874px; margin-top: -25px;" href="#"><%= user.google.name %></a>  

                          <% } else { %>

                        <a style="margin-left: 874px; margin-top: -25px;" href="#">  <%= user.facebook.name %> </a>
                                   
                        <% } %>  
                        <!-- RD Navbar Dropdown -->
                        <ul class="rd-navbar-dropdown"  style="width: 180px;margin-left: 385px;margin-top: -17px;"">
                            <li><a href="account" class="sidetab"> My Account</a></li>
                            <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                            <li><a href="managewebsite" class="sidetab"> Website Managment</a></li>
                            <li><a href="managecategory" class="sidetab"> Category Managment</a></li>
                            <li><a href="manageunit" class="sidetab"> Unit Managment</a></li>
                            <li><a href="managesubcategory" class="sidetab"> SubCategory Managment</a></li>
                            <li><a href="managesecondsubcategory" class="sidetab">Second SubCategory Managment</a></li>
                            <li><a href="managethirdsubcategory" class="sidetab">Third SubCategory Managment</a></li>
                            <li><a href="product-list" class="sidetab">Part Managment</a></li>
                            <li><a href="purchase-list" class="sidetab">Purchase Managment</a></li>
                            <li><a href="sales-list" class="sidetab">Sales Managment</a></li>
                            <li><a href="supplier" class="sidetab">Supplier Managment</a></li>
                            <li><a href="admin" class="sidetab">User  Managment</a></li>
                            <li><a href="manageorder" class="sidetab"> Order Managment</a></li>
                         
                            <% } %>

                            <% if (user.user_role === 'user') { %>
                           
                            <% } %>

                            <% if (user.user_role === 'doctor') { %>
                      
                            <% } %>
                            <li><a href="/logout" class="sidetab"> Logout</a></li>
                        </ul>
                    </li>

                  </ul>
                   <!-- END RD Navbar Dropdown -->
                  </li>
                  </ul>
                  <!-- END RD Navbar Nav -->
                </div>
                
                <div class="rd-navbar-contact">
                  <ul class="nav navbar-nav visible-xs" style="display: none;background-color: #fff;margin-top: 0px; border-top : 0px !important";>
                      <!-- <br> -->
                        <li><a href="account" class="sidetab" style="color: #999;"> My Account</a></li>
                        <li><a class="sidetab" style="color: #999;" href="subscription"> My Subscription</a></li>
                        <li><a href="order" class="sidetab" style="color: #999;"> My Order</a></li>
                        <% if (user.user_role === 'admin') { %>
                        <li><a href="manageorder" class="sidetab" style="color: #999;"> Order Managment</a></li>
                        <li><a href="managetransaction" class="sidetab" style="color: #999;"> Transaction Managment</a></li>
                        <li><a href="symptom-admin" class="sidetab" style="color: #999;"> Symptom History</a></li>
                        <li><a href="product-list" class="sidetab" style="color: #999;"> Our Products</a></li>
                        <li><a href="admin" class="sidetab" style="color: #999;"> User Management</a></li>
                        <li><a href="add-symptoms" class="sidetab" style="color: #999;"> Add Symptoms</a></li>
                        <li><a href="manage-symptoms" class="sidetab" style="color: #999;"> Manage Symptoms</a></li>
                        <% } %>

                        <% if (user.user_role === 'user') { %>
                        
                          <% } %>

                        <% if (user.user_role === 'doctor') { %>
                           
                          <% } %>
                     <li><a href="/logout" class="sidetab" style="color: #999;"> Logout</a></li>
                  </ul>
                </div>

              </div>
            </nav>
          </div>
        </header>
        <!--========================================================
                                  CONTENT
        =========================================================-->
        <main class="page-content">

          <!-- THE best car deals -->
          <section class="well well-1 bg-image bg-image-1 bg-yellow-green">
            <div class="container">
              <h2 class="text-center">Auto Parts Deal</h2>
              <div class="row text-center flow-offset-1">
                 <% for (var j = 0; j < 11; j++) if(loadproductdata[j].productStatus == "1"){ %>
                <div class="col-sm-6 col-lg-4 wow fadeIn">
                  <div class="product">
                   <% if(loadproductdata[j].myimage != null){ %>
                    <img src="/uploads/product/<%= loadproductdata[j].myimage[0].originalname %>" width="370" height="231" alt="">
                    

                   <% } else {  %>
                    <img src="http://ec2-3-90-219-138.compute-1.amazonaws.com:2222/uploads/product/1.jpg" width="370" height="231" alt="">

                       
                  <% } %>
                    <a href="/productshops?id=<%= loadproductdata[j]._id %>" class="product-price heading-5"><%= loadproductdata[j].price %> /-</a>
                    <a href="productshops?id=<%= loadproductdata[j]._id %>" class="product-title heading-4"><%= loadproductdata[j].partName %></a>
                    <p class="product-caption">Code: <%= loadproductdata[j].code %> <br class="hidden visible-md-block">
                     <%= loadthirdsubcategory[j].catNamedata %> , <%= loadthirdsubcategory[j].subcatNamedata %> , <%= loadthirdsubcategory[j].secondsubcatNamedata %></p>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </section>
          <!-- END THE best car deals -->
          <!-- new cars -->
          <section class="well well-2">
            <div class="container text-center">
              <h2 class="wow fadeIn">product list</h2>
                <% for (var j = 0; j < loadproductdata.length; j++) if(loadproductdata[j].productStatus == "1"){ %>
                  <div class="row flow-offset-1 product-info">
                  <div class="col-lg-4 text-center text-md-left wow fadeInLeft">
                   <% if(loadproductdata[j].myimage != null){ %>
                    <img src="/uploads/product/<%= loadproductdata[j].myimage[0].originalname %>" width="370" height="231" alt="">
                    

                   <% } else {  %>
                    <img src="http://ec2-3-90-219-138.compute-1.amazonaws.com:2222/uploads/product/1.jpg" width="370" height="231" alt="">

                       
                  <% } %>
                  </div>
                  <div class="col-lg-8">
                    <div class="product-info-body text-center text-md-left">
                      <h3>
                        <a href="productshops?id=<%= loadproductdata[j]._id %>"><%= loadproductdata[j].partName %></a>
                      </h3>
                      <p class="heading-4 product-info-price">
                        <a href="productshops?id=<%= loadproductdata[j]._id %>"><%= loadproductdata[j].price %> /-</a>
                      </p>
                     <!--  <p>Brand: <%= loadproductdata[j].brand %></p> -->

                      <div class="row row-sm-justify">
                        <div class="col-sm-4 col-lg-3 text-sm-left">
                          <h6 class="text-capitalize">Stock Detail</h6>
                          <ul class="product-info-list text-sm-left ">
                            <li>Avilable : <%= loadproductdata[j].avilability %></li>
                            <li>Quantity : <%= loadproductdata[j].quantity %></li>
                            <li>Stock Quantity : <%= loadproductdata[j].stkQty %></li>
                            <li>Code : <%= loadproductdata[j].code %></li>
                          </ul>
                        </div>
                        <div class="col-sm-4 col-lg-5 text-sm-left">
                          <h6 class="text-capitalize preffix-1">Item Detail</h6>
                          <ul class="product-info-list text-sm-left preffix-1">
                           <% for (var i = 0; i < loadthirdsubcategory.length; i++) if(loadthirdsubcategory[i].parentdata == loadproductdata[j].parentdata) { %>
                            <li>Category : <%= loadthirdsubcategory[j].catNamedata %></li>
                            <li>Subcategory : <%= loadthirdsubcategory[j].subcatNamedata %></li>
                            <li>Inner Subcategory : <%= loadthirdsubcategory[j].secondsubcatNamedata %></li>
                            <li>Category Name : <%= loadthirdsubcategory[j].CategoryName %></li>
                            <li>Parent Data : <%= loadthirdsubcategory[j].parentdata %></li>
                            <% } %>
                          </ul>
                        </div>
                        <div class="col-sm-4 col-md-3">
                          <div class="inline-block">
                            <a href="productshops?id=<%= loadproductdata[j]._id %>" class="btn btn-md btn-sunglow wow fadeInRight">more details</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <% } %>
                <hr>
            </div>
          </section>
          <!-- END new cars -->
        </main>
        <!--========================================================
                                  FOOTER
        ==========================================================-->
        <footer class="page-footer">
          <div class="container text-center text-sm-left">
            <div class="row flow-offset-1">
              <div class="col-sm-6 col-md-preffix-1 col-md-2 col-sm-push-1 col-md-push-2">
                <ul class="list">
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="index-1.html">About</a></li>
                  <li><a href="index-2.html">Auto Parts</a></li>
                  <li><a href="index-3.html">News</a></li>
                  <li><a href="index-4.html">Contacts</a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-3  col-md-push-3 col-sm-push-2">
                <address class="contact-info">
                  <a href="#" class="address">4578 69 St, San Diego D04 89GR</a>
                  <div>
                    <a href="callto:#">1-800-1234-567</a>
                  </div>
                </address>
                <ul class="inline-list">
                  <li><a class="icon icon-sm icon-silver fa-facebook" href="#"></a></li>
                  <li><a class="icon icon-sm icon-silver fa-twitter" href="#"></a></li>
                  <li><a class="icon icon-sm icon-silver fa-instagram" href="#"></a></li>
                  <li><a class="icon icon-sm icon-silver fa-google-plus" href="#"></a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-2 col-sm-push-3 col-md-push-1">
                <!-- RD Navbar Brand -->
                <div class="rd-navbar-brand">
                  <a href="index.html" class="brand-name">
                  </a>
                </div>
                <!-- END RD Navbar Brand -->

                <p class="copyright">
                  © <span id="copyright-year"></span>
                  <a href='index-5.html'>Privacy Policy</a>
                  <!-- {%FOOTER_LINK} -->
                </p>
              </div>
            </div>
          </div>
        </footer>

    </div>

    <!-- Core Scripts -->
    <script src="/js2/core.min.js"></script>
    <!-- Additional Functionality Scripts -->
    <script src="/js2/script.js"></script> 
  </body>
</html>