﻿<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
<head>
  <!-- Site Title -->
  <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
    <title><%= loadwebsitedata[i].webName %></title>
    <% } %>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

  <!-- Stylesheets -->
  <script src="/js2/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
  <link rel="icon" href="/images1/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7CExo+2:400,700,900,600,300%7CPT+Sans:400,700%7CRoboto:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css1/style.css">

  <!--[if lt IE 10]>
  <script src="js/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
<!-- The Main Wrapper -->
<div class="page">

  <!--For older internet explorer-->
  <div class="old-ie"
       style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="/images1/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <!--END block for older internet explorer-->

  <!--========================================================
                            HEADER
  =========================================================-->
  <header class="page-header bg" style="height: 80px;">
    <!-- RD Navbar -->
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
        <div class="rd-navbar-inner">
          <!-- RD Navbar Panel -->
          <div class="rd-navbar-panel">

            <!-- RD Navbar Toggle -->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
            <!-- END RD Navbar Toggle -->


            <!-- RD Navbar Brand -->
            <div class="rd-navbar-brand">
             <a class="newlogocss" href="/home" style="color: #000;text-decoration: none;">
               <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
    <img src="/uploads/logo/<%= loadwebsitedata[i].img.originalname %>" name="originalname" class="img-responsive finalimageeee" style="height: 30px; width: 65px;margin-top: -23px;margin-left: 12px;">
    <% } %>
            </a>
            </div>
            <!-- END RD Navbar Brand -->

            <button class="rd-navbar-toggle list" data-rd-navbar-toggle=".rd-navbar-inline-list"><span></span></button>
          </div>
          <!-- END RD Navbar Panel -->

          <div class="rd-navbar-nav-wrap">

            <!-- RD Navbar Nav -->
            <ul class="rd-navbar-nav">
              <li class="active">
                <a href="/home">Home</a>
              </li>
              <li>
                <a href="#">Autoparts</a>
                <!-- RD Navbar Dropdown -->
                <ul class="rd-navbar-dropdown">
                   <% for (var i = 0; i < loadcategorydata.length; i++) if(loadcategorydata[i].status == "0") { %>
                  <li>
                    <a href="#"><%= loadcategorydata[i].categoryName %></a>
                    <ul class="rd-navbar-dropdown">
                       <% for (var l = 0; l < loadsubcategorydata.length; l++) if(loadsubcategorydata[l].status == "0" && loadsubcategorydata[l].categoryId == loadcategorydata[i].categoryName) { %>
                      <li>
                        <a href='#'><%= loadsubcategorydata[l].subcategoryName %></a>
                        <ul class="rd-navbar-dropdown">
                          <% for (var t = 0; t < secondsubcategorydata.length; t++) if(secondsubcategorydata[t].status == "0" && secondsubcategorydata[t].categoryId == loadcategorydata[i].categoryName && secondsubcategorydata[t].subcategoryId == loadsubcategorydata[l].subcategoryName) { %>
                            <li>
                            <a href='#'><%= secondsubcategorydata[t].SecondsubcategoryName %></a>
                            <ul class="rd-navbar-dropdown">
                              <% for (var n = 0; n < loadthirdsubcategory.length; n++) if(loadthirdsubcategory[n].status == "0" && loadthirdsubcategory[n].catNamedata == loadcategorydata[i].categoryName && loadthirdsubcategory[n].subcatNamedata == loadsubcategorydata[l].subcategoryName && loadthirdsubcategory[n].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName) { %>

                               <% for (var d = 0; d < loadthirdsubcategory.length; d++) if( loadthirdsubcategory[n].CategoryName != loadthirdsubcategory[d].parentdata){ %>
                                <li>
                                  <a href='#'><%= loadthirdsubcategory[d].CategoryName %></a>
                                  <ul class="rd-navbar-dropdown">
                                   <% for (var s = 0; s < loadthirdsubcategory.length; s++) if( loadthirdsubcategory[d].CategoryName == loadthirdsubcategory[s].parentdata){ %>
                                     <li><%= loadthirdsubcategory[s].CategoryName %></li>
                                  <% } %>
                                  </ul>
                                </li> 
                               <% } break;  %>
                               <% } %>
                           </ul>
                            </li>
                          <% } %>

                        </ul>
                      </li>                     
                      <% } %>
                    </ul>
                  </li>
               <% } %>
                </ul>
                <!-- END RD Navbar Dropdown -->
              </li>
               <li style="float: right;">
                 <% if (user.local.email){ %>

                             <a href="#"><%= user.firstName %></a>

                               <% } else if (user.google.token) { %> 

                            <a href="#"><%= user.google.name %></a>       
                                    <% } else { %>

                            <a href="#">  <%= user.facebook.name %> </a>
                                   
                                      <% } %>  
                <!-- RD Navbar Dropdown -->
                <ul class="rd-navbar-dropdown"  style="width: 180px;height: 600px;overflow-y: scroll;">
                  <li><a href="account" class="sidetab"> My Account</a></li>
                   <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                     <li><a href="managewebsite" class="sidetab"> Website Managment</a></li>
                     <li><a href="managecategory" class="sidetab"> Category Managment</a></li>
                      <li><a href="manageunit" class="sidetab"> Unit Managment</a></li>
                       <li><a href="managesubcategory" class="sidetab"> SubCategory Managment</a></li>
                      <li><a href="managesecondsubcategory" class="sidetab">Second SubCategory Managment</a></li>
                      <li><a href="managethirdsubcategory" class="sidetab">Third SubCategory Managment</a></li>
                      <li><a href="product-list" class="sidetab">Part Managment</a></li>
                      <li><a href="purchase-list" class="sidetab">Purchase Managment</a></li>
                       <li><a href="sales-list" class="sidetab">Sales Managment</a></li>
                      <li><a href="supplier" class="sidetab">Supplier Managment</a></li>
                      <li><a href="admin" class="sidetab">User  Managment</a></li>
                      <li><a href="manageorder" class="sidetab"> Order Managment</a></li>
                   
                    <% } %>
                   <% if (user.user_role === 'user') { %>
                   
                     <% } %>
                   <% if (user.user_role === 'doctor') { %>
                
                      <% } %>
                   <li><a href="/logout" class="sidetab"> Logout</a></li>
                        
                                </ul>
                              </li>
                   
                </ul>
                <!-- END RD Navbar Dropdown -->
              </li>
              
            </ul>
            <!-- END RD Navbar Nav -->
          </div>

         <!--  <ul class="rd-navbar-inline-list">
            <li><a class="icon icon-sm icon-silver fa-facebook" href="#"></a></li>
            <li><a class="icon icon-sm icon-silver fa-twitter" href="#"></a></li>
            <li><a class="icon icon-sm icon-silver fa-instagram" href="#"></a></li>
            <li><a class="icon icon-sm icon-silver fa-google-plus" href="#"></a></li>
          </ul> -->
          <div class="rd-navbar-contact">
            <ul class="nav navbar-nav visible-xs" style="display: none;background-color: #fff;margin-top: 0px; border-top : 0px !important";>

                  <!-- <li>
                    <a class="sidetab " href="health-provider" style="padding: 0px;margin-left: 15px!important;padding-right: 20px !important;">
                        &nbsp;&nbsp;<span>Certified Practitioners
                        </span>
                    </a>
                </li> -->
                  <!-- <br> -->
                <li><a href="account" class="sidetab" style="color: #999;"> My Account</a></li>
                      <li><a class="sidetab" style="color: #999;" href="subscription" > My Subscription</a></li>
                     <li><a href="order" class="sidetab" style="color: #999;"> My Order</a></li>
                   <% if (user.user_role === 'admin') { %>
                    <li><a href="manageorder" class="sidetab" style="color: #999;"> Order Managment</a></li>
                    <li><a href="managetransaction" class="sidetab" style="color: #999;"> Transaction Managment</a></li>
                    <li><a href="symptom-admin" class="sidetab" style="color: #999;"> Symptom History</a></li>
                    <li><a href="product-list" class="sidetab" style="color: #999;"> Our Products</a></li>
                     <li><a href="admin" class="sidetab" style="color: #999;"> User Management</a></li>
                     <li><a href="add-symptoms" class="sidetab" style="color: #999;"> Add Symptoms</a></li>
                     <li><a href="manage-symptoms" class="sidetab" style="color: #999;"> Manage Symptoms</a></li>
                    <% } %>
                   <% if (user.user_role === 'user') { %>
                   <!--   <li><a href="consult" class="sidetab" style="color: #999;" > My Consultations</a></li>
                     <li><a href="symptom-user" class="sidetab" style="color: #999;"> Symptom History</a></li> -->
                     <% } %>
                   <% if (user.user_role === 'doctor') { %>
                     <!--  <li><a href="review-consult" class="sidetab" style="color: #999;"> Review Consultations</a></li>
                      <li><a href="symptom-all" class="sidetab" style="color: #999;"> Symptom History</a></li> -->
                      <% } %>
                   <li><a href="/logout" class="sidetab" style="color: #999;"> Logout</a></li>

                               
                   
        </ul>

          </div>

        </div>
      </nav>
    
    </div>
    <!-- END RD Navbar -->

    <div class="container">
      <div class="row">
       <!--  <div class="col-md-6">
          <h1 class="text-center">Finding just <br class="hidden visible-lg-block">
            the car you need</h1>
          <div class="text-center offset-1">
            <div class="box-1 box-1-offset-1 text-center">
              <div class="box-1-top">
                <span class="icon icon-xl icon-yellow-green car-repire-icon-key-outline "></span>
              </div>
              <div class="box-1-bottom">
                <h6 class="line-height-auto text-capitalize text-regular">Car From <br class="hidden visible-md-block">
                  the Owner</h6>
              </div>
            </div>
            <div class="box-1 box-1-inset-1 text-center">
              <div class="box-1-top ">
                <span class="icon icon-lg icon-yellow-green fa-money "></span>
              </div>
              <div class="box-1-bottom">
                <h6 class="line-height-auto text-capitalize text-regular">No Commission</h6>
              </div>
            </div>
            <div class="box-1 box-1-offset-1 text-center">
              <div class="box-1-top ">
                <span class="icon icon-xl icon-yellow-green car-repire-icon-33"></span>
              </div>
              <div class="box-1-bottom">
                <h6 class="line-height-auto text-capitalize text-regular">Car Repair <br
                    class="hidden visible-md-block">
                  Services</h6>
              </div>
            </div>
          </div>
        </div> -->
      <!--   <div class="col-md-6">
          <div class="responsive-tabs search-form">
            <ul class="resp-tabs-list search-form-list">
              <li class="heading-5"> buy a car</li>
              <li class="heading-5">sell my car </li>
            </ul>
            <div class="resp-tabs-container">
              <div>
                <div class="search-form-body">
                <form class='rd-mailform' method="post" action="bat/rd-mailform.php">
                  <input type="hidden" name="form-type" value="contact"/>
                  <fieldset>
                    <div class="row">
                      <div class="col-md-6">
                        <h6 class="text-none text-regular">Make</h6>
                        <label class="z-104" data-add-placeholder>
                          <select name="gender">
                            <option>All Makes</option>
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </label>
                      </div>
                      <div class="col-md-6">
                        <h6 class="text-none text-regular">Model</h6>
                        <label class="z-103" data-add-placeholder>
                          <select name="gender">
                            <option>All Models</option>
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <h6 class="text-none text-regular">Body Type</h6>
                        <label class="z-102" data-add-placeholder>
                          <select name="gender">
                            <option>All Body Types</option>
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </label>
                      </div>
                      <div class="col-md-6">
                        <h6 class="text-none text-regular">Region</h6>
                        <label class="" data-add-placeholder>
                          <select name="gender">
                            <option>All Regions</option>
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-6 inset-1">
                            <h6 class="text-none text-regular">Min Year</h6>
                            <label data-add-placeholder>
                              <input type="text"
                                     name="name"
                                     placeholder=""
                                     data-constraints=""/>
                            </label>
                          </div>
                          <div class="col-md-6 inset-2">
                            <h6 class="text-none text-regular">Max Year</h6>
                            <label data-add-placeholder>
                              <input type="text"
                                     name="name"
                                     placeholder=""
                                     data-constraints=""/>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-6 inset-1">
                            <h6 class="text-none text-regular">Min Price</h6>
                            <label data-add-placeholder>
                              <input type="text"
                                     name="name"
                                     placeholder=""
                                     data-constraints=""/>
                            </label>
                          </div>
                          <div class="col-md-6 inset-2">
                            <h6 class="text-none text-regular">Max Price</h6>
                            <label data-add-placeholder>
                              <input type="text"
                                     name="name"
                                     placeholder=""
                                     data-constraints=""/>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row row-xs-middle offset text-center">
                      <div class="col-lg-6">
                        <a class="btn btn-xl btn-sunglow" href="#">find a car</a>
                      </div>
                      <div class="col-lg-6 offset">
                        <a class="link link-md link-default" href="#">Detailed Search</a>
                      </div>
                    </div>


                  </fieldset>
                </form>
              </div>
              </div>
              <div>
                <div class="search-form-body">
                <form class='rd-mailform' method="post" action="bat/rd-mailform.php">
                  <input type="hidden" name="form-type" value="contact"/>
                  <fieldset>
                    <div class="row">
                      <div class="col-md-6">
                        <h6 class="text-none text-regular">Model</h6>
                        <label class="z-103" data-add-placeholder>
                          <select name="gender">
                            <option>All Models</option>
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </label>
                      </div>
                      <div class="col-md-6">
                        <h6 class="text-none text-regular">Make</h6>
                        <label class="z-104" data-add-placeholder>
                          <select name="gender">
                            <option>All Makes</option>
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <h6 class="text-none text-regular">Region</h6>
                        <label class="" data-add-placeholder>
                          <select name="gender">
                            <option>All Regions</option>
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </label>
                      </div>
                      <div class="col-md-6">
                        <h6 class="text-none text-regular">Body Type</h6>
                        <label class="z-102" data-add-placeholder>
                          <select name="gender">
                            <option>All Body Types</option>
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-6 inset-1">
                            <h6 class="text-none text-regular">Min Price</h6>
                            <label data-add-placeholder>
                              <input type="text"
                                     name="name"
                                     placeholder=""
                                     data-constraints=""/>
                            </label>
                          </div>
                          <div class="col-md-6 inset-2">
                            <h6 class="text-none text-regular">Max Price</h6>
                            <label data-add-placeholder>
                              <input type="text"
                                     name="name"
                                     placeholder=""
                                     data-constraints=""/>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-6 inset-1">
                            <h6 class="text-none text-regular">Min Year</h6>
                            <label data-add-placeholder>
                              <input type="text"
                                     name="name"
                                     placeholder=""
                                     data-constraints=""/>
                            </label>
                          </div>
                          <div class="col-md-6 inset-2">
                            <h6 class="text-none text-regular">Max Year</h6>
                            <label data-add-placeholder>
                              <input type="text"
                                     name="name"
                                     placeholder=""
                                     data-constraints=""/>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row row-xs-middle offset text-center">
                      <div class="col-lg-6">
                        <a class="btn btn-xl btn-sunglow" href="#">find a car</a>
                      </div>
                      <div class="col-lg-6 offset">
                        <a class="link link-md link-default" href="#">Detailed Search</a>
                      </div>
                    </div>


                  </fieldset>
                </form>
              </div>
              </div>
            </div>
          </div>
        
        </div>  -->
      </div>
    </div>
  </header>
  <!--========================================================
                            CONTENT
  =========================================================-->
  <main class="page-content">

    <!-- THE best car deals -->
    <section class="well well-1 bg-image bg-image-1 bg-yellow-green">
      <div class="container">
        <h2 class="text-center">Auto Parts Deal</h2>
        <div class="row text-center flow-offset-1">
           <% for (var j = 0; j < loadproductdata.length; j++){ %>
          <div class="col-sm-6 col-lg-4 wow fadeIn">
            <div class="product">
              <img src="/uploads/product/<%= loadproductdata[j].myimage[0].originalname %>" width="370" height="231" alt="">
              <a href="#" class="product-price heading-5">$<%= loadproductdata[j].price %></a>
              <a href="#" class="product-title heading-4"><%= loadproductdata[j].brand %></a>
              <p class="product-caption">Code: <%= loadproductdata[j].code %> <br class="hidden visible-md-block">
               <%= loadthirdsubcategory[j].catNamedata %> , <%= loadthirdsubcategory[j].subcatNamedata %> , <%= loadthirdsubcategory[j].secondsubcatNamedata %></p>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <!-- END THE best car deals -->

    <!-- new cars -->
    <section class="well well-2">
      <div class="container text-center">
        <h2 class="wow fadeIn">product list</h2>
         <% for (var j = 0; j < loadproductdata.length; j++){ %>
        <div class="row flow-offset-1 product-info">
          <div class="col-lg-4 text-center text-md-left wow fadeInLeft">
            <img src="/uploads/product/<%= loadproductdata[j].myimage[0].originalname %>" width="370" height="274" alt="">

          </div>
          <div class="col-lg-8">
            <div class="product-info-body text-center text-md-left">
              <h3>
                <a href="#"><%= loadproductdata[j].partName %></a>
              </h3>
              <p class="heading-4 product-info-price">
                <a href="#"> $<%= loadproductdata[j].price %></a>
              </p>
              <p>Brand: <%= loadproductdata[j].brand %></p>

              <div class="row row-sm-justify">
                <div class="col-sm-4 col-lg-3 text-sm-left">
                  <h6 class="text-capitalize">Stock Detail</h6>
                  <ul class="product-info-list text-sm-left ">
                    <li>Avilable : <%= loadproductdata[j].avilability %></li>
                    <li>Quantity : <%= loadproductdata[j].quantity %></li>
                    <li>Stock Quantity : <%= loadproductdata[j].stkQty %></li>
                    <li>Code : <%= loadproductdata[j].code %></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-lg-5 text-sm-left">
                  <h6 class="text-capitalize preffix-1">Item Detail</h6>
                  <ul class="product-info-list text-sm-left preffix-1">
                   <% for (var i = 0; i < loadthirdsubcategory.length; i++) if(loadthirdsubcategory[i].parentdata == loadproductdata[j].parentdata) { %>
                    <li>Category : <%= loadthirdsubcategory[j].catNamedata %></li>
                    <li>Subcategory : <%= loadthirdsubcategory[j].subcatNamedata %></li>
                    <li>Inner Subcategory : <%= loadthirdsubcategory[j].secondsubcatNamedata %></li>
                    <li>Category Name : <%= loadthirdsubcategory[j].CategoryName %></li>
                    <li>Parent Data : <%= loadthirdsubcategory[j].parentdata %></li>
                    <% } %>
                  </ul>
                </div>
                <div class="col-sm-4 col-md-3">
                  <div class="inline-block">

                    <!-- <ul class="product-info-list-1">
                      <li>
                        <div class="box">
                          <div class="box__left box__middle">
                            <span class="icon icon-xs icon-default fa-calendar"></span>
                          </div>
                          <div class="box__body box__middle">
                            Listed 5 days
                          </div>
                        </div>

                      </li>
                      <li>
                        <div class="box">
                          <div class="box__left box__middle">
                            <span class="icon icon-xs icon-default fa-eye"></span>
                          </div>
                          <div class="box__body box__middle">
                            14 Views
                          </div>
                        </div>

                      </li>
                      <li>
                        <div class="box">
                          <div class="box__left box__middle">
                            <span class="icon icon-xs icon-default fa-comment-o"></span>
                          </div>
                          <div class="box__body box__middle">
                            0 Inquiries
                          </div>
                        </div>

                      </li>
                    </ul> -->
                    <a href="#" class="btn btn-md btn-sunglow wow fadeInRight">more details</a>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>
         <% } %>
        <hr>
       
        
<!--         <a href="#" class="btn btn-lg btn-yellow-green">more cars</a>
 -->      </div>
    </section>
    <!-- END new cars -->

    <!-- the latest car news -->
    <!-- <section class="well well-2 bg-black-haze">
      <div class="container">
        <h2 class="wow fadeIn">the latest car news</h2>
        <div class="row row-xs-center flow-offset-2 wow fadeIn">
          <div class="col-xs-10 col-sm-6 col-lg-4">
            <article class="news-post">
              <img src="images1/page-01_img13.jpg" width="370" height="230" alt="">
              <div class="box">
                <div class="box__left box__left-1  box__middle">
                  <span class="icon icon-xs-1 icon-silver fa-calendar"></span>
                </div>
                <div class="box__body box__middle small">
                  April 15, 2015
                </div>
              </div>
              <div class="box">
                <div class="box__left box__left-2  box__middle">
                  <span class="icon icon-xs-2 icon-silver fa-clock-o"></span>
                </div>
                <div class="box__body box__middle small">
                  15:00
                </div>
              </div>
              <h5><a href="#">Real world car emissions data <br class="hidden visible-lg-block">
                to be available from 2016</a></h5>
              <p>From 2016 onwards a new initiative by analytics firm, Emissions Analytics, will allow consumers to
                identify and compare real-world emissions of new cars sold. <a href="#"
                                                                               class="link link-md link-primary">Read
                  more...</a>
              </p>
            </article>
          </div>
          <div class="col-xs-10 col-sm-6 col-lg-4 offset-2">
            <article class="news-post">
              <img src="images1/page-01_img14.jpg" width="370" height="230" alt="">
              <div class="box">
                <div class="box__left box__left-1  box__middle">
                  <span class="icon icon-xs-1 icon-silver fa-calendar"></span>
                </div>
                <div class="box__body box__middle small">
                  April 15, 2015
                </div>
              </div>
              <div class="box">
                <div class="box__left box__left-2  box__middle">
                  <span class="icon icon-xs-2 icon-silver fa-clock-o"></span>
                </div>
                <div class="box__body box__middle small">
                  15:00
                </div>
              </div>
              <h5><a href="#">Cashback deal for learner
                drivers would give a refund
                if you pass a driving test</a></h5>
              <p>The UK driving test looks set to receive the biggest shakedown in years, as proposals are underway to
                partially refund learners who pass their driving test, according to the Department of Transport.<a
                    href="#"
                    class="link link-md link-primary">Read more...</a>
              </p>
            </article>
          </div>
          <div class="col-xs-10 col-sm-6 col-lg-4 offset-2">
            <article class="news-post">
              <img src="images1/page-01_img15.jpg" width="370" height="230" alt="">
              <div class="box">
                <div class="box__left box__left-1  box__middle">
                  <span class="icon icon-xs-1 icon-silver fa-calendar"></span>
                </div>
                <div class="box__body box__middle small">
                  April 15, 2015
                </div>
              </div>
              <div class="box">
                <div class="box__left box__left-2  box__middle">
                  <span class="icon icon-xs-2 icon-silver fa-clock-o"></span>
                </div>
                <div class="box__body box__middle small">
                  15:00
                </div>
              </div>
              <h5><a href="#">Festival of Speed: 2016 theme <br class="hidden visible-lg-block">
                and details announced</a></h5>
              <p>The event will celebrate the most powerful cars and motorcycles from the history of motorsport, and the
                drivers and riders who conquered them... <a href="#"
                                                            class="link link-md link-primary">Read more...</a>
              </p>
            </article>
          </div>
        </div>
      </div>
    </section> -->
    <!-- END the latest car news -->
    
    <!-- newsletter -->
  <!--   <section class="well well-2 bg-image bg-image-2 bg-yellow-green">
      <div class="container">
        <h2>newsletter</h2>

        <div class="row row-xs-center text-center  text-sm-left">
          <div class="col-md-8 col-lg-6">
            <h6 class="text-none text-regular">Enter your email here to reсeive our news & updates:</h6>
            <form class='rd-mailform' method="post" action="bat/rd-mailform.php">
              <input type="hidden" name="form-type" value="contact"/>
              <fieldset>
                <div class="row text-center text-sm-left">
                  <div class="col-sm-8">
                    <label data-add-placeholder>
                      <input type="text"
                             name="email"
                             placeholder="Your email"
                             data-constraints="@NotEmpty @Email"/>
                    </label>
                  </div>
                  <div class="col-sm-4">
                    <div class="mfControls btn-group">
                      <button class="btn btn-sm btn-sunglow" type="submit">subscribe</button>
                    </div>
                    <div class="mfInfo"></div>
                  </div>
                </div>


              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </section> -->
    <!-- END newsletter -->
  </main>
  <!--========================================================
                            FOOTER
  ==========================================================-->
  <footer class="page-footer">
    <div class="container text-center text-sm-left">
      <div class="row flow-offset-1">

        <div class="col-sm-6 col-md-preffix-1 col-md-2 col-sm-push-1 col-md-push-2">
          <ul class="list">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="index-1.html">About</a></li>
            <li><a href="index-2.html">Auto Parts</a></li>
            <li><a href="index-3.html">News</a></li>
            <li><a href="index-4.html">Contacts</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3  col-md-push-3 col-sm-push-2">
          <address class="contact-info">
            <a href="#" class="address">4578 69 St, San Diego D04 89GR</a>
            <div>
              <a href="callto:#">1-800-1234-567</a>
            </div>
          </address>
          <ul class="inline-list">
            <li><a class="icon icon-sm icon-silver fa-facebook" href="#"></a></li>
            <li><a class="icon icon-sm icon-silver fa-twitter" href="#"></a></li>
            <li><a class="icon icon-sm icon-silver fa-instagram" href="#"></a></li>
            <li><a class="icon icon-sm icon-silver fa-google-plus" href="#"></a></li>
          </ul>
        </div>
       <!--  <div class="col-sm-6 col-md-preffix-1 col-md-3 col-sm-push-4 col-md-push-4">
          <div class="fb-page"
               data-href="https://www.facebook.com/TemplateMonster"
               data-small-header="false"
               data-hide-cta="true"
               data-hide-cover="false"
               data-adapt-conainer-width="true"
               data-show-facepile="true"
               data-show-posts="false">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/TemplateMonster"><a
                  href="https://www.facebook.com/TemplateMonster">Facebook</a>
              </blockquote>
            </div>
          </div>
        </div> -->
        <div class="col-sm-6 col-md-2 col-sm-push-3 col-md-push-1">
          <!-- RD Navbar Brand -->
          <div class="rd-navbar-brand">
            <a href="index.html" class="brand-name">
            </a>
          </div>
          <!-- END RD Navbar Brand -->

          <p class="copyright">
            © <span id="copyright-year"></span>
            <a href='index-5.html'>Privacy Policy</a>
            <!-- {%FOOTER_LINK} -->
          </p>
        </div>
      </div>

    </div>
  </footer>
</div>

<!-- Core Scripts -->
<script src="/js2/core.min.js"></script>
<!-- Additional Functionality Scripts -->
<script src="/js2/script.js"></script> <!-- begin olark code --> <!-- <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/ window.olark || (function (c) {     var f = window, d = document, l = f.location.protocol == "https:" ? "https:" : "http:", z = c.name, r = "load";     var nt = function () {         f[z] = function () {             (a.s = a.s || []).push(arguments)         };         var a = f[z]._ = {}, q = c.methods.length;         while (q--) {             (function (n) {                 f[z][n] = function () {                     f[z]("call", n, arguments)                 }             })(c.methods[q])         }         a.l = c.loader;         a.i = nt;         a.p = {             0: +new Date         };         a.P = function (u) {             a.p[u] = new Date - a.p[0]         };         function s() {             a.P(r);             f[z](r)         }          f.addEventListener ? f.addEventListener(r, s, false) : f.attachEvent("on" + r, s);         var ld = function () {             function p(hd) {                 hd = "head";                 return ["<", hd, "></", hd, "><", i, ' onl' + 'oad="var d=', g, ";d.getElementsByTagName('head')[0].", j, "(d.", h, "('script')).", k, "='", l, "//", a.l, "'", '"', "></", i, ">"].join("")             }              var i = "body", m = d[i];             if (!m) {                 return setTimeout(ld, 100)             }             a.P(1);             var j = "appendChild", h = "createElement", k = "src", n = d[h]("div"), v = n[j](d[h](z)), b = d[h]("iframe"), g = "document", e = "domain", o;             n.style.display = "none";             m.insertBefore(n, m.firstChild).id = z;             b.frameBorder = "0";             b.id = z + "-loader";             if (/MSIE[ ]+6/.test(navigator.userAgent)) {                 b.src = "javascript:false"             }             b.allowTransparency = "true";             v[j](b);             try {                 b.contentWindow[g].open()             } catch (w) {                 c[e] = d[e];                 o = "javascript:var d=" + g + ".open();d.domain='" + d.domain + "';";                 b[k] = o + "void(0);"             }             try {                 var t = b.contentWindow[g];                 t.write(p());                 t.close()             } catch (x) {                 b[k] = o + 'd.write("' + p().replace(/"/g, String.fromCharCode(92) + '"') + '");d.close();'             }             a.P(2)         };         ld()     };     nt() })({     loader: "static.olark.com/jsclient/loader0.js",     name: "olark",     methods: ["configure", "extend", "declare", "identify"] }); /* custom configuration goes here (www.olark.com/documentation) */ olark.identify('7830-582-10-3714'); /*]]>*/</script> <noscript><a href="https://www.olark.com/site/7830-582-10-3714/contact" title="Contact us" target="_blank">Questions?     Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat     software</a></noscript> 
<script type="text/javascript">
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7078796-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();</script> -->
</body><!-- Google Tag Manager -->
<!-- <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script> --><!-- End Google Tag Manager -->
</html>