﻿<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
  <head>
      <!-- Site Title -->
      <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
        <title><%= loadwebsitedata[i].webName %></title>
      <% } %>
      <meta name="format-detection" content="telephone=no"/>
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
      <!-- Stylesheets -->
      <script src="/js2/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
      <link rel="icon" href="/images1/favicon.ico" type="image/x-icon">
      <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7CExo+2:400,700,900,600,300%7CPT+Sans:400,700%7CRoboto:400,300,700' rel='stylesheet' type='text/css'>
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

      <link rel="stylesheet" href="/css1/style.css">


    <style type="text/css">
      #sidebar {
        height: 100vh;
        /*background-color: #333;*/
      }

      /* closed state icon */
      #sidebar .list-group .list-group-item[aria-expanded="false"]::after {
        content: " \f0d7";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 5px;
      }


      /* open state icon */
      #sidebar .list-group .list-group-item[aria-expanded="true"]::after {
        content: " \f0da";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 5px;
      }

      /* level 1*/
      #sidebar .list-group .collapse .list-group-item  {
        padding-left: 20px;
      }

      /* level 2*/
      #sidebar .list-group .collapse > .collapse .list-group-item {
        padding-left: 30px;
      }

      /* level 3*/
      #sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
        padding-left: 40px;
      }

      @media (max-width:48em) {
        /* overlay sub levels on small screens */
        #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
            position: absolute;
            z-index: 1;
            width: 190px;
        }

        #sidebar .list-group > .list-group-item {
            text-align: center;
            /*padding: .75rem .5rem;*/
            min-width: 39px;
        }
        /* hide caret icons of top level when collapsed */
        #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
        #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
            display:none;
          }
      }

      /* change transition animation to width when entire sidebar is toggled */
      #sidebar.collapse {
        -webkit-transition-timing-function: ease;
             -o-transition-timing-function: ease;
                transition-timing-function: ease;
        -webkit-transition-duration: .2s;
             -o-transition-duration: .2s;
                transition-duration: .2s;
      }

      #sidebar.collapsing {
        opacity: 0.8;
        width: 0;
        -webkit-transition-timing-function: ease-in;
             -o-transition-timing-function: ease-in;
                transition-timing-function: ease-in;
        -webkit-transition-property: width;
             -o-transition-property: width;
                transition-property: width;

      }

      .list-group-item {
          position: relative;
          display: block;
          padding: 3px; 
          margin-bottom: 0px; 
          background-color: #fff;
          border: 1px solid rgba(0,0,0,.125);
      }

    /*  .sticky {
          position: fixed;
          top: 0;
          width: 100%;
      }

      .sticky + .content {
         padding-top: 60px;
      }*/

    </style>
  
  </head>
  <body>
    <!-- The Main Wrapper -->

     <nav class="navbar navbar-default" id="navbarone" style="margin-bottom: 0px;">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="home"> 
                <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
                  <img src="/uploads/logo/<%= loadwebsitedata[i].img.originalname %>" name="originalname" class="img-responsive finalimageeee" style="height: 30px; width: 65px;margin-left: 12px;">
                <% } %>
              </a>
            </div>
            <ul class="nav navbar-nav">
              <li>
                <a href="home">Home</a>
              </li>

              <li class="dropdown">
                <% if (user.local.email){ %>
                <a style="margin-left: 874px;" href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= user.firstName %><b class="caret"></b>
                </a>
                  <% } else if (user.google.token) { %>
                <a style="margin-left: 874px;" href="#" class="dropdown-toggle" data-toggle="dropdown">   
                  <%= user.google.name %><b class="caret"></b>
                </a>
                  <% } else { %>
                <a style="margin-left: 874px;" href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= user.facebook.name %><b class="caret"></b>
                </a>
                <% } %>
                <ul class="dropdown-menu" style="margin-left: 874px; ">
                  <li><a href="account" class="sidetab"> My Account</a></li>
                  <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                  <li><a href="managewebsite" class="sidetab"> Website Managment</a></li>
                  <li><a href="managecategory" class="sidetab"> Category Managment</a></li>
                  <li><a href="manageunit" class="sidetab"> Unit Managment</a></li>
                  <li><a href="managesubcategory" class="sidetab"> SubCategory Managment</a></li>
                  <li><a href="managesecondsubcategory" class="sidetab">Second SubCategory Managment</a></li>
                  <li><a href="managethirdsubcategory" class="sidetab">Third SubCategory Managment</a></li>
                  <li><a href="product-list" class="sidetab">Part Managment</a></li>
                  <li><a href="purchase-list" class="sidetab">Purchase Managment</a></li>
                  <li><a href="sales-list" class="sidetab">Sales Managment</a></li>
                  <li><a href="purchasereturn-list" class="sidetab">Purchase Return Managment</a></li>
                  <li><a href="salesreturn-list" class="sidetab">Sales Return Managment</a></li>
                  <li><a href="supplier" class="sidetab">Supplier Managment</a></li>
                  <li><a href="admin" class="sidetab">User  Managment</a></li>
                  <li><a href="manageorder" class="sidetab"> Order Managment</a></li>
               
                  <% } %>

                    <% if (user.user_role === 'customer') { %>
              
                  <% } %>

                    <% if (user.user_role === 'user') { %>
                 
                  <% } %>

                    <% if (user.user_role === 'doctor') { %>
            
                  <% } %>

                  <li>
                    <a href="/logout" class="sidetab"> Logout</a>
                  </li>
                </ul>
              </li>

            </ul>
          </div>
        </nav>
  
        
        <!--========================================================
                                  CONTENT
        =========================================================-->
        <div class="row">
         
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" id="sidebar">
            <div class="list-group panel">
              <% for (var i = 0; i < loadcategorydata.length; i++) if(loadcategorydata[i].status == "0") { %>
                <a href="#menu<%=i%>" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down"><%= loadcategorydata[i].categoryName %></span> </a>
                <div class="collapse" id="menu<%=i%>">
                   <% for (var l = 0; l < loadsubcategorydata.length; l++) if(loadsubcategorydata[l].status == "0" && 
                            loadsubcategorydata[l].categoryId == loadcategorydata[i].categoryName) { %>
                    <a href="#menu<%=i%>sub<%=l%>" class="list-group-item" data-toggle="collapse" aria-expanded="false"><%= loadsubcategorydata[l].subcategoryName %> </a>
                    <div class="collapse" id="menu<%=i%>sub<%=l%>">
                           <% for (var t = 0; t < secondsubcategorydata.length; t++) 
                                if(secondsubcategorydata[t].status == "0"
                                && 
                                secondsubcategorydata[t].categoryId == loadcategorydata[i].categoryName 
                                && 
                                secondsubcategorydata[t].subcategoryId == loadsubcategorydata[l].subcategoryName) { %>

                        <a href="#menu<%=i%>sub<%=l%>sub<%=t%>" class="list-group-item" data-toggle="collapse"  aria-expanded="false"><%= secondsubcategorydata[t].SecondsubcategoryName %> </a>
                        <div class="collapse" id="menu<%=i%>sub<%=l%>sub<%=t%>">
                               <% for (var n = 0; n < loadthirdsubcategory.length; n++) 
                                    if(loadthirdsubcategory[n].status == "0" 
                                    && 
                                    loadthirdsubcategory[n].catNamedata == loadcategorydata[i].categoryName 
                                    && 
                                    loadthirdsubcategory[n].subcatNamedata == loadsubcategorydata[l].subcategoryName 
                                    && 
                                    loadthirdsubcategory[n].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName
                                    &&
                                    loadthirdsubcategory[n].secondsubcatNamedata == loadthirdsubcategory[n].parentdata
                                    ){ %>
                            <a href="#menu<%=i%>sub<%=l%>sub<%=t%>sub<%=n%>" class="list-group-item" data-toggle="collapse"  aria-expanded="false"><%= loadthirdsubcategory[n].CategoryName %></a>
                            <div class="collapse" id="menu<%=i%>sub<%=l%>sub<%=t%>sub<%=n%>">
                                <% for (var s = 0; s < loadthirdsubcategory.length; s++) if(loadthirdsubcategory[s].status == "0" && loadthirdsubcategory[s].catNamedata == loadcategorydata[i].categoryName && loadthirdsubcategory[s].subcatNamedata == loadsubcategorydata[l].subcategoryName && loadthirdsubcategory[s].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName 
                                    && loadthirdsubcategory[s].parentdata == loadthirdsubcategory[n].CategoryName){ %>
                              <a href="#menu<%=i%>sub<%=l%>sub<%=t%>sub<%=n%>sub<%=s%>" data-toggle="collapse" class="list-group-item" aria-expanded="false">
                                <%= loadthirdsubcategory[s].CategoryName %>
                              </a>
<!-- <script type="text/javascript">
 function getEventTarget(e) {
    e = e || window.event;
    return e.target || e.srcElement; 
}

var ul = document.getElementById('menu<%=i%>sub<%=l%>sub<%=t%>');
ul.onclick = function(event) {
    var target = getEventTarget(event);
    alert(target.innerHTML);
};
</script> -->
                               <div class="collapse" id="menu<%=i%>sub<%=l%>sub<%=t%>sub<%=n%>sub<%=s%>">
                               <% for (var r = 0; r < loadthirdsubcategory.length; r++) if(loadthirdsubcategory[r].status == "0" && loadthirdsubcategory[r].catNamedata == loadcategorydata[i].categoryName && loadthirdsubcategory[r].subcatNamedata == loadsubcategorydata[l].subcategoryName && loadthirdsubcategory[r].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName
                                   && loadthirdsubcategory[r].parentdata == loadthirdsubcategory[s].CategoryName){ %>
                                <a href="productLanding?cat=<%= loadcategorydata[i].categoryName %>&subcat=<%= loadsubcategorydata[l].subcategoryName %>&secondsubcat=<%= secondsubcategorydata[t].SecondsubcategoryName %>&thirdsubcat=<%= loadthirdsubcategory[n].CategoryName %>&fourthsubcat=<%= loadthirdsubcategory[s].CategoryName %>&parentdata=<%= loadthirdsubcategory[r].CategoryName %>" class="list-group-item">
                               <%= loadthirdsubcategory[r].CategoryName %>
                               </a>
                              <% } %>
                             </div>
                               <% } %>
                            </div>
                              <% } %>
                        </div>
                        <% } %>
                    </div>     
                    <% } %>
                </div>
                <% } %>
              
            </div>
        </div>
        <main class="page-content col-lg-10 col-md-10 col-sm-10 col-xs-12" style="background: #ddd;">


          <section class="well well-2">
            <div class="container text-center">
              <h2 class="wow fadeIn">auto part deal</h2>
               <% for (var j = 0; j < 10; j++) if(loadproductdata[j].productStatus == "1") { %>
                  <div class="row flow-offset-1 product-info">
                  <div class="col-lg-4 text-center text-md-left wow fadeInLeft">
                         <% if(loadproductdata[j].myimage != null){ %>
                    <img src="/uploads/product/<%= loadproductdata[j].myimage[0].originalname %>" width="370" height="231" alt="">
                    

                       <% } else {  %>
                    <img src="http://poycard.com/uploads/product/1.jpg" width="370" height="231" alt="">

                       
                        <% } %>
                  </div>
                  <div class="col-lg-8">
                    <div class="product-info-body text-center text-md-left">
                      <h3>
                        <a href="productshops?id=<%= loadproductdata[j]._id %>"><%= loadproductdata[j].partName %></a>
                      </h3>
                      <p class="heading-6 product-info-price">
                        MRP : <a href="productshops?id=<%= loadproductdata[j]._id %>">Rs.<%= loadproductdata[j].mrp %> /-</a>
                      </p>

                       <p class="heading-6 product-info-price">
                        Selling Price : <a href="productshops?id=<%= loadproductdata[j]._id %>">Rs.<%= loadproductdata[j].price %> /-</a>
                      </p>
                      <p>Brand: <%= loadproductdata[j].brand %></p>

                      <div class="row row-sm-justify">
                        <div class="col-sm-4 col-lg-3 text-sm-left">
                          <h6 class="text-capitalize">Stock Detail</h6>
                          <ul class="product-info-list text-sm-left ">
                           <!--  <li>Avilable : <%= loadproductdata[j].avilability %></li> -->
                            <li>Total Quantity : <%= loadproductdata[j].quantity %></li>
<!--                             <li>Minimum Stock Quantity : <%= loadproductdata[j].stkQty %></li> -->
                            <li>HSN Code : <%= loadproductdata[j].code %></li>
                          </ul>
                        </div>
                        <div class="col-sm-4 col-lg-6 text-sm-left">
                          <h6 class="text-capitalize">Item Detail</h6>
                          <ul class="product-info-list text-sm-left">
                           <% for (var i = 0; i < loadproductcategory.length; i++) if(loadproductcategory[i]._id == loadproductdata[j].proCattId) { %>
                            <li>Category : <%= loadproductcategory[i].procatName %></li>
                            <li>Subcategory : <%= loadproductcategory[i].prosubcatName %></li>
                            <li>Inner Subcategory : <%= loadproductcategory[i].prosecsubcatName %></li>
                            <li>Category Name : <%= loadproductcategory[i].proparentdata %></li>
                            <% } %>
                          </ul>
                        </div>
                        <div class="col-sm-4 col-md-3">
                          <div class="inline-block">
                            <a href="productshops?id=<%= loadproductdata[j]._id %>" class="btn btn-md btn-sunglow wow fadeInRight">more details</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <% } %>
                <hr>
            </div>
          </section>
        </main>
       </div>
        <!--========================================================
                                  FOOTER
        ==========================================================-->
      
     <!--  <script>
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbarone");
        var sticky = navbar.offsetTop;

        function myFunction() {
          if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
          } else {
            navbar.classList.remove("sticky");
          }
        }
      </script> -->

      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <!-- Core Scripts -->
      <!--<script src="/js2/core.min.js"></script>-->    
      <!-- Additional Functionality Scripts-->
      <!--<script src="/js2/script.js"></script>-->
      </body>
</html>