﻿

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 --><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  

  

  <style type="text/css">
  #sidebar {
    height: 100vh;
    /*background-color: #333;*/
}

/*#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
    text-decoration: none;
}*/

/* highlight active menu */
/*#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}*/

/* closed state icon */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/*
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}
/* open state icon */
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}
*/
/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:48em) {
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        /*padding: .75rem .5rem;*/
        min-width: 39px;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: width;
       -o-transition-property: width;
          transition-property: width;

}

.list-group-item {
    position: relative;
    display: block;
    padding: 3px; 
    margin-bottom: 0px; 
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

</style>

</head>
  
  
  <!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
            <div class="list-group panel">
                <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Item 1</span> </a>
                <div class="collapse" id="menu1">
                    <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a>
                    <div class="collapse" id="menu1sub1">
                        <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 1 a</a>
                        <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 2 b</a>
                        <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 3 c </a>
                        <div class="collapse" id="menu1sub1sub1">
                            <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.1</a>
                            <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.2</a>
                        </div>
                        <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 4 d</a>
                        <a href="#menu1sub1sub2" class="list-group-item" data-toggle="collapse"  aria-expanded="false">Subitem 5 e </a>
                        <div class="collapse" id="menu1sub1sub2">
                            <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.1</a>
                            <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.2</a>
                        </div>
                    </div>
                    <a href="#" class="list-group-item" data-parent="#menu1">Subitem 2</a>
                    <a href="#" class="list-group-item" data-parent="#menu1">Subitem 3</a>
                </div>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="hidden-sm-down">Item 2</span></a>
                <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Item 3 </span></a>
                <div class="collapse" id="menu3">
                    <a href="#" class="list-group-item" data-parent="#menu3">3.1</a>
                    <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
                    <div class="collapse" id="menu3sub2">
                        <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>
                        <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>
                        <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>
                    </div>
                    <a href="#" class="list-group-item" data-parent="#menu3">3.3</a>
                </div>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i> <span class="hidden-sm-down">Item 4</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-list"></i> <span class="hidden-sm-down">Item 5</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-clock-o"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-th"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-gear"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-calendar"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-envelope"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-bar-chart-o"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-star"></i> <span class="hidden-sm-down">Link</span></a>
            </div>
        </div>
        <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
            <a href="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-lg"></i></a>
        </main>
    </div>
</div> -->
  
  <script>
    // sandbox disable popups
    if (window.self !== window.top && window.name!="view1") {;
      window.alert = function(){/*disable alert*/};
      window.confirm = function(){/*disable confirm*/};
      window.prompt = function(){/*disable prompt*/};
      window.open = function(){/*disable open*/};
    }
    
    // prevent href=# click jump
    document.addEventListener("DOMContentLoaded", function() {
      var links = document.getElementsByTagName("A");
      for(var i=0; i < links.length; i++) {
        if(links[i].href.indexOf('#')!=-1) {
          links[i].addEventListener("click", function(e) {
          console.debug("prevent href=# click");
              if (this.hash) {
                if (this.hash=="#") {
                  e.preventDefault();
                  return false;
                }
                else {
                  /*
                  var el = document.getElementById(this.hash.replace(/#/, ""));
                  if (el) {
                    el.scrollIntoView(true);
                  }
                  */
                }
              }
              return false;
          })
        }
      }
    }, false);
  </script>
  
  <!--scripts loaded here-->
  
  

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
 <!--  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script> -->
  
  
  
  <script>
  $('[data-toggle=collapse]').mouseover(function(){
    $(this).trigger('click');
}).mouseoout(function(){

});
  </script>




<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
  <head>
      <!-- Site Title -->
      <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
        <title><%= loadwebsitedata[i].webName %></title>
      <% } %>
      <meta name="format-detection" content="telephone=no"/>
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
      <!-- Stylesheets -->
      <script src="/js2/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
      <link rel="icon" href="/images1/favicon.ico" type="image/x-icon">
      <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7CExo+2:400,700,900,600,300%7CPT+Sans:400,700%7CRoboto:400,300,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/css1/style.css">
  </head>
  <body>
    <!-- The Main Wrapper -->
    <div class="page">

        <!--For older internet explorer-->
        <div class="old-ie" style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
          <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="/images1/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
          </a>
        </div>
        <!--END block for older internet explorer-->

        <!--========================================================
                                  HEADER
        =========================================================-->



        <header class="page-header bg"  style="height: 80px;">
          <!-- RD Navbar -->
          <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
              <div class="rd-navbar-inner">

                <!-- RD Navbar Panel -->
                <div class="rd-navbar-panel">

                  <!-- RD Navbar Toggle -->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                  <!-- END RD Navbar Toggle -->
                  <!-- RD Navbar Brand -->
                  <div class="rd-navbar-brand">
                    <a class="newlogocss" href="/home" style="color: #000;text-decoration: none;">
                      <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>

                      <img src="/uploads/logo/<%= loadwebsitedata[i].img.originalname %>" name="originalname" class="img-responsive finalimageeee" style="height: 30px; width: 65px;margin-top: -20px;margin-left: 12px;">
                      <% } %>

                    </a>
                  </div>
                  <!-- END RD Navbar Brand -->

                  <button class="rd-navbar-toggle list" data-rd-navbar-toggle=".rd-navbar-inline-list"><span></span></button>
                </div>
                <!-- END RD Navbar Panel -->

                <div class="rd-navbar-nav-wrap">

                  <!-- RD Navbar Nav -->
                  <ul class="rd-navbar-nav">

                    <li class="active">
                      <a href="home">Home</a>
                    </li>
                    
                    <li>
                      <a href="#">Autoparts</a>
                      <ul class="rd-navbar-dropdown">
                        <% for (var i = 0; i < loadcategorydata.length; i++) if(loadcategorydata[i].status == "0") { %>
                        <li>
                          <a href="#"><%= loadcategorydata[i].categoryName %></a>
                          <ul class="rd-navbar-dropdown">
                            <% for (var l = 0; l < loadsubcategorydata.length; l++) 
                            if(loadsubcategorydata[l].status == "0" 
                            && 
                            loadsubcategorydata[l].categoryId == loadcategorydata[i].categoryName) { %>

                            <li>
                              <a href="#"><%= loadsubcategorydata[l].subcategoryName %></a>
                              <ul class="rd-navbar-dropdown">

                                <% for (var t = 0; t < secondsubcategorydata.length; t++) 
                                if(secondsubcategorydata[t].status == "0"
                                && 
                                secondsubcategorydata[t].categoryId == loadcategorydata[i].categoryName 
                                && 
                                secondsubcategorydata[t].subcategoryId == loadsubcategorydata[l].subcategoryName) { %>

                                <li>
                                  <a href="#"><%= secondsubcategorydata[t].SecondsubcategoryName %></a>
                                  <ul class="rd-navbar-dropdown">

                                    <% for (var n = 0; n < loadthirdsubcategory.length; n++) 
                                    if(loadthirdsubcategory[n].status == "0" 
                                    && 
                                    loadthirdsubcategory[n].catNamedata == loadcategorydata[i].categoryName 
                                    && 
                                    loadthirdsubcategory[n].subcatNamedata == loadsubcategorydata[l].subcategoryName 
                                    && 
                                    loadthirdsubcategory[n].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName
                                    &&
                                    loadthirdsubcategory[n].secondsubcatNamedata == loadthirdsubcategory[n].parentdata
                                    ){ %>

                                    <li>
                                      <a href="#"><%= loadthirdsubcategory[n].CategoryName %></a>
                                      <ul class="rd-navbar-dropdown">
                                    <% for (var s = 0; s < loadthirdsubcategory.length; s++) if(loadthirdsubcategory[s].status == "0" && loadthirdsubcategory[s].catNamedata == loadcategorydata[i].categoryName && loadthirdsubcategory[s].subcatNamedata == loadsubcategorydata[l].subcategoryName && loadthirdsubcategory[s].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName 
                                    && loadthirdsubcategory[s].parentdata == loadthirdsubcategory[n].CategoryName){ %>
                                          <li><a href="#"><%= loadthirdsubcategory[s].CategoryName %></a>
                                            <ul class="rd-navbar-dropdown">
                                    <% for (var r = 0; r < loadthirdsubcategory.length; r++) if(loadthirdsubcategory[r].status == "0" && loadthirdsubcategory[r].catNamedata == loadcategorydata[i].categoryName && loadthirdsubcategory[r].subcatNamedata == loadsubcategorydata[l].subcategoryName && loadthirdsubcategory[r].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName 
                                    && loadthirdsubcategory[r].parentdata == loadthirdsubcategory[s].CategoryName){ %>
                                          <li><a href="productLanding?cat=<%= loadcategorydata[i].categoryName %>&subcat=<%= loadsubcategorydata[l].subcategoryName %>&secondsubcat=<%= secondsubcategorydata[t].SecondsubcategoryName %>&thirdsubcat=<%= loadthirdsubcategory[n].CategoryName %>&fourthsubcat=<%= loadthirdsubcategory[s].CategoryName %>&parentdata=<%= loadthirdsubcategory[r].CategoryName %>"><%= loadthirdsubcategory[r].CategoryName %></a>
                                          </li>
                                          
                                        <% } %>
                                  
                                          </ul>
                                          </li>
                                          
                                        <% } %>
                                  
                                      </ul>
                                    </li>
                                    
                                    <%  }  %>
                                  </ul>
                                </li>
                                <% } %>
                              </ul>
                            </li>                     
                            <% } %>
                          </ul>
                        </li>
                        <% } %>
                      </ul>
                    </li> 
                    
                    <li class="float-right">

                        <% if (user.local.email){ %>

                        <a style="margin-left: 874px; margin-top: -25px;" href="#"><%= user.firstName %></a>

                          <% } else if (user.google.token) { %> 

                        <a style="margin-left: 874px; margin-top: -25px;" href="#"><%= user.google.name %></a>  

                          <% } else { %>

                        <a style="margin-left: 874px; margin-top: -25px;" href="#">  <%= user.facebook.name %> </a>
                                   
                        <% } %>  
                        <!-- RD Navbar Dropdown -->
                        <ul class="rd-navbar-dropdown"  style="width: 180px;margin-left: 385px;margin-top: -17px;"">
                            <li><a href="account" class="sidetab"> My Account</a></li>
                           <!--  <li><a href="order" class="sidetab"> My Order</a></li> -->
                            <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                            <li><a href="managewebsite" class="sidetab"> Website Managment</a></li>
                            <li><a href="managecategory" class="sidetab"> Category Managment</a></li>
                            <li><a href="manageunit" class="sidetab"> Unit Managment</a></li>
                            <li><a href="managesubcategory" class="sidetab"> SubCategory Managment</a></li>
                            <li><a href="managesecondsubcategory" class="sidetab">Second SubCategory Managment</a></li>
                            <li><a href="managethirdsubcategory" class="sidetab">Third SubCategory Managment</a></li>
                            <li><a href="product-list" class="sidetab">Part Managment</a></li>
                            <li><a href="purchase-list" class="sidetab">Purchase Managment</a></li>
                            <li><a href="sales-list" class="sidetab">Sales Managment</a></li>
                            <li><a href="purchasereturn-list" class="sidetab">Purchase Return Managment</a></li>
                            <li><a href="salesreturn-list" class="sidetab">Sales Return Managment</a></li>
                            <li><a href="supplier" class="sidetab">Supplier Managment</a></li>
                            <li><a href="admin" class="sidetab">User  Managment</a></li>
                            <li><a href="manageorder" class="sidetab"> Order Managment</a></li>
                         
                            <% } %>

                             <% if (user.user_role === 'customer') { %>
                        
                          <% } %>

                            <% if (user.user_role === 'user') { %>
                           
                            <% } %>

                            <% if (user.user_role === 'doctor') { %>
                      
                            <% } %>
                            <li><a href="/logout" class="sidetab"> Logout</a></li>
                        </ul>
                    </li>

                  </ul>
                   <!-- END RD Navbar Dropdown -->
                  </li>
                  </ul>
                  <!-- END RD Navbar Nav -->
                </div>
                
                <div class="rd-navbar-contact">
                  <ul class="nav navbar-nav visible-xs" style="display: none;background-color: #fff;margin-top: 0px; border-top : 0px !important";>
                      <!-- <br> -->
                        <li><a href="account" class="sidetab" style="color: #999;"> My Account</a></li>
                        <!-- <li><a class="sidetab" style="color: #999;" href="subscription"> My Subscription</a></li> -->
                        <li><a href="order" class="sidetab" style="color: #999;"> My Order</a></li>
                        <% if (user.user_role === 'admin') { %>
                        <li><a href="manageorder" class="sidetab" style="color: #999;"> Order Managment</a></li>
                        <li><a href="managetransaction" class="sidetab" style="color: #999;"> Transaction Managment</a></li>
                        <li><a href="symptom-admin" class="sidetab" style="color: #999;"> Symptom History</a></li>
                        <li><a href="product-list" class="sidetab" style="color: #999;"> Our Products</a></li>
                        <li><a href="admin" class="sidetab" style="color: #999;"> User Management</a></li>
                        <li><a href="add-symptoms" class="sidetab" style="color: #999;"> Add Symptoms</a></li>
                        <li><a href="manage-symptoms" class="sidetab" style="color: #999;"> Manage Symptoms</a></li>
                        <% } %>

                        <% if (user.user_role === 'user') { %>
                        
                          <% } %>

                           <% if (user.user_role === 'customer') { %>
                        
                          <% } %>

                        <% if (user.user_role === 'doctor') { %>
                           
                          <% } %>
                     <li><a href="/logout" class="sidetab" style="color: #999;"> Logout</a></li>
                  </ul>
                </div>

              </div>
            </nav>
          </div>
        </header>
        <!--========================================================
                                  CONTENT
        =========================================================-->
        <div class="container-fluid">
        <div class="row">
        <div class="col-md-3 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
            <div class="list-group panel">
              <% for (var i = 0; i < loadcategorydata.length; i++) if(loadcategorydata[i].status == "0") { %>
                <a href="#menu<%=i%>" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down"><%= loadcategorydata[i].categoryName %></span> </a>
                <div class="collapse" id="menu<%=i%>">
                   <% for (var l = 0; l < loadsubcategorydata.length; l++) 
                            if(loadsubcategorydata[l].status == "0" && 
                            loadsubcategorydata[l].categoryId == loadcategorydata[i].categoryName) { %>
                    <a href="#menu<%=i%>sub<%=l%>" class="list-group-item" data-toggle="collapse" aria-expanded="false"><%= loadsubcategorydata[l].subcategoryName %> </a>
                    <div class="collapse" id="menu<%=i%>sub<%=l%>">
                           <% for (var t = 0; t < secondsubcategorydata.length; t++) 
                                if(secondsubcategorydata[t].status == "0"
                                && 
                                secondsubcategorydata[t].categoryId == loadcategorydata[i].categoryName 
                                && 
                                secondsubcategorydata[t].subcategoryId == loadsubcategorydata[l].subcategoryName) { %>

                        <a href="#menu<%=i%>sub<%=l%>sub<%=t%>" class="list-group-item" data-toggle="collapse"  aria-expanded="false"><%= secondsubcategorydata[t].SecondsubcategoryName %> </a>
                        <div class="collapse" id="menu<%=i%>sub<%=l%>sub<%=t%>">
                               <% for (var n = 0; n < loadthirdsubcategory.length; n++) 
                                    if(loadthirdsubcategory[n].status == "0" 
                                    && 
                                    loadthirdsubcategory[n].catNamedata == loadcategorydata[i].categoryName 
                                    && 
                                    loadthirdsubcategory[n].subcatNamedata == loadsubcategorydata[l].subcategoryName 
                                    && 
                                    loadthirdsubcategory[n].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName
                                    &&
                                    loadthirdsubcategory[n].secondsubcatNamedata == loadthirdsubcategory[n].parentdata
                                    ){ %>
                            <a href="#menu<%=i%>sub<%=l%>sub<%=t%>sub<%=n%>" class="list-group-item" data-toggle="collapse"  aria-expanded="false"><%= loadthirdsubcategory[n].CategoryName %></a>
                            <div class="collapse" id="menu<%=i%>sub<%=l%>sub<%=t%>sub<%=n%>">
                                  <% for (var s = 0; s < loadthirdsubcategory.length; s++) if(loadthirdsubcategory[s].status == "0" && loadthirdsubcategory[s].catNamedata == loadcategorydata[i].categoryName && loadthirdsubcategory[s].subcatNamedata == loadsubcategorydata[l].subcategoryName && loadthirdsubcategory[s].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName 
                                    && loadthirdsubcategory[s].parentdata == loadthirdsubcategory[n].CategoryName){ %>
                              <a href="#menu<%=i%>sub<%=l%>sub<%=t%>sub<%=s%>" data-toggle="collapse" class="list-group-item" aria-expanded="false">
                                <%= loadthirdsubcategory[s].CategoryName %>
                              </a>
                              <div class="collapse" id="menu<%=i%>sub<%=l%>sub<%=t%>sub<%=n%>sub<%=r%>">
                                  <% for (var r = 0; r < loadthirdsubcategory.length; r++) if(loadthirdsubcategory[r].status == "0" && loadthirdsubcategory[r].catNamedata == loadcategorydata[i].categoryName && loadthirdsubcategory[r].subcatNamedata == loadsubcategorydata[l].subcategoryName && loadthirdsubcategory[r].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName 
                                    && loadthirdsubcategory[r].parentdata == loadthirdsubcategory[s].CategoryName){ %>
                                 <a href="#menu<%=i%>sub<%=l%>sub<%=t%>sub<%=s%>sub<%=r%>" class="list-group-item" data-toggle="collapse"  aria-expanded="false">
                                <%= loadthirdsubcategory[r].CategoryName %>
                                </a> 
                               <% } %>
                              </div>
                               <% } %>
                            </div>
                              <% } %>
                        </div>
                        <% } %>
                    </div>     
                    <% } %>
                </div>
                <% } %>
               <!--  <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="hidden-sm-down">Item 2</span></a>
                <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Item 3 </span></a>
                <div class="collapse" id="menu3">
                    <a href="#" class="list-group-item" data-parent="#menu3">3.1</a>
                    <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
                    <div class="collapse" id="menu3sub2">
                        <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>
                        <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>
                        <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>
                    </div>
                    <a href="#" class="list-group-item" data-parent="#menu3">3.3</a>
                </div>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i> <span class="hidden-sm-down">Item 4</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-list"></i> <span class="hidden-sm-down">Item 5</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-clock-o"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-th"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-gear"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-calendar"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-envelope"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-bar-chart-o"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-star"></i> <span class="hidden-sm-down">Link</span></a> -->
            </div>
        </div>
        <main class="page-content col-md-9 col-xs-11 p-l-2 p-t-2" style="background: #ddd;">

        <a href="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-lg"></i></a>

          <section class="well well-2">
            <div class="container text-center">
              <h2 class="wow fadeIn">auto part deal</h2>
               <% for (var j = 0; j < loadproductdata.length; j++) if(loadproductdata[j].productStatus == "1") { %>
                  <div class="row flow-offset-1 product-info">
                  <div class="col-lg-4 text-center text-md-left wow fadeInLeft">
                         <% if(loadproductdata[j].myimage != null){ %>
                    <img src="/uploads/product/<%= loadproductdata[j].myimage[0].originalname %>" width="370" height="231" alt="">
                    

                       <% } else {  %>
                    <img src="http://poycard.com/uploads/product/1.jpg" width="370" height="231" alt="">

                       
                        <% } %>
                  </div>
                  <div class="col-lg-8">
                    <div class="product-info-body text-center text-md-left">
                      <h3>
                        <a href="productshops?id=<%= loadproductdata[j]._id %>"><%= loadproductdata[j].partName %></a>
                      </h3>
                      <p class="heading-6 product-info-price">
                        MRP : <a href="productshops?id=<%= loadproductdata[j]._id %>">Rs.<%= loadproductdata[j].mrp %> /-</a>
                      </p>

                       <p class="heading-6 product-info-price">
                        Selling Price : <a href="productshops?id=<%= loadproductdata[j]._id %>">Rs.<%= loadproductdata[j].price %> /-</a>
                      </p>
                      <p>Brand: <%= loadproductdata[j].brand %></p>

                      <div class="row row-sm-justify">
                        <!-- <div class="col-sm-4 col-lg-3 text-sm-left">
                          <h6 class="text-capitalize">Stock Detail</h6>
                          <ul class="product-info-list text-sm-left ">
                            <li>Avilable : <%= loadproductdata[j].avilability %></li>
                            <li>Quantity : <%= loadproductdata[j].quantity %></li>
                            <li>Stock Quantity : <%= loadproductdata[j].stkQty %></li>
                            <li>Code : <%= loadproductdata[j].code %></li>
                          </ul>
                        </div> -->
                        <div class="col-sm-4 col-lg-6 text-sm-left">
                          <h6 class="text-capitalize">Item Detail</h6>
                          <ul class="product-info-list text-sm-left">
                           <% for (var i = 0; i < loadproductcategory.length; i++) if(loadproductcategory[i]._id == loadproductdata[j].proCattId) { %>
                            <li>Category : <%= loadproductcategory[i].procatName %></li>
                            <li>Subcategory : <%= loadproductcategory[i].prosubcatName %></li>
                            <li>Inner Subcategory : <%= loadproductcategory[i].prosecsubcatName %></li>
                            <li>Category Name : <%= loadproductcategory[i].proparentdata %></li>
                            <% } %>
                          </ul>
                        </div>
                        <div class="col-sm-4 col-md-3">
                          <div class="inline-block">
                            <a href="productshops?id=<%= loadproductdata[j]._id %>" class="btn btn-md btn-sunglow wow fadeInRight">more details</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <% } %>
                <hr>
            </div>
          </section>
        </main>
       </div>
     </div>
        <!--========================================================
                                  FOOTER
        ==========================================================-->
        <!-- <footer class="page-footer">
          <div class="container text-center text-sm-left">
            <div class="row flow-offset-1">
              <div class="col-sm-6 col-md-preffix-1 col-md-2 col-sm-push-1 col-md-push-2">
                <ul class="list">
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="index-1.html">About</a></li>
                  <li><a href="index-2.html">Auto Parts</a></li>
                  <li><a href="index-3.html">News</a></li>
                  <li><a href="index-4.html">Contacts</a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-3  col-md-push-3 col-sm-push-2">
                <address class="contact-info">
                  <a href="#" class="address">4578 69 St, San Diego D04 89GR</a>
                  <div>
                    <a href="callto:#">1-800-1234-567</a>
                  </div>
                </address>
                <ul class="inline-list">
                  <li><a class="icon icon-sm icon-silver fa-facebook" href="#"></a></li>
                  <li><a class="icon icon-sm icon-silver fa-twitter" href="#"></a></li>
                  <li><a class="icon icon-sm icon-silver fa-instagram" href="#"></a></li>
                  <li><a class="icon icon-sm icon-silver fa-google-plus" href="#"></a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-2 col-sm-push-3 col-md-push-1">

                <div class="rd-navbar-brand">
                  <a href="index.html" class="brand-name">
                  </a>
                </div>

                <p class="copyright">
                  © <span id="copyright-year"></span>
                  <a href='index-5.html'>Privacy Policy</a>
                </p>
              </div>
            </div>
          </div>
        </footer> -->

    </div>

    <!-- Core Scripts -->
    <script src="/js2/core.min.js"></script>
    <!-- Additional Functionality Scripts -->
    <script src="/js2/script.js"></script> 
  </body>
</html>