<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Always force latest IE rendering engine or request Chrome Frame -->
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="utf-8">

        <!-- Site Title -->
        <title>Eydia Landing Page</title>
        
		<link rel="shortcut icon" href="/imgs/icons/favicon.png">
		
        <!--
        Google Fonts
        ============================================= -->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,700italic,300italic">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arvo:400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis:800,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Great+Vibes">
        
		
        <!--
        CSS
        ============================================= -->
        <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/css/jquery.bxslider.css">
        <link type="text/css" rel="stylesheet" href="/js1/vendor/owl.carousel.css">
        <link type="text/css" rel="stylesheet" href="/css/magnific-popup.css">
        <link type="text/css" rel="stylesheet" href="/css/lightbox.css">
        <link type="text/css" rel="stylesheet" href="/css/icomoon.css">
        <link type="text/css" rel="stylesheet" href="/css/flaticon.css">
        <link type="text/css" rel="stylesheet" href="/css/supersized.css">
        <link type="text/css" rel="stylesheet" href="/css/bootstrap-timepicker.css">
        <link type="text/css" rel="stylesheet" href="/css/jquery-ui.min.css">
        <link type="text/css" rel="stylesheet" href="/css/animate.css">
        <link type="text/css" rel="stylesheet" href="/css/multiscroll.css">
        <link type="text/css" rel="stylesheet" href="/css/selectize.default.css">
        <link type="text/css" rel="stylesheet" href="/css/jquery.fullPage.css">
        <link type="text/css" rel="stylesheet" href="/css/bbpress.css">
        <link type="text/css" rel="stylesheet" href="/css/jquery.timepicker.css">
        <link type="text/css" rel="stylesheet" href="/css/bbp-theme.css">
        <link type="text/css" rel="stylesheet" href="/css/buddypress.css">
        <link type="text/css" rel="stylesheet" href="/css/buddypress-theme.css">
        <link type="text/css" rel="stylesheet" href="/syntax-highlighter/scripts/prettify.min.css">
        <!-- Shortcodes main stylesheet -->
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/prettyPhoto.css">
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/eislideshow.css">
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/nivo-slider.css">
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/liteaccordion.css">
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/flexslider.css">
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/iconmoon.css">
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/slicebox.css">
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/camera.css">
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/main.css">
        <link type="text/css" rel="stylesheet" href="/shortcodes/css/media-queries.css">
        <!-- Main Stylesheet -->
        <link type="text/css" rel="stylesheet" href="/css/main.css">
        <!-- CSS media queries -->
        <link type="text/css" rel="stylesheet" href="/css/media-queries.css">
        <link id="themeColorChangeLink" type="text/css" rel="stylesheet" href="/css/colors/c0.css">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body class="bordered">
        
        <!-- Preloader Two -->
        <div id="preloader">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    
        <div id="wrapper" class="main-wrapper">
            <div class="sep-fullwidth"></div>

        <!-- 
        Navigation
        ==================================== -->
        <header id="head" class="navbar-default header6 arrow2 sticky-header">
            <div class="container">
                <div class="mega-menu-wrapper no-beaf clear">
                    <div class="navbar-header">
                        <!-- responsive nav button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- /responsive nav button -->                    
                        <!-- logo -->
                        <a class="navbar-brand" href="index.php">
                            <img src="/imgs/icons/logo.png" alt="Eydia">
                        </a>
                        <!-- /logo -->
                    </div>
                    <!-- main nav -->
                    <nav class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="current mega-menu">
                                <a href="#">Home</a>
                                <ul>
                                    <li>
                                        <ul>
                                            <li><a href="index.html">Home - Default</a></li>
                                            <li><a href="home-agency.html">Home - Agency</a></li>
                                            <li><a href="home-agency2.html">Home - Agency 2</a></li>
                                            <li><a href="home-agency3.html">Home - Agency 3</a></li>
                                            <li><a href="home-app.html">Home - Apps</a></li>
                                            <li><a href="home-architect2.html">Home - Architect</a></li>
                                            <li><a href="home-bakery.html">Home - Bakery</a></li>
                                            <li><a href="home-boxed.html">Home - Boxed</a></li>
                                            <li><a href="home-boxed2.html">Home - Boxed 2</a></li>
                                            <li><a href="home-boxed3.html">Home - Boxed 3</a></li>
                                            <li><a href="home-business.html">Home - Business</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li><a href="home-business2.html">Home - Business 2</a></li>
                                            <li><a href="home-business3.html">Home - Business 3</a></li>
                                            <li><a href="home-business4.html">Home - Business 4</a></li>
                                            <li><a href="home-charity.html">Home - Charity</a></li>
                                            <li><a href="home-college.html">Home - College</a></li>
                                            <li><a href="home-construction.html">Home - Construction</a></li>
                                            <li><a href="home-corporate.html">Home - Corporate</a></li>
                                            <li><a href="home-education.html">Home - Education</a></li>
                                            <li><a href="home-event.html">Home - Event</a></li>
                                            <li><a href="home-hosting.html">Home - Hosting</a></li>
                                            <li><a href="home-hotel.html">Home - Hotel</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li><a href="home-industry.html">Home - Industry</a></li>
                                            <li><a href="home-landing.html">Home - Landing</a></li>
                                            <li><a href="home-magazine.html">Home - Magazine</a></li>
                                            <li><a href="home-magazine2.html">Home - Magazine 2</a></li>
                                            <li><a href="home-magazine3.html">Home - Magazine 3</a></li>
                                            <li><a href="home-medical.html">Home - Medical</a></li>
                                            <li><a href="home-personal.html">Home - Personal</a></li>
                                            <li><a href="home-personal2.html">Home - Personal 2</a></li>
                                            <li><a href="home-photography.html">Home - Photography</a></li>
                                            <li><a href="home-portfolio.html">Home - Portfolio</a></li>
                                            <li><a href="home-restaurant.html">Home - Restaurant</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li><a href="home-restaurant2.html">Home - Restaurant 2</a></li>
                                            <li><a href="home-school.html">Home - School</a></li>
                                            <li><a href="home-shop.html">Home - Shop</a></li>
                                            <li><a href="home-shop2.html">Home - Shop 2</a></li>
                                            <li><a href="home-shop3.html">Home - Shop 3</a></li>
                                            <li><a href="home-shop4.html">Home - Shop 4</a></li>
                                            <li><a href="home-travel.html">Home - Travel</a></li>
                                            <li><a href="home-travel2.html">Home - Travel 2</a></li>
                                            <li><a href="home-university.html">Home - University</a></li>
                                            <li><a href="home-wedding.html">Home - Wedding</a></li>
                                            <li><a href="home-wedding2.html">Home - Wedding 2</a></li>
                                       </ul>
                                   </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Forum</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="forum.html">BBPress Forum</a>
                                    </li>
                                    <li>
                                        <a href="forum-2.html">BBPress Topics</a>
                                    </li>
                                    <li>
                                        <a href="forum-3.html">BBPress Post Details</a>
                                    </li>
                                    <li>
                                        <a href="buddypress.html">Buddypress</a>
                                    </li>
                                    <li>
                                        <a href="buddypress-forum.html">Buddypress Forum</a>
                                    </li>
                                    <li>
                                        <a href="buddypress-forum-topic.html">BP Forum Topic</a>
                                    </li>
                                    <li>
                                        <a href="buddypress-groups.html">Buddypress Groups</a>
                                    </li>
                                    <li>
                                        <a href="buddy-profile.html">BP Profile</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Shop</a>
                                        <ul>
                                            <li><a href="shop-cart.html">Cart</a></li>
                                            <li><a href="shop-checkout.html">CHeckout</a></li>
                                            <li><a href="shop-order.html">Order</a></li>
                                            <li><a href="shop-single.html">Shop Single</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Sliders</a>
                                        <ul>
                                            <li><a href="slider_camera.html">Camera Slider</a></li>
                                            <li><a href="slider_elastislide.html">Elastislide</a></li>
                                            <li><a href="slider_flex.html">Flex Slider</a></li>
                                            <li><a href="slider_nivo.html">Nivo Slider</a></li>
                                            <li><a href="slider_owl.html">Owl Carousel</a></li>
                                            <li><a href="slider_accordion.html">Accordion Slider</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Page Title</a>
                                        <ul>
                                            <li><a href="page-title.html">Page Title</a></li>
                                            <li><a href="page-title2.html">Page Title 2</a></li>
                                            <li><a href="page-title3.html">Page Title 3</a></li>
                                            <li><a href="page-title4.html">Page Title 4</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Breadcrumb</a>
                                        <ul>
                                            <li><a href="breadcrumb.html">Breadcrumb</a></li>
                                            <li><a href="breadcrumb2.html">Breadcrumb 2</a></li>
                                            <li><a href="breadcrumb3.html">Breadcrumb 3</a></li>
                                            <li><a href="breadcrumb4.html">Breadcrumb 4</a></li>
                                            <li><a href="breadcrumb5.html">Breadcrumb 5</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                        <ul>
                                            <li><a href="about.html">About </a></li>
                                            <li><a href="about2.html">About 2</a></li>
                                            <li><a href="about3.html">About 3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Team</a>
                                        <ul>
                                            <li><a href="team-member.html">Team Member</a></li>
                                            <li><a href="team-single.html">Team Single</a></li>
                                            <li><a href="team-single2.html">Team Single 2</a></li>
                                            <li><a href="skills.html">Team Skills</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Others</a>
                                        <ul>
                                            <li><a href="search.html">Search</a></li>
                                            <li><a href="404.html">404 Page</a></li>
                                            <li><a href="faq.html">Faq</a></li>
                                            <li><a href="faq2.html">Faq 2</a></li>
                                            <li><a href="coming-soon/index.html" target="_blank">Coming Soon</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Gallery</a>
                                        <ul>
                                            <li><a href="gallery-3column.html">Gallery 3 Column</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="service.html">Service</a></li>
                                </ul>
                            </li>
                            <li class="mega-menu">
                                <a href="#">Shortcodes</a>
                                <ul>
                                    <li>
                                        <a href="#">Elements 1</a>
                                        <ul>
                                            <li><a href="sc_columns.html">Columns</a></li>
                                            <li><a href="sc_iconbox.html">iconbox</a></li>
                                            <li><a href="sc_image_gallery.html">image gallery</a></li>
                                            <li><a href="sc_image_light_box.html">image light box</a></li>
                                            <li><a href="sc_image_slider.html">image slider</a></li>
                                            <li><a href="sc_list.html">list</a></li>
                                            <li><a href="sc_logo_slider.html">logo slider</a></li>
                                            <li><a href="sc_price-tables.html">Price Tables</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Elements 2</a>
                                        <ul>
                                            <li><a href="sc_modal.html">modal</a></li>
                                            <li><a href="sc_number-section.html">number section</a></li>
                                            <li><a href="sc_parallax_section_background.html">parallax section</a></li>
                                            <li><a href="sc_quote.html">quote</a></li>
                                            <li><a href="sc_section_background.html">section background</a></li>
                                            <li><a href="sc_social.html">social</a></li>
                                            <li><a href="sc_tooltip.html">tooltip</a></li>
                                            <li><a href="sc_Carousel.html">Carousel</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Elements 3</a>
                                        <ul>
                                            <li><a href="sc_codes.html">codes</a></li>
                                            <li><a href="sc_contact-info.html">contact info</a></li>
                                            <li><a href="sc_content_slider.html">Content slider</a></li>
                                            <li><a href="sc_counter.html">counter</a></li>
                                            <li><a href="sc_divider.html">divider</a></li>
                                            <li><a href="sc_typography.html">Typography</a></li>
                                            <li><a href="sc_google_map.html">google map</a></li>
                                            <li><a href="sc_client_testimonial.html">testimonial</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Elements 4</a>
                                        <ul>
                                            <li><a href="sc_accordion.html">Accordion</a></li>
                                            <li><a href="sc_alert.html">Alert</a></li>
                                            <li><a href="sc_animated-baner.html">animated baner</a></li>
                                            <li><a href="sc_blog-section.html">Blog section</a></li>
                                            <li><a href="sc_box_title.html">box title</a></li>
                                            <li><a href="sc_buttons.html">buttons</a></li>
                                            <li><a href="sc_cta.html">call to action</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Portfolio</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Portfolio masonry</a>
                                        <ul>
                                            <li><a href="portfolio-masonry-2column.html">Masonry 2 Column</a></li>
                                            <li><a href="portfolio-masonry-3column.html">Masonry 3 Column</a></li>
                                            <li><a href="portfolio-masonry-4column.html">Masonry 4 Column</a></li>
                                            <li><a href="portfolio-masonry-6column.html">Masonry 6 Column</a></li>
                                            <li><a href="portfolio-masonry-hover.html">Boxed Hover</a></li>
                                            <li><a href="portfolio-masonry-primary-hover.html">Primary Hover</a></li>
                                            <li><a href="portfolio-masonry-dark-hover.html">Dark Hover</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Portfolio fullwidth</a>
                                        <ul>
                                            <li><a href="portfolio-fullwidth-2column.html">Fullwidth 2 Column</a></li>
                                            <li><a href="portfolio-fullwidth-2column-hover.html">Fullwidth 2c Dark Hover</a></li>
                                            <li><a href="portfolio-fullwidth-3column.html">Fullwidth 3 Column</a></li>
                                            <li><a href="portfolio-fullwidth-4column.html">Fullwidth 4 Column</a></li>
                                            <li><a href="portfolio-fullwidth-6column.html">Fullwidth 6 Column</a></li>
                                            <li><a href="portfolio-fullwidth-hover.html">Boxed Hover</a></li>
                                            <li><a href="portfolio-fullwidth-primary-hover.html">Primary Hover</a></li>
                                            <li><a href="portfolio-fullwidth-dark-hover.html">Dark Hover</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Portfolio Boxed</a>
                                        <ul>
                                            <li><a href="portfolio-boxed-2column.html">Boxed 2 Column</a></li>
                                            <li><a href="portfolio-boxed-3column.html">Boxed 3 Column</a></li>
                                            <li><a href="portfolio-boxed-4column.html">Boxed 4 Column</a></li>
                                            <li><a href="portfolio-boxed-6column.html">Boxed 6 Column</a></li>
                                            <li><a href="portfolio-boxed-hover.html">Boxed Hover</a></li>
                                            <li><a href="portfolio-boxed-primary-hover.html">Primary Hover</a></li>
                                            <li><a href="portfolio-boxed-dark-hover.html">Dark Hover</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="portfolio-promo.html">Portfolio Promo</a></li>
                                    <li><a href="portfolio-single.html">portfolio single</a></li>
                                    <li><a href="portfolio-single2.html">portfolio single 2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Standard Blog</a>
                                        <ul>
                                            <li>
                                                <a href="blog.html">Blog</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Blog Style 2</a>
                                        <ul>
                                            <li>
                                                <a href="blog2.html">Blog 2</a>
                                            </li>
                                            <li>
                                                <a href="blog2-fullwidth.html">Blog 2 Fullwidth</a>
                                            </li>
                                            <li>
                                                <a href="blog2-single.html">Blog 2 Single</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Blog Style 3</a>
                                        <ul>
                                            <li><a href="blog3.html">Blog 3</a></li>
                                            <li><a href="blog3-single.html">Blog 3 Single</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Masonry Blog</a>
                                        <ul>
                                            <li>
                                                <a href="blog-4-column.html">Masonry Wide</a>
                                                <ul>
                                                    <li><a href="blog-2-column-fullwidth.html">2 Column</a></li>
                                                    <li><a href="blog-3-column-fullwidth.html">3 Column</a></li>
                                                    <li><a href="blog-4-column-fullwidth.html">4 Column</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="blog-4-column.html">Masonry Wide Fullscreen</a>
                                                <ul>
                                                    <li><a href="blog-2-column-fullscreen.html">2 Column</a></li>
                                                    <li><a href="blog-2-column-fullwidth.html">2 Column Right Sidebar</a></li>
                                                    <li><a href="blog-3-column-fullscreen.html">3 Column</a></li>
                                                    <li><a href="blog-4-column-fullscreen.html">4 Column</a></li>
                                                    <li><a href="blog-6-column-fullscreen.html">6 Column</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-both-sidebar.html">Blog Both Sidebar</a></li>
                                    <li><a href="blog-both-left-sidebar.html">Blog Both Left Sidebar</a></li>
                                    <li><a href="blog-both-right-sidebar.html">Blog Both Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                                <ul class="sub-menu">
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="contact2.html">Contact 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- /main nav -->
                </div>                
            </div>
        </header>
        <!--
        End Navigation
        ==================================== -->

            <!--
            Home Banner
            ==================================== -->
            <div class="slider-wrapper eydia clb">
                <div class="init-slider1 control-one">
                    <div class="item">
                        <div class="container">
                            <div class="slide-item">
                                <div class="slide-item-inner">
                                    <h2><strong>Igniting <br class="hidden-xs"> innovations</strong><br class="hidden-xs"> for <strong>future</strong></h2>
                                    <p>Where the end is a simpler understanding or a simpler <br class="hidden-xs">result or a simpler way to share. Sometimes <br class="hidden-xs">I have to look backward to find simplicity</p>
                                    <div class="eydia-btn">
                                        <a href="#" class="btn btn-ash">Order Now!</a>
                                    </div>
                                    <div class="inner-image hidden-xs">
                                        <img src="/imgs/slider/eydia.png" alt="Eydia">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="container">
                            <div class="slide-item item2">
                                <div class="slide-item-inner">
                                    <h2><strong>Igniting <br class="hidden-xs"> innovations</strong><br class="hidden-xs"> for <strong>future</strong></h2>
                                    <p>Where the end is a simpler understanding or a simpler <br class="hidden-xs">result or a simpler way to share. Sometimes <br class="hidden-xs">I have to look backward to find simplicity</p>
                                    <div class="eydia-btn">
                                        <a href="#" class="btn btn-ash">Order Now!</a>
                                    </div>
                                    <div class="inner-image hidden-xs">
                                        <img src="/imgs/slider/eydia.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            End Home Banner
            ==================================== -->

            <!--
            Services
            ==================================== -->
            <section id="service">
                <div class="container">
                    <div class="row">
                        <header class="col-lg-12 section-head text-center item_top">
                            <h2>Modern Inventions</h2>
                            <p>We are always passionate on new idea generation and development</p>
                        </header>
                        
                        <div class="col-sm-6 col-md-3">
                            <div class="nws-item nws-hover">
                                <div class="nws-thumb">
                                    <img class="img-responsive" alt="" src="/imgs/news/snow-bike.jpg">
                                </div>
                                <div class="news-head">
                                    <h4><a href="#">Style on snow</a></h4>
                                </div>
                                <div class="separator"><span></span></div>
                                <p>Oligula nibh, molest ie id viverra a, at the dapibus at dolor. In iaculi policy....</p>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-md-3">
                            <div class="nws-item nws-hover">
                                <div class="nws-thumb">
                                    <img class="img-responsive" alt="" src="/imgs/news/egg.jpg">
                                </div>
                                <div class="news-head">
                                    <h4><a href="#">COOLEST INVENTION</a></h4>
                                </div>
                                <div class="separator"><span></span></div>
                                <p>Oligula nibh, molest ie id viverra a, at the dapibus at dolor. In iaculi policy....</p>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-md-3">
                            <div class="nws-item nws-hover">
                                <div class="nws-thumb">
                                    <img class="img-responsive" alt="" src="/imgs/news/plane.jpg">
                                </div>
                                <div class="news-head">
                                    <h4><a href="#">Future airplane</a></h4>
                                </div>
                                <div class="separator"><span></span></div>
                                <p>Oligula nibh, molest ie id viverra a, at the dapibus at dolor. In iaculi policy....</p>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-md-3">
                            <div class="nws-item nws-hover">
                                <div class="nws-thumb">
                                    <img class="img-responsive" alt="" src="/imgs/news/lptp.jpg">
                                </div>
                                <div class="news-head">
                                    <h4><a href="#">Futuristic Lifestyle</a></h4>
                                </div>
                                <div class="separator"><span></span></div>
                                <p>Oligula nibh, molest ie id viverra a, at the dapibus at dolor. In iaculi policy....</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--
            End Services
            ==================================== -->

            <!--
            Products
            ==================================== -->
            <section id="product">
                <div class="container">
                    <div class="row">
    					<header class="col-md-8 col-md-offset-2 section-head text-center item_top">
    						<h2>Product we Produce</h2>
    					</header>

                        <div class="col-md-12">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Single Tab -->
                                <div class="tab-pane fade" id="pdt1">
                                    <div class="row">
                                        <div class="col-md-6 item_left">
                                            <div class="product-img">
                                                <img src="/imgs/products/pdbox.png" alt="">
                                            </div>
                                        </div>

                                        <div class="col-md-6 item_right">
                                            <div class="product-overview">
                                                <h3>We are pleased to introduce an lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                                                <p>So you can be sure that what you are eating is gluten-free, the table below that shows you the only ingredients to avoid on our menu, everything else is gluten-free including all our dressings:</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                                <a href="#" class="btn btn-blue">start now!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // Single Tab -->
                                <!-- Single Tab -->
                                <div class="tab-pane fade in active" id="pdt2">
                                    <div class="row">
                                        <div class="col-md-6 item_left">
                                            <div class="product-img">
                                                <img src="/imgs/products/pdbox.png" alt="">
                                            </div>
                                        </div>

                                        <div class="col-md-6 item_right">
                                            <div class="product-overview">
                                                <h3>We are pleased to introduce an lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                                                <p>So you can be sure that what you are eating is gluten-free, the table below that shows you the only ingredients to avoid on our menu, everything else is gluten-free including all our dressings:</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                                <a href="#" class="btn btn-blue">start now!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // Single Tab -->
                                <!-- Single Tab -->
                                <div class="tab-pane fade" id="pdt3">
                                    <div class="row">
                                        <div class="col-md-6 item_left">
                                            <div class="product-img">
                                                <img src="/imgs/products/pdbox.png" alt="">
                                            </div>
                                        </div>

                                        <div class="col-md-6 item_right">
                                            <div class="product-overview">
                                                <h3>We are pleased to introduce an lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                                                <p>So you can be sure that what you are eating is gluten-free, the table below that shows you the only ingredients to avoid on our menu, everything else is gluten-free including all our dressings:</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                                <a href="#" class="btn btn-blue">start now!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // Single Tab -->
                            </div>
                            <!-- // Tab panes -->
                        </div>
                        <!-- // col-md-12 -->

                        <div class="col-md-12">
                            <!-- Nav tabs -->
                            <ul class="pd-tab-nav list-inline text-center margin_top20">
                                <li><a href="#pdt1" data-toggle="tab">Future Products</a></li>
                                <li class="active"><a href="#pdt2" data-toggle="tab">Developing</a></li>
                                <li><a href="#pdt3" data-toggle="tab">Finished Products</a></li>
                            </ul>
                            <!-- // Nav tabs -->
                        </div>
                        <!-- // col-md-12 -->
                    </div>
                </div>
            </section>
            <!--
            End Products
            ==================================== -->

            <section class="killPaddingBottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="block-text">
                                <span class="highlight-color">Latest Sensation</span>
                                <h2>Simple <strong>Gadget</strong><br class="hidden-xs"> Turning Ideas<br class="hidden-xs"> into <strong>Reality</strong></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="block-img">
                                <img src="/imgs/products/phone-layer.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="killPaddingBottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <ul class="gallery-filter text-center">
                                <li><a class="active" data-filter="*" href="#">All</a></li>
                                <li><a data-filter=".branding" href="#">Branding</a></li>
                                <li><a data-filter=".gallery" href="#">Gallery</a></li>
                                <li><a data-filter=".photography" href="#">photography</a></li>
                                <li><a data-filter=".video" href="#">Video</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row gallery-filterable fullwidth">
                        <div class="col-xs-12 col-sm-6 col-md-4 photography branding">
                            <div class="portfolio-item boxed-hover">
                                <div class="portfolio-thumb">
                                    <img src="/imgs/portfolio/5.jpg" alt="portfolio" class="img-responsive">
                                </div>
                                <div class="portfolio-desc">
                                    <div class="portfolio-desc-inner">
                                        <span><a href="/imgs/portfolio/5.jpg" data-lightbox="product">open</a></span>
                                        <span><a href="#gallery_details" class="link">link</a></span>
                                        <h4>Home Appliances</h4>
                                        <p>Human tested explanation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4 video branding">
                            <div class="portfolio-item boxed-hover">
                                <div class="portfolio-thumb">
                                    <img src="/imgs/portfolio/6.jpg" alt="portfolio" class="img-responsive">
                                </div>
                                <div class="portfolio-desc">
                                    <div class="portfolio-desc-inner">
                                        <span><a href="/imgs/portfolio/6.jpg" data-lightbox="product">open</a></span>
                                        <span><a href="#gallery_details" class="link">link</a></span>
                                        <h4>Home Appliances</h4>
                                        <p>Human tested explanation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4 gallery photography">
                            <div class="portfolio-item boxed-hover">
                                <div class="portfolio-thumb">
                                    <img src="/imgs/portfolio/7.jpg" alt="portfolio" class="img-responsive">
                                </div>
                                <div class="portfolio-desc">
                                    <div class="portfolio-desc-inner">
                                        <span><a href="/imgs/portfolio/7.jpg" data-lightbox="product">open</a></span>
                                        <span><a href="#gallery_details" class="link">link</a></span>
                                        <h4>Home Appliances</h4>
                                        <p>Human tested explanation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 branding gallery">
                            <div class="portfolio-item boxed-hover">
                                <div class="portfolio-thumb">
                                    <img src="/imgs/portfolio/8.jpg" alt="portfolio" class="img-responsive">
                                </div>
                                <div class="portfolio-desc">
                                    <div class="portfolio-desc-inner">
                                        <span><a href="/imgs/portfolio/8.jpg" data-lightbox="product">open</a></span>
                                        <span><a href="#gallery_details" class="link">link</a></span>
                                        <h4>Home Appliances</h4>
                                        <p>Human tested explanation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4 photography video">
                            <div class="portfolio-item boxed-hover">
                                <div class="portfolio-thumb">
                                    <img src="/imgs/portfolio/9.jpg" alt="portfolio" class="img-responsive">
                                </div>
                                <div class="portfolio-desc">
                                    <div class="portfolio-desc-inner">
                                        <span><a href="/imgs/portfolio/9.jpg" data-lightbox="product">open</a></span>
                                        <span><a href="#gallery_details" class="link">link</a></span>
                                        <h4>Home Appliances</h4>
                                        <p>Human tested explanation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4 branding photography">
                            <div class="portfolio-item boxed-hover">
                                <div class="portfolio-thumb">
                                    <img src="/imgs/portfolio/10.jpg" alt="portfolio" class="img-responsive">
                                </div>
                                <div class="portfolio-desc">
                                    <div class="portfolio-desc-inner">
                                        <span><a href="/imgs/portfolio/10.jpg" data-lightbox="product">open</a></span>
                                        <span><a href="#gallery_details" class="link">link</a></span>
                                        <h4>Home Appliances</h4>
                                        <p>Human tested explanation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4 gallery video">
                            <div class="portfolio-item boxed-hover">
                                <div class="portfolio-thumb">
                                    <img src="/imgs/portfolio/11.jpg" alt="portfolio" class="img-responsive">
                                </div>
                                <div class="portfolio-desc">
                                    <div class="portfolio-desc-inner">
                                        <span><a href="/imgs/portfolio/11.jpg" data-lightbox="product">open</a></span>
                                        <span><a href="#gallery_details" class="link">link</a></span>
                                        <h4>Home Appliances</h4>
                                        <p>Human tested explanation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4 gallery video">
                            <div class="portfolio-item boxed-hover">
                                <div class="portfolio-thumb">
                                    <img src="/imgs/portfolio/12.jpg" alt="portfolio" class="img-responsive">
                                </div>
                                <div class="portfolio-desc">
                                    <div class="portfolio-desc-inner">
                                        <span><a href="/imgs/portfolio/12.jpg" data-lightbox="product">open</a></span>
                                        <span><a href="#gallery_details" class="link">link</a></span>
                                        <h4>Home Appliances</h4>
                                        <p>Human tested explanation</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 photography branding">
                            <div class="portfolio-item boxed-hover">
                                <div class="portfolio-thumb">
                                    <img src="/imgs/portfolio/1.jpg" alt="portfolio" class="img-responsive">
                                </div>
                                <div class="portfolio-desc">
                                    <div class="portfolio-desc-inner">
                                        <span><a href="/imgs/portfolio/1.jpg" data-lightbox="product">open</a></span>
                                        <span><a href="#gallery_details" class="link">link</a></span>
                                        <h4>Home Appliances</h4>
                                        <p>Human tested explanation</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- end .row portfolio-wrapper -->
                </div>
            </section>

            <section class="page-sec-head">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1  col-md-10 text-center">
                            <h1>marketing features</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="killPaddingBottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="about-tab-nav text-center">
                                <li class="active">
                                    <a href="#concept" aria-controls="concept" data-toggle="tab">Concept</a>
                                </li>
                                <li>
                                    <a href="#develop" aria-controls="develop" data-toggle="tab">develop</a>
                                </li>
                                <li>
                                    <a href="#celebrate" aria-controls="celebrate" data-toggle="tab">celebrate</a>
                                </li>
                              </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                            <div class="tab-content about-tab-content">

                              <div class="tab-pane fade in active" id="concept">
                                  <div class="row">
                                        <div class="col-sm-5 col-md-4 col-lg-4">
                                            <img src="/imgs/news/man.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="col-sm-7 col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7">
                                            <h3>Concept</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                        </div>
                                  </div>
                              </div>

                              <div class="tab-pane" id="develop">
                                  <div class="row">
                                        <div class="col-lg-4">
                                            <img src="/imgs/news/man.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="col-lg-offset-1 col-lg-7">
                                            <h3>develop</h3>
                                            <p>Recusandae fuga libero sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                            <p>Maiores voluptate delectus recusandae fuga libero magnam? Sint accusantium mollitia, magnam unde commodi cupiditate! Porro nobis rem necessitatibus ut.</p>
                                        </div>
                                  </div>
                              </div>

                              <div class="tab-pane" id="celebrate">
                                  <div class="row">
                                        <div class="col-lg-4">
                                            <img src="/imgs/news/man.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="col-lg-offset-1 col-lg-7">
                                            <h3>celebrate</h3>
                                            <p>Nostrud ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>
                                        </div>
                                  </div>
                              </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="client-carousel2">
                <div class="container">
                    <ul class="client-carousel-2">
                        <li>
                            <figure class="carousel-item">
                                <a href="">
                                    <img src="/imgs/client/jaguar.png" alt="">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure class="carousel-item">
                                <a href="">
                                    <img src="/imgs/client/logitech.png" alt="">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure class="carousel-item">
                                <a href="">
                                    <img src="/imgs/client/samsung.png" alt="">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure class="carousel-item">
                                <a href="">
                                    <img src="/imgs/client/jaguar.png" alt="">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure class="carousel-item">
                                <a href="">
                                    <img src="/imgs/client/sun.png" alt="">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure class="carousel-item">
                                <a href="">
                                    <img src="/imgs/client/dove.png" alt="">
                                </a>
                            </figure>
                        </li>
                    </ul>
                </div>
            </section>
            
<!--
footer widget
==================================== -->
<section class="footer-widget">
    <div class="container">
        <div class="row with-border">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="footer-item">
                    <img alt="Eydia" src="/imgs/icons/logo.png">
                    <p>Multi-Purpose and amazingly fast WordPress theme. Build outstanding websites without coding skills. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, quis.</p>
                    <a href="#">Get Started</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="footer-item contact-info">
                    <h4>contact info</h4>
                    <ul>
                        <li><i class="fa fa-building-o"></i><span>Your Company</span></li>
                        <li><i class="fa fa-map-marker"></i><span>1 Liberty St New York, NY 5006</span></li>
                        <li><i class="fa fa-phone"></i><span>410-800-900</span></li>
                        <li><i class="fa fa-envelope-o"></i><span><a href="mailto:info@yourmail.com">info@yourmail.com</a></span></li>
                        <li><i class="fa fa-globe"></i><span><a href="#" target="_blank">yoursite.com</a></span></li>
                        <li><i class="fa fa-skype"></i><span><a href="skype:eydia?call">eydia</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="footer-item recent-posts">
                    <h4>Recent Posts</h4>
                    <ul>
                        <li><a href="#">Standard Post <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="#">Media Post <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="#">Gallery Post <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="#">Youtube Post <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="#">Audio Post <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="#">Quote Post <i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="footer-item recent-posts">
                    <h4>Flickr Stream</h4>
                    <ul class="flickr-widget clearfix"></ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
End footer widget
==================================== -->

            <!--
            footer
            ==================================== -->
            <footer class="footer">
                <div class="container">
                    <p class="copyright pull-left item_left"> Copyright &copy; 2015 Eydia. All rights reserved. design by <strong><a href="#">pixel studio</a>.</strong></p>
                    <ul class="pull-right social-links text-center item_right">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </footer>
            <!--
            End footer
            ==================================== -->
            
            <!-- back to top -->
            <a href="javascript:;" id="go-top">
                <i class="fa fa-angle-up"></i>
                top
            </a>
            <!-- end #go-top -->
        </div>

            <!--
        JavaScripts
        ========================== -->
        <!-- main jQuery -->
        <script type="text/javascript" src="/js1/vendor/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="/js1/vendor/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/js1/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="/js1/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.appear.js"></script>
        <script type="text/javascript" src="/js1/jquery.bxslider.min.js"></script>
        <script type="text/javascript" src="/js1/vendor/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.backstretch.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.nav.js"></script>
        <script type="text/javascript" src="/js1/lightbox.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js1?sensor=true"></script>
        <script type="text/javascript" src="/js1/jquery-validation.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/js1/form.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.multiscroll.min.js"></script>
        <script type="text/javascript" src="/js1/jquery-countTo.js"></script>
        <script type="text/javascript" src="/js1/jquery.mb.YTPlayer.min.js"></script>
        <script type="text/javascript" src="/js1/jflickrfeed.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.selectbox-0.2.min.js"></script>
        <script type="text/javascript" src="/js1/tweetie.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.sticky.js"></script>
        <script type="text/javascript" src="/js1/jquery.nicescroll.min.js"></script>
        <!--
        <script type="text/javascript" src="js/okvideo.min.js"></script>
        -->
        <script type="text/javascript" src="/js1/bootstrap-progressbar.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.circliful.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.easypiechart.js"></script>
        <script type="text/javascript" src="/js1/masonry.pkgd.js"></script>
        <script type="text/javascript" src="/js1/jquery.tubular.1.0.js"></script>
        <script type="text/javascript" src="/js1/kenburned.min.js"></script>
        <script type="text/javascript" src="/js1/mediaelement-and-player.min.js"></script>
        <!-- shortcode scripts -->
        <script type="text/javascript" src="/shortcodes/js/jquery.nivo.slider.pack.js"></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.slicebox.min.js"></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.eislideshow.js"></script>
        <script type="text/javascript" src="/shortcodes/js/camera.min.js"></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.zaccordion.min.js"></script>
        <script type="text/javascript" src="/shortcodes/js/main.js"></script>
        <script type="text/javascript" src="/js1/jquery.prettySocial.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.zoom.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.countdown.js"></script>
        <script type="text/javascript" src="/js1/jquery.webticker.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.timepicker.min.js"></script>
        <script type="text/javascript" src="/js1/selectize.min.js"></script>
        <!-- image filter -->
        <script type="text/javascript" src="/js1/img-filter/jquery.gray.min.js"></script>
        <!-- // image filter -->
        <script type="text/javascript" src="/js1/wow.min.js"></script>
        <script src="/syntax-highlighter/scripts/prettify.min.js"></script>
        <script type="text/javascript">$.SyntaxHighlighter.init();</script>
        <script type="text/javascript" src="/js1/main.js"></script>
    </body>
</html>
