    <%- include partials/header %>

        <!--
        End Navigation
        ==================================== -->

        <!--
        Home Banner
        ==================================== -->

<style type="text/css">
  .slide13 .slide-item {
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: contain;
}
</style>

<span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=YnGNOjnPxnkfy5rh5qBQhq636hquxFNhC8ff1LQvELzRSB4s2ql90sLSkBT6"></script></span>
      <span id="grandtotalprice" style="display: none;"></span>
     <span id="finalPrice" style="display: none;"></span>
     <span id="finalPricess" style="display: none;"></span>

       <section id="start" class="home-banner13 fullscreen control-one killPadding">
            <div class="slide13 shop-slide">
                <% for (var i = 0; i < loadsliderdata.length; i++) if(loadsliderdata[i].status == "1") { %>
                <div class="slide-item fullscreen active" style="background-image: url(/uploads/slider/<%= loadsliderdata[i].sliderImg.originalname %>);">
                    <!-- <div class="overlay"></div> -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 fullscreen">
                                <!-- <div class="banner-caption">
                                    <h1 class="">idea <strong>products <br>future</strong> design</h1>
                                    <p class="">where the end is a simpler understanding or a simpler <br>result or a simpler way to share. ometimes I have to <br>look backward to find simplicity</p>
                                    <div class="slide-button">
                                        <a href="#" class="btn btn-blue">order now!</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
              
                <% } %>
            </div>
        </section>


     <form id="regForm" action="/login" method="post" class="form-horizontial">
      
                       
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
      <% } %>


  <h1>Login:</h1>
  <!-- One "tab" for each step in the form: -->
  <div class="tab">User Name:
    <p><input placeholder="User Name..." oninput="this.className = ''" name="username" id="username"></p>
  </div>
  <div class="tab">Enter Otp:
    <p><input placeholder="Enter Otp..." oninput="this.className = ''" name="ottp" id="ottp"></p>
  </div>
  <br>
  <div style="overflow:auto;">
    <div style="float:right;">
     <!--  <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button> -->
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>

    

    <%- include partials/footer %>
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
         <div class="modal-body">
                      
   

<div id="update_div"></div>

<style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    width: 35%;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
</style>

 <% var rowFrameworkResultInJss = datauser 
 var totall = rowFrameworkResultInJss.length

    var finalvals = JSON.stringify(rowFrameworkResultInJss)

 %>

<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {

    // alert(n);

       

    var user_name = $('#username').val();
   

    var data = 'user_name=' + user_name;

    var update_div = $('#update_div');

  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
   // alert(currentTab);
   if(currentTab == "0"){

      $.ajax({
        type: 'GET',
         // url: 'http://localhost:2222/verifyotp',
        url: 'http://poycard.com/verifyotp',
        data: {user_name: user_name},   
        success:function(data){   
        // alert(data); 
         var datakk = JSON.stringify(data);
         // alert(datakk);
         // alert("Your OTP is : " + data["Otpdata"]);
       
          // alert(JSON.Stringify(html));
        }
    });

   }
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
   // alert(currentTab);
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();

    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);

}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>

                                 
                        
        </div>

       </div>
       
      </div>
      
    </div>

  </div>



  </div>
   