    <%- include partials/header_userdashboard %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

 <meta property="og:image" content="http://poycard.com/">
 
    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
            <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

                 


                     <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                     <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                     <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                    
                     <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                  <!--     <li ng-class="{active: activeTab === 'managecoupon'}"><a href="managecoupon"><i class="fa fa-user"  aria-hidden="true"></i> Coupon  Managment</a></li> -->
                      <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>
                       <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 
                        <ul> <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                        <!-- <li ng-class="{active: activeTab === 'size'}"><a href="managesize"><i class="fa fa-user"  aria-hidden="true"></i> Size Mangment</a>
                        </li>
                        <li ng-class="{active: activeTab === 'color'}"><a href="managecolor"><i class="fa fa-user"  aria-hidden="true"></i> Color Managment</a>
                        </li> -->
                    </ul>
                       </li>
                        <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>
                       <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>
                        <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                        <li ng-class="{active: activeTab === 'manageorder'}"  class="active"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                   
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                       <li ng-class="{active: activeTab === 'order'}" class="active"><a href="order" class="active"><i class="fa fa-user-md" aria-hidden="true"></i> My Order</a></li>
                     <!-- <li ng-class="{active: activeTab === 'consult'}"><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                     <!--  <li ng-class="{active: activeTab === 'review-consult'}"><a href="review-consult"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                      <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                        <style type="text/css">
    #nav li ul { display: none; list-style:none;}
</style>
<script type="text/javascript">
    $("#nav li a").on("click", function (e) {
    //allow links to be followed if they don't have a sub-menu
    if ( !$(this).parent().has("ul").length ) { return; }

    //we have a sub-menu, so stop the link from being followed
    e.preventDefault();

    if(!$(this).hasClass("open")) {
        //we need to know which 'level' we're on 
        var currentLevel = $(this).closest('ul')
        $("li ul", currentLevel).slideUp(350);
        $("li a", currentLevel).removeClass("open");

        // open our new menu and add the open class
        $(this).next("ul").slideDown(350);
        $(this).addClass("open");
    } else {
        $(this).removeClass("open");
        $(this).next("ul").slideUp(350);
    }
});

</script> 
                        
                    </div>

                            <!--<li ng-class="{active: activeTab === 'admin'}"><a ui-sref="admin" ><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                            <li ng-class="{active: activeTab === 'order'}"><a ui-sref="order" ><i class="fa fa-first-order"  aria-hidden="true"></i> Order Management</a></li>-->

            
                    
                         <div class="span9 " style="height: 1500px;">
                              
                           
                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN SAMPLE FORM PORTLET-->   
                                    <div class="flash-message" ng-if="flash">
                                                <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                                     </div>
                                    <div class="portlet box blue tabbable" id="content">
                                        <div class="portlet-title">
                                            <div class="caption">
                                             
                                                <span class="hidden-480">Orders List</span>
                                            </div>
                                        </div>

                                         <div class="portlet-body form">
                                            <div class="tabbable portlet-tabs" id="portlet_tab1">

   <table style="width: 100%;">

      <tr>
        <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
        <img src="/uploads/logo/<%= loadwebsitedata[i].img.originalname %>" alt="<%= loadwebsitedata[i].webName %>" style="width: 25%;">
        <% } %>
        <h4 class="text-center">Order Invoice</p></h4>
      </tr>

      <tr>
        <h1 class="text-center">BAGAP AUTOMOBILES PRIVATE LIMITED</</h1>
      </tr>

      <tr>
          <h3 class="text-center">45-D NEW MANGAL COMPOUND, NEAR MITTAL TOLL KANTA, DEWAS NAKA, INDORE-452010</h3>
      </tr>

      <tr>
         <h4 style="float: right;">GSTIN NO- 23AAICB2519C1Z9</h4> 
         <h4 style="float: left;">EMAIL ID- Bagapauto@gmail.com</h4> 
      </tr>
      
</table>                                           

                                            
                                                        <div class="control-group" style="text-align: center;">
                                                         <h4><b id="itsid"> Your Order Id - <%= orderid %> </b></h4>

                                                         <h5><b>Product List</b></h5>

                                                        </div>         


                                <form method="post" class="form-horizontal" style="height: 100px;overflow-y: scroll;">


                                 <table datatable="ng" id="example" class="table table-striped table-bordered" width="100%" ui-jq="datatable" ui-options="options">
                                            <thead>
                                              <tr>
                                                <th>Part Id</th>
                                                <th>Part Name</th>
                                                <th>Part Price</th>
                                                <th>Part Quantity</th>
                                                <th>Again Order</th>
                                              
                                              </tr>
                                            </thead>
                                            <tbody>
                                               <% for (var i = 0; i < data.length; i++) if(data[i].orderid == orderid) { %>
                                              <tr>
                                                <td>
                                            <% for (var j = 0;  j< loadproductdata.length; j++) if(loadproductdata[j]._id == data[i].productid) { %>
                                                  <%= loadproductdata[j].partId %>
                                                <% } %>
                                                  </td>
                                                <td><%= data[i].productname %></td>
                                                <td><i class="fa fa-inr" aria-hidden="true"></i> <%= data[i].productprice %></td>
                                                <td><%= data[i].productqty %></td>
                                                <td><a href="productshops?id=<%= data[i].productid %>" target="_blank">Reorder</a></td>
                                               
                                              </tr>
                                              <% } %>
                                            </tbody>
                                          </table>
                                        </form>

                                        <input type="hidden" id="ppppartIdd">

                                        <input type="hidden" id="quuuttutut"> 


                                        <input type="hidden" id="mongoId">
                                         
                                           <% for (var i = 0; i < datas.length; i++) if(datas[i]._id == orderid) { %>
          
                              <form class="form-horizontal" method="post" style="height: 600px;">
                                  
                                <table datatable="ng" id="example" class="table table-striped" width="100%" ui-jq="datatable" ui-options="options">
                                     
                                  <%  if(datas[i].billfname) { %>

                                    <tr>
                                        <th>First Name</th>
                                        <th><%= datas[i].billfname %></th>
                                    </tr>
                                 
                                  <%  } else { %>

                                    <tr>
                                        <th>First Name</th>
                                        <th><%= datas[i].shipfname %></th>
                                    </tr>

                                  <%  } %>
                                       
                                  <%  if(datas[i].billname) { %>

                                    <tr>
                                        <th>Last Name</th>
                                        <th><%= datas[i].billname %></th>
                                    </tr>

                                  <%  } else { %>

                                    <tr>
                                        <th>Last Name</th>
                                        <th><%= datas[i].shiplname %></th>
                                    </tr>

                                  <%  } %>

                                  <%  if(datas[i].billemail) { %>

                                    <tr>
                                        <th>Email</th>
                                        <th><%= datas[i].billemail %></th>
                                    </tr>

                                  <%  } else { %>

                                    <tr>
                                        <th>Email</th>
                                        <th><%= datas[i].shipemail %></th>
                                    </tr>
                                  
                                  <%  } %>

                                  <%  if(datas[i].billphone) { %>

                                    <tr>
                                        <th>Phone</th>
                                        <th><%= datas[i].billphone %></th>
                                    </tr>

                                  <%  } else { %>

                                    <tr>
                                        <th>Phone</th>
                                        <th><%= datas[i].shipphone %></th>
                                    </tr>

                                  <%  } %>

                                  <%  if(datas[i].billaddress) { %>

                                    <tr>
                                        <th>Address</th>
                                        <th><%= datas[i].billaddress %></th>
                                    </tr>

                                  <%  } else { %>

                                    <tr>
                                        <th>Address</th>
                                        <th><%= datas[i].autocomplete %></th>
                                    </tr>

                                   <%  } %>

                                  <%  if(datas[i].billcity) { %>
         
                                    <tr>
                                        <th>City</th>
                                        <th><%= datas[i].billcity %></th>
                                    </tr>

                                  <%  } else { %>

                                    <tr>
                                        <th>City</th>
                                        <th><%= datas[i].locality %></th>
                                    </tr>
                                  
                                  <%  } %>

                                  <%  if(datas[i].billstate) { %>

                                    <tr>
                                        <th>State</th>
                                        <th><%= datas[i].billstate %></th>
                                    </tr>

                                  <%  } else { %>

                                    <tr>
                                        <th>State</th>
                                        <th><%= datas[i].administrative_area_level_1 %></th>
                                    </tr>
                                  
                                  <%  } %>

                                  <%  if(datas[i].billcode) { %>
                                  
                                    <tr>
                                        <th>Pin Code</th>
                                        <th><%= datas[i].billcode %></th>
                                    </tr>

                                  <%  } else { %>

                                    <tr>
                                        <th>Pin Code</th>
                                        <th><%= datas[i].postal_code %></th>
                                    </tr>

                                  <%  } %>

                                   <% for (var d = 0;  d< loaduserdata.length; d++) if(loaduserdata[d]._id == datas[i].userid) { %>
                                  <tr>
                                    <th>Company Name</th>
                                    <th><%= loaduserdata[d].companyName %></th>
                                  </tr>
                                   
                                   <% } %>

                                    <tr>
                                            
                                        <th>Grand Total</th>
                                        <th><i class="fa fa-inr" aria-hidden="true"></i><%= datas[i].hdnCartTotal %></th>
                                    </tr>

                                     <tr>
                                        <th>Tax</th>
                                        <th><i class="fa fa-inr" aria-hidden="true"></i>0</th>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <th><i class="fa fa-inr" aria-hidden="true"></i><%= datas[i].hdnCartTotal %></th>
                                    </tr>
                                    <tr>
                                        <th>Order Status</th>
                                        <th><%= datas[i].o_status %></th>
                                    </tr>
                                    <tr>
                                        <th>Order Date</th>
                                        <th id="odata"><%= datas[i].datetime %></th>
                                    </tr>
                                  <!--   <tr>
                                        <th>Cancle Before 7 days </th>
                                        <th><span id="ktshhhh"></span></th>
                                    </tr> -->

                                    <% if(datas[i].o_status == "Pending"){ %>

                                    <tr>
                                      <td><a href="/updateorder?orderid=<%= orderid %>&o_status=Cancelled">Click here to Cancel this Order</td>
                                    </tr>

                                    <% } %>
                                    
                                    <% } %> 

                                    <% if (user.user_role === 'user') { %> 

                                      <% for (var i = 0; i < data.length; i++) if(data[i].orderid == orderid) { %>

                                        <% for (var j = 0;  j< loadproductdata.length; j++) if(loadproductdata[j]._id == data[i].productid) { %>

                                          <tr id="viewesdatstatus">
                                            <th>Click here to cancel Order</th>
                                             <input type="hidden" name="orderid" value="<%= orderid %>" style="display: none;">
                                            <th><button type="button" onclick="return ConfirmDelete('<%= data[i].productname %>')" class="btn btn-danger">Cancle Order</button></th>
                                          </tr>

                                        <% } %>

                                      <% } %>

                                    <% } %> 

                                  </table>
                              
                              
                            </form>


                                     
                                        </div>
                                        </div>
                                    </div>
                                   
   
                                </div>
                            </div>

  <% if (user.user_role === 'admin') { %> 

    <button type="button" onclick="return Confirm('updateorder')">Click here to cancel Order</button>
 

  <% } %>

   <script type="text/javascript">

      var idd = "<%= JSON.stringify(orderid) %>";

        var finalId = JSON.parse(idd.replace(/&quot;/g,'"'));

      var dataaa = "<%= JSON.stringify(data) %>";

        var finalData = JSON.parse(dataaa.replace(/&quot;/g,'"'));

      var productdata = "<%= JSON.stringify(loadproductdata) %>";
        
        var finalLoadProduct = JSON.parse(productdata.replace(/&quot;/g,'"'));
              
            var ids = [];
      
          for (var i = 0; i < finalData.length; i++) {

            if(finalData[i].orderid == finalId) {

              for (var j = 0;  j< finalLoadProduct.length; j++) {

                if(finalLoadProduct[j]._id == finalData[i].productid) {
                    
                  ids.push(finalLoadProduct[j].partId) 

                }

              } 

            }
                                                 
          }

          var quntity = [];

        for (var i = 0; i < finalData.length; i++){

          if(finalData[i].orderid == finalId){
             
            quntity.push(finalData[i].productqty)         
  
          }

        }  
  
          $('#ppppartIdd').val(ids);

          $('#quuuttutut').val(quntity);

          $('#mongoId').val(finalId);


          function Confirm(partName){ 

            var x = confirm("Are you sure you want to Cancle This Item ");

            if (x == true){ 

                var iddd = $('#ppppartIdd').val();

                var qunttity = $('#quuuttutut').val();  

                var mongodId = $('#mongoId').val();  

                $.ajax({
                  url: 'updateorder',
                  method: 'GET',
                  data : { iddd , qunttity , mongodId },
                }).
                success (function( data ) {               
                
                  // if(data['success'] == true)
                  // {
                  //   alert("Your Order Under To Cancalation Prodcess");
                  //     location.reload();
                  // } else {
                  //   alert("Your Order Not Cancle Yet We update You Soon");
                  // }

                });

              alert("Ordre Successfull Cancle");

            } else {

              return false;

            }
               
          }
       
    </script>

  <script type="text/javascript">
 
    function ConfirmDelete(partName){

      var x = confirm("Are you sure you want to Cancle This Item " + partName );

      if (x == true){

        var dataid = $("[name='orderid']").val();

        var Status  = 'Cancelled';

           $.ajax({
            url: 'ordercancle',
            method: 'POST',
            data : { dataid , Status },
          }).
          success (function( data ) {
          
            if(data['success'] == true)
            {
              alert("Your Order Under To Cancalation Prodcess");
                location.reload();
            } else {
              alert("Your Order Not Cancle Yet We update You Soon");
            }

          });

      } else {

        return false;

      }
         
    }
 
  </script>

 


  <script type="text/javascript">

    var OrderSDate = document.getElementById("odata").innerHTML;
      // alert("Order Date " + OrderSDate);
      var someDate = new Date(OrderSDate);
      someDate.setDate(someDate.getDate() + 7); //number  of days to add, e.x. 15 days
      var dateFormated = someDate.toLocaleDateString().substr(0,10);
      var newdate = dateFormated.split("/").join("-");

      document.getElementById("ktshhhh").innerHTML=newdate;

      var someDatecurrent = new Date();
      someDatecurrent.setDate(someDatecurrent.getDate()); //number  of days to add, e.x. 15 days
      var dateFormated = someDatecurrent.toLocaleDateString().substr(0,10);
      var newdatecurrent = dateFormated.split("/").join("-");

      if(newdate >= newdatecurrent){
          
          document.getElementById("viewesdatstatus").style.display="block";

      } else {
         
          document.getElementById("viewesdatstatus").style.display="none";
       
      }

  </script>




                             <% if(user.user_role == 'admin') { %>    
                                  <div>
                                  
                                    <hr>

                      <% for (var i = 0; i < datas.length; i++) if(datas[i]._id == orderid) { %>
          
                                  <!-- <form method="post" class="form-horizontal" action="/updateorder" style="height: 200px;"> -->

                                     <form method="post" class="form-horizontal" style="height: 200px;">
                                          <table>
                                            <tbody>
                                            
                                              <td>&nbsp;Update Order Status : &nbsp;</td>
                                                <input type="text" name="orderid" value="<%= orderid %>" style="display: none;">

                                              <td>
                      <select class="form-control" id="o_status" name="o_status">
                        <option value="" ""="">Select Order Status</option>
                         <% if (datas[i].o_status === 'Pending') { %>
                         <option value="Pending" selected="selected">Pending</option>
                         <option value="Processing">Processing</option>
                         <option value="OnHold">On Hold</option>
                         <option value="Done">Done</option>
                         <option value="Cancelled">Cancelled</option>
                         <option value="Refunded">Refunded</option>
                         <option value="Failed">Failed</option>
                          <% } %>

                            <% if (datas[i].o_status === 'Processing') { %>
                         <option value="Pending">Pending</option>
                         <option value="Processing" selected="selected">Processing</option>
                         <option value="OnHold">On Hold</option>
                         <option value="Done">Done</option>
                         <option value="Cancelled">Cancelled</option>
                         <option value="Refunded">Refunded</option>
                         <option value="Failed">Failed</option>
                          <% } %>

                            <% if (datas[i].o_status === 'OnHold') { %>
                         <option value="Pending">Pending</option>
                         <option value="Processing">Processing</option>
                         <option value="OnHold" selected="selected">On Hold</option>
                         <option value="Done">Done</option>
                         <option value="Cancelled">Cancelled</option>
                         <option value="Refunded">Refunded</option>
                         <option value="Failed">Failed</option>
                          <% } %>

                            <% if (datas[i].o_status === 'Done') { %>
                         <option value="Pending">Pending</option>
                         <option value="Processing">Processing</option>
                         <option value="OnHold">On Hold</option>
                         <option value="Done" selected="selected">Done</option>
                         <option value="Cancelled">Cancelled</option>
                         <option value="Refunded">Refunded</option>
                         <option value="Failed">Failed</option>
                          <% } %>

                             <% if (datas[i].o_status === 'Refunded') { %>
                         <option value="Pending">Pending</option>
                         <option value="Processing">Processing</option>
                         <option value="OnHold">On Hold</option>
                         <option value="Done">Done</option>
                         <option value="Cancelled">Cancelled</option>
                         <option value="Refunded" selected="selected">Refunded</option>
                         <option value="Failed">Failed</option>
                          <% } %>

                            <% if (datas[i].o_status === 'Failed') { %>
                         <option value="Pending">Pending</option>
                         <option value="Processing">Processing</option>
                         <option value="OnHold">On Hold</option>
                         <option value="Done">Done</option>
                         <option value="Cancelled">Cancelled</option>
                         <option value="Refunded">Refunded</option>
                         <option value="Failed" selected="selected">Failed</option>
                          <% } %>
                      </select>

                                              <input type="button" class="btn theme-btn updatebtn" value="Update">

                                              </td>
                                            
                                            </tbody>
                                          </table>
                                            </form>


                                     <% } %>       

                                     <button id="export" class="btn btn-info btn-lg"><i class="icon-print"></i> Download PDF</button>

                                        </div>

                                        <% } %>

        </div>
      </div>
    </div>
  </div>




  <script type="text/javascript">

    $('.updatebtn').click(function(){
      var dataid = $("[name='orderid']").val();
      var selectedValdata = $("#o_status option:selected").val();
    
        $.ajax({
          url: 'updateorderstatus',
          method: 'POST',
          data : { dataid , selectedValdata },
        }).
        success (function( data ) {
        
          if(data['success'] == true)
          {
            alert("Your Status Successfull Update");
              location.reload();
          } else {
            alert("Your Status Not Update");
          }

        });
    });
        
  </script>

  
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>

 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>
 
</body>
<!-- END BODY -->
</html>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->



<script type="text/javascript">
  document.getElementById("export").addEventListener("click", function() {
     var printContents = document.getElementById('content').innerHTML;
     var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     window.print();
     document.body.innerHTML = originalContents;
});
//   document.getElementById('export').addEventListener('click',
//   exportPDF);

// var specialElementHandlers = {
//   // element with id of "bypass" - jQuery style selector
//   '.no-export': function(element, renderer) {
//     // true = "handled elsewhere, bypass text extraction"
//     return true;
//   }
// };

// function exportPDF() {

//   var doc = new jsPDF('p', 'pt', 'a4');
//   //A4 - 595x842 pts
//   //https://www.gnu.org/software/gv/manual/html_node/Paper-Keywords-and-paper-size-in-points.html


//   //Html source 
//   // var source = document.getElementById('content').innerHTML;
//   var source = jQuery('#content').html();
//     var margins = {
//     top: 10,
//     bottom: 10,
//     left: 100,
//     width: 595
//   };

//   doc.fromHTML(
//     source, // HTML string or DOM elem ref.
//     margins.left,
//     margins.top, {
//       'width': margins.width,
//       'elementHandlers': specialElementHandlers
//     },

//     function(dispose) {
//       // dispose: object with X, Y of the last line add to the PDF 
//       //          this allow the insertion of new lines after html
//       doc.save('invoice.pdf');
//     }, margins);
// }

</script> 


   
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
  

 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
 height: 30px;
    width: 80%;
}

textarea{
       width: 80%;
 
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
    filter: alpha(opacity=80);
}


 </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        
