    <%- include partials/header_userdashboard %>

    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
                    <ul class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a ui-sref="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

                 
                  <li ng-class="{active: activeTab === 'subscription'}"><a href="subscription" ><i class="fa fa-user"  aria-hidden="true"></i> My Subscription</a></li>



                    <li ng-class="{active: activeTab === 'order'}"><a href="order" ><i class="fa fa-user"  aria-hidden="true"></i> My Order</a></li>


                     <% if (user.user_role === 'admin') { %>
                    <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                    <li ng-class="{active: activeTab === 'managetransaction'}"><a href="managetransaction"><i class="fa fa-user"  aria-hidden="true"></i> Transaction Managment</a></li>
                    <li ng-class="{active: activeTab === 'symptom-admin'}"><a href="symptom-admin"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                    <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list" ><i class="fa fa-user-md"  aria-hidden="true"></i> Our Products</a></li>
                     <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                     <li ng-class="{active: activeTab === 'add-symptoms'}"><a href="add-symptoms" ><i class="fa fa-user-md"  aria-hidden="true"></i> Add Symptoms</a></li>
                     <li ng-class="{active: activeTab === 'manage-symptoms'}"><a href="manage-symptoms"><i class="fa fa-user-md"  aria-hidden="true"></i> Manage Symptoms</a></li>
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                     <li ng-class="{active: activeTab === 'consult'}" class="active"><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                      <li ng-class="{active: activeTab === 'review-consult'}"><a href="review-consult"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                      <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                        
                    </div>

                            <!--<li ng-class="{active: activeTab === 'admin'}"><a ui-sref="admin" ><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                            <li ng-class="{active: activeTab === 'order'}"><a ui-sref="order" ><i class="fa fa-first-order"  aria-hidden="true"></i> Order Management</a></li>-->

            
                    
                         <div class="span9 " style="height: 750px;">
                              
                            <!-- BEGIN PAGE HEADER-->   
                            <div class="row-fluid" style="margin-top: 20px;">
                              <div class="span12">
                            
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                            <h6 class="page-title" style="font-size: 18px;">
                                  <%= user.firstName %>'s Profile !!!!
                                </h6>
                            </div>
                               
                            </div>
                            <!-- END PAGE HEADER-->
                            <!-- BEGIN PAGE CONTENT-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN SAMPLE FORM PORTLET-->   
                                    <div class="flash-message" ng-if="flash">
                                                <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                                     </div>
                                    <div class="portlet box blue tabbable">
                                        <div class="portlet-title">
                                            <div class="caption">
                                             
                                                <span class="hidden-480">Orders List</span>
                                            </div>
                                        </div>

                                         <div class="portlet-body form">
                                            <div class="tabbable portlet-tabs" id="portlet_tab1">

                                            
                                                        <div class="control-group" style="text-align: center;">
                                                         <h4><b> Your Consult Id - <%= consultid %> </b></h4>

                                                        </div>         
                                         <% for (var i = 0; i < data.length; i++) if(data[i]._id == consultid) { %>


    <form class="form-horizontal" style="height: 200px;">             

             
           <div class="control-group">
              <label class="control-label"> Name</label>
              <div class="controls">


                 <input type="text"  name="firstName" class="form-control" value="<%= user.firstName %>" readonly  />
              </div>
             
          </div>
   

          <div class="control-group">
              <label class="control-label">Problem</label>
              <div class="controls">

                  <input type="text" name="problem" class="form-control" value="<%= data[i].problem %>" readonly />


              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Problem Area</label>
              <div class="controls">
<input type="text" class="form-control" value="<%= data[i].problemarea %>" readonly />
              </div>
          </div>

        

          <div class="control-group">
              <label class="control-label">Problem Detail</label>
              <div class="controls">
              <textarea class="form-control"  rows="3" readonly><%= data[i].problemdetail %></textarea>
              </div>
          </div>


</form>

                                  <% } %>
                                  <br>
                                  <br>
      <div class="control-group" style="text-align: center;">
                           <h4><b> Doctor's Reply </b></h4>

                          </div> 

                          <br><br> 
       
          <div class="control-group" style="height:250px;overflow-x: auto;">
              <% for (var k = 0; k < dataconsultreply.length; k++) if(dataconsultreply[k].consult_id == consultid) { %>

            <form action="/notification-query-update" method="post" class="form-horizontal" style="height: 360px;">
           
            <div>

            <input type="hidden" value="<%= k + 1 %>" id="totalreply" name="totalreply">

             <input type="hidden" value="<%= dataconsultreply[k]._id %>" name="consultreply_id">

             <input type="hidden" value="<%= consultid %>" name="current_id">

                 <div class="control-group">
                      <label class="control-label">
                        Date
                      </label>
                      <div class="controls">
                           <input id="datetime" name="datetime" class=" form-control" value="<%= dataconsultreply[k].datetime %>"  readonly>
                      </div>
                  </div>

                      <div class="control-group">
                        <label class="control-label">
                          Doctor's Recommedation
                        </label>
                        <div class="controls">
                      <textarea  name="comment" class=" form-control" rows="3" readonly><%= dataconsultreply[k].comment %></textarea>
                        </div>
                      </div>

                     <div class="control-group">
                        <label class="control-label">
                         Product Link
                        </label>
              
                      <div class="controls">
                        <%
                        var a = "";
                        var x = new Array();
                        x = dataconsultreply[k].product_id.split(",");

                        for (var l = 0; l < x.length; l++) { 
                        %>      
                        <%= l %>

                        
                                                         
                      <a href="order-details?id=<%= x[l] %>" target="_blank"> Click to go to the Product<br></a>
                        <% } %>
                     </div>
                     </div>



                                <div class="control-group">
                                   <label class="control-label">
                                     Image
                                    </label>
                          
                                <div class="controls">  
         
                                 <div class="col-md-12" style="display: inline-flex;">

                                   <div class="div1 col-md-6">

                                  <!--   <i class="fa fa-eye"></i> -->
                                     
                                     <div class="col-md-12">

                                      <p style="text-align: center;">Front</p>
 
                                      <div class="col-md-6 pull-left">
                                        <div id="popup">
                                          <% if(dataconsultreply[k].img) { %>

                                          <img src="/uploads/consutlreply/front/<%= dataconsultreply[k].img.originalname %>" style="width: 30px; height: 35px;">
                                          <% } else { %>
                                          <img src="/uploads/male.png" style="width: 30px; height: 35px;">

                                          <% } %>
                                          
                                          
                                     </div>
                                     <div class="show">
                                          <div class="overlay"></div>
                                          <div class="img-show">
                                            <span style="color: #999999;">X</span>
                                            <img src="">
                                          </div>
                                      </div>
                                      </div>
                                      <div class="col-md-6 pull-right">
                                       <a href="/deletecanvas?consultreplyid=<%= dataconsultreply[k]._id %>&consult_id=<%= consultid %>"><i class="fa fa-trash" style="font-size: 30px;"></i></a>
                                      </div>

                                     </div>

                                     <div class="col-md-12">
                                  
                                     <a href="/male?consultreplyId=<%= dataconsultreply[k]._id %>&userid=<%= user._id %>&consult_id=<%= consultid %>" target="_blank"><img src="http://localhost:5555/img/male.png" style="width: 100px; height: 150px;"></a>

                                   </div>

                                  </div>

                                  <div class="div2 col-md-6">
                                   <!--  <a href=""><i class="fa fa-eye"></i></a> -->
                                   <p style="text-align: center;">Back</p>
                                    <div class="col-md-6 pull-left">
                                        <div id="popup">
                                            <% if(dataconsultreply[k].img) { %>
                                          <img src="/uploads/consutlreply/back/<%= dataconsultreply[k].backimg.originalname %>" style="width: 30px; height: 35px;">
                                          <% } else { %>
                                          <img src="/uploads/male.png" style="width: 30px; height: 35px;">

                                          <% } %>
                                     </div>
                                     <div class="show">
                                          <div class="overlay"></div>
                                          <div class="img-show">
                                            <span style="color: #999999;">X</span>
                                            <img src="">
                                          </div>
                                      </div>
                                      </div>
                                      <div class="col-md-6 pull-right">
                                       <a href="/deletebackcanvas?consultreplyid=<%= dataconsultreply[k]._id %>&consult_id=<%= consultid %>"><i class="fa fa-trash" style="font-size: 30px;"></i></a>
                                      </div>

                                     <div class="col-md-12">
                                  
                                     <a href="/backmale?consultreplyId=<%= dataconsultreply[k]._id %>&userid=<%= user._id %>&consult_id=<%= consultid %>" target="_blank"><img src="http://localhost:5555/img/male.png" style="width: 100px; height: 150px;"></a>

                                   </div>

                                  </div>

                                 </div>

                                  <!-- <p id="results">result</p> -->
                               

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  --> 
<style type="text/css">

.div1 {
    width: 100px;
    height: 220px;    
    padding: 10px;
    border: 1px solid #999999;
}

.div2 {
    width: 100px;
    height: 220px;    
    padding: 10px;
    border: 1px solid #999999;
}
   #popup{
    margin: auto;
   
}
#popup img{
    width: 200px;
    height: 200px;
    cursor: pointer
}
.show{
    z-index: 999;
    display: none;
}
.show .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}
.show .img-show{
    width: 300px;
    height: 450px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
.img-show span{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
.img-show img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#rightcontainer{
    width:100%;
    height:5000px;
    background:gray;
    color:#fff;
    /*margin-left:110px;
    padding:10px;*/
}

 </style>   
 
 <script type="text/javascript">
   $(function () {    
    $("#popup img").click(function () {
        var $src = $(this).attr("src");
        $(".show").fadeIn();
        $(".img-show img").attr("src", $src);
    });
    
    $("span, .overlay").click(function () {
        $(".show").fadeOut();
    });
    
});
 </script>
 
                  
  
                               </div>

                              </div>

                              <div class="control-group">
                              <label class="control-label">
                              Enter your Query
                              </label>
                              <div class="controls">

                              <textarea id="queryconsult{{$index}}" name="query" class=" form-control col-md-6"  rows="2"></textarea>
                              <button type="submit" style="text-decoration: none;outline: 0 none;" class="btn theme-btn"><i class="fa fa-arrow"></i> Send</button>
                              </div>
                              </div>

                                  

                                    <hr>

                      
                 <!--    </div> -->

                    </div>
                     <!-- </div>

                               
                    </div> -->
                            </form> 


                    

                                   <% } %>

                                 </div>
                                        </div>

                                           </div>
                                        </div>
                                    </div>
                                   

                                </div>
                            </div>
                                    <!-- END SAMPLE FORM PORTLET-->


                        </div>
                </div>
                <!-- END PAGE CONTENT-->         
          
                    
            </div>
    
  
</div>




 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>
 
</body>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>




    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script> -->

 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 


<!--     <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
 -->
    <!-- <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
 
  <!--  <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
 



 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
 height: 30px;
    width: 80%;
}

textarea{
       width: 80%;
 
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
    filter: alpha(opacity=80);
}


 </style>

    <%- include partials/footer_userdashboard %>


