
 <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <link href="/assets/css/reset.css" rel="stylesheet" type="text/css"/>

    <link href="/assets/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>

    <link href="/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/> 


    <link href="/assets/css/style-responsive-profile.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style-metro-profile.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style-profile.css" rel="stylesheet" type="text/css"/>
         
  
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="/assets/css/themes/green.css" rel="stylesheet" type="text/css" id="style_color"/>  
<div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
        

            
                    
                          <div class="span9" style="height: 800px;">
                        <!-- BEGIN PAGE HEADER-->
                      
                        <!-- END PAGE HEADER-->
                       


                           <div class="row-fluid">
                      <div class="span12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->   
                        
                        <div class="portlet box blue tabbable">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="hidden-480">Order Confirmation</span>
                                </div>
                            </div>

                            <div class="portlet-body form">
                                <div class="tabbable portlet-tabs">
                                    
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="portlet_tab1">



                      


                                         <% for (var i = 0; i < data.length; i++) if(data[i]._id == orderid) { %> 

                                         <form class="form-horizontal">
                                               <div class="control-group">
                                                  <label class="control-label">Order ID</label>
                                                    <div class="controls">
                                                      <input type="text"  name="orderid" class="form-control" value="<%= data[i]._id  %>" readonly />
                                                      </div>
                                                </div>


                                                 <div class="control-group">
                                                    <label class="control-label">Full Name</label>
                                                     <div class="controls">
                                                         <% if(data[i].userid == 'guest') { %>
                                                         <input type="text"  name="fullname" class="form-control" 
                                                            value="Guest" readonly />
                                                                 
                                                               <% } else { %>
                                                              <% for (var j = 0; j < datauser.length; j++) if(datauser[j]._id == data[i].userid){ %>
                                                               <input type="text"  name="fullname" class="form-control" 
                                                            value="<%= data[i].shipfname %>" readonly />
                                                                 
                                                                 <% } %>
                                                               <% } %>
                                                   </div>
                                            </div>


                                          
                                          <div class="control-group">
                                              <label class="control-label">Shipping Address</label>
                                              <div class="controls">
                                              <input type="text" name="autocomplete" id="autocomplete" class="form-control" value="<%= data[i].autocomplete %>"   readonly />
                                            </div>
                                        </div>


                                         <div class="control-group">
                                          <label class="control-label">Billing Address</label>
                                            <div class="controls">
                                               <input type="text"  class="form-control" value="<%= data[i].billaddress %>"   readonly />
                                            </div>
                                        </div>

                                        <div class="control-group">
                                          <label class="control-label">Total</label>
                                            <div class="controls">
                                               <input type="text"  class="form-control" value="$<%= data[i].hdnCartTotal %>"   readonly />
                                            </div>
                                        </div>


                                        <div class="control-group">
                                          <label class="control-label">Order Status</label>
                                            <div class="controls">
                                               <input type="text"  class="form-control" value="<%= data[i].o_status %>"   readonly />
                                            </div>
                                        </div>

                                        <div class="control-group">
                                          <label class="control-label">Token Id</label>
                                            <div class="controls">
                                               <input type="text"  class="form-control" value="<%= data[i].token %>"   readonly />
                                            </div>
                                        </div>

                                        <div class="control-group">
                                          <label class="control-label">Payment Status</label>
                                            <div class="controls">
                                               <input type="text"  class="form-control" value="<%= data[i].PayerID %>"   readonly />
                                            </div>
                                        </div>

                                        
    
                      </form> 
                          <% } %>


                     

                     <form class="form-horizontal">
                        <table class="table table-striped table-bordered" id="example">
                          <thead>
                                    
                                     <th>Product Name</th>
                                     <th>Product Price</th>
                                      <th>Product Price</th>
                                      
                                    
                                  </thead>
                                 
                                  <tbody>
                                   
                                      <% for (var i = 0; i < dataitem.length; i++) if(dataitem[i].orderid == orderid) { %>
                                       <tr>
                                          <td><%= dataitem[i].productname %></td>
                                          <td><%= dataitem[i].productprice %></td>
                                          <td><%= dataitem[i].productqty %></td>
                                       </tr>
                                      <% } %>  

                                    
                                  </tbody>
                            </table>

                   

                  </form>
                  
                                   
                                        
                                      

                                          
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->



                    </div>
                </div>
                    
                    </div>
                </div>
                </div>
                </div>

 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

.portlet.box.blue {
 
    margin-left: 93px  !important;
    margin-top: 59px  !important;
    margin-right: -224px  !important ;
  }

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>
 
</body>
<!-- END BODY -->
</html>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>

 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 

<!--     <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
 -->
    <!-- <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
 
  <!--  <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
 

  




 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
 height: 30px;
    width: 80%;
}

textarea{
       width: 80%;
 
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
    filter: alpha(opacity=80);
}


 </style>




                                      

                               
                                        