﻿    <%- include partials/header_userdashboard %>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>
 
    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
                 <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

                 
                 <!--  <li ng-class="{active: activeTab === 'subscription'}"><a href="subscription" ><i class="fa fa-user"  aria-hidden="true"></i> My Subscription</a></li>



                    <li ng-class="{active: activeTab === 'order'}"><a href="order" ><i class="fa fa-user"  aria-hidden="true"></i> My Order</a></li> -->


                     <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                     <li ng-class="{active: activeTab === 'managewebsite'}" class="active"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                     <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                     <!-- <li ng-class="{active: activeTab === 'managemake'}""><a href="managemake"><i class="fa fa-user"  aria-hidden="true"></i> Make Managment</a></li>
                      <li ng-class="{active: activeTab === 'managemodel'}"><a href="managemodel"><i class="fa fa-user"  aria-hidden="true"></i> Model Managment</a></li>
                    <li ng-class="{active: activeTab === 'managemodel'}"><a href="managesubmodel"><i class="fa fa-user"  aria-hidden="true"></i> Sub Model Managment</a></li> -->
                     <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                  <!--     <li ng-class="{active: activeTab === 'managecoupon'}"><a href="managecoupon"><i class="fa fa-user"  aria-hidden="true"></i> Coupon  Managment</a></li> -->
                      <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>
                       <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 
                        <ul> <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                           <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list"><i class="fa fa-user"  aria-hidden="true"></i> Manage Part</a></li>
                        <!-- <li ng-class="{active: activeTab === 'size'}"><a href="managesize"><i class="fa fa-user"  aria-hidden="true"></i> Size Mangment</a>
                        </li>
                        <li ng-class="{active: activeTab === 'color'}"><a href="managecolor"><i class="fa fa-user"  aria-hidden="true"></i> Color Managment</a>
                        </li> -->
                    </ul>
                       </li>
                         <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Return</a></li>

                       <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>
                        <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                        <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                     <!--  <li ng-class="{active: activeTab === 'manageslider'}"><a href="manageslider"><i class="fa fa-user"  aria-hidden="true"></i> Slider Managment</a></li>
                      <li ng-class="{active: activeTab === 'cms'}"><a href="cms"><i class="fa fa-user"  aria-hidden="true"></i> Content Managment</a></li>
                      <li ng-class="{active: activeTab === 'paymentmanage'}"><a href="paymentmanage"><i class="fa fa-user"  aria-hidden="true"></i> Payment Managment</a></li> -->
                   <!--  <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                    <li ng-class="{active: activeTab === 'managetransaction'}"><a href="managetransaction"><i class="fa fa-user"  aria-hidden="true"></i> Transaction Managment</a></li>
                    <li ng-class="{active: activeTab === 'symptom-admin'}"><a href="symptom-admin"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                    <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list" ><i class="fa fa-user-md"  aria-hidden="true"></i> Our Products</a></li>
                     <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                     <li ng-class="{active: activeTab === 'add-symptoms'}"><a href="add-symptoms" ><i class="fa fa-user-md"  aria-hidden="true"></i> Add Symptoms</a></li>
                     <li ng-class="{active: activeTab === 'manage-symptoms'}"><a href="manage-symptoms"><i class="fa fa-user-md"  aria-hidden="true"></i> Manage Symptoms</a></li> -->
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                     <!-- <li ng-class="{active: activeTab === 'consult'}"><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                     <!--  <li ng-class="{active: activeTab === 'review-consult'}"><a href="review-consult"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                      <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                        
                    </div>
<style type="text/css">
    #nav li ul { display: none; list-style:none;}
</style>
<script type="text/javascript">
    $("#nav li a").on("click", function (e) {
    //allow links to be followed if they don't have a sub-menu
    if ( !$(this).parent().has("ul").length ) { return; }

    //we have a sub-menu, so stop the link from being followed
    e.preventDefault();

    if(!$(this).hasClass("open")) {
        //we need to know which 'level' we're on 
        var currentLevel = $(this).closest('ul')
        $("li ul", currentLevel).slideUp(350);
        $("li a", currentLevel).removeClass("open");

        // open our new menu and add the open class
        $(this).next("ul").slideDown(350);
        $(this).addClass("open");
    } else {
        $(this).removeClass("open");
        $(this).next("ul").slideUp(350);
    }
});

</script>     
                            <!--<li ng-class="{active: activeTab === 'admin'}"><a ui-sref="admin" ><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                            <li ng-class="{active: activeTab === 'order'}"><a ui-sref="order" ><i class="fa fa-first-order"  aria-hidden="true"></i> Order Management</a></li>-->

            
                    
                        <div class="span9">
                                   
                     
                            <!-- BEGIN PAGE HEADER-->   
                               <div class="row-fluid">
                            <div class="span12">
                            
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                            <h6 class="page-title" style="font-size: 18px;">
                                  

                                   <% if (user.local.email){ %>
                                        <%= user.firstName %>
                                    <% } else if (user.google.token) { %>  
                                           <%= user.google.name %>
                                    <% } else { %>
                                          <%= user.facebook.name %> 
                                      <% } %>       
                                </h6>
                            </div>
                        </div>
                            <!-- END PAGE HEADER-->
                            <!-- BEGIN PAGE CONTENT-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN SAMPLE FORM PORTLET-->   
                                     <div class="flash-message" ng-if="flash">
                                                <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                                     </div>
                                    <div class="portlet box blue tabbable">
                                        <div class="portlet-title">
                                            <div class="caption">
                                             
                                                <span class="hidden-480">Website Managment</span>
                                            </div>
                                        </div>

   <div class="portlet-body form">
   <div class="tabbable portlet-tabs">
                                                
     <div class="tab-content">
     <div class="tab-pane active" id="portlet_tab1">
        <div class="row-fluid">
        <div class="span12">
         <div class="span9">
        <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>     
        <form action="/website-update" method="post" class="form-horizontal" enctype="multipart/form-data">

     	 <input type="hidden" name="userid" class="form-control" value="<%= user._id %>" required />

     <div class="control-group">
        <label class="control-label">Website Name</label>
        <div class="controls">
           <input type="text"  name="webName" class="form-control" 
value="<%= loadwebsitedata[i].webName %>"  placeholder="First Name" required />
        </div>
       
    </div>

<div class="control-group">
<label class="control-label">Website Email</label>
<div class="controls">
<input type="email" name="webEmail" class="form-control" value="<%= loadwebsitedata[i].webEmail %>" placeholder="Email" required />
</div>
</div>

     <div class="control-group">
        <label class="control-label">Website Number</label>
        <div class="controls">
             <input type="text" name="webPhone"  class="form-control" value="<%= loadwebsitedata[i].webPhone %>"  placeholder="Mobile Number" required />
        </div>
    </div>

    
    <div class="control-group">
        <label class="control-label">Website Address</label>
        <div class="controls">
        <textarea id="address" name="webAddress" class="form-control" rows="3" required="required"><%= loadwebsitedata[i].webAddress %></textarea>
        </div>
    </div>

 <div class="row-fluid">
 <div class="span4"></div>
 <div class="span3">
 <button style="display: block;margin: 0 auto;" class="btn theme-btn"> <i class="fa fa-check"></i> Update Your Info</button>



  <br>
    <br>



<% if(locals.succesproupdate) { %>
<div class="alert alert-success"><%= succesproupdate %></div>
<% } %>
 </div>
 <div class="span3">
 <a href="account"><button style="text-decoration: none;outline: 0 none;" class="btn theme-btn"><i class="fa fa-arrow"></i> Cancel</button></a>
    </div>
  <div class="span2"></div>  
    </div>
    

</form>

<% } %>


</div>
<div class="span3">
<% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
<form action="/website-logo-upload" method="POST" enctype="multipart/form-data" style="height: 250px;" class="newimageform">




<div class="control-group">

 <label class="control-label">Website Logo</label>


<img id="blah" src="#" >

<img src="/uploads/logo/<%= loadwebsitedata[i].img.originalname %>" name="originalname" class="img-responsive finalimageeee">






</div>


<input id="imgInp" type="file"  name="avatar" required="required" onchange="previewFile()">
<input type="hidden" name="userid" class="m-wrap large" value="<%= user._id || ''  %>"  />

<!-- <img src="" alt="Image preview...">-->



<input class="btn theme-btn" type="submit"  value="Upload Image">
</form>

  <% } %>                        
                                
                                  
                                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- <form id="form1" runat="server">
  <input type='file' id="imgInp" />
  <img id="blah" src="#" alt="your image" />
</form> -->       
<script type="text/javascript">


    function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {

      $('#blah').attr('src', e.target.result);
    $('#defaultblah').attr('src', e.target.result);

      if($('#blah' , '#defaultblah').attr('src', e.target.result)){
           // alert("not null");
           $("#blah").show(); 
           $("#defaultblah").hide();
           $(".finalimageeee").hide(); 
           $(".defaultimagee").show(); 
            
        }else{
           $("#blah").hide(); 
           $("#defaultblah").show();
           $(".finalimageeee").show(); 
           $(".defaultimagee").hide(); 

        }

       

      if($('#defaultblah').attr('src', e.target.result)){
           // alert("not null");
           $("#defaultblah").show(); 
            $(".defaultimagee").hide(); 
            
        }else{
          $("#defaultblah").hide(); 
          $(".defaultimagee").show(); 


        }
     }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#imgInp").change(function() {
  readURL(this);
});


   function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {

      $('#blah-health').attr('src', e.target.result);

      if($('#blah-health').attr('src', e.target.result)){
           // alert("not null");
           $("#blah-health").show(); 
            $(".finalimageeeess").hide(); 
        }else{
          $("#blah-health").hide(); 
          $(".finalimageeeess").show(); 

        }
     }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#imgInps").change(function() {
  readURL(this);
});



</script>

                                         

        
                                        </div>

                                         
                                        
                                    </div>
                                 
                                </div>
                                     </div>
                                                   
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                                    <!-- END SAMPLE FORM PORTLET-->



                                </div>
                            </div>
                            <!-- END PAGE CONTENT-->         
                      </div>
                 </div>
           </div>
</div>

<script>
   function previewFile(){
       var preview = document.querySelector('img'); //selects the query named img
       var file    = document.querySelector('input[type=file]').files[0]; //sames as here
       var reader  = new FileReader();

       reader.onloadend = function () {
           preview.src = reader.result;
       }

       if (file) {
           reader.readAsDataURL(file); //reads the data as a URL
       } else {
           preview.src = "";
       }
  }

  previewFile();  //calls the function named previewFile()
  </script>
  <script type="text/javascript">
  $(function() {
    $('.pop').on('click', function() {
      $('.imagepreviews').attr('src', $(this).find('img').attr('src'));
      $('#imagemodal').modal('show');   
    });   
});
</script>
  

 </div>

 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>
 
</body>
<!-- END BODY -->
</html>


    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
   
 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
 height: 30px;
    width: 80%;
}

textarea{
       width: 80%;
 
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
    filter: alpha(opacity=80);
}


 </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        