<%- include partials/header_userdashboard %>

  <div class="row-fluid">
    <div class="row" style="background: #f0f0f5;">
      <div class="row-fluid">
        <div class="container-fluid" style="background-color: #f0f0f5;">
          
          <div class="span2 sidebar-content ">
            <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">

              <li ng-class="{active: activeTab === 'home'}">
                  <a href="home">
                  <i class="fa fa-home" aria-hidden="true"></i> 
                  Home
                  </a> 
                  <span class="after"></span>                                    
              </li>

              <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

              <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
              <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>

              <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>

              <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 

              <ul>  

                <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>

                <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list"><i class="fa fa-user"  aria-hidden="true"></i> Manage Part</a></li>
                
              </ul>
              
              </li>

              <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

              <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

              <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

              <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>

              <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

              <li ng-class="{active: activeTab === 'manageorder'}"  class="active"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                  
              <% } %>

                <% if (user.user_role === 'user') { %>
                    
              <% } %>

                <% if (user.user_role === 'doctor') { %>
                   
              <% } %>

              <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
            </ul>

            <style type="text/css">
              #nav li ul { display: none; list-style:none;}
            </style>

            <script type="text/javascript">
                $("#nav li a").on("click", function (e) {
                //allow links to be followed if they don't have a sub-menu
                if ( !$(this).parent().has("ul").length ) { return; }

                //we have a sub-menu, so stop the link from being followed
                e.preventDefault();

                if(!$(this).hasClass("open")) {
                    //we need to know which 'level' we're on 
                        var currentLevel = $(this).closest('ul')
                        $("li ul", currentLevel).slideUp(350);
                        $("li a", currentLevel).removeClass("open");

                        // open our new menu and add the open class
                        $(this).next("ul").slideDown(350);
                        $(this).addClass("open");
                    } else {
                        $(this).removeClass("open");
                        $(this).next("ul").slideUp(350);
                    }
                });
            </script> 
          </div>

          <div class="span10" style="height: 800px;">
            <div class="row-fluid">
              <div class="span12">
                <div class="portlet box blue tabbable">
                  <div class="portlet-title">
                    <div class="caption">
                      <span class="hidden-480">Order Managment</span>
                    </div>
                  </div>
                  <div class="portlet-body form">
                    <div class="tabbable portlet-tabs">
                      <div class="tab-content">
                        <div class="tab-pane active" id="portlet_tab1">
                          <form class="form-horizontal" style="overflow: auto;">
                            <div class="form-control">
                              <input type="text" id="myInput" class="form-control col-md-8" style="margin: 10px;height: 35px;width: 25%;" placeholder="Search By any detail">
                              <i class="fa fa fa-search" aria-hidden="true"></i>
                           
                              <!--  <input type="text" id="myInputs" onkeyup="myFunction1()" class="form-control col-md-8" style="margin: 10px;height: 35px;width: 25%;" placeholder="Search By order Status">
                              <i class="fa fa fa-search" aria-hidden="true"></i> -->
                            
                              <!--<input type="text" id="myInput" onkeyup="myFunction2()" class="form-control col-md-8" style="margin: 10px;height: 35px;width: 25%;" placeholder="Search By delivery status">
                              <i class="fa fa fa-search" aria-hidden="true"></i> -->
                            </div>
                            <table class="table table-striped table-bordered" id="myTable">
                              <thead>
                                <tr>
                                  <th>No.</th>
                                  <!-- <th>Order Id</th> -->
                                  <th>Name</th>
                                  <!-- <th>Shipping Address</th>
                                  <th>Billing Address</th> -->
                                  <th>Total</th>
                                  <th>Payment Method</th>
                                  <th>Order Status</th>
                                  <th>Payment Status</th>
                                  <th>Delivery Status</th>
                                  <th>Token Id</th>
                                  <th>Date</th>
                                  <th>Info</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                             
                              <tbody>
                                 <% for (var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td><%= i+1 %></td>  

                                   <!--  <td><%= data[i]._id %></td> -->

                                      <% if(data[i].userid == 'guest') { %>

                                        <td>Guest</td>

                                      <% } else if(data[i].billfname ) { %> 

                                        <td><%= data[i].billfname %></td>

                                      <% } else { %>

                                      <% for (var j = 0; j < datauser.length; j++) if(datauser[j]._id == data[i].userid){ %>

                                        <td><%= datauser[j].firstName %></td>

                                      <% } %>

                                    <% } %>

                                   <!--  <td><% if(data[i].autocomplete){ %><%= data[i].autocomplete %><% } else { %><%= data[i].shipping_address %><% } %></td>

                                      <% if(data[i].billaddress){ %>

                                    <td><%= data[i].billaddress %></td>

                                      <% } else { %>

                                    <td><% if(data[i].autocomplete){ %><%= data[i].autocomplete %><% } else { %><%= data[i].shipping_address %><% } %></td>

                                      <% } %> -->
                                     
                                    <td><i class="fa fa-inr" aria-hidden="true"></i><%= data[i].hdnCartTotal %></td>

                                    <td><%= data[i].payment_method %></td>

                                     <% if(data[i].paymentId == "Failed"){ %>

                                    <td>Pending</td>

                                      <% }else { %>

                                    <td>Done</td>

                                      <% } %>

                                        <% if(data[i].paymentId){ %>

                                    <td>Success</td>

                                      <% }else { %>

                                    <td>Failed</td>

                                      <% } %>

                                       <td><%= data[i].o_status %></td>
                                     
                                    <td><%= data[i].paymentId %></td>

                                    <td><%= data[i].datetime %></td>
                                      
                                    <td>
                                      <a href="list-orderitem?order_id=<%= data[i]._id %>"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px"></i>
                                      </a>
                                    </td>
                                    <td>
                                      <% for (var j = 0; j < datauser.length; j++) if(datauser[j]._id == data[i].userid){ %>
                                        <a href="deleteorder?order_id=<%= data[i]._id %>"><i class="fa fa-fw fa-trash" onclick="return ConfirmDelete('<%= datauser[j].firstName %>')" aria-hidden="true" style = " font-size: 20px"></i>
                                        </a>
                                      <% } %>
                                    </td> 
                                 
                                  </tr>
                                <% } %>
                              </tbody>
                            </table>
                          </form>

                          <script type="text/javascript">
                            function ConfirmDelete(partName){
                              var x = confirm("Are you sure you want to Delete " +partName );
                              if (x)
                                return true;
                              else
                                return false;
                            }
                          </script>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
    var input = document.getElementById("myInput");
    var table = document.getElementById("myTable");

    input.addEventListener("keyup", filter);
    input.addEventListener("search", filter);

    var rows = Array.prototype.slice.call(table.querySelectorAll("tr:not(.header)"));  

    function filter() {
      // Always trim user input
      var filter = input.value.trim().toUpperCase();

      // Loop the rows
      rows.forEach(function(row) {
      
       var data = "";
        // Loop over all the cells in the current row and concatenate their text
        Array.prototype.slice.call(row.getElementsByTagName("td")).forEach(function(r){
          // Don't use .innerHTML unless there is HTML. Use textContent when there isn't.
          data += r.textContent;  
        });

     
        if(data.toUpperCase().indexOf(filter) > -1){
          // show row
          row.classList.remove("hidden");
        } else {
          // hide row
          row.classList.add("hidden");
        }
      });
      
    }
    </script>
              
    <style type="text/css">
      a.newlogocss{

        margin-left: 20px;

      }

      .navbar-brand{

        padding: 15px !important;

      }
        
      .dropdown.open .dropdown-toggle{
        background-color: #fff !important;
      }

      .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
        outline: thin dotted;
        outline: none;
        outline-offset: -2px;
      }

      .navbar-inverse .navbar-toggle {
         border-color:  #ffffff;
      }

      .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

        color: #999;
      }

      .nav .dropdown-toggle .caret {
          margin-top: 6px;
          border-top-color: #020202 !important;
          border-bottom-color: #121213 !important;
      }

      .modal {
          background-color: rgba(92, 92, 92, 0.03);
          border: 0px;
      }

      .modal-body {
       
         padding: 0px; 
        overflow-y: inherit; 
      }

      @media (min-width: 414px){
        .navbar-brand{
          font-size: 25px !important;
        }
      }

      @media (min-width: 320px) and (max-width: 320px){
        .navbar-brand{
          font-size: 15px !important;
          padding: 0px;
          margin: 14px 0px 0px 25px !important;
      }
    </style>
 
</body>
<!-- END BODY -->
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

 
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
       height: 30px;
          width: 80%;
      }

      textarea{
             width: 80%;
       
      }
      .modal-backdrop, .modal-backdrop.fade.in {
          opacity: 0;
          filter: alpha(opacity=80);
      }
    </style>
<%- include partials/footer_userdashboard %>


                                      

                               
                                        