    <%- include partials/header_userdashboard %>

 
    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
                  <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

             
                     <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                     <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                     <!-- <li ng-class="{active: activeTab === 'managemake'}""><a href="managemake"><i class="fa fa-user"  aria-hidden="true"></i> Make Managment</a></li>
                      <li ng-class="{active: activeTab === 'managemodel'}"><a href="managemodel"><i class="fa fa-user"  aria-hidden="true"></i> Model Managment</a></li>
                    <li ng-class="{active: activeTab === 'managemodel'}"><a href="managesubmodel"><i class="fa fa-user"  aria-hidden="true"></i> Sub Model Managment</a></li> -->
                      <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                     <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                  <!--     <li ng-class="{active: activeTab === 'managecoupon'}"><a href="managecoupon"><i class="fa fa-user"  aria-hidden="true"></i> Coupon  Managment</a></li> -->
                      <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managethirdsubcategory'}" class="active"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>
                       <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 
                        <ul> <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                           <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list"><i class="fa fa-user"  aria-hidden="true"></i> Manage Part</a></li>
                       
                    </ul>
                       </li>
                        <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                        <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                        <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                        <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>

                       
                       <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>
                        <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                        <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                    
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                     <!-- <li ng-class="{active: activeTab === 'consult'}"><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                     <!--  <li ng-class="{active: activeTab === 'review-consult'}"><a href="review-consult"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                      <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                        
                    </div>

                            <!--<li ng-class="{active: activeTab === 'admin'}"><a ui-sref="admin" ><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                            <li ng-class="{active: activeTab === 'order'}"><a ui-sref="order" ><i class="fa fa-first-order"  aria-hidden="true"></i> Order Management</a></li>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>                   
<style type="text/css">
    #nav li ul { display: none; list-style:none;}
</style>
<script type="text/javascript">
    $("#nav li a").on("click", function (e) {
    //allow links to be followed if they don't have a sub-menu
    if ( !$(this).parent().has("ul").length ) { return; }

    //we have a sub-menu, so stop the link from being followed
    e.preventDefault();

    if(!$(this).hasClass("open")) {
        //we need to know which 'level' we're on 
        var currentLevel = $(this).closest('ul')
        $("li ul", currentLevel).slideUp(350);
        $("li a", currentLevel).removeClass("open");

        // open our new menu and add the open class
        $(this).next("ul").slideDown(350);
        $(this).addClass("open");
    } else {
        $(this).removeClass("open");
        $(this).next("ul").slideUp(350);
    }
});

</script>     
                
            
                    
                          <div class="span9">
                        <!-- BEGIN PAGE HEADER-->
                            <div class="row-fluid">
                            <div class="span12">
                            
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                            <h6 class="page-title" style="font-size: 18px;">
                                  

                                  <% if (user.local.email){ %>
                                        <%= user.firstName %>
                                    <% } else if (user.google.token) { %>  
                                           <%= user.google.name %>
                                    <% } else { %>
                                          <%= user.facebook.name %> 
                                      <% } %>  
                                </h6>
                            </div>
                        </div>
                        <!-- END PAGE HEADER-->
                       


                           <div class="row-fluid">
                      <div class="span12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->   
                        
                        <div class="portlet box blue tabbable">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="hidden-480">Add Third  SubCategory</span>
                                </div>
                            </div>

                            <div class="portlet-body form">
                                <div class="tabbable portlet-tabs">
                                    
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="portlet_tab1">
<!-- <form method="post" class="form-horizontal" action="third-subcategory-insert" style="height: 180px;"> -->

   <div class="control-group">
   <label class="control-label">Category Name</label>
    <div class="controls">
  
    
    <select class="form-control"  name="categoryId" onchange="javascript:dropdownlist(this.options[this.selectedIndex].value);" id="catData" required="required">
      <option>Select Category</option>
      <% for (var i = 0; i < categorydata.length; i++) if(categorydata[i].status == "0") { %>                           
      
      <option value="<%= categorydata[i].categoryName %>"><%= categorydata[i].categoryName %></option>

   <% } %>
    </select>



    </div>
 </div>

 <div class="control-group">
   <label class="control-label">SubCategory Name</label>
      <div class="controls">
                                                                
                <script type="text/javascript" language="JavaScript">
                 document.write('<select name="subcategory" id="subcategory" onchange="javascript:dropdownlistSubcat(this.options[this.selectedIndex].value);"><option value="">Select Sub-Category</option></select>')
                 </script>
              
                 <noscript>
                     <select name="subcategoryId" id="subcategory">
                     <option value="">Select Sub-Category</option></select>
                 </noscript>
                            </div>
 </div>


  <div class="control-group">
    <label class="control-label">Second SubCategory Name</label>
      <div class="controls">
                                                                
        <script type="text/javascript" language="JavaScript">
          document.write('<select name="secondsubcategory" id="secondsubcategory" onchange="javascript:handleSelectChangeone(this.options[this.selectedIndex].value);"><option value="">Select Second Sub-Category</option></select>')
        </script>
              
         <noscript>
             <select name="secondsubcategoryId" id="secondsubcategory">
             <option value="">Select Second Sub-Category</option></select>
         </noscript>

      </div>
  </div>


    <div class="control-group" runat="server" id="div1">
     <!--  <label class="control-label">Category Name</label> -->
      
    </div>
    <input type="hidden" id="hfDDLId" value="0" />

        <input type="hidden" id="updatevalue" />

<!--         <input type="text" id="finallvalue" />
 -->
 <!--    <input type="button" runat="server" OnClick="return Add()" value="Add">
    <input type="button" runat="server" OnClick="return Remove()" value="Remove"> -->
    <input type="hidden" id="hfSelectedValue" runat="server" />
   <!--  <input type="button" runat="server" OnClick="GetValue()" value="Get Value"> -->
       

   

      <div class="control-group">


          <div class="controls">

           <label class="control-label"><input type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" runat="server" OnClick="GetValue()" id="addCategoryButton" value="Add Category"></label>

           <!-- <label class="control-label" id="addPartButton"><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalParts">Add Parts</a></label> -->
           <label class="control-label" id="addPartButton"><a rel="index,follow" type="button" id="myA" class="btn btn-primary" href="" style="display: none;">Add Parts</a></label>

           

          </div>
       </div>  


  


      <!-- <div class="control-group">
         <label class="control-label">Third SubCategory Name</label>
          <div class="controls">
        
          <input type="text"  name="ThirdsubcategoryName"  required />

          </div>
       </div> -->

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script type="text/javascript" >
   function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>
    

<form method="post" action="third-subcategory-insert" style="height: 180px;">

  <div class="modal" id="myModal" style="display: none;background-color:#fff;height: auto;">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title">Add Category</h4>
         <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        </div>
        
        <div class="modal-body">

          <input type="hidden"  name="role" value="category"  required />

          <input type="hidden" id="catName" name="catNamedata">

          <input type="hidden" id="subcatName" name="subcatNamedata">

          <input type="hidden" id="secondsubcatName" name="secondsubcatNamedata">

          <input type="hidden" id="finallvalue" name="parentdata" runat="server" />

          <div class="control-group">
          <label class="control-label">Category Name</label>
          <div class="controls">
        
          <input type="text"  name="CategoryName[]" />

          </div>
       </div>

       <button type="button" id="addRoww" class="btn btn-primary">Add Row</button>

          <div class="row-fluid">
    <div class="span4"></div>
    <div class="span3">
   <!--  <button type="submit" style="display: block;margin: 0 auto;" class="btn theme-btn"> <i class="fa fa-check"></i> Submit</button> -->
    <input type="submit" class="btn theme-btn" value="Submit">
    <div class="span2"></div>  
    </div>
    </div>

        </div>
    
        
        <div class="modal-footer" style="background-color:#fff;">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

</form>

<form method="post" action="third-subcategory-insert" style="height: 180px;">
  <div class="modal" id="myModalParts" style="display: none;background-color:#fff;height: auto;">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title">Add Parts</h4>
         <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        </div>
        
        <div class="modal-body">

        <input type="text"  name="role" value="part"  required />

        <input type="text" id="catNames" name="catNamedata">

        <input type="text" id="subcatNames" name="subcatNamedata">

        <input type="text" id="secondsubcatNames" name="secondsubcatNamedata">

        <input type="text" id="finallvalues" name="parentdata" runat="server" />


          <div class="control-group">
         <label class="control-label">Part Name</label>
          <div class="controls">

          <input type="text"  name="CategoryName[]"  required />

          </div>
       </div>

       <button type="button" id="addRowPart" class="btn btn-primary">Add Row</button>

          <div class="row-fluid">
    <div class="span4"></div>
    <div class="span3">
   <!--  <button type="submit" style="display: block;margin: 0 auto;" class="btn theme-btn"> <i class="fa fa-check"></i> Submit</button> -->
    <input type="submit" class="btn theme-btn" value="Submit">
    <div class="span2"></div>  
    </div>
    </div>

        </div>
    
        
        <div class="modal-footer" style="background-color:#fff;">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

</form>

   <style type="text/css">
     select#ddl4{
      display: none;
     }
     
   </style>
   

    <div class="row-fluid">
    <div class="span4"></div>
    <div class="span3">
   <!--  <button type="submit" style="display: block;margin: 0 auto;" class="btn theme-btn"> <i class="fa fa-check"></i> Submit</button> -->
<!--     <input type="submit" class="btn theme-btn" value="Submit">
 -->    <div class="span2"></div>  
    </div>
    </div>

       </div>
 <!-- ///////////////////////////////////////////////////////////////////////// -->
 

    </form>


  <% 

    var totalthirdsubcatdata = thirdsubcategorydata

    var totallthirdcaTsub = totalthirdsubcatdata.length

    var finalvalthirdsubcats = JSON.stringify(totalthirdsubcatdata)


    var rowFrameworkResultInJss =  subcategorydata
  

    var totall = rowFrameworkResultInJss.length

    var finalvals = JSON.stringify(rowFrameworkResultInJss)

    var rowFrameworkResultInJssSecondSubcat =  secondsubcategorydata
  

    var totallSubcat = rowFrameworkResultInJssSecondSubcat.length

    var finalvalsSubcat = JSON.stringify(rowFrameworkResultInJssSecondSubcat)

   %>


     <script>

        //    function handleSelectChange(event) {

        //             var selectElement = event.target;
        //             var value = selectElement.value;
        //             var newwvalue = selectElement.value;
        //             // alert(selectElement.id);
        //             var newdata = selectElement.id;
        //             // alert(newdata);

        //            // $('#secondsubcatName').val(value);  

                
        //          var thirdCatname =  $('#secondsubcategory').val();
        //          // alert(thirdCatname);

        //           var firstCatname =  $('#catName').val();
        //           // alert(firstCatname);

        //           var secondCatname =  $('#subcatName').val();
        //            // alert(secondCatname);

                
        //   var totalthirdsubcatdata = "<%= totalthirdsubcatdata %>";

        //   var totalthirdsubcatdatalength = "<%= totallthirdcaTsub %>";

        //   var finalvalthirdsubcatsdata = "<%= finalvalthirdsubcats %>";

        //      var newdatathirdsubcatsdata = finalvalthirdsubcatsdata.replace(/&quot;/g,'"');
        //        // alert(newdata);

        //        var fulldatafinalvalthirdsubcatsdata = JSON.parse(JSON.stringify(newdatathirdsubcatsdata));

        //           var objthirdsubcatsdata = JSON.parse(fulldatafinalvalthirdsubcatsdata);


        //         var lengthth = Object.keys(objthirdsubcatsdata).length; 
        //         // alert(lengthth);
        //         // alert(value);
        //        if (value) {
        //             var lookup = {};
        //             var r = 1;
        //             for (var q = 0, len = lengthth; q < len; q++) 
        //             {
        //                   // alert(obj[i]._id);
        //                   // alert(obj[q].parentdata);
        //                    // alert(value);

        //                  // if (objthirdsubcatsdata[q].catNamedata == firstCatname && objthirdsubcatsdata[q].subcatNamedata == secondCatname && objthirdsubcatsdata[q].secondsubcatNamedata == thirdCatname && objthirdsubcatsdata[q].parentdata == value) {

        //                     // alert(fulldatafinalvalthirdsubcatsdata);
                            
                         
        //                       // Add()
          
          
        //   var ddlId = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 1);
          


        //  // var currentId = $("[id*=hfDDLId] option:selected").attr('id');
        //  // alert(currentId);
        //   // alert(newdata);

        //   function splitValue(value, index) {
        //    return value.substring(0, index) + "," + value.substring(index);
        // }


        //   var newdatastr = splitValue(newdata,3);
        //   // alert(newdatastr);
        //   var pieces = newdatastr.split(/[\s,]+/);
        //   var newvaluestr = pieces[pieces.length-1];
        //   var oldnewvaluestr = pieces[pieces.length-2];
        //   // alert(oldnewvaluestr); 
        //   var increamentval =parseInt(newvaluestr) + 1;
        //   // alert(increamentval); 
        //   var resfinalstr = oldnewvaluestr.concat(increamentval);
        //   // alert(resfinalstr); 



        //   // alert($('[id*=hfDDLId]').find('option:selected').attr('id'));


        //   var ddlIdss = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 2);



        //   var optionList = objthirdsubcatsdata; 
        //   var ddlId = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 1);
        //   var myEle = document.getElementById(resfinalstr);
        //   // alert(myEle);

        //   var secondId = $("#secondsubcategory").val();
        //   alert(secondId);

        //   if(secondId != "" && myEle)
        //   { 
        //   alert("hii");
        //   $(myEle).remove();
        //   $('[id*=div1]').append(getDropDownList(ddlId, resfinalstr, ddlIdss, newdata, optionList)); 
        //   }
        //   else{
        //    alert("hello");  
        //   $('[id*=div1]').append(getDropDownList(ddlId, ddlId, ddlIdss, newdata, optionList)); 
        //   $('[id*=hfDDLId]').val(parseInt($('[id*=hfDDLId]').val()) + 1);
        //   }



         
           // return false;

           


            

          // $('[id*=div1]').html("");
          
                            // document.getElementById("CategoryName").options[r]=new Option(objthirdsubcatsdata[q].CategoryName,objthirdsubcatsdata[q].CategoryName);
             // r = r+1;

              
          
          
          
            // }

     //      function getDropDownList(name, id, ddlIdss , newdata ,optionList) {
     //        // alert(id);
          
     //        // alert(ddlIdss); 
     //       // alert($(event.target)[0].id);
     // //       alert("hh"+ddlIdss);

     //       var res1 = $("#"+ ddlIdss).val();

     //       // alert(res1);

     // //       // alert("kk"+ res);

     //        // var idcheck = $("selector").is($("#"+ newdata)); 
     //        // alert(idcheck);

     //        // var res = $("#"+ newdata).find('option:selected').val();
     //        // alert(res);

     //         // alert(newdata);
     //         // alert(newdata.length);

          
     //      // alert(JSON.stringify(res));
     //      // var res = $("#"+ newdata);
     //      // alert(JSON.stringify(res));

     //      // var myEle = document.getElementById(resfinalstr);
     //      // if(myEle){
     //      //     alert("true");
     //      //     var myEleValue= myEle.value;
     //      // }else{
     //      //   alert("false");
     //      // }


     //      // if(myEle)
     //      // {
     //      //   alert(myEle.value);

     //      //   alert("true");
     //      // var combo = $("<select><option>Select Catgeory</option></select>").attr("id", id).attr("name", name).attr("runat", "server").attr("onchange", "handleSelectChange(event)");
     //      //  $(myEle).remove();
     //      //  // $(this).parent().remove();
     //      //   $.each(optionList, function (i, el) {
     //      //       if(optionList[i].catNamedata == firstCatname && optionList[i].subcatNamedata == secondCatname && optionList[i].secondsubcatNamedata == "SUSPENSION" && optionList[i].parentdata == value){   
     //      //      // alert(optionList[i].CategoryName);             
     //      //       combo.append("<select>Select Catgeory</select><option>" + optionList[i].CategoryName + "</option>");
     //      //       // combo.append(optionList);
     //      //      }                
     //      //   }); 
     //      //   return combo;

     //      // } else {

     //      //    alert("false");
     //      var combo = $("<select><option>Select Catgeory</option></select>").attr("id", id).attr("name", name).attr("runat", "server").attr("onchange", "handleSelectChange(event)");
     //        $.each(optionList, function (i, el) {
     //            if(optionList[i].catNamedata == firstCatname && optionList[i].subcatNamedata == secondCatname && optionList[i].secondsubcatNamedata == thirdCatname && optionList[i].parentdata == value){   
     //           // alert(optionList[i].CategoryName);             
     //            // combo.append("<select>Select Catgeory</select><option>" + optionList[i].CategoryName + "</option>");
     //            combo.append(new Option(optionList[i].CategoryName,optionList[i].CategoryName));
     //           }                
     //        });
     //       return combo;
         

     //      // }

          
     //    }       
          
         

          
         //   }
          
         //  }
                
         //  return true;

        
         // }       

          // alert(totalthirdsubcatdatalength);

        //   function Add() {
        //    alert("hi");
        //     var ddlId = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 1);
        //     var optionList = [1, 2, 3];
        //     $('[id*=div1]').append(getDropDownList(ddlId, ddlId, optionList));
        //     $('[id*=hfDDLId]').val(parseInt($('[id*=hfDDLId]').val()) + 1);
        //     return false;
        // }
 

 
        // function Remove() {
        //     var ddlId = $('[id*=hfDDLId]').val();
        //     $('[id$=ddl' + parseInt(ddlId) + ']').remove();
        //     $('[id*=hfDDLId]').val(parseInt($('[id*=hfDDLId]').val()) - 1);
        //     return false;
        // }
 
        // function GetValue() {
        //     $('[id*=hfSelectedValue]').val($('[id*=ddl1]').val());
        //     // alert("hiii");
        // }  



         
              var rowFrameworkResultInJs = "<%= rowFrameworkResultInJss %>";
              var totallength = "<%= totall %>";
              var totalfinalvals = "<%= finalvals%>";


          function dropdownlist(listindex){
            // alert("hii");
            // alert(listindex);

            $('#catName').val(listindex);
            $('#catNames').val(listindex);

            var newdata = totalfinalvals.replace(/&quot;/g,'"');
             // alert(newdata);

             var fulldata = JSON.parse(JSON.stringify(newdata));

              // alert(fulldata);
             var obj = JSON.parse(fulldata);
              var lengtht = Object.keys(obj).length; //you get length json result 4
              // alert(obj[0]._id);
               // alert(listindex);

              document.getElementById("subcategory").length = 0;
              document.getElementById("subcategory").options[0]=new Option("Please select Subcategory","");
              if (listindex) {
                  var lookup = {};
                  var j = 1;
                  for (var i = 0, len = lengtht; i < len; i++) {
                        // alert(obj[i]._id);
                        // alert(listindex);
                      if (obj[i].categoryId == listindex) {
                          // alert(obj[i]._id);
                          //alert(obj[i].subcategoryName);
                          document.getElementById("subcategory").options[j]=new Option(obj[i].subcategoryName,obj[i].subcategoryName);
                          j = j+1;
                      }
                  }
              }
              
              return true;
          }

                var rowFrameworkResultInJsSecondSubcat = "<%= rowFrameworkResultInJssSecondSubcat %>";
                var totallength = "<%= totallSubcat %>";
                var totalfinalvalsubcat = "<%= finalvalsSubcat%>";
            
          function dropdownlistSubcat(listindexsubcat){
           
            $('#subcatName').val(listindexsubcat);
              $('#subcatNames').val(listindexsubcat);
              // alert(totalfinalvals.replace(/&quot;/g,'"'));
              // alert(JSON.parse(JSON.stringify(rowFrameworkResultInJs)));
              var newdatasubcat = totalfinalvalsubcat.replace(/&quot;/g,'"');
               // alert(newdata);
              var fulldataSubcat = JSON.parse(JSON.stringify(newdatasubcat));

              // alert(fulldataSubcat);
              var objs = JSON.parse(fulldataSubcat);
              var lengthtdd = Object.keys(objs).length; //you get length json result 4
           

              document.getElementById("secondsubcategory").length = 0;
              document.getElementById("secondsubcategory").options[0]=new Option("Please select second Subcategory","");
              if (listindexsubcat) {

                var lookup = {};

                  var k = 1;

                    for (var t = 0, len = lengthtdd; t < lengthtdd; t++) {
                        // alert(objs[t].subcategoryId);
                        // alert(listindexsubcat);
                      if (objs[t].subcategoryId == listindexsubcat) {
                        // alert(obj[t].secondsubcategory);
                        // alert(objs[t].SecondsubcategoryName);

                        document.getElementById("secondsubcategory").options[k]=new Option(objs[t].SecondsubcategoryName,objs[t].SecondsubcategoryName);

                      k = k+1;

                    }

                }

            }
            
          return true;
          }


          function handleSelectChangeone(listindexsecondcatdata){
            // alert("handleSelectChangeone");
            // alert(listindex);
              // alert(listindexsecondcatdata);
              $('#secondsubcatName').val(listindexsecondcatdata);
              $('#secondsubcatNames').val(listindexsecondcatdata);
              //  var thirdCatname =  $('#secondsubcatName').val("listindexsecondcatdata");
              // alert(thirdCatname);
            var firstCatname =  $('#catName').val();
                 // alert(firstCatname);
            var secondCatname =  $('#subcatName').val();
                 // alert(secondCatname);
            var totalthirdsubcatdata = "<%= totalthirdsubcatdata %>";

            var totalthirdsubcatdatalength = "<%= totallthirdcaTsub %>";

            var finalvalthirdsubcatsdata = "<%= finalvalthirdsubcats %>";

            var newdatathirdsubcatsdata = finalvalthirdsubcatsdata.replace(/&quot;/g,'"');

            var fulldatafinalvalthirdsubcatsdata = JSON.parse(JSON.stringify(newdatathirdsubcatsdata));

            var objthirdsubcatsdata = JSON.parse(fulldatafinalvalthirdsubcatsdata);

            var lengthth = Object.keys(objthirdsubcatsdata).length;

             if (listindexsecondcatdata) {

                var lookup = {};
                var r = 1;
                for (var q = 0, len = lengthth; q < len; q++) {
                
      
                var ddlId = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 1);
      
                // alert(ddlId);

              function splitValue(value, index) {
                 return value.substring(0, index) + "," + value.substring(index);
              }
          
          var ddlIdss = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 2);

          var optionList = objthirdsubcatsdata; 
            //alert(optionList);
          var ddlId = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 1);

          var myEle = document.getElementById(ddlId);
           

          if(myEle == null){ 

           $('[id*=div1]').append( '<label class="control-label">Category Name '+(parseInt($('[id*=hfDDLId]').val()) + 1)+' </label>');
                // alert("true");  
            $('[id*=div1]').append(getDropDownList(ddlId,ddlId,ddlIdss,  optionList)); 
            
          } else {

            $('[id*=div1]').append(getDropDownLists(ddlId, ddlId, ddlIdss, optionList)); 
            
          }

          return false;

           
          function getDropDownList(name, id, ddlIdss ,optionList) {
           // alert("calling data");
              // alert(ddlIdss);  
            $("#" +id).nextAll('select.newdrop').remove();

              var combo = $("<select><option>Select Catgeory</option></select>").attr("id", id).attr("name", name).attr("class", "newdrop").attr("runat", "server").attr("onchange", "handleSelectChange(event)");
                    $.each(optionList, function (i, el) {
                   
                      if(optionList[i].catNamedata == firstCatname && optionList[i].subcatNamedata == secondCatname && optionList[i].secondsubcatNamedata == listindexsecondcatdata && optionList[i].parentdata == listindexsecondcatdata){   
                       
                         if(optionList[i].role == "part"){

                          document.getElementById('addCategoryButton').style.visibility = 'hidden';

                        } else {

                          document.getElementById('addCategoryButton').style.visibility = 'visible';

                        }

                   combo.append(new Option(optionList[i].CategoryName,optionList[i].CategoryName));
                     }                
                  });

              return combo;
               
          }       


          function getDropDownLists(name, id, ddlIdss ,optionList) {
            // alert("calling data one");

            // alert("getDropDownList");

               // alert(id);

            $("#" +id).nextAll('select.newdrop').remove();

              $('#ddl1').empty().append('<option selected="selected" value="0">Select Category</option>');

                $.each(optionList, function (i, el) {

                // alert(listindexsecondcatdata);

                if(optionList[i].catNamedata == firstCatname && optionList[i].subcatNamedata == secondCatname && optionList[i].secondsubcatNamedata == listindexsecondcatdata && optionList[i].parentdata == listindexsecondcatdata){

                  if(optionList[i].role == "part"){

                    document.getElementById('addCategoryButton').style.visibility = 'hidden';

                  } else {

                    document.getElementById('addCategoryButton').style.visibility = 'visible';

                  }   
                   
                  $('#ddl1').append(new Option(optionList[i].CategoryName,optionList[i].CategoryName));

                      }  

                    });   
                    
                   }       
                      
                 }
                
                }
                  
            return true;

          }

          // document.getElementById("select#ddl4").style.display = "none";

          function handleSelectChange(event) {
          
              var selectElement = event.target;
                // alert(selectElement);
                var value = selectElement.value;
                var newwvalue = selectElement.value;
                // alert(newwvalue);
                var newdata = selectElement.id;
                  // if(newdata == "ddl2"){
                    // alert("call");
                      // $("select#ddl4").removeAttr("onchange");
                $("select#ddl3").removeAttr("onchange" ,"handleSelectChange(event)");
                  
                if(newdata == "ddl3"){
                  // alert("button");
                  $("input#addCategoryButton").css("display" , "none");
                  $("a#myA").css("display","block");
                }

                var firstCatname =  $('#catName').val();
                      
                var secondCatname =  $('#subcatName').val();
                
                var thirdCatname =  $('#secondsubcatName').val();
                
                var totalthirdsubcatdata = "<%= totalthirdsubcatdata %>";

                var totalthirdsubcatdatalength = "<%= totallthirdcaTsub %>";

                var finalvalthirdsubcatsdata = "<%= finalvalthirdsubcats %>";

                var newdatathirdsubcatsdata = finalvalthirdsubcatsdata.replace(/&quot;/g,'"');
             
                var fulldatafinalvalthirdsubcatsdata = JSON.parse(JSON.stringify(newdatathirdsubcatsdata));
 
                var objthirdsubcatsdata = JSON.parse(fulldatafinalvalthirdsubcatsdata);

                var lengthth = Object.keys(objthirdsubcatsdata).length; 

               if (value) {

                  var lookup = {};
                  var r = 1;
                    
                  for (var q = 0, len = lengthth; q < len; q++){

                var ddlId = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 1);
                  
                  function splitValue(value, index) {

                    return value.substring(0, index) + "," + value.substring(index);
                  }

                  var newdatastr = splitValue(newdata,3);
                  // alert(newdatastr);
                  var pieces = newdatastr.split(/[\s,]+/);
                  // alert(pieces);
                  var newvaluestr = pieces[pieces.length-1];
                  // alert(newvaluestr); 
                  var datsss = $('#updatevalue').val(newvaluestr);

                  var datfinal = $('#finallvalue').val(newwvalue);

                  var datfinals = $('#finallvalues').val(newwvalue);
                  // alert(datsss); 
                  var oldnewvaluestr = pieces[pieces.length-2];
                  // alert(oldnewvaluestr); 
                  var increamentval =parseInt(newvaluestr) + 1;
                  // alert(increamentval); 
                  var resfinalstr = oldnewvaluestr.concat(increamentval);
                  
                  var ddlIdss = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 2);
                      
                  var optionList = objthirdsubcatsdata; 

                  var ddlId = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 1);

                    
            var myEle = document.getElementById(resfinalstr);

            if(myEle == null){ 

              $('[id*=div1]').append( '<label class="control-label">Category Name '+ increamentval +'</label>');
        
                $('[id*=div1]').append(getDropDownListb(ddlId, resfinalstr, ddlIdss, newdata, optionList)); 
         
                var tmphref = jQuery('#myA').attr('href');

                tmphref = tmphref+"?cat="+firstCatname+"&subcat="+secondCatname+"&thirdsubcat="+thirdCatname+"&parentdatass="+newwvalue;
            
                for(var j = 1; j <= increamentval; j++){

                  tmphref = tmphref+ "&ddl" + j + "=" +$('#ddl' + j + ' option:selected').val()

                }
                
                var str_array = tmphref.split('?');

                for(var i = 0; i < str_array.length; i++) {

                  str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                  
                  tmphrefs = "/product?"+str_array[i];

                }

                jQuery('#myA').attr('href',tmphrefs);

            } else {

              // alert('second alert');
          
              $('[id*=div1]').append(getDropDownListc(ddlId, ddlId, ddlIdss, newdata, optionList)); 

              $('[id*=hfDDLId]').val(parseInt($('[id*=hfDDLId]').val()) + 1);

              var tmphref = jQuery('#myA').attr('href');
          
              tmphref = tmphref+"?cat="+firstCatname+"&subcat="+secondCatname+"&thirdsubcat="+thirdCatname+"&parentdatass="+newwvalue;

              var str_array = tmphref.split('?');

              for(var i = 0; i < str_array.length; i++) {

                str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");

                  tmphrefs = "/product?"+str_array[i];

              }

                jQuery('#myA').attr('href',tmphrefs);

            }
         
            return false;

            function GetValue() {

              $('[id*=hfSelectedValue]').val($('[id*=ddl1]').val());
               // alert("hiii");

            }  
 
            function getDropDownListb(name, id, ddlIdss , newdata ,optionList) {
       
                $("#" +id).nextAll('select.newdrop').remove();
              
                var combo = $("<select><option>Select Catgeory</option></select>").attr("id", id).attr("name", name).attr("class", "newdrop").attr("runat", "server").attr("onchange", "handleSelectChange(event)");

                  $.each(optionList, function (i, el) {
                    
                    if(optionList[i].catNamedata == firstCatname && optionList[i].subcatNamedata == secondCatname && optionList[i].secondsubcatNamedata == thirdCatname && optionList[i].parentdata == newwvalue){  

                    
                      if(optionList[i].role == "part"){

                        document.getElementById('addCategoryButton').style.visibility = 'hidden';

                      } else {

                        document.getElementById('addCategoryButton').style.visibility = 'visible';
                      
                      }
                        
                    combo.append(new Option(optionList[i].CategoryName,optionList[i].CategoryName));
                   
                    }         
      
                  });

                return combo; 
             
            }   

            function getDropDownListc(name, id, ddlIdss , newdata ,optionList) {

                 alert("ddlIdss " + ddlIdss); 

                                                 
                  // $('#' + ddlIdss).empty().append('<option selected="selected" value="0">Select Category</option>');

                  $("#" + newdata).nextAll('select.newdrop').remove();

                    var combo = $("<select><option>Select Catgeory</option></select>").attr("ddlIdss", ddlIdss).attr("name", name).attr("class", "newdrop").attr("runat", "server").attr("onchange", "handleSelectChange(event)");

                    $.each(optionList, function (i, el) {

                    if(optionList[i].catNamedata == firstCatname && optionList[i].subcatNamedata == secondCatname && optionList[i].secondsubcatNamedata == thirdCatname && optionList[i].parentdata == newwvalue){  

                        if(optionList[i].role == "part"){
                             
                        document.getElementById('addCategoryButton').style.visibility = 'hidden';

                        } else {

                        document.getElementById('addCategoryButton').style.visibility = 'visible';

                      }
                    
                    combo.append(new Option(optionList[i].CategoryName,optionList[i].CategoryName));
                    
                    }  

                  });

                return combo;  

            }  

                }
                
              }
                  
            return true;
            
          }       

    
              var rowFrameworkResultInJs = "<%= rowFrameworkResultInJss %>";
              var totallength = "<%= totall %>";
              var totalfinalvals = "<%= finalvals%>";
            
            function dropdownlist(listindex){
               // alert(listindex);

                $('#catName').val(listindex);
                  $('#catNames').val(listindex);
               
                  // alert(totalfinalvals.replace(/&quot;/g,'"'));
                  // alert(JSON.parse(JSON.stringify(rowFrameworkResultInJs)));
                var newdata = totalfinalvals.replace(/&quot;/g,'"');
                  // alert(newdata);

                var fulldata = JSON.parse(JSON.stringify(newdata));

                // alert(fulldata);
                var obj = JSON.parse(fulldata);
                var lengtht = Object.keys(obj).length; //you get length json result 4
                // alert(obj[0]._id);
                // alert(listindex);

                document.getElementById("subcategory").length = 0;
                document.getElementById("subcategory").options[0]=new Option("Please select Subcategory","");
                if (listindex) {
                  var lookup = {};

                    var j = 1;

                    for (var i = 0, len = lengtht; i < len; i++) {
                          // alert(obj[i]._id);
                         // alert(listindex);
                        if (obj[i].categoryId == listindex) {
                            // alert(obj[i]._id);
                            //alert(obj[i].subcategoryName);
                            document.getElementById("subcategory").options[j]=new Option(obj[i].subcategoryName,obj[i].subcategoryName);
                            j = j+1;

                          }

                      }

                  }
                  
                  return true;
            }

              var rowFrameworkResultInJsSecondSubcat = "<%= rowFrameworkResultInJssSecondSubcat %>";
              var totallength = "<%= totallSubcat %>";
              var totalfinalvalsubcat = "<%= finalvalsSubcat%>";
            
            function dropdownlistSubcat(listindexsubcat){
              
              // alert("listindexsubcat 1 " + listindexsubcat);
                $('#subcatName').val(listindexsubcat);
                  $('#subcatNames').val(listindexsubcat);

                    // alert(totalfinalvals.replace(/&quot;/g,'"'));
                    // alert(JSON.parse(JSON.stringify(rowFrameworkResultInJs)));
                  var newdatasubcat = totalfinalvalsubcat.replace(/&quot;/g,'"');
                    // alert(newdata);

                  var fulldataSubcat = JSON.parse(JSON.stringify(newdatasubcat));

                    // alert(fulldataSubcat);
                    var objs = JSON.parse(fulldataSubcat);
                    var lengthtdd = Object.keys(objs).length; //you get length json result 4
                    // alert(obj[0]._id);
                   // alert(lengthtdd);
                    // alert(listindexsubcat);
                    document.getElementById("secondsubcategory").length = 0;
                    document.getElementById("secondsubcategory").options[0]=new Option("Please select second Subcategory","");
                    if (listindexsubcat) {
                        var lookup = {};
                        var k = 1;

                     for (var t = 0, len = lengthtdd; t < lengthtdd; t++) {
                            // alert(objs[t].subcategoryId);
                          // alert(listindexsubcat);
                        if (objs[t].subcategoryId == listindexsubcat) {
                            // alert(obj[t].secondsubcategory);
                            // alert(objs[t].SecondsubcategoryName);
                            
                            document.getElementById("secondsubcategory").options[k]=new Option(objs[t].SecondsubcategoryName,objs[t].SecondsubcategoryName);

                            k = k+1;
                        }
                    }
                }
                
                return true;
            }
                        
     </script> 
                    
              

     <table class="table table-striped table-bordered" id="example">
            <thead>
              <tr>
                <!-- <th>Lastname</th> -->
                <th>Category Name</th>
                <th>SubCategory Name</th>
                <th>Second SubCategory Name</th>
                <th>Parent Data</th>
                <th>Third SubCategory Name</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
             <% for (var i = 0; i < thirdsubcategorydata.length; i++) { %>  
              <tr>

           <td>
            
            <%= thirdsubcategorydata[i].catNamedata %> 
            </td>

            <td>
              
            <%= thirdsubcategorydata[i].subcatNamedata %> 
           
            </td>



           <td> 
            <%= thirdsubcategorydata[i].secondsubcatNamedata %> 
           
            </td>

            <td><%= thirdsubcategorydata[i].parentdata %></td>


            <td><%= thirdsubcategorydata[i].CategoryName %></td>

            
           <% if(thirdsubcategorydata[i].status == '0'){ %>
           <td><a href="thirdsubcategoryStatus?status=1&id=<%= thirdsubcategorydata[i]._id %>">Active</a></td>
           <% } else { %>
           <td><a href="thirdsubcategoryStatus?status=0&id=<%= thirdsubcategorydata[i]._id %>">Deactive</a></td>
           <% } %>
           <td>
           <!--<a href="edit_subcategory?id=<%= thirdsubcategorydata[i]._id %>"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px"></i></a> -->
            <a href="deletethirdSubCategory?CategoryName=<%= thirdsubcategorydata[i].CategoryName %>&parentdata=<%= thirdsubcategorydata[i].parentdata %>&secondsubcatNamedata=<%= thirdsubcategorydata[i].secondsubcatNamedata %>&subcatNamedata=<%= thirdsubcategorydata[i].subcatNamedata %>&catNamedata=<%= thirdsubcategorydata[i].catNamedata %>"><i class="fa fa-trash" onclick="return ConfirmDelete('<%= thirdsubcategorydata[i].CategoryName %>')" aria-hidden="true" style="font-size: 20px"></i></a>
            </td>
              </tr>
             <% } %>
            </tbody>
          </table>

            <script type="text/javascript">
                    
                function ConfirmDelete(CategoryName)
                  {

                    var x = confirm("Are you sure you want to delete " + CategoryName);
                    
                    if (x)

                      return true;

                    else

                      return false;
                  }
             
            </script>


 
<!--     <script type= "text/javascript" src = "/js/categories.js"></script>
 -->
 <script type="text/javascript">
 

$(document).ready(function() {
    $('#addRoww').click(function() {
       $('#myModal div.controls').append(' <input type="text"  name="CategoryName[]"  required />');

        // var bla = $('#catData').val();
        // alert(bla);
       // //Set
        // $('#txt_name').val(bla);
    });
    $('#addRowPart').click(function() {
       $('#myModalParts div.controls').append(' <input type="text"  name="PartName"  required />');
    });
});
</script>
     <script type="text/javascript">
       $(document).ready(function() {

        $("input[name$='gender']").click(function() {
          // $("#femalediv").hide();
            var test = $(this).val();
      // alert("hi");
            // $("div.desc").hide();
            // $("#Cars" + test).show();

            if(test == 'male')
            {
              $("#malediv").show();
              $("#femalediv").hide();

            }

            else
              if(test == 'female')
            {
               $("#malediv").hide();
              $("#femalediv").show();
            }

            
        });
    });

     </script>
                                        
                                      
   <script type="text/javascript">
       
       $(function() {
  $('#bodypartname').change(function(){
    $('#division1').hide();
    $('#division2').show();

    // $('#' + $(this).val()).show();
  });
});
     </script>

      <!-- <script type="text/javascript">
       
       $(function() {
  $('#bodypartname').change(function(){
    $('#division1').hide();
    $('#division2').show();

    // $('#' + $(this).val()).show();
  });
});
     </script> -->
                                          
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->



                    </div>
                </div>
                    
                    </div>
                </div>
                </div>
                </div>

 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     /*padding: 0px; */
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>
 
</body>
<!-- END BODY -->
</html>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>

 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 

<!--     <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
 -->
    <!-- <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
 
  <!--  <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
 
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script> --> 


  
  




 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
 height: 30px;
    width: 80%;
}

textarea{
       width: 80%;
 
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
    filter: alpha(opacity=80);
}


 </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        