    <%- include partials/header_userdashboard %>

 
    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
                    <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

                 
                 <!--  <li ng-class="{active: activeTab === 'subscription'}"><a href="subscription" ><i class="fa fa-user"  aria-hidden="true"></i> My Subscription</a></li>



                    <li ng-class="{active: activeTab === 'order'}"><a href="order" ><i class="fa fa-user"  aria-hidden="true"></i> My Order</a></li> -->


                     <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                     <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                     <!-- <li ng-class="{active: activeTab === 'managemake'}""><a href="managemake"><i class="fa fa-user"  aria-hidden="true"></i> Make Managment</a></li>
                      <li ng-class="{active: activeTab === 'managemodel'}"><a href="managemodel"><i class="fa fa-user"  aria-hidden="true"></i> Model Managment</a></li>
                    <li ng-class="{active: activeTab === 'managemodel'}"><a href="managesubmodel"><i class="fa fa-user"  aria-hidden="true"></i> Sub Model Managment</a></li> -->
                      <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                     <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                  <!--     <li ng-class="{active: activeTab === 'managecoupon'}"><a href="managecoupon"><i class="fa fa-user"  aria-hidden="true"></i> Coupon  Managment</a></li> -->
                      <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managesecondsubcategory'}" class="active"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>
                       <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 
                        <ul> <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                           <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list"><i class="fa fa-user"  aria-hidden="true"></i> Manage Part</a></li>
                        <!-- <li ng-class="{active: activeTab === 'size'}"><a href="managesize"><i class="fa fa-user"  aria-hidden="true"></i> Size Mangment</a>
                        </li>
                        <li ng-class="{active: activeTab === 'color'}"><a href="managecolor"><i class="fa fa-user"  aria-hidden="true"></i> Color Managment</a>
                        </li> -->
                    </ul>
                       </li>
                      <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>


                       <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>
                        <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                        <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                     <!--  <li ng-class="{active: activeTab === 'manageslider'}"><a href="manageslider"><i class="fa fa-user"  aria-hidden="true"></i> Slider Managment</a></li>
                      <li ng-class="{active: activeTab === 'cms'}"><a href="cms"><i class="fa fa-user"  aria-hidden="true"></i> Content Managment</a></li>
                      <li ng-class="{active: activeTab === 'paymentmanage'}"><a href="paymentmanage"><i class="fa fa-user"  aria-hidden="true"></i> Payment Managment</a></li> -->
                   <!--  <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                    <li ng-class="{active: activeTab === 'managetransaction'}"><a href="managetransaction"><i class="fa fa-user"  aria-hidden="true"></i> Transaction Managment</a></li>
                    <li ng-class="{active: activeTab === 'symptom-admin'}"><a href="symptom-admin"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                    <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list" ><i class="fa fa-user-md"  aria-hidden="true"></i> Our Products</a></li>
                     <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                     <li ng-class="{active: activeTab === 'add-symptoms'}"><a href="add-symptoms" ><i class="fa fa-user-md"  aria-hidden="true"></i> Add Symptoms</a></li>
                     <li ng-class="{active: activeTab === 'manage-symptoms'}"><a href="manage-symptoms"><i class="fa fa-user-md"  aria-hidden="true"></i> Manage Symptoms</a></li> -->
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                     <!-- <li ng-class="{active: activeTab === 'consult'}"><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                     <!--  <li ng-class="{active: activeTab === 'review-consult'}"><a href="review-consult"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                      <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                        
                    </div>

                            <!--<li ng-class="{active: activeTab === 'admin'}"><a ui-sref="admin" ><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                            <li ng-class="{active: activeTab === 'order'}"><a ui-sref="order" ><i class="fa fa-first-order"  aria-hidden="true"></i> Order Management</a></li>-->
<style type="text/css">
    #nav li ul { display: none; list-style:none;}
</style>
<script type="text/javascript">
    $("#nav li a").on("click", function (e) {
    //allow links to be followed if they don't have a sub-menu
    if ( !$(this).parent().has("ul").length ) { return; }

    //we have a sub-menu, so stop the link from being followed
    e.preventDefault();

    if(!$(this).hasClass("open")) {
        //we need to know which 'level' we're on 
        var currentLevel = $(this).closest('ul')
        $("li ul", currentLevel).slideUp(350);
        $("li a", currentLevel).removeClass("open");

        // open our new menu and add the open class
        $(this).next("ul").slideDown(350);
        $(this).addClass("open");
    } else {
        $(this).removeClass("open");
        $(this).next("ul").slideUp(350);
    }
});

</script>     
                
            
                    
                          <div class="span9">
                        <!-- BEGIN PAGE HEADER-->
                            <div class="row-fluid">
                            <div class="span12">
                            
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                            <h6 class="page-title" style="font-size: 18px;">
                                  

                                  <% if (user.local.email){ %>
                                        <%= user.firstName %>
                                    <% } else if (user.google.token) { %>  
                                           <%= user.google.name %>
                                    <% } else { %>
                                          <%= user.facebook.name %> 
                                      <% } %>  
                                </h6>
                            </div>
                        </div>
                        <!-- END PAGE HEADER-->
                       


                           <div class="row-fluid">
                      <div class="span12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->   
                        
                        <div class="portlet box blue tabbable">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="hidden-480">Add Second SubCategory</span>
                                </div>
                            </div>

                            <div class="portlet-body form">
                                <div class="tabbable portlet-tabs">
                                    
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="portlet_tab1">
<form method="post" class="form-horizontal" action="second-subcategory-insert" style="height: 180px;">

   <div class="control-group">
   <label class="control-label">Category Name</label>
    <div class="controls">
  
    
    <select class="form-control"  name="categoryId" onchange="javascript:dropdownlist(this.options[this.selectedIndex].value);" required="required">
      <option>Select Category</option>
      <% for (var i = 0; i < categorydata.length; i++) if(categorydata[i].status == "0") { %>                           
      
      <option value="<%= categorydata[i].categoryName %>"><%= categorydata[i].categoryName %></option>

   <% } %>
    </select>



    </div>
 </div>

 <div class="control-group">
   <label class="control-label">SubCategory Name</label>
      <div class="controls">
                                                                
                <script type="text/javascript" language="JavaScript">
                 document.write('<select name="subcategory" id="subcategory"><option value="">Select Sub-Category</option></select>')
                 </script>
              
                 <noscript>
                     <select name="subcategoryId" id="subcategory" >
                     <option value="">Select Sub-Category</option></select>
                 </noscript>
                            </div>
 </div>

  <div class="control-group">
   <label class="control-label">Second SubCategory Name</label>
    <div class="controls">
  
    <input type="text"  name="SecondsubcategoryName"  required />

    </div>
 </div>
   
   

    <div class="row-fluid">
    <div class="span4"></div>
    <div class="span3">
   <!--  <button type="submit" style="display: block;margin: 0 auto;" class="btn theme-btn"> <i class="fa fa-check"></i> Submit</button> -->
    <input type="submit" class="btn theme-btn" value="Submit">
    <div class="span2"></div>  
    </div>
    </div>

       </div>
 <!-- ///////////////////////////////////////////////////////////////////////// -->
 

    </form>


  <% var rowFrameworkResultInJss =  subcategorydata

  console.log(rowFrameworkResultInJss);
  

    var totall = rowFrameworkResultInJss.length

    var finalvals = JSON.stringify(rowFrameworkResultInJss)


   %>

     <script>
               var rowFrameworkResultInJs = "<%= rowFrameworkResultInJss %>";
               var totallength = "<%= totall %>";

                var totalfinalvals = "<%= finalvals%>";

         function dropdownlist(listindex)
            {
                // alert(listindex);
               
                 // alert(totalfinalvals.replace(/&quot;/g,'"'));
               // alert(JSON.parse(JSON.stringify(rowFrameworkResultInJs)));
                var newdata = totalfinalvals.replace(/&quot;/g,'"');
               // alert(newdata);

               var fulldata = JSON.parse(JSON.stringify(newdata));

                // alert(fulldata);
               var obj = JSON.parse(fulldata);
                var lengtht = Object.keys(obj).length; //you get length json result 4
                // alert(obj[0]._id);
                 // alert(listindex);

                document.getElementById("subcategory").length = 0;
                document.getElementById("subcategory").options[0]=new Option("Please select Subcategory","");
                if (listindex) {
                    var lookup = {};
                    var j = 1;
                    for (var i = 0, len = lengtht; i < len; i++) {
                          // alert(obj[i]._id);
                           // alert(listindex);
                        if (obj[i].categoryId == listindex) {
                             // alert(obj[i].categoryId);
                            // alert(obj[i].subcategoryName);
                            document.getElementById("subcategory").options[j]=new Option(obj[i].subcategoryName,obj[i].subcategoryName);
                            j = j+1;
                        }
                    }
                }
                
                return true;
            }
                        
     </script> 
                    
           
     <table class="table table-striped table-bordered" id="example">
              <thead>
                <tr>
                  <!-- <th>Lastname</th> -->
                  <th>Category Name</th>
                  <th>SubCategory Name</th>
                  <th>Second SubCategory Name</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
               <% for (var i = 0; i < secondsubcategorydata.length; i++) { %>  
                <tr>

             <td>
               
                  <%= secondsubcategorydata[i].categoryId %> 
                  </td>
                  <td>
                  <%= secondsubcategorydata[i].subcategoryId %> 
                  </td>
                  <td><%= secondsubcategorydata[i].SecondsubcategoryName %></td>
                  <% if(secondsubcategorydata[i].status == "0"){ %>
                  <td><a href="secondsubcategoryStatus?status=1&id=<%= secondsubcategorydata[i]._id %>">Active</a></td>
                  <% } else { %>
                  <td><a href="secondsubcategoryStatus?status=0&id=<%= secondsubcategorydata[i]._id %>">Deactive</a></td>
                  <% } %>
                  <td>
                  <!--  <a href="edit_subcategory?id=<%= secondsubcategorydata[i]._id %>"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px"></i></a> -->
                  <a href="deletesecondSubCategory?SecondsubcategoryName=<%= secondsubcategorydata[i].SecondsubcategoryName %>&subcategoryId=<%= secondsubcategorydata[i].subcategoryId %>&categoryId=<%= secondsubcategorydata[i].categoryId %>"><i class="fa fa-trash" onclick="return ConfirmDelete('<%= secondsubcategorydata[i].SecondsubcategoryName %>')" aria-hidden="true" style="font-size: 20px">
                    
                    
                  </i></a>

      
                </td>

                </tr>
               <% } %>
              </tbody>
            </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

                  <script type="text/javascript">
                    
                      function ConfirmDelete(SecondsubcategoryName)
                        {
                          var x = confirm("Are you sure you want to delete " + SecondsubcategoryName);
                          if (x)
                            return true;
                          else
                            return false;
                        }
                   
                  </script>

     <script type="text/javascript">
       $(document).ready(function() {

        $("input[name$='gender']").click(function() {
          // $("#femalediv").hide();
            var test = $(this).val();
      // alert("hi");
            // $("div.desc").hide();
            // $("#Cars" + test).show();

            if(test == 'male')
            {
              $("#malediv").show();
              $("#femalediv").hide();

            }

            else
              if(test == 'female')
            {
               $("#malediv").hide();
              $("#femalediv").show();
            }

            
        });
    });

     </script>
                                        
                                      
   <script type="text/javascript">
       
       $(function() {
  $('#bodypartname').change(function(){
    $('#division1').hide();
    $('#division2').show();

    // $('#' + $(this).val()).show();
  });
});
     </script>

      <!-- <script type="text/javascript">
       
       $(function() {
  $('#bodypartname').change(function(){
    $('#division1').hide();
    $('#division2').show();

    // $('#' + $(this).val()).show();
  });
});
     </script> -->
                                          
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->



                    </div>
                </div>
                    
                    </div>
                </div>
                </div>
                </div>

 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>
 
</body>
<!-- END BODY -->
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
  


 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
 height: 30px;
    width: 80%;
}

textarea{
       width: 80%;
 
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
    filter: alpha(opacity=80);
}


 </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        