<%- include partials/header_userdashboard %>
  <div class="row-fluid">
    <div class="row" style="background: #f0f0f5;">
      <div class="row-fluid">
        <div class="container-fluid" style="background-color: #f0f0f5">

          <div class="span2 sidebar-content ">

            <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">

              <li ng-class="{active: activeTab === 'home'}">
                  <a href="home">
                  <i class="fa fa-home" aria-hidden="true"></i> 
                  Home
                  </a> 
                  <span class="after"></span>                                    
              </li>
                            
              <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

              <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>

              <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                   
              <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>

              <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                
              <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>

                <li ng-class="{active: activeTab === 'product'}" class="active"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 

                  <ul> 

                    <li ng-class="{active: activeTab === 'product'}" class="active"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                               
                    <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list"><i class="fa fa-user"  aria-hidden="true"></i> Manage Part</a></li>
                        
                  </ul>
                
                </li>
                
                <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>

                <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>

                <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>

                <% } %>

                  <% if (user.user_role === 'user') { %>
                     
                <% } %>

                  <% if (user.user_role === 'doctor') { %>
                      
                <% } %>

                <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
            </ul>
                        
          </div>

            <style type="text/css">
                #nav li ul { display: none; list-style:none;}
            </style>

            <script type="text/javascript">
              $("#nav li a").on("click", function (e) {
              //allow links to be followed if they don't have a sub-menu
              if ( !$(this).parent().has("ul").length ) { return; }

              //we have a sub-menu, so stop the link from being followed
              e.preventDefault();

              if(!$(this).hasClass("open")) {
                  //we need to know which 'level' we're on 
                  var currentLevel = $(this).closest('ul')
                  $("li ul", currentLevel).slideUp(350);
                  $("li a", currentLevel).removeClass("open");

                  // open our new menu and add the open class
                  $(this).next("ul").slideDown(350);
                  $(this).addClass("open");
              } else {
                  $(this).removeClass("open");
                  $(this).next("ul").slideUp(350);
                  }
              });
            </script>
                    
        <div class="span10" style="height: 2100px;">
          <div class="row-fluid">
            <div class="span12">
              <div class="portlet box blue tabbable">
                <div class="portlet-title">
                  <div class="caption">
                    <span class="hidden-480">Stock Qantity</span>
                  </div>
                </div>

                <input type="hidden" id="hiddenQuantity" name="">
                <input type="hidden" id="hiddenAmount" name="">

                <div class="coupon-accordion">               

                <div class="panel-collapse collapse" id="collapseOne22">
              
                  <form action="monthSearch" method="post">   

                    <span style="color: black;">Start Date&nbsp;<input type="date" name="startDate" size="100" name="sdate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"></span>&nbsp;

                    <input type="hidden" name="partid" value="<%= partId %>">
                    
                    <input type="hidden" name="namee" value="<%= name %>">

                    <span style="color: black;">End Date<input type="date" name="endDate" name="edate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"></span>

                    <input type="submit" class="btn theme-btn col-md-2" value="Search">

                  </form>

                </div>

                  <input type="hidden" id="Openning_Balance" name="">
                  <input type="hidden" id="Openning_Amount" name="">
         
                <table class="table">

                  <tr>

                    <th colspan="7">

                      <span style="margin-right: 70px;">Bagap Motors</span>

                      <span style="padding-left: 90px;"><span id="sDate"></span>&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp;<span id="lDate"></span></span>
                               
                      <span style="margin-left: 200px;"><%= name %> <%= partId %></span>
                 
                      <span style=" float: right;"><button type="button" class="btn btn-primary" id="showcoupon" id="promo" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne22">Search</button></span>

                      <span style="float: right; margin-right: 100px;"><span>Opening Balance</span>&nbsp;&nbsp;&nbsp;<span id="hidden_Balance"></span>&nbsp;&nbsp;&nbsp;<span id="hidden_Amount"></span></span>

                    </th>
                
                  </tr>

                  <tr>

                    <th>Date</th>  
                    <th>Particular</th>
                    <th>Vch Type</th> 
                    <th>Vch No.</th>                
                    <th>Inwards</th>
                    <th>Outwards</th>
                    <th>Closing Balance</th>

                  </tr>

                  <tr>

                    <td>
                      <table class="tableone" id="monthTable" style="width: 100%;">                       
                        <thead>
                          <tr>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>                   
                         
                        </tbody>
                      </table>
                    </td> 

                    <td style="display: none;">
                      <table class="par" id="partucular" style="width: 80%;">                       
                        <thead>
                          <tr>
                            <th>Particular</th>
                          </tr>
                        </thead>
                        <tbody>                   
                         
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table class="per" id="partiucular" style="width: 100%;">                       
                        <thead>
                          <tr>
                            <th>Particular</th>
                          </tr>
                        </thead>
                        <tbody>                   
                         
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table class="tableone" id="vchTable" style="width: 100%;">                       
                        <thead>
                          <tr>
                            <th>Vch Type</th>
                          </tr>
                        </thead>
                        <tbody>                   
                         
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table class="tableone" id="vchNumber" style="width: 100%;">                       
                        <thead>
                          <tr>
                            <th>Vch No.</th>
                          </tr>
                        </thead>
                        <tbody>                   
                         
                        </tbody>
                      </table>
                    </td>
                
                    <td>
                      <table class="tableone" id="MyTablePur" style="width: 100%;">
                        <thead>
                          <tr>
                            <th>Quantity</th>
                            <th>Value</th>
                          </tr>
                        </thead> 
                        <tbody> 
                                         
                        </tbody>           
                      </table>
                    </td>

                    <td>
                      <table class="tableone" id="MyTableSal" style="width: 100%;">
                        <thead>
                          <tr>
                            <th>Quantity</th>
                            <th>Value</th>                           
                          </tr>
                        </thead>
                        <tbody>
                                                
                        </tbody>                  
                      </table>
                    </td>

                    <td>
                      <table class="tableone" id="MyTableClosing" style="width: 100%;">
                        <thead>
                          <tr>
                            <th>Quantity</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                         
                        </tbody>
                      </table>
                    </td> 

                  </tr>

                </table>

     
              </div>
            </div>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div> 

  <script type="text/javascript">
 
    var firstDate = "<%= JSON.stringify(startD) %>";

    var firstDate = JSON.parse(firstDate.replace(/&quot;/g,'"'));

    var dateOne = firstDate.split("-");

    var monthNames = [
      "Jan", "Feb", "Mar",
      "Apr", "May", "June", "July",
      "Aug", "Sep", "Oct",
      "Nov", "Dec"
    ];          

    var month = dateOne[1];

    var month = Number(month - 1);

    var dateFirst = dateOne[2] + '-' + monthNames[month] + '-' +  dateOne[0];

      $('#sDate').text(dateFirst);

    var lastDate = "<%= JSON.stringify(lastD) %>";

    var lastDate = JSON.parse(lastDate.replace(/&quot;/g,'"'));
   
    var dateTwo = lastDate.split("-");        

    var dateLast = dateTwo[2] + '-' + monthNames[month] + '-' +  dateTwo[0];

      $('#lDate').text(dateLast);          

  </script>

  <!-- Script For Openining Balance -->  

  <script type="text/javascript">

    var salesOpn = JSON.parse(("<%= JSON.stringify(sales) %>").replace(/&quot;/g,'"'));

    var purOpn = JSON.parse(("<%= JSON.stringify(purchase) %>").replace(/&quot;/g,'"'));  

    var purReOpn = JSON.parse(("<%= JSON.stringify(purchaseRet) %>").replace(/&quot;/g,'"'));

    var salesReOpn = JSON.parse(("<%= JSON.stringify(salesRet) %>").replace(/&quot;/g,'"'));  

      ///////////////// Get Purchase Qunatity And TotalAmount /////////////////////

              var allPurQuan = [];

              var allPurAmount = [];
           
            for (var i = 0; i < purOpn.length; i++) {

              allPurQuan.push(purOpn[i].Quantity);

              allPurAmount.push(purOpn[i].TotalAmntData);             

            }


              if (allPurQuan == "") {
                 
                var allPurQuan = [0]; 

                var allPurAmount =[0];  

              } else {
                 
          
              }

      ///////////////// Addition Of Purchase Qunatity And TotalAmount  /////////////////////
           
            var addQun = (a, b) =>  Number(a) + Number(b)

            var PurOpenAmo = allPurAmount.reduce(addQun); 

            var addAmo = (a, b) =>  parseInt(a) + parseInt(b)

            var PurOpenQuantity = allPurQuan.reduce(addAmo); 

      ///////////////// Get Purchase Return Qunatity And TotalAmount  /////////////////////

              var allRetPurQuan = [];

              var allRetPurAmount = [];
           
            for (var i = 0; i < purReOpn.length; i++) {

              allRetPurQuan.push(purReOpn[i].Quantity);

              allRetPurAmount.push(purReOpn[i].TotalAmntData);             

            }

      ///////////////// Addition Of Purchase Return Qunatity And TotalAmount  /////////////////////

          //////////// if allRetPurQuan Is Nothing than put 0 to mantain error ///////////////////

              if (allRetPurQuan == "") {
                 
                var allRetPurQuan = [0]; 

                var allRetPurAmount =[0];  

              } else {
                 
          
              }
           

            var addRetQun = (a, b) =>  parseInt(a) + parseInt(b)

            var purRetOpenQuantity = allRetPurQuan.reduce(addRetQun);

            var addRetAmo = (a, b) =>  Number(a) + Number(b)

            var purRetOpenAmo = allRetPurAmount.reduce(addRetAmo);


      ///////////////// Purchase Return Amount And Quantity Mius Form Purchase //////////

            var PurOpenQunatity = PurOpenQuantity - purRetOpenQuantity;

            var purOpenAmount = PurOpenAmo - purRetOpenAmo;

               var purTotalAmout = purOpenAmount.toFixed(2);

      ///////////////// Get Sales Qunatity And TotalAmount  /////////////////////             

              var allSalAmount = [];

              var allSalQuan = [];
           
            for (var i = 0; i < salesOpn.length; i++) {

              allSalQuan.push(salesOpn[i].Quantity);

              allSalAmount.push(salesOpn[i].TotalAmntData);             

            }


            if (allSalAmount == "") {
               
              var allSalAmount = [0]; 

              var allSalQuan = [0];  

            } else {
               
        
            }

      ///////////////// Addition Of Sales Qunatity And TotalAmount  /////////////////////
           
            var addSalQun = (a, b) =>  parseInt(a) + parseInt(b)

            var salOpenQuantity = allSalQuan.reduce(addSalQun);

            var addSalAmo = (a, b) =>  Number(a) + Number(b)

            var salOpenAmo = allSalAmount.reduce(addSalAmo);

      ///////////////// Get Sales Return Qunatity And TotalAmount  /////////////////////

            var allSalRetQuan = [];

            var allSalRetAmount = [];
         
          for (var i = 0; i < salesReOpn.length; i++) {

              allSalRetQuan.push(salesReOpn[i].Quantity);

            allSalRetAmount.push(salesReOpn[i].TotalAmntData);             

          }
            

          if (allSalRetQuan == "") {
               
              var allSalRetQuan = [0]; 

              var allSalRetAmount = [0];  

          } else {
               
        
          }

      ///////////////// Addition Of Sales Return Qunatity And TotalAmount  /////////////////////
           
        var addSalRetQun = (a, b) =>  parseInt(a) + parseInt(b)

        var salRetOpenQuantity = allSalRetQuan.reduce(addSalRetQun);

        var addRetSalAmo = (a, b) =>  Number(a) + Number(b)

        var salRetOpenAmo = allSalRetAmount.reduce(addRetSalAmo);

      ///////////////// Sales Return Amount And Quantity Mius Form Sales //////////

        var salOpeQunatity = parseInt(salOpenQuantity) - parseInt(salRetOpenQuantity);

        var salOpenAmount = Number(salOpenAmo) - Number(salRetOpenAmo);  

          var openBalaQuatity = PurOpenQunatity - salOpeQunatity;           
 
          var openBalaAmo = purTotalAmout - salOpenAmount;

          var openBalaAmount = openBalaAmo.toFixed(2); 
       
            $('#Openning_Balance').val(openBalaQuatity);

            $('#Openning_Amount').val(openBalaAmount);

              $('#hidden_Balance').text(openBalaQuatity);

              $('#hidden_Amount').text(openBalaAmount);
   
  </script>

  <!---------------------------- End opening balace script ------------------------------------>

  <script type="text/javascript"> 

    var sales = JSON.parse(("<%= JSON.stringify(salesOpen) %>").replace(/&quot;/g,'"'));

    var purchase = JSON.parse(("<%= JSON.stringify(purOpen) %>").replace(/&quot;/g,'"')); 

    var purReturn = JSON.parse(("<%= JSON.stringify(purRetOpen) %>").replace(/&quot;/g,'"')); 
    
    var salesReturn = JSON.parse(("<%= JSON.stringify(salesRetOpen) %>").replace(/&quot;/g,'"'));

    
    var startDate = <%-JSON.stringify(startD)%>;

      var endDate = <%-JSON.stringify(lastD)%>;

        var dateOne = startDate.split("-");

            var year = dateOne[0];
          
            var month = dateOne[1] - 1;  
  
            var abc = getDaysInMonth(month, year);
      
          function getDaysInMonth(month, year) { 
            
            var date = new Date(Date.UTC(year, month, 1));

            var days = [];

              while(date.getMonth() == month) {

                  days.push(new Date(date));

                date.setDate(date.getDate() + 1);

              }

            return days;

          }

    //////////////////Get All Dates between first and last Date///////////////////////
        
            var all_days = [];
        
          for( var t = 0; t < abc.length; t++) {

              all_days.push(convert(abc[t]));

          }

          function convert(str) {

            var date = new Date(str),

              mnth = ("0" + (date.getMonth() + 1)).slice(-2),

              day = ("0" + date.getDate()).slice(-2);
            
              return [ date.getFullYear(),mnth,day].join("-");

          }
                 
      //////////////// End all Sales Qunity and Amonut and dates ////////////////////////

    /////////////////// Get Individual Sales Quantity, Amount, Date and ID ////////////////////////

            var salesQun = [];

            var salesAmount = [];

            var sameDate = [];

            var sameDateSD = [];

            var salesId = [];

            var salesVchNo = [];

            var salesUserId = [];
           
          for (var i = 0; i < sales.length; i++) {

            for (var j = 0; j < all_days.length; j++) {

              out_date = all_days[j].split("-");

              in_date = sales[i].datetime.split("-");

                gateout_date = new Date(out_date[1],out_date[0],out_date[2]).getTime()
                gatein_date = new Date(in_date[1],in_date[0],in_date[2]).getTime()          

                if(gateout_date == gatein_date ){    

                  sameDate.push(sales[i].datetime);

                    sameDateSD.push(sales[i].datetime + 'S');

                      salesQun.push(sales[i].Quantity);

                        salesUserId.push(sales[i].userId);

                      salesVchNo.push(sales[i].voucherNo);

                    salesId.push(sales[i]._id);     

                  salesAmount.push(sales[i].TotalAmntData);
                           
                } else {  


                }         

            }

          }  


    /////////////////// End Get Individual Sales Quantity, Amount, Date and ////////////////////////    

    //////////////////////// Get salesReturn quantity, amount, Date ///////////////////////////////
          
            var salesReQun = [];

            var salesReAmount = [];

            var salesReDate = [];

            var salesRedateSR = [];

            var salesReId = [];

            var salesReVchNo = [];

            var salesReUserId = [];
           
          for (var i = 0; i < salesReturn.length; i++) {

            for (var j = 0; j < all_days.length; j++) {

              out_date = all_days[j].split("-");

              in_date = salesReturn[i].datetime.split("-");

                gateout_date = new Date(out_date[1],out_date[0],out_date[2]).getTime()
                gatein_date = new Date(in_date[1],in_date[0],in_date[2]).getTime()          

                  if(gateout_date == gatein_date ){    

                    salesReDate.push(salesReturn[i].datetime);

                      salesRedateSR.push(salesReturn[i].datetime + 'SR');

                        salesReQun.push(salesReturn[i].Quantity);

                          salesReUserId.push(salesReturn[i].userId);                   

                        salesReVchNo.push(salesReturn[i].voucherNo);                   

                      salesReId.push(salesReturn[i]._id);     

                    salesReAmount.push(salesReturn[i].TotalAmntData);
                               
                  } else {  


                  }         

            }

          }  
        


    //////////////////////// End Get salesReturn quantity, amount, Date ///////////////////////////////
  
    //////////////////////// purchase calculation ////////////////////////////        

            var purQun = [];

            var purAmount = [];

            var purId = [];

            var purdate = [];

            var purVchNo = [];

            var purSupId = [];
           
          for (var i = 0; i < purchase.length; i++) {

            for (var j = 0; j < all_days.length; j++) {

              out_date = all_days[j].split("-");

              in_date = purchase[i].datetime.split("-");

                gateout_date = new Date(out_date[1],out_date[0],out_date[2]).getTime()

                gatein_date = new Date(in_date[1],in_date[0],in_date[2]).getTime()          

                  if(gateout_date == gatein_date ){   

                    purdate.push(purchase[i].datetime); 

                      purId.push(purchase[i]._id);

                        purQun.push(purchase[i].Quantity); 

                        purSupId.push(purchase[i].supId);

                      purVchNo.push(purchase[i].voucherNo);

                    purAmount.push(purchase[i].TotalAmntData);
                                 
                  } else {  


                  }         

            }

          }



    ///////////////////// End Purchase calculation ////////////////////////////

   ///////////////////// start Purchase Return calcultion, Get Individual Month Quantity And Amount And Date ////////////////////
      
            var purRetQun = [];

            var purRetAmount = [];

            var purRetDatePR = [];

            var purReDate = [];

            var purReId = [];

            var purReVchNo = [];

            var purReSupId = [];
           
          for (var i = 0; i < purReturn.length; i++) {

            for (var j = 0; j < all_days.length; j++) {

              out_date = all_days[j].split("-");

              in_date = purReturn[i].datetime.split("-");

                gateout_date = new Date(out_date[1],out_date[0],out_date[2]).getTime()
                gatein_date = new Date(in_date[1],in_date[0],in_date[2]).getTime()          

                  if(gateout_date == gatein_date ){    

                    purRetDatePR.push(purReturn[i].datetime + 'PR');
 
                      purRetQun.push(purReturn[i].Quantity);

                        purReDate.push(purReturn[i].datetime); 

                          purReSupId.push(purReturn[i].supId); 

                        purReVchNo.push(purReturn[i].voucherNo);

                      purReId.push(purReturn[i]._id);     

                    purRetAmount.push(purReturn[i].TotalAmntData);
                           
                } else {  


                }         

            }

          } 
            


    /////////////////////// End Prucahse Return calculation /////////////////////////////////

     /////////////////////// Get All purchase last main date ////////////////////////////////////
            
            var purdates = [];

          for (var k = 0; k < purdate.length; k++) {

            purdates.push(purdate[k].substring(8, 11));

          }


    ///////////////////////////////////////////////////////////////////////////////////////

    //////////////////////// Get All purchase Return last main Date /////////////////////////

              var purRedates = [];

          for (var k = 0; k < purRetDatePR.length; k++) {

            purRedates.push(purRetDatePR[k].substring(8, 12));

          }

          

    //////////////////////// End Get All purchase Return last main Date /////////////////////////


  
    /////////////////// get all sales last main date //////////////////////////////////////
            
            var salesdates = [];

          for (var t = 0; t < sameDateSD.length; t++) {

            salesdates.push(sameDateSD[t].substring(8, 12));

          }
            
    /////////////////////// End sales last main date //////////////////////////////////////

    /////////////////////// Get Sales Return Last Main Date ///////////////////////////////

            var salesReDatesCut = [];

          for (var t = 0; t < salesRedateSR.length; t++) {

            salesReDatesCut.push(salesRedateSR[t].substring(8, 12));

          }
            

    /////////////////////// End Sales Return Last Main Date ///////////////////////////////

    ///////////////////////////////////////////////////////////////////////////////////////


    ///////////////////////// Add purchasse and sales and salesReturn and purhasreturn ////////////////////////////

            var finalDate = purdate.concat(purRetDatePR).sort();

            var addDate = sameDateSD.concat(salesRedateSR).sort();

            var endDates = finalDate.concat(addDate).sort();

           
    /////////////////////////////////////////////////////////////////////////////////////


            var mainDateOne = purdate.concat(purReDate).sort();

            var mainDate = sameDate.concat(salesReDate).sort(); 
           
            var mainDateAll = mainDateOne.concat(mainDate).sort();
 

    //////////////////////////// last 3 digit of full dates //////////////////////////////

            var cutDate = purdates.concat(purRedates).sort();

            var finalCutDate = salesdates.concat(salesReDatesCut).sort();

            var cutDateAll = cutDate.concat(finalCutDate).sort();  

              
    //////////////////////////////////////////////////////////////////////////////////////        

        for (var z = 0; z < endDates.length; z++) { 

          $('#monthTable tbody').append('<tr class="sameid'+z+'"><td style="display:none"><input id=mongoid'+[z]+' value='+ endDates[z] +' ></td><td><span id=monw'+[z]+' > '+ mainDateAll[z] + '</span></td><td style="display:none"><input id=mon'+[z]+' value='+ cutDateAll[z] +' ></td></tr>');

            $('#MyTableSal tbody').append('<tr class="sameid'+z+'"><td><span class="salQunTot" id="salesQan'+[z]+'"></span></td><td><span class="salAmoTot" id="salesAmo'+[z]+'"></span></td></tr>');

              $('#MyTablePur tbody').append('<tr class="sameid'+z+'"><td><span class="purQunTot" id="purQan'+[z]+'"></span></td><td><span class="purAmoTot" id="purAmo'+[z]+'"></span></td></tr>');

                $('#MyTableClosing tbody').append('<tr class="sameid'+z+'"><td><span class="cloQun" id="cloQan'+[z]+'"></span></td><td><span class="cloAmot" id="colAmo'+[z]+'"></span></td></tr>');

              $('#vchTable tbody').append('<tr class="sameid'+z+'"><td><span class="vchClass" id="vch'+[z]+'"></span></td></tr>');
  
              $('#vchNumber tbody').append('<tr class="sameid'+z+'"><td><span class="vchClass" id="vchNo'+[z]+'"></span></td></tr>');

            $('#partucular tbody').append('<tr class="sameid'+z+'"><td><span class="per" id="per'+[z]+'"></span></td></tr>');

          $('#partiucular tbody').append('<tr class="sameid'+z+'"><td><span class="par" id="par'+[z]+'"></span></td></tr>');
          
        }  

    ////////////// Get Indexing ///////////////

          var index = [];

          var indexPurReturn = [];

          var indexSal = [];

          var indexSalReturn = [];                

        for(var x = 0; x < cutDateAll.length; x++) {

          var dddd = cutDateAll[x].substring(2);
            
            if(dddd == 'S') {

              indexSal.push(x);

            } else if (dddd == 'PR') {
              
              indexPurReturn.push(x);

            } else if (dddd == 'SR') {
              
              indexSalReturn.push(x);

            } else {
              
              index.push(x);

            }   
              
        }

      //////////////// Asign Voucher Type In Tables ///////////////////
          
        for(var x = 0; x < cutDateAll.length; x++) {

          var dddd = cutDateAll[x].substring(2);
            
            if(dddd == 'S') {            

              $("#vch" + x).text("Sales");

            } else if (dddd == 'PR') {

              $("#vch" + x).text("Debit Note");               
             
            } else if (dddd == 'SR') {
               
              $("#vch" + x).text("Credit Note");          

            } else {
              
              $("#vch" + x).text("Purchase");

            }   
              
        }
      
      //////////////// End Asign Voucher Type In Tables ////////////////
    

      ///// Put purchase Return quntityt and amount in inward table //////////

        for(var m = 0; m < indexPurReturn.length; m++) {

          $("#purQan" + indexPurReturn[m]).text((-purRetQun[m]));

            $("#purAmo" + indexPurReturn[m]).text((-purRetAmount[m]));

            $("#vchNo" + indexPurReturn[m]).text((purReVchNo[m]));

          $("#per" + indexPurReturn[m]).text((purReSupId[m]));            

        }

      ///// End purchase Return quntityt and amount in inward table //////////
   
      ///// put Sales quntityt and amount in Outwards table //////////////////
 
        for(var m = 0; m < indexSal.length; m++) {

          $("#salesQan"+ indexSal[m]).text(salesQun[m]);

            $("#salesAmo"+ indexSal[m]).text(salesAmount[m]);

            $("#vchNo" + indexSal[m]).text((salesVchNo[m]));  

          $("#per" + indexSal[m]).text((salesUserId[m]));                                     

        }

      ////////////////////////////////////////////////////////////////////////

      ///// put Sales return quntityt and amount in Outwards table //////////////////

        for(var m = 0; m < indexSalReturn.length; m++) {

          $("#salesQan"+ indexSalReturn[m]).text(-salesReQun[m]);

            $("#salesAmo"+ indexSalReturn[m]).text(-salesReAmount[m]);

            $("#vchNo" + indexSalReturn[m]).text((salesReVchNo[m]));

          $("#per" + indexSalReturn[m]).text((salesReUserId[m]));                                     


        }

      /////////////////////////////////////////////////////////////////////////

       ///// Put purchase quntityt and amount in inward table ///////////
        
        for(var m = 0; m < index.length; m++) {

          $("#purQan" + index[m]).text(purQun[m]);

            $("#purAmo" + index[m]).text(purAmount[m]); 

            $("#vchNo" + index[m]).text((purVchNo[m]));

          $("#per" + index[m]).text((purSupId[m]));                                     

        }

      ///// End purchase quntityt and amount in inward table /////////////////

      $('#monthTable tbody').append('<tr class="total" id="monthTable"><td><span>Grand Total</span></td></tr>');
      

      $('#MyTablePur tbody').append('<tr class="total"><td class="total_PurQan"></td><td class="total_PurAmo"></td></tr>');

      $('.total_PurQan').each(function() {

        var sum = 0;

          $(this).parents('table').find('.purQunTot').each(function() {
            var floted = parseFloat($(this).text());
            if (!isNaN(floted)) sum += floted;
          });

        $(this).html(sum);

      });

      $('.total_PurAmo').each(function() {

        var summ = 0;

          $(this).parents('table').find('.purAmoTot').each(function() {
            var floted = parseFloat($(this).text());
            if (!isNaN(floted)) summ += floted;
          });

          var roundinwords = summ.toFixed(2);
          
        $(this).html(roundinwords);

      });


      $('#MyTableSal tbody').append('<tr class="total"><td class="total_SalQan"></td><td class="total_SalAmo"></td></tr>');

      $('.total_SalQan').each(function() {
          var sum = 0;
          $(this).parents('table').find('.salQunTot').each(function() {
            var floted = parseFloat($(this).text());
            if (!isNaN(floted)) sum += floted;
          });

          $(this).html(sum);

      });

      $('.total_SalAmo').each(function() {

        var summ = 0;

        $(this).parents('table').find('.salAmoTot').each(function() {
          var floted = parseFloat($(this).text());
            if (!isNaN(floted)) summ += floted;
        });

        var roundinwords = summ.toFixed(2);
           
        $(this).html(roundinwords);

      });

      for (var i = 0; i < mainDateAll.length; i++) {

        var OpeningBalance = $("#Openning_Balance").val();

        var Openning_Amount = $("#Openning_Amount").val();

        var purClosing = $("#purQan" + i).text();

          if (purClosing == "") {

            var salesQuantity = $("#salesQan" + i).text();

            var salesAmount = $("#salesAmo" + i).text();

              if (salesQuantity < 0) {
                  
                var salesQunMinus = Number(OpeningBalance) - Number(salesQuantity);

                var salesAmoMinus = Number(Openning_Amount) - Number(salesAmount);

                var finalSalesAmount = salesAmoMinus.toFixed(2);

                  $("#cloQan" + i).text(salesQunMinus);
                
                  $("#colAmo" + i).text(finalSalesAmount);

                  $("#Openning_Balance").val(salesQunMinus);

                  $("#Openning_Amount").val(finalSalesAmount);

              } else {
    
                var salesQunMinus = Number(OpeningBalance) - Number(salesQuantity);

                var salesAmoMinus = Number(Openning_Amount) - Number(salesAmount);

                var finalSalesAmount = salesAmoMinus.toFixed(2);

                  $("#cloQan" + i).text(salesQunMinus);
                
                  $("#colAmo" + i).text(finalSalesAmount);

                  $("#Openning_Balance").val(salesQunMinus);

                  $("#Openning_Amount").val(finalSalesAmount);

              }

          } else {

            var purQuantity = $("#purQan" + i).text();

            var purAmount = $("#purAmo" + i).text();  

              var purQunPlus = Number(OpeningBalance) + Number(purQuantity);

              var purAmoPlus = Number(Openning_Amount) + Number(purAmount); 

                var finalPurAmount = purAmoPlus.toFixed(2);   
              
                  $("#cloQan" + i).text(purQunPlus);
               
                  $("#colAmo" + i).text(finalPurAmount);

                  $("#Openning_Balance").val(purQunPlus);

                  $("#Openning_Amount").val(finalPurAmount);

          }

      } 

      $('#MyTableClosing tbody').append('<tr class="total"><td class="total_ColQan"></td><td class="total_ColAmo"></td></tr>');

        var purchaseQuntity = $(".total_PurQan").text();

        var purchaseAmount = $(".total_PurAmo").text();

          var salesQuntity = $(".total_SalQan").text();

          var salesAmount = $(".total_SalAmo").text();

            var finalCloQuantiy = purchaseQuntity - salesQuntity;

            var finalCloAmount = Number(purchaseAmount) - Number(salesAmount);

              $(".total_ColQan").text(finalCloQuantiy);

              $(".total_ColAmo").text(finalCloAmount);

      $('#vchTable tbody').append('<tr class="total"><td class="vchClass"></td></tr>');

      $('#vchNumber tbody').append('<tr class="total"><td class="vchClass"></td></tr>');

        // Code For Suplier name and User name To Show in Table 

        var user = JSON.parse(("<%= JSON.stringify(datauser) %>").replace(/&quot;/g,'"'));

        var suplier = JSON.parse(("<%= JSON.stringify(loadsupplierdata) %>").replace(/&quot;/g,'"'));
      
          var userId1 = [];

        var table = document.getElementById("partucular"); 

        var tbodyRowCount = table.tBodies[0].rows.length;
              
        for (var i = 0; i < tbodyRowCount; i++) {
          
          $('#per'+[i]).each(function() {
           
            userId1.push($(this).html());
  
          });
          
        }   

          var alldata = user.concat(suplier);

        for (var i = 0; i < userId1.length; i++) {

          for (var j = 0; j < alldata.length; j++) {

            if(userId1[i] == alldata[j]._id ){    

              if (alldata[j].firstName == undefined ) {
                  
                $("#par" + [i]).text(alldata[j].supName);
               
              } else {
 
                $("#par" + [i]).text(alldata[j].firstName);                      

              }
                
            } else {  


            }         

          }

        } 
                    
  </script>

  <!-- Script For hover colour change -->

    <script>

      $(document).ready(function(){

        $("tr").hover(function(){
              
          var trClass = $(this).attr('class');
         
          var elms = document.getElementsByClassName(trClass);
      
          var n = elms.length;

          function changeColor(color) {

            for(var i = 0; i < n; i ++) {

              elms[i].style.backgroundColor = color;

            }

          }

          function changeFamily(family) {

            for(var i = 0; i < n; i ++) {

              elms[i].style.fontFamily = family;

            }

          }

          for(var i = 0; i < n; i ++) {

            elms[i].onmouseover = function() {
                changeColor("LightSteelBlue");
                changeFamily("Arial Black");

            };


              elms[i].onmouseout = function() {

                changeColor("white");
                changeFamily("Open Sans");

              };
        
            }  
               
          });

        });

    </script>  

  <!-- End Script For hover colour change -->
 
  <style type="text/css">

    .table td {

      padding: 5px;

    }

    a.newlogocss{
        margin-left: 20px;
    }

    /* .table td {
    
      font-family: Arial Black;
      font-family: Open Sans;

    }*/

    .b {
      display: none;
    }

    .totalColumn {
      border-style: double;
    }

    .table td {
      color: black;
      height: 20px;
    }

    .table th {
       color: black;
    }

    .portlet.blue {
      background-color: #f0f0f5 !important;
    }

    table, th, td {
      border: 1px solid black;
    }

    a.newlogocss{
        margin-left: 20px;
    }

    .navbar-brand{
        padding: 15px !important;
    }
    
    .dropdown.open .dropdown-toggle{
        background-color: #fff !important;
    }

    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
        outline: thin dotted;
        outline: none;
        outline-offset: -2px;
    }
    
    .navbar-inverse .navbar-toggle {
        border-color:  #ffffff;
    }

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

       color: #999;
    }

    .nav .dropdown-toggle .caret {
        margin-top: 6px;
        border-top-color: #020202 !important;
        border-bottom-color: #121213 !important;
    }

    .modal {
        background-color: rgba(92, 92, 92, 0.03);
        border: 0px;
    }

    .modal-body {
        padding: 0px; 
        overflow-y: inherit; 
    }
    
    @media (min-width: 414px){
      .navbar-brand{
        font-size: 25px !important;
      }
    }

    @media (min-width: 320px) and (max-width: 320px){
      .navbar-brand{
        font-size: 15px !important;
        padding: 0px;
        margin: 14px 0px 0px 25px !important;
    }

  </style>
 
</body>

</html>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
    <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 

    <style type="text/css">

      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
        height: 30px;
        width: 35%;
      }

      textarea{
             width: 80%;
       
      }

      .modal-backdrop, .modal-backdrop.fade.in {
          opacity: 0;
          filter: alpha(opacity=80);
      }

    </style>

<%- include partials/footer_userdashboard %>


                                      

                               
                                        