    <%- include partials/header %>
   <style type="text/css">
    .orign-worldex{
        text-align: justify;
    }
    .orign {
    text-align: left;
   
}
  
</style>
 <div id="hpage">    

              <br>
            
          <section id="about-worldex">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading orign" style="text-align: center;">
                    <h2>4 GPs</h2>
                    

                     </div>
                      <div class="col-md-12">
                          <div class="panel">
                           
                            <div class="panel-body orign">
                             <div class="about-item">
                              <p class="orign-worldex">Fong Organic Herb is a U.S based company, cultivates the natural herbs in her certified organic farmlands and manufactures her herbal supplements with the advance science technology. The company becomes the technological front-runner in promoting full range of Chinese herbal supplements with the highest quality standard in the industry. Chinese herbal supplements have become one of the premier alternative solutions to prevent and maintain our healthy status worldwide in 21 century. </p>
                                <br>
                              <!-- <h4 class="orign-worldex">Yin and Yang</h4> -->
                                <p class="orign-worldex">The company presently provides over 500 of certified organic Chinese single or combo herbal formulas accredited by IOAS, USDA, EU and BCS to our customers. In addition, our professional management team focuses strictly on the R&D and monitors our manufacturing processes which are in compliance with 4-GP standards. </p>
                                <div class="col-md-6">
                                     <ul>
                                      
                                      <a href="#"><li>oGAP-organic Good Agricultural Practices</a></li>

                                      <a href="#"><li>tGPP-traditional Good Processing Pactices</a></li>

                                      <a href="#"><li>cGMP-current Good Manufactory Practices</a></li>

                                       <a href="#"><li>iGLP-international Good Laboratory Practices</a></li>

                                     </ul>
                                </div>
                                <div class="col-md-6">
                                     <a href="#">
                                     <img src="/assets_home/img/USDA logo eng.PNG"  width="100px" height="85">
                                     </a>
                        
                                      <a href="#">
                                      <img src="/assets_home/img/EU logo eng.PNG"  width="100px" height="85">
                                      </a>

                                      <a href="#">
                                      <img src="/assets_home/img/BCS logo eng.PNG"  width="100px" height="85">
                                      </a>
                         
                                       <a href="#">
                                       <img src="/assets_home/img/ioas.png"  width="100px" height="85">
                                       </a>
                           
                                </div>
                              
                                </div>
                              </div>
                            </div>
                        </div>
                    
                    
                  </div>
             

               
            </div>
        </section>

       
  </div>    
               




 
  
 
    <%- include partials/footer %>
