    <%- include partials/header %>

        <!--
        End Navigation
        ==================================== -->
             <span id="grandtotalprice" style="display: none;"></span>
     <span id="finalPrice" style="display: none;"></span>
     <span id="finalPricess" style="display: none;"></span>

			<div id="primary" class="content-area">
				<main id="main" class="site-main">
					<div class="container">
                         <% for (var i = 0; i < loadproductdata.length; i++) if(loadproductdata[i]._id == productid &&  loadproductdata[i].productStatus == "1") { %>

                         <input type="hidden" value="<%= productid %>" id="prodId" name="prodId">
                         <input type="hidden" value="<%= loadproductdata[i].productquantity %>" id="prodStock" name="prodStock">


                         
						<div class="shop-bc bc_type">
							<ol class="breadcrumb">
								<li><a href="/">Home</a></li>
								<li class="active">Shop</li>
							</ol>
						</div>
						<div class="row">
                                  <input type="hidden" value="/uploads/product/<%= loadproductdata[i].myimage.originalname  %>" id="prodImg" name="prodImg">
							<div class="col-xs-12 col-sm-5">
								<div class="product-images-wrapper">
									<!-- product-images-gallery -->
									<div class="flex-with-thumb">
										<!-- Tab panes -->
										<ul class="slides">
											<li>
                                                    <a href="/uploads/product/<%= loadproductdata[i].myimage.originalname  %>" class="image-popup-zoomin" data-effect="mfp-zoom-in">
													<img src="/uploads/product/<%= loadproductdata[i].myimage.originalname  %>" alt="">
												</a>
											
											</li>
										</ul>
										<!-- // Tab panes -->
									</div>
									<!-- // product-images-gallery -->
								</div>

								<div class="slide-thumbs">
									<!-- productThumbnails -->
									<ul class="slides productThumbnails">
										
										<li>
											
											<a href="#" class="url"><img src="/uploads/product/<%= loadproductdata[i].myimage.originalname  %>" alt=""></a>
											
										</li>
									
									</ul>
									<!-- // productThumbnails -->
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-7">
								<div class="product-_-summary">
									<h2 id="productname"><%= loadproductdata[i].partName  %></h2>
									<div class="product-value">
										<del><small class="regular-price"><i class="fa fa-inr" aria-hidden="true"></i> <%= loadproductdata[i].mrp  %></small></del>
										<i class="fa fa-inr" aria-hidden="true"></i><span class="current-price" id="productprice"><%= loadproductdata[i].price  %></span>
									</div>
									<div class="product-rating">
										<% if(loadproductdata[i].productrating == "1") { %>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<% } else if(loadproductdata[i].productrating == "2") { %>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<% } else if(loadproductdata[i].productrating == "3"){ %>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
									    <% } else if(loadproductdata[i].productrating == "4"){ %>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									    <% } else { %>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									    <% } %>
									</div>
									<p>Availability:
										<% if(loadproductdata[i].productquantity == "") { %>
								     <b>Out of Stock</b>
								       <% } else { %>
								      <b>In Stock</b> 
								       <% }	%>
									</p>
									<div class="short-description">
										<p><%= loadproductdata[i].productdescr  %></p>    
									</div>
									<script>
										function increment(myInput) {
											myInput.value = (+myInput.value + 1) || 0;
										}
										function decrement(myInput) {
										  if (myInput.value >=2)
											myInput.value = (myInput.value - 1) || 0;
										}
									</script>
									<div class="product-quantities">
										<div class="quantity">
											<span class="qty-control minus" onclick="decrement(this.parentNode.getElementsByTagName('input')[0]);">-</span>
											<input name="qty" id="qty" class="qty-field" value="1" type="text">
											<span class="qty-control plus" onclick="increment(this.parentNode.getElementsByTagName('input')[0]);">+</span>
										</div>
										<div class="btn-set">

											<button class="btn btn-ash-border" id="btnAdd" onclick="addToCart()">Add to Cart</button>

											<a href="#" class="btn btn-ash-border btn-icon"><i class="fa fa-heart-o"></i> Add to Wishlist</a>
											<a href="#" class="enable_-_compare btn btn-ash-border btn-icon"><i class="fa fa-retweet"></i> Compare</a>
										</div>
									</div>

									<div class="product_meta">
										<span class="sku_wrapper">SKU: 
											<span class="sku"><%= loadproductdata[i].code  %></span>
										</span>
										<span class="posted_in">Categories: 
											
											<a href="#" id="productcategory"><%= loadproductdata[i].procatName  %></a>, 
										    <a href="#" id="productsubcategory"><%= loadproductdata[i].prosubcatName  %></a>,
										    <a href="#" id="productsubcategory"><%= loadproductdata[i].prosecsubcatName  %></a> 
											
										</span>
									</div>

									<div class="social-share-icons">
										<h4>Share This Product</h4>
										<span><i class="fa fa-share"></i></span>
										<ul class="list-inline">
											<li><a href="#" class="socialShare" data-type="facebook" data-media="http://this_image" data-url="http://this_link" data-description="" data-title=""><i class="fa fa-facebook"></i></a></li>
											<li><a href="#" class="socialShare" data-type="twitter" data-media="http://this_image" data-url="http://this_link" data-description="" data-title=""><i class="fa fa-twitter"></i></a></li>
											<li><a href="#" class="socialShare" data-type="googleplus" data-media="http://this_image" data-url="http://this_link" data-description="" data-title=""><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#" class="socialShare" data-type="linkedin" data-media="http://this_image" data-url="http://this_link" data-description="" data-title=""><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#" class="socialShare" data-type="pinterest" data-media="http://this_image" data-url="http://this_link" data-description="" data-title=""><i class="fa fa-pinterest"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- product-_-overview -->
							<div class="col-xs-12 col-sm-12">
								<div class="product-_-overview">
									<!-- Nav tabs -->
									<ul class="overview-tab">
										<li class="active"><a href="#description" data-toggle="tab">Description</a></li>
										<li><a href="#add-info" data-toggle="tab">Additional Information</a></li>
										<li><a href="#reviews" data-toggle="tab">Reviews (2)</a></li>
									</ul>
									<!-- Tab panes -->
									<div class="tab-content">
										<div class="tab-pane active" id="description">
											<p><%= loadproductdata[i].productdescr  %></p>
											
										</div>

										<div class="tab-pane" id="add-info">
											<table class="shop_attributes">
												<tbody>
													<!-- <tr>
														<% for (var j = 0; j < loadsizedata.length; j++) if(loadsizedata[j]._id == loadproductdata[i].productsize) { %>
														<th>Size</th>
														<td><span><%= loadsizedata[j].sizeName  %></span></td>
														<% } %>
													</tr>
													<tr>
														
														<th>Colour</th>
														<% for (var j = 0; j < loadcolordata.length; j++) if(loadcolordata[j]._id == loadproductdata[i].productcolor) { %>
														<td><span><%= loadcolordata[j].colorName  %></span></td>
														<% } %>
													</tr> -->
													 <tr>
														<th>Brand</th>
														<td><span><%= loadproductdata[i].brand  %></span></td>
													</tr> 
													<tr>
														<th>Tax</th>
														<td><span><%= loadproductdata[i].tax  %></span></td>
													</tr> 
													<tr>
														<th>Stock Quantity</th>
														<td><span><%= loadproductdata[i].stkQty  %></span></td>
													</tr> 
												</tbody>
											</table>
										</div>

			<div class="tab-pane" id="reviews">
				<div class="product-review">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<h3>2 reviews for <%= loadproductdata[i].partName  %></h3>
							<div class="reviewlist">
								<!-- reviewItem -->
								<% for (var t = 0; t < loadreviewdata.length; t++) if(loadreviewdata[t].prodId == loadproductdata[i]._id) { %>
								<div class="reviewItem">
									<div class="media">
										<div class="media-left">
											<img class="media-object" src="http://placehold.it/140x140" alt="">
										</div>
										<div class="media-body">
											<div class="revireRating pull-right">
											<% if(loadreviewdata[t].rating == "5")  { %>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											<% } else if(loadreviewdata[t].rating == "4") { %>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											<% } else if(loadreviewdata[t].rating == "3") { %>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											<% } else if(loadreviewdata[t].rating == "2") { %>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											<% } else if(loadreviewdata[t].rating == "1") { %>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											<% } %>		
											</div>
											<h4 class="media-heading"><%= loadreviewdata[t].name %></h4>
											<span class="date"><%= loadreviewdata[t].datetime %></span>
											<p><%= loadreviewdata[t].comment %></p>
										</div>
									</div>
								</div>
								<!-- // reviewItem -->
								<% } %>
								                                        
							</div>
						</div>
<div class="col-xs-12 col-sm-6">
<!-- reviewForm -->
<div class="review-from-box">
	

   <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-ash-border" style="display: block;margin: 0 auto;">Add Review</button>

	
</div>
<!-- // reviewForm -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- // product-_-overview -->
							<div class="col-xs-12 col-sm-12">
								<!-- related-products -->
								<div class="related-products">
									<div class="related-product-carousel control-two">
										<% for (var d = 0; d < loadproductdata.length; d++) if(loadproductdata[d].productStatus == "1"){ %>
										<div class="related-single">
											<div class="product-single">
												<div class="product-image">
													
													<img src="/uploads/product/<%= loadproductdata[d].myimage.originalname %>" alt="" class="img-responsive">
												</div>
												<div class="product-title">
													<div class="title-wrap">
														<span class="quick-view">
															<a href="productshop?id=<%= loadproductdata[d]._id %>" class="ajax-view">Quick View</a>
														</span>
													</div>
												</div>
											</div>
											<div class="relatedSingleDesc">
												<div class="pdSingleMeta">
													<h4><a href="productshop?id=<%= loadproductdata[d]._id %>"><%= loadproductdata[d].partName %></a></h4>
												</div>
												<div class="product-value">
													<del><small class="regular-price"><i class="fa fa-inr" aria-hidden="true"></i> <%= loadproductdata[d].mrp %></small></del>
													<span class="current-price"><i class="fa fa-inr" aria-hidden="true"></i> <%= loadproductdata[d].price %></span>
												</div>
												<div class="pdSingleBtns">
													<a href="#"><i class="fa fa-heart-o"></i></a>
													<a href="#" class="enable_-_compare"><i class="fa fa-retweet"></i></a>
													<a href="#"><i class="fa fa-shopping-cart"></i></a>
												</div>
											</div>
										</div>
										<% } %>
										
									</div>  <!-- related-product-carousel -->
								</div>  <!-- // related-products -->
							</div>  <!-- // col-xs-12 col-sm-12 -->
						</div>  <!-- // row -->
                        <% } %>
					</div>  <!-- // container -->
				</main>
			</div>
			
		  <%- include partials/footer %>

