<%- include partials/header_userdashboard %>
  <div class="row-fluid">
    <div class="row" style="background: #f0f0f5;">
      <div class="row-fluid">
        <div class="container-fluid" style="background-color: #f0f0f5">

          <div class="span2 sidebar-content ">

            <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">

              <li ng-class="{active: activeTab === 'home'}">
                  <a href="home">
                  <i class="fa fa-home" aria-hidden="true"></i> 
                  Home
                  </a> 
                  <span class="after"></span>                                    
              </li>
                            
              <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

              <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>

              <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                   
              <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>

              <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                
              <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>

                <li ng-class="{active: activeTab === 'product'}" class="active"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 

                  <ul> 

                    <li ng-class="{active: activeTab === 'product'}" class="active"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                               
                    <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list"><i class="fa fa-user"  aria-hidden="true"></i> Manage Part</a></li>
                        
                  </ul>
                
                </li>
                
                <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>

                <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>

                <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>

                <% } %>

                  <% if (user.user_role === 'user') { %>
                     
                <% } %>

                  <% if (user.user_role === 'doctor') { %>
                      
                <% } %>

                <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
            </ul>
                        
          </div>

          <style type="text/css">
              #nav li ul { display: none; list-style:none;}
          </style>

          <script type="text/javascript">

            $("#nav li a").on("click", function (e) {
            
              if ( !$(this).parent().has("ul").length ) { return; }

              e.preventDefault();

              if(!$(this).hasClass("open")) {
                
                  var currentLevel = $(this).closest('ul')
                  $("li ul", currentLevel).slideUp(350);
                  $("li a", currentLevel).removeClass("open");

                  $(this).next("ul").slideDown(350);
                  $(this).addClass("open");
                } else {
                  $(this).removeClass("open");
                  $(this).next("ul").slideUp(350);
                }

            });

          </script>
                    
          <div class="span10" style="height: 800px;">
          <div class="row-fluid">
            <div class="span12">
              <div class="portlet box blue tabbable">
                <div class="portlet-title">
                  <div class="caption">
                    <span class="hidden-480">Stock Qantity</span>
                  </div>
                </div>

                <div class="coupon-accordion">
                                
                

                <div class="panel-collapse collapse" id="collapseOne22">
              
                  <form action="stockqtysearch" method="post">  

                    <span style="color: black;">Start Date&nbsp;<input type="date" name="startDate" size="100" name="sdate"></span>&nbsp;

                    <span style="color: black;">End Date<input type="date" name="endDate" name="edate"></span>

                    <input type="submit" class="btn theme-btn col-md-2" value="Search">

                  </form>

                </div>

          
                <table class="table">
                  <tr>
                    <th style="text-align: center;" colspan="5"><span style="color: black; font-size: 14px"><%= namee %>&nbsp;<%= partid %></span><span><button type="button" class="btn btn-primary" id="showcoupon"  id="promo" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne22" style="float: right;">Search</button><br>Bagap AutoMobile<br><%= startDate %> to <%= endDate %></span></th>
                  </tr>
                  <tr>
                    <th>Particulars</th>                   
                    <th>Inwards</th>
                    <th>Outwards</th>
                    <th>Closing Balance</th>
                  </tr>
                  <tr>

                    <td>
                      <table id="myTable" style="width: 100%;">
                        
                        <thead>

                          <tr>

                            <th>Date</th>

                          </tr>

                        </thead>

                        <tbody>

                         

                        </tbody>

                      </table>
                    </td> 
                
                    <td>
                      <table style="width: 100%;">
                        <tr>
                          <th>Date</th>
                          <th>Quantity</th>
                          <th>Value</th>
                        </tr>

                        <% for (var q = 0; q < datapurchase.length; q++) if(datapurchase[q].part == partid ) { %> 

                          <tr>
                            <td><span id="myText<%= q %>"></span></td>
                            <td><%= datapurchase[q].Quantity %></td>
                            <td><%= datapurchase[q].TotalAmntData %></td>
                          </tr>

                        <% } %>

                      </table>
                    </td>

                    <td>
                      <table style="width: 100%;">
                        <tr>
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>Value</th>                           
                        </tr>
                        <% for (var q = 0; q < datasales.length; q++) if(datasales[q].part == partid ) { %>                           
                          <tr>
                              <td><span id="mysaleText<%= q %>"></span></td>
                              <td><%= datasales[q].Quantity %></td>
                              <td><%= datasales[q].TotalAmntData %></td>                          
                          </tr>

                        <% } %>
                      </table>
                    </td>

                    <td>
                      <table style="width: 100%;">
                        <tr>
                            <th>Quantity</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>name2</td>
                            <td>price2</td>
                        </tr>
                        <tr>
                            <td>name3</td>
                            <td>price3</td>
                        </tr>
                      </table>
                    </td>

                  </tr>
                </table>
                <table class="table">
                    <tr>
                        <td>
                          <table style="width: 100%;">

                            <tr>
                                <th>Quantity</th>
                                <th>Value</th>
                            </tr>

                            <% for (var j = 0; j < salesreturndata.length; j++) if(salesreturndata[j].part == partid ) { %>

                            <tr>
                                <td><%= salesreturndata[j].Quantity %></td>
                                <td><%= salesreturndata[j].TotalAmntData %></td>
                            </tr>

                            <% } %>

                          </table>
                        </td>
                        <td>
                          <table style="width: 100%;">

                            <tr>
                                <th>Quantity</th>
                                <th>Value</th>
                            </tr>

                            <% for (var k = 0; k < purchasereturndata.length; k++) if(purchasereturndata[k].part == partid ) { %>

                            <tr>
                                <td><%= purchasereturndata[k].Quantity %></td>
                                <td><%= purchasereturndata[k].TotalAmntData %></td>
                            </tr>

                            <% } %>

                          </table>
                        </td>
                    </tr>
                </table>


  <!---------------------Purchase Date convert Into dd-mm-yyyy Formate---------------------------------------->
                      
                    <% for (var q = 0; q < datapurchase.length; q++) if(datapurchase[q].part == partid ) { %>    

                    <% 

                        var datedata = datapurchase[q].datetime

                        var finalvals = JSON.stringify(datapurchase[q].datetime)

                        var abc = q;
                       
                    %>

                    <script type="text/javascript">

                      var mn = "<%= abc %>";
                      var totallength = "<%= finalvals %>";
                      var abbd = totallength.replace(/&quot;/g,'"');
                      var datatata = JSON.parse(abbd);

                      var date = datatata;
                       
                      var newdate = date.split("-").reverse().join("-");  
          
                        $('#myText' + mn).text(newdate);
                
                    </script>

                  <% } %>


<!----------------------------- Sales Date convert Into dd-mm-yyyy Formate----------------------->

                   <% for (var q = 0; q < datasales.length; q++) if(datasales[q].part == partid ) { %>    

                    <% 

                        var datedata = datasales[q].datetime

                        var finalvals = JSON.stringify(datasales[q].datetime)

                        var abc = q;
                       
                    %>


                    <script type="text/javascript">

                      var mn = "<%= abc %>";
                      var totallength = "<%= finalvals %>";
                      var abbd = totallength.replace(/&quot;/g,'"');
                      var datatata = JSON.parse(abbd);

                      var date = datatata;
                       
                      var newdate = date.split("-").reverse().join("-");  
          
                        $('#mysaleText' + mn).text(newdate);
                
                    </script>

                  <% } %>

 <!-----------------------------------  Particluar Date ------------------------------------->

                  <% 
                    
                    var firstdate = JSON.stringify(startDate)

                    var lastdate = JSON.stringify(endDate)
                       
                  %>

                  <script type="text/javascript">
                    
                    var dateone = "<%= firstdate %>";

                    var datetwo = "<%= lastdate %>";

                    var finaldate = dateone.replace(/&quot;/g,'"');

                    var finalenddate = datetwo.replace(/&quot;/g,'"');

                    var day = 1000*60*60*24;

                    date1 = new Date(finaldate);

                    date2 = new Date(finalenddate);

                    var diff = (date2.getTime()- date1.getTime())/day;

                    for(var i=0; i<=diff; i++) {

                      var xx = date1.getTime()+day*i;

                      var yy = new Date(xx);

                      var datehere = yy.getFullYear() + "-" +(yy.getMonth()+1)+ "-" +yy.getDate();
                       
                      var newdate = datehere.split("-").reverse().join("-"); 

                      var newRow=document.getElementById('myTable').insertRow();

                      newRow.innerHTML="<td>"+newdate+"</td>";

                      
                    }

                  </script>

  <!------------------------------------ Compare Two Dates ------------------------------------->


                <%  var finalvals = JSON.stringify(datapurchase)  %>

                  <script type="text/javascript">

                    var rowResult = "<%= finalvals %>";

                    var newdata = rowResult.replace(/&quot;/g,'"');

                    var obj = JSON.parse(newdata);

                    var length = Object.keys(obj).length; 

                      // var arrdata = [];
                          
                    for (var d = 0; d < obj.length; d++){

                      // arrdata.push(obj[d].datetime);

                      alert(obj[d].datetime);

                    }

                    var dateone = "<%= firstdate %>";

                    var datetwo = "<%= lastdate %>";

                    var finaldate = dateone.replace(/&quot;/g,'"');

                    var finalenddate = datetwo.replace(/&quot;/g,'"');

                    var day = 1000*60*60*24;

                    date1 = new Date(finaldate);

                    date2 = new Date(finalenddate);

                    var diff = (date2.getTime()- date1.getTime())/day;

                     var arr = [];

                    for(var i=0; i<=diff; i++) {

                      var xx = date1.getTime()+day*i;

                      var yy = new Date(xx);

                      arr.push(yy.getFullYear() + "-" +(yy.getMonth()+1)+ "-" +yy.getDate());

                    }

                    for (k = 0; k < arrdata.length; k++) {

                        matchFound = false;

                        for (l = 0; l < arr.length; l++) {

                          alert(arr[l]);

                            if (arrdata[k].datetime == arr[l].datetime){

                                matchFound = true;
                                break;
                            }
                        }

                        if(matchFound){

                           // alert("arrdata[k].datetime " + arrdata[k].datetime);

                        } else {

                            // alert("else ");

                        }
                    }

                    // alert('arrdataone ' + arrdata);

                    // alert("arrtwo " + arr);
                 

                  </script>
                   
              </div>

            </div>

          </div>

          </div>

        </div>

      </div>

    </div>

  </div>
  
  <style type="text/css">

    .table td {
      color: black;
    }

    .table th {
       color: black;
    }

    .portlet.blue {
      background-color: #f0f0f5 !important;
    }

    table, th, td {
      border: 1px solid black;
    }

    a.newlogocss{
        margin-left: 20px;
    }

    .navbar-brand{
        padding: 15px !important;
    }
    
    .dropdown.open .dropdown-toggle{
        background-color: #fff !important;
    }

    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
        outline: thin dotted;
        outline: none;
        outline-offset: -2px;
    }
    
    .navbar-inverse .navbar-toggle {
        border-color:  #ffffff;
    }

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

       color: #999;
    }

    .nav .dropdown-toggle .caret {
        margin-top: 6px;
        border-top-color: #020202 !important;
        border-bottom-color: #121213 !important;
    }

    .modal {
        background-color: rgba(92, 92, 92, 0.03);
        border: 0px;
    }

    .modal-body {
        padding: 0px; 
        overflow-y: inherit; 
    }
    
    @media (min-width: 414px){
      .navbar-brand{
        font-size: 25px !important;
      }
    }

    @media (min-width: 320px) and (max-width: 320px){
      .navbar-brand{
        font-size: 15px !important;
        padding: 0px;
        margin: 14px 0px 0px 25px !important;
    }

  </style>
 
</body>
<!-- END BODY -->
</html>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/4.0.1/moment-range.js"></script>

  <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
    <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 

    <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
        height: 30px;
        width: 35%;
      }

      textarea{
             width: 80%;
       
      }
      .modal-backdrop, .modal-backdrop.fade.in {
          opacity: 0;
          filter: alpha(opacity=80);
      }
    </style>

<%- include partials/footer_userdashboard %>


                                      

                               
                                        