<%- include partials/header_userdashboard %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <div class="row-fluid">
    <div class="row" style="background: #f0f0f5;">
      <div class="row-fluid">
        <div class="container-fluid" style="background-color: #f0f0f5;">

          <div class="span2 sidebar-content ">

            <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">

              <li ng-class="{active: activeTab === 'home'}">
                  <a href="home">
                  <i class="fa fa-home" aria-hidden="true"></i> 
                  Home
                  </a> 
                  <span class="after"></span>                                    
              </li>
                            
              <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

              <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>

              <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                   
              <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>

              <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                
              <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>

                <li ng-class="{active: activeTab === 'product'}" class="active"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 

                  <ul> 

                    <li ng-class="{active: activeTab === 'product'}" class="active"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                               
                    <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list"><i class="fa fa-user"  aria-hidden="true"></i> Manage Part</a></li>
                        
                  </ul>
                
                </li>
                
                <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>

                <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>

                <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>

                <% } %>

                  <% if (user.user_role === 'user') { %>
                     
                <% } %>

                  <% if (user.user_role === 'doctor') { %>
                      
                <% } %>

                <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
            </ul>
                        
          </div>

          <style type="text/css">
              #nav li ul { display: none; list-style:none;}
          </style>

          <script type="text/javascript">

            $("#nav li a").on("click", function (e) {
            
              if ( !$(this).parent().has("ul").length ) { return; }

              e.preventDefault();

              if(!$(this).hasClass("open")) {
                
                  var currentLevel = $(this).closest('ul')
                  $("li ul", currentLevel).slideUp(350);
                  $("li a", currentLevel).removeClass("open");

                  $(this).next("ul").slideDown(350);
                  $(this).addClass("open");
                } else {
                  $(this).removeClass("open");
                  $(this).next("ul").slideUp(350);
                }

            });

          </script>
                    
          <div class="span10" style="height: 800px;">
          <div class="row-fluid">
            <div class="span12">
              <div class="portlet box blue tabbable">
                <div class="portlet-title">
                  <div class="caption">
                    <span class="hidden-480">Part Managment</span>
                  </div>
                </div>

                <div class="portlet-body form">
                  <div class="tabbable portlet-tabs">
                    <div class="tab-content">
                      <div class="tab-pane active" id="portlet_tab1">

                        <form class="form-horizontal" style="overflow: auto;">
                          <div class="form-control">
              
                            <input type="text" id="myInput" onkeyup="myFunction()" class="form-control col-md-8" style="margin: 10px;height: 35px;width: 60%;" placeholder="Search">

                            <i class="fa fa fa-search" aria-hidden="true"></i>
                             &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="managethirdsubcategory" ng-class="{active: activeTab === 'product'}"><input type="button" class="btn theme-btn col-md-2" style="width: 30%;" value="Add Part" /></a>

                             &nbsp;&nbsp;&nbsp;&nbsp;
                            <a data-toggle="modal" data-target="#myModal" href="#myModal"><input type="button" class="btn theme-btn col-md-2" style="width: 30%;" value="Upload Part" /></a>

                          </div>
                          <br>

                          <table datatable="ng" id="myTable" class="table table-striped table-bordered" width="100%" ui-jq="datatable" ui-options="options">
                            <thead>
                              <tr class="header">
                                 <th>No</th>
                                <th onclick="SortTable(0);" href="javascript:;">Part Id <i class="fa fa-fw fa-sort"></i></th>
                                 <th onclick="SortTable(4);" href="javascript:;">Part Name <i class="fa fa-fw fa-sort"></i></th>
                                 <th onclick="SortTable(4);" href="javascript:;">Part Category <i class="fa fa-fw fa-sort"></i></th>
                                <th onclick="SortTable(1);" href="javascript:;"> Price <i class="fa fa-fw fa-sort"></i></th>
                                <th onclick="SortTable(2);" href="javascript:;">Location<i class="fa fa-fw fa-sort"></i></th>
                                <th onclick="SortTable(3);" href="javascript:;"> Description <i class="fa fa-fw fa-sort"></i></th>
                                <th onclick="SortTable(4);" href="javascript:;">Actual Quantity <i class="fa fa-fw fa-sort"></i></th>
                                <% if(user.user_role == "admin"){ %>

                                 <th>Product Status</th>
                                
                                <% } %>
                             
                                <th>Action</th>
                                <th>Stock Item</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% for (var i = 0; i < data.length; i++) { %> 
                                <tr>
                                <td><%= i + 1 %></td>
                                <td><%= data[i].partId %></td>
                                <td><%= data[i].partName %> </td>
                                 <% for (var j = 0; j < loadproductcategory.length;j++)if(loadproductcategory[j]._id == data[i].proCattId) { %>                   
                                <td><%= loadproductcategory[j].procatName %> > <%= loadproductcategory[j].prosubcatName %> > <%= loadproductcategory[j].prosecsubcatName %> > <%= loadproductcategory[j].proparentdata %> > <%= loadproductcategory[j].proparentdata1 %> > <%= loadproductcategory[j].proparentdata2 %> </td>
                                <% } %>
                                <td><i class="fa fa-inr" aria-hidden="true"></i><%= data[i].price %></td>
                                <td><%= data[i].stockLocationOne %></td>
                                <td><%= data[i].productdescr %></td>
                                <td><%= data[i].quantity %></td>
                                <% if(user.user_role == "admin"){ %>    
                                <% if(data[i].productStatus == '0'){ %>
                                <td><a href="productStatus?productStatus=1&id=<%= data[i]._id %>">Deactive</a></td>
                                 <% } else { %>
                                <td><a href="productStatus?productStatus=0&id=<%= data[i]._id %>">Active</a></td>
                                 <% } %>
                              
                                <% } %>
                                <% if(user.user_role == "manager"){ %>    
                                <% if(data[i].viewStatus == '0'){ %>
                                <td><a href="viewStatus?viewStatus=1&id=<%= data[i]._id %>">Not Done</a></td>
                                <% } else { %>
                                <td><a href="viewStatus?viewStatus=0&id=<%= data[i]._id %>">Done</a></td>
                                <% } %>
                                <% } %>
                                <td> <a href="deleteproduct?id=<%= data[i]._id %>"><i class="fa fa-trash-o" onclick="return ConfirmDelete('<%= data[i].partName %>')" aria-hidden="true"
                                  style="font-size: 20px"></i></a> | 
                                  <a href="edit-product<%= data[i].linkforedit %>&id=<%= data[i]._id %>"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px"></i></a> | 
                                  <a href="productview<%= data[i].linkforedit %>&id=<%= data[i]._id %>"><i class="fa fa-eye" aria-hidden="true" style="font-size: 20px"></i></a>&nbsp;&nbsp;
                                </td>
                                <td>

                                  <a href="stockqantity?id=<%= data[i].partId %>&name=<%= data[i].partName %>"><i class="fa fa-info-circle" style="font-size: 20px" aria-hidden="true"></i>

                                  </a>
                                </td>
                                </tr>
                              <% } %>     
                            </tbody>
                          </table>
                 
                        </form>

                        <script type="text/javascript">
                         
                            function ConfirmDelete(partName)
                             {
                              var x = confirm("Are you sure you want to delete " + partName);
                              if (x)
                                return true;
                              else
                              return false;
                             }
                         
                        </script>

                        <form action="/product-insert-csv" method="post" enctype="multipart/form-data" style="height: 0px;">
                          <div class="modal" id="myModal" style="display: none;background-color:#fff;height: auto;">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                <div class="modal-header">
                                  <h4 class="modal-title">Upload Product (csv format)</h4>
                                </div>
                                
                                <div class="modal-body">

                                    <div class="control-group">
                                     <label class="control-label">Upload Product</label>
                                      <div class="controls">

                                        <input type="file" name="ufile">

                                      </div>
                                    </div>
                           
                                    <div class="row-fluid">
                                      <div class="span4"></div>
                                      <div class="span3">
                                   
                                        <input type="submit" class="btn theme-btn" value="Submit">
                                        <div class="span2"></div>.

                                      </div>
                                    </div>
                                </div>
                            
                                
                                <div class="modal-footer" style="background-color:#fff;">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </form>
                                  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    var input = document.getElementById("myInput");
    var table = document.getElementById("myTable");

    // Do event binding in JavaScript, not HTML
    input.addEventListener("keyup", filter);
    input.addEventListener("search", filter);

    // Get all rows, except the header and convert to array so .forEach() can be used to loop
    var rows = Array.prototype.slice.call(table.querySelectorAll("tr:not(.header)"));  

    function filter() {
      // Always trim user input
      var filter = input.value.trim().toUpperCase();

      // Loop the rows
      rows.forEach(function(row) {
      
       
        var data = "";
        // Loop over all the cells in the current row and concatenate their text
        Array.prototype.slice.call(row.getElementsByTagName("td")).forEach(function(r){
          // Don't use .innerHTML unless there is HTML. Use textContent when there isn't.
          data += r.textContent;  
        });

     
        if(data.toUpperCase().indexOf(filter) > -1){
          // show row
          row.classList.remove("hidden");
        } else {
          // hide row
          row.classList.add("hidden");
        }
      });
      
    }
  </script>

 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
  }

  .navbar-brand{
      padding: 15px !important;
  }
  
  .dropdown.open .dropdown-toggle{
      background-color: #fff !important;
  }

  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
      outline: thin dotted;
      outline: none;
      outline-offset: -2px;
  }
  
  .navbar-inverse .navbar-toggle {
      border-color:  #ffffff;
  }

  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

     color: #999;
  }

  .nav .dropdown-toggle .caret {
      margin-top: 6px;
      border-top-color: #020202 !important;
      border-bottom-color: #121213 !important;
  }

  .modal {
      background-color: rgba(92, 92, 92, 0.03);
      border: 0px;
  }

  .modal-body {
      padding: 0px; 
      overflow-y: inherit; 
  }
  
  @media (min-width: 414px){
    .navbar-brand{
      font-size: 25px !important;
    }
  }

  @media (min-width: 320px) and (max-width: 320px){
    .navbar-brand{
      font-size: 15px !important;
      padding: 0px;
      margin: 14px 0px 0px 25px !important;
   }


 </style>
 
</body>
<!-- END BODY -->
</html>

 <script type="text/javascript">

var sortedOn = 0;
function SortTable(sortOn) {
var table = document.getElementById('example');
var tbody = table.getElementsByTagName('tbody')[0];
var rows = tbody.getElementsByTagName('tr');
var rowArray = new Array();
for (var i=0, length=rows.length; i<length; i++) {
rowArray[i] = new Object;
rowArray[i].oldIndex = i;
rowArray[i].value = rows[i].getElementsByTagName('td')[sortOn].firstChild.nodeValue;
}
if (sortOn == sortedOn) { rowArray.reverse(); }
else {
sortedOn = sortOn;

if (sortedOn == 0) {
rowArray.sort(RowCompareNumbers);
}
else {
rowArray.sort(RowCompare);
}
}
var newTbody = document.createElement('tbody');
for (var i=0, length=rowArray.length ; i<length; i++) {
newTbody.appendChild(rows[rowArray[i].oldIndex].cloneNode(true));
}
table.replaceChild(newTbody, tbody);
}
function RowCompare(a, b) {
var aVal = a.value;
var bVal = b.value;
//return (aVal == bVal ? 0 : (aVal < bVal ? -1 : 1));
return aVal.localeCompare(bVal);
}
// Compare number
function RowCompareNumbers(a, b) {
var aVal = parseInt( a.value);
var bVal = parseInt(b.value);
return (aVal - bVal);
}
// compare currency
function RowCompareDollars(a, b) {
var aVal = parseFloat(a.value.substr(1));
var bVal = parseFloat(b.value.substr(1));
return (aVal - bVal);
}

 </script>


    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
   
    <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
        height: 30px;
        width: 80%;
      }

      textarea{
             width: 80%;
       
      }
      .modal-backdrop, .modal-backdrop.fade.in {
          opacity: 0;
          filter: alpha(opacity=80);
      }

    </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        