﻿
<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
  <head>
      <!-- Site Title -->
      <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
        <title><%= loadwebsitedata[i].webName %></title>
      <% } %>
      <meta name="format-detection" content="telephone=no"/>
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
      <!-- Stylesheets -->
      <script src="/js2/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
      <link rel="icon" href="/images1/favicon.ico" type="image/x-icon">
      <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7CExo+2:400,700,900,600,300%7CPT+Sans:400,700%7CRoboto:400,300,700' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

      <link rel="stylesheet" href="/css1/style.css">
        <style type="text/css">
      #sidebar {
        height: 100vh;
        /*background-color: #333;*/
      }

      /* closed state icon */
      #sidebar .list-group .list-group-item[aria-expanded="false"]::after {
        content: " \f0d7";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 5px;
      }


      /* open state icon */
      #sidebar .list-group .list-group-item[aria-expanded="true"]::after {
        content: " \f0da";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 5px;
      }

      /* level 1*/
      #sidebar .list-group .collapse .list-group-item  {
        padding-left: 20px;
      }

      /* level 2*/
      #sidebar .list-group .collapse > .collapse .list-group-item {
        padding-left: 30px;
      }

      /* level 3*/
      #sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
        padding-left: 40px;
      }

      @media (max-width:48em) {
        /* overlay sub levels on small screens */
        #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
            position: absolute;
            z-index: 1;
            width: 190px;
        }

        #sidebar .list-group > .list-group-item {
            text-align: center;
            /*padding: .75rem .5rem;*/
            min-width: 39px;
        }
        /* hide caret icons of top level when collapsed */
        #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
        #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
            display:none;
          }
      }

      /* change transition animation to width when entire sidebar is toggled */
      #sidebar.collapse {
        -webkit-transition-timing-function: ease;
             -o-transition-timing-function: ease;
                transition-timing-function: ease;
        -webkit-transition-duration: .2s;
             -o-transition-duration: .2s;
                transition-duration: .2s;
      }

      #sidebar.collapsing {
        opacity: 0.8;
        width: 0;
        -webkit-transition-timing-function: ease-in;
             -o-transition-timing-function: ease-in;
                transition-timing-function: ease-in;
        -webkit-transition-property: width;
             -o-transition-property: width;
                transition-property: width;

      }

      .list-group-item {
          position: relative;
          display: block;
          padding: 3px; 
          margin-bottom: 0px; 
          background-color: #fff;
          border: 1px solid rgba(0,0,0,.125);
      }

    /*  .sticky {
          position: fixed;
          top: 0;
          width: 100%;
      }

      .sticky + .content {
         padding-top: 60px;
      }*/

    </style>
  </head>
  <body>
    <!-- The Main Wrapper -->
    <div class="page">

        <!--For older internet explorer-->
        <div class="old-ie" style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
          <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="/images1/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
          </a>
        </div>
        <!--END block for older internet explorer-->

        <!--========================================================
                                  HEADER
        =========================================================-->
        <!-- <header class="page-header bg"  style="height: 80px;">
          
          <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
              <div class="rd-navbar-inner">

              
                <div class="rd-navbar-panel">

                  
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                 
                  <div class="rd-navbar-brand">
                    <a class="newlogocss" href="/home" style="color: #000;text-decoration: none;">
                      <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>

                      <img src="/uploads/logo/<%= loadwebsitedata[i].img.originalname %>" name="originalname" class="img-responsive finalimageeee" style="height: 30px; width: 65px;margin-top: -20px;margin-left: 12px;">
                      <% } %>

                    </a>
                  </div>

                  <button class="rd-navbar-toggle list" data-rd-navbar-toggle=".rd-navbar-inline-list"><span></span></button>
                </div>
               
                <div class="rd-navbar-nav-wrap">

                 
                  <ul class="rd-navbar-nav">

                    <li class="active">
                      <a href="home">Home</a>
                    </li>

                   <li>
                      <a href="#">Autoparts</a>
                      <ul class="rd-navbar-dropdown">
                        <% for (var i = 0; i < loadcategorydata.length; i++) if(loadcategorydata[i].status == "0") { %>
                        <li>
                          <a href="#"><%= loadcategorydata[i].categoryName %></a>
                          <ul class="rd-navbar-dropdown">
                            <% for (var l = 0; l < loadsubcategorydata.length; l++) 
                            if(loadsubcategorydata[l].status == "0" 
                            && 
                            loadsubcategorydata[l].categoryId == loadcategorydata[i].categoryName) { %>

                            <li>
                              <a href="#"><%= loadsubcategorydata[l].subcategoryName %></a>
                              <ul class="rd-navbar-dropdown">

                                <% for (var t = 0; t < secondsubcategorydata.length; t++) 
                                if(secondsubcategorydata[t].status == "0"
                                && 
                                secondsubcategorydata[t].categoryId == loadcategorydata[i].categoryName 
                                && 
                                secondsubcategorydata[t].subcategoryId == loadsubcategorydata[l].subcategoryName) { %>

                                <li>
                                  <a href="#"><%= secondsubcategorydata[t].SecondsubcategoryName %></a>
                                  <ul class="rd-navbar-dropdown">

                                    <% for (var n = 0; n < loadthirdsubcategory.length; n++) 
                                    if(loadthirdsubcategory[n].status == "0" 
                                    && 
                                    loadthirdsubcategory[n].catNamedata == loadcategorydata[i].categoryName 
                                    && 
                                    loadthirdsubcategory[n].subcatNamedata == loadsubcategorydata[l].subcategoryName 
                                    && 
                                    loadthirdsubcategory[n].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName
                                    &&
                                    loadthirdsubcategory[n].secondsubcatNamedata == loadthirdsubcategory[n].parentdata
                                    ){ %>

                                    <li>
                                      <a href="#"><%= loadthirdsubcategory[n].CategoryName %></a>
                                      <ul class="rd-navbar-dropdown">
                                    <% for (var s = 0; s < loadthirdsubcategory.length; s++) if(loadthirdsubcategory[s].status == "0" && loadthirdsubcategory[s].catNamedata == loadcategorydata[i].categoryName && loadthirdsubcategory[s].subcatNamedata == loadsubcategorydata[l].subcategoryName && loadthirdsubcategory[s].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName 
                                    && loadthirdsubcategory[s].parentdata == loadthirdsubcategory[n].CategoryName){ %>
                                          <li><a href="#"><%= loadthirdsubcategory[s].CategoryName %></a>
                                            <ul class="rd-navbar-dropdown">
                                    <% for (var r = 0; r < loadthirdsubcategory.length; r++) if(loadthirdsubcategory[r].status == "0" && loadthirdsubcategory[r].catNamedata == loadcategorydata[i].categoryName && loadthirdsubcategory[r].subcatNamedata == loadsubcategorydata[l].subcategoryName && loadthirdsubcategory[r].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName 
                                    && loadthirdsubcategory[r].parentdata == loadthirdsubcategory[s].CategoryName){ %>
                                          <li><a href="productLanding?cat=<%= loadcategorydata[i].categoryName %>&subcat=<%= loadsubcategorydata[l].subcategoryName %>&secondsubcat=<%= secondsubcategorydata[t].SecondsubcategoryName %>&thirdsubcat=<%= loadthirdsubcategory[n].CategoryName %>&fourthsubcat=<%= loadthirdsubcategory[s].CategoryName %>&parentdata=<%= loadthirdsubcategory[r].CategoryName %>"><%= loadthirdsubcategory[r].CategoryName %></a>
                                          </li>
                                          
                                        <% } %>
                                  
                                          </ul>
                                          </li>
                                          
                                        <% } %>
                                  
                                      </ul>
                                    </li>
                                    
                                    <%  }  %>
                                  </ul>
                                </li>
                                <% } %>
                              </ul>
                            </li>                     
                            <% } %>
                          </ul>
                        </li>
                        <% } %>
                      </ul>
                    </li> 
                    
                    <li class="float-right">

                        <% if (user.local.email){ %>

                        <a style="margin-left: 874px; margin-top: -25px;" href="#"><%= user.firstName %></a>

                          <% } else if (user.google.token) { %> 

                        <a style="margin-left: 874px; margin-top: -25px;" href="#"><%= user.google.name %></a>  

                          <% } else { %>

                        <a style="margin-left: 874px; margin-top: -25px;" href="#">  <%= user.facebook.name %> </a>
                                   
                        <% } %>  
                        
                        <ul class="rd-navbar-dropdown"  style="width: 180px; margin-left: 390px;">
                            <li><a href="account" class="sidetab"> My Account</a></li>
                            <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                            <li><a href="managewebsite" class="sidetab"> Website Managment</a></li>
                            <li><a href="managecategory" class="sidetab"> Category Managment</a></li>
                            <li><a href="manageunit" class="sidetab"> Unit Managment</a></li>
                            <li><a href="managesubcategory" class="sidetab"> SubCategory Managment</a></li>
                            <li><a href="managesecondsubcategory" class="sidetab">Second SubCategory Managment</a></li>
                            <li><a href="managethirdsubcategory" class="sidetab">Third SubCategory Managment</a></li>
                            <li><a href="product-list" class="sidetab">Part Managment</a></li>
                            <li><a href="purchase-list" class="sidetab">Purchase Managment</a></li>
                            <li><a href="sales-list" class="sidetab">Sales Managment</a></li>
                            <li><a href="supplier" class="sidetab">Supplier Managment</a></li>
                            <li><a href="admin" class="sidetab">User  Managment</a></li>
                            <li><a href="manageorder" class="sidetab"> Order Managment</a></li>
                         
                            <% } %>

                            <% if (user.user_role === 'user') { %>
                           
                            <% } %>

                            <% if (user.user_role === 'customer') { %>
                           
                            <% } %>

                            <% if (user.user_role === 'doctor') { %>
                      
                            <% } %>
                            <li><a href="/logout" class="sidetab"> Logout</a></li>
                        </ul>
                    </li>

                  </ul>

                  </li>
                  </ul>
                
                </div>
                
                <div class="rd-navbar-contact">
                  <ul class="nav navbar-nav visible-xs" style="display: none;background-color: #fff;margin-top: 0px; border-top : 0px !important";>
                      
                        <li><a href="account" class="sidetab" style="color: #999;"> My Account</a></li>
                      
                        <% if (user.user_role === 'admin') { %>
                        <li><a href="manageorder" class="sidetab" style="color: #999;"> Order Managment</a></li>
                        <li><a href="managetransaction" class="sidetab" style="color: #999;"> Transaction Managment</a></li>
                        <li><a href="symptom-admin" class="sidetab" style="color: #999;"> Symptom History</a></li>
                        <li><a href="product-list" class="sidetab" style="color: #999;"> Our Products</a></li>
                        <li><a href="admin" class="sidetab" style="color: #999;"> User Management</a></li>
                        <li><a href="add-symptoms" class="sidetab" style="color: #999;"> Add Symptoms</a></li>
                        <li><a href="manage-symptoms" class="sidetab" style="color: #999;"> Manage Symptoms</a></li>
                        <% } %>

                        <% if (user.user_role === 'user') { %>
                        
                          <% } %>


                        <% if (user.user_role === 'customer') { %>
                        
                          <% } %>

                        <% if (user.user_role === 'doctor') { %>
                           
                          <% } %>
                     <li><a href="/logout" class="sidetab" style="color: #999;"> Logout</a></li>
                  </ul>
                </div>

              </div>
            </nav>
          </div>
        </header> -->
        <!--========================================================


                                  CONTENT
        =========================================================-->

         <nav class="navbar navbar-default" id="navbarone" style="margin-bottom: 0px;">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="home"> 
                <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
                  <img src="/uploads/logo/<%= loadwebsitedata[i].img.originalname %>" name="originalname" class="img-responsive finalimageeee" style="height: 30px; width: 65px;margin-left: 12px;">
                <% } %>
              </a>
            </div>
            <ul class="nav navbar-nav">
              <li>
                <a href="home">Home</a>
              </li>

              <li class="dropdown">
                <% if (user.local.email){ %>
                <a style="margin-left: 874px;" href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= user.firstName %><b class="caret"></b>
                </a>
                  <% } else if (user.google.token) { %>
                <a style="margin-left: 874px;" href="#" class="dropdown-toggle" data-toggle="dropdown">   
                  <%= user.google.name %><b class="caret"></b>
                </a>
                  <% } else { %>
                <a style="margin-left: 874px;" href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= user.facebook.name %><b class="caret"></b>
                </a>
                <% } %>
                <ul class="dropdown-menu" style="margin-left: 874px; ">
                  <li><a href="account" class="sidetab"> My Account</a></li>
                  <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                  <li><a href="managewebsite" class="sidetab"> Website Managment</a></li>
                  <li><a href="managecategory" class="sidetab"> Category Managment</a></li>
                  <li><a href="manageunit" class="sidetab"> Unit Managment</a></li>
                  <li><a href="managesubcategory" class="sidetab"> SubCategory Managment</a></li>
                  <li><a href="managesecondsubcategory" class="sidetab">Second SubCategory Managment</a></li>
                  <li><a href="managethirdsubcategory" class="sidetab">Third SubCategory Managment</a></li>
                  <li><a href="product-list" class="sidetab">Part Managment</a></li>
                  <li><a href="purchase-list" class="sidetab">Purchase Managment</a></li>
                  <li><a href="sales-list" class="sidetab">Sales Managment</a></li>
                  <li><a href="purchasereturn-list" class="sidetab">Purchase Return Managment</a></li>
                  <li><a href="salesreturn-list" class="sidetab">Sales Return Managment</a></li>
                  <li><a href="supplier" class="sidetab">Supplier Managment</a></li>
                  <li><a href="admin" class="sidetab">User  Managment</a></li>
                  <li><a href="manageorder" class="sidetab"> Order Managment</a></li>
               
                  <% } %>

                    <% if (user.user_role === 'customer') { %>
              
                  <% } %>

                    <% if (user.user_role === 'user') { %>
                 
                  <% } %>

                    <% if (user.user_role === 'doctor') { %>
            
                  <% } %>

                  <li>
                    <a href="/logout" class="sidetab"> Logout</a>
                  </li>
                </ul>
              </li>

            </ul>
          </div>
        </nav>
         <div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" id="sidebar" style="overflow-y: scroll;">
            <div class="list-group panel">
              <% for (var i = 0; i < loadcategorydata.length; i++) if(loadcategorydata[i].status == "0") { %>
                <a href="#menu<%=i%>" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down"><%= loadcategorydata[i].categoryName %></span> </a>
                <div class="collapse" id="menu<%=i%>">
                   <% for (var l = 0; l < loadsubcategorydata.length; l++) 
                            if(loadsubcategorydata[l].status == "0" && 
                            loadsubcategorydata[l].categoryId == loadcategorydata[i].categoryName) { %>
                    <a href="#menu<%=i%>sub<%=l%>" class="list-group-item" data-toggle="collapse" aria-expanded="false"><%= loadsubcategorydata[l].subcategoryName %> </a>
                    <div class="collapse" id="menu<%=i%>sub<%=l%>">
                           <% for (var t = 0; t < secondsubcategorydata.length; t++) 
                                if(secondsubcategorydata[t].status == "0"
                                && 
                                secondsubcategorydata[t].categoryId == loadcategorydata[i].categoryName 
                                && 
                                secondsubcategorydata[t].subcategoryId == loadsubcategorydata[l].subcategoryName) { %>

                        <a href="#menu<%=i%>sub<%=l%>sub<%=t%>" class="list-group-item" data-toggle="collapse"  aria-expanded="false"><%= secondsubcategorydata[t].SecondsubcategoryName %> </a>
                        <div class="collapse" id="menu<%=i%>sub<%=l%>sub<%=t%>">
                               <% for (var n = 0; n < loadthirdsubcategory.length; n++) 
                                    if(loadthirdsubcategory[n].status == "0" 
                                    && 
                                    loadthirdsubcategory[n].catNamedata == loadcategorydata[i].categoryName 
                                    && 
                                    loadthirdsubcategory[n].subcatNamedata == loadsubcategorydata[l].subcategoryName 
                                    && 
                                    loadthirdsubcategory[n].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName
                                    &&
                                    loadthirdsubcategory[n].secondsubcatNamedata == loadthirdsubcategory[n].parentdata
                                    ){ %>
                            <a href="#menu<%=i%>sub<%=l%>sub<%=t%>sub<%=n%>" class="list-group-item" data-toggle="collapse"  aria-expanded="false"><%= loadthirdsubcategory[n].CategoryName %></a>
                            <div class="collapse" id="menu<%=i%>sub<%=l%>sub<%=t%>sub<%=n%>">
                                <% for (var s = 0; s < loadthirdsubcategory.length; s++) if(loadthirdsubcategory[s].status == "0" && loadthirdsubcategory[s].catNamedata == loadcategorydata[i].categoryName && loadthirdsubcategory[s].subcatNamedata == loadsubcategorydata[l].subcategoryName && loadthirdsubcategory[s].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName 
                                    && loadthirdsubcategory[s].parentdata == loadthirdsubcategory[n].CategoryName){ %>
                              <a href="#menu<%=i%>sub<%=l%>sub<%=t%>sub<%=n%>sub<%=s%>" data-toggle="collapse" class="list-group-item" aria-expanded="false">
                                <%= loadthirdsubcategory[s].CategoryName %>
                              </a>
                              <div class="collapse" id="menu<%=i%>sub<%=l%>sub<%=t%>sub<%=n%>sub<%=s%>">
                                <% for (var r = 0; r < loadthirdsubcategory.length; r++) if(loadthirdsubcategory[r].status == "0" && loadthirdsubcategory[r].catNamedata == loadcategorydata[i].categoryName && loadthirdsubcategory[r].subcatNamedata == loadsubcategorydata[l].subcategoryName && loadthirdsubcategory[r].secondsubcatNamedata == secondsubcategorydata[t].SecondsubcategoryName 
                                    && loadthirdsubcategory[r].parentdata == loadthirdsubcategory[s].CategoryName){ %>
                                 <a href="productLanding?cat=<%= loadcategorydata[i].categoryName %>&subcat=<%= loadsubcategorydata[l].subcategoryName %>&secondsubcat=<%= secondsubcategorydata[t].SecondsubcategoryName %>&thirdsubcat=<%= loadthirdsubcategory[n].CategoryName %>&fourthsubcat=<%= loadthirdsubcategory[s].CategoryName %>&parentdata=<%= loadthirdsubcategory[r].CategoryName %>" class="list-group-item">
                                <%= loadthirdsubcategory[r].CategoryName %>
                                </a> 
                               <% } %>
                              </div>
                               <% } %>
                            </div>
                              <% } %>
                        </div>
                        <% } %>
                    </div>     
                    <% } %>
                </div>
                <% } %>
              
            </div>
        </div>
        <main class="page-content col-lg-10 col-md-10 col-sm-10 col-xs-12" style="background: #ddd;">


          <section class="well well-2">
            <div class="container text-center">
              <h2 class="wow fadeIn">product list</h2>


              <% for (var g = 0; g < loadproductcategory.length; g++) if(loadproductcategory[g].procatName == catname && loadproductcategory[g].prosubcatName == subcatname && loadproductcategory[g].prosecsubcatName == secsubcatname &&loadproductcategory[g].proparentdata == thirsubcatname && loadproductcategory[g].proparentdata1 == forthsubcatname &&loadproductcategory[g].proparentdata2 == parentdatassname) { %>   


                <% for (var j = 0; j < loadproductdata.length; j++) if(loadproductdata[j].productStatus == "1" && loadproductdata[j].proCattId == loadproductcategory[g]._id){ %>
                  <div class="row flow-offset-1 product-info">
                  <div class="col-lg-4 text-center text-md-left wow fadeInLeft">
                   <% if(loadproductdata[j].myimage != null){ %>
                    <img src="/uploads/product/<%= loadproductdata[j].myimage[0].originalname %>" width="370" height="231" alt="">
                    

                   <% } else {  %>
                    <img src="http://ec2-3-90-219-138.compute-1.amazonaws.com:2222/uploads/product/1.jpg" width="370" height="231" alt="">

                       
                  <% } %>
                  </div>
                  <div class="col-lg-8">
                    <div class="product-info-body text-center text-md-left">
                      <h3>
                        <a href="#"><%= loadproductdata[j].partName %></a>
                      </h3>
                     <p class="heading-6 product-info-price">
                        MRP : <a href="productshops?id=<%= loadproductdata[j]._id %>">Rs.<%= loadproductdata[j].mrp %> /-</a>
                      </p>

                       <p class="heading-6 product-info-price">
                        Selling Price : <a href="productshops?id=<%= loadproductdata[j]._id %>">Rs.<%= loadproductdata[j].price %> /-</a>
                      </p>
                      <p>Brand: <%= loadproductdata[j].brand %></p>

                      <div class="row row-sm-justify">
                        <div class="col-sm-4 col-lg-3 text-sm-left">
                          <h6 class="text-capitalize">Stock Detail</h6>
                          <ul class="product-info-list text-sm-left ">
                             <li>Total Quantity : <%= loadproductdata[j].quantity %></li>
                            <li>HSN Code : <%= loadproductdata[j].code %></li>
                          </ul>
                        </div>
                        <div class="col-sm-4 col-lg-5 text-sm-left">
                          <h6 class="text-capitalize preffix-1">Item Detail</h6>
                          <ul class="product-info-list text-sm-left preffix-1">                  
                            <% for (var i = 0; i < loadproductcategory.length; i++) if(loadproductcategory[i]._id == loadproductdata[j].proCattId) { %>
                            <li>Category : <%= loadproductcategory[i].procatName %></li>
                            <li>Subcategory : <%= loadproductcategory[i].prosubcatName %></li>
                            <li>Inner Subcategory : <%= loadproductcategory[i].prosecsubcatName %></li>
                            <li>Category Name : <%= loadproductcategory[i].proparentdata %></li>
                            <% } %>
                          </ul>
                        </div>
                        <div class="col-sm-4 col-md-3">
                          <div class="inline-block">
                            <a href="/productshops?id=<%= loadproductdata[j]._id %>" class="btn btn-md btn-sunglow wow fadeInRight">more details</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <% } %>
             <% }  %>
                <hr>
            </div>
          </section>
        </main>
       </div>
    <!--     <main class="page-content" style="background: #ddd;">

          <section class="well well-2">
            <div class="container text-center">
              <h2 class="wow fadeIn">product list</h2>


              <% for (var g = 0; g < loadproductcategory.length; g++) if(loadproductcategory[g].procatName == catname && loadproductcategory[g].prosubcatName == subcatname && loadproductcategory[g].prosecsubcatName == secsubcatname &&loadproductcategory[g].proparentdata == thirsubcatname && loadproductcategory[g].proparentdata1 == forthsubcatname &&loadproductcategory[g].proparentdata2 == parentdatassname) { %>   


                <% for (var j = 0; j < loadproductdata.length; j++) if(loadproductdata[j].productStatus == "1" && loadproductdata[j].proCattId == loadproductcategory[g]._id){ %>
                  <div class="row flow-offset-1 product-info">
                  <div class="col-lg-4 text-center text-md-left wow fadeInLeft">
                   <% if(loadproductdata[j].myimage != null){ %>
                    <img src="/uploads/product/<%= loadproductdata[j].myimage[0].originalname %>" width="370" height="231" alt="">
                    

                   <% } else {  %>
                    <img src="http://ec2-3-90-219-138.compute-1.amazonaws.com:2222/uploads/product/1.jpg" width="370" height="231" alt="">

                       
                  <% } %>
                  </div>
                  <div class="col-lg-8">
                    <div class="product-info-body text-center text-md-left">
                      <h3>
                        <a href="#"><%= loadproductdata[j].partName %></a>
                      </h3>
                     <p class="heading-6 product-info-price">
                        MRP : <a href="productshops?id=<%= loadproductdata[j]._id %>">Rs.<%= loadproductdata[j].mrp %> /-</a>
                      </p>

                       <p class="heading-6 product-info-price">
                        Selling Price : <a href="productshops?id=<%= loadproductdata[j]._id %>">Rs.<%= loadproductdata[j].price %> /-</a>
                      </p>
                      <p>Brand: <%= loadproductdata[j].brand %></p>

                      <div class="row row-sm-justify">
                        <div class="col-sm-4 col-lg-3 text-sm-left">
                          <h6 class="text-capitalize">Stock Detail</h6>
                          <ul class="product-info-list text-sm-left ">
                            <li>Stock Quantity : <%= loadproductdata[j].stkQty %></li>
                            <li>Code : <%= loadproductdata[j].code %></li>
                          </ul>
                        </div>
                        <div class="col-sm-4 col-lg-5 text-sm-left">
                          <h6 class="text-capitalize preffix-1">Item Detail</h6>
                          <ul class="product-info-list text-sm-left preffix-1">                  
                            <% for (var i = 0; i < loadproductcategory.length; i++) if(loadproductcategory[i]._id == loadproductdata[j].proCattId) { %>
                            <li>Category : <%= loadproductcategory[i].procatName %></li>
                            <li>Subcategory : <%= loadproductcategory[i].prosubcatName %></li>
                            <li>Inner Subcategory : <%= loadproductcategory[i].prosecsubcatName %></li>
                            <li>Category Name : <%= loadproductcategory[i].proparentdata %></li>
                            <% } %>
                          </ul>
                        </div>
                        <div class="col-sm-4 col-md-3">
                          <div class="inline-block">
                            <a href="/productshops?id=<%= loadproductdata[j]._id %>" class="btn btn-md btn-sunglow wow fadeInRight">more details</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <% } %>
             <% }  %>
                <hr>
            </div>
          </section>
         </main> -->
        <!--========================================================
                                  FOOTER
        ==========================================================-->
        <!-- <footer class="page-footer">
          <div class="container text-center text-sm-left">
            <div class="row flow-offset-1">
              <div class="col-sm-6 col-md-preffix-1 col-md-2 col-sm-push-1 col-md-push-2">
                <ul class="list">
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="index-1.html">About</a></li>
                  <li><a href="index-2.html">Auto Parts</a></li>
                  <li><a href="index-3.html">News</a></li>
                  <li><a href="index-4.html">Contacts</a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-3  col-md-push-3 col-sm-push-2">
                <address class="contact-info">
                  <a href="#" class="address">4578 69 St, San Diego D04 89GR</a>
                  <div>
                    <a href="callto:#">1-800-1234-567</a>
                  </div>
                </address>
                <ul class="inline-list">
                  <li><a class="icon icon-sm icon-silver fa-facebook" href="#"></a></li>
                  <li><a class="icon icon-sm icon-silver fa-twitter" href="#"></a></li>
                  <li><a class="icon icon-sm icon-silver fa-instagram" href="#"></a></li>
                  <li><a class="icon icon-sm icon-silver fa-google-plus" href="#"></a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-2 col-sm-push-3 col-md-push-1">
                <div class="rd-navbar-brand">
                  <a href="index.html" class="brand-name">
                  </a>
                </div>

                <p class="copyright">
                  © <span id="copyright-year"></span>
                  <a href='index-5.html'>Privacy Policy</a>
                </p>
              </div>
            </div>
          </div>
        </footer> -->

    </div>

    <!-- Core Scripts -->
   <!--  <script src="/js2/core.min.js"></script>
    <script src="/js2/script.js"></script>  -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>