    <%- include partials/header_userdashboard %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript" >
   function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>
           
<script type="text/javascript" href="/js/categories.js"></script>
    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
<ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

                 
                 <!--  <li ng-class="{active: activeTab === 'subscription'}"><a href="subscription" ><i class="fa fa-user"  aria-hidden="true"></i> My Subscription</a></li>



                    <li ng-class="{active: activeTab === 'order'}"><a href="order" ><i class="fa fa-user"  aria-hidden="true"></i> My Order</a></li> -->


                     <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                     <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                     <!-- <li ng-class="{active: activeTab === 'managemake'}""><a href="managemake"><i class="fa fa-user"  aria-hidden="true"></i> Make Managment</a></li>
                      <li ng-class="{active: activeTab === 'managemodel'}"><a href="managemodel"><i class="fa fa-user"  aria-hidden="true"></i> Model Managment</a></li>
                    <li ng-class="{active: activeTab === 'managemodel'}"><a href="managesubmodel"><i class="fa fa-user"  aria-hidden="true"></i> Sub Model Managment</a></li> -->
                      <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                     <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                  <!--     <li ng-class="{active: activeTab === 'managecoupon'}"><a href="managecoupon"><i class="fa fa-user"  aria-hidden="true"></i> Coupon  Managment</a></li> -->
                      <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>
                       <li ng-class="{active: activeTab === 'product'}" class="active"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 
                        <ul> <li ng-class="{active: activeTab === 'product'}" class="active"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                           <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list"><i class="fa fa-user"  aria-hidden="true"></i> Manage Part</a></li>
                        <!-- <li ng-class="{active: activeTab === 'size'}"><a href="managesize"><i class="fa fa-user"  aria-hidden="true"></i> Size Mangment</a>
                        </li>
                        <li ng-class="{active: activeTab === 'color'}"><a href="managecolor"><i class="fa fa-user"  aria-hidden="true"></i> Color Managment</a>
                        </li> -->
                    </ul>
                       </li>
                       <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>

                       <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>
                        <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                        <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                  
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                     <!-- <li ng-class="{active: activeTab === 'consult'}"><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                     <!--  <li ng-class="{active: activeTab === 'review-consult'}"><a href="review-consult"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                      <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                    </div>
<style type="text/css">
    #nav li ul { display: none; list-style:none;}
</style>
<script type="text/javascript">
    $("#nav li a").on("click", function (e) {
    //allow links to be followed if they don't have a sub-menu
    if ( !$(this).parent().has("ul").length ) { return; }

    //we have a sub-menu, so stop the link from being followed
    e.preventDefault();

    if(!$(this).hasClass("open")) {
        //we need to know which 'level' we're on 
        var currentLevel = $(this).closest('ul')
        $("li ul", currentLevel).slideUp(350);
        $("li a", currentLevel).removeClass("open");

        // open our new menu and add the open class
        $(this).next("ul").slideDown(350);
        $(this).addClass("open");
    } else {
        $(this).removeClass("open");
        $(this).next("ul").slideUp(350);
    }
});

</script>
                           

            
   <body onload="myfunction()">            
                          <div class="span9" style="height: 2100px;">
                        <!-- BEGIN PAGE HEADER-->
                      
                        <!-- END PAGE HEADER-->
                       
                           <div class="row-fluid">
                      <div class="span12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->   
                        
                        <div class="portlet box blue tabbable">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="hidden-480">Add Part</span>
                                </div>
                            </div>

                            <div class="portlet-body form">
                                <div class="tabbable portlet-tabs">
                                    
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="portlet_tab1">
                                      
                             <form class="form-horizontal" method="post" action="/product-insert" enctype="multipart/form-data">
                                               

                            <!--     <div class="control-group">
   <label class="control-label">Part Name</label>
    <div class="controls">
  
    
    <select class="form-control"  name="partName" id="partName" onchange="javascript:dropdownlist(this.options[this.selectedIndex].value);" required="required">
      <option>Select Part</option>
      <% for (var i = 0; i < loadthirdsubcategorydata.length; i++) if(loadthirdsubcategorydata[i].role == "part") { %>                           
      
      <option value="<%= loadthirdsubcategorydata[i].CategoryName %>"><%= loadthirdsubcategorydata[i].CategoryName %></option>


   <% } %>
    </select>



    </div>checkpartId
 </div> -->



   <input type="hidden"  id="AddStatus" name="addedStatus" value="1">


 <div class="control-group">
   <label class="control-label">Category Name</label>
      <div class="controls">
                
          <input type="text"  name="procatName" value="<%= catname || '' %>" readonly="readonly">

       </div>
 </div>
<div class="control-group">
   <label class="control-label">Sub Category Name</label>
      <div class="controls">
                
          <input type="text" name="prosubcatName" value="<%= subcatname || '' %>" readonly="readonly">

       </div>
 </div>
<div class="control-group">
   <label class="control-label">Second Sub Category Name</label>
      <div class="controls">
                
          <input type="text" name="prosecsubcatName" value="<%= secsubcatname || '' %>" readonly="readonly">

       </div>
 </div> 
      <script>
          $(document).ready(function() {
            document.getElementById("linkurl").value = window.location.search;
            // alert(window.location.search);
          });
      </script>
      <script type="text/javascript">
        function checkMailStatus(){
            // alert("came");
          var partsId=$("#PartId").val();// value in field email
            $.ajax({
              type:'get',
              url:'/checkpartId',// put your real file name 
              data:{partId: partsId},
              success:function(data){
              var datakk = JSON.stringify(data);

                // alert(datakk);

              document.getElementById("partname").value = data["partName"];

              document.getElementById("stocklocationone").value = data["stockLocationOne"];
              document.getElementById("stocklocationtwo").value = data["stockLocationTwo"];
              document.getElementById("stocklocationthree").value = data["stockLocationThree"];
              document.getElementById("codee").value = data["code"];
                 alert(data["shippricemp"]);
              document.getElementById("shippricempp").value = data["shippricemp"];
              document.getElementById("shippriceoutmpp").value = data["shippriceoutmp"];
              document.getElementById("dimensionss").value = data["dimension"];
              document.getElementById("weights").value = data["weight"];
              document.getElementById("mrps").value = data["mrp"];
              document.getElementById("prices").value = data["price"];
              document.getElementById("stockqtyy").value = data["stkQty"];
              document.getElementById("taxes").value = data["tax"];
              document.getElementById("brands").value = data["brand"];
              document.getElementById("productDescr").value = data["productdescr"];
              document.getElementById("umStates").value = data["umState"];
              document.getElementById("chkYes").checked  = data["unitMeasure"];
              document.getElementById("chkNo").checked  = data["unitMeasure"];
            
              var img = data["myimage"];

              if(img == undefined){
                $("#imgUpload").attr("src", "" );
              }

              var may = datakk.replace(/"/g, '');

              var imgurl = JSON.stringify(img[0].path)
            

              var origimalUrl = JSON.parse(imgurl.replace(/&quot;/g,'"'));
              
              document.getElementById("AddStatus").value  = "0";

              $("#imgUpload").attr("src", origimalUrl );

              
             
             }
          });
        }
      </script>
       <!--  <%

          var t = 1;

          var myObject = totalvariable;

          var JsonObj = myObject;

          for (var i = 4; i < Object.keys(myObject).length-3; i++){  
        
        %>  -->

      <div class="control-group">
          <label class="control-label">Inner Category 1</label>
          <div class="controls"> 
          <input type="text" value="<%= forsubcatname || '' %>" name="innerCat4" readonly>
          </div>
      </div>
       <div class="control-group">
          <label class="control-label">Inner Category 2</label>
          <div class="controls"> 
          <input type="text" value="<%= fvesubcatname || '' %>" name="innerCat5" readonly>
          </div>
      </div>
  
<!--   <%  t++ ; } %>
 -->


  <div class="control-group">
   <label class="control-label">Last Subcategory Name</label>
      <div class="controls">
                
          <input type="text" name="proparentdata" value="<%= thirsubcatname || '' %>" readonly="readonly">

       </div>
 </div>

 <div class="control-group">
                      <label class="control-label">Part Id</label>
                      <div class="controls">
                          <input type="text" name="partId" class="form-control" id="PartId" required="required" onkeyup="checkMailStatus()">
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Part Name</label>
                      <div class="controls">
                          <input type="text" name="partName" id="partname" class="form-control" required="required">
                      </div>
                  </div>

 <input type="hidden" id="linkurl" name="linkforedit">

                   <div id="update_div"></div>                       


              <div class="span12">
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">Stock Location One</label>
                      <div class="controls">
                          <input type="text" name="stockLocationOne" id="stocklocationone" class="form-control" required="required">
                      </div>
                  </div>
                </div>
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">Stock Location Two</label>
                      <div class="controls">
                          <input type="text" name="stockLocationTwo" id="stocklocationtwo" class="form-control">
                      </div>
                  </div>
                </div>
              </div>

              <div class="span12">
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">Stock Location Three</label>
                      <div class="controls">
                          <input type="text" name="stockLocationThree" id="stocklocationthree" class="form-control">
                      </div>
                  </div>
                </div>
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">HSN Code </label>
                      <div class="controls">
                          <input type="text" name="code" class="form-control" id="codee" required="required">
                      </div>
                  </div>
                </div>
              </div> 

              <div class="span12">
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">Shipping Price (M.P) </label>
                      <div class="controls">
                          <input type="text" name="shippricemp" class="form-control" id="shippricempp" required="required">
                      </div>
                  </div>
                </div>
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">Shipping Price (Out of M.P)</label>
                      <div class="controls">
                          <input type="text" name="shippriceoutmp" class="form-control" id="shippriceoutmpp" required="required">
                      </div>
                  </div>
                </div>
              </div>

              <div class="span12">
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">Dimensions</label>
                      <div class="controls">
                          <input type="text" name="dimension" class="form-control" id="dimensionss" required="required">
                      </div>
                  </div>
                </div>
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">Weight</label>
                      <div class="controls">
                          <input type="text" name="weight" class="form-control" id="weights" required="required">
                      </div>
                  </div>
                </div>
              </div>

              <div class="span12">
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">MRP</label>
                      <div class="controls">
                          <input type="text" name="mrp" class="form-control" id="mrps" required="required">
                      </div>
                  </div>
                </div>
                <div class="span6">  
                  <div class="control-group">
                      <label class="control-label">Selling Price</label>
                      <div class="controls">
                          <input type="text" name="price" class="form-control" id="prices" required="required">
                      </div>
                  </div>
                </div>
              </div>

              <div class="span12">
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">Minimum Stock Quantity</label>
                      <div class="controls">
                          <input type="text" name="stkQty" class="form-control" id="stockqtyy" required="required">
                      </div>
                  </div>
                </div>
                <div class="span6">  
                  <div class="control-group">
                      <label class="control-label">Tax (%)</label>
                      <div class="controls">
                          <input type="text" name="tax" class="form-control" id="taxes" required="required">
                      </div>
                  </div>
                </div>
              </div>

              <div class="span12">
                <div class="span6">
                  <div class="control-group">
                      <label class="control-label">Brand</label>
                      <div class="controls">
                          <input type="text" name="brand" class="form-control" id="brands" required="required">
                      </div>
                  </div>
                </div>
                <div class="span6">  
                  <div class="control-group">
                      <label class="control-label">Unit of Measurement</label>
                      <div class="controls">
                        <select class="form-control" name="umState" id="umStates">
                           <option>Select Unit</option>
                            <% for (var i = 0; i < loadunitdata.length; i++) if(loadunitdata[i].status == "1") { %>                           
                             <option value="<%= loadunitdata[i].symbol %>"><%= loadunitdata[i].symbol %></option>
                           <% } %>
                         </select> 
                      </div>
                  </div>
                </div>
              </div>

              <div class="span12">
                <div class="span4">
                  <div class="control-group">
                      <label class="control-label">Set Alternate Unit</label>
                      <div class="controls">
                          <input type="radio" id="chkYes" name="unitMeasure" class="form-control" required="required" value="Yes"> <b>Yes</b>

                          <input type="radio" id="chkNo" name="unitMeasure" class="form-control" required="required" value="No"><b>No</b>

                      </div>
                  </div>
                </div>
                <div class="span8"> 
                  <div class="control-group">
                      <label class="control-label">Product Description</label>
                      <div class="controls">
                           <textarea type="text" name="productdescr" id="productDescr" class="form-control" required="required"></textarea>
                      </div>
                  </div>
                </div>
              </div>

              <div class="control-group" id="dvPinNo1" style="display: none">
                  <label class="control-label"></label>
                  <div class="controls">
                     
                     <select class="form-control" name="altset">
                       <option>Select Unit</option>
                        <% for (var i = 0; i < loadunitdata.length; i++) if(loadunitdata[i].status == "1") { %>                           
                         <option id="unitcount" value="<%= loadunitdata[i].symbol %>"><%= loadunitdata[i].symbol %></option>
                       <% } %>
                      </select>

                  </div>
              </div>

<script type="text/javascript">
   $(function() {
   $("input[name='unitMeasure']").click(function() {
     if ($("#chkYes").is(":checked")) {
        $("#dvPinNo1").show();
        $("#dvPinNo11").hide();
     } else{
        $("#dvPinNo1").hide();
        $("#dvPinNo11").hide();
     }
   });
   //   $("select[name='altset']").click(function() {
   //   if ($("#unitcount").is(":selected")) {
   //     $("#dvPinNo11").show();
   //   } else{
   //    $("#dvPinNo11").hide();
   //   }
    
   // });

    $("select[name='umState']").on('change', function (e) {
     var optionSelected1 = $("option:selected", this);
     var valueSelected1 = this.value;
     // alert(valueSelected1);
     // $("#firstname").val(valueSelected1);
      $("#firstname1").html(valueSelected1);
      $("#firstname12").val(valueSelected1);
      // document.getElementById("firstname1").value = valueSelected1;

    });

     $("select[name='altset']").on('change', function (e) {
     var optionSelected = $("option:selected", this);
     var valueSelected = this.value;
     // alert(valueSelected);
     document.getElementById("firstname").value = valueSelected;
     if(valueSelected){
      $("#dvPinNo11").show();
     }else{
      $("#dvPinNo11").hide();
     }
     $("#firstname").html(valueSelected);
     $("#firstname122").val(valueSelected);
 

    });

      
   });

</script>
              <div class="control-group" id="dvPinNo11" style="display: none">
                    <label class="control-label">Set Value</label>
                    <div class="controls"> 
                        <input type="text" style="width: 10%;" name="firstSet"> <span id="firstname"></span> 
                        <input type="hidden" id="firstname122" name="firstSetVal">
                        <span>=</span>
                         <input type="hidden" id="firstname12" name="secondSetVal">
                        <input type="text" style="width: 10%;" name="secondSet"> <span id="firstname1"></span>
                   </div>
              </div>

                           

                    <div class="controls-group">
                      <label>Current image</label>
                        <div class="controls">
                          <table >
                            <tbody>
                              <tr>
                                <td>
                                  <img id="imgUpload" src="" style="height: 172px; width: 400px !important" alt="Invalid PartId And No Image Found">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>

                       
                   <div class="control-group">
                        <label class="control-label">Upload Files of Image</label>
                        <div class="controls">
                            <input type="file" name="myimage[]"  multiple="multiple" required="required" />
                          <!--   <input type="text" id="imgUpload" name="myimagekk"> -->
                            
                        </div>
                    </div>

                                                        
                     <% if(locals.successproduct) { %>
              <div class="alert alert-success"><%= successproduct %></div>
                      <% } %>
   

            <input type="hidden" id="datetime">

             <div class="row-fluid">
             <div class="span4"></div>
             <div class="span3">
            <button class="btn theme-btn" type="submit"> <i class="fa fa-check"></i>Product Add</button>
             </div>

             <div class="span3">

             <a href="account"><button style="text-decoration: none;outline: 0 none;" class="btn theme-btn"><i class="fa fa-arrow"></i> Cancel</button></a>
             &nbsp;
             <a href="/product-list">View List</a>
                </div>
              <div class="span2"></div> 


                </div>


                                                        </form>

                                        
                                      

                                          
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->



                    </div>
                </div>
                    
                    </div>
                </div>
                </div>
                </div>

 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>

 <% 

    var totalthirdsubcatdata = loadthirdsubcategorydata

    var totallthirdcaTsub = totalthirdsubcatdata.length

    var finalvalthirdsubcats = JSON.stringify(totalthirdsubcatdata)

    var totalddllength = totalvariable


%>

  <script type="text/javascript">

    var temp = "<%= totalddllength %>";

    var newdata = temp.replace(/&quot;/g,'"');
   
    var count = (newdata.match(/ddl/g) || []).length;
  
    var fulldata = JSON.parse(JSON.stringify(count));

    var obj = JSON.parse(fulldata);

    var lengtht = Object.keys(obj).length; //you get length json result 4

      var rowFrameworkResultInJs = "<%= totalthirdsubcatdata %>";

        var totallength = "<%= totallthirdcaTsub %>";

          var totalfinalvals = "<%= finalvalthirdsubcats%>";
 
          function dropdownlist(listindex){

            $('#partName').val(listindex);

              var newdata = totalfinalvals.replace(/&quot;/g,'"');

                var fulldata = JSON.parse(JSON.stringify(newdata));

                  var obj = JSON.parse(fulldata);
                   // alert(obj);
                    var lengtht = Object.keys(obj).length; //you get length json result 4

                      if (listindex) {

                          var lookup = {};
                          var j = 1;
                          for (var i = 0, len = lengtht; i < len; i++) {
                              if (obj[i].CategoryName == listindex) {
                                  
                                   // alert(obj[i].CategoryName);
                                  document.getElementById("parentdatas").value= obj[i].parentdata;
                                  j = j+1;
                              }
                          }
                      }
                      
                      return true;
                  }
  </script>

  
 
</body>
<!-- END BODY -->
</html>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>

 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 

<!--     <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
 -->
    <!-- <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
 
  <!--  <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
 

  




 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
        height: 30px;
          width: 80%;
        }

        textarea{
             width: 80%;
         
        }
        .modal-backdrop, .modal-backdrop.fade.in {
          opacity: 0;
          filter: alpha(opacity=80);
      }


 </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        