<%- include partials/header_userdashboard %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" >
      function preventBack(){window.history.forward();}
        setTimeout("preventBack()", 0);
        window.onunload=function(){null};
    </script>
           
    <script type="text/javascript" href="/js/categories.js"></script>
      <div class="row-fluid">
        <div class="row" style="background: #f0f0f5;">
          <div class="row-fluid">
            <div class="container-fluid" style="background-color: #f0f0f5;">
              <div class="span2 sidebar-content ">
                <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                  <li ng-class="{active: activeTab === 'home'}">
                      <a href="home">
                      <i class="fa fa-home" aria-hidden="true"></i> 
                      Home
                      </a> 
                      <span class="after"></span>                                    
                  </li> 
                            
                  <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

                  <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                  
                  <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                 
                  <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>

                  <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
               
                  <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>

                  <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>

                  <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>

                  <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 

                  <ul> 

                    <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                  
                  </ul>
                       </li>

                    <li ng-class="{active: activeTab === 'purchase-list'}" ><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                    <li ng-class="{active: activeTab === 'purchasereturn-list'}" class="active"><a href="purchasereturn-list"><i class="fa fa-plus"  aria-hidden="true"></i>Purchase Return</a></li>

                    <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus"  aria-hidden="true"></i> Sales Management</a></li>

                    <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Return</a></li>

                    <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                    <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                   
                    <% } %>

                      <% if (user.user_role === 'user') { %>
                  
                    <% } %>

                       <% if (user.user_role === 'doctor') { %>
                     
                    <% } %>
                  <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                    </div>      
                    
                <div class="span10" style="height: 800px;">

                  <div class="row-fluid">

                    <div class="span12">

                      <div class="portlet box blue tabbable">

                        <div class="portlet-title">
                            <div class="caption">
                                <span class="hidden-480">Purchase Return Invoice</span>
                            </div>
                        </div>

                        <div class="portlet-body form">

                          <div class="tabbable portlet-tabs">

                            <div class="tab-content">

                              <div class="tab-pane active" id="portlet_tab1" style="overflow-y: scroll">

                                <form class="form-horizontal" method="post" action="purchase-insert">
                  
                                  <% for (var d = 0; d < datapurchase.length; d++) if(datapurchase[d]._id == supId){ 

                                  %> 

                                  <div class="span12">
                                    <div class="span6">

                                      <div class="control-group">
                                        <label class="control-label">Voucher No</label>
                                            <div class="controls">

                                          <input type="text" value="<%= datapurchase[d].voucherNo %>" name="voucherNo" readonly/>
                                     
                                        </div>
                                      </div>

                                    </div>
                                    <div class="span6">

                                      <div class="control-group">
                                        <label class="control-label">Date</label>
                                          <div class="controls">
                                            <input type="text" id="demodate" readonly/>

                                          <script>
                                          var dates =  new Date();    
                                          document.getElementById("demodate").value = dates;
                                          </script>

                                        </div>
                                      </div> 

                                    </div>
                                  </div>    

                                  <div class="span12">

                                    <div class="span6">
                                      
                                      <div class="control-group">
                                        <label class="control-label">Debit Note No</label>
                                        <div class="controls">
                                          <input type="text" value="<%= datapurchase[d].debitNo %>" name="debitNo" readonly/>
                                        </div>
                                      </div> 
                                    </div>
                                 
                                    <div class="span6">
                                      <div class="control-group">
                                        <label class="control-label">Debit Note Date</label>
                                          <div class="controls">
                                            <input type="date" name="debitDate" value="<%= datapurchase[d].debitDate %>" readonly>
                                          </div>
                                      </div>
                                    </div>
                                   

                                  </div>

                                  <div class="span12">

                                    <div class="span6">
                                      <div class="control-group">
                                        <label class="control-label">Select Supplier</label>

                                          <div class="controls">
                                          <select class="form-control" name="supId" id="selectbox" required="required" readonly>
                                            <option value="">Select Supplier Name</option>
                                        
                                            <% for (var q = 0; q < loadsupplierdata.length; q++) if(loadsupplierdata[q]._id == datapurchase[d].supId) { %>                             
                                              <option  value="<%= loadsupplierdata[q]._id %>" selected><%= loadsupplierdata[q].supName %>
                                              </option>
                                                <% } %>
                                              
                                            </select>
                                           </div>
                                      </div>
                                    </div>
                                 
                                    <div class="span6">
                                      <div class="control-group">
                                        <label class="control-label">Select Order No</label>
                                          <div class="controls">
                                            <select class="form-control" required="required" name="orderId" readonly>
                                              <option value="">Select Order No</option>
                                              <% for (var q = 0; q < loadorderdata.length; q++) if(loadorderdata[q]._id == datapurchase[d].orderId){ %>                             
                                              <option value="<%= loadorderdata[q]._id %>" selected><%= loadorderdata[q]._id %>
                                              </option>
                                              <% } %>

                                          
                                            </select>
                                          </div>
                                      </div>
                                    </div>
                                  </div> 

                                    <% } %>

                                  <script type="text/javascript">
                                    
                                      $( "#selectbox" ).change(function() {

                                        var LoadId = $('#selectbox').val();

                                         $.ajax({
                                          
                                          type:'get',

                                          url:'/checkSupplierState',// put your real file name 

                                          data:{supId: LoadId},

                                          success:function(data){
                
                                          if(data["state"] == "Madhya Pradesh"){

                                                document.getElementById("cgstt").style.display = "block";
                                                document.getElementById("cgsttVal").style.display = "block";

                                                $('.igsttValhide').css('display','none');
                                                
                                                $('#IgstRow').css('display','none');
                                                
                                                document.getElementById("sgstt").style.display = "";
                                                document.getElementById("sgsttVal").style.display = "";
                                                
                                                document.getElementById("igstt").style.display = "none";
                                                document.getElementById("igsttVal").style.display = "none";


                                          } else {

                                                document.getElementById("cgstt").style.display = "none";
                                                document.getElementById("cgsttVal").style.display = "none";

                                                document.getElementById("sgstt").style.display = "none";
                                                document.getElementById("sgsttVal").style.display = "none";

                                                document.getElementById("igstt").style.display = "block";
                                                document.getElementById("igsttVal").style.display = "block";

                                                $('.cgsttValhide').css('display','none');
                                                $('.sgsttValhide').css('display','none');

                                                $('#CgstRow').css('display','none');
                                                $('#SgstRow').css('display','none');

                                                }

                                                }

                                            });
                                          
                                         }) . trigger("change") // extra call 
                                  </script>

                                  <table id="myTable" class="table order-list">
                                    <thead>
                                      <tr>
                                        <!-- <td>Serial Number</td> -->
                                        <td>Description Of Goods</td>
                                        <td>Cost Price</td>
                                        <td>Taxability in %</td>
                                        <td>HSN Code</td>
                                        <td>Qty</td>
                                        <td>Price</td>
                                        <td>Per</td>
                                        <td>Discount in %</td>
                                        <td>Taxable Amount</td>
                                        <td id="cgstt" style="width: 40px;">CGST</td>
                                        <td id="sgstt" style="width: 40px;">SGST</td>
                                        <td id="igstt" style="width: 40px;">IGST</td>
                                        <td>Total Amount</td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var q = 0; q < datapurchaseitem.length; q++) if(datapurchaseitem[q].purchaseId == supId) { %>
                                        <tr>
                                          <% for (var t = 0; t < dataproduct.length; t++) if(dataproduct[t]._id == datapurchaseitem[q].partId) { %>
                                        <td><%=dataproduct[t].partName %></td>
                                          <% } %>
                                        <td><%=datapurchaseitem[q].SellPrice %></td>
                                        <td><%=datapurchaseitem[q].Tax %></td>
                                        <td><%=datapurchaseitem[q].Discount %></td>
                                        <td><%=datapurchaseitem[q].Quantity %></td>
                                        <td><%=datapurchaseitem[q].Price %></td>
                                        <td><%=datapurchaseitem[q].Per %></td>
                                        <td><%=datapurchaseitem[q].DiscountAmnt %></td>
                                        <td><%=datapurchaseitem[q].TotalAmnt %></td>
                                        <td id="cgsttVal" class="cgsttValhide" style="width: 40px;"><%=datapurchaseitem[q].Cgst %></td>
                                        <td id="sgsttVal" class="sgsttValhide" style="width: 40px;"><%=datapurchaseitem[q].Sgst %></td>
                                        <td id="igsttVal" class="igsttValhide" style="width: 40px;"><%=datapurchaseitem[q].Igst %></td>
                                        <td><%=datapurchaseitem[q].TotalAmntData %></td>

                                        </tr>
                                          <% } %>
                                    </tbody>
                                    <tfoot>
                                      <tr>
                                      </tr>

                                        <% for (var d = 0; d < datapurchase.length; d++) if(datapurchase[d]._id == supId) { %>
                                       <tr>
                                          <td colspan="5" class="text-center" style="text-align: left;">Taxable Amount Total</td>
                                          <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceAmnt"><%=datapurchase[d].GrandTotalAmnt %></span></td>
                                      </tr>
                                      <tr id="CgstRow">
                                          <td colspan="5" class="text-center" style="text-align: left;">CGST Total</td>
                                          <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceCgst"><%=datapurchase[d].CgstTotalAmnt %></span></td>
                                      </tr>
                                      <tr id="SgstRow">
                                          <td colspan="5" class="text-center" style="text-align: left;">SGST Total</td>
                                          <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceSgst"><%=datapurchase[d].SgstTotalAmnt %></span></td>
                                      </tr>
                                       <tr id="IgstRow">
                                          <td colspan="5" class="text-center" style="text-align: left;">IGST Total</td>
                                          <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceIgst"><%=datapurchase[d].IgstTotalAmnt %></span></td>
                                      </tr>
                                      <tr>
                                          <td colspan="5" class="text-center" style="text-align: left;">Total Decimal Amount</td>
                                          <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceFinalroundAmnt"><%=datapurchase[d].TotalDecimalAmnt %></span></td>
                                      </tr>
                                      <tr>
                                          <td colspan="5" class="text-center" style="text-align: left;">Round Off</td>
                                          <td colspan="5" class="text-center" style="text-align: left;"><span id="roundfigureamount"><%=datapurchase[d].EditAmount %></span></td>
                                      </tr>
                                      <tr>
                                          <td colspan="5" class="text-center" style="text-align: left;">Total Amount</td>
                                          <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceFinalAmnt"><%=datapurchase[d].FinalTotalAmnt %></span></td>
                                      </tr>
                                      <% } %>

                                 
                                      <tr>
                                        <td><button><a href="purchase-list">Back </a></button></td>
                                      </tr>
                                    </tfoot>
                                  </table>                   

                                </form>
                                      
                              </div>

                            </div>

                          </div>

                        </div>

                      </div>

                    </div>
                    
                  </div>
                  
                </div>
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    <style type="text/css">
          a.newlogocss{
                  margin-left: 20px;
            }

           .navbar-brand{
           padding: 15px !important;
           }
              
              .dropdown.open .dropdown-toggle{
                background-color: #fff !important;
              }
             .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
                outline: thin dotted;
                outline: none;
                outline-offset: -2px;
            }
                 .navbar-inverse .navbar-toggle {
                border-color:  #ffffff;
            }
            .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

              color: #999;
            }
            .nav .dropdown-toggle .caret {
                margin-top: 6px;
                border-top-color: #020202 !important;
                border-bottom-color: #121213 !important;
            }
            .modal {
               /* width: 100%;
                margin-left: 0px;*/
                background-color: rgba(92, 92, 92, 0.03);
                border: 0px;
            }
            .modal-body {
               
                 padding: 0px; 
                overflow-y: inherit; 
              }
            /*.dropdown-toggle ng-binding
            {
            background-color: #ffffff !important;
            }*/


          @media (min-width: 414px){
           .navbar-brand{
            font-size: 25px !important;
           }
             }

          @media (min-width: 320px) and (max-width: 320px){
           .navbar-brand{
               font-size: 15px !important;
              padding: 0px;
                margin: 14px 0px 0px 25px !important;
          }
    </style>
  </body>
</html>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script>  
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
    <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
 
    <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
      height: 30px;
        width: 80%; 
      }

      textarea{
             width: 80%;
       
      }
      .modal-backdrop, .modal-backdrop.fade.in {
          opacity: 0;
          filter: alpha(opacity=80);
      }
    </style>
<%- include partials/footer_userdashboard %>


                                      

                               
                                        