<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!-- <button type="button" id="paymentclick">pay amount</button>
 -->
<script type="text/javascript">
	
	var options = {
//     "key": "rzp_test_9CnkHmFfF8qiED",
	"key" : "rzp_live_Lj1CPCTkbuDIlb",
    "amount": "<%= finaldata.hdnCartTotal * 100 %>", 
    // "amount" : "100",
// Example: 2000 paise = INR 20
    "name": "<%= finaldata.shipfname %>",
    "description": "Poycard amount",
    "image": "img/logo.png",// COMPANY LOGO    
    "handler": function (response) {
//         alert(JSON.stringify(response.razorpay_payment_id));
		// alert("<%= finaldata._id %>");

		var datayurs = JSON.stringify(response.razorpay_payment_id);

		var diksshatds = datayurs.replace(/['"]+/g, '');

		// alert(diksshatds);

		 localStorage.clear();


        window.location.href = "/razorpayupdate?orderid=<%= finaldata._id %>&paymentId="+diksshatds+"&email=<%= finaldata.shipemail %>";

// {"razorpay_payment_id":"pay_ClzdBEsHcXl2Jl"}
        // AFTER TRANSACTION IS COMPLETE YOU WILL GET THE RESPONSE HERE.
    },
    "prefill": {
        "name": "<%= finaldata.shipfname %>", // pass customer name
        "email": '<%= finaldata.shipemail %>',// customer email
        "contact": '<%= finaldata.shipphone %>' //customer phone no.
    },
    "notes": {
        "address": "<%= finaldata.autocomplete %>" //customer address 
    },
    "theme": {
        "color": "#15b8f3" // screen color
    }
};
// console.log(options);
var propay = new Razorpay(options);
propay.open();
</script>
