﻿  <%- include partials/header_userdashboard %>

 
    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
                    <ul class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

                 
                  <li ng-class="{active: activeTab === 'subscription'}"><a href="subscription" ><i class="fa fa-user"  aria-hidden="true"></i> My Subscription</a></li>



                    <li ng-class="{active: activeTab === 'order'}"><a href="order" ><i class="fa fa-user"  aria-hidden="true"></i> My Order</a></li>


                     <% if (user.user_role === 'admin') { %>
                    <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                    <li ng-class="{active: activeTab === 'managetransaction'}" class="active"><a href="managetransaction"><i class="fa fa-user"  aria-hidden="true"></i> Transaction Managment</a></li>
                    <li ng-class="{active: activeTab === 'symptom-admin'}"><a href="symptom-admin"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                    <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list" ><i class="fa fa-user-md"  aria-hidden="true"></i> Our Products</a></li>
                     <li ng-class="{active: activeTab === 'admin'}"><a ui-sref="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                     <li ng-class="{active: activeTab === 'add-symptoms'}"><a href="add-symptoms" ><i class="fa fa-user-md"  aria-hidden="true"></i> Add Symptoms</a></li>
                     <li ng-class="{active: activeTab === 'manage-symptoms'}"><a href="manage-symptoms"><i class="fa fa-user-md"  aria-hidden="true"></i> Manage Symptoms</a></li>
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                     <li ng-class="{active: activeTab === 'consult'}"><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                      <li ng-class="{active: activeTab === 'review-consult'}"><a href="review-consult"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                      <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                        
                    </div>
                        <div class="span9 " style="height: 750px;">
                                   
                                   
                     
                            <!-- BEGIN PAGE HEADER-->   
                            <div class="row-fluid" style="margin-top: 20px;">
                               
                            </div>
                            <!-- END PAGE HEADER-->
                            <!-- BEGIN PAGE CONTENT-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN SAMPLE FORM PORTLET-->  

                                      
                                <div class="flash-message" ng-if="flash">
                                                <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                                     </div> 
                                    
                                    <div class="portlet box blue tabbable">
                                        <div class="portlet-title">
                                            <div class="caption">
                                             
                                                <span class="hidden-480">Orders List</span>
                                            </div>
                                        </div>

                                         <div class="portlet-body form">
                                            <div class="tabbable portlet-tabs" id="portlet_tab1">

                                            
                                                        <div class="control-group" style="text-align: center;">
                                                         <h4><b> Your Order Id - <%= orderid %></b></h4>                                                        </div>         
              <input type="hidden" class="form-control"  ng-model="total = 0 " readonly />
              <input type="hidden" class="form-control"  ng-model="grandtotal = 0 " readonly />

          <table datatable="ng" id="example" class="table table-striped table-bordered" width="100%" ui-jq="datatable" ui-options="options">
                                            <thead>
                                              <tr>
                                            
                                                <th>Product Name</th>
                                                <th>Product Price</th>
                                                <th>Product Quantity</th>
                                              
                                              </tr>
                                            </thead>
                                            <tbody>
                                           <% for (var i = 0; i < data.length; i++) { %>

                                              <tr>
                                                <td><%= data[i].productname %></td>
                                                <td>$<%= data[i].productprice %></td>
                                                <td><%= data[i].productqty %></td>
                                               
                                              </tr>
                                              <% } %>
                                             
                                            </tbody>
                                          </table>
                                            <hr>
                                          <table>
                                          <tbody>
                                             <% for (var i = 0; i < datatransaction.length; i++) if(datatransaction[i].orderid == orderid) { %>
                                             <tr>
                                              <td style="display: block;margin-right: 150px;">Total Amount Refund :</td>
                                              <td>$<%= datatransaction[i].amount * 0.01 %></td>
                                              </tr>
                                                <% } %>
                                               </tbody>
                                          </table>
                                          <hr>
                                                 


                                   <% for (var i = 0; i < datatransaction.length; i++) if(datatransaction[i].orderid == orderid){ %>
                                       <form action="/refundreturn" method="POST"  style="height: 400px;"> 


                                        <% if(!datatransaction[i].refundId) { %>
                                         <h4 style="text-align: center;">Click for Refund</h4>
                                         <% } %>

                                          <input type="text" id="orderid" name="orderid" class="form-control" value="<%= datatransaction[i].orderid %>" required style="display: none;" />

                                          <input type="text" id="_id" name="_id" class="form-control" value="<%= datatransaction[i]._id %>"  placeholder="Email" style="display: none;" required/>


                                           <input type="text" id="userid" name="userid" class="form-control" value="<%= datatransaction[i].userid %>"  placeholder="Email" style="display: none;" required/>

                                           <input type="text" id="paymentId" name="paymentId" class="form-control" value="<%= datatransaction[i].paymentId %>"  style="display: none;"  placeholder="Email" required/>


                                    <div class="control-group" style="text-align: center;">
                                   
                                       <input class="btn theme-btn" type="submit" value="Create Refund" id="refund" name="refund" style="text-align: center;">
                                      

                                       <% if(!datatransaction[i].refundId == '') { %>

                                       <h4>You Already Applied For Refund !!!!</h4>

                                      <% } %>
                    
                                 </div>           

                                         </form>
                                       <% } %>   

                                       
<!--<script type="text/javascript">

   var total = 0;
    document.getElementById("productqty").textContent=qty;
    document.getElementById("productprice").textContent=price;

   var total = total + qty * price;
   alert(total);

</script>-->
        
                                                   


                                           


                                          </div>
                                        </div>
                                    </div>
                                   
   
                                </div>
                            </div>
                                    <!-- END SAMPLE FORM PORTLET-->



                        </div>
                </div>
                <!-- END PAGE CONTENT-->         
          
                    
            </div>
    
  
</div>
  <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>
 
</body>
<!-- END BODY -->
</html>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>

 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 

<!--     <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
 -->
    <!-- <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
 
  <!--  <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
 

  




 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
 height: 30px;
    width: 80%;
}

textarea{
       width: 80%;
 
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
    filter: alpha(opacity=80);
}


 </style>


    <%- include partials/footer_userdashboard %>
