    <%- include partials/header_userdashboard %>

 
    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
                    <ul class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a ui-sref="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

                 
                  <li ng-class="{active: activeTab === 'subscription'}"><a href="subscription" ><i class="fa fa-user"  aria-hidden="true"></i> My Subscription</a></li>



                    <li ng-class="{active: activeTab === 'order'}"><a href="order" ><i class="fa fa-user"  aria-hidden="true"></i> My Order</a></li>


                     <% if (user.user_role === 'admin') { %>
                    <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                    <li ng-class="{active: activeTab === 'managetransaction'}"><a href="managetransaction"><i class="fa fa-user"  aria-hidden="true"></i> Transaction Managment</a></li>
                    <li ng-class="{active: activeTab === 'symptom-admin'}"><a href="symptom-admin"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                    <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list" ><i class="fa fa-user-md"  aria-hidden="true"></i> Our Products</a></li>
                     <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                     <li ng-class="{active: activeTab === 'add-symptoms'}"><a href="add-symptoms" ><i class="fa fa-user-md"  aria-hidden="true"></i> Add Symptoms</a></li>
                     <li ng-class="{active: activeTab === 'manage-symptoms'}"><a href="manage-symptoms"><i class="fa fa-user-md"  aria-hidden="true"></i> Manage Symptoms</a></li>
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                     <li ng-class="{active: activeTab === 'consult'}"><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                      <li ng-class="{active: activeTab === 'review-consult'}" class="active"><a href="review-consult"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                      <% } %>
					  <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                        
                    </div>

                            <!--<li ng-class="{active: activeTab === 'admin'}"><a ui-sref="admin" ><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                            <li ng-class="{active: activeTab === 'order'}"><a ui-sref="order" ><i class="fa fa-first-order"  aria-hidden="true"></i> Order Management</a></li>-->

            
                    
                         <div class="span9 " style="height: 900px;">
                              
                            <!-- BEGIN PAGE HEADER-->   
                            <div class="row-fluid" style="margin-top: 20px;">
                              <div class="span12">
                            
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                            <h6 class="page-title" style="font-size: 18px;">
                                  <%= user.firstName %>'s Profile !!!!
                                </h6>
                            </div>
                               
                            </div>
                            <!-- END PAGE HEADER-->
                            <!-- BEGIN PAGE CONTENT-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN SAMPLE FORM PORTLET-->   
                                    <div class="flash-message" ng-if="flash">
                                                <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                                     </div>
                                    <div class="portlet box blue tabbable">
                                        <div class="portlet-title">
                                            <div class="caption">
                                             
                                                <span class="hidden-480">Orders List</span>
                                            </div>
                                        </div>

                                         <div class="portlet-body form">
                                            <div class="tabbable portlet-tabs" id="portlet_tab1">

                                            
                                                        <div class="control-group" style="text-align: center;">
                                                         <h4><b> Your Order Id - <%= consultid %> </b></h4>

                                                        </div>         
                                                   <% for (var i = 0; i < data.length; i++) if(data[i]._id == consultid) { %>       
                                                          <form class="form-horizontal" style="height: 300px;">        

                                                          <% for (var j = 0; j < datauser.length; j++) if(datauser[j]._id == data[i].user_id) { %>   


                                                                
                                                                 <div class="control-group">
                                                                    <label class="control-label"> Name</label>
                                                                    <div class="controls">


                                                                       <input type="text" id="firstName" name="firstName" class="form-control" value="<%= datauser[j].firstName %>" readonly  />
                                                                    </div>
                                                                   
                                                                </div>

                                                            <% } %>    
                                                                <div class="control-group">
                                                                    <label class="control-label">Problem</label>
                                                                    <div class="controls">

                                                                        <input type="text" name="problem" class="form-control" value="<%= totalconsultproblems[i] %>" readonly />


                                                                    </div>
                                                                </div>
                                                                <div class="control-group">
                                                                    <label class="control-label">Problem Area</label>
                                                                    <div class="controls">
                                                     <input type="text" name="problemarea" value="<%= totalconsultproblemareas[i] %>" class="form-control" readonly />
                                                                    </div>
                                                                </div>

                                                              

                                                                <div class="control-group">
                                                                    <label class="control-label">Problem Detail</label>
                                                                    <div class="controls">
                                                                    <textarea  class="form-control"  rows="3" readonly><%= totalconsultproblemdetails[i] %></textarea>
                                                                    </div>
                                                                </div>

                                  </form>

                                
                                  
                                  
                                 

                                 <form action="reply-consult-insert" class="form-horizontal" method="post" enctype="multipart/form-data" style="height: 210px;">
                                          

                                                        <div class="control-group" style="text-align: center;">
                                                         <h4><b> Doctor's Reply </b></h4>

                                                        </div>         


                                              <div class="flash-message" ng-if="flash">
          <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
         </div>


                                          

                                                       <div class="control-group">
                                                                <label class="control-label">Product Name</label>
                                                                <div class="controls">
                                                                <select multiple="multiple" class="js-example-basic-single" name="product_id[]" required="required" style="width:80%;">
                                                                <option>Select Product Name</option>
                                                                 <% for (var k = 0; k < dataproduct.length; k++) { %> 
                                                                  <option value="<%= dataproduct[k]._id %>">
                                                                    <%= dataproduct[k].productname %>
                                                                  </option>
                                                                  <% } %>
                                                                </select>
                                                                    
                                                                </div>
                                                            </div>


                            <div class="control-group">
                            <label class="control-label">Product Description</label>
                            <div class="controls">
                                 <textarea type="text" name="comment" class="form-control" required></textarea>
                            </div>
                        </div>

                          <div class="control-group">
                            <label class="control-label">Frequency 1</label>
                            <div class="controls">
                                 <input type="text" name="frequency1" class="form-control" required>
                            </div>
                        </div>

                          <div class="control-group">
                            <label class="control-label">Frequency 2</label>
                            <div class="controls">
                                 
                                <input type="text" name="frequency2" class="form-control" required>
                            </div>
                        </div>


<input type="text" style="display: none;" name="consult_status" value="Answered">
<input type="text" style="display: none;"  name="consult_id" value="<%= consultid %>">
<% for (var j = 0; j < datauser.length; j++) if(datauser[j]._id == data[i].user_id) { %>
 <input type="text" style="display: none;"  name="user_id" class="form-control" value="<%= datauser[j]._id %>" readonly  />

 <input type="text" style="display: none;"  name="email" class="form-control" value="<%= datauser[j].local.email %>" readonly  />

 <% } %>
                                                              

                                                           <div class="row-fluid">
                                                             <div class="span4"></div>
                                                             <div class="span3">
                                                               <button type="submit" class="btn theme-btn"  style="display: block;margin: 0 auto;"> <i class="fa fa-check"></i>Consult Reply</button>
                                                             </div>
                                                             <div class="span3">
                                                             <a href="account"><button style="text-decoration: none;outline: 0 none;" class="btn theme-btn"><i class="fa fa-arrow"></i> Cancel</button></a>
                                                                </div>
                                                              <div class="span2"></div>  
                                                                </div>

                                                           
                            
                                    

                                      </form>
                                  
                                    <% } %> 
                                        </div>

                                      
<!--<script type="text/javascript">

   var total = 0;
    document.getElementById("productqty").textContent=qty;
    document.getElementById("productprice").textContent=price;

   var total = total + qty * price;
   alert(total);

</script>-->
        
                                                   


                                           


                                          </div>
                                        </div>
                                    </div>
                                   
   
                                </div>
                            </div>
                                    <!-- END SAMPLE FORM PORTLET-->



                        </div>
                </div>
                <!-- END PAGE CONTENT-->         
          
                    
            </div>
    
  
</div>

 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>
 
</body>
<!-- END BODY -->
</html>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>

 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 

<!--     <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
 -->
    <!-- <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
 
  <!--  <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
 

  




 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
 height: 30px;
    width: 80%;
}

textarea{
       width: 80%;
 
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
    filter: alpha(opacity=80);
}


 </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        