    <%- include partials/header %>
   <style type="text/css">
    .orign-worldex{
        text-align: justify;
    }
  
</style>
  <div id="hpage">           

              <br>
            
          <section id="about-worldex">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading orign" style="text-align: center;">
                    <h2>HPLC</h2>
                    

                     </div>
                      <div class="col-md-12">
                        <div class="col-md-9">
                        <div class="panel">
                           
                            <div class="panel-body orign" style="padding-top:0px">
                    <ul class="pager" style="padding :0px;">
                    <li class="previous"><a href="/res-herbal"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Herbal Therapy</a></li>
                    <li class="next"><a href="/res-organic">Organic&nbsp;<i class="fa fa-forward" aria-hidden="true"></i></a></li>
                    </ul>
                      <div class="about-item">
                          <p class="orign-worldex"> High-performance liquid chromatography (or high-pressure liquid chromatography, HPLC) is a chromatographic technique that can separate a mixture of compounds and is used in biochemistry and analytical chemistry to identify, quantify and purify the individual components of the mixture.</p>
                      </div>   
                            </div>
                        </div>
                      </div>
                        <div class="col-md-3">

                         <div class="panel">
                           
                            <div class="panel-body orign">
                               <div class="about-item">
                            <img src="/assets_home/img/chromatogram_3d_2.jpg" align="right" class="img-responsive sp-effect5" align="right" style="width:200px;height:150px;padding-left: 20px;padding-bottom :3px;">
                      
                            <br>
                            
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                     
                  </div>
             

               
            </div>
        </section>

       
      
     </div>          




  
 
    <%- include partials/footer %>
