    <%- include partials/header_userdashboard %>

 
    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
                    <ul class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

                 
                  <li ng-class="{active: activeTab === 'subscription'}"><a href="subscription" ><i class="fa fa-user"  aria-hidden="true"></i> My Subscription</a></li>



                    <li ng-class="{active: activeTab === 'order'}"><a href="order" ><i class="fa fa-user"  aria-hidden="true"></i> My Order</a></li>


                     <% if (user.user_role === 'admin') { %>
                    <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                    <li ng-class="{active: activeTab === 'managetransaction'}"><a href="managetransaction"><i class="fa fa-user"  aria-hidden="true"></i> Transaction Managment</a></li>
                    <li ng-class="{active: activeTab === 'symptom-admin'}"><a href="symptom-admin"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                    <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list" ><i class="fa fa-user-md"  aria-hidden="true"></i> Our Products</a></li>
                     <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                     <li ng-class="{active: activeTab === 'add-symptoms'}"><a href="add-symptoms" ><i class="fa fa-user-md"  aria-hidden="true"></i> Add Symptoms</a></li>
                     <li ng-class="{active: activeTab === 'manage-symptoms'}"><a href="manage-symptoms"><i class="fa fa-user-md"  aria-hidden="true"></i> Manage Symptoms</a></li>
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                     <li ng-class="{active: activeTab === 'consult'}" ><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                      <li ng-class="{active: activeTab === 'review-consult'}"  class="active"><a href="review-consult"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                      <% } %>
					  <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                        
                    </div>

                            <!--<li ng-class="{active: activeTab === 'admin'}"><a ui-sref="admin" ><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                            <li ng-class="{active: activeTab === 'order'}"><a ui-sref="order" ><i class="fa fa-first-order"  aria-hidden="true"></i> Order Management</a></li>-->

            
                            <div class="span9 " style="height: 800px;">
                                   
                                   
                     
                            <!-- BEGIN PAGE HEADER-->   
                            <div class="row-fluid" style="margin-top: 20px;">
                                <div class="span12">
                            
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                            <h6 class="page-title" style="font-size: 18px;">
                                  <% if (user.local.email){ %>
                                        <%= user.firstName %>
                                    <% } else if (user.google.token) { %>  
                                           <%= user.google.name %>
                                    <% } else { %>
                                          <%= user.facebook.name %> 
                                      <% } %>  
                                </h6>
                            </div>
                               
                            </div>
                            <!-- END PAGE HEADER-->
                            <!-- BEGIN PAGE CONTENT-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN SAMPLE FORM PORTLET-->   
                                    
                                    <div class="portlet box blue tabbable">
                                        <div class="portlet-title">
                                            <div class="caption">
                                             
                                                <span class="hidden-480">Consult Data Detail</span>
                                            </div>
                                        </div>



                                         <div class="portlet-body form">
                                            <div class="tabbable portlet-tabs" id="portlet_tab1">
                                           <form id="myform" style="overflow-x: auto;overflow-y: auto;" method="post">
                                              <div class="form-control">
                          <input type="text" class="search form-control" style="margin: 10px;height: 35px;width: 80%;" placeholder="Search By: Problem,Problem Detail,Problem Description,Id" />
                          <i class="fa fa fa-search" aria-hidden="true"></i>
                                               </div>

                                              <table datatable="ng" id="example" class="table table-striped table-bordered" width="100%" ui-jq="datatable" ui-options="options" >
                                             <thead>

                                                  <tr>
                                                      <!--<th onclick="SortTable(0);" href="javascript:;">Id  <i class="fa fa-fw fa-sort"></i></th>-->
                                                      <th>User Name</th>
                                                      <th onclick="SortTable(1);" href="javascript:;">Problem <i class="fa fa-fw fa-sort"></i></th>
                                                      <th onclick="SortTable(2);" href="javascript:;">Problem Area  <i class="fa fa-fw fa-sort"></i></th>
                                                      <th onclick="SortTable(3);" href="javascript:;">Problem Detail  <i class="fa fa-fw fa-sort"></i></th>
                                                      <th onclick="SortTable(4);" href="javascript:;">Date <i class="fa fa-fw fa-sort"></i></th>
                                                      <th>Reply Status</th>
                                                       <th>Read/Unread</th>
                                                   <!--    <th>Total Reply</th> -->
                                                      <th>Image</th>

                                                      <th>Action</th>
                                                  </tr>
                                              </thead>
                                            
                                              <tbody>

          <% for (var i = 0; i < data.length; i++) { %>
        

            <tr> 

              

                                                      <td style="display: none;" id="updatedid"><%= data[i]._id %></td>

                                                     <td><%= user.firstName %></td>
                                                      <td><%= totalconsultproblems[i] %></td>
                                                      <td><%= totalconsultproblemdetails[i] %></td>
                                                      <td><%= totalconsultproblemareas[i] %></td>
                                                      <td><%= data[i].datetime %>
                                                         
                                                        
                                                    
                                                      </td>
                                                       <% if (data[i].consult_status != 'Answered'){ %>
                                                      <td> Unanswered</td>
                                                      <% } else { %>
                                                      <td><%= data[i].consult_status %></td>
                                                       <% } %>

                                                      <% if (data[i].read_status != '1'){ %>
                                                       <td style="color: red;"> Unread</td>
                                                       <% } else { %>
                                                      <td style="color: green;">Read</td>
                                                       <% } %>
                                                  
                                                      <td> 
                                                      
                                                      <div class="popup">
                                                         <img src="/uploads/consults/<%= totalconsultimages[i] %>" style="width: 10px; height: 14px;">
                                                      </div>
                                                      <div class="show">
                                                          <div class="overlay"></div>
                                                          <div class="img-show">
                                                            <span style="color: #000;">X</span>
                                                            <img src="">
                                                          </div>
                                                      </div>
                                                  

                                                    </td>
                                                 
                                                     <td><a href="reply-consult?id=<%= data[i]._id %>"><i class="fa fa-reply" aria-hidden="true" style="font-size: 20px"></i></a>
                                                    </td>

                                    
                                                       <td><a href="delete-consult?consultid=<%= data[i]._id %>"><i class="fa fa-fw fa-trash"></i></a>
                                                        
                                                       </td>
                                                     
                                                  </tr>
                                                  
                                             <% } %>     

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>                                              
                              
                                              </tbody>
                                          </table>


                            
                                    

                                      </form>


<!--End image popup-->
 <style type="text/css">
   .popup{
    margin: auto;
   
}
.popup img{
    width: 200px;
    height: 200px;
    cursor: pointer
}
.show{
    z-index: 999;
    display: none;
}
.show .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}
.show .img-show{
    width: 600px;
    height: 400px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
.img-show span{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
.img-show img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/*End style*/

 </style>   
 <script type="text/javascript">
   $(function () {
    "use strict";
    
    $(".popup img").click(function () {
        var $src = $(this).attr("src");
        $(".show").fadeIn();
        $(".img-show img").attr("src", $src);
    });
    
    $("span, .overlay").click(function () {
        $(".show").fadeOut();
    });
    
});
 </script>


                                          </div>
                                        </div>
                                    </div>
                                   
   
                                </div>
                            </div>
                                    <!-- END SAMPLE FORM PORTLET-->



                        </div>
                </div>
                <!-- END PAGE CONTENT-->         
          
                    
            </div>
    
  
</div>
</div>


 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>
 
</body>
<!-- END BODY -->
</html>
  <script type="text/javascript">


$('.search').keyup(function(){
 var val=$(this).val();    
        $('table tbody tr').hide();
         var trs=$('table tbody tr').filter(function(d){
         return $(this).text().toLowerCase().indexOf(val)!=-1;
         });
         trs.show();   
});
  </script>
 <script type="text/javascript">

var sortedOn = 0;
function SortTable(sortOn) {
var table = document.getElementById('example');
var tbody = table.getElementsByTagName('tbody')[0];
var rows = tbody.getElementsByTagName('tr');
var rowArray = new Array();
for (var i=0, length=rows.length; i<length; i++) {
rowArray[i] = new Object;
rowArray[i].oldIndex = i;
rowArray[i].value = rows[i].getElementsByTagName('td')[sortOn].firstChild.nodeValue;
}
if (sortOn == sortedOn) { rowArray.reverse(); }
else {
sortedOn = sortOn;

if (sortedOn == 0) {
rowArray.sort(RowCompareNumbers);
}
else {
rowArray.sort(RowCompare);
}
}
var newTbody = document.createElement('tbody');
for (var i=0, length=rowArray.length ; i<length; i++) {
newTbody.appendChild(rows[rowArray[i].oldIndex].cloneNode(true));
}
table.replaceChild(newTbody, tbody);
}
function RowCompare(a, b) {
var aVal = a.value;
var bVal = b.value;
//return (aVal == bVal ? 0 : (aVal < bVal ? -1 : 1));
return aVal.localeCompare(bVal);
}
// Compare number
function RowCompareNumbers(a, b) {
var aVal = parseInt( a.value);
var bVal = parseInt(b.value);
return (aVal - bVal);
}
// compare currency
function RowCompareDollars(a, b) {
var aVal = parseFloat(a.value.substr(1));
var bVal = parseFloat(b.value.substr(1));
return (aVal - bVal);
}

 </script>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>

 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 

<!--     <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
 -->
    <!-- <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
 
  <!--  <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
 

  




 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
 height: 30px;
    width: 80%;
}

textarea{
       width: 80%;
 
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
    filter: alpha(opacity=80);
}


 </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        