    <%- include partials/header_userdashboard %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript" >
   function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link href="/assets/css/select_min.css" rel="stylesheet" type="text/css" /> 
           
<script type="text/javascript" href="/js/categories.js"></script>
    <div class="row-fluid">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
 <!-- <div class="row" style="background: #f0f0f5;">
        <div class="container"> -->

                <div class="container-fluid" style="background-color: #f0f0f5;">
                    <div class="span2 sidebar-content ">
                        <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                            <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                  <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

                  <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                  <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                  <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                 
                  <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>

                  <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>

                  <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>

                  <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>

                  <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 

                  <ul> <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                      
                    </ul>
                  </li>
                       
                  <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                  <li ng-class="{active: activeTab === 'purchasereturn-list'}" ><a href="purchasereturn-list"><i class="fa fa-plus"  aria-hidden="true"></i>Purchase Return</a></li>

                  
                  <li ng-class="{active: activeTab === 'sales-list'}" class="active"><a href="sales-list"><i class="fa fa-plus"  aria-hidden="true"></i> Sales Management</a></li>

                  <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Return</a></li>


                  <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>

                  <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                  <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                   
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                    
                      <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                    </div>
            <style type="text/css">
                #nav li ul { display: none; list-style:none;}
            </style>

            <script type="text/javascript">
              $("#nav li a").on("click", function (e) {
              //allow links to be followed if they don't have a sub-menu
              if ( !$(this).parent().has("ul").length ) { return; }

              //we have a sub-menu, so stop the link from being followed
              e.preventDefault();

              if(!$(this).hasClass("open")) {
                  //we need to know which 'level' we're on 
                  var currentLevel = $(this).closest('ul')
                  $("li ul", currentLevel).slideUp(350);
                  $("li a", currentLevel).removeClass("open");

                  // open our new menu and add the open class
                  $(this).next("ul").slideDown(350);
                  $(this).addClass("open");
              } else {
                  $(this).removeClass("open");
                  $(this).next("ul").slideUp(350);
                  }
              });
            </script>
                          

            
                    
                          <div class="span10" style="height: 1200px;overflow-y: scroll;">
                        <!-- BEGIN PAGE HEADER-->
                          <div class="row-fluid">
                            <div class="span12">
                            
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                            <h6 class="page-title" style="font-size: 18px;">
                                  

                                  <% if (user.local.email) { %>
                                      <%= user.firstName %>'s Profile !!!!

                                   <% } %>

                                   <% if (user.google.token) { %>

                                      <%= user.google.name %> Profile !!!!
                
                                    <% } %>

                                     <% if (user.facebook.token) { %>
                   
                                    <%= user.facebook.name %> Profile !!!!

                                    <% } %> 
                                </h6>
                            </div>
                        </div>
                        <!-- END PAGE HEADER-->
                       


                           <div class="row-fluid">
                      <div class="span12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->   
                        
                        <div class="portlet box blue tabbable">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="hidden-480">Add Sales</span>
                                </div>
                            </div>

                            <div class="portlet-body form">
                                <div class="tabbable portlet-tabs">
                                    
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="portlet_tab1" style="overflow-y: scroll">

<form class="form-horizontal" method="post" action="sales-insert">
  <div class="span12"></div>
  <div class="span12">
    <div class="span6">
       <div class="control-group">
                      <label class="control-label">Voucher No</label>
                        <div class="controls">
     

      <%

        var voucher = voucherNoData 

      %>

      <script type="text/javascript">
        
        var str = "<%= voucher %>";
          
          var str2 = str.replace(/\D/g, "");
             
          var str3 = str2.slice(0, -4);

          var str4 = parseInt(str3) + 1;

            window.onload = function () {

              document.getElementById("kkee").value = "S"+str4+"/19/20";
              document.getElementById("invoiceid").value = "S"+str4+"/19/20";
        

            }

      </script>

          <% if(!loadsalesdata[0]){ %>

            <input type="text" name="voucherNo" value="S1000001/19/20" />

          <% } else { %>
        
            <input type="text" name="voucherNo" id="kkee"/>
   
          <% } %>
        </div>
        </div> 
    </div>
    <div class="span6">
        <div class="control-group">
          <label class="control-label">Date</label>
            <div class="controls">
              <input type="text" id="demodate" readonly/>
                <script>
                  var dates =  new Date();    
                  document.getElementById("demodate").value = dates;
                </script>
            </div>
        </div>   

    </div>
  </div>
   <div class="span12">
    
    <div class="span6">
      <div class="control-group">
      <label class="control-label">Invoice no</label>
        <div class="controls">
          <% if(!loadsalesdata[0]){ %>

            <input type="text" name="invoiceNo" value="S1000001/19/20"/>

          <% } else { %>
        
            <input type="text" name="invoiceNo" id="invoiceid" />
     
          <% } %>

        </div>
      </div> 
    </div>

    <div class="span6">
        <div class="control-group">
          <label class="control-label">Supplier Date</label>
          <div class="controls">
            <input type="date" name="SupDate" required="required">
          </div>
        </div>
    </div>   

  </div>
   <div class="span12">

    <div class="span6">
      <div class="control-group">
        <label class="control-label">Select Customer</label>
          <div class="controls">
            <!-- <select class="supFunction form-control" name="supId" required="required">
              <option value="">Select Supplier Name</option>
                <% for (var q = 0; q < loadsupplierdata.length; q++) { %>                             
                <option value="<%= loadsupplierdata[q]._id %>"><%= loadsupplierdata[q].supName %>
                </option>
                <% } %>
            </select> -->

             <select class="supFunction form-control" id="dropdown" name="supId1" required="required">
            <option value="">Select Customer Name</option>
              <% for (var q = 0; q < loaduserdata.length; q++) if(loaduserdata[q].user_role == "user"){ %>                             
              <option value="<%= loaduserdata[q]._id %>"><%= loaduserdata[q].firstName %>
              </option>
              <% } %>
          </select>
          </div>
      </div> 
    </div>

    <script type="text/javascript">
$(document).ready(function(){
    $("select.supFunction").change(function(){
        var selectedCountry = $(this).children("option:selected").val();
        if ($("option:selected", this).val() > "0")
           $(this).attr("disabled", true);
      var truedata = document.getElementById("suplierId").value = selectedCountry;
      // alert(truedata);
    });
});
</script>

<input type="hidden" name="supId" id="suplierId">
      
    <div class="span6">
      <div class="control-group">
        <label class="control-label">Select Order No</label>
          <div class="controls">
            <select class="form-control" required="required" name="orderId">
              <option value="">Select Order No</option>
                <% for (var q = 0; q < loadorderdata.length; q++) { %>                             
                <option value="<%= loadorderdata[q]._id %>"><%= loadorderdata[q]._id %>
                    </option>
            <% } %>
        </select>
        </div>
      </div> 
    </div>
    
  </div>

  <script type="text/javascript">
    
    $(".dates").on("change", function() {
    this.setAttribute(
        "data-date",
        moment(this.value, "YYYY-MM-DD")
        .format( this.getAttribute("data-date-format") )
        )
    }).trigger("change")

  </script>
 
                  
                   
              
                       

 <table id="myTable" class="table order-list">
        <thead>
          <tr>
            <!-- <td>Serial Number</td> -->
            <td>Description Of Goods</td>
            <td>Cost Price</td>
            <td>Tax(%)</td>
            <td>HSN</td>
            <td>Qty</td>
            <td>Selling Price</td>
            <td>Per</td>
            <td>Discount in %</td>
            <td>Taxable Amount</td>
            <td id="cgstt">CGST</td>
            <td id="sgstt">SGST</td>
            <td id="igstt">IGST</td>
            <td>Total Amount</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
            <tr>

              <input type="hidden" name="GrandTotalAmnt" id="totalpriceAmntf">
              <input type="hidden" name="SgstTotalAmnt" id="totalpriceCgstf">
              <input type="hidden" name="CgstTotalAmnt" id="totalpriceSgstf">
              <input type="hidden" name="IgstTotalAmnt" id="totalpriceIgstf">
              <input type="hidden" name="FinalTotalAmnt" id="totalpriceFinalAmntf">
              <input type="hidden" name="TotalDecimalAmnt" id="totalpriceFinalroundAmntf">
              <input type="hidden" name="EditAmount" id="roundfigureamountf"> 
           
            </tr>
         </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: left;">
                  <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                </td>
            </tr>
            <tr>
            </tr>
              <tr>
                <td colspan="5" class="text-center" style="text-align: left;">Taxable Amount Total</td>
                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceAmnt"></span></td>
            </tr>
            <tr id="CgstRow">
                <td colspan="5" class="text-center" style="text-align: left;">CGST Total</td>
                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceCgst"></span></td>
            </tr>
            <tr id="SgstRow">
                <td colspan="5" class="text-center" style="text-align: left;">SGST Total</td>
                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceSgst"></span></td>
            </tr>
             <tr id="IgstRow">
                <td colspan="5" class="text-center" style="text-align: left;">IGST Total</td>
                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceIgst"></span></td>
            </tr>
            <tr>
              <td colspan="5" class="text-center" style="text-align: left;">Total Decimal Amount</td>
              <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceFinalroundAmnt"></span></td>
            </tr>
            <tr>
                <td colspan="5" class="text-center" style="text-align: left;">Round Off</td>
                <td colspan="5" class="text-center" style="text-align: left;"><span id="roundfigureamount"></span></td>
            </tr>
            <tr>
                <td colspan="5" class="text-center" style="text-align: left;">Total Amount </td>
                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceFinalAmnt"></span></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn btn-block" value="Save"></td>
                <td><button><a href="sales">Cancle</a></button></td>
            </tr>
        </tfoot>
    </table>                   

</form>


 <% var rowFrameworkResultInJss =  dataproduct

    var totall = rowFrameworkResultInJss.length

    var finalvals = JSON.stringify(rowFrameworkResultInJss)


    var supplierDetailData = loaduserdata

    var totalSupplier = supplierDetailData.length

    var finalSupplerValue = JSON.stringify(supplierDetailData)


   %>





<script type="text/javascript">

  $(document).ready(function () {
    var counter = 0;


    $(document).on("change", ".supFunction" ,function(){
    
     
      var selectedSupplierValue = this.value;

        
      $("#addrow").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";
       

          var rowFrameworkResultInJs = "<%= rowFrameworkResultInJss %>";
          var totallength = "<%= totall %>";
          var totalfinalvals = "<%= finalvals%>";
          
          var supplierDetailDataSUp = "<%= supplierDetailData %>";
          var totalSupplierlength = "<%= totalSupplier %>";
          var totalfinalSupplerValue = "<%= finalSupplerValue%>";



            $(document).on("change", ".abcc" ,function() {

              var datlistval = this.value;
              var datlist = this.id.substring('6');
              var newdata = totalfinalvals.replace(/&quot;/g,'"');
              var obj = JSON.parse(newdata);
              var lengtht = Object.keys(obj).length; 
                  
              var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');
                  // alert(newdata);

                 var objSupplier = JSON.parse(newdataSupplier);       

                    for (var d = 0; d < obj.length; d++)

                     if(obj[d]._id == datlistval) {

                        document.getElementById("SellingPrice"+ datlist).value=obj[d].price; 
                        document.getElementById("hsnCode"+ datlist).value=obj[d].code;
                        document.getElementById("taxs"+ datlist).value=obj[d].tax;
                         // document.getElementById("pricess"+ datlist).value=obj[d].price; 

                         var TotlQty = document.getElementById("qtyy"+ datlist).value;

                         var TotlPricee = document.getElementById("pricess"+ datlist).value;
                         
                         var DiscountAmnt = document.getElementById("discAmnt"+ datlist).value;

                         document.getElementById("pers"+ datlist).value=obj[d].umState; 

                          var finaldd =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));
                          var cgstAmnt = (finaldd * obj[d].tax /100) * 1/2 ;
                          var sgstAmnt = (finaldd * obj[d].tax /100) * 1/2 ;
                          var igstAmnt = (finaldd * obj[d].tax /100);

                           document.getElementById("cgst"+ datlist).value=cgstAmnt;
                           document.getElementById("sgst"+ datlist).value=sgstAmnt;

                           document.getElementById("igst"+ datlist).value=igstAmnt;
                                            
                            // document.getElementById("totalAmount"+ datlist).value=TotalAmntdata;

                            document.getElementById("singleAmt"+ datlist).value=finaldd;


                        for (var k = 0; k < objSupplier.length; k++)

                        if(objSupplier[k]._id == selectedSupplierValue){
                          
                          if(objSupplier[k].state == "Madhya Pradesh"){

                            document.getElementById("cgst"+ datlist).style.display = "block";
                            document.getElementById("sgst"+ datlist).style.display = "block";
                            document.getElementById("igst"+ datlist).style.display = "none";

                            document.getElementById("IGST1"+ datlist).style.display = "none";
                            document.getElementById("igstt").style.display = "none";
                          
                            // document.getElementById("CgstRow").style.display = "block";
                            // document.getElementById("SgstRow").style.display = "block";
                            document.getElementById("IgstRow").style.display = "none";

                             var TotalAmntdata =  finaldd + cgstAmnt + sgstAmnt;
                            
                            document.getElementById("totalAmount"+ datlist).value=TotalAmntdata;
                            // alert(TotalAmntdata);
                                                       
                          }else{


                            document.getElementById("cgst"+ datlist).style.display = "none";
                            document.getElementById("sgst"+ datlist).style.display = "none";
                            document.getElementById("igst"+ datlist).style.display = "block";

                            document.getElementById("CGST1"+ datlist).style.display = "none";
                            document.getElementById("SGST1"+ datlist).style.display = "none";
                            document.getElementById("cgstt").style.display = "none";
                            document.getElementById("sgstt").style.display = "none";

                            document.getElementById("CgstRow").style.display = "none";
                            document.getElementById("SgstRow").style.display = "none";
                            // document.getElementById("IgstRow").style.display = "block";

                              var TotalAmntdata =  finaldd + igstAmnt;

                            document.getElementById("totalAmount"+ datlist).value=TotalAmntdata;           
                           }
                         }
       

                                var sum = 0;

                            $('.amount').each(function(i, obj){

                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                  sum += parseFloat(this.value);

                                sum = Math.round(sum * 100) / 100 ;

                              }

                            });

                              var sumCgst = 0;

                            $('.Cgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                  sumCgst += parseFloat(this.value);
                                    // alert(sumCgst + " sumCgst");
                                sumCgst = Math.round(sumCgst * 100) / 100 ;
                              }

                            });


                               var sumSgst = 0;

                            $('.Sgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                   sumSgst += parseFloat(this.value);
                                  // alert(sumSgst + " sumSgst");

                                 sumSgst = Math.round(sumSgst * 100) / 100 ; 
                              }

                            });

                              

                                  var sumIgst=0;

                                $('.Igstamount').each(function(i, obj){
                                  
                                    if($.isNumeric(this.value)) {
                                        // alert(this.value);
                                        sumIgst += parseFloat(this.value);
                                        // alert(sumIgst + " sumIgst");
                                      sumIgst = Math.round(sumIgst * 100) / 100 ;  
                                    }

                                });

                                  var sumfinalroundTotal = 0;

                                $('.FinalTotalamount').each(function(i, obj){
                              
                                  if($.isNumeric(this.value)){
                                 
                                    sumfinalroundTotal += parseFloat(this.value);

                                      // sumfinalTotal = Math.round(sumfinalTotal)

                                    sumfinalroundTotal = Math.round(sumfinalroundTotal * 100) / 100 ;  
                                  }

                                });
                                
                                  var sumfinalTotal = 0;

                                  var roundamountt = 0;

                                  var sumfinalTotals = 0;

                                $('.FinalTotalamount').each(function(i, obj){
                              
                                  if($.isNumeric(this.value)){
                                 
                                    sumfinalTotal += parseFloat(this.value);
                                      
                                      sumfinalTotals = Math.round(sumfinalTotal)

                                        // sumfinalTotal = Math.round(sumfinalTotal * 100) / 100 ;  
                                      roundamountt = sumfinalroundTotal - sumfinalTotals;

                                    roundamountt = Math.round(roundamountt * 100) / 100 ;
                                  }

                                });

                                
                          document.getElementById("totalpriceAmnt").textContent=sum;
                          document.getElementById("totalpriceCgst").textContent=sumCgst;
                          document.getElementById("totalpriceSgst").textContent=sumSgst;
                          document.getElementById("totalpriceIgst").textContent=sumIgst;
                          document.getElementById("totalpriceFinalAmnt").textContent=sumfinalTotals;
                          document.getElementById("totalpriceFinalroundAmnt").textContent=sumfinalroundTotal;
                          document.getElementById("roundfigureamount").textContent=roundamountt;
                          
                          document.getElementById("totalpriceAmntf").value=sum;
                          document.getElementById("totalpriceCgstf").value=sumCgst;
                          document.getElementById("totalpriceSgstf").value=sumSgst;
                          document.getElementById("totalpriceIgstf").value=sumIgst;
                          document.getElementById("totalpriceFinalAmntf").value=sumfinalTotals;
                          document.getElementById("totalpriceFinalroundAmntf").value=sumfinalroundTotal;
                          document.getElementById("roundfigureamountf").value=roundamountt;
                        
                      }  
                         
             
                return true;

            });   

            $(document).on("keyup", ".abcalcPriceDiscAmnt" ,function(){

                var datCalculateval1 = this.value;
                   // alert(datCalculateval1);
                  var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');
                  // alert(newdata);

                    var objSupplier = JSON.parse(newdataSupplier);  

                    var datCalculatelist1 = this.id.substring('8');

                
                    var myBox3 = document.getElementById("taxs"+ datCalculatelist1).value;
                    
                    var TotlQty = document.getElementById("qtyy"+ datCalculatelist1).value;

                    var TotlPricee = document.getElementById("pricess"+ datCalculatelist1).value;
                         
                    var DiscountAmnt = document.getElementById("discAmnt"+ datCalculatelist1).value;

                    var final =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                        var finaldd = Math.round(final * 100) / 100 ;

                        var c = (finaldd * myBox3 /100) * 1/2 ;
                        var s = (finaldd * myBox3 /100) * 1/2 ;
                        var i = (finaldd * myBox3 /100);

                        var cgstAmnt = Math.round(c * 100) / 100 ;

                        var sgstAmnt = Math.round(s * 100) / 100 ;

                        var igstAmnt = Math.round(i * 100) / 100 ;

                      document.getElementById("cgst"+ datCalculatelist1).value=cgstAmnt;

                      document.getElementById("sgst"+ datCalculatelist1).value=sgstAmnt;

                      document.getElementById("igst"+ datCalculatelist1).value=igstAmnt;   

                      document.getElementById("singleAmt"+ datCalculatelist1).value=finaldd;

                      for (var k = 0; k < objSupplier.length; k++)
                        
                        if(objSupplier[k]._id == selectedSupplierValue){
                          // alert(objSupplier[k].state);
                          if(objSupplier[k].state == "Madhya Pradesh"){
                            document.getElementById("cgst"+ datCalculatelist1).style.display = "block";
                            document.getElementById("sgst"+ datCalculatelist1).style.display = "block";
                            document.getElementById("igst"+ datCalculatelist1).style.display = "none";

                            // document.getElementById("CgstRow").style.display = "block";
                            // document.getElementById("SgstRow").style.display = "block";
                            document.getElementById("IgstRow").style.display = "none";

                              var TotalAmntdata1 =  finaldd + cgstAmnt + sgstAmnt;

                              var TotalAmntdata = Math.round(TotalAmntdata1 * 100) / 100 ;
                            
                            document.getElementById("totalAmount"+ datCalculatelist1).value=TotalAmntdata;

                               // alert(TotalAmntdata);
                            
                          }else{
                            document.getElementById("cgst"+ datCalculatelist1).style.display = "none";
                            document.getElementById("sgst"+ datCalculatelist1).style.display = "none";
                            document.getElementById("igst"+ datCalculatelist1).style.display = "block";
                            document.getElementById("CgstRow").style.display = "none";
                            document.getElementById("SgstRow").style.display = "none";
                            // document.getElementById("IgstRow").style.display = "block";

                              var TotalAmntdata1 =  finaldd + igstAmnt;
                              
                              var TotalAmntdata = Math.round(TotalAmntdata1 * 100) / 100 ;

                            document.getElementById("totalAmount"+ datCalculatelist1).value=TotalAmntdata;
                            
                          }

                         }

                  

                              var sum = 0;

                            $('.amount').each(function(i, obj){

                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                sum += parseFloat(this.value);

                                sum = Math.round(sum * 100) / 100 ;

                              }

                            });

                              var sumCgst = 0;

                            $('.Cgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                  sumCgst += parseFloat(this.value);
                                    // alert(sumCgst + " sumCgst");
                                sumCgst = Math.round(sumCgst * 100) / 100 ;
                              }

                            });


                               var sumSgst = 0;

                            $('.Sgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                   sumSgst += parseFloat(this.value);
                                  // alert(sumSgst + " sumSgst");

                                 sumSgst = Math.round(sumSgst * 100) / 100 ; 
                              }

                            });

                              

                                var sumIgst=0;

                            $('.Igstamount').each(function(i, obj){
                              
                                if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                  sumIgst += parseFloat(this.value);
                                    // alert(sumIgst + " sumIgst");
                                  sumIgst = Math.round(sumIgst * 100) / 100 ;  
                                }

                            });

                                var sumfinalroundTotal = 0;

                            $('.FinalTotalamount').each(function(i, obj){
                          
                              if($.isNumeric(this.value)){
                             
                                sumfinalroundTotal += parseFloat(this.value);

                                  // sumfinalTotal = Math.round(sumfinalTotal)

                                sumfinalroundTotal = Math.round(sumfinalroundTotal * 100) / 100 ;  
                              }

                            });

                                var sumfinalTotal = 0;

                                var roundamountt = 0 ;

                                var sumfinalTotals = 0;

                            $('.FinalTotalamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                               
                                  sumfinalTotal += parseFloat(this.value);

                                    sumfinalTotals = Math.round(sumfinalTotal)

                                  roundamountt = sumfinalroundTotal - sumfinalTotals;

                                roundamountt = Math.round(roundamountt * 100) / 100 ;
                               
                              }

                            });

                           

                  document.getElementById("totalpriceAmnt").textContent=sum;
                  document.getElementById("totalpriceCgst").textContent=sumCgst;
                  document.getElementById("totalpriceSgst").textContent=sumSgst;
                  document.getElementById("totalpriceIgst").textContent=sumIgst;
                  document.getElementById("totalpriceFinalAmnt").textContent=sumfinalTotals;
                  document.getElementById("totalpriceFinalroundAmnt").textContent=sumfinalroundTotal;
                  document.getElementById("roundfigureamount").textContent=roundamountt;

                  document.getElementById("totalpriceAmntf").value=sum;
                  document.getElementById("totalpriceCgstf").value=sumCgst;
                  document.getElementById("totalpriceSgstf").value=sumSgst;
                  document.getElementById("totalpriceIgstf").value=sumIgst;
                  document.getElementById("totalpriceFinalAmntf").value=sumfinalTotals;
                  document.getElementById("totalpriceFinalroundAmntf").value=sumfinalroundTotal;
                  document.getElementById("roundfigureamountf").value=roundamountt;

            });
        


            $(document).on("keyup", ".abcalcPrice" ,function(){

                var datCalculateval2 = this.value;
              
                // alert(datCalculateval2 + " datCalculateval2 This Value");

                  var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');
                      // alert(newdata);
                    var objSupplier = JSON.parse(newdataSupplier);  

                    var datCalculatelist2 = this.id.substring('7');                      
                    

                    var myBox3 = document.getElementById("taxs"+ datCalculatelist2).value;
                    var TotlQty = document.getElementById("qtyy"+ datCalculatelist2).value;
                    var TotlPricee = document.getElementById("pricess"+ datCalculatelist2).value;
                    var DiscountAmnt = document.getElementById("discAmnt"+ datCalculatelist2).value;


                      var final =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                        var finaldd = Math.round(final * 100) / 100 ;

                        var c = (finaldd * myBox3 /100) * 1/2 ;
                        var s = (finaldd * myBox3 /100) * 1/2 ;
                        var i = (finaldd * myBox3 /100);

                        var cgstAmnt = Math.round(c * 100) / 100 ;

                        var sgstAmnt = Math.round(s * 100) / 100 ;

                        var igstAmnt = Math.round(i * 100) / 100 ;

                        

                        document.getElementById("cgst"+ datCalculatelist2).value=cgstAmnt;
                        document.getElementById("sgst"+ datCalculatelist2).value=sgstAmnt;
                        document.getElementById("igst"+ datCalculatelist2).value=igstAmnt;  
                        // document.getElementById("totalAmount"+ datCalculatelist2).value=TotalAmntdata;

                        document.getElementById("singleAmt"+ datCalculatelist2).value=finaldd;
           
                        for (var k = 0; k < objSupplier.length; k++)

                      if(objSupplier[k]._id == selectedSupplierValue){
                          
                          if(objSupplier[k].state == "Madhya Pradesh"){

                        document.getElementById("cgst"+ datCalculatelist2).style.display = "block";
                        document.getElementById("sgst"+ datCalculatelist2).style.display = "block";
                        document.getElementById("igst"+ datCalculatelist2).style.display = "none";
                       
                        // document.getElementById("CgstRow").style.display = "block";
                        // document.getElementById("SgstRow").style.display = "block";
                        document.getElementById("IgstRow").style.display = "none";

                          var TotalAmntdata1 =  finaldd + cgstAmnt + sgstAmnt;

                          var TotalAmntdata = Math.round(TotalAmntdata1 * 100) / 100 ;
                            

                        document.getElementById("totalAmount"+ datCalculatelist2).value=TotalAmntdata;
                          // alert(TotalAmntdata);
                    }else{

                        document.getElementById("cgst"+ datCalculatelist2).style.display = "none";
                        document.getElementById("sgst"+ datCalculatelist2).style.display = "none";
                        document.getElementById("igst"+ datCalculatelist2).style.display = "block";
                        document.getElementById("CgstRow").style.display = "none";
                        document.getElementById("SgstRow").style.display = "none";
                        // document.getElementById("IgstRow").style.display = "block";

                        var TotalAmntdata1 =  finaldd + igstAmnt;
                              
                        var TotalAmntdata = Math.round(TotalAmntdata1 * 100) / 100;

                        document.getElementById("totalAmount"+ datCalculatelist2).value=TotalAmntdata;
                      }

                    }

              


                                var sum1 = 0;

                            $('.amount').each(function(i, obj){

                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                sum1 += parseFloat(this.value);

                                // sum = Math.round(sum1 * 100) / 100 ;

                                sum = Math.round(sum1 * 100) / 100 ;


                                  
                              }

                            });


                              var sumCgst1 = 0;

                            $('.Cgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                  sumCgst1 += parseFloat(this.value);
                                    // alert(sumCgst + " sumCgst");
                                sumCgst = Math.round(sumCgst1 * 100) / 100 ;
                              }

                            });

                              // alert(sumCgst);
                              var sumSgst1 = 0;

                            $('.Sgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                   sumSgst1 += parseFloat(this.value);
                                  // alert(sumSgst + " sumSgst");

                                 sumSgst = Math.round(sumSgst1 * 100) / 100 ; 
                              }

                            });

                             
                              // alert(sumSgst);
                              
                               var sumIgst1=0;

                            $('.Igstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                   sumIgst1 += parseFloat(this.value);
                                  // alert(sumIgst + " sumIgst");
                                sumIgst = Math.round(sumIgst1 * 100) / 100 ;  
                              }

                            });

                              var sumfinalroundTotal = 0;

                            $('.FinalTotalamount').each(function(i, obj){
                          
                              if($.isNumeric(this.value)){
                             
                                sumfinalroundTotal += parseFloat(this.value);

                                  // sumfinalTotal = Math.round(sumfinalTotal)

                                sumfinalroundTotal = Math.round(sumfinalroundTotal * 100) / 100 ;  
                              }

                            });


                              
                              var sumfinalTotal = 0;
                              var roundamountt = 0;
                              var sumfinalTotals = 0;

                          $('.FinalTotalamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                             
                              sumfinalTotal += parseFloat(this.value);

                                sumfinalTotals = Math.round(sumfinalTotal)

                              roundamountt = sumfinalroundTotal - sumfinalTotals;

                            roundamountt = Math.round(roundamountt * 100) / 100 ;

                          }

                        });
                              // alert(sumfinalTotal);

                  document.getElementById("totalpriceAmnt").textContent=sum;
                  document.getElementById("totalpriceCgst").textContent=sumCgst;
                  document.getElementById("totalpriceSgst").textContent=sumSgst;
                  document.getElementById("totalpriceIgst").textContent=sumIgst;
                  document.getElementById("totalpriceFinalAmnt").textContent=sumfinalTotals;
                  document.getElementById("totalpriceFinalroundAmnt").textContent=sumfinalroundTotal;
                  document.getElementById("roundfigureamount").textContent=roundamountt;

                  document.getElementById("totalpriceAmntf").value=sum;
                  document.getElementById("totalpriceCgstf").value=sumCgst;
                  document.getElementById("totalpriceSgstf").value=sumSgst;
                  document.getElementById("totalpriceIgstf").value=sumIgst;
                  document.getElementById("totalpriceFinalAmntf").value=sumfinalTotals;
                  document.getElementById("totalpriceFinalroundAmntf").value=sumfinalroundTotal;
                  document.getElementById("roundfigureamountf").value=roundamountt;

            });
        

            $(document).on("keyup", ".abcalc" ,function(){


                var datCalculateval3 = this.value;
                  // alert(datCalculateval);

                  var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');
                  // alert(newdata);

                  var objSupplier = JSON.parse(newdataSupplier);  

                  var datCalculatelist3 = this.id.substring('4');


                  var myBox3 = document.getElementById("taxs"+ datCalculatelist3).value;
                   
                    var TotlQty = document.getElementById("qtyy"+ datCalculatelist3).value;

                    var TotlPricee = document.getElementById("pricess"+ datCalculatelist3).value;
                       
                    var DiscountAmnt = document.getElementById("discAmnt"+ datCalculatelist3).value;

                    var final =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                      var finaldd = Math.round(final * 100) / 100 ;

                      var c = (finaldd * myBox3 /100) * 1/2 ;
                      var s = (finaldd * myBox3 /100) * 1/2 ;
                      var i = (finaldd * myBox3 /100);

                      var cgstAmnt = Math.round(c * 100) / 100 ;

                      var sgstAmnt = Math.round(s * 100) / 100 ;

                      var igstAmnt = Math.round(i * 100) / 100 ;

                  document.getElementById("cgst"+ datCalculatelist3).value=cgstAmnt;    
                  document.getElementById("sgst"+ datCalculatelist3).value=sgstAmnt;    
                  document.getElementById("igst"+ datCalculatelist3).value=igstAmnt;  

                  document.getElementById("singleAmt"+ datCalculatelist3).value=finaldd;   

                  for (var k = 0; k < objSupplier.length; k++)
                      if(objSupplier[k]._id == selectedSupplierValue){
                        // alert(objSupplier[k].state);
                        if(objSupplier[k].state == "Madhya Pradesh"){
                          document.getElementById("cgst"+ datCalculatelist3).style.display = "block";
                          document.getElementById("sgst"+ datCalculatelist3).style.display = "block";
                          document.getElementById("igst"+ datCalculatelist3).style.display = "none";

                          // document.getElementById("CgstRow").style.display = "block";
                          // document.getElementById("SgstRow").style.display = "block";
                          document.getElementById("IgstRow").style.display = "none";

                            var TotalAmntdata1 =  finaldd + cgstAmnt + sgstAmnt;

                            var TotalAmntdata = Math.round(TotalAmntdata1 * 100) / 100 ;
                          
                          document.getElementById("totalAmount"+ datCalculatelist3).value=TotalAmntdata;

                           // alert(TotalAmntdata);
                          
                        }else{
                          document.getElementById("cgst"+ datCalculatelist3).style.display = "none";
                          document.getElementById("sgst"+ datCalculatelist3).style.display = "none";
                          document.getElementById("igst"+ datCalculatelist3).style.display = "block";

                          document.getElementById("CgstRow").style.display = "none";
                          document.getElementById("SgstRow").style.display = "none";
                          // document.getElementById("IgstRow").style.display = "block";

                            var TotalAmntdata1 =  finaldd + igstAmnt;
                              
                            var TotalAmntdata = Math.round(TotalAmntdata1 * 100) / 100 ;
                          
                          document.getElementById("totalAmount"+ datCalculatelist3).value=TotalAmntdata;
                        
                        }

                       }     

                 
                              var sum = 0;

                            $('.amount').each(function(i, obj){

                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                sum += parseFloat(this.value);

                                sum = Math.round(sum * 100) / 100 ;

                              }

                            });

                              var sumCgst = 0;

                            $('.Cgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                  sumCgst += parseFloat(this.value);
                                    // alert(sumCgst + " sumCgst");
                                sumCgst = Math.round(sumCgst * 100) / 100 ;
                              }

                            });


                               var sumSgst = 0;

                            $('.Sgstamount').each(function(i, obj){
                            
                              if($.isNumeric(this.value)) {
                                  // alert(this.value);
                                   sumSgst += parseFloat(this.value);
                                  // alert(sumSgst + " sumSgst");

                                 sumSgst = Math.round(sumSgst * 100) / 100 ; 
                              }

                            });

                              

                                var sumIgst=0;

                            $('.Igstamount').each(function(i, obj){
                              
                                if($.isNumeric(this.value)) {
                                    // alert(this.value);
                                  sumIgst += parseFloat(this.value);
                                    // alert(sumIgst + " sumIgst");
                                  sumIgst = Math.round(sumIgst * 100) / 100 ;  
                                }

                            });

                              var sumfinalroundTotal = 0;

                            $('.FinalTotalamount').each(function(i, obj){
                          
                              if($.isNumeric(this.value)){
                             
                                sumfinalroundTotal += parseFloat(this.value);

                                  // sumfinalTotal = Math.round(sumfinalTotal)

                                sumfinalroundTotal = Math.round(sumfinalroundTotal * 100) / 100 ;  
                              }

                            });


                                var sumfinalTotal = 0;

                                var sumfinalTotals = 0;

                                var roundamountt = 0 ;

                          $('.FinalTotalamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                             
                                sumfinalTotal += parseFloat(this.value);

                                  sumfinalTotals = Math.round(sumfinalTotal)

                                roundamountt = sumfinalroundTotal - sumfinalTotals;

                               roundamountt = Math.round(roundamountt * 100) / 100 ;
 
                            }

                          });

                          // alert(sumfinalTotal);
                        document.getElementById("totalpriceAmnt").textContent=sum;
                        document.getElementById("totalpriceCgst").textContent=sumCgst;
                        document.getElementById("totalpriceSgst").textContent=sumSgst;
                        document.getElementById("totalpriceIgst").textContent=sumIgst;
                        document.getElementById("totalpriceFinalAmnt").textContent=sumfinalTotals;
                        document.getElementById("totalpriceFinalroundAmnt").textContent=sumfinalroundTotal;
                        document.getElementById("roundfigureamount").textContent=roundamountt;

                        document.getElementById("totalpriceAmntf").value=sum;
                        document.getElementById("totalpriceCgstf").value=sumCgst;
                        document.getElementById("totalpriceSgstf").value=sumSgst;
                        document.getElementById("totalpriceIgstf").value=sumIgst;
                        document.getElementById("totalpriceFinalAmntf").value=sumfinalTotals;
                        document.getElementById("totalpriceFinalroundAmntf").value=sumfinalroundTotal;
                        document.getElementById("roundfigureamountf").value=roundamountt;

            });


        cols += '<td><select id="datttt' + counter + '" style="width:130px;" data-show-subtext="true" data-live-search="true" class="abcc selectpicker" name="partId[]"><option>Select Part</option><% for (var d = 0; d < dataproduct.length; d++) { %><option value="<%= dataproduct[d]._id %>"><%= dataproduct[d].partId %></option><% } %></select></td>';

        cols += '<td><input type="text" id="SellingPrice' + counter + '"  class="form-control" name="SellPrice[]" readonly style="color:red;width: 40px;"/></td>';

        cols += '<td><input type="text" id="taxs' + counter + '" name="Tax" class="form-control" readonly="readonly" style="width: 30px;"/></td>';

        cols += '<td><input type="text" id="hsnCode' + counter + '" name="Discount[]"  class="form-control " readonly="readonly" style="width: 40px;"/></td>';
        
        cols += '<td><input type="text" class="abcalc" name="Quantity[]" id="qtyy' + counter + '" style="width: 25px;"/></td>';
      
        cols += '<td><input type="text" class="abcalcPrice" id="pricess' + counter + '" name="Price[]" style="width: 50px;"/></td>';

        cols += '<td><input type="text" id="pers' + counter + '" name="Per[]" class="form-control" readonly="readonly" style="width: 50px;"/></td>';

        cols += '<td><input type="text" id="discAmnt' + counter + '" name="DiscountAmnt[]" style="width:30px;" class="abcalcPriceDiscAmnt" value="1"/></td>';

       cols += '<td><input type="text" class="amount" id="singleAmt' + counter + '" name="TotalAmnt[]" class="form-control" readonly="readonly"/></td>';

       cols += '<td id="CGST1' + counter + '"><input type="text" class="Cgstamount" class="form-control" id="cgst' + counter + '" name="Cgst[]" style="width: 80%;" readonly="readonly" /></td>';

       cols += '<td id="SGST1' + counter + '"><input type="text" class="Sgstamount" class="form-control" id="sgst' + counter + '" name="Sgst[]" style="width: 80%;" readonly="readonly" /></td>';

       cols += '<td id="IGST1' + counter + '"><input type="text" class="Igstamount" class="form-control" id="igst' + counter + '" name="Igst[]" style="width: 80%;" readonly="readonly" /></td>';

       cols += '<td><input type="text" class="FinalTotalamount" class="form-control" id="totalAmount' + counter + '" name="TotalAmntData[]" style="width:80%;" readonly="readonly" /></td>';

      cols += '<td><input type="button" name="remove_levels" id="deleterow' + counter + '" class="ibtnDel btn btn-md btn-danger" value="Delete"></td>';


        newRow.append(cols);

        $("table.order-list").append(newRow);

        counter++;

        $('.selectpicker').selectpicker();
     
     });

  });


        $("table.order-list, .order-list tr td").on("click", ".ibtnDel", function () {

          var checkstr =  confirm('Are you sure you want to delete this?');

              if(checkstr == true){

              var cid = $(this).attr('id');
              var cid1 = cid.substring(9);

              var taxableAmount = $("#singleAmt"+cid1).val();     
              var CGST = $("#cgst" + cid1).val(); 
              var SGST = $("#sgst" + cid1).val();
              var IGST = $("#igst" + cid1).val();
              var TotalAmount = $("#totalAmount" + cid1).val();

              var taxAmount = $("#totalpriceAmnt").text();
              var totalcgst = $("#totalpriceCgst").text(); 
              var totalsgst = $("#totalpriceSgst").text(); 
              var totaligst = $("#totalpriceIgst").text(); 
              var FinalroundAmnt = $("#totalpriceFinalroundAmnt").text(); 
              var roundamount = $("#roundfigureamount").text(); 
              var FinalAmnt = $("#totalpriceFinalAmnt").text(); 


              var TaxableAmount = taxAmount - taxableAmount;
              var CGSTdelete = totalcgst - CGST;
              var SGSTdelete = totalsgst - SGST;
              var IGSTdelete = totaligst - IGST;
              var TotalAmountdelete = FinalroundAmnt - TotalAmount;

              
              var TaxableAmount = Math.round(TaxableAmount * 100) / 100 ;
              var CGSTdelete = Math.round(CGSTdelete * 100) / 100 ;
              var SGSTdelete = Math.round(SGSTdelete * 100) / 100 ;
              var IGSTdelete = Math.round(IGSTdelete * 100) / 100 ;
              var TotalAmountdelete = Math.round(TotalAmountdelete * 100) / 100 ;
              var roundofAmount = Math.round(TotalAmountdelete);

              var pointvalue = TotalAmountdelete - roundofAmount;
              var pointvalue = Math.round(pointvalue * 100) / 100 ;
             

              document.getElementById("totalpriceAmnt").textContent = TaxableAmount;
              document.getElementById("totalpriceCgst").textContent = CGSTdelete;
              document.getElementById("totalpriceSgst").textContent = SGSTdelete;
              document.getElementById("totalpriceIgst").textContent = IGSTdelete;
              document.getElementById("totalpriceFinalroundAmnt").textContent = TotalAmountdelete;
              document.getElementById("roundfigureamount").textContent = pointvalue;
              document.getElementById("totalpriceFinalAmnt").textContent = roundofAmount;

              document.getElementById("totalpriceAmntf").value = TaxableAmount;
              document.getElementById("totalpriceCgstf").value = CGSTdelete;
              document.getElementById("totalpriceSgstf").value = SGSTdelete;
              document.getElementById("totalpriceIgstf").value = IGSTdelete;
              document.getElementById("totalpriceFinalroundAmntf").value = TotalAmountdelete;
              document.getElementById("roundfigureamountf").value = pointvalue;
              document.getElementById("totalpriceFinalAmntf").value = roundofAmount;


                $(this).closest("tr").remove();   

                counter -= 1
 
                } else {

                  return false;
                  
              }

            
         });



});



function calculateRow(row) {
    var price = +row.find('input[name^="price"]').val();

}

 $(function () {
               $(document).on('keydown', '.abcalc,.abcalcPrice,.abcalcPriceDiscAmnt', function (e) {
                 -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault()
                 }

               );

             });

function calculateGrandTotal() {
    var grandTotal = 0;
    $("table.order-list").find('input[name^="price"]').each(function () {
        grandTotal += +$(this).val();
    });
    $("#grandtotal").text(grandTotal.toFixed(2));
}


</script>


                     <!--                  
                             <form class="form-horizontal" method="post" action="/product-insert" enctype="multipart/form-data">
                         
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
 <div class="control-group">
   <label class="control-label">Part Id</label>
    <div class="controls">
 
   <select class="livesearch" onchange="location = this.value;" style="width:400px;">
     <% for (var q = 0; q < dataproduct.length; q++) { %>                             
      <option value="http://localhost:2222/purchaseDetail?proid=<%= dataproduct[q]._id %>"><%= dataproduct[q].partId %></option>
    <% } %>
  </select>
  <script type="text/javascript">
        $(".livesearch").chosen();
  </script>
    </div>
 </div>


 <div class="control-group">
   <label class="control-label">Category Name</label>
      <div class="controls">
                
          <input type="text"  name="procatName" value="<%= catname || '' %>" readonly="readonly">

       </div>
 </div>
<div class="control-group">
   <label class="control-label">Sub Category Name</label>
      <div class="controls">
                
          <input type="text" name="prosubcatName" value="<%= subcatname || '' %>" readonly="readonly">

       </div>
 </div>
<div class="control-group">
   <label class="control-label">Second Sub Category Name</label>
      <div class="controls">
                
          <input type="text" name="prosecsubcatName" value="<%= secsubcatname || '' %>" readonly="readonly">

       </div>
 </div>


  <div class="control-group">
   <label class="control-label">Parent Data</label>
      <div class="controls">
                
          <input type="text" name="proparentdata" value="<%= thirsubcatname || '' %>" readonly="readonly">

       </div>
 </div>
                                

                                <div class="control-group">
                                    <label class="control-label">Part Name</label>
                                    <div class="controls">
                                        <input type="text" name="partName" class="form-control"  placeholder="Part name" required>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Stock Location One</label>
                                    <div class="controls">
                                        <input type="text" name="stockLocationOne" class="form-control"  placeholder="Stock Location One" required>
                                    </div>
                                    
                                </div> 

                                  <div class="control-group">
                                    <label class="control-label">Stock Location Two</label>
                                    <div class="controls">
                                        <input type="text" name="stockLocationTwo" class="form-control"  placeholder="Stock Location Two">
                                    </div>
                                    
                                </div>  
                                  <div class="control-group">
                                    <label class="control-label">Stock Location Three</label>
                                    <div class="controls">
                                        <input type="text" name="stockLocationThree" class="form-control"  placeholder="Stock Location Three">
                                    </div>
                                    
                                </div>         
                              

                                 <div class="control-group">
                                    <label class="control-label">HSN Code </label>
                                    <div class="controls">
                                        <input type="text" name="code" class="form-control"  placeholder="HSN Code" required>
                                    </div>
                                </div>


                                 <div class="control-group">
                                    <label class="control-label">MRP</label>
                                    <div class="controls">
                                        <input type="text" name="mrp" class="form-control"  placeholder="MRP" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Price</label>
                                    <div class="controls">
                                        <input type="text" name="price" class="form-control"  placeholder="Price" required>
                                    </div>
                                </div>

                                 <div class="control-group">
                                    <label class="control-label">Minimum Stock Quantity</label>
                                    <div class="controls">
                                        <input type="text" name="stkQty" class="form-control"  placeholder="Minimum Stock Quantity" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Tax (%)</label>
                                    <div class="controls">
                                        <input type="text" name="tax" class="form-control"  placeholder="Tax (%)" required>
                                    </div>
                                </div>

                                   <div class="control-group">
                                    <label class="control-label">Brand</label>
                                    <div class="controls">
                                        <input type="text" name="brand" class="form-control"  placeholder="Brand" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Product Description</label>
                                    <div class="controls">
                                         <textarea type="text" name="productdescr" class="form-control" placeholder="Product Description" required></textarea>
                                    </div>
                                </div>

                                <div class="control-group">
                        <label class="control-label">Upload Files of Image</label>
                        <div class="controls">
                            <input type="file" name="myimage" required="required"/>
                        </div>
                    </div>

                                                        
                     <% if(locals.successproduct) { %>
              <div class="alert alert-success"><%= successproduct %></div>
                      <% } %>
   

                                                            <input type="hidden" id="datetime">

                                                             <div class="row-fluid">
                                                             <div class="span4"></div>
                                                             <div class="span3">
                                                            <button class="btn theme-btn" type="submit"> <i class="fa fa-check"></i>Product Add</button>
                                                             </div>

                                                             <div class="span3">

                                                             <a href="account"><button style="text-decoration: none;outline: 0 none;" class="btn theme-btn"><i class="fa fa-arrow"></i> Cancel</button></a>
                                                             &nbsp;
                                                             <a href="/product-list">View List</a>
                                                                </div>
                                                              <div class="span2"></div> 


                                                                </div>


                                                        </form> -->

                                        
                                      

                                          
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->



                    </div>
                </div>
                    
                    </div>
                </div>
               <!--  </div>
                </div> -->

 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
}

 .navbar-brand{
 padding: 15px !important;
 }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


@media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
        margin: 14px 0px 0px 25px !important;
   }


 </style>

 
  
 
</body>
<!-- END BODY -->
</html>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>

 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 

    <!-- <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
    -->
    <!-- <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
 
    <!--  <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
    <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 

     <!--------------------------------- Select And Search Box ----------------------------------------->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
 
  <style type="text/css">

      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
       height: 30px;
          width: 80%;
      }

      textarea{
             width: 80%;
       
      }
      .modal-backdrop, .modal-backdrop.fade.in {
          opacity: 0;
          filter: alpha(opacity=80);
      }

  </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        