<%- include partials/header_userdashboard %>

<meta property="og:image" content="http://localhost:2222/">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" >
      function preventBack(){window.history.forward();}
        setTimeout("preventBack()", 0);
        window.onunload=function(){null};
    </script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
          
<script type="text/javascript" href="/js/categories.js"></script>
    <div class="row-fluid">
      <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
                       <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                            <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                     <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

              

                     <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                     <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                   
                      <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                     <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                
                      <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>
                       <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 
                        <ul> <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                        <!-- <li ng-class="{active: activeTab === 'size'}"><a href="managesize"><i class="fa fa-user"  aria-hidden="true"></i> Size Mangment</a>
                        </li>
                        <li ng-class="{active: activeTab === 'color'}"><a href="managecolor"><i class="fa fa-user"  aria-hidden="true"></i> Color Managment</a>
                        </li> -->
                    </ul>
                      </li>

                         <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                <li ng-class="{active: activeTab === 'sales-list'}" class="active"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>

                        <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                        <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                    
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                     <!-- <li ng-class="{active: activeTab === 'consult'}"><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                     <!--  <li ng-class="{active: activeTab === 'review-consult'}"><a href="review-consult"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                      <% } %>
                      <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                            
                    </ul>
                  </div>

                  <style type="text/css">
                      #nav li ul { display: none; list-style:none;}
                  </style>

                  <script type="text/javascript">
                      $("#nav li a").on("click", function (e) {
                      //allow links to be followed if they don't have a sub-menu
                      if ( !$(this).parent().has("ul").length ) { return; }

                      //we have a sub-menu, so stop the link from being followed
                      e.preventDefault();

                      if(!$(this).hasClass("open")) {
                          //we need to know which 'level' we're on 
                          var currentLevel = $(this).closest('ul')
                          $("li ul", currentLevel).slideUp(350);
                          $("li a", currentLevel).removeClass("open");

                          // open our new menu and add the open class
                          $(this).next("ul").slideDown(350);
                          $(this).addClass("open");
                      } else {
                          $(this).removeClass("open");
                          $(this).next("ul").slideUp(350);
                          }
                      });
                  </script>
                          

            
                    
                          <div class="span9" style="height: 1300px;">
                        <!-- BEGIN PAGE HEADER-->
                          <div class="row-fluid">
                            <div class="span12">
                            
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                            <h6 class="page-title" style="font-size: 18px;">
                                  

                                  <% if (user.local.email) { %>
                                      <%= user.firstName %>'s Profile !!!!

                                   <% } %>

                                   <% if (user.google.token) { %>

                                      <%= user.google.name %> Profile !!!!
                
                                    <% } %>

                                     <% if (user.facebook.token) { %>
                   
                                    <%= user.facebook.name %> Profile !!!!

                                    <% } %> 
                                </h6>
                            </div>
                        </div>
                        <!-- END PAGE HEADER-->
                       


        <div class="row-fluid" >
                      <div class="span12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->   
                        
                        <div class="portlet box blue tabbable">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="hidden-480">Sales Invoice</span>
                                </div>
                            </div>

                            <div class="portlet-body form">
                                <div class="tabbable portlet-tabs">
                                    
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="portlet_tab1" style="overflow-y: scroll">

                                          <form class="form-horizontal" action="#"  id="content">
                  
<table style="width: 100%;">
  <tr>
       <% for (var i = 0; i < loadwebsitedata.length; i++) if(loadwebsitedata[i]._id === '5b77c7b025294a06e84b0b2c') { %>
      <img src="/uploads/logo/<%= loadwebsitedata[i].img.originalname %>" alt="<%= loadwebsitedata[i].webName %>" style="width: 25%;">
       <% } %>
    <h4 class="text-center">Tax Invoice</p></h4>
  </tr>

  <tr>
    <h1 class="text-center">BAGAP AUTOMOBILES PRIVATE LIMITED</</h1>
  </tr>

  <tr>
      <h3 class="text-center">45-D NEW MANGAL COMPOUND, NEAR MITTAL TOLL KANTA, DEWAS NAKA, INDORE-452010</h3>
  </tr>

  <tr>
     <h4 style="float: right;">GSTIN NO- 23AAICB2519C1Z9</h4> 
     <h4 style="float: left;">EMAIL ID- Bagapauto@gmail.com</h4> 
  </tr>
</table>

       <div class="span12">
         <div class="span6" style="float: left;">
           <% for (var d = 0; d < datasales.length; d++) if(datasales[d]._id == supId){  %> 

                      <table>
                        <tr>

                       <td><p>Voucher No</p></td>

                       <td><p><%= datasales[d].voucherNo %></p></td>
                         
                      </tr>  
                      <tr>
                        <td><p>Date</p></td>
                        <td><p><%= datasales[d].datetime %></p></td>
                      </tr>
                      <tr>
                        <td>Supplier Name</td>
                        <td> <% for (var q = 0; q < loadsupplierdata.length; q++) if(loadsupplierdata[q]._id == datasales[d].supId) { %>                             
                                  <p><%= loadsupplierdata[q].supName %>
                                  </p>
                                 <% } %> </td>
                      </tr>
                      <tr>
                        <td><p>Invoice no</p></td>
                        <td><p><%= datasales[d].invoiceNo %></p></td>
                      </tr>
                      <tr>
                        <td><p>Invoice Date</p></td>
                        <td><p><%= datasales[d].SupDate %></p></td>
                      </tr>
                      <tr>
                        <td><p>Order No</p></td>
                        <td> <% for (var q = 0; q < loadorderdata.length; q++) if(loadorderdata[q]._id == datasales[d].orderId){ %>                             
                              <p><%= loadorderdata[q]._id %>
                              </p>
                                <% } %>
                        </td>
                      </tr>
                      </table>
         </div>
         <div class="span6" style="float: right;">
          
              <% for (var q = 0; q < loadorderdata.length; q++) if(loadorderdata[q]._id == datasales[d].orderId){ %>    

                      <table>
                      <tr>

                       <td><p>Name</p></td>

                       <td><p><%= loadorderdata[q].shipfname %></p></td>
                         
                      </tr>  
                      <tr>
                        <td><p>Address</p></td>
                        <td><p><%= loadorderdata[q].autocomplete %></p></td>
                      </tr>
                      <tr>
                        <td>Pin Code</td>
                        <td><p><%= loadorderdata[q].postal_code %></p></td>
                      </tr>
                      <tr>
                        <td><p>Mobile no</p></td>
                        <td><p><%= loadorderdata[q].shipphone %></p></td>
                      </tr>
                      <tr>
                        <td><p>Email</p></td>
                        <td><p><%= loadorderdata[q].shipemail %></p></td>
                      </tr>
                      <tr>
                        <td><p>GSTIN NO</p></td>
                        <td><p> 23SFDSFSFDS1384SSS </p></td>
                      </tr>
                      </table>
                      
                           <% } %>

                           <% } %>
         </div>
       </div>

                      


 <table id="myTable" class="table table-striped table-bordered table-list">
        <thead>
          <tr>
            <!-- <td>Serial Number</td> -->
            <td>Description Of Goods</td>
          <!--   <td>Cost Price</td> -->
            <td>Taxability in %</td>
            <td>HSN Code</td>
            <td>Qty</td>
            <td>Selling Price</td>
            <td>Per</td>
            <td>Discount in %</td>
            <td>Taxable Amount</td>
            <td>CGST</td>
            <td>SGST</td>
            <td>IGST</td>
            <td>Total Amount</td>
          </tr>
        </thead>
        <tbody>

            <% for (var q = 0; q < datasalesitem.length; q++) if(datasalesitem[q].salesId == supId) { %>
            <tr>

              <td><% for (var t = 0; t < dataproduct.length; t++) if(dataproduct[t]._id == datasalesitem[q].partId) { %>
              <%=dataproduct[0].partName %>
                <% } %></td>
              <!-- <td><%=datasalesitem[q].SellPrice %></td> -->
              <td><%=datasalesitem[q].Tax %></td>
              <td><%=datasalesitem[q].Discount %></td>
              <td class="totalquantity"><%=datasalesitem[q].Quantity %></td>
              <td><%=datasalesitem[q].Price %></td>
              <td><%=datasalesitem[q].Per %></td>
              <td><%=datasalesitem[q].DiscountAmnt %></td>
              <td><%=datasalesitem[q].TotalAmnt %></td>
              <td><%=datasalesitem[q].Cgst %></td>
              <td><%=datasalesitem[q].Sgst %></td>
              <td><%=datasalesitem[q].Igst %></td>
              <td><%=datasalesitem[q].TotalAmntData %></td>
            </tr>
            
              <% } %>
        </tbody>
        <tfoot>
           <% for (var t = 0; t < datasales.length; t++) if(datasales[t]._id == supId){  %>
        <tr>
           <td colspan="6"><p>Final Ammount</p></td>
           <td colspan="7"><p style="float: right;"><%= datasales[t].TotalDecimalAmnt %></p></td>
        </tr>
             <% } %>
        <tr>
           <td colspan="6"><p>Total Quantity</p></td>
           <td colspan="7"><p style="float: right;" id="dksst"></p></td>
        </tr>
        </tfoot>
        
      
    </table>   

          

</form>
<script type="text/javascript">
  var sum = 0;
$('.totalquantity').each(function(){
    sum += parseFloat($(this).text());  // Or this.innerHTML, this.innerText
});
// alert(sum);
document.getElementById("dksst").textContent=sum;
</script>

        

                                      
</div>
</div>
            <button><a href="sales-list">Back </a></button>
               <button id="export" class="btn btn-info btn-lg"><i class="icon-print"></i> View Invoice</button>                                  
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->
  <script>
                       
//   document.getElementById('export').addEventListener('click',
//   exportPDF);

// var specialElementHandlers = {
//   // element with id of "bypass" - jQuery style selector
//   '.no-export': function(element, renderer) {
//     // true = "handled elsewhere, bypass text extraction"
//     return true;
//   }
// };

// function exportPDF() {

//   var doc = new jsPDF('p', 'pt', 'a4');
//   var source = jQuery('#content').html();
//     var margins = {
//     top: 10,
//     bottom: 10,
//     left: 100,
//     width: 595
//   };

//   doc.fromHTML(
//     source, // HTML string or DOM elem ref.
//     margins.left,
//     margins.top, {
//       'width': margins.width,
//       'elementHandlers': specialElementHandlers
//     },

//     function(dispose) {
//       doc.save('invoice.pdf');
//     }, margins);
// }

document.getElementById("export").addEventListener("click", function() {
     var printContents = document.getElementById('content').innerHTML;
     var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     window.print();
     document.body.innerHTML = originalContents;
});

</script>


                    </div>
                </div>
                    
                    </div>
                </div>
                </div>
                </div>

 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
  }

  .navbar-brand{
     padding: 15px !important;
  }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }

  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


    @media (min-width: 414px){
      .navbar-brand{
        font-size: 25px !important;
      }
    }

    @media (min-width: 320px) and (max-width: 320px){
     .navbar-brand{
      font-size: 15px !important;
        padding: 0px;
        margin: 14px 0px 0px 25px !important;
    }


 </style>

  
 
</body>
<!-- END BODY -->
</html>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>

 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 

<!--     <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
 -->
    <!-- <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
 
  <!--  <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
    <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
       height: 30px;
          width: 80%;
      }

      textarea{
             width: 80%;
       
      }
      .modal-backdrop, .modal-backdrop.fade.in {
          opacity: 0;
          filter: alpha(opacity=80);
      }
    </style>
<%- include partials/footer_userdashboard %>


                              
                               
                                        