<%- include partials/header_userdashboard %>

  <div class="row-fluid">
    
    <div class="container-fluid" style="background: #f0f0f5;">
            
      <div class="span2 sidebar-content ">
            
            <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">

              <li ng-class="{active: activeTab === 'home'}">
                <a href="home">
                  <i class="fa fa-home" aria-hidden="true"></i> 
                    Home
                  </a> 
                <span class="after"></span>                                    
              </li>  

              <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

              <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
              <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>

              <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
           
              <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
     
              <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a>

              <ul> 

                <li ng-class="{active: activeTab === 'product'}" ><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a>
                </li>
              
              </ul>

              </li>
                
              <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

              <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

              <li ng-class="{active: activeTab === 'sales-list'}" ><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

              <li ng-class="{active: activeTab === 'salesreturn-list'}" class="active"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>

              <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>

              <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

              <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
           
              <% } %>

                <% if (user.user_role === 'user') { %>
            
              <% } %>

                <% if (user.user_role === 'doctor') { %>
           
              <% } %>

              <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                                         
            </ul>
                        
      </div>

      <style type="text/css">

            #nav li ul { 
              display: none; 
              list-style:none;
            }

      </style>

      <script type="text/javascript">

              $("#nav li a").on("click", function (e) {
              //allow links to be followed if they don't have a sub-menu
              if ( !$(this).parent().has("ul").length ) { return; }

              //we have a sub-menu, so stop the link from being followed
              e.preventDefault();

              if(!$(this).hasClass("open")) {
                  //we need to know which 'level' we're on 
                  var currentLevel = $(this).closest('ul')
                  $("li ul", currentLevel).slideUp(350);
                  $("li a", currentLevel).removeClass("open");

                  // open our new menu and add the open class
                  $(this).next("ul").slideDown(350);
                  $(this).addClass("open");
              } else {
                  $(this).removeClass("open");
                  $(this).next("ul").slideUp(350);
                  }
              });

      </script>
                
        <div class="span10" style="height: 1200px;overflow-y: scroll;">
                       
          <div class="row-fluid">

            <div class="span12">
                    
              <div class="portlet box blue tabbable">

                  <div class="portlet-title">

                      <div class="caption">

                          <span class="hidden-480">Sales Return Managment</span>

                      </div>

                  </div>

                  <div class="coupon-accordion">

                    <div class="panel-collapse collapse" id="collapseOne22">

                      <form action="/dateSortSales" method="post">

                        <span style="color: black;">Start Date&nbsp;<input type="date" name="startDate" size="100" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"></span>&nbsp;

                        <span style="color: black;">End Date<input type="date" name="endDate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"></span>

                        <input type="submit" class="btn theme-btn" value="Search">

                      </form>

                    </div>

                    <br><br>
                                
                    <form class="form-horizontal" style="overflow: auto;">
                    
                      <div class="form-control">

                        <input type="text" id="myInput" onkeyup="myFunction()" class="form-control col-md-8" style="margin: 10px;height: 35px;width: 40%;" placeholder="Search"><i class="fa fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;              
                        
                        <a href="salesReturn" ng-class="{active: activeTab === 'salesreturn-list'}"><input type="button" class="btn theme-btn col-md-2" style="width: 30%;" value="Add Sales Return" /></a>&nbsp;&nbsp;

                        <span><button type="button" class="btn btn-primary" id="showcoupon" id="promo" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne22">Search</button></span>

                      </div>

                      <br>

                      <table datatable="ng" id="myTable" class="table tableone table-striped table-bordered" width="100%" ui-jq="datatable" ui-options="options">

                        <thead>   
                          <tr class="header"> 
                            <th>No</th>    
                            <th>Company Name</th>
                            <th>Voucher No</th>
                            <th>Credit No</th>
                            <th>Total Amount</th>
                            <th>Credit Date</th>
                            <th>View Invoice</th>
                            <th>Action</th>
                          </tr>
                        </thead>

                        <tbody>

                          <% for (var i = 0; i < datauser.length; i++) if(datauser[i].user_role == "user") { %>

                            <% for (var t = 0; t < datasales.length; t++) if(datasales[t].supId == datauser[i]._id) { %> 
                       
                          <tr>

                            <td class="count"></td>

                            <td>

                              <%= datauser[i].companyName %>
                              
                            </td>

                            <td>
                           
                              <%= datasales[t].voucherNo %>             
                          
                            </td>

                            <td>
                           
                              <%= datasales[t].creditNo %>             
                          
                            </td>

                            <td>
                           
                              <%= datasales[t].TotalDecimalAmnt %>             
                          
                            </td>

                            <td>
                           
                              <%= datasales[t].creditDate %>             
                          
                            </td>

                            <td>
                             
                              <a href="sales-invoice?id=<%= datasales[t]._id %>">View</a>
                            
                            </td>

                            <td>

                              <a href="edit-salesReturn?id=<%= datasales[t]._id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;

                              <a href="deletesalesReturn?id=<%= datasales[t]._id %>"><i class="fa fa-trash-o" onclick="return ConfirmDelete('<%= datasales[t].creditNo %> & <%= datauser[i].firstName %>')" aria-hidden="true"></i></a>

                              <a href="salesDetailReturn?id=<%= datasales[t]._id %>"><i class="fa fa-eye" aria-hidden="true"></i></a>
                              
                            </td>

                          </tr>

                          <% } %>

                          <% } %>   

                        </tbody>

                      </table>

                    </form>

                    <style type="text/css">

                      table {
                          counter-reset: section;
                        }

                        .count:before {
                          counter-increment: section;
                          content: counter(section);
                        }

                    </style>

                    <script type="text/javascript">
                 
                      function ConfirmDelete(partName){
                        var x = confirm("Are you sure you want to delete " + partName );
                        if (x)
                          return true;
                        else
                          return false;
                      }
                   
                    </script>

                    <form action="/filedd" method="post" enctype="multipart/form-data" style="height: 0px;">

                      <div class="modal" id="myModal" style="display: none;background-color:#fff;height: auto;">
                        <div class="modal-dialog">
                          <div class="modal-content">
                          
                            <div class="modal-header">
                              <h4 class="modal-title">Upload Product (csv format)</h4>
                             <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            </div>
                            
                            <div class="modal-body">

                            <div class="control-group">
                             <label class="control-label">Upload Product</label>
                              <div class="controls">

                               <input type="file" name="ufile">

                              </div>
                           </div>
                       
                               <div class="row-fluid">
                                <div class="span4"></div>
                                <div class="span3">
                             
                                <input type="submit" class="btn theme-btn" value="Submit">
                                <div class="span2"></div>  
                                </div>
                                </div>

                            </div>
                        
                            
                            <div class="modal-footer" style="background-color:#fff;">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                            
                          </div>
                        </div>
                      </div>

                    </form>                                        

                  </div>

                </div>

              </div>

          </div>

        </div>

      </div>

    </div>

  </div>
 
  <script>
    function myFunction() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
  </script>

  <style type="text/css">

    table.tableone tbody tr:nth-child(odd) td {
      background-color: #F3FAFF;
    }

    table.tableone tbody tr:nth-child(even) td {
        background-color: #FFFFFF;
    }

    table.tableone tbody tr:hover td {
      background-color:#BCD2E5;
      font-size: 15px;

    }

    table.tableone tbody td:hover a {
      color: black;
    }


    a.newlogocss{
        margin-left: 20px;
    }

    .navbar-brand{
      padding: 15px !important;
    }
    
    .dropdown.open .dropdown-toggle{
      background-color: #fff !important;
    }

    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
      outline: thin dotted;
      outline: none;
      outline-offset: -2px;
    }

    .navbar-inverse .navbar-toggle {
      border-color:  #ffffff;
    }

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

      color: #999;
    }

    .nav .dropdown-toggle .caret {
        margin-top: 6px;
        border-top-color: #020202 !important;
        border-bottom-color: #121213 !important;
    }

    .modal {
        background-color: rgba(92, 92, 92, 0.03);
        border: 0px;
    }

   .modal-body {
      padding: 0px; 
      overflow-y: inherit; 
    }

    @media (min-width: 414px){
       .navbar-brand{
        font-size: 25px !important;
       }
    }

    @media (min-width: 320px) and (max-width: 320px){
     .navbar-brand{
         font-size: 15px !important;
        padding: 0px;
        margin: 14px 0px 0px 25px !important;
    }

  </style>
 
</body>
<!-- END BODY -->
</html>

  <script type="text/javascript">
    var sortedOn = 0;
    function SortTable(sortOn) {
    var table = document.getElementById('example');
    var tbody = table.getElementsByTagName('tbody')[0];
    var rows = tbody.getElementsByTagName('tr');
    var rowArray = new Array();
    for (var i=0, length=rows.length; i<length; i++) {
    rowArray[i] = new Object;
    rowArray[i].oldIndex = i;
    rowArray[i].value = rows[i].getElementsByTagName('td')[sortOn].firstChild.nodeValue;
    }
    if (sortOn == sortedOn) { rowArray.reverse(); }
    else {
    sortedOn = sortOn;

    if (sortedOn == 0) {
    rowArray.sort(RowCompareNumbers);
    }
    else {
    rowArray.sort(RowCompare);
    }
    }
    var newTbody = document.createElement('tbody');
    for (var i=0, length=rowArray.length ; i<length; i++) {
    newTbody.appendChild(rows[rowArray[i].oldIndex].cloneNode(true));
    }
    table.replaceChild(newTbody, tbody);
    }

    function RowCompare(a, b) {
      var aVal = a.value;
      var bVal = b.value;
      return aVal.localeCompare(bVal);
    }

    // Compare number
    function RowCompareNumbers(a, b) {
      var aVal = parseInt( a.value);
      var bVal = parseInt(b.value);
      return (aVal - bVal);
    }

    // compare currency
    function RowCompareDollars(a, b) {
      var aVal = parseFloat(a.value.substr(1));
      var bVal = parseFloat(b.value.substr(1));
      return (aVal - bVal);
    }
  </script>

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
    <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
    <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
       height: 30px;
          width: 35%;
      }

      textarea{
             width: 80%;
       
      }
      .modal-backdrop, .modal-backdrop.fade.in {
          opacity: 0;
          filter: alpha(opacity=80);
      }
    </style>
<%- include partials/footer_userdashboard %>


                                      

                               
                                        