<%- include partials/header_userdashboard %>



<!-- <input type="button" id="importdata" value="Import CSV "/>
 -->
  <!--   <script type="text/javascript">
$(function(){
   
    /** Click on Fetch data and display in HTML table **/
    $("#fetchdata").on('click', function(){
        $.get( "/fetchdata", function( data ) {
            var products = data['data'];
            $("#trdata").html('');
            $("#message").hide();
            var string = '';
            $.each(products, function(index, product ) {
                string += '<tr><td>'+(index+1)+'</td><td>'+product['_id']+'</td><td>'+product['name']+'</td><td>'+product['category']+'</td><td>'+product['price']+'</td><td>'+product['manufacturer']+'</td></tr>';
            });
            $("#trdata").html(string);
        });
    });
 
    /** Import data after click on a button */
    $("#importdata").on('click', function(){
        $.get( "/import", function( data ) {
            $("#message").show().html(data['success']);
        });
    });
});

    function Upload() {
        var fileUpload = document.getElementById("fileUpload");
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var table = document.createElement("table");
                    var rows = e.target.result.split("\n");
                    // alert(rows);
                    for (var i = 0; i < rows.length; i++) {
                        var cells = rows[i].split(",");
                        alert(cells);
                        if (cells.length > 1) {
                            var row = table.insertRow(-1);
                            for (var j = 0; j < cells.length; j++) {
                                var cell = row.insertCell(-1);
                                cell.innerHTML = cells[j];
                           }            
                        }

                    }
                    $.ajax({
                      type: "GET",
                      cache: false,        
                      url: '/import',
                      data: {'procatName' : 'insert'},
                      success: function(data) {
                          alert('data has been stored to database');
                      }
                    }); 
                    alert(rows);
                    var dvCSV = document.getElementById("dvCSV");
                    dvCSV.innerHTML = "";
                    dvCSV.appendChild(table);
                    // alert(dvCSV);
                }
                reader.readAsText(fileUpload.files[0]);
            } else {
                alert("This browser does not support HTML5.");
            }
        } else {
            alert("Please upload a valid CSV file.");
        }
    }
</script> -->
                     
    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
                    <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

                 <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>

                  <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>

                  <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                    
                  <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>

                  <!--     <li ng-class="{active: activeTab === 'managecoupon'}"><a href="managecoupon"><i class="fa fa-user"  aria-hidden="true"></i> Coupon  Managment</a></li> -->
                  <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>

                  <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>

                  <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>

                  <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 

                  <ul> <li ng-class="{active: activeTab === 'product'}" class="active"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                     
                  </ul>

                  </li>

                    <li ng-class="{active: activeTab === 'purchase-list'}" ><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                    <li ng-class="{active: activeTab === 'purchasereturn-list'}" ><a href="purchasereturn-list"><i class="fa fa-plus"  aria-hidden="true"></i>Purchase Return</a></li>
                  
                    <li ng-class="{active: activeTab === 'sales-list'}" ><a href="sales-list"><i class="fa fa-plus"  aria-hidden="true"></i> Sales Management</a></li>

                    <li ng-class="{active: activeTab === 'salesreturn-list'}" class="active"><a href="salesreturn-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Return</a></li>

                    <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>

                    <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                    <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
              
                    <% } %>

                      <% if (user.user_role === 'user') { %>
                  
                    <% } %>

                      <% if (user.user_role === 'doctor') { %>
                   
                    <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                        
                    </div>
<style type="text/css">
    #nav li ul { display: none; list-style:none;}
</style>
<script type="text/javascript">
    $("#nav li a").on("click", function (e) {
    //allow links to be followed if they don't have a sub-menu
    if ( !$(this).parent().has("ul").length ) { return; }

    //we have a sub-menu, so stop the link from being followed
    e.preventDefault();

    if(!$(this).hasClass("open")) {
        //we need to know which 'level' we're on 
        var currentLevel = $(this).closest('ul')
        $("li ul", currentLevel).slideUp(350);
        $("li a", currentLevel).removeClass("open");

        // open our new menu and add the open class
        $(this).next("ul").slideDown(350);
        $(this).addClass("open");
    } else {
        $(this).removeClass("open");
        $(this).next("ul").slideUp(350);
    }
});

</script>

            
                    
                          <div class="span9" style="height: 1200px;overflow-y: scroll;">
                        <!-- BEGIN PAGE HEADER-->
                        <div class="row-fluid">
                            <div class="span12">
                            
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                              <h6 class="page-title" style="font-size: 18px;">

                                    <% if (user.local.email){ %>
                                        <%= user.firstName %>

                                    <% } else if (user.google.token) { %>  
                                           <%= user.google.name %>

                                    <% } else { %>
                                          <%= user.facebook.name %> 
                                    <% } %> 
                              </h6>
                            </div>
                        </div>
                        <!-- END PAGE HEADER-->
                       


                           <div class="row-fluid">
                      <div class="span12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->   
                        
                        <div class="portlet box blue tabbable">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="hidden-480">Sales Managment</span>
                                </div>
                            </div>

                            <div class="portlet-body form">
                                <div class="tabbable portlet-tabs">
                                    
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="portlet_tab1">

                          <form action="/dateSortSalesReturn" method="post" style="height: 50px;">
                             <input type="date" name="startDate" class="form-control col-md-2">

                             <input type="date" name="endDate" class="form-control col-md-2">

                             <input type="submit" class="btn theme-btn col-md-2" value="Search">
                           </form>

                           <br><br>
                                      
                                           <form class="form-horizontal" style="overflow: auto;">

                                            <div class="form-control">
                            <!--  <input type="text" class="search form-control col-md-9" style="margin: 10px;height: 35px;width:   60%;" placeholder="Search By: Problem,Problem Detail,Problem Description,Id" /> -->
                            <input type="text" id="myInput" onkeyup="myFunction()" class="form-control col-md-8" style="margin: 10px;height: 35px;width: 60%;" placeholder="Search By: Part Name">

                           <i class="fa fa fa-search" aria-hidden="true"></i>
                            &nbsp;&nbsp;&nbsp;&nbsp;

                           <a href="sales" ng-class="{active: activeTab === 'sales'}"><input type="button" class="btn theme-btn col-md-2" style="width: 30%;" value="Add Sales" /></a>
                           
                                               </div>
                                                <br>
                                           <table datatable="ng" id="myTable" class="table table-striped table-bordered" width="100%" ui-jq="datatable" ui-options="options">
                                            <thead>
                                              <tr class="header">
                                            
                                             <th onclick="SortTable(0);" href="javascript:;">Supplier Name <i class="fa fa-fw fa-sort"></i></th>
                                                <th>List Invoice Id</th>
                                                <!-- <th>View Invoice</th> -->
                                                <th>Action</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                          <% for (var i = 0; i < datasupplier.length; i++) if(datauser[i].user_role == "user") { %> 
                                           
                                              <tr>
                                               <td><%= datasupplier[i].firstName %></td>
                                               <td>
                                               <% 
                                               for (var t = 0; t < datasales.length; t++) if(datasales[t].supId == datauser[i]._id) {
                                                %> 
                                                 <a href="salesDetail?id=<%= datasales[t]._id %>"><%= datasales[t].creditNo %></a>
                                               <br>
                                               <% } %>
                                               </td>
                                               <!-- <td><a href="purchaseDetail?id=<%= datasupplier[i]._id %>">View</a></td> -->
                                               
                                               <td>
                                                  <% 
                                                   for (var t = 0; t < datasales.length; t++) if(datasales[t].supId == datauser[i]._id) {
                                                  %> 

                                                <a href="edit-salesReturn?id=<%= datasales[t]._id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href="deletesalesReturn?id=<%= datasales[t]._id %>"><i class="fa fa-trash-o" onclick="return ConfirmDelete('<%= datasales[t].creditNo %> & <%= datauser[i].firstName %>')" aria-hidden="true"></i></a>

                                                <br>
                                                 <% } %>
                                              </td>
                                              </tr>
                                         <% } %>     
                                            </tbody>
                                          </table>


                                           
                                                </form>

 <form action="/filedd" method="post" enctype="multipart/form-data" style="height: 0px;">

  <div class="modal" id="myModal" style="display: none;background-color:#fff;height: auto;">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title">Upload Product (csv format)</h4>
         <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        </div>
        
        <div class="modal-body">

        <div class="control-group">
         <label class="control-label">Upload Product</label>
          <div class="controls">

           <input type="file" name="ufile">

          </div>
       </div>
   
           <div class="row-fluid">
            <div class="span4"></div>
            <div class="span3">
           <!--  <button type="submit" style="display: block;margin: 0 auto;" class="btn theme-btn"> <i class="fa fa-check"></i> Submit</button> -->
            <input type="submit" class="btn theme-btn" value="Submit">
            <div class="span2"></div>  
            </div>
            </div>

        </div>
    
        
        <div class="modal-footer" style="background-color:#fff;">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
        </div>
      </div>
    </div>
  </form>

  <script type="text/javascript">
 
      function ConfirmDelete(partName){
        var x = confirm("Are you sure you want to delete " + partName );
        if (x)
          return true;
        else
          return false;
      }
   
  </script>
                                          

        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->



                    </div>
                </div>
                    
                    </div>
                </div>
                </div>
                </div>
 <script type="text/javascript">



  </script>
  <script>
    function myFunction() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
  </script>

  <style type="text/css">
    a.newlogocss{
        margin-left: 20px;
    }

    .navbar-brand{
        padding: 15px !important;
    }
    
    .dropdown.open .dropdown-toggle{
        background-color: #fff !important;
    }

    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
        outline: thin dotted;
        outline: none;
        outline-offset: -2px;
    }

    .navbar-inverse .navbar-toggle {
        border-color:  #ffffff;
    }

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
        color: #999;
    }

    .nav .dropdown-toggle .caret {
        margin-top: 6px;
        border-top-color: #020202 !important;
        border-bottom-color: #121213 !important;
    }

    .modal {  
        background-color: rgba(92, 92, 92, 0.03);
        border: 0px;
    }

    .modal-body {

        padding: 0px; 
        overflow-y: inherit; 
    }
    
    @media (min-width: 414px){
      .navbar-brand{
        font-size: 25px !important;

     }

    }

    @media (min-width: 320px) and (max-width: 320px){
      .navbar-brand{
        font-size: 15px !important;
        padding: 0px;
        margin: 14px 0px 0px 25px !important;
    }

  </style>
 
</body>
<!-- END BODY -->
</html>

    <script type="text/javascript">
      var sortedOn = 0;

      function SortTable(sortOn) {
        var table = document.getElementById('example');
        var tbody = table.getElementsByTagName('tbody')[0];
        var rows = tbody.getElementsByTagName('tr');
        var rowArray = new Array();
        for (var i=0, length=rows.length; i<length; i++) {
        rowArray[i] = new Object;
        rowArray[i].oldIndex = i;
        rowArray[i].value = rows[i].getElementsByTagName('td')[sortOn].firstChild.nodeValue;
        }
        if (sortOn == sortedOn) { rowArray.reverse(); }
        else {
        sortedOn = sortOn;

        if (sortedOn == 0) {
        rowArray.sort(RowCompareNumbers);
        }
        else {
        rowArray.sort(RowCompare);
        }
        }
        var newTbody = document.createElement('tbody');
        for (var i=0, length=rowArray.length ; i<length; i++) {
        newTbody.appendChild(rows[rowArray[i].oldIndex].cloneNode(true));
        }
        table.replaceChild(newTbody, tbody);
      }

      function RowCompare(a, b) {
        var aVal = a.value;
        var bVal = b.value;
        return aVal.localeCompare(bVal);
      }

      // Compare number
      function RowCompareNumbers(a, b) {
        var aVal = parseInt( a.value);
        var bVal = parseInt(b.value);
        return (aVal - bVal);
      }
      // compare currency
      function RowCompareDollars(a, b) {
        var aVal = parseFloat(a.value.substr(1));
        var bVal = parseFloat(b.value.substr(1));
        return (aVal - bVal);
      }

    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 

    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
    <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
    <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
       height: 30px;
          width: 80%;
      }

      textarea{
             width: 80%;
       
      }
      .modal-backdrop, .modal-backdrop.fade.in {
          opacity: 0;
          filter: alpha(opacity=80);
      }
    </style>
<%- include partials/footer_userdashboard %>


                                      

                               
                                        