<%- include partials/header_userdashboard %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" >
      function preventBack(){window.history.forward();}
        setTimeout("preventBack()", 0);
        window.onunload=function(){null};
    </script>
           
<script type="text/javascript" href="/js/categories.js"></script>
    <div class="row-fluid">
      <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
                       <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                            <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                     <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

              

                     <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                     <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                   
                      <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                     <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                
                      <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>
                       <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 
                        <ul> <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                        <!-- <li ng-class="{active: activeTab === 'size'}"><a href="managesize"><i class="fa fa-user"  aria-hidden="true"></i> Size Mangment</a>
                        </li>
                        <li ng-class="{active: activeTab === 'color'}"><a href="managecolor"><i class="fa fa-user"  aria-hidden="true"></i> Color Managment</a>
                        </li> -->
                    </ul>
                      </li>

                        <li ng-class="{active: activeTab === 'purchase-list'}" ><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                        <li ng-class="{active: activeTab === 'sales-list'}" class="active"><a href="sales-list"><i class="fa fa-plus"  aria-hidden="true"></i> Sales Management</a></li>

                        <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                        <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                    
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                     <!-- <li ng-class="{active: activeTab === 'consult'}"><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                     <!--  <li ng-class="{active: activeTab === 'review-consult'}"><a href="review-consult"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                      <% } %>
                      <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                            
                    </ul>
                  </div>

                  <style type="text/css">
                      #nav li ul { display: none; list-style:none;}
                  </style>

                  <script type="text/javascript">
                      $("#nav li a").on("click", function (e) {
                      //allow links to be followed if they don't have a sub-menu
                      if ( !$(this).parent().has("ul").length ) { return; }

                      //we have a sub-menu, so stop the link from being followed
                      e.preventDefault();

                      if(!$(this).hasClass("open")) {
                          //we need to know which 'level' we're on 
                          var currentLevel = $(this).closest('ul')
                          $("li ul", currentLevel).slideUp(350);
                          $("li a", currentLevel).removeClass("open");

                          // open our new menu and add the open class
                          $(this).next("ul").slideDown(350);
                          $(this).addClass("open");
                      } else {
                          $(this).removeClass("open");
                          $(this).next("ul").slideUp(350);
                          }
                      });
                  </script>
                          

            
                    
                          <div class="span9" style="height: 1300px;">
                        <!-- BEGIN PAGE HEADER-->
                          <div class="row-fluid">
                            <div class="span12">
                            
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                            <h6 class="page-title" style="font-size: 18px;">
                                  

                                  <% if (user.local.email) { %>
                                      <%= user.firstName %>'s Profile !!!!

                                   <% } %>

                                   <% if (user.google.token) { %>

                                      <%= user.google.name %> Profile !!!!
                
                                    <% } %>

                                     <% if (user.facebook.token) { %>
                   
                                    <%= user.facebook.name %> Profile !!!!

                                    <% } %> 
                                </h6>
                            </div>
                        </div>
                        <!-- END PAGE HEADER-->
                       


                           <div class="row-fluid">
                      <div class="span12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->   
                        
                        <div class="portlet box blue tabbable">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="hidden-480">Sales Invoice</span>
                                </div>
                            </div>

                            <div class="portlet-body form">
                                <div class="tabbable portlet-tabs">
                                    
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="portlet_tab1" style="overflow-y: scroll">

                                          <form class="form-horizontal" method="post" action="sales-insert">
                  

                      <% for (var d = 0; d < datasales.length; d++) if(datasales[d]._id == supId){ 

                      %> 
                       <div class="control-group">
                      <label class="control-label">Voucher No</label>
                        <div class="controls">

                      <input type="text" value="<%= datasales[d].voucherNo %>" name="voucherNo" readonly/>
                         
                           </div>
                           </div>

                      <div class="control-group">
                      <label class="control-label">Date</label>
                        <div class="controls">

                         
                        <input type="text" id="demodate" readonly/>

                        <script>
                        var dates =  new Date();    
                        document.getElementById("demodate").value = dates;
                        </script>

                           </div>
                           </div>     


                      <div class="control-group">
                        <label class="control-label">Select Supplier</label>

                          <div class="controls">
                              <select class="form-control" name="supId" id="selectbox" required="required" readonly>
                                <option value="">Select Supplier Name</option>
                            
                                <% for (var q = 0; q < loadsupplierdata.length; q++) if(loadsupplierdata[q]._id == datasales[d].supId) { %>                             
                                  <option value="<%= loadsupplierdata[q]._id %>" selected><%= loadsupplierdata[q].supName %>
                                  </option>
                                    <% } %>
                                 
                                  <% for (var q = 0; q < loadsupplierdata.length; q++) if(loadsupplierdata[q]._id != datasales[d].supId) { %>                             
                                <option value="<%= loadsupplierdata[q]._id %>"><%= loadsupplierdata[q].supName %>
                                </option>
                                  <% } %>
                              </select>
                           </div>
                      </div>

                      <script type="text/javascript">
                        $( "#selectbox" ).change(function() {
                         var LoadId = $('#selectbox').val();
                         // alert(LoadId);
                         $.ajax({
                          type:'get',
                          url:'/checkSupplierState',// put your real file name 
                          data:{supId: LoadId},
                          success:function(data){
                           
                           // alert(data["state"]);
                           if(data["state"] == "Madhya Pradesh"){

                            document.getElementById("cgstt").style.display = "block";
                            document.getElementById("cgsttVal").style.display = "block";

                            $('.igsttValhide').css('display','none');
                            
                            document.getElementById("sgstt").style.display = "";
                            document.getElementById("sgsttVal").style.display = "";
                            
                            document.getElementById("igstt").style.display = "none";
                            document.getElementById("igsttVal").style.display = "none";
                            

                           }else{
                            document.getElementById("cgstt").style.display = "none";
                            document.getElementById("cgsttVal").style.display = "none";
                            document.getElementById("sgstt").style.display = "none";
                            document.getElementById("sgsttVal").style.display = "none";
                            document.getElementById("igstt").style.display = "block";
                            document.getElementById("igsttVal").style.display = "block";

                                $('.cgsttValhide').css('display','none');
                                $('.sgsttValhide').css('display','none');

                                                      
                                }
                              }
                          });
                      
                        }) . trigger("change") // extra call 
                      </script>

                      <div class="control-group">
                        <label class="control-label">Invoice no</label>
                          <div class="controls">
 
                             <input type="text" value="<%= datasales[d].invoiceNo %>" name="invoiceNo" readonly/>
                          </div>
                      </div> 

                           <div class="control-group">
                      <label class="control-label">Invoice Date</label>
                        <div class="controls">
                        <input type="date" name="SupDate" value="<%= datasales[d].SupDate %>" readonly>
                           </div>
                           </div>

                           <div class="control-group">
                      <label class="control-label">Select Order No</label>
                        <div class="controls">
                          <select class="form-control" required="required" name="orderId" readonly>
                            <option value="">Select Order No</option>
                            <% for (var q = 0; q < loadorderdata.length; q++) if(loadorderdata[q]._id == datasales[d].orderId){ %>                             
                              <option value="<%= loadorderdata[q]._id %>" selected><%= loadorderdata[q]._id %>
                              </option>
                                <% } %>

                                 <% for (var q = 0; q < loadorderdata.length; q++) if(loadorderdata[q]._id != datasales[d].orderId){ %>                             
                              <option value="<%= loadorderdata[q]._id %>"><%= loadorderdata[q]._id %>
                              </option>
                                <% } %>
                            </select>
                           </div>
                           </div> 

                           <% } %>

 <table id="myTable" class="table order-list">
        <thead>
          <tr>
            <!-- <td>Serial Number</td> -->
            <td>Description Of Goods</td>
            <td>Selling Price</td>
            <td>Taxability in %</td>
            <td>HSN Code</td>
            <td>Qty</td>
            <td>Cost Price</td>
            <td>Per</td>
            <td>Discount in %</td>
            <td>Taxable Amount</td>
            <td id="cgstt" style="width: 40px;">CGST</td>
            <td id="sgstt" style="width: 40px;">SGST</td>
            <td id="igstt" style="width: 40px;">IGST</td>
            <td>Total Amount</td>
          </tr>
        </thead>
        <tbody>

            <% for (var q = 0; q < datasalesitem.length; q++) if(datasalesitem[q].salesId == supId) { %>
           

            <tr>

              <% for (var t = 0; t < dataproduct.length; t++) if(dataproduct[t]._id == datasalesitem[q].partId) { %>
              <td><%=dataproduct[0].partName %></td>
                <% } %>
              <td><%=datasalesitem[q].SellPrice %></td>
              <td><%=datasalesitem[q].Tax %></td>
              <td><%=datasalesitem[q].Discount %></td>
              <td><%=datasalesitem[q].Quantity %></td>
              <td><%=datasalesitem[q].Price %></td>
              <td><%=datasalesitem[q].Per %></td>
              <td><%=datasalesitem[q].DiscountAmnt %></td>
              <td><%=datasalesitem[q].TotalAmnt %></td>
              <td id="cgsttVal" class="cgsttValhide" style="width: 40px;"><%=datasalesitem[q].Cgst %></td>
              <td id="sgsttVal"  class="sgsttValhide" style="width: 40px;"><%=datasalesitem[q].Sgst %></td>
              <td id="igsttVal" class="igsttValhide" style="width: 40px;"><%=datasalesitem[q].Igst %></td>
              <td><%=datasalesitem[q].TotalAmntData %></td>
            </tr>
            
              <% } %>
        </tbody>
        <tfoot>
            <tr>
            </tr>
       
            <!--  <% for (var d = 0; d < datasales.length; d++) if(datasales[d]._id == supId) { %>
             <tr>
                <td colspan="5" class="text-center" style="text-align: left;">Taxable Amount Total</td>
                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceAmnt"><%=datasales[d].GrandTotalAmnt %></span></td>
            </tr> -->
             <!--  <tr id="CgstRow">
                <td colspan="5" class="text-center" style="text-align: left;">CGST Total</td>
                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceCgst"><%=datasales[d].CgstTotalAmnt %></span></td>
            </tr>
            <tr id="SgstRow">
                <td colspan="5" class="text-center" style="text-align: left;">SGST Total</td>
                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceSgst"><%=datasales[d].SgstTotalAmnt %></span></td>
            </tr>
             <tr id="IgstRow">
                <td colspan="5" class="text-center" style="text-align: left;">IGST Total</td>
                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceIgst"><%=datasales[d].IgstTotalAmnt %></span></td>
            </tr> -->
           <!--  <tr>
                <td colspan="5" class="text-center" style="text-align: left;">Total Amount</td>
                <td colspan="5" class="text-center" style="text-align: left;"><span id="totalpriceFinalAmnt"><%=datasales[d].FinalTotalAmnt %></span></td>
            </tr>
            <% } %> -->

            <tr>
              
               <td><button><a href="sales-list">Back </a></button></td>
          
            </tr>
          
        </tfoot>
    </table>                   

</form>


 <% var rowFrameworkResultInJss =  dataproduct

    var totall = rowFrameworkResultInJss.length

    var finalvals = JSON.stringify(rowFrameworkResultInJss)

    var supplierDetailData = loadsupplierdata

    var totalSupplier = supplierDetailData.length

    var finalSupplerValue = JSON.stringify(supplierDetailData)

   %>


<script>

   
         // var rowFrameworkResultInJs = "<%= rowFrameworkResultInJss %>";
         //       var totallength = "<%= totall %>";

         //        var totalfinalvals = "<%= finalvals%>";

         //         $('#datttt').on('change', function() {

         //           var datlist = this.value;
               
         //        var newdata = totalfinalvals.replace(/&quot;/g,'"');
         //        // alert(newdata);

         //       var obj = JSON.parse(newdata);
         //        var lengtht = Object.keys(obj).length; 
         //           alert(obj[0]._id);

         //              alert(datlist);

         //              for (var d = 0; d < obj.length; d++) if(obj[d]._id == datlist) {
         //                alert(obj[d]._id);
         //                alert(obj[d].code);

         //                 document.getElementById("hsnCode").value=obj[d].code;
         //                 document.getElementById("taxs").value=obj[d].tax;
         //                 document.getElementById("pricess").value=obj[d].price; 
         //                 document.getElementById("pers").value=obj[d].altset; 

         //                 var finaldd = obj[d].price * obj[d].tax / 100;
         //                 alert(finaldd);

         //                  document.getElementById("discAmnt").value=finaldd;   

         //                 var finlSinglAmt = obj[d].price - finaldd;

         //                 document.getElementById("singleAmt").value=finlSinglAmt;            
                               

         //              }                                                  
                 
         //        return true;
         //    });           
                        
     </script> 
                 



<script type="text/javascript">

  $(document).ready(function () {
    var counter = 0;


    $(document).on("change", ".supFunction" ,function(){
    
      // alert( this.value; );

      var selectedSupplierValue = this.value;

        
        $("#addrow").on("click", function () {
            var newRow = $("<tr>");
            var cols = "";
            // counter = counter + 1;
            // alert(counter);


             var rowFrameworkResultInJs = "<%= rowFrameworkResultInJss %>";
             var totallength = "<%= totall %>";
             var totalfinalvals = "<%= finalvals%>";


             var supplierDetailDataSUp = "<%= supplierDetailData %>";
             var totalSupplierlength = "<%= totalSupplier %>";
             var totalfinalSupplerValue = "<%= finalSupplerValue%>";



          $(document).on("change", ".abcc" ,function() 
          {
              var datlistval = this.value;
                   // alert(datlistval);


              var datlist = this.id.substring('6');
                   // alert(datlist);
                   // alert(datlist);
               
              var newdata = totalfinalvals.replace(/&quot;/g,'"');
                // alert(newdata);

              var obj = JSON.parse(newdata);
              var lengtht = Object.keys(obj).length; 
                   // alert(obj[0]._id);

                       // alert("#datttt"+ counter);


              var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');
                // alert(newdata);

              var objSupplier = JSON.parse(newdataSupplier);       

                      for (var d = 0; d < obj.length; d++)
                       if(obj[d]._id == datlistval) {

                        // alert(selectedSupplierValue);
                        // alert(obj[d]._id);
                        // alert(obj[d].code);
                        // alert(counter);
                         // alert("#hsnCode"+datlist);
                        // alert($("#hsnCode"+counter).val(obj[d].code));
                        // alert($("#hsnCode0").val(obj[d].code));

                        // $("#hsnCode"+counter).val(obj[d].code);
                         document.getElementById("SellingPrice"+ datlist).value=obj[d].price; 
                         document.getElementById("hsnCode"+ datlist).value=obj[d].code;
                         document.getElementById("taxs"+ datlist).value=obj[d].tax;
                         // document.getElementById("pricess"+ datlist).value=obj[d].price; 

                         var TotlQty = document.getElementById("qtyy"+ datlist).value;

                         var TotlPricee = document.getElementById("pricess"+ datlist).value;
                         
                         var DiscountAmnt = document.getElementById("discAmnt"+ datlist).value;

                         document.getElementById("pers"+ datlist).value=obj[d].altset; 

                           // var finaldd = TotlPricee - (TotlPricee * TotlQty * DiscountAmnt / 100);

                           // var finaldd =  Qty * [cost price-{(cost price * Discount)/100}];

                           var finaldd =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                           // alert(finaldd);


                           // var newkks = TotlPricee * DiscountAmnt ;

                           // var Finalnewkks = newkks /100 ;

                           // var Finalnewkkdars = TotlPricee - Finalnewkks;


                           // var finaldd = TotlQty * Finalnewkkdars ;
                          
                           var cgstAmnt = (finaldd * obj[d].tax /100) * 1/2 ;
                            var sgstAmnt = (finaldd * obj[d].tax /100) * 1/2 ;
                           var igstAmnt = (finaldd * obj[d].tax /100);

                             document.getElementById("cgst"+ datlist).value=cgstAmnt;
                             document.getElementById("sgst"+ datlist).value=sgstAmnt;

                             document.getElementById("igst"+ datlist).value=igstAmnt;
                                            
                            // document.getElementById("totalAmount"+ datlist).value=TotalAmntdata;

                            document.getElementById("singleAmt"+ datlist).value=finaldd;


                        for (var k = 0; k < objSupplier.length; k++)
                        if(objSupplier[k]._id == selectedSupplierValue){
                          
                          if(objSupplier[k].state == "Madhya Pradesh"){
                            document.getElementById("cgst"+ datlist).style.display = "block";
                            document.getElementById("sgst"+ datlist).style.display = "block";
                            document.getElementById("igst"+ datlist).style.display = "none";
                            document.getElementById("CgstRow").style.display = "block";
                            document.getElementById("SgstRow").style.display = "block";
                            document.getElementById("IgstRow").style.display = "none";

                             var TotalAmntdata =  finaldd + cgstAmnt + sgstAmnt;
                            
                            document.getElementById("totalAmount"+ datlist).value=TotalAmntdata;
                            // alert(TotalAmntdata);
                                                       
                          }else{

                            document.getElementById("cgst"+ datlist).style.display = "none";
                            document.getElementById("sgst"+ datlist).style.display = "none";
                            document.getElementById("igst"+ datlist).style.display = "block";
                             document.getElementById("CgstRow").style.display = "none";
                            document.getElementById("SgstRow").style.display = "none";
                            document.getElementById("IgstRow").style.display = "block";
                              var TotalAmntdata =  finaldd + igstAmnt;
                             document.getElementById("totalAmount"+ datlist).value=TotalAmntdata;           
                           }
                         }
       

                         var sum=0;

                         $('.amount').each(function(i, obj){


                             if($.isNumeric(this.value)) {

                               
                                        sum += parseFloat(this.value);
                                    }




                             });


                         var sumCgst=0;

                         $('.Cgstamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                 sumCgst += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumCgst);
                          var sumSgst=0;

                         $('.Sgstamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                 sumSgst += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumSgst);
                            
                             var sumIgst=0;

                         $('.Igstamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                 sumIgst += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumIgst);

                               var sumfinalTotal=0;

                         $('.FinalTotalamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                sumfinalTotal += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumfinalTotal);

                          document.getElementById("totalpriceAmnt").textContent=sum;
                          document.getElementById("totalpriceCgst").textContent=sumCgst;
                          document.getElementById("totalpriceSgst").textContent=sumSgst;
                          document.getElementById("totalpriceIgst").textContent=sumIgst;
                          document.getElementById("totalpriceFinalAmnt").textContent=sumfinalTotal;
                           document.getElementById("totalpriceAmntf").value=sum;
                           document.getElementById("totalpriceCgstf").value=sumCgst;
                          document.getElementById("totalpriceSgstf").value=sumSgst;
                          document.getElementById("totalpriceIgstf").value=sumIgst;
                          document.getElementById("totalpriceFinalAmntf").value=sumfinalTotal;
                             // $('#totalpriceAmnt').val(sum);

                      }  
                          // alert(TotalAmntData);
             
                return true;

            });   

          
          

           $(document).on("keyup", ".abcalcPriceDiscAmnt" ,function(){

              // alert("hiii abacalc");

                  var datCalculateval1 = this.value;
                   // alert(datCalculateval1);
              var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');
                // alert(newdata);

               var objSupplier = JSON.parse(newdataSupplier);  

                   var datCalculatelist1 = this.id.substring('8');
                    // alert(datCalculatelist1);

                   // var myBox1 = document.getElementById('qtyy'+ datCalculatelist1).value; 
                   // var myBox2 = document.getElementById('pricess'+ datCalculatelist1).value;
                   // alert(myBox2);
                   var myBox3 = document.getElementById("taxs"+ datCalculatelist1).value;
                   // var result = document.getElementById('singleAmt'+ datCalculatelist1); 
                   // var result1 = document.getElementById('discAmt'+ datCalculatelist1); 
                    // alert(result);
                     // alert(result1);


                         var TotlQty = document.getElementById("qtyy"+ datCalculatelist1).value;

                         var TotlPricee = document.getElementById("pricess"+ datCalculatelist1).value;
                         
                         var DiscountAmnt = document.getElementById("discAmnt"+ datCalculatelist1).value;

                         // var finaldd = TotlPricee - (TotlPricee * TotlQty * DiscountAmnt / 100);

                         var finaldd =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                        var cgstAmnt = (finaldd * myBox3 /100) * 1/2 ;
                        var sgstAmnt = (finaldd * myBox3 /100) * 1/2 ;
                        var igstAmnt = (finaldd * myBox3 /100);

                           document.getElementById("cgst"+ datCalculatelist1).value=cgstAmnt;

                           document.getElementById("sgst"+ datCalculatelist1).value=sgstAmnt;
 
                           document.getElementById("igst"+ datCalculatelist1).value=igstAmnt;   

                           document.getElementById("singleAmt"+ datCalculatelist1).value=finaldd;

                              for (var k = 0; k < objSupplier.length; k++)
                        if(objSupplier[k]._id == selectedSupplierValue){
                          // alert(objSupplier[k].state);
                          if(objSupplier[k].state == "Madhya Pradesh"){
                            document.getElementById("cgst"+ datCalculatelist1).style.display = "block";
                            document.getElementById("sgst"+ datCalculatelist1).style.display = "block";
                            document.getElementById("igst"+ datCalculatelist1).style.display = "none";

                             document.getElementById("CgstRow").style.display = "block";
                            document.getElementById("SgstRow").style.display = "block";
                            document.getElementById("IgstRow").style.display = "none";

                             var TotalAmntdata =  finaldd + cgstAmnt + sgstAmnt;
                            
                            document.getElementById("totalAmount"+ datCalculatelist1).value=TotalAmntdata;

                               // alert(TotalAmntdata);
                            
                          }else{
                            document.getElementById("cgst"+ datCalculatelist1).style.display = "none";
                            document.getElementById("sgst"+ datCalculatelist1).style.display = "none";
                            document.getElementById("igst"+ datCalculatelist1).style.display = "block";
                             document.getElementById("CgstRow").style.display = "none";
                            document.getElementById("SgstRow").style.display = "none";
                            document.getElementById("IgstRow").style.display = "block";
                             var TotalAmntdata =  finaldd + igstAmnt;
                            
                            document.getElementById("totalAmount"+ datCalculatelist1).value=TotalAmntdata;
                            
                          }
                         }

                      // var myResult = parseInt(myBox2) - (parseInt(myBox2) * parseInt(myBox1) * parseInt(result1) / 100);


                   // var myResult = parseInt(myBox1) * parseInt(myBox2) * parseInt(myBox3) / 100;
                   // alert(myResult);

                   // document.getElementById('discAmnt'+ datCalculatelist1).value = myResult;


                   // var fmyres = (parseInt(myBox2) * parseInt(myBox1)) - myResult;
                         // alert(finlSinglAmt);

                  

                     // var TotalAmntData =+ parseInt(fmyres) ; 

                          // alert(TotalAmntData);

                          var sum1=0;
                          var sum=0;

                          $('.amount').each(function(i, obj){

                            if($.isNumeric(this.value)) {

                                 sum += parseFloat(this.value);

                                }

                            });


                         var sumCgst=0;

                         $('.Cgstamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                 sumCgst += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumCgst);
                          var sumSgst=0;

                         $('.Sgstamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                 sumSgst += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumSgst);
                            
                             var sumIgst=0;

                         $('.Igstamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                 sumIgst += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumIgst);

                               var sumfinalTotal=0;

                         $('.FinalTotalamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                sumfinalTotal += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumfinalTotal);

                          document.getElementById("totalpriceAmnt").textContent=sum;
                          document.getElementById("totalpriceCgst").textContent=sumCgst;
                          document.getElementById("totalpriceSgst").textContent=sumSgst;
                          document.getElementById("totalpriceIgst").textContent=sumIgst;
                          document.getElementById("totalpriceFinalAmnt").textContent=sumfinalTotal;
                          document.getElementById("totalpriceAmntf").value=sum;
                          document.getElementById("totalpriceCgstf").value=sumCgst;
                          document.getElementById("totalpriceSgstf").value=sumSgst;
                          document.getElementById("totalpriceIgstf").value=sumIgst;
                          document.getElementById("totalpriceFinalAmntf").value=sumfinalTotal;

                });
        


            $(document).on("keyup", ".abcalcPrice" ,function(){

              // alert("hiii abacalc");

                  var datCalculateval2 = this.value;
                   // alert(datCalculateval);
               var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');
                // alert(newdata);

               var objSupplier = JSON.parse(newdataSupplier);  


                   var datCalculatelist2 = this.id.substring('7');
                    // alert(datCalculatelist);

                   // var myBox1 = document.getElementById('qtyy'+ datCalculatelist2).value; 
                   // var myBox2 = document.getElementById('pricess'+ datCalculatelist2).value;
                   // alert(myBox2);
                   var myBox3 = document.getElementById("taxs"+ datCalculatelist2).value;
                   // var result = document.getElementById('singleAmt'+ datCalculatelist2); 
                    // var result1 = document.getElementById('discAmt'+ datCalculatelist2); 
                    // alert(result);
                      // alert(result1);


                         var TotlQty = document.getElementById("qtyy"+ datCalculatelist2).value;

                         var TotlPricee = document.getElementById("pricess"+ datCalculatelist2).value;
                         
                         var DiscountAmnt = document.getElementById("discAmnt"+ datCalculatelist2).value;

                         // var finaldd = TotlPricee - (TotlPricee * TotlQty * DiscountAmnt / 100);

                           //  var newkks = TotlPricee * DiscountAmnt ;

                           // var Finalnewkks = newkks /100 ;

                           // var Finalnewkkdars = TotlPricee - Finalnewkks;


                           // var finaldd = TotlQty * Finalnewkkdars ;

                           var finaldd =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                          var cgstAmnt = (finaldd * myBox3 /100) * 1/2 ;
                          var sgstAmnt = (finaldd * myBox3 /100) * 1/2 ;
                          var igstAmnt = (finaldd * myBox3 /100);
                          document.getElementById("cgst"+ datCalculatelist2).value=cgstAmnt;
                          document.getElementById("sgst"+ datCalculatelist2).value=sgstAmnt;
                           document.getElementById("igst"+ datCalculatelist2).value=igstAmnt;  
                         // document.getElementById("totalAmount"+ datCalculatelist2).value=TotalAmntdata;

                             document.getElementById("singleAmt"+ datCalculatelist2).value=finaldd;

                        for (var k = 0; k < objSupplier.length; k++)

                          if(objSupplier[k]._id == selectedSupplierValue){
                            // alert(objSupplier[k].state);
                            if(objSupplier[k].state == "Madhya Pradesh"){
                              document.getElementById("cgst"+ datCalculatelist2).style.display = "block";
                              document.getElementById("sgst"+ datCalculatelist2).style.display = "block";
                              document.getElementById("igst"+ datCalculatelist2).style.display = "none";
                             
                              document.getElementById("CgstRow").style.display = "block";
                              document.getElementById("SgstRow").style.display = "block";
                              document.getElementById("IgstRow").style.display = "none";

                              var TotalAmntdata =  finaldd + cgstAmnt + sgstAmnt;
                              document.getElementById("totalAmount"+ datCalculatelist2).value=TotalAmntdata;
                                // alert(TotalAmntdata);
                            }else{
                              document.getElementById("cgst"+ datCalculatelist2).style.display = "none";
                              document.getElementById("sgst"+ datCalculatelist2).style.display = "none";
                              document.getElementById("igst"+ datCalculatelist2).style.display = "block";
                              document.getElementById("CgstRow").style.display = "none";
                              document.getElementById("SgstRow").style.display = "none";
                              document.getElementById("IgstRow").style.display = "block";

                              var TotalAmntdata =  finaldd + igstAmnt;
                            
                              document.getElementById("totalAmount"+ datCalculatelist2).value=TotalAmntdata;
                            }
                          }         


                   // var myResult = parseInt(myBox1) * parseInt(myBox2) * parseInt(myBox3) / 100;
                   //  var myResult = parseInt(myBox2) - (parseInt(myBox2) * parseInt(myBox1) * parseInt(result1) / 100);
                   // alert(myResult);

                   // document.getElementById('discAmnt'+ datCalculatelist2).value = myResult;


                   // var fmyres = (parseInt(myBox2) * parseInt(myBox1)) - myResult;
                   //       // alert(finlSinglAmt);

                   

                     // var TotalAmntData =+ parseInt(fmyres) ; 

                          // alert(TotalAmntData);

                         var sum=0;

                         $('.amount').each(function(i, obj){


                             if($.isNumeric(this.value)) {

                               
                                        sum += parseFloat(this.value);
                                    }




                             });


                         var sumCgst=0;

                         $('.Cgstamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                 sumCgst += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumCgst);
                          var sumSgst=0;

                         $('.Sgstamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                 sumSgst += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                           
                            // alert(sumSgst);
                            
                             var sumIgst=0;

                         $('.Igstamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                 sumIgst += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumIgst);

                               var sumfinalTotal=0;

                         $('.FinalTotalamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                sumfinalTotal += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumfinalTotal);

                           document.getElementById("totalpriceAmnt").textContent=sum;
                          document.getElementById("totalpriceCgst").textContent=sumCgst;
                          document.getElementById("totalpriceSgst").textContent=sumSgst;
                          document.getElementById("totalpriceIgst").textContent=sumIgst;
                          document.getElementById("totalpriceFinalAmnt").textContent=sumfinalTotal;
                            document.getElementById("totalpriceAmntf").value=sum;
                           document.getElementById("totalpriceCgstf").value=sumCgst;
                          document.getElementById("totalpriceSgstf").value=sumSgst;
                          document.getElementById("totalpriceIgstf").value=sumIgst;
                          document.getElementById("totalpriceFinalAmntf").value=sumfinalTotal;

                });
        

              $(document).on("keyup", ".abcalc" ,function(){


                  var datCalculateval3 = this.value;
                    // alert(datCalculateval);

                    var newdataSupplier = totalfinalSupplerValue.replace(/&quot;/g,'"');
                // alert(newdata);

               var objSupplier = JSON.parse(newdataSupplier);  

                   var datCalculatelist3 = this.id.substring('4');
                    // alert(datCalculatelist);

                   // var myBox1 = document.getElementById('qtyy'+ datCalculatelist3).value; 
                    // alert(myBox1);
                   // var myBox2 = document.getElementById('pricess'+ datCalculatelist3).value;
                   // alert(myBox2);
                   var myBox3 = document.getElementById("taxs"+ datCalculatelist3).value;
                    // var result = document.getElementById('singleAmt'+ datCalculatelist3); 
                    // var result1 = document.getElementById('discAmt'+ datCalculatelist3); 
                    // alert(result);
                     // alert(result1);
                   // var myResult = parseInt(myBox1) * parseInt(myBox2) * parseInt(myBox3) / 100;
                    // var myResult = parseInt(myBox2) - (parseInt(myBox2) * parseInt(myBox1) * parseInt(result1) / 100);
                   // alert(myResult);
                      var TotlQty = document.getElementById("qtyy"+ datCalculatelist3).value;

                         var TotlPricee = document.getElementById("pricess"+ datCalculatelist3).value;
                         
                         var DiscountAmnt = document.getElementById("discAmnt"+ datCalculatelist3).value;

                           //  var newkks = TotlPricee * DiscountAmnt ;

                           // var Finalnewkks = newkks /100 ;

                           // var Finalnewkkdars = TotlPricee - Finalnewkks;


                           // var finaldd = TotlQty * Finalnewkkdars ;

                           var finaldd =  TotlQty * (TotlPricee-((TotlPricee * DiscountAmnt)/100));

                    var cgstAmnt = (finaldd * myBox3 /100) * 1/2 ;
                    var sgstAmnt = (finaldd * myBox3 /100) * 1/2 ;
                    var igstAmnt = (finaldd * myBox3 /100) ;

                    document.getElementById("cgst"+ datCalculatelist3).value=cgstAmnt;    
                    document.getElementById("sgst"+ datCalculatelist3).value=sgstAmnt;    
                    document.getElementById("igst"+ datCalculatelist3).value=igstAmnt;  

                    document.getElementById("singleAmt"+ datCalculatelist3).value=finaldd;   

                    for (var k = 0; k < objSupplier.length; k++)
                        if(objSupplier[k]._id == selectedSupplierValue){
                          // alert(objSupplier[k].state);
                          if(objSupplier[k].state == "Madhya Pradesh"){
                            document.getElementById("cgst"+ datCalculatelist3).style.display = "block";
                            document.getElementById("sgst"+ datCalculatelist3).style.display = "block";
                            document.getElementById("igst"+ datCalculatelist3).style.display = "none";

                            document.getElementById("CgstRow").style.display = "block";
                            document.getElementById("SgstRow").style.display = "block";
                            document.getElementById("IgstRow").style.display = "none";

                              var TotalAmntdata =  finaldd + cgstAmnt + sgstAmnt;
                              // alert(TotalAmntdata);
                            
                              document.getElementById("totalAmount"+ datCalculatelist3).value=TotalAmntdata;

                             // alert(TotalAmntdata);
                            
                          }else{
                            document.getElementById("cgst"+ datCalculatelist3).style.display = "none";
                            document.getElementById("sgst"+ datCalculatelist3).style.display = "none";
                            document.getElementById("igst"+ datCalculatelist3).style.display = "block";
                            document.getElementById("CgstRow").style.display = "none";
                            document.getElementById("SgstRow").style.display = "none";
                            document.getElementById("IgstRow").style.display = "block";
                              var TotalAmntdata =  finaldd + igstAmnt;
                            
                            document.getElementById("totalAmount"+ datCalculatelist3).value=TotalAmntdata;
                          
                          }
                         }     

                   

                     // var TotalAmntData =+ parseInt(fmyres) ; 

                          // alert(TotalAmntData);

                         var sum=0;

                         $('.amount').each(function(i, obj){


                             if($.isNumeric(this.value)) {

                               
                                        sum += parseFloat(this.value);
                                    }




                             });


                         var sumCgst=0;

                         $('.Cgstamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                 sumCgst += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumCgst);
                          var sumSgst=0;

                         $('.Sgstamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                 sumSgst += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumSgst);
                            
                             var sumIgst=0;

                         $('.Igstamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                 sumIgst += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumIgst);

                               var sumfinalTotal=0;

                         $('.FinalTotalamount').each(function(i, obj){
                          
                            if($.isNumeric(this.value)) {
                              // alert(this.value);
                                sumfinalTotal += parseFloat(this.value);
                                 // alert(sumCgst);
                                }

                             });

                            // alert(sumfinalTotal);
                          document.getElementById("totalpriceAmnt").textContent=sum;
                          document.getElementById("totalpriceCgst").textContent=sumCgst;
                          document.getElementById("totalpriceSgst").textContent=sumSgst;
                          document.getElementById("totalpriceIgst").textContent=sumIgst;
                          document.getElementById("totalpriceFinalAmnt").textContent=sumfinalTotal;
                          document.getElementById("totalpriceAmntf").value=sum;
                          document.getElementById("totalpriceCgstf").value=sumCgst;
                          document.getElementById("totalpriceSgstf").value=sumSgst;
                          document.getElementById("totalpriceIgstf").value=sumIgst;
                          document.getElementById("totalpriceFinalAmntf").value=sumfinalTotal;

                });


        

        cols += '<td><select id="datttt' + counter + '" style="width:100px;" class="abcc" name="partId[]"><option>Select Part</option><% for (var d = 0; d < dataproduct.length; d++) { %><option value="<%= dataproduct[d]._id %>"><%= dataproduct[d].partId %></option><% } %></select></td>';

        cols += '<td><input type="text" id="SellingPrice' + counter + '"  class="form-control" name="SellPrice" style="color:red;"/></td>';
        cols += '<td><input type="text" id="taxs' + counter + '" name="Tax" class="form-control" readonly="readonly" width: 35%;/></td>';
        cols += '<td><input type="text" id="hsnCode' + counter + '" name="Discount"  class="form-control " readonly="readonly" style="width: 50px;"/></td>';
        cols += '<td><input type="text" class="abcalc" name="Quantity" id="qtyy' + counter + '" style="width: 25px;"/></td>';
        // cols += '<td><input type="text" id="pricess' + counter + '" name="Price" class="form-control" class="abcalc" readonly="readonly"/></td>'; 
        cols += '<td><input type="text" class="abcalcPrice" id="pricess' + counter + '" name="Price" style="width: 60px;"/></td>';     
        cols += '<td><input type="text" id="pers' + counter + '" name="Per" class="form-control" readonly="readonly" style="width: 80px;"/></td>';
        cols += '<td><input type="text" id="discAmnt' + counter + '" name="DiscountAmnt" class="abcalcPriceDiscAmnt" value="1"/></td>';
        cols += '<td><input type="text" class="amount" id="singleAmt' + counter + '" name="TotalAmnt" class="form-control" readonly="readonly"/></td>';
        cols += '<td><input type="text" class="Cgstamount" class="form-control" id="cgst' + counter + '" name="Cgst" style="width: 40px;"/></td>';
        cols += '<td><input type="text" class="Sgstamount" class="form-control" id="sgst' + counter + '" name="Sgst" style="width: 40px;"/></td>';
        cols += '<td><input type="text" class="Igstamount" class="form-control" id="igst' + counter + '" name="Igst" style="width: 40px;"/></td>';
        cols += '<td><input type="text" class="FinalTotalamount" class="form-control" id="totalAmount' + counter + '"  name="TotalAmntData"/></td>';
        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';

          newRow.append(cols);
          $("table.order-list").append(newRow);
          counter++;
      });

    });


    $("table.order-list").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });


});



    function calculateRow(row) {
        var price = +row.find('input[name^="price"]').val();

    }

    function calculateGrandTotal() {
        var grandTotal = 0;
        $("table.order-list").find('input[name^="price"]').each(function () {
            grandTotal += +$(this).val();
        });
        $("#grandtotal").text(grandTotal.toFixed(2));
    }

</script>



<!--    <form class="form-horizontal" method="post">
     <div class="control-group">
                      <label class="control-label">Select Supplier</label>
                        <div class="controls">
                          <select class="form-control">
                            <option value="">Select Supplier Name</option>
                            <% for (var q = 0; q < loadsupplierdata.length; q++) { %>                             
                              <option value="<%= loadsupplierdata[q]._id %>"><%= loadsupplierdata[q].supName %>
                              </option>
                                <% } %>
                            </select>
                           </div>
                           </div> 
        
 <table id="myTable" class="table order-list">
        <thead>
          <tr>
      
            <td>Description Of Goods</td>
            <td>Tax Rate</td>
            <td>Taxability</td>
            <td>HSN</td>
            <td>Quality</td>
            <td>Rate</td>
            <td>Per</td>
            <td>Discount</td>
            <td>Amount</td>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td> 
            
                          <select class="livesearch" onchange="location = this.value;" style="width:100px;">
                            <% for (var q = 0; q < dataproduct.length; q++) { %>                             
                              <option value="http://localhost:2222/salesDetail?proid=<%= dataproduct[q]._id %>"><%= dataproduct[q].partId %>
                              </option>
                                <% } %>
                            </select>

                            <input type="" name="" class="livesearch" onchange="location = this.value;" style="width:100px;">
                                  <% for (var q = 0; q < dataproduct.length; q++) { %>                             
                                  <option value="http://localhost:2222/salesDetail?proid=<%= dataproduct[q]._id %>"><%= dataproduct[q].partId %>
                                  </option>
                              <% } %> >
                          <script type="text/javascript">
                              $(".livesearch").chosen();
                          </script>
                  
                </td>
                <td class="col-xs-2">
                    <input type="text" size="2" name="" class="form-control" value="" />
                </td>
                <td class="col-xs-2">
                    <input type="text" name="tax" id="taxs"  value="" placeholder="Tax (%)" oninput="calculate();"/>
                </td>
                <td class="col-xs-2">
                    <input type="text" size="2" name="hsnCode" value=" class="form-control" readonly/>
                </td>
                <td class="col-xs-2">
                    <input type="text" size="2" name="Amount"  class="form-control "/>
                </td>
                  <td class="col-xs-2">
                    <input type="text" size="2" name="price" id="box1" value=""  placeholder="Price" oninput="calculate();" readonly/>
                </td>
                <td class="col-xs-2">
                    <input type="text" size="2" name="Per" class="form-control" />
                </td>
                <td class="col-xs-2">
                    <input type="text" size="2" name="Discount"  class="form-control "/>
                </td>
                <td class="col-xs-2">
                    <input type="text" size="2" name="Amount"  class="form-control "/>
                </td>
                <td class="col-sm-1"><a class="deleteRow"></a>

                </td>

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: left;">
                    <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                </td>
            </tr>
            <tr>
            </tr>
        </tfoot>
    </table>                   

</form> -->
                 


<!-- 
<script type="text/javascript">
  $(document).ready(function () {
    var counter = 0;

    $("#addrow").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        cols += '<td><input type="text" class="form-control" name="name' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="mail' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="phone' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="name' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="mail' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="phone' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="name' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="mail' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="phone' + counter + '"/></td>';


        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
        newRow.append(cols);
        $("table.order-list").append(newRow);
        counter++;
    });



    $("table.order-list").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });


});



function calculateRow(row) {
    var price = +row.find('input[name^="price"]').val();

}

function calculateGrandTotal() {
    var grandTotal = 0;
    $("table.order-list").find('input[name^="price"]').each(function () {
        grandTotal += +$(this).val();
    });
    $("#grandtotal").text(grandTotal.toFixed(2));
}
</script> -->

                                      
</div>
</div>
                                          
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->



                    </div>
                </div>
                    
                    </div>
                </div>
                </div>
                </div>

 <style type="text/css">
  a.newlogocss{
      margin-left: 20px;
  }

  .navbar-brand{
     padding: 15px !important;
  }
  
  .dropdown.open .dropdown-toggle{
    background-color: #fff !important;
  }

  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
     .navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

  color: #999;
}
.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #020202 !important;
    border-bottom-color: #121213 !important;
}
.modal {
   /* width: 100%;
    margin-left: 0px;*/
    background-color: rgba(92, 92, 92, 0.03);
    border: 0px;
}
.modal-body {
   
     padding: 0px; 
    overflow-y: inherit; 
  }
/*.dropdown-toggle ng-binding
{
background-color: #ffffff !important;
}*/


    @media (min-width: 414px){
      .navbar-brand{
        font-size: 25px !important;
      }
    }

    @media (min-width: 320px) and (max-width: 320px){
     .navbar-brand{
      font-size: 15px !important;
        padding: 0px;
        margin: 14px 0px 0px 25px !important;
    }


 </style>

  <% 

    var totalthirdsubcatdata = loadthirdsubcategorydata

    var totallthirdcaTsub = totalthirdsubcatdata.length

    var finalvalthirdsubcats = JSON.stringify(totalthirdsubcatdata)
  %>
   

    <script type="text/javascript">

      var rowFrameworkResultInJs = "<%= totalthirdsubcatdata %>";
      var totallength = "<%= totallthirdcaTsub %>";
      var totalfinalvals = "<%= finalvalthirdsubcats%>";
 
      function dropdownlist(listindex)
        {
          // alert(listindex);
          $('#partName').val(listindex);
  
          var newdata = totalfinalvals.replace(/&quot;/g,'"');
          var fulldata = JSON.parse(JSON.stringify(newdata));
          var obj = JSON.parse(fulldata);
               // alert(obj);
          var lengtht = Object.keys(obj).length; //you get length json result 4

            if (listindex) {
              var lookup = {};
                var j = 1;
                  for (var i = 0, len = lengtht; i < len; i++) {
                    if (obj[i].CategoryName == listindex) {
                      // alert(obj[i].CategoryName);
                          document.getElementById("parentdatas").value= obj[i].parentdata;
                          j = j+1;
                        }
                    }
                }
                
              return true;
            }
    </script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
 <% 

    var totalthirdsubcatdata = loadthirdsubcategorydata

    var totallthirdcaTsub = totalthirdsubcatdata.length

    var finalvalthirdsubcats = JSON.stringify(totalthirdsubcatdata)


    var rowFrameworkResultInJss =  loadsubcategorydata
  

    var totall = rowFrameworkResultInJss.length

    var finalvals = JSON.stringify(rowFrameworkResultInJss)

    var rowFrameworkResultInJssSecondSubcat =  loadsecondsubcategorydata
  

    var totallSubcat = rowFrameworkResultInJssSecondSubcat.length

    var finalvalsSubcat = JSON.stringify(rowFrameworkResultInJssSecondSubcat)

   %>
   
     <script>
               var rowFrameworkResultInJs = "<%= rowFrameworkResultInJss %>";
               var totallength = "<%= totall %>";

                var totalfinalvals = "<%= finalvals%>";


         function dropdownlist(listindex)
            {

                $('#catName').val(listindex);
  
                var newdata = totalfinalvals.replace(/&quot;/g,'"');

               var fulldata = JSON.parse(JSON.stringify(newdata));

               var obj = JSON.parse(fulldata);
                var lengtht = Object.keys(obj).length; //you get length json result 4
                
                document.getElementById("subcategory").length = 0;
                document.getElementById("subcategory").options[0]=new Option("Please select Subcategory","");
                if (listindex) {
                    var lookup = {};
                    var j = 1;
                    for (var i = 0, len = lengtht; i < len; i++) {
                        if (obj[i].categoryId == listindex) {
                            // alert(obj[i].subcategoryName);
                            document.getElementById("subcategory").options[j]=new Option(obj[i].subcategoryName,obj[i].subcategoryName);
                            j = j+1;
                        }
                    }
                }
                
                return true;
            }

              var rowFrameworkResultInJsSecondSubcat = "<%= rowFrameworkResultInJssSecondSubcat %>";
               var totallength = "<%= totallSubcat %>";

                var totalfinalvalsubcat = "<%= finalvalsSubcat%>";


            function dropdownlistSubcat(listindexsubcat)
            {

                  $('#subcatName').val(listindexsubcat);
                  
                 var newdatasubcat = totalfinalvalsubcat.replace(/&quot;/g,'"');

               var fulldataSubcat = JSON.parse(JSON.stringify(newdatasubcat));

               var objs = JSON.parse(fulldataSubcat);
                var lengthtdd = Object.keys(objs).length; //you get length json result 4
               
                document.getElementById("secondsubcategory").length = 0;
                document.getElementById("secondsubcategory").options[0]=new Option("Please select second Subcategory","");
                if (listindexsubcat) {
                    var lookup = {};
                    var k = 1;

                     for (var t = 0, len = lengthtdd; t < lengthtdd; t++) {
                          
                        if (objs[t].subcategoryId == listindexsubcat) {
                            
                            document.getElementById("secondsubcategory").options[k]=new Option(objs[t].SecondsubcategoryName,objs[t].SecondsubcategoryName);

                            k = k+1;
                        }
                    }
                }
                
                return true;
            }


             function handleSelectChangeone(listindexsecondcatdata)
            {
                  $('#secondsubcatName').val(listindexsecondcatdata);

                  var firstCatname =  $('#catName').val();

                  var secondCatname =  $('#subcatName').val();

       var totalthirdsubcatdata = "<%= totalthirdsubcatdata %>";

          var totalthirdsubcatdatalength = "<%= totallthirdcaTsub %>";

          var finalvalthirdsubcatsdata = "<%= finalvalthirdsubcats %>";

             var newdatathirdsubcatsdata = finalvalthirdsubcatsdata.replace(/&quot;/g,'"');



               var fulldatafinalvalthirdsubcatsdata = JSON.parse(JSON.stringify(newdatathirdsubcatsdata));

                  var objthirdsubcatsdata = JSON.parse(fulldatafinalvalthirdsubcatsdata);

               var lengthth = Object.keys(objthirdsubcatsdata).length;

                 if (listindexsecondcatdata) {

                    var lookup = {};
                    var r = 1;
                    for (var q = 0, len = lengthth; q < len; q++) 
                    {
                    
          
           var ddlId = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 1);
          
          function splitValue(value, index) {
           return value.substring(0, index) + "," + value.substring(index);
        }

           var ddlIdss = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 2);
          var optionList = objthirdsubcatsdata; 
          var ddlId = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 1);
           var myEle = document.getElementById(ddlId);
          if(myEle == null)
          { 
           // alert("true");  
          $('[id*=div1]').append(getDropDownList(ddlId,ddlId,ddlIdss,  optionList)); 
          
          }
          else{
           // alert("false"); 
          $('[id*=div1]').append(getDropDownLists(ddlId, ddlId, ddlIdss, optionList)); 
          // $('[id*=hfDDLId]').val(parseInt($('[id*=hfDDLId]').val()) + 1);
          }

           return false;

           
          function getDropDownList(name, id, ddlIdss ,optionList) {

            alert("getDropDownList");
        
          var combo = $("<select><option>Select Catgeory</option></select>").attr("id", id).attr("name", name).attr("class", "newdrop").attr("runat", "server").attr("onchange", "handleSelectChange(event)");
            $.each(optionList, function (i, el) {
             
                if(optionList[i].catNamedata == firstCatname && optionList[i].subcatNamedata == secondCatname && optionList[i].secondsubcatNamedata == listindexsecondcatdata && optionList[i].parentdata == listindexsecondcatdata){   

                  alert(optionList[i].CategoryName);

                  if(optionList[i].CategoryName == "")
                {
                  alert('null');
                  combo.append();
                
                }else{

                 combo.append(new Option(optionList[i].CategoryName,optionList[i].CategoryName));
                }

             
               }                
            });
           return combo;
         
          
        }       


          function getDropDownLists(name, id, ddlIdss ,optionList) {
        
        alert("getDropDownLists");

             $('#ddl1').empty().append('<option selected="selected" value="0">Select Category</option>');
             $.each(optionList, function (i, el) {

                if(optionList[i].catNamedata == firstCatname && optionList[i].subcatNamedata == secondCatname && optionList[i].secondsubcatNamedata == listindexsecondcatdata && optionList[i].parentdata == listindexsecondcatdata){

                   alert(optionList[i].CategoryName);

                  if(optionList[i].CategoryName == "")
                {
                  // alert('null');
                  $('#ddl1').append();
                
                }else{

                 $('#ddl1').append(new Option(optionList[i].CategoryName,optionList[i].CategoryName));
                }
                 
             
               }                
            });   
          
           }       
              
           }
          
          }
                
           return true;
        }



             function handleSelectChange(event) {

                    var selectElement = event.target;
                    var value = selectElement.value;
                    var newwvalue = selectElement.value;
                    var newdata = selectElement.id;
                  
            var thirdCatname =  $('#secondsubcatName').val();

             var firstCatname =  $('#catName').val();

             var secondCatname =  $('#subcatName').val();

          var totalthirdsubcatdata = "<%= totalthirdsubcatdata %>";

          var totalthirdsubcatdatalength = "<%= totallthirdcaTsub %>";

          var finalvalthirdsubcatsdata = "<%= finalvalthirdsubcats %>";

             var newdatathirdsubcatsdata = finalvalthirdsubcatsdata.replace(/&quot;/g,'"');

               var fulldatafinalvalthirdsubcatsdata = JSON.parse(JSON.stringify(newdatathirdsubcatsdata));

                  var objthirdsubcatsdata = JSON.parse(fulldatafinalvalthirdsubcatsdata);


                var lengthth = Object.keys(objthirdsubcatsdata).length; 
              
               if (value) {
                    var lookup = {};
                    var r = 1;
                    for (var q = 0, len = lengthth; q < len; q++) 
                    {
                    
          
          var ddlId = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 1);
          
          function splitValue(value, index) {
           return value.substring(0, index) + "," + value.substring(index);
        }


          var newdatastr = splitValue(newdata,3);
          var pieces = newdatastr.split(/[\s,]+/);
          var newvaluestr = pieces[pieces.length-1];
          var datsss = $('#updatevalue').val(newvaluestr);

          var datfinal = $('#finallvalue').val(newwvalue);
          var datfinals = $('#finallvalues').val(newwvalue);
          var oldnewvaluestr = pieces[pieces.length-2];
          var increamentval =parseInt(newvaluestr) + 1;
          var resfinalstr = oldnewvaluestr.concat(increamentval);
       
          var ddlIdss = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 2);



          var optionList = objthirdsubcatsdata; 
          var ddlId = "ddl" + (parseInt($('[id*=hfDDLId]').val()) + 1);
          
          

          var myEle = document.getElementById(resfinalstr);
          if(myEle == null)
          { 
        
          $('[id*=div1]').append(getDropDownListb(ddlId, resfinalstr, ddlIdss, newdata, optionList)); 
          }
          else{
          $('[id*=div1]').append(getDropDownListc(ddlId, ddlId, ddlIdss, newdata, optionList)); 
          $('[id*=hfDDLId]').val(parseInt($('[id*=hfDDLId]').val()) + 1);
          }



         
           return false;

            function GetValue() {
            $('[id*=hfSelectedValue]').val($('[id*=ddl1]').val());
        }  




           
          function getDropDownListb(name, id, ddlIdss , newdata ,optionList) {

           alert("getDropDownListb");

          var combo = $("<select><option>Select Catgeory</option></select>").attr("id", id).attr("name", name).attr("class", "newdrop").attr("runat", "server").attr("onchange", "handleSelectChange(event)");
            $.each(optionList, function (i, el) {

                if(optionList[i].catNamedata == firstCatname && optionList[i].subcatNamedata == secondCatname && optionList[i].secondsubcatNamedata == thirdCatname && optionList[i].parentdata == newwvalue){   
                
                alert(optionList[i].CategoryName);

//  var IsExists = false;
// var ddloption =  document.getElementById('[id*=ddl1]').options;
// for(var i = 0; i < ddloption.length; i++)
// {    if( ddloption[i].value === 'valuetocheck' )
//     {   
//         IsExists = true; 
//         break;   
//         alert("true");     
//     } else {
//        alert("false");
//     }    
// }    
// return IsExists;
               

                if(optionList[i].CategoryName)
                {
                  combo.append(new Option(optionList[i].CategoryName,optionList[i].CategoryName));
                }else{
                   alert("null");
                   combo.append();
                }


               }                
            });
           return combo;
         
          
        }   

           function getDropDownListc(name, id, ddlIdss , newdata ,optionList) {

            alert("getDropDownListc");
          
            $('#' + ddlIdss).empty().append('<option selected="selected" value="0">Select Category</option>');


            $.each(optionList, function (i, el) {

                if(optionList[i].catNamedata == firstCatname && optionList[i].subcatNamedata == secondCatname && optionList[i].secondsubcatNamedata == thirdCatname && optionList[i].parentdata == newwvalue){   

                  alert(optionList[i].CategoryName);
                 
                if(optionList[i].CategoryName)
                { 
                 $('#' + ddlIdss).append(new Option(optionList[i].CategoryName,optionList[i].CategoryName));
                }else{

                     alert('null');
                    $('#' + ddlIdss).append();
                }
             
            
              
               }                
            });  

        }  


           }
          
          }
                
          return true;

        
         }       

               var rowFrameworkResultInJs = "<%= rowFrameworkResultInJss %>";
               var totallength = "<%= totall %>";

                var totalfinalvals = "<%= finalvals%>";


         function dropdownlist(listindex)
            {

                $('#catName').val(listindex);
                 $('#catNames').val(listindex);
               var newdata = totalfinalvals.replace(/&quot;/g,'"');

               var fulldata = JSON.parse(JSON.stringify(newdata));
               var obj = JSON.parse(fulldata);
                var lengtht = Object.keys(obj).length; //you get length json result 4
               
                document.getElementById("subcategory").length = 0;
                document.getElementById("subcategory").options[0]=new Option("Please select Subcategory","");
                if (listindex) {
                    var lookup = {};
                    var j = 1;
                    for (var i = 0, len = lengtht; i < len; i++) {
                       
                        if (obj[i].categoryId == listindex) {
                            document.getElementById("subcategory").options[j]=new Option(obj[i].subcategoryName,obj[i].subcategoryName);
                            j = j+1;
                        }
                    }
                }
                
                return true;
            }

              var rowFrameworkResultInJsSecondSubcat = "<%= rowFrameworkResultInJssSecondSubcat %>";
               var totallength = "<%= totallSubcat %>";

                var totalfinalvalsubcat = "<%= finalvalsSubcat%>";


            function dropdownlistSubcat(listindexsubcat)
            {

                  $('#subcatName').val(listindexsubcat);
                   $('#subcatNames').val(listindexsubcat);

                var newdatasubcat = totalfinalvalsubcat.replace(/&quot;/g,'"');

               var fulldataSubcat = JSON.parse(JSON.stringify(newdatasubcat));

               var objs = JSON.parse(fulldataSubcat);
                var lengthtdd = Object.keys(objs).length; //you get length json result 4
               
                document.getElementById("secondsubcategory").length = 0;
                document.getElementById("secondsubcategory").options[0]=new Option("Please select second Subcategory","");
                if (listindexsubcat) {
                    var lookup = {};
                    var k = 1;

                     for (var t = 0, len = lengthtdd; t < lengthtdd; t++) {
                        if (objs[t].subcategoryId == listindexsubcat) {
                            

                            document.getElementById("secondsubcategory").options[k]=new Option(objs[t].SecondsubcategoryName,objs[t].SecondsubcategoryName);

                            k = k+1;
                        }
                    }
                }
                
                return true;
            }
                        
     </script>  -->

  
 
</body>
<!-- END BODY -->
</html>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>

 
    <script src="/assets_home/js/slick.min.js"></script>
    <script src="/assets_home/js/placeholdem.min.js"></script>
    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  
    <script src="/assets_home/js/waypoints.min.js"></script>   
    <script src="/assets_home/js/scripts.js"></script> 
 

<!--     <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
 -->
    <!-- <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
 
  <!--  <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   
    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
    <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
       height: 30px;
          width: 80%;
      }

      textarea{
             width: 80%;
       
      }
      .modal-backdrop, .modal-backdrop.fade.in {
          opacity: 0;
          filter: alpha(opacity=80);
      }
    </style>
<%- include partials/footer_userdashboard %>


                                      

                               
                                        