    <%- include partials/header_login  %>
<!--   <span id="grandtotalprice" style="display: none;"></span>
 -->     <!-- <span id="finalPrice" style="display: none;"></span> -->

            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
    				<div class="container">
    					<div class="row">
    						<div class="col-xs-12 col-md-8">
    							<div class="cart-form-wrapper">

                                   
                               
                                </div>
    						</div>

                            <div class="col-xs-12 col-md-8">
                                <div class="cart-form-wrapper" id="cart" style="visibility: hidden;">
                                        <table class="shop_table cart" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="product-thumbnail">Product</th>
                                                    <th colspan="2" class="product-name">Product</th>
                                                    <th class="product-price">Price</th>
                                                    <th class="product-quantity">QTY</th>
                                                    <th class="product-subtotal">Total</th>
                                                    <th class="product-remove">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="cartBody">
          
                                               
                                               
                                               
                                            </tbody>
                                        </table>
                                     
                                </div>
                            </div>
    						
    						<div class="col-xs-12 col-md-4">
                                <div class="cart-collaterals">
                                    <form action="/checkoutdds" method="post">
                                          <!-- <form action="#" method="post"> -->
                                     <div class="cart_totals">
                                        <h2>Cart Totals</h2>
                                        <table cellspacing="0">
                                            <tbody>
                                                <tr class="cart-subtotal">
                                                    <th colspan="3">Cart Subtotal</th>
                                                    <td><i class="fa fa-inr" aria-hidden="true"></i><span id="grandtotalprice"></span></td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th colspan="3">Order Total</th>
                                                    <td><strong><i class="fa fa-inr" aria-hidden="true"></i><span id="finalPrice"></span></strong> </td>
                                                   
                                                </tr>

                                                <tr>
                                                   <td colspan="6"> <p>When you proceed to checkout then this shipping price is added according to there state</p> </td>
                                                </tr>
                                                 <tr class="cart-subtotal">
                                                    <th colspan="3">Shipping Price (M.P)</th>
                                                    <td><i class="fa fa-inr" aria-hidden="true"></i><span id="shippricesmp"></span></td>
                                                </tr>
                                                 <tr class="cart-subtotal">
                                                    <th colspan="3">Shipping Price (Out of M.P)</th>
                                                    <td><i class="fa fa-inr" aria-hidden="true"></i><span id="shippricesoutmp"></span></td>
                                                </tr>
                                                <!-- <tr class="shipping">
                                                <th colspan="3">Shipping</th>
                                                <td>
                                                   <i class="fa fa-inr" aria-hidden="true"></i>
                                                </td>
                                                </tr> -->
                                                <span id="amountTax" style="display: none;">0</span>
                                                <span id="shipAmount" style="display: none;">0</span>
                                               <!--  <tr class="tax-rate tax-rate-tax-1">
                                                    <th colspan="3">Tax</th>
                                                    <td><i class="fa fa-inr" aria-hidden="true"></i></td>
                                                </tr> -->
                                                
                                            </tbody>
                                        </table>
                                       <!--  <p><small>Note: Shipping and taxes are estimated and will be updated during checkout based on your billing and shipping information.</small></p> -->
                                       <!--  <a href="/checkout" class="btn btn-blue btn-full margin_top20">Proceed to Checkout</a> -->
                                       <input type="hidden" id="finalPricess" name="finalPricett">
                                        <input type="submit" id="checkoutbutton" class="btn btn-blue btn-full margin_top20" value="Proceed to Checkout">
                                    </div>   
                                   </form>                                  
                                </div>
                            </div>

    					</div>  <!-- // row -->
    				</div>  <!-- // container -->
                </main>
            </div>
        </div>

    
    </div>

    
<style type="text/css">
    .spinner {
   height: 0px;
    left: unset;
    margin: unset;
    position: unset;
    top: 0%;
    width: 50px;
}
</style>

    <%- include partials/footer %>