       <%- include partials/header %>

<!--      <span id="finalPricess" style="display: none;"></span>
 -->            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
    				<div class="container">
    					<div class="row">
    						<div class="col-xs-12 col-md-8">
    							<div class="cart-form-wrapper">
                                    <!-- <form action="#" method="post">
                                        <table class="shop_table cart" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="product-thumbnail">Product</th>
                                                    <th colspan="2" class="product-name">Product</th>
                                                    <th class="product-price">Price</th>
                                                    <th class="product-quantity">QTY</th>
                                                    <th class="product-subtotal">Total</th>
                                                    <th class="product-remove">&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="cart_item">
                                                    <td class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="img/shop/thumb.png" alt="">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="#">Black Porcelain Bag</a>
                                                    </td>
                                                    <td class="product-price">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity">
                                                            <script>
                                                                function increment(myInput) {
                                                                    myInput.value = (+myInput.value + 1) || 0;
                                                                }
                                                                function decrement(myInput) {
                                                                  if (myInput.value >=2)
                                                                    myInput.value = (myInput.value - 1) || 0;
                                                                }
                                                            </script>
                                                            <div class="product-quantities killMargin">
                                                                <div class="quantity clear">
                                                                    <span class="qty-control minus" onclick="decrement(this.parentNode.getElementsByTagName('input')[0]);">-</span>
                                                                    <input name="qty" class="qty-field" value="1" type="text">
                                                                    <span class="qty-control plus" onclick="increment(this.parentNode.getElementsByTagName('input')[0]);">+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-remove">
                                                        <a href="#"></a>
                                                    </td>
                                                </tr>
                                                <tr class="cart_item">
                                                    <td class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="img/shop/thumb.png" alt="">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="#">Black Porcelain Bag</a>
                                                    </td>
                                                    <td class="product-price">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity">
                                                            <script>
                                                                function increment(myInput) {
                                                                    myInput.value = (+myInput.value + 1) || 0;
                                                                }
                                                                function decrement(myInput) {
                                                                  if (myInput.value >=2)
                                                                    myInput.value = (myInput.value - 1) || 0;
                                                                }
                                                            </script>
                                                            <div class="product-quantities killMargin">
                                                                <div class="quantity clear">
                                                                    <span class="qty-control minus" onclick="decrement(this.parentNode.getElementsByTagName('input')[0]);">-</span>
                                                                    <input name="qty" class="qty-field" value="1" type="text">
                                                                    <span class="qty-control plus" onclick="increment(this.parentNode.getElementsByTagName('input')[0]);">+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-remove">
                                                        <a href="#"></a>
                                                    </td>
                                                </tr>
                                                <tr class="cart_item">
                                                    <td class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="img/shop/thumb.png" alt="">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="#">Black Porcelain Bag</a>
                                                    </td>
                                                    <td class="product-price">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity">
                                                            <script>
                                                                function increment(myInput) {
                                                                    myInput.value = (+myInput.value + 1) || 0;
                                                                }
                                                                function decrement(myInput) {
                                                                  if (myInput.value >=2)
                                                                    myInput.value = (myInput.value - 1) || 0;
                                                                }
                                                            </script>
                                                            <div class="product-quantities killMargin">
                                                                <div class="quantity clear">
                                                                    <span class="qty-control minus" onclick="decrement(this.parentNode.getElementsByTagName('input')[0]);">-</span>
                                                                    <input name="qty" class="qty-field" value="1" type="text">
                                                                    <span class="qty-control plus" onclick="increment(this.parentNode.getElementsByTagName('input')[0]);">+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-remove">
                                                        <a href="#"></a>
                                                    </td>
                                                </tr>
                                                <tr class="cart_item">
                                                    <td class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="img/shop/thumb.png" alt="">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="#">Black Porcelain Bag</a>
                                                    </td>
                                                    <td class="product-price">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity">
                                                            <script>
                                                                function increment(myInput) {
                                                                    myInput.value = (+myInput.value + 1) || 0;
                                                                }
                                                                function decrement(myInput) {
                                                                  if (myInput.value >=2)
                                                                    myInput.value = (myInput.value - 1) || 0;
                                                                }
                                                            </script>
                                                            <div class="product-quantities killMargin">
                                                                <div class="quantity clear">
                                                                    <span class="qty-control minus" onclick="decrement(this.parentNode.getElementsByTagName('input')[0]);">-</span>
                                                                    <input name="qty" class="qty-field" value="1" type="text">
                                                                    <span class="qty-control plus" onclick="increment(this.parentNode.getElementsByTagName('input')[0]);">+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-remove">
                                                        <a href="#"></a>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        <div class="row actions">
                                            <div class="co-xs-12 col-sm-8 col-md-7">
                                                <div class="coupon-box">
                                                    <input type="text" placeholder="Coupon code" class="form-control" name="coupon_code">
                                                    <input type="submit" value="Apply Coupon" name="apply_coupon" class="btn btn-ash-border">
                                                </div>
                                            </div>
                                            <div class="col-xs-12  col-sm-4 col-md-5 text-right">
                                                <input type="submit" value="Update Cart" name="update_cart" class="btn btn-ash-border">
                                            </div>
                                        </div>
                                    </form>    -->
                               
                                </div>
    						</div>

                            <div class="col-xs-12 col-md-8">
                                <div class="cart-form-wrapper" id="cart" style="visibility: hidden;">
                                        <table class="shop_table cart" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="product-thumbnail">Product</th>
                                                    <th colspan="2" class="product-name">Product</th>
                                                    <th class="product-price">Price</th>
                                                    <th class="product-quantity">QTY</th>
                                                    <th class="product-subtotal">Total</th>
                                                    <th class="product-remove">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="cartBody">
          
                                               
                                               
                                               
                                            </tbody>
                                        </table>

                                      <!--    <% if(locals.couponerror) { %>
                     <div class="alert alert-danger">
                          <%= couponerror %>
                      </div>
                 
                      <% } %>

                            
                     <% if(locals.couponsucess) { %>
                     <div class="alert alert-success"><%= couponsucess %></div>
                      <% } %>

                                          <input type="hidden" name="" value="<%= newfinalvalcoup %>">

                                              <form action="/check_coupon" class="checkout-coupon" method="post">

                                                <input type="hidden" id="hdnCartTotalcart" name="hdnCartTotalcart"  />



                                        <div class="row actions">
                                            <div class="co-xs-12 col-sm-12 col-md-12">
                                                <div class="coupon-box">
                                                    <input type="text" placeholder="Coupon code" class="form-control" name="couopnCode">
                                                    <input type="submit" value="Apply Coupon" name="apply_coupon" class="btn btn-ash-border">
                                                </div>
                                            </div>
                                           
                                        </div>
                                        </form>
 -->
                                </div>
                            </div>
    						
    						<div class="col-xs-12 col-md-4">
    							<div class="cart-collaterals">
                                    <form action="/checkoutdd" method="post">
                                     <div class="cart_totals">
                                        <h2>Cart Totals</h2>
                                        <table cellspacing="0">
                                            <tbody>
                                                <tr class="cart-subtotal">
                                                    <th colspan="3">Cart Subtotal</th>
                                                    <td><i class="fa fa-inr" aria-hidden="true"></i><span id="grandtotalprice"></span></td>
                                                </tr>
                                                <tr class="shipping">
                                            <th colspan="3">Shipping</th>
                                            <td>
                                               <i class="fa fa-inr" aria-hidden="true"></i><span id="shipAmount">0</span>
                                            </td>
                                        </tr>
                                                <tr class="tax-rate tax-rate-tax-1">
                                                    <th colspan="3">Tax</th>
                                                    <td><i class="fa fa-inr" aria-hidden="true"></i><span id="amountTax">0</span></td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th colspan="3">Order Total</th>
                                                    <td><strong><i class="fa fa-inr" aria-hidden="true"></i><span id="finalPrice"></span></strong> </td>
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p><small>Note: Shipping and taxes are estimated and will be updated during checkout based on your billing and shipping information.</small></p>
                                       <!--  <a href="/checkout" class="btn btn-blue btn-full margin_top20">Proceed to Checkout</a> -->
                                       <input type="hidden" id="finalPricess" name="finalPricett">
                                        <input type="submit" class="btn btn-blue btn-full margin_top20" value="Proceed to Checkout">
                                    </div>   
                                   </form>                                  
                                </div>
    						</div>

    					</div>  <!-- // row -->
    				</div>  <!-- // container -->
                </main>
            </div>
        </div>

    
    </div>

<style type="text/css">
    .spinner {
   height: 0px;
    left: unset;
    margin: unset;
    position: unset;
    top: 0%;
    width: 50px;
}
</style>
    
    <%- include partials/footer %>