<%- include partials/header_userdashboard %>
  <div class="row-fluid">
    <div class="row" style="background: #f0f0f5;">
      <div class="row-fluid">
        <div class="container-fluid" style="background-color: #f0f0f5">

          <div class="span2 sidebar-content ">

            <ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">

              <li ng-class="{active: activeTab === 'home'}">
                  <a href="home">
                  <i class="fa fa-home" aria-hidden="true"></i> 
                  Home
                  </a> 
                  <span class="after"></span>                                    
              </li>
                            
              <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

              <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>

              <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                   
              <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>

              <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                
              <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>

              <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>

                <li ng-class="{active: activeTab === 'product'}" class="active"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 

                  <ul> 

                    <li ng-class="{active: activeTab === 'product'}" class="active"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                               
                    <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list"><i class="fa fa-user"  aria-hidden="true"></i> Manage Part</a></li>
                        
                  </ul>
                
                </li>
                
                <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>

                <li ng-class="{active: activeTab === 'supplier'}"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>

                <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>

                <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>

                <% } %>

                  <% if (user.user_role === 'user') { %>
                     
                <% } %>

                  <% if (user.user_role === 'doctor') { %>
                      
                <% } %>

                <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
            </ul>
                        
          </div>

          <style type="text/css">
              #nav li ul { display: none; list-style:none;}
          </style>

          <script type="text/javascript">

            $("#nav li a").on("click", function (e) {
            
              if ( !$(this).parent().has("ul").length ) { return; }

              e.preventDefault();

              if(!$(this).hasClass("open")) {
                
                var currentLevel = $(this).closest('ul')

                  $("li ul", currentLevel).slideUp(350);

                    $("li a", currentLevel).removeClass("open");

                    $(this).next("ul").slideDown(350);

                  $(this).addClass("open");

                } else {

                  $(this).removeClass("open");

                    $(this).next("ul").slideUp(350);

                }

            });

          </script>
                    
          <div class="span10" style="height: 800px;">

            <div class="row-fluid">

              <div class="span12">

                <div class="portlet box blue tabbable">

                  <div class="portlet-title">

                    <div class="caption">

                      <span class="hidden-480">Stock Qantity</span>

                    </div>

                  </div>

                  <input type="hidden" id="hiddenQuantity" name="">
                  <input type="hidden" id="hiddenAmount" name="">

                  <div class="coupon-accordion">               

                    <div class="panel-collapse collapse" id="collapseOne22">
                  
                      <form method="get" action="" onsubmit="return validateForm();">   

                        <span style="color: black;">Start Date&nbsp;<input type="date" id="sdate" name="startDate" size="100" name="sdate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"></span>&nbsp;

                        <input type="hidden" id="partid" name="partid" value="<%= partid %>">
                        
                        <input type="hidden" id="namee" name="namee" value="<%= namee %>">

                        <span style="color: black;">End Date<input type="date" id="endDate" name="endDate" name="edate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"></span>

                        <input type="submit" class="btn theme-btn col-md-2" value="Submit">

                      </form>

                      <script>

                        function validateForm() {

                          var startdate = $("#sdate").val();

                          var endate = $("#endDate").val();

                            var partid = $("#partid").val();

                            var namee = $("#namee").val();

                              alert("namee " + namee );

                          var year = startdate.substring(0, 4);

                          var cutDate = startdate.substring(5, 7);

                          var d = new Date(), y = year, lastDate = cutDate - 1;

                          var endDate = new Date(y, lastDate , 0);

                          var formatDateComponent = function(dateComponent) {

                            return (dateComponent < 10 ? '0' : '') + dateComponent;

                          };
                         
                          var formatDate = function(date) {

                            return date.getFullYear() + '-' + formatDateComponent(date.getMonth() + 1) + '-' + formatDateComponent(date.getDate());

                          };
                              
                          var monthEnd = formatDate(endDate)
                         
                          location.href = 'stockqtysearch?'+ '&partId=' + partid + '&namee=' + namee + '&firstdate=' + startdate + '&lastdate=' + endate + '&preDate=' + monthEnd +' ';

                          return true;

                        }

                      </script>

                    </div>

                      <input type="hidden" id="Openning_Balance" name="">
                      <input type="hidden" id="Openning_Amount" name="">
             
                    <table class="table">

                      <tr>

                        <th>

                            <span>Bagap Motors</span>

                        </th>

                        <th>

                     
                            <span><span id="enddate"></span>&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp;<span id="date"></span></span>

                        </th>

                        <th>
                            
                            <span style="padding-left: 100px;"><%= namee %> <%= partid %></span>

                        </th>

                        <th>
                          
                            <span style=" float: right;"><button type="button" class="btn btn-primary" id="showcoupon" id="promo" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne22">Search</button></span>

                            <span style="float: right;"><span>Opening Balance</span>&nbsp;&nbsp;&nbsp;<span id="hidden_Balance"></span>&nbsp;&nbsp;&nbsp;<span id="hidden_Amount"></span></span>

                        </th>
                    
                      </tr>

                      <tr>
                        <th>Particulars</th>                   
                        <th>Inwards</th>
                        <th>Outwards</th>
                        <th>Closing Balance</th>
                      </tr>

                      <tr>

                        <td>
                          <table id="myTable" style="width: 100%;">                       
                            <thead>
                              <tr>
                                <th>Month</th>
                                <!-- <th>Dates</th> -->
                              </tr>
                            </thead>
                            <tbody>                   
                             
                            </tbody>
                          </table>
                        </td> 
                    
                        <td>
                          <table id="MyTableOne" style="width: 100%;">
                            <thead>
                              <tr>
                                <th>Quantity</th>
                                <th>Value</th>
                              </tr>
                            </thead> 
                            <tbody> 
                                             
                            </tbody>           
                          </table>
                        </td>

                        <td>
                          <table id="MyTableTwo" style="width: 100%;">
                            <thead>
                              <tr>
                                <th>Quantity</th>
                                <th>Value</th>                           
                              </tr>
                            </thead>
                            <tbody>
                                                    
                            </tbody>                  
                          </table>
                        </td>

                        <td>
                          <table id="MyTableThree" style="width: 100%;">
                            <thead>
                              <tr>
                                <th>Quantity</th>
                                <th>Value</th>
                              </tr>
                            </thead>
                            <tbody>
                             
                            </tbody>
                          </table>
                        </td> 

                      </tr>

                    </table>
      
                  </div>

                </div>

              </div>

            </div>

          </div>

      </div>
    </div>
  </div> 

  <!-----------------Opening Balance Counting Table (Last Year Purchase & Sales Counting)------------------------>

  <!-- This tables for calculating last year opening balance its same as a current year -->      

 

  <!-------------------------------- Opening Balance Purchase Calcuation ---------------------------->

  <script type="text/javascript">

    var purOpn = JSON.parse(("<%= JSON.stringify(purOpen) %>").replace(/&quot;/g,'"'));

    var purReOpn = JSON.parse(("<%= JSON.stringify(purRetOpen) %>").replace(/&quot;/g,'"'));

    var salesOpn = JSON.parse(("<%= JSON.stringify(salesOpen) %>").replace(/&quot;/g,'"'));

    var salesReOpn = JSON.parse(("<%= JSON.stringify(salesRetOpen) %>").replace(/&quot;/g,'"'));

      ///////////////// Get Purchase Qunatity And TotalAmount  /////////////////////

              var allPurQuan = [];

              var allPurAmount = [];
           
            for (var i = 0; i < purOpn.length; i++) {

              allPurQuan.push(purOpn[i].Quantity);

              allPurAmount.push(purOpn[i].TotalAmntData);             

            }


              if (allPurQuan == "") {
                 
                var allPurQuan = [0]; 

                var allPurAmount =[0];  

              } else {
                 
          
              }

      ///////////////// Addition Of Purchase Qunatity And TotalAmount  /////////////////////
           
            var addQun = (a, b) =>  Number(a) + Number(b)

            var PurOpenAmo = allPurAmount.reduce(addQun); 

            var addAmo = (a, b) =>  parseInt(a) + parseInt(b)

            var PurOpenQuantity = allPurQuan.reduce(addAmo); 

      ///////////////// Get Purchase Return Qunatity And TotalAmount  /////////////////////

              var allRetPurQuan = [];

              var allRetPurAmount = [];
           
            for (var i = 0; i < purReOpn.length; i++) {

              allRetPurQuan.push(purReOpn[i].Quantity);

              allRetPurAmount.push(purReOpn[i].TotalAmntData);             

            }

      ///////////////// Addition Of Purchase Return Qunatity And TotalAmount  /////////////////////

          //////////// if allRetPurQuan Is Nothing than put 0 to mantain error ///////////////////

              if (allRetPurQuan == "") {
                 
                var allRetPurQuan = [0]; 

                var allRetPurAmount =[0];  

              } else {
                 
          
              }
           

            var addRetQun = (a, b) =>  parseInt(a) + parseInt(b)

            var purRetOpenQuantity = allRetPurQuan.reduce(addRetQun);

            var addRetAmo = (a, b) =>  Number(a) + Number(b)

            var purRetOpenAmo = allRetPurAmount.reduce(addRetAmo);


      ///////////////// Purchase Return Amount And Quantity Mius Form Purchase //////////

            var PurOpenQunatity = PurOpenQuantity - purRetOpenQuantity;

            var purOpenAmount = PurOpenAmo - purRetOpenAmo;

              var purTotalAmout = purOpenAmount.toFixed(2);

      ///////////////// Get Sales Qunatity And TotalAmount  /////////////////////             

              var allSalAmount = [];

              var allSalQuan = [];
           
            for (var i = 0; i < salesOpn.length; i++) {

              allSalQuan.push(salesOpn[i].Quantity);

              allSalAmount.push(salesOpn[i].TotalAmntData);             

            }


                if (allSalAmount == "") {
                   
                  var allSalAmount = [0]; 

                  var allSalQuan = [0];  

                } else {
                   
            
                }

      ///////////////// Addition Of Sales Qunatity And TotalAmount  /////////////////////
           
            var addSalQun = (a, b) =>  parseInt(a) + parseInt(b)

            var salOpenQuantity = allSalQuan.reduce(addSalQun);

            var addSalAmo = (a, b) =>  Number(a) + Number(b)

            var salOpenAmo = allSalAmount.reduce(addSalAmo);

      ///////////////// Get Sales Return Qunatity And TotalAmount  /////////////////////

              var allSalRetQuan = [];

              var allSalRetAmount = [];
           
            for (var i = 0; i < salesReOpn.length; i++) {

              allSalRetQuan.push(salesReOpn[i].Quantity);

              allSalRetAmount.push(salesReOpn[i].TotalAmntData);             

            }
            

              if (allSalRetQuan == "") {
                   
                var allSalRetQuan = [0]; 

                var allSalRetAmount = [0];  

              } else {
                   
            
              }


      ///////////////// Addition Of Sales Return Qunatity And TotalAmount  /////////////////////
           
            var addSalRetQun = (a, b) =>  parseInt(a) + parseInt(b)

            var salRetOpenQuantity = allSalRetQuan.reduce(addSalRetQun);

            var addRetSalAmo = (a, b) =>  Number(a) + Number(b)

            var salRetOpenAmo = allSalRetAmount.reduce(addRetSalAmo);
         

      ///////////////// Sales Return Amount And Quantity Mius Form Sales //////////

            var salOpeQunatity = parseInt(salOpenQuantity) - parseInt(salRetOpenQuantity);

            var salOpenAmount = Number(salOpenAmo) - Number(salRetOpenAmo);  


              var openBalaQuatity = PurOpenQunatity - salOpeQunatity;           

              var openBalaAmo = purTotalAmout - salOpenAmount;

              var openBalaAmount = openBalaAmo.toFixed(2); 

                   
                $('#Openning_Balance').val(openBalaQuatity);

                $('#Openning_Amount').val(openBalaAmount);

                  $('#hidden_Balance').text(openBalaQuatity);

                  $('#hidden_Amount').text(openBalaAmount);
       
  </script>

  <!-- Display Serching Start Date and End Date in 01-Nov-2019 Formate -->

  <script type="text/javascript">

    var startDate = <%-JSON.stringify(startDate)%>;

    var endDate = <%-JSON.stringify(endDate)%>;

      var startdatefinal = daterutrn(startDate);

        $('#enddate').text(startdatefinal);
      
      var enddatefinal = daterutrn(endDate);

         $('#date').text(enddatefinal);

      function daterutrn(str){

        var newstatdate = str.split("-").reverse().join("-");

        var res = newstatdate.split("-");

          var curentindex = res[1]; 

            if( curentindex.charAt(0) === '0' ) {
              
              curentindex = curentindex.slice( 1 );

            }
            
            var monthNames = [

              "Mon","Jan", "Feb", "Mar",
              "Apr", "May", "June", "July",
              "Aug", "Sep", "Oct",
              "Nov", "Dec"

            ];

        return startfinal = res[0] + '-' +monthNames[curentindex]+ '-' +  res[2];

      }

  </script>

  <script type="text/javascript">

    var startDate = <%-JSON.stringify(startDate)%>;

    var endDate = <%-JSON.stringify(endDate)%>;

    var dataaa = dateRange(startDate, endDate);

    function dateRange(startDate, endDate) {

      var start = startDate.split('-');
      var end = endDate.split('-');
      var startYear = parseInt(start[0]);
      var endYear = parseInt(end[0]);
      var dates = [];
      
      for(var i = startYear; i <= endYear; i++) {

        var endMonth = i != endYear ? 11 : parseInt(end[1]) - 1;
        var startMon = i === startYear ? parseInt(start[1])-1 : 0;

        for(var j = startMon; j <= endMonth; j = j > 12 ? j % 12 || 11 : j+1) {
          var month = j+1;
          var displayMonth = month < 10 ? '0'+month : month
          
          dates.push([displayMonth]);

        }

      }

      return dates;

    }

      var serachmonth =  monthname(dataaa);

    function monthname(dataaa){

      var dates = [];
        
      for (var i = 0; i < dataaa.length; i++) {

        if(dataaa[i] == 01) {

          dates.push(["Jan"]);
      
          } else if(dataaa[i] == 02 ) {

            dates.push(["Feb"]);

          } else if (dataaa[i] == 03) {

            dates.push(["Mar"]);

          } else if (dataaa[i] == 04) {

            dates.push(["Apr"]);

          } else if (dataaa[i] == 05) {
            
            dates.push(["May"]);

          } else if (dataaa[i] == 06) {
            
            dates.push(["June"]);

          } else if (dataaa[i] == 07) {
            
            dates.push(["July"]);

          } else if (dataaa[i] == 08) {
            
            dates.push(["Aug"]);
            
          } else if (dataaa[i] == 09) {
            
            dates.push(["Sep"]);

          } else if (dataaa[i] == 10) {
            
            dates.push(["Oct"]);

          } else if (dataaa[i] == 11) {
            
            dates.push(["Nov"]);

          } else if (dataaa[i] == 12) {
            
            dates.push(["Dec"]);

          } else {

            console.log('desk');

          }
            
      }

        return dates;

    }    

      var start = new Date(startDate),
          end = new Date(endDate), // end date is now mid 2017
          currentDate = new Date(start),
          between = [];

        while (currentDate <= end) {
            between.push(new Date(currentDate));
            currentDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 1);
        }
        
          var all_days = [];

        for( var t = 0; t < between.length; t++) {

            all_days.push(convert(between[t]));
            
        }


        function convert(str) {
          var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
          return [day, mnth, date.getFullYear()].join("-");

        }
     
        for (var i = 0; i < serachmonth.length; i++) {

          $('#myTable tbody').append('<tr class="sameid'+i+'"><td><span><a id="'+ all_days[i] +'" onclick="addURL( this.id)" href="">' + serachmonth[i] + '</a></span></td></tr>');   

        }

    $('#myTable tbody').append('<tr class="total" id="GrandTotal"><td><span>Grand Total</span></td></tr>');

  </script>

  <script type="text/javascript">
    
    function addURL(idd){
      
      var name = <%-JSON.stringify(namee)%>;

        var part = <%-JSON.stringify(partid)%>;

          var year = idd.substring(6, 10);

          var cutDate = idd.substring(3, 5);

                var d = new Date(), y = year, m = cutDate - 1, lastDate = cutDate - 1;  
             
                var firstDay = new Date(y, m, 1);
               
                var lastDay = new Date(y, m + 1, 0); 

                var endDate = new Date(y, lastDate , 0);

                var formatDateComponent = function(dateComponent) {

                    return (dateComponent < 10 ? '0' : '') + dateComponent;

                };
               
                var formatDate = function(date) {

                  return date.getFullYear() + '-' + formatDateComponent(date.getMonth() + 1) + '-' +          formatDateComponent(date.getDate());

                };
           
                    var firstdate = formatDate(firstDay)

                    var lastdate = formatDate(lastDay)

                    var monthEnd = formatDate(endDate)

                    var name = <%-JSON.stringify(namee)%>;

                    var part = <%-JSON.stringify(partid)%>;

                  var yyy = 'monthdata?'+ '&partId=' + part + '&namee=' + name + '&firstdate=' + firstdate + '&lastdate=' + lastdate + '&preDate=' + monthEnd +' ';

                $("#"+idd).attr("href", yyy);

            };

  </script>

          <!-- <tr class="totalColumn">
                            <td id="GrandTotal"><a>Grand Total</a></td>
                          </tr> -->

    <!-- Script For Purchase Purchasereutrn Calculation -->

  <script type="text/javascript"> 

    var datatata = JSON.parse(("<%= JSON.stringify(datapurchase) %>").replace(/&quot;/g,'"'));

    var dataPreturn = JSON.parse(("<%= JSON.stringify(purchasereturndata) %>").replace(/&quot;/g,'"'));

    var startDate = <%-JSON.stringify(startDate)%>;

    var endDate = <%-JSON.stringify(endDate)%>;

     var monthbetween = dateRange(startDate, endDate);

       // alert("monthbetween " + monthbetween);
     
      function dateRange(startDate, endDate) {

        var start = startDate.split('-');
        var end = endDate.split('-');
        var startYear = parseInt(start[0]);  
        var endYear = parseInt(end[0]);
        var dates = [];

        for(var i = startYear; i <= endYear; i++) {
          var endMonth = i != endYear ? 11 : parseInt(end[1]) - 1;
          var startMon = i === startYear ? parseInt(start[1])-1 : 0;
          for(var j = startMon; j <= endMonth; j = j > 12 ? j % 12 || 11 : j+1) {
            var month = j+1;

            var displayMonth = month < 10 ? +month : month;

            var displayMonth = displayMonth - 1;

            dates.push([i, displayMonth].join('-'));

          }

        }

        return dates;
        
      }

      
      for (var i = 0; i < monthbetween.length; i++) {
        
        var abc = monthbetween[i].split('-');

          var year = abc[0]; 

            var octdate = abc[1];

              var {addtionQantity, totalAmount} = gertotalandQantity(octdate, year);

            $('#MyTableOne tbody').append('<tr class="sameid'+i+'"><td><span class="PurQunTot" id="purchaseQun'+[i]+'">' + addtionQantity + '</span></td><td><span class="PurAmoTot" id="purchaseAmo'+[i]+'">' + totalAmount + '</span></td></tr>');

            $('.total_PurQan').each(function() {
              var sum = 0;
              $(this).parents('table').find('.PurQunTot').each(function() {
                var floted = parseFloat($(this).text());
                if (!isNaN(floted)) sum += floted;
              });
                                   

              $(this).html(sum);

            });
           
        function gertotalandQantity(octdate , year){    
        
          var d = new Date();
            
            var month = octdate;

              var abc = getDaysInMonth(month, year);
        
              function getDaysInMonth(month, year) { 
                
                var date = new Date(Date.UTC(year, month, 1));

                var days = [];

                  while(date.getMonth() == month) {

                      days.push(new Date(date));

                    date.setDate(date.getDate() + 1);

                  }

                 return days;

              }
                
                var all_days = [];
            
              for( var t = 0; t < abc.length; t++) {
                  all_days.push(convert(abc[t]));
              }

              function convert(str) {

                var date = new Date(str),

                  mnth = ("0" + (date.getMonth() + 1)).slice(-2),

                  day = ("0" + date.getDate()).slice(-2);
                
                return [ date.getFullYear(),mnth,day].join("-");

              }
            

            ///////////////////// End get all April date ////////////////////////

            ///////////////// Get April month Qunatity /////////////////////

              var allquantity = [];

              var purchaseTotalamount = [];
           
            for (var i = 0; i < datatata.length; i++) {

              for (var j = 0; j < all_days.length; j++) {

                out_date = all_days[j].split("-");

                  in_date = datatata[i].datetime.split("-");

                    gateout_date = new Date(out_date[1],out_date[0],out_date[2]).getTime()
                    gatein_date = new Date(in_date[1],in_date[0],in_date[2]).getTime()          

                  if(gateout_date == gatein_date ){      

                      allquantity.push(datatata[i].Quantity);

                      purchaseTotalamount.push(datatata[i].TotalAmntData);
                               
                  } else {  


                }         

              }

            }

            /////////////////////// Get PurchaseReturn Item & Qantity //////////////////////

              var allReturnquantity = [];

              var purchaseReturnTotalamount = [];
           
            for (var i = 0; i < dataPreturn.length; i++) {

              for (var j = 0; j < all_days.length; j++) {

                out_date = all_days[j].split("-");

                  in_date = dataPreturn[i].datetime.split("-");

                    gateout_date = new Date(out_date[1],out_date[0],out_date[2]).getTime()
                    gatein_date = new Date(in_date[1],in_date[0],in_date[2]).getTime()          

                  if(gateout_date == gatein_date ){      

                        allReturnquantity.push(dataPreturn[i].Quantity);

                      purchaseReturnTotalamount.push(dataPreturn[i].TotalAmntData);
                               
                  } else {  


                  }         

              }

            }

            if (allquantity.length == 0) {

              var addtionQantity = "";
              var totalAmount = "";
             
              return { addtionQantity, totalAmount };
       
            } else {

                if(allReturnquantity.length == 0) {

                  var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                    var addtionQantity = allquantity.reduce(reducer);

                      var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                  var totalAmount =  purchaseTotalamount.reduce(reducer);

                  return { addtionQantity, totalAmount };
                      
                } else {
                    
                  ////////////////// purchase return total quantity sum and amount sum ///////////////////

                  var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                    var addtiondataPR =  allReturnquantity.reduce(reducer);

                      var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                    var amountPR =  purchaseReturnTotalamount.reduce(reducer);


                    ///////////////// End Get April month Qunatity //////////////////////

                    ///////////////// Addtion of all April month qunatity ///////////////

                    var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                        var addtiondata =  allquantity.reduce(reducer);

                      var addtionQantity = addtiondata - addtiondataPR;

                    /////////////////// End  Addtion of all April month qunatity //////////////////////

                    /////////////////// Addtion Of purchaseitem total amount only April month ka /////////////

                    var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                      var totaldata =  purchaseTotalamount.reduce(reducer);

                        var totalPurAmount = totaldata - amountPR;

                        var totalAmount = totalPurAmount.toFixed(2);
 
                      return {addtionQantity, totalAmount};
                  
                }

            }
    
        }    

      }

      $('#MyTableOne tbody').append('<tr class="total"><td class="total_PurQan"></td><td class="total_PurAmo"></td></tr>');

      $('.total_PurQan').each(function() {
          var sum = 0;
          $(this).parents('table').find('.PurQunTot').each(function() {
            var floted = parseFloat($(this).text());
            if (!isNaN(floted)) sum += floted;
          });

          $(this).html(sum);

      });

      $('.total_PurAmo').each(function() {
        var summ = 0;
        $(this).parents('table').find('.PurAmoTot').each(function() {
          var floted = parseFloat($(this).text());
          if (!isNaN(floted)) summ += floted;
        });

          var roundinwords = summ.toFixed(2);
          
        $(this).html(roundinwords);

      });

  </script>
    
    <!-- Script For Sales And SalesReturn Calculation -->

  <script type="text/javascript"> 

    var salesThree = JSON.parse(("<%= JSON.stringify(datasales) %>").replace(/&quot;/g,'"'));

    var salesRethree = JSON.parse(("<%= JSON.stringify(salesreturndata) %>").replace(/&quot;/g,'"'));

    var startDate = <%-JSON.stringify(startDate)%>;

      var endDate = <%-JSON.stringify(endDate)%>;

        var monthbetween = dateRange(startDate, endDate);
      
      function dateRange(startDate, endDate) {

        var start = startDate.split('-');
        var end = endDate.split('-');
        var startYear = parseInt(start[0]);  
        var endYear = parseInt(end[0]);
        var dates = [];

        for(var i = startYear; i <= endYear; i++) {
          var endMonth = i != endYear ? 11 : parseInt(end[1]) - 1;
          var startMon = i === startYear ? parseInt(start[1])-1 : 0;
          for(var j = startMon; j <= endMonth; j = j > 12 ? j % 12 || 11 : j+1) {
            var month = j+1;

            var displayMonth = month < 10 ? +month : month;

            var displayMonth = displayMonth - 1;

            dates.push([i, displayMonth].join('-'));

          }

        }

        return dates;
        
      }

      
      for (var i = 0; i < monthbetween.length; i++) {
        
        var abc = monthbetween[i].split('-');

            var year = abc[0]; 

            var octdate = abc[1];

        var {addtionQantity, totalAmount} = gertotalandQantity(octdate, year);

        $('#MyTableTwo tbody').append('<tr class="sameid'+i+'"><td><span class="SalQunTot" id="salesQan'+[i]+'">' + addtionQantity + '</span></td><td><span class="SalAmoTot" id="salesAmo'+[i]+'">' + totalAmount + '</span></td></tr>');
           
        function gertotalandQantity(octdate , year){    
        
          var d = new Date();
            
            var month = octdate;

              var abc = getDaysInMonth(month, year);
        
              function getDaysInMonth(month, year) { 
                
                var date = new Date(Date.UTC(year, month, 1));

                var days = [];

                  while(date.getMonth() == month) {

                      days.push(new Date(date));

                    date.setDate(date.getDate() + 1);

                  }

                 return days;

              }
                
                var all_days = [];
            
              for( var t = 0; t < abc.length; t++) {
                  all_days.push(convert(abc[t]));
              }

              function convert(str) {

                var date = new Date(str),

                  mnth = ("0" + (date.getMonth() + 1)).slice(-2),

                    day = ("0" + date.getDate()).slice(-2);
                
                return [ date.getFullYear(),mnth,day].join("-");

              }
              

            ///////////////////// End get all April date ////////////////////////


              var allquantity = [];

              var purchaseTotalamount = [];
             
            for (var i = 0; i < salesThree.length; i++) {

              for (var j = 0; j < all_days.length; j++) {

                out_date = all_days[j].split("-");

                  in_date = salesThree[i].datetime.split("-");

                    gateout_date = new Date(out_date[1],out_date[0],out_date[2]).getTime()
                    gatein_date = new Date(in_date[1],in_date[0],in_date[2]).getTime()          

                  if(gateout_date == gatein_date ){      

                      allquantity.push(salesThree[i].Quantity);

                      purchaseTotalamount.push(salesThree[i].TotalAmntData);
                               
                  } else {  


                }         

              }

            }

            /////////////////////// Get SalesReturn Item & Qantity //////////////////////

              var allReturnquantity = [];

              var purchaseReturnTotalamount = [];
           
            for (var i = 0; i < salesRethree.length; i++) {

              for (var j = 0; j < all_days.length; j++) {

                out_date = all_days[j].split("-");

                  in_date = salesRethree[i].datetime.split("-");

                    gateout_date = new Date(out_date[1],out_date[0],out_date[2]).getTime()
                    gatein_date = new Date(in_date[1],in_date[0],in_date[2]).getTime()          

                  if(gateout_date == gatein_date ){     

                        allReturnquantity.push(salesRethree[i].Quantity);

                      purchaseReturnTotalamount.push(salesRethree[i].TotalAmntData);
                               
                  } else {  


                }         

              }

            }

            if (allquantity.length == 0) {

              var addtionQantity = "";
              var totalAmount = "";
             
              return { addtionQantity, totalAmount };
       
            } else {

                if(allReturnquantity.length == 0) {

                  var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                    var addtionQantity = allquantity.reduce(reducer);

                      var reducer = (accumulator, currentValue) => Number(accumulator) + Number(currentValue);

                    var totalAmount =  purchaseTotalamount.reduce(reducer);

                  return { addtionQantity, totalAmount };
                      
                } else {
                    
                  ////////////////// purchase return total quantity sum and amount sum ///////////////////

                  var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                    var addtiondataPR =  allReturnquantity.reduce(reducer);

                      var reducer = (accumulator, currentValue) => Number(accumulator) + Number(currentValue);

                    var amountPR =  purchaseReturnTotalamount.reduce(reducer);


                    ///////////////// End Get Qunatity //////////////////////

                    ///////////////// Addtion of  qunatity ///////////////

                    var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                        var addtiondata =  allquantity.reduce(reducer);

                      var addtionQantity = addtiondata - addtiondataPR;

                    /////////////////// End  Addtion of all  qunatity //////////////////////

                    /////////////////// Addtion Of purchaseitem total amount /////////////

                    var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                      var totaldata =  purchaseTotalamount.reduce(reducer);

                        var totalSalAmount = totaldata - amountPR;

                        var totalAmount = totalSalAmount.toFixed(2);
                
                      return {addtionQantity, totalAmount};
                  
                }

            }

        
        }    

      }


      $('#MyTableTwo tbody').append('<tr class="total"><td class="total_SalQan"></td><td class="total_SalAmo"></td></tr>');

      $('.total_SalQan').each(function() {
          var sum = 0;
          $(this).parents('table').find('.SalQunTot').each(function() {
            var floted = parseFloat($(this).text());
            if (!isNaN(floted)) sum += floted;
          });

          $(this).html(sum);

      });

      $('.total_SalAmo').each(function() {
        var summ = 0;
        $(this).parents('table').find('.SalAmoTot').each(function() {
          var floted = parseFloat($(this).text());
          if (!isNaN(floted)) summ += floted;
        });

          var roundinwords = summ.toFixed(2);
          
        $(this).html(roundinwords);

      });

  </script>

  <!-- Script For Closing Balance Calculation -->

  <script type="text/javascript"> 

    var datatata = JSON.parse(("<%= JSON.stringify(datapurchase) %>").replace(/&quot;/g,'"'));

    var dataPreturn = JSON.parse(("<%= JSON.stringify(purchasereturndata) %>").replace(/&quot;/g,'"'));

    var salesThree = JSON.parse(("<%= JSON.stringify(datasales) %>").replace(/&quot;/g,'"'));

    var salesRethree = JSON.parse(("<%= JSON.stringify(salesreturndata) %>").replace(/&quot;/g,'"'));

    var startDate = <%-JSON.stringify(startDate)%>;

      var endDate = <%-JSON.stringify(endDate)%>;

        var monthbetween = dateRange(startDate, endDate);
     
        function dateRange(startDate, endDate) {

          var start = startDate.split('-');
          var end = endDate.split('-');
          var startYear = parseInt(start[0]);  
          var endYear = parseInt(end[0]);
          var dates = [];

          for(var i = startYear; i <= endYear; i++) {
            var endMonth = i != endYear ? 11 : parseInt(end[1]) - 1;
            var startMon = i === startYear ? parseInt(start[1])-1 : 0;
            for(var j = startMon; j <= endMonth; j = j > 12 ? j % 12 || 11 : j+1) {
              var month = j+1;

              var displayMonth = month < 10 ? +month : month;

              var displayMonth = displayMonth - 1;

              dates.push([i, displayMonth].join('-'));

            }

          }

          return dates;
          
        }

       
        for (var i = 0; i < monthbetween.length; i++) {
          
          var abc = monthbetween[i].split('-');

              var year = abc[0]; 

              var octdate = abc[1];

          var {addtionQantity, totalAmount} = gertotalandQantity(octdate, year);

          var {addtionQantitySales, totalAmountSales} = gertotalSalesandQantity(octdate, year);
              
            var OpeningBalance = $("#Openning_Balance").val();

            var Openning_Amount = $("#Openning_Amount").val();

                var finalOnequntity = Number(OpeningBalance) + Number(addtionQantity);

                var finalOneAmount = Number(totalAmount) + Number(Openning_Amount);

                  var finalquntity = Number(finalOnequntity) - Number(addtionQantitySales);

                  var finalAmounttwo = Number(finalOneAmount) - Number(totalAmountSales);    

                    var finalAmount = finalAmounttwo.toFixed(2);

                      if (finalOnequntity == 0 && addtionQantitySales == 0) {
                         
                         var finalquntity = "";

                         var finalAmount = "";

                      }

                      $("#Openning_Balance").val(finalquntity);

                      $("#Openning_Amount").val(finalAmount);

            $('#MyTableThree tbody').append('<tr class="sameid'+i+'"><td><span class="CloseQunTot" id="CloseQun'+[i]+'">' + finalquntity + '</span></td><td><span class="CloseAmoTot" id="CloseAmo'+[i]+'">' + finalAmount + '</span></td></tr>');

             $('.total_CloseQan').each(function() {
                var sum = 0;
                $(this).parents('table').find('.CloseQunTot').each(function() {
                  var floted = parseFloat($(this).text());
                  if (!isNaN(floted)) sum += floted;
                });
                                     

                $(this).html(sum);

              });
             
          function gertotalandQantity(octdate , year){    
          
            var d = new Date();
              
              var month = octdate;

                var abc = getDaysInMonth(month, year);
          
              function getDaysInMonth(month, year) { 
                
                var date = new Date(Date.UTC(year, month, 1));

                var days = [];

                  while(date.getMonth() == month) {

                    days.push(new Date(date));

                    date.setDate(date.getDate() + 1);

                  }

                 return days;

              }
                
                var all_days = [];
            
              for( var t = 0; t < abc.length; t++) {
                  all_days.push(convert(abc[t]));
              }

              function convert(str) {

                var date = new Date(str),

                  mnth = ("0" + (date.getMonth() + 1)).slice(-2),

                  day = ("0" + date.getDate()).slice(-2);
                
                return [ date.getFullYear(),mnth,day].join("-");

              }            

              ///////////////////// End get all April date ////////////////////////

              ///////////////// Get April month Qunatity /////////////////////

                var allquantity = [];

                var purchaseTotalamount = [];
             
              for (var i = 0; i < datatata.length; i++) {

                for (var j = 0; j < all_days.length; j++) {

                  out_date = all_days[j].split("-");

                    in_date = datatata[i].datetime.split("-");

                      gateout_date = new Date(out_date[1],out_date[0],out_date[2]).getTime()
                      gatein_date = new Date(in_date[1],in_date[0],in_date[2]).getTime()          

                    if(gateout_date == gatein_date ){      

                        allquantity.push(datatata[i].Quantity);

                        purchaseTotalamount.push(datatata[i].TotalAmntData);
                                 
                    } else {  


                  }         

                }

              }

              /////////////////////// Get PurchaseReturn Item & Qantity //////////////////////

                var allReturnquantity = [];

                var purchaseReturnTotalamount = [];
             
              for (var i = 0; i < dataPreturn.length; i++) {

                for (var j = 0; j < all_days.length; j++) {

                  out_date = all_days[j].split("-");

                  in_date = dataPreturn[i].datetime.split("-");

                      gateout_date = new Date(out_date[1],out_date[0],out_date[2]).getTime()
                      gatein_date = new Date(in_date[1],in_date[0],in_date[2]).getTime()          

                    if(gateout_date == gatein_date ){      

                      allReturnquantity.push(dataPreturn[i].Quantity);

                      purchaseReturnTotalamount.push(dataPreturn[i].TotalAmntData);
                                 
                    } else {  


                  }         

                }

              }

              if (allquantity.length == 0) {

                var addtionQantity = "";
                var totalAmount = "";
               
                return { addtionQantity, totalAmount };
         
              } else {

                if(allReturnquantity.length == 0) {

                  var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                    var addtionQantity = allquantity.reduce(reducer);

                      var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                  var totalAmount =  purchaseTotalamount.reduce(reducer);

                  return { addtionQantity, totalAmount };
                      
                } else {
                    
                  ////////////////// purchase return total quantity sum and amount sum ///////////////////

                  var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                    var addtiondataPR =  allReturnquantity.reduce(reducer);

                    var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                    var amountPR =  purchaseReturnTotalamount.reduce(reducer);


                    ///////////////// End Get April month Qunatity //////////////////////

                    ///////////////// Addtion of all April month qunatity ///////////////

                    var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                    var addtiondata =  allquantity.reduce(reducer);

                    var addtionQantity = addtiondata - addtiondataPR;

                    /////////////////// End  Addtion of all April month qunatity //////////////////////

                    /////////////////// Addtion Of purchaseitem total amount only April month ka /////////////

                    var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                    var totaldata =  purchaseTotalamount.reduce(reducer);

                    var totalAmount = totaldata - amountPR;
                
                    return {addtionQantity, totalAmount};
                  
                }

              }
       
          }  

          function gertotalSalesandQantity(octdate , year){    
          
            var d = new Date();
              
              var month = octdate;

                var abc = getDaysInMonth(month, year);
          
                function getDaysInMonth(month, year) { 
                  
                  var date = new Date(Date.UTC(year, month, 1));

                  var days = [];

                    while(date.getMonth() == month) {

                      days.push(new Date(date));

                      date.setDate(date.getDate() + 1);

                    }

                   return days;

                }
                  
                  var all_days = [];
              
                for( var t = 0; t < abc.length; t++) {
                    all_days.push(convert(abc[t]));
                }

                function convert(str) {

                  var date = new Date(str),

                    mnth = ("0" + (date.getMonth() + 1)).slice(-2),

                      day = ("0" + date.getDate()).slice(-2);
                  
                  return [ date.getFullYear(),mnth,day].join("-");

                }
                

              ///////////////////// End get all April date ////////////////////////


                  var allquantity = [];

                  var purchaseTotalamount = [];
                 
                for (var i = 0; i < salesThree.length; i++) {

                  for (var j = 0; j < all_days.length; j++) {

                    out_date = all_days[j].split("-");

                    in_date = salesThree[i].datetime.split("-");

                    gateout_date = new Date(out_date[1],out_date[0],out_date[2]).getTime()
                    gatein_date = new Date(in_date[1],in_date[0],in_date[2]).getTime()          

                    if(gateout_date == gatein_date ){      

                        allquantity.push(salesThree[i].Quantity);

                        purchaseTotalamount.push(salesThree[i].TotalAmntData);
                                   
                    } else {  


                    }         

                  }

                }

              /////////////////////// Get SalesReturn Item & Qantity //////////////////////

                  var allReturnquantity = [];

                  var purchaseReturnTotalamount = [];
               
                for (var i = 0; i < salesRethree.length; i++) {

                  for (var j = 0; j < all_days.length; j++) {

                    out_date = all_days[j].split("-");

                      in_date = salesRethree[i].datetime.split("-");

                        gateout_date = new Date(out_date[1],out_date[0],out_date[2]).getTime()
                        gatein_date = new Date(in_date[1],in_date[0],in_date[2]).getTime()          

                      if(gateout_date == gatein_date ){     

                          allReturnquantity.push(salesRethree[i].Quantity);

                          purchaseReturnTotalamount.push(salesRethree[i].TotalAmntData);
                                   
                      } else {  


                    }         

                  }

                }

                if (allquantity.length == 0) {

                  var addtionQantitySales = "";
                  var totalAmountSales = "";
                 
                  return { addtionQantitySales, totalAmountSales };
           
                } else {

                  if(allReturnquantity.length == 0) {

                    var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                    var addtionQantitySales = allquantity.reduce(reducer);

                    var reducer = (accumulator, currentValue) => Number(accumulator) + Number(currentValue);

                    var totalAmountSales =  purchaseTotalamount.reduce(reducer);

                    return { addtionQantitySales, totalAmountSales };
                        
                  } else {
                      
                    ////////////////// purchase return total quantity sum and amount sum ///////////////////

                    var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                      var addtiondataPR =  allReturnquantity.reduce(reducer);

                        var reducer = (accumulator, currentValue) => Number(accumulator) + Number(currentValue);

                      var amountPR =  purchaseReturnTotalamount.reduce(reducer);


                      ///////////////// End Get April month Qunatity //////////////////////

                      ///////////////// Addtion of all April month qunatity ///////////////

                      var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                          var addtiondata =  allquantity.reduce(reducer);

                        var addtionQantitySales = addtiondata - addtiondataPR;

                      /////////////////// End  Addtion of all April month qunatity //////////////////////

                      /////////////////// Addtion Of purchaseitem total amount only April month ka /////////////

                      var reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue);

                        var totaldata =  purchaseTotalamount.reduce(reducer);

                          var totalAmountSales = totaldata - amountPR;
                  
                        return {addtionQantitySales, totalAmountSales};
                    
                  }

                }

          
          }  

        }    
        
        var qunatity_total = $("#Openning_Balance").val();

        var amount_total = $("#Openning_Amount").val();

      $('#MyTableThree tbody').append('<tr class="total"><td><span class="total_ClosePurQan">'+qunatity_total+'</span></td><td><span class="total_ClosePurAmo">'+ amount_total +'</span></td></tr>');

  </script>

  <!-- Script For hover colour change -->

  <script>

    $(document).ready(function(){

      $("tr").hover(function(){
            
        var trClass = $(this).attr('class');
       
        var elms = document.getElementsByClassName(trClass);
    
        var n = elms.length;

        function changeColor(color) {

          for(var i = 0; i < n; i ++) {

            elms[i].style.backgroundColor = color;

          }

        }

        for(var i = 0; i < n; i ++) {

          elms[i].onmouseover = function() {
              changeColor("LightSteelBlue");
          };

          elms[i].onmouseout = function() {
              changeColor("white");
          };

        }
            
            
      });

    });

  </script>  

  <!-- End Script For hover colour change -->

  <style type="text/css">

    .b {
      display: none;
    }

    .totalColumn {
      border-style: double;
    }

    .table td {
      color: black;
      height: 20px;
    }

    .table th {
       color: black;
    }

    .portlet.blue {
      background-color: #f0f0f5 !important;
    }

    table, th, td {
      border: 1px solid black;
    }

    a.newlogocss{
        margin-left: 20px;
    }

    .navbar-brand{
        padding: 15px !important;
    }
    
    .dropdown.open .dropdown-toggle{

      background-color: #fff !important;

    }

    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
        outline: thin dotted;
        outline: none;
        outline-offset: -2px;
    }
    
    .navbar-inverse .navbar-toggle {

        border-color:  #ffffff;

    }

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

       color: #999;
    }

    .nav .dropdown-toggle .caret {

        margin-top: 6px;

        border-top-color: #020202 !important;

        border-bottom-color: #121213 !important;

    }

    .modal {

        background-color: rgba(92, 92, 92, 0.03);

        border: 0px;
    }

    .modal-body {

        padding: 0px; 

        overflow-y: inherit; 

    }
    
    @media (min-width: 414px){
      .navbar-brand{

        font-size: 25px !important;

      }

    }

    @media (min-width: 320px) and (max-width: 320px){
      .navbar-brand{

        font-size: 15px !important;

          padding: 0px;

        margin: 14px 0px 0px 25px !important;
    }

  </style>
 
</body>

</html>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>

    <script src="/assets_home/js/slick.min.js"></script>

    <script src="/assets_home/js/placeholdem.min.js"></script>

    <script src="/assets_home/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>  

    <script src="/assets_home/js/waypoints.min.js"></script>   

    <script src="/assets_home/js/scripts.js"></script> 

    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>   

    <script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>

    <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>

    <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>

    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>

    <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 

    <style type="text/css">

      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
        height: 30px;
        width: 35%;
      }

      textarea{
             width: 80%;
       
      }

      .modal-backdrop, .modal-backdrop.fade.in {
          opacity: 0;
          filter: alpha(opacity=80);
      }

    </style>

<%- include partials/footer_userdashboard %>


                                      

                               
                                        