    <%- include partials/header_userdashboard %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script type="text/javascript" >
   function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>
           
<script type="text/javascript" href="/js/categories.js"></script>
    <div class="row-fluid">
 <div class="row" style="background: #f0f0f5;">
        <div class="container">

                <div class="row-fluid" style="background-color: #f0f0f5;">
                    <div class="span3 sidebar-content ">
<ul id="nav" class="ver-inline-menu tabbable margin-bottom-25">
                         <li ng-class="{active: activeTab === 'home'}">
                                <a href="home">
                                <i class="fa fa-home" aria-hidden="true"></i> 
                                Home
                                </a> 
                                <span class="after"></span>                                    
                            </li>
                            
                            
                 <li ng-class="{active: activeTab === 'account'}"><a href="account"><i class="fa fa-user"  aria-hidden="true"></i> My Account</a></li>

                 
                 <!--  <li ng-class="{active: activeTab === 'subscription'}"><a href="subscription" ><i class="fa fa-user"  aria-hidden="true"></i> My Subscription</a></li>



                    <li ng-class="{active: activeTab === 'order'}"><a href="order" ><i class="fa fa-user"  aria-hidden="true"></i> My Order</a></li> -->


                     <% if (user.user_role === 'admin' || user.user_role === 'manager') { %>
                     <li ng-class="{active: activeTab === 'managewebsite'}"><a href="managewebsite"><i class="fa fa-user"  aria-hidden="true"></i> Website Managment</a></li>
                      <li ng-class="{active: activeTab === 'manageunit'}"><a href="manageunit"><i class="fa fa-user"  aria-hidden="true"></i> Unit Managment</a></li>
                     <!-- <li ng-class="{active: activeTab === 'managemake'}""><a href="managemake"><i class="fa fa-user"  aria-hidden="true"></i> Make Managment</a></li>
                      <li ng-class="{active: activeTab === 'managemodel'}"><a href="managemodel"><i class="fa fa-user"  aria-hidden="true"></i> Model Managment</a></li>
                    <li ng-class="{active: activeTab === 'managemodel'}"><a href="managesubmodel"><i class="fa fa-user"  aria-hidden="true"></i> Sub Model Managment</a></li> -->
                     <li ng-class="{active: activeTab === 'managecategory'}"><a href="managecategory"><i class="fa fa-user"  aria-hidden="true"></i> Category Managment</a></li>
                  <!--     <li ng-class="{active: activeTab === 'managecoupon'}"><a href="managecoupon"><i class="fa fa-user"  aria-hidden="true"></i> Coupon  Managment</a></li> -->
                      <li ng-class="{active: activeTab === 'managesubcategory'}"><a href="managesubcategory"><i class="fa fa-user"  aria-hidden="true"></i> SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managesecondsubcategory'}"><a href="managesecondsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Second SubCategory Managment</a></li>
                      <li ng-class="{active: activeTab === 'managethirdsubcategory'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i>Third SubCategory Managment</a></li>
                       <li ng-class="{active: activeTab === 'product'}"><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Part Managment <span class="caret" style="vertical-align: middle;border-top: 4px solid #08c;"></span></a> 
                        <ul> <li ng-class="{active: activeTab === 'product'}"><a href="managethirdsubcategory"><i class="fa fa-user"  aria-hidden="true"></i> Add Parts</a></li>
                        <!-- <li ng-class="{active: activeTab === 'size'}"><a href="managesize"><i class="fa fa-user"  aria-hidden="true"></i> Size Mangment</a>
                        </li>
                        <li ng-class="{active: activeTab === 'color'}"><a href="managecolor"><i class="fa fa-user"  aria-hidden="true"></i> Color Managment</a>
                        </li> -->
                    </ul>
                       </li>
                       <li ng-class="{active: activeTab === 'purchase-list'}"><a href="purchase-list"><i class="fa fa-plus"  aria-hidden="true"></i> Purchase Management</a></li>

                <li ng-class="{active: activeTab === 'purchasereturn-list'}"><a href="purchasereturn-list"><i class="fa fa-plus" aria-hidden="true"></i>Purchase Return</a></li>

                <li ng-class="{active: activeTab === 'sales-list'}"><a href="sales-list"><i class="fa fa-plus" aria-hidden="true"></i> Sales Management</a></li>

                <li ng-class="{active: activeTab === 'salesreturn-list'}"><a href="salesreturn-list"><i class="fa fa-plus"aria-hidden="true"></i> Sales Return</a></li>


                       <li ng-class="{active: activeTab === 'supplier'}" class="active"><a href="supplier"><i class="fa fa-plus"  aria-hidden="true"></i> Supplier Management</a></li>
                        <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                        <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                     <!--  <li ng-class="{active: activeTab === 'manageslider'}"><a href="manageslider"><i class="fa fa-user"  aria-hidden="true"></i> Slider Managment</a></li>
                      <li ng-class="{active: activeTab === 'cms'}"><a href="cms"><i class="fa fa-user"  aria-hidden="true"></i> Content Managment</a></li>
                      <li ng-class="{active: activeTab === 'paymentmanage'}"><a href="paymentmanage"><i class="fa fa-user"  aria-hidden="true"></i> Payment Managment</a></li> -->
                   <!--  <li ng-class="{active: activeTab === 'manageorder'}"><a href="manageorder"><i class="fa fa-user"  aria-hidden="true"></i> Order Managment</a></li>
                    <li ng-class="{active: activeTab === 'managetransaction'}"><a href="managetransaction"><i class="fa fa-user"  aria-hidden="true"></i> Transaction Managment</a></li>
                    <li ng-class="{active: activeTab === 'symptom-admin'}"><a href="symptom-admin"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li>
                    <li ng-class="{active: activeTab === 'product-list'}"><a href="product-list" ><i class="fa fa-user-md"  aria-hidden="true"></i> Our Products</a></li>
                     <li ng-class="{active: activeTab === 'admin'}"><a href="admin"><i class="fa fa-plus"  aria-hidden="true"></i> User Management</a></li>
                     <li ng-class="{active: activeTab === 'add-symptoms'}"><a href="add-symptoms" ><i class="fa fa-user-md"  aria-hidden="true"></i> Add Symptoms</a></li>
                     <li ng-class="{active: activeTab === 'manage-symptoms'}"><a href="manage-symptoms"><i class="fa fa-user-md"  aria-hidden="true"></i> Manage Symptoms</a></li> -->
                    <% } %>

                      
                     <% if (user.user_role === 'user') { %>
                     <!-- <li ng-class="{active: activeTab === 'consult'}"><a href="consult" ><i class="fa fa-user-md" aria-hidden="true"></i> My Consultations</a></li>
                     <li ng-class="{active: activeTab === 'symptom-user'}"><a href="symptom-user" ><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                     <% } %>

                     <% if (user.user_role === 'doctor') { %>
                     <!--  <li ng-class="{active: activeTab === 'review-consult'}"><a href="review-consult"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Review Consultations</a></li>
                      <li ng-class="{active: activeTab === 'symptom-all'}"><a href="symptom-all"  ng-if="vm.user.user_role === 'doctor'"><i class="fa fa-user-md"  aria-hidden="true"></i> Symptom History</a></li> -->
                      <% } %>
            <li><a href="/logout"><i class="fa fa-sign-out"  aria-hidden="true"></i> Logout</a></li>
                        
                            
                    </ul>
                    </div>
<style type="text/css">
    #nav li ul { display: none; list-style:none;}
</style>
<script type="text/javascript">
    $("#nav li a").on("click", function (e) {
    //allow links to be followed if they don't have a sub-menu
    if ( !$(this).parent().has("ul").length ) { return; }

    //we have a sub-menu, so stop the link from being followed
    e.preventDefault();

    if(!$(this).hasClass("open")) {
        //we need to know which 'level' we're on 
        var currentLevel = $(this).closest('ul')
        $("li ul", currentLevel).slideUp(350);
        $("li a", currentLevel).removeClass("open");

        // open our new menu and add the open class
        $(this).next("ul").slideDown(350);
        $(this).addClass("open");
    } else {
        $(this).removeClass("open");
        $(this).next("ul").slideUp(350);
    }
});

</script>
      
                    
                  <div class="span9" style="height: 2100px;">

                    <div class="row-fluid">

                      <div class="span12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->   
                        
                        <div class="portlet box blue tabbable">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="hidden-480">Add Supplier</span>
                                </div>
                            </div>

                            <div class="portlet-body form">

                                <div class="tabbable portlet-tabs">
                                    
                                    <div class="tab-content">

                                        <div class="tab-pane active" id="portlet_tab1">

                                          <script src="/js/countries.js"></script>
     
        
      <form class="form-horizontal" method="post" action="/supplier-insert" enctype="multipart/form-data">
                                           
          <div class="control-group">
              <label class="control-label">Customer Id</label>
              <div class="controls">
                  <input type="text" name="custId" class="form-control"  placeholder="Customer Id" required>
              </div>
          </div>                   

          <div class="control-group">
              <label class="control-label">Name</label>
              <div class="controls">
                  <input type="text" name="supName" class="form-control"  placeholder="Name" required>
              </div>
          </div>

          <div class="control-group">
            <label class="control-label">Under Role</label>
              <div class="controls">
                <input type="text" name="role" value="Supplier" class="form-control" readonly="readonly" required>
              </div> 
          </div> 

          <div class="control-group">
              <label class="control-label">Address</label>
              <div class="controls">
                  <input type="text" name="address" class="form-control"  placeholder="Address">
              </div>                                    
          </div>  

          <div class="control-group">
            <label class="control-label">Country</label>
              <div class="controls">
                 <select id="country" name ="country"></select>
              </div>
          </div>         
         
          <div class="control-group">
              <label class="control-label">State</label>
              <div class="controls">
                 <select name ="state" id ="state"></select>
              </div>
          </div>

          <div class="control-group">
              <label class="control-label">City </label>
              <div class="controls">
                  <input type="text" name="city" class="form-control"  placeholder="City" required>
              </div>
          </div>

          <div class="control-group">
              <label class="control-label">PIN Code </label>
              <div class="controls">
                  <input type="text" name="pincode" class="form-control"  placeholder="PIN Code" required>
              </div>
          </div>

          <div class="control-group">
            <label class="control-label">Phone No</label>
              <div class="controls">
                <input type="text" name="phone" class="form-control"  placeholder="Phone">
              </div>
          </div>

          <div class="control-group">
            <label class="control-label">Mobile No</label>
              <div class="controls">
                <input type="text" name="mobile" class="form-control"  placeholder="Mobile" required>
              </div>
          </div>

          <div class="control-group">
            <label class="control-label">Fax</label>
              <div class="controls">
                <input type="text" name="fax" class="form-control"  placeholder="Fax" required>
              </div>
          </div>

          <div class="control-group">
            <label class="control-label">Email</label>
              <div class="controls">
                <input type="text" name="email" class="form-control"  placeholder="Email" required>
              </div>
          </div>

          <div class="control-group">
            <label class="control-label">Website</label>
              <div class="controls">
                  <input type="text" name="website" class="form-control"  placeholder="Website" required>
              </div>
          </div>

          <div class="control-group">

            <label class="control-label">BANK NAME</label>

              <div class="controls">

                <input type="text" name="bankName" class="form-control" required/>

              </div>

          </div>

          <div class="control-group">

            <label class="control-label">ACCOUNT HOLDER NAME</label>

              <div class="controls">

                <input type="text" name="holderName" class="form-control" required/>
                
              </div>

          </div>

          <div class="control-group">

            <label class="control-label">ACCOUNT NUMBER</label>

              <div class="controls">

                <input type="text" name="accountNumber" class="form-control" required/>

              </div>

          </div>

          <div class="control-group">

            <label class="control-label">IFSC CODE</label>

            <div class="controls">
                <input type="text" name="ifscCode" class="form-control" required/>
            </div>

          </div>

          <h3>Tax Registaration Detail</h3>

          <div class="control-group">
            <label class="control-label">PAN No</label>
              <div class="controls">
                   <input type="text" name="panNo" class="form-control"  placeholder="PAN No" required>
              </div>
          </div>

          <div class="control-group">
            <label class="control-label">Registartion Type</label>
              <div class="controls">
                  <select class="form-control" name="registerType">
                    <option>Select type</option>
                    <option value="Regular">Regular</option>
                    <option value="Consumer">Consumer</option>
                    <option value="Unregistered">Unregistered</option>
                    <option value="Composition">Composition</option>
                  </select>
              </div>                                    
          </div> 

          <div class="control-group">
            <label class="control-label">GSTIN / UIN</label>
              <div class="controls">
                <input type="text" name="gsit" class="form-control"  placeholder="GSTIN / UIN" required>
              </div>
          </div>

          <div class="control-group">
            <label class="control-label">SET/Alter SET Detail</label>
              <div class="controls">
                <select class="form-control" name="registerSet">
                  <option>Select SET</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
          </div>

            <% if(locals.successproduct) { %>

          <div class="alert alert-success"><%= successproduct %></div>

            <% } %>
 
          <input type="hidden" id="datetime">

          <div class="row-fluid">
            
              <div class="span4"></div>

              <div class="span3">
              
                <button class="btn theme-btn" type="submit"> <i class="fa fa-check"></i>Supplier Add</button>

              </div>

              <div class="span3">

                <a href="supplier"><button style="text-decoration: none;outline: 0 none;" class="btn theme-btn"><i class="fa fa-arrow"></i> Cancel</button></a>
                                       &nbsp;

                <a href="/supplier-list">View List</a>

              </div>

              <div class="span2"></div> 
          
          </div>
      
      </form>
                                          
                      </div>
                                       
                    </div>

                  </div>

                </div>

              </div>
                    
            </div>

          </div>
                    
        </div>

      </div>

    </div>
  
  </div>
   
      
  <script language="javascript">
    populateCountries("country", "state");
    populateCountries("country2");
  </script>

  <style type="text/css">

    a.newlogocss{
        margin-left: 20px;
    }

    .navbar-brand{
        padding: 15px !important;
    }
  
    .dropdown.open .dropdown-toggle{
        background-color: #fff !important;
    }

    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
      outline: thin dotted;
        outline: none;
      outline-offset: -2px;
    }

    .navbar-inverse .navbar-toggle {
      border-color:  #ffffff;
    }

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

      color: #999;
    }

    .nav .dropdown-toggle .caret {
      margin-top: 6px;
        border-top-color: #020202 !important;
      border-bottom-color: #121213 !important;
    }

    .modal {
        background-color: rgba(92, 92, 92, 0.03);
        border: 0px;
    }

    .modal-body {
     
       padding: 0px; 
      overflow-y: inherit; 
    }

    @media (min-width: 414px){
      .navbar-brand{
        font-size: 25px !important;
      }
    }

    @media (min-width: 320px) and (max-width: 320px){
      .navbar-brand{
        font-size: 15px !important;
          padding: 0px;
        margin: 14px 0px 0px 25px !important;
      }
    }

  </style>

 <% 

    var totalthirdsubcatdata = loadthirdsubcategorydata

    var totallthirdcaTsub = totalthirdsubcatdata.length

    var finalvalthirdsubcats = JSON.stringify(totalthirdsubcatdata)

%>
   

 <script type="text/javascript">

     var rowFrameworkResultInJs = "<%= totalthirdsubcatdata %>";
               var totallength = "<%= totallthirdcaTsub %>";

                var totalfinalvals = "<%= finalvalthirdsubcats%>";
 
         function dropdownlist(listindex)
            {

                // alert(listindex);

                $('#partName').val(listindex);
  
                var newdata = totalfinalvals.replace(/&quot;/g,'"');

               var fulldata = JSON.parse(JSON.stringify(newdata));

               var obj = JSON.parse(fulldata);
               // alert(obj);
                var lengtht = Object.keys(obj).length; //you get length json result 4


                
                if (listindex) {

                    var lookup = {};
                    var j = 1;
                    for (var i = 0, len = lengtht; i < len; i++) {
                        if (obj[i].CategoryName == listindex) {
                            
                             alert(obj[i].CategoryName);
                            document.getElementById("parentdatas").value= obj[i].parentdata;
                            j = j+1;
                        }
                    }
                }
                
                return true;
            }

 </script>

  
 
</body>
<!-- END BODY -->
</html>

    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    
  

 <style type="text/css">
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
 height: 30px;
    width: 80%;
}

textarea{
       width: 80%;
 
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
    filter: alpha(opacity=80);
}


 </style>


    <%- include partials/footer_userdashboard %>


                                      

                               
                                        