﻿    <%- include partials/header_login %>


         <!--<div class="tp-banner-container">
            <div class="tp-banner">
            </div>
</div>-->

              <!--<div class="caption">
                  <marquee>This is basic example of marquee</marquee>
                     </div>-->



       <!-- <div class="row">

        <img src="/img/banner.jpg" class="img-responsive" style="width: 100%;">-->
          <% if(locals.error) { %>
              <div class="alert alert-danger" style="text-align: center;width: 400px;float: right;position: absolute;top: 540px;left: 930px;"><%= error %>
                  <button type="button" class="close-data" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              </div>
                     <% } %>
                     <% if(locals.success) { %>
              <div class="alert alert-success" style="text-align: center;width: 400px;float: right;position: absolute;top: 540px;left: 930px;"><%= success %>
                  <button type="button" class="close-data" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              </div>
                      <% } %> 

            
        
                           
 
    <!-- Page content -->
    <!--<div id="page-content-wrapper" style="margin-left: 0px;">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row" >
                
               <section class="parallax">
                 
               </section> 
                 
              <section class="banner-section">
               <div class="container-fluid" style="text-align: center;">
                 <div class="row">
                 <ul class="nav nav-pills" style="display: inline-block;">
                  
                 <li class="newli"> <a href="#features" style="text-decoration: none;border-right: 1px solid rgba(129, 200, 107, 0.36);"><h5 class="orign-data">
                           <i class="fa fa-user-md fa-1.5x"></i>
                            <br><br>
                               Consult online
                          
                        </h5>
                        </a></li>
                 <li> <a href="#reviews" style="text-decoration: none;border-right: 1px solid rgba(129, 200, 107, 0.36);"><h5 class="orign-data">
                           <i class="fa fa-shopping-cart fa-1.5x"></i>
                                <br><br>
                                Order Online
                           
                        </h5></a></li>
                 <li>   <a href="#" style="text-decoration: none;"><h5 class="orign-data">
                            <i class="fa fa-users fa-1.5x"></i>
                                  <br><br>
                                For Providers
                            
                        </h5></a></li>
                </ul>


                     
                   
                       
                                    
                     
                   
                     
                    
                </div>
                </div>
                
              </section>

              
              <section id="about">
               <div class="container-fluid">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading orign" style="text-align: center;">
                    <h1>Our Services</h1>
                    <div class="divider"></div>
                      <p>Services Divided</p>
                   </div>

                     </div>
                      <div class="col-md-4">
                        <div class="panel">
                           
                            <div class="panel-body orign">
                            <div class="about-item">
                            <i class="fa fa-user-md fa-2x"></i>
                            <h3 class="orign">Consult online</h3>
                            <p class="orign">Ask a doctor online, describe your symptoms, click a picture of your toungue and get your health queries answered, with prescribed medicines. Never wait in queue. Get faster response.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">                    
                        <div class="panel">
                             <div class="about-item">
                            <div class="panel-body" orign>
                            <i class="fa fa-mobile fa-2x"></i>
                            <h3 style="orign">Get Medicine Online</h3>
                            <p style="orign">We offers a wide variety of Chinese herbal products starting from instant granulated herbal tea, herbal drops, USDA herbal capsules to single herbs or traditional Chinese formula.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-4">
                        <div class="panel">
                            <div class="about-item">
                            <div class="panel-body orign">
                            <i class="fa fa-users fa-2x"></i>
                            <h3 style="orign">For Healthcare Providers</h3>
                            <p style="orign">Ordering in bulk made easy. For Licensed practioners only. Get special pricing and faster shipping on bulk orders. Schedule and repeat orders easliy with one-click. Delivery all over USA</p>
                            </div>
                            </div>
                        </div>
                    </div>
                  </div>
               
            </div>
        </section>
          <section id="reviews">
               <div class="container-fluid">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading inverse sp-effect3">
                    <h1 style="color: #fff">Get all your medicines</h1>
                    <div class="divider"></div>
                    <p>Medicines Are </p>
                   </div>

                     </div>
                      <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="newssss review-comment-data">
                            <ul>
                          <li class="newe-li-data"><i class="fa fa-check"></i> Guaranteed availability</li>
                          <li class="newe-li-data"><i class="fa fa-check"></i> Home delivery in 24hrs</li>
                          <li class="newe-li-data"><i class="fa fa-check"></i> Over 130,000+ medicines</li>
                          <li class="newe-li-data"><i class="fa fa-check"></i> 100% Organic & Genuine</li>
                             </ul>
                          
                            
                            </div>
                              <button data-toggle="modal" data-target="#myModal" type="submit" class="btn btn-primary btn-md" style="display: block;color:#fff;border-color: #fff;border-radius: 5px;margin-top: 34px;border: 1px solid #ffffff;margin-left: 80px;">
                                            Order Online</button>
                        </div>
                   
                   
                      <div class="col-lg-7 col-md-7 col-sm-7">
                        <div class="review-comment-data">
                            <div class="about-item">
                           
                               <img src="img/13.jpg" alt="" class="img-responsive sp-effect5">
                           
                            </div>
                        </div>
                    </div>
                  </div>
               
            </div>
        </section>
          <section id="features">
               <div class="container-fluid">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading sp-effect3">
                    <h1>Consult online</h1>
                    <div class="divider"></div>
                    <p>Consult Here</p>
                   </div>

                     </div>
                      <div class="col-md-7">
                        <div class="">
                           
                        <div class="panel-body orign">
                        <div class="about-item">
                       <img src="assets_home/img/eVisit_newsroom.jpg" class="img-responsive sp-effect5" alt="">
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-5">                    
                        <div class="">
                             <div class="about-item">
                            <div class="panel-body" orign>
                            <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Thousands of patients helped</h3>
                               
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Verified doctors respond in 20 minutes</h3>
                           
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">100% private and confidential</h3>
                              
                            </div>
                        </div>

                          <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading"> Home delivery in 24hrs</h3>
                              
                            </div>
                        </div>

                                 <button data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-md" style="margin-top: 34px;    margin-left: 80px;border-radius: 5px;border: 1px solid #66cdcc;">Consult Now</button>
                              
                           

                       

                            </div>
                            </div>
                        </div>
                    </div>

                     
                     
                  </div>
               
            </div>
        </section>
          <section id="getApp">
               <div class="container-fluid">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading inverse sp-effect3">
                    <h1 style="color: #fff">Get App</h1>
                    <div class="divider"></div>
                      <p>Choose your native platform and get started!</p>
                       <p>Welcome <br> Our App</p>
                   </div>
                   </div>

                  <br> 
                    <br>
                    <div class="col-md-12">
                        <div class="hanging-phone sp-effect2 hidden-xs">
                            <img src="assets_home/img/freeze/freeze-angled2.png" alt="">
                        </div>
                        <div class="platforms">
                            <a href="#" class="btn btn-primary inverse sp-effect1">
                                <i class="fa fa-android fa-3x pull-left"></i>
                                <span>Download for</span><br>
                                <b>Android</b>
                            </a>
                            
                                <a href="#" class="btn btn-primary inverse sp-effect2">
                                    <i class="fa fa-apple fa-3x pull-left"></i>
                                    <span>Download for</span><br>
                                    <b>Apple IOS</b>
                                </a>
                        </div>

                    </div>
               


                     </div>
                 
                  
               
                </div>

        </section>
          <footer style="background: rgba(0, 0, 0, 0.28);">
           
                <div class="row">
                <div class="col-md-12">
                <div class="panel-body">
                  <div class="col-md-4">

                       
                    <h2>About</h2>
                    <p>Vivamus imperdiet felis consectetur onec eget orci adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
                      
                    </div>
                    <div class="col-md-4" >
                       <h2>Contact Us</h2>
                    
                        Loop, Inc. <br />
                        259, Meridian Ave, Suite 14 <br />
                        San Jose, CA 95126 <br />
                        P: (234) 145-1810 <br />
                        Email: <a href="mailto:info@medical.com">info@worldex.com</a>                        
                   
                        
                    </div>
                    <div class="col-md-4" >
                        
                              <h2>Monthly Newsletter</h2>  
                        <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    <form action="#">
                      
                          <button class="btn success" type="button">SUBSCRIBE</button>
                     
                    </form>
                       
                    </div>
                    
                </div>
                </div>
          </div>
                
             
        </footer>

       </div>
            </div>
        </div>
    </div>-->
    <div id="hpage">
 <section class="parallax-consult">
                 
               </section> 
                 
             

              
            
          <section id="about">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading orign" style="text-align: center;">
                    <h1>Here’s how it works:</h1>
                    

                     </div>
                      <div class="col-md-4">
                        <div class="panel">
                           
                            <div class="panel-body orign">
                            <div class="about-item">
                            <p style="text-align: center;"> <a href="#" class="btn btn-sq-xs btn-primary" style="border-radius: 0px;"> 1<br/> </a></p>
                            <h3 class="orign">Explain your health concern</h3>
                            <p class="orign">Describe your medical issue. Don’t hold back.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">                    
                        <div class="panel">
                             <div class="about-item">
                            <div class="panel-body orign">
                            <p style="text-align: center;"> <a href="#" class="btn btn-sq-xs btn-primary" style="border-radius: 0px;"> 2<br/> </a></p>
                            <h3 class="orign">Choose how you want an answer</h3>
                            <p class="orign">You can ask a doctor for free, or chat about your problem in detail for under ₹300.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-4">
                        <div class="panel">
                            <div class="about-item">
                            <div class="panel-body orign">
                            <p style="text-align: center;"> <a href="#" class="btn btn-sq-xs btn-primary" style="border-radius: 0px;"> 3<br/> </a></p>
                            <h3 class="orign">Get quick medical advice</h3>
                            <p class="orign">Get personalized advice from verified doctors about your health concern.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <!-- <button data-toggle="modal" data-target="#myModals" class="datas-btn btn btn-primary btn-md" style="margin:0 auto;display:block;border-radius: 5px;border: 1px solid #babf10;outline: none;">Consult Now</button> -->

                  <% if(user.consult_status === '1') { %> 
                   <button data-toggle="modal" data-target="#myModals" class="datas-btn btn btn-primary btn-md" style="border-radius: 5px;border: 1px solid #babf10;">Consult Now</button>

                    <% } else { %>


                      <button data-toggle="modal" data-target="#demo-1" class="datas-btn btn btn-primary btn-md" style="margin:0 auto;display:block;border-radius: 5px;border: 1px solid #babf10;">Consult Now</button>

                    <% } %>

                 


               
            </div>
        </section>

       
      
               




    <!-- <div class="wrapper">


       <div id="wrapperss">
        <div class="overlay"></div>
    
       
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
          

            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="index"><h3 style="color: #fff;float: right;margin-top: 12px;">WORLD<b style="color: #fff;">EX</b></h3></a>
                </li>
                  <li><a href="#about"><span> <i class="fa fa-users" aria-hidden="true"></i> </span>    Services</a> </li>
                  <li><a href="#reviews"><span> <i class="fa fa-mobile" aria-hidden="true"></i> </span>     Shop</a></li>
                  <li><a href="#features"><span><i class="fa fa-user-md" aria-hidden="true"></i> </span>    Consult</a></li>
                  <li><a href="#getApp"><span><i class="fa fa-film" aria-hidden="true"></i></span>    Get App</a></li>
                 
 
            </ul>

                
           
        </nav>
       
                    <div id="page-content-wrapper" style="z-index: 100000000;">
                        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                            <span class="hamb-top"></span>
                            <span class="hamb-middle"></span>
                            <span class="hamb-bottom"></span>
                        </button>
                        

                    </div>
                




                  

    </div>-->
  </div>
    <%- include partials/footer %>


      
      
     


<!-- Large modal -->
<div class="modal fade" id="myModals" role="dialog"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
    
      <!-- Modal content-->
      <div class="modal-content">
      
      <form method="post" class="form-horizontal" action="/consultonlinedata-insert" enctype="multipart/form-data">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="text-align: center;">Explain your Health Problem</h4>
        </div>
        <div class="modal-body">

            <input type="text" class="form-control" name="userid" value="<%= user._id %>" />

        
           <div class="control-group">
                        <label class="control-label">Briefly explain your problem</label>
                        <div class="controls">
                            <input type="text" class="form-control" name="problem" id="problem" />
                        </div>
            </div>
            <div class="control-group">
                        <label class="control-label" >Explain your problem in detail</label>
                        <div class="controls">
                            <textarea class="form-control" rows="2" name="problem_detail" id="problem_detail" style="border-radius: 5px;"></textarea>
                        </div>
            </div>  
                 <div class="control-group">
                        <label class="control-label">Select problem area that matches your description</label>
                        <div class="controls">
                         <select class="form-control" name="problem_descr" id="problem_descr">
                          <option value="0">Select Problem</option>
                               <option value="General Health">General Health</option>
                                <option value="Child Health">Child Health</option>
                                 <option value="Tooth and Mouth">Tooth and Mouth</option>
                                  <option value="Skin,Hair and Nails">Skin,Hair and Nails</option>
                                   <option value="Mental Health">Mental Health</option>
                                    <option value="Eye and Vision">Eye and Vision</option>
                           </select>                      
                       </div>
                </div>
                      <div class="control-group">
                        <label class="control-label">Upload Files of Image</label>
                        <div class="controls">
                            <input type="file" name="myimage"/>
                        </div>
                    </div>
            
        </div>
        <div class="modal-footer"> 
<!--          <a href="#" class="datas-btn btn btn-primary btn-sm" ><i class="icon-ok"></i> Submit</a> 
 -->
 <button type="submit" class="datas-btn btn btn-primary btn-sm" style="margin:0 auto;display:block;border-radius: 5px;border: 1px solid #babf10;"><i class="icon-ok"></i> Submit</button>


             </div>
         </form>
      </div>
      
    </div>
  </div>
  
</div>



<div class="container">


  <!-- [ Modal #1 ] -->
  <div class="modal fade" id="demo-1" tabindex="-1">
    <div class="modal-dialog modal-lg">
     <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
      <form action="/symptom_insert" method="post" class="form-horizontal">
         <div class="flash-message" ng-if="flash">
          <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
         </div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title caps" style="text-align: center;"><strong>Symptom Checker</strong></h4>
      </div>
      <!-- /////////////////////// -->
       <!-- Script for section 1 -->
      <script type="text/javascript">
        $("input[name=answer1]").change(function() {
  updateAllChecked1();

});

$("input[name=addall]").change(function() {
  if (this.checked) {
   $("input[name=answer1]").prop('checked', true).change();
  } else {
    $("input[name=answer1]").prop('checked', false).change();
  }
});

function updateAllChecked1() {
  $('#temperatures').text('');
  $("input[name=answer1]").each(function() {
    if (this.checked) {
      let old_text = $('#temperatures').text() ? $('#temperatures').text() + ', ' : '';
      $('#temperatures').text(old_text + $(this).val());
      // alert(old_text);
      
    }

  })
}






      </script>
      <!-- End Script for section 1 -->
<div class="modal-body" style="overflow-y: auto;height: 450px;">
        
<input type="hidden" id="userid" name="userid" value="{{vm.user._id}}"/>






             <!-- ////////////////SECTION no 1-->
  <div class="col-md-12 col-sm-12 col-lg-12" >
    <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="control-group">
        <label>Temperature - Do you:</label><br>

  <input type="checkbox" name="answer1" value="Tend to feel hot/warm">&nbsp;Tend to feel hot/warm<br>

<input type="checkbox" name="answer1" value="Tend to feel cold/cool">&nbsp;Tend to feel cold/cool<br>

<input type="checkbox" name="answer1" value="Have a low grade fever all of the time">&nbsp;Have a low grade fever all of the time<br>

<input type="checkbox"  name="answer1" value="Have a low grade fever in the evening">&nbsp;Have a low grade fever in the evening<br>
<input type="checkbox" name="answer1" value="Feel warmer in the afternoon or evening">&nbsp;Feel warmer in the afternoon or evening<br>
<input type="checkbox" name="answer1" value="Have heat or warmth in your palms">&nbsp;Have heat or warmth in your palms<br>
<input type="checkbox" name="answer1" value="Have heat or warmth in your soles">&nbsp;Have heat or warmth in your soles<br>
<input type="checkbox" name="answer1" value="Have heat or warmth in your lower back">&nbsp;Have heat or warmth in your lower back

<!-- <input type="checkbox" name="addall">Add All text<br> -->
<!-- <textarea id="temperatures" name="temperatures" style="display:none;"></textarea> -->
</div>




  </div>


<div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls"><br>
<input type="checkbox" name="answer1" value="Have deep heat in your body">&nbsp;Have deep heat in your body<br>
<input type="checkbox" name="answer1" value="Have recurrent fevers">&nbsp;Have recurrent fevers<br>
<input type="checkbox" name="answer1" value="Have recurrent chills">&nbsp;Have recurrent chills<br>
<input type="checkbox" name="answer1" value="Have cold hands">&nbsp;Have cold hands<br>
<input type="checkbox" name="answer1" value="Have cold feet">&nbsp;Have cold feet<br>
<input type="checkbox" name="answer1" value="Have chilly arms">&nbsp;Have chilly arms<br>
<input type="checkbox" name="answer1" value="Have chilly legs">&nbsp;Have chilly legs<br>
<input type="checkbox" name="answer1"  value="Have cold in your lower back">&nbsp;Have cold in your lower back<br>
<textarea id="temperatures" name="temperatures" style="display:none;"></textarea>
</div>

  </div>
</div>
<br>
<!-- ////////////////End SECTION no 1-->

<!-- Script for section 2 -->
      <script type="text/javascript">
        $("input[name=answer2]").change(function() {
  updateAllChecked2();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer2]").prop('checked', true).change();
  } else {
    $("input[name=answer2]").prop('checked', false).change();
  }
});

function updateAllChecked2() {
  $('#sleep').text('');
  $("input[name=answer2]").each(function() {
    if (this.checked) {
      let old_text = $('#sleep').text() ? $('#sleep').text() + ', ' : '';
      $('#sleep').text(old_text + $(this).val());
      
    }
  })
}






      </script>
      <!-- End Script for section 2 -->


<!-- /////////////// Begin Section 2 -->
<div class="col-md-12 col-sm-12 col-lg-12" align="left">
  <div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
        <label>Sleep - Do you:</label><br>
<input type="checkbox"  name="answer2" value="Have difficulty going to sleep">&nbsp;Have difficulty going to sleep<br>
<input type="checkbox" name="answer2" value="Awaken during the night">&nbsp;Awaken during the night<br>
<input type="checkbox" name="answer2" value="Have difficulty returning to sleep">&nbsp;Have difficulty returning to sleep<br>
<input type="checkbox" name="answer2" value="Sleep shallowly">&nbsp;Sleep shallowly<br>
<input type="checkbox" name="answer2" value="Have dreams disturb your sleep">&nbsp;Have dreams disturb your sleep<br><br>
</div>

  </div>
<div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
      <br>
<input type="checkbox" name="answer2" value="Have difficulty awakening in the AM">&nbsp;Have difficulty awakening in the AM<br>
<input type="checkbox" name="answer2" value="Feel tired or sleepy during the day">&nbsp;Feel tired or sleepy during the day<br>
<input type="checkbox" name="answer2" value="Need to take naps">&nbsp;Need to take naps<br>
<input type="checkbox" name="answer2" value="Feel wired and tired"">&nbsp;Feel "wired and tired"<br>
<input type="checkbox" name="answer2" value="Get a second wind at night">&nbsp;Get a "second wind" at night<br>
<textarea id="sleep" name="sleep" style="display:none;"></textarea>
</div>

  </div>
</div><br><br>
<!-- ////////////End Section 2 -->

<!-- Script for section 3 -->
      <script type="text/javascript">
        $("input[name=answer3]").change(function() {
  updateAllChecked3();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer3]").prop('checked', true).change();
  } else {
    $("input[name=answer3]").prop('checked', false).change();
  }
});

function updateAllChecked3() {
  $('#exercise').text('');
  $("input[name=answer3]").each(function() {
    if (this.checked) {
      let old_text = $('#exercise').text() ? $('#exercise').text() + ', ' : '';
      $('#exercise').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- /////////// -->

      <script type="text/javascript">
        $("input[name=answer3a]").change(function() {
  updateAllChecked3a();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer3a]").prop('checked', true).change();
  } else {
    $("input[name=answer3a]").prop('checked', false).change();
  }
});

function updateAllChecked3a() {
  $('#general_energy_level').text('');
  $("input[name=answer3a]").each(function() {
    if (this.checked) {
      let old_text = $('#general_energy_level').text() ? $('#general_energy_level').text() + ', ' : '';
      $('#general_energy_level').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- /////////////////// -->


      <script type="text/javascript">
        $("input[name=answer3b]").change(function() {
  updateAllChecked3b();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer3b]").prop('checked', true).change();
  } else {
    $("input[name=answer3b]").prop('checked', false).change();
  }
});

function updateAllChecked3b() {
  $('#energy_level_after_eating').text('');
  $("input[name=answer3b]").each(function() {
    if (this.checked) {
      let old_text = $('#energy_level_after_eating').text() ? $('#energy_level_after_eating').text() + ', ' : '';
      $('#energy_level_after_eating').text(old_text + $(this).val());
      
    }
  })
}
// ////////////////////////////





      </script>
      <!-- End Script for section 3 -->

<!-- /////////////////Begin Section 3 -->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-6 col-lg-6">
   
      <div class="form controls">
        <label>Exercise & Energy</label><br>
  <label>How much exercise do you get weekly?</label><br>
  <label>Are your symptoms and signs?</label><br>

<input type="checkbox"  name="answer3" value="better with exercise">&nbsp;better with exercise<br>
<input type="checkbox" name="answer3" value="worse with exercise">&nbsp;worse with exercise<br>
<input type="checkbox" name="answer3" value="the same">&nbsp;the same<br>

<textarea id="exercise" name="exercise" style="display:none;"></textarea><br>


<label>How is your general energy level?</label><br>
<input type="checkbox" name="answer3a" value="Sufficient">&nbsp;Sufficient<br>
<input type="checkbox" name="answer3a" value="Too Much">&nbsp;Too Much<br>
<input type="checkbox" name="answer3a" value="Too Little">&nbsp;Too Little <br>

<br><textarea id="general_energy_level" name="general_energy_level" style="display:none;"></textarea>



<label>How is your energy level after eating?</label><br>
<input type="checkbox" name="answer3b" value="Same">&nbsp;Same<br>
<input type="checkbox" name="answer3b" value="Increased">&nbsp;Increased<br>
<input type="checkbox" name="answer3b" value="Decreased">&nbsp;Decreased<br><br>

<textarea id="energy_level_after_eating" name="energy_level_after_eating" style="display:none;"></textarea>

</div>

  </div>

</div><br>
<!-- /////////////////End Section 3 -->




<!-- script section 4 -->
<script type="text/javascript">
        $("input[name=answer4]").change(function() {
  updateAllChecked4();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer4]").prop('checked', true).change();
  } else {
    $("input[name=answer4]").prop('checked', false).change();
  }
});

function updateAllChecked4() {
  $('#Appetite').text('');
  $("input[name=answer4]").each(function() {
    if (this.checked) {
      let old_text = $('#Appetite').text() ? $('#Appetite').text() + ', ' : '';
      $('#Appetite').text(old_text + $(this).val());
      
    }
  })
}






      </script>

<!-- end script section 4 -->
<!-- script section 4 -->
<script type="text/javascript">
        $("input[name=answer4a]").change(function() {
  updateAllChecked4a();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer4a]").prop('checked', true).change();
  } else {
    $("input[name=answer4a]").prop('checked', false).change();
  }
});

function updateAllChecked4a() {
  $('#Crave_Taste').text('');
  $("input[name=answer4a]").each(function() {
    if (this.checked) {
      let old_text = $('#Crave_Taste').text() ? $('#Crave_Taste').text() + ', ' : '';
      $('#Crave_Taste').text(old_text + $(this).val());
      
    }
  })
}






      </script>

<!-- end script section 4 -->
<!-- script section 4 -->
<script type="text/javascript">
        $("input[name=answer4b]").change(function() {
  updateAllChecked4b();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer4b]").prop('checked', true).change();
  } else {
    $("input[name=answer4b]").prop('checked', false).change();
  }
});

function updateAllChecked4b() {
  $('#Avoid_Taste').text('');
  $("input[name=answer4b]").each(function() {
    if (this.checked) {
      let old_text = $('#Avoid_Taste').text() ? $('#Avoid_Taste').text() + ', ' : '';
      $('#Avoid_Taste').text(old_text + $(this).val());
      
    }
  })
}






      </script>

<!-- end script section 4 -->




<!-- ////////////////Begin Section 4 -->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-6 col-lg-6">
  <div class="form controls">
        <label>Appetite - Do you:</label>

  <br>
  <input type="checkbox" name="answer4" value="poor">&nbsp;poor<br>
<input type="checkbox" name="answer4" value="good">&nbsp;good<br>
<input type="checkbox" name="answer4" value="excessive">&nbsp;excessive<br>
<input type="checkbox" name="answer4" value="constant appetite">&nbsp;constant appetite<br><br>
<textarea id="Appetite" name="Appetite" style="display:none;"></textarea>

<label>Crave these tastes</label><br>
<input type="checkbox" name="answer4a" value="salty">&nbsp;salty<br>
<input type="checkbox" name="answer4a" value="sour">&nbsp;sour<br>
<input type="checkbox" name="answer4a" value="bitter">&nbsp;bitter<br>
<input type="checkbox" name="answer4a" value="sweet">&nbsp;sweet<br>
<input type="checkbox" name="answer4a" value="spicy">&nbsp;spicy<br>
<textarea id="Crave_Taste" name="Crave_Taste" style="display:none;"></textarea><br>


<label>Avoid these tastes</label><br>
<input type="checkbox" name="answer4b" value="salty">&nbsp;salty<br>
<input type="checkbox" name="answer4b" value="sour">&nbsp;sour<br>
<input type="checkbox" name="answer4b" value="bitter">&nbsp;bitter<br>
<input type="checkbox" name="answer4b" value="sweet">&nbsp;sweet<br>
<input type="checkbox" name="answer4b" value="spicy">&nbsp;spicy<br><br>
<textarea id="Avoid_Taste" name="Avoid_Taste" style="display:none;"></textarea>
</div>
</div>
</div>
<!-- ////////////////End Section 4  -->

<!-- //Script of section 5 -->

<script type="text/javascript">
        $("input[name=answer5]").change(function() {
  updateAllChecked5();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer5]").prop('checked', true).change();
  } else {
    $("input[name=answer5]").prop('checked', false).change();
  }
});

function updateAllChecked5() {
  $('#Digestion').text('');
  $("input[name=answer5]").each(function() {
    if (this.checked) {
      let old_text = $('#Digestion').text() ? $('#Digestion').text() + ', ' : '';
      $('#Digestion').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- End script of section 5 -->



<!-- ///////////////Begin Section 5 -->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-6 col-lg-6">
      <div class="form controls">
        <label>Digestion - Do you:</label><br>

<input type="checkbox"  name="answer5" value="Have regular meals">&nbsp;Have regular meals<br>

<input type="checkbox" name="answer5" value="Taste your food">&nbsp;Taste your food<br>
<input type="checkbox" name="answer5" value="Have a noisy stomach">&nbsp;Have a "noisy" stomach<br>
<input type="checkbox" name="answer5" value="Have indigestion">&nbsp;Have indigestion<br>
<input type="checkbox" name="answer5" value="Feel like your abdomen is bloated">&nbsp;Feel like your abdomen is bloated<br>
<input type="checkbox" name="answer5" value="Have sour regurgitation or belching">&nbsp;Have sour regurgitation or belching<br>
<input type="checkbox" name="answer5" value="Have stomach pain or cramping">&nbsp;Have stomach pain or cramping<br><br><br>
</div>
  </div>
<div class="col-md-6 col-sm-6 col-lg-6">
   
      <div class="form controls">
        <br>
<input type="checkbox" name="answer5" value="Have abdominal pain or cramping">&nbsp;Have abdominal pain or cramping<br>
<input type="checkbox" name="answer5" value="Have problematic bad breath">&nbsp;Have problematic bad breath<br>
<input type="checkbox" name="answer5" value="Have flatulence">&nbsp;Have flatulence<br>
<input type="checkbox" name="answer5" value="Have belching">&nbsp;Have belching<br>
<input type="checkbox" name="answer5" value="Have nausea">&nbsp;Have nausea<br>
<input type="checkbox" name="answer5" value="Have vomiting">&nbsp;Have vomiting<br>
<textarea id="Digestion" name="Digestion" style="display:none;"></textarea>
</div>
  </div>
</div>

<!-- //////////////End Section 5 -->
<!-- Script for section 6 -->
<!-- // -->
<script type="text/javascript">
        $("input[name=answer6]").change(function() {
  updateAllChecked6();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer6]").prop('checked', true).change();
  } else {
    $("input[name=answer6]").prop('checked', false).change();
  }
});

function updateAllChecked6() {
  $('#Stools').text('');
  $("input[name=answer6]").each(function() {
    if (this.checked) {
      let old_text = $('#Stools').text() ? $('#Stools').text() + ', ' : '';
      $('#Stools').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 6 -->
<!-- Script for section 6a -->

<script type="text/javascript">
        $("input[name=What_color_are_your_stool]").change(function() {
  updateAllChecked6a();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=What_color_are_your_stool]").prop('checked', true).change();
  } else {
    $("input[name=What_color_are_your_stool]").prop('checked', false).change();
  }
});

function updateAllChecked6a() {
  $('#What_color_are_your_stool').text('');
  $("input[name=What_color_are_your_stool]").each(function() {
    if (this.checked) {
      let old_text = $('#What_color_are_your_stool').text() ? $('#What_color_are_your_stool').text() + ', ' : '';
      $('#What_color_are_your_stool').text(old_text + $(this).val());
      
    }
  })
}
</script>

<!-- End Script of section 6a -->
<!-- Script for section 6b -->
<!-- // -->
<script type="text/javascript">
        $("input[name=Number_of_daily_bowel_movements]").change(function() {
  updateAllChecked6b();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=Number_of_daily_bowel_movements]").prop('checked', true).change();
  } else {
    $("input[name=Number_of_daily_bowel_movements]").prop('checked', false).change();
  }
});

function updateAllChecked6b() {
  $('#Number_of_daily_bowel_movements').text('');
  $("input[name=Number_of_daily_bowel_movements]").each(function() {
    if (this.checked) {
      let old_text = $('#Number_of_daily_bowel_movements').text() ? $('#Number_of_daily_bowel_movements').text() + ', ' : '';
      $('#Number_of_daily_bowel_movements').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 6b -->


<!-- //////////////Begin Section 6 -->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-6 col-lg-6">
   <div class="form controls">
        <label>Stools - Do you:</label><br>
<input type="checkbox"  name="answer6" value="Tend toward constipation">&nbsp;Tend toward constipation<br>
<input type="checkbox" name="answer6" value="Tend toward loose stools">&nbsp;Tend toward loose stools<br>
<input type="checkbox" name="answer6" value="Have hard stools">&nbsp;Have hard stools<br>
<input type="checkbox" name="answer6" value="Have soft stools">&nbsp;Have soft stools<br>
<input type="checkbox" name="answer6" value="Have diarrhea often">&nbsp;Have diarrhea often<br>
<input type="checkbox" name="answer6" value="Notice undigested food in your stools">&nbsp;Notice undigested food in your stools<br>
<input type="checkbox" name="answer6" value="Have stomach pain or cramping">&nbsp;Have stomach pain or cramping<br>



<div class="form controls">
          <!-- ////////////// -->
          <br>
            <label>What color are your stool</label><br>
  <div>
  <input type="text" class="form-control" id="What_color_are_your_stool" name="What_color_are_your_stool" style="width: 70%;" required>
            </div>
          
<!-- \\\\\\\\\\\\\\\\ -->

  <!-- ////////////// -->
  <br>
            <label>Number of daily bowel movements</label><br>
  <div>
  <input type="text" class="form-control" id="Number_of_daily_bowel_movements" name="Number_of_daily_bowel_movements" style="width: 70%;" required>
            </div><br><br>
          
<!-- \\\\\\\\\\\\\\\\ -->
</div>






</div>
  </div>
<div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
        <br><br>
<input type="checkbox" name="answer6" value="Notice blood in your stools">&nbsp;Notice blood in your stools<br>
<input type="checkbox" name="answer6" value="Notice blood on your stools">&nbsp;Notice blood on your stools<br>
<input type="checkbox" name="answer6" value="Notice a foul or repugnant odor from your stools">&nbsp;Notice a foul or repugnant odor from your stools<br>
<input type="checkbox" name="answer6" value="otice a mucus-like substance in or on your stools">&nbsp;Notice a mucus-like substance in or on your stools<br>
<input type="checkbox" name="answer6" value="Notice coffee grounds in your stools">&nbsp;Notice "coffee grounds" in your stools<br>
<textarea id="Stools" name="Stools" style="display:none;"></textarea>
</div>
  </div>
</div>
<!-- ////////////End Section 6 -->


<!-- Script for section 7 -->
<!-- // -->
<script type="text/javascript">
        $("input[name=answer7]").change(function() {
  updateAllChecked7();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer7]").prop('checked', true).change();
  } else {
    $("input[name=answer7]").prop('checked', false).change();
  }
});

function updateAllChecked7() {
  $('#Urine').text('');
  $("input[name=answer7]").each(function() {
    if (this.checked) {
      let old_text = $('#Urine').text() ? $('#Urine').text() + ', ' : '';
      $('#Urine').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 7 -->
<!-- Script for section 7a -->

<script type="text/javascript">
        $("input[name=What_color_is_your_urine]").change(function() {
  updateAllChecked7a();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=What_color_is_your_urine]").prop('checked', true).change();
  } else {
    $("input[name=What_color_is_your_urine]").prop('checked', false).change();
  }
});

function updateAllChecked7a() {
  $('#What_color_is_your_urine').text('');
  $("input[name=What_color_is_your_urine]").each(function() {
    if (this.checked) {
      let old_text = $('#What_color_is_your_urine').text() ? $('#What_color_is_your_urine').text() + ', ' : '';
      $('#What_color_is_your_urine').text(old_text + $(this).val());
      
    }
  })
}
</script>

<!-- End Script of section 7a -->
<!-- Script for section 7b -->
<!-- // -->
<script type="text/javascript">
        $("input[name=How_often_do_you_urinate_in_a_day]").change(function() {
  updateAllChecked7b();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=How_often_do_you_urinate_in_a_day]").prop('checked', true).change();
  } else {
    $("input[name=How_often_do_you_urinate_in_a_day]").prop('checked', false).change();
  }
});

function updateAllChecked7b() {
  $('#How_often_do_you_urinate_in_a_day').text('');
  $("input[name=How_often_do_you_urinate_in_a_day]").each(function() {
    if (this.checked) {
      let old_text = $('#How_often_do_you_urinate_in_a_day').text() ? $('#How_often_do_you_urinate_in_a_day').text() + ', ' : '';
      $('#How_often_do_you_urinate_in_a_day').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 7b -->




<!-- ///////////Begin Section 7 -->
<div class="col-md-12 col-sm-12 col-lg-12" >
  <div class="col-md-6 col-sm-6 col-lg-6">
      <div class="form controls">
        <label>Urine - Do You:</label><br>
<input type="checkbox" name="answer7" value="Awaken at night to urinate">&nbsp;Awaken at night to urinate<br>
<input type="checkbox" name="answer7" value="Have an urgent feeling when you have to urinate">&nbsp;Have an urgent feeling when you have to urinate<br>
<input type="checkbox" name="answer7" value="Have difficulty starting urination">&nbsp;Have difficulty starting urination<br>
<input type="checkbox" name="answer7" value="Have starting and stopping flow">&nbsp;Have starting and stopping flow<br>
<input type="checkbox" name="answer7" value="Have a weak flow">&nbsp;Have a weak flow<br>
<input type="checkbox" name="answer7" value="Have pain when you urinate">&nbsp;Have pain when you urinate<br>
<input type="checkbox" name="answer7" value="Notice mistiness in your urine">&nbsp;Notice "mistiness" in your urine<br>


<div class="form controls">
          <!-- ////////////// -->
          <br>
            <label>What color is your urine (w/o vitamins)</label><br>
  <div>
  <input type="text" class="form-control" id="What_color_is_your_urine" name="What_color_is_your_urine" style="width: 70%;" required>
            </div>
<!-- \\\\\\\\\\\\\\\\ -->

 <!-- ////////////// -->
 <br>
            <label>How often do you urinate in a day</label><br>
  <div>
  <input type="text" class="form-control" id="How_often_do_you_urinate_in_a_day" name="How_often_do_you_urinate_in_a_day" style="width: 70%;" required><br>
            </div>
<!-- \\\\\\\\\\\\\\\\ -->
</div>



</div>
  </div>
<div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
        <br><br>
<input type="checkbox" name="answer7" value="Notice cloudiness in your urine">&nbsp;Notice "cloudiness" in your urine<br>
<input type="checkbox" name="answer7" value="Notice a milky quality to urine">&nbsp;Notice a "milky" quality to urine<br>
<input type="checkbox" name="answer7" value="Notice sand in your urine">&nbsp;Notice "sand" in your urine<br>
<input type="checkbox" name="answer7" value="Notice blood in your urine">&nbsp;Notice blood in your urine<br>
<input type="checkbox" name="answer7" value="Have strong-smelling urine">&nbsp;Have strong-smelling urine<br>
<input type="checkbox" name="answer7" value="Have urinary tract infections">&nbsp;Have urinary tract infections  <br>
<textarea id="Urine" name="Urine" style="display:none;"></textarea>


</div>

  </div>
</div>
<!-- ///////////End Section 7 -->
<!-- Script for section 8 -->
<!-- // -->
<script type="text/javascript">
        $("input[name=answer8]").change(function() {
  updateAllChecked8();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer8]").prop('checked', true).change();
  } else {
    $("input[name=answer8]").prop('checked', false).change();
  }
});

function updateAllChecked8() {
  $('#ReproductionMen').text('');
  $("input[name=answer8]").each(function() {
    if (this.checked) {
      let old_text = $('#ReproductionMen').text() ? $('#ReproductionMen').text() + ', ' : '';
      $('#ReproductionMen').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 8 -->
<!-- Script for section 8a -->
<script type="text/javascript">
        $("input[name=Have_a_genital_discharge_What_color]").change(function() {
  updateAllChecked8a();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=Have_a_genital_discharge_What_color]").prop('checked', true).change();
  } else {
    $("input[name=Have_a_genital_discharge_What_color]").prop('checked', false).change();
  }
});

function updateAllChecked8a() {
  $('#Have_a_genital_discharge_What_color').text('');
  $("input[name=Have_a_genital_discharge_What_color]").each(function() {
    if (this.checked) {
      let old_text = $('#Have_a_genital_discharge_What_color').text() ? $('#Have_a_genital_discharge_What_color').text() + ', ' : '';
      $('#Have_a_genital_discharge_What_color').text(old_text + $(this).val());
      
    }
  })
}
</script>

<!-- End Script of section 8a -->
<!-- Script for section 8b -->
<!-- // -->
<script type="text/javascript">
        $("input[name=How_often_do_you_engage_in_sex]").change(function() {
  updateAllChecked8b();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=How_often_do_you_engage_in_sex]").prop('checked', true).change();
  } else {
    $("input[name=How_often_do_you_engage_in_sex]").prop('checked', false).change();
  }
});

function updateAllChecked8b() {
  $('#How_often_do_you_engage_in_sex').text('');
  $("input[name=How_often_do_you_engage_in_sex]").each(function() {
    if (this.checked) {
      let old_text = $('#How_often_do_you_engage_in_sex').text() ? $('#How_often_do_you_engage_in_sex').text() + ', ' : '';
      $('#How_often_do_you_engage_in_sex').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 8b -->
<!-- ///////////Begin Section 8 -->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
        <br>
        <label>Reproduction</label><br>
<input type="checkbox" name="answer8"  value="Have low sexual energy">&nbsp;Have low sexual energy<br>
<input type="checkbox" name="answer8" value="Have excessive sexual energy">&nbsp;Have excessive sexual energy<br>
<input type="checkbox" name="answer8" value="Have pain during sex">&nbsp;Have pain during sex<br>
<input type="checkbox" name="answer8" value="Have premature ejaculation">&nbsp;Have premature ejaculation<br>
<input type="checkbox" name="answer8" value="Have seminal emission">&nbsp;Have seminal emission<br>
<div class="form controls">
          <!-- ////////////// -->
          <br>
            <label>Have a genital discharge? What color?</label><br>
  <div>
  <input type="text" class="form-control" id="Have_a_genital_discharge_What_color" name="Have_a_genital_discharge_What_color" style="width: 70%;" required>
            </div>
<!-- \\\\\\\\\\\\\\\\ -->

  <!-- ////////////// -->
  <br>
            <label>How often do you engage in sex</label><br>
  <div>
  <input type="text" class="form-control" id="How_often_do_you_engage_in_sex" name="How_often_do_you_engage_in_sex" style="width: 70%;" required>
            </div><br>
<!-- \\\\\\\\\\\\\\\\ -->


</div>












</div>

  </div>
<div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
        <br><br>
<input type="checkbox" name="answer8" value="Experience impotence">&nbsp;Experience impotence<br>
<input type="checkbox" name="answer8" value="Have itching in/on your genitals">&nbsp;Have itching in/on your genitals<br>
<input type="checkbox" name="answer8" value="Have pain in your genitals">&nbsp;Have pain in your genitals<br>
<input type="checkbox" name="answer8" value="Have an odor from your genitals?">&nbsp;Have an odor from your genitals?<br>
<textarea id="ReproductionMen" name="ReproductionMen" style="display:none;"></textarea>
</div>
</div>
</div><br>
<!-- ///////////End Section 8 -->
<!-- Script for section 9 -->
<!-- // -->
<script type="text/javascript">
        $("input[name=answer9]").change(function() {
  updateAllChecked9();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer9]").prop('checked', true).change();
  } else {
    $("input[name=answer9]").prop('checked', false).change();
  }
});

function updateAllChecked9() {
  $('#ReproductionWomen').text('');
  $("input[name=answer9]").each(function() {
    if (this.checked) {
      let old_text = $('#ReproductionWomen').text() ? $('#ReproductionWomen').text() + ', ' : '';
      $('#ReproductionWomen').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 9 -->
<!-- Script for section 9a -->
<script type="text/javascript">
        $("input[name=How_long_is_your_menstrual_cycle_days]").change(function() {
  updateAllChecked9a();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=How_long_is_your_menstrual_cycle_days]").prop('checked', true).change();
  } else {
    $("input[name=How_long_is_your_menstrual_cycle_days]").prop('checked', false).change();
  }
});

function updateAllChecked9a() {
  $('#How_long_is_your_menstrual_cycle_days').text('');
  $("input[name=How_long_is_your_menstrual_cycle_days]").each(function() {
    if (this.checked) {
      let old_text = $('#How_long_is_your_menstrual_cycle_days').text() ? $('#How_long_is_your_menstrual_cycle_days').text() + ', ' : '';
      $('#How_long_is_your_menstrual_cycle_days').text(old_text + $(this).val());
      
    }
  })
}
</script>

<!-- End Script of section 9a -->
<!-- Script for section 9b -->
<!-- // -->
<script type="text/javascript">
        $("input[name=Is_it_regular]").change(function() {
  updateAllChecked9b();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=Is_it_regular]").prop('checked', true).change();
  } else {
    $("input[name=Is_it_regular]").prop('checked', false).change();
  }
});

function updateAllChecked9b() {
  $('#Is_it_regular').text('');
  $("input[name=Is_it_regular]").each(function() {
    if (this.checked) {
      let old_text = $('#Is_it_regular').text() ? $('#Is_it_regular').text() + ', ' : '';
      $('#Is_it_regular').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 9b -->
<!-- Script for section 9c-->
<!-- // -->
<script type="text/javascript">
        $("input[name=How_long_is_your_menstrual_flow]").change(function() {
  updateAllChecked9c();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=How_long_is_your_menstrual_flow]").prop('checked', true).change();
  } else {
    $("input[name=How_long_is_your_menstrual_flow]").prop('checked', false).change();
  }
});

function updateAllChecked9c() {
  $('#How_long_is_your_menstrual_flow').text('');
  $("input[name=How_long_is_your_menstrual_flow]").each(function() {
    if (this.checked) {
      let old_text = $('#How_long_is_your_menstrual_flow').text() ? $('#How_long_is_your_menstrual_flow').text() + ', ' : '';
      $('#How_long_is_your_menstrual_flow').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 9c -->
<!-- Script for section 9d -->
<!-- // -->
<script type="text/javascript">
        $("input[name=What_color_is_your_menstrual_flow]").change(function() {
  updateAllChecked9d();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=What_color_is_your_menstrual_flow]").prop('checked', true).change();
  } else {
    $("input[name=What_color_is_your_menstrual_flow]").prop('checked', false).change();
  }
});

function updateAllChecked9d() {
  $('#What_color_is_your_menstrual_flow').text('');
  $("input[name=What_color_is_your_menstrual_flow]").each(function() {
    if (this.checked) {
      let old_text = $('#What_color_is_your_menstrual_flow').text() ? $('#What_color_is_your_menstrual_flow').text() + ', ' : '';
      $('#What_color_is_your_menstrual_flow').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 9d -->
<!-- Script for section 9e-->
<!-- // -->
<script type="text/javascript">
        $("input[name=Do_You_use_birth_control_pills_How_long]").change(function() {
  updateAllChecked9e();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=Do_You_use_birth_control_pills_How_long]").prop('checked', true).change();
  } else {
    $("input[name=Do_You_use_birth_control_pills_How_long]").prop('checked', false).change();
  }
});

function updateAllChecked9e() {
  $('#Do_You_use_birth_control_pills_How_long').text('');
  $("input[name=Do_You_use_birth_control_pills_How_long]").each(function() {
    if (this.checked) {
      let old_text = $('#Do_You_use_birth_control_pills_How_long').text() ? $('#Do_You_use_birth_control_pills_How_long').text() + ', ' : '';
      $('#Do_You_use_birth_control_pills_How_long').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 9e -->
<!-- Script for section 9f -->
<!-- // -->
<script type="text/javascript">
        $("input[name=How_many_pregnancies_have_you_had]").change(function() {
  updateAllChecked9f();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=How_many_pregnancies_have_you_had]").prop('checked', true).change();
  } else {
    $("input[name=How_many_pregnancies_have_you_had]").prop('checked', false).change();
  }
});

function updateAllChecked9f() {
  $('#How_many_pregnancies_have_you_had').text('');
  $("input[name=How_many_pregnancies_have_you_had]").each(function() {
    if (this.checked) {
      let old_text = $('#How_many_pregnancies_have_you_had').text() ? $('#How_many_pregnancies_have_you_had').text() + ', ' : '';
      $('#How_many_pregnancies_have_you_had').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 9f -->
<!-- Script for section 9g -->
<!-- // -->
<script type="text/javascript">
        $("input[name=How_many_children_have_you_borne]").change(function() {
  updateAllChecked9g();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=How_many_children_have_you_borne]").prop('checked', true).change();
  } else {
    $("input[name=How_many_children_have_you_borne]").prop('checked', false).change();
  }
});

function updateAllChecked9g() {
  $('#How_many_children_have_you_borne').text('');
  $("input[name=How_many_children_have_you_borne]").each(function() {
    if (this.checked) {
      let old_text = $('#How_many_children_have_you_borne').text() ? $('#How_many_children_have_you_borne').text() + ', ' : '';
      $('#How_many_children_have_you_borne').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 9g-->
<!-- Script for section 9h -->
<!-- // -->
<script type="text/javascript">
        $("input[name=How_many_miscarriages]").change(function() {
  updateAllChecked9h();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=How_many_miscarriages]").prop('checked', true).change();
  } else {
    $("input[name=How_many_miscarriages]").prop('checked', false).change();
  }
});

function updateAllChecked9h() {
  $('#How_many_miscarriages').text('');
  $("input[name=How_many_miscarriages]").each(function() {
    if (this.checked) {
      let old_text = $('#How_many_miscarriages').text() ? $('#How_many_miscarriages').text() + ', ' : '';
      $('#How_many_miscarriages').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 9h -->
<!-- Script for section 9i -->
<!-- // -->
<script type="text/javascript">
        $("input[name=How_many_abortions]").change(function() {
  updateAllChecked9i();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=How_many_abortions]").prop('checked', true).change();
  } else {
    $("input[name=How_many_abortions]").prop('checked', false).change();
  }
});

function updateAllChecked9i() {
  $('#How_many_abortions').text('');
  $("input[name=How_many_abortions]").each(function() {
    if (this.checked) {
      let old_text = $('#How_many_abortions').text() ? $('#How_many_abortions').text() + ', ' : '';
      $('#How_many_abortions').text(old_text + $(this).val());
      
    }
  })
}
</script>

<!-- // -->
<!-- End Script of section 9h -->
<!-- Script for section 9i -->
<!-- // -->
<script type="text/javascript">
        $("input[name=answer9j]").change(function() {
  updateAllChecked9j();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer9j]").prop('checked', true).change();
  } else {
    $("input[name=answer9j]").prop('checked', false).change();
  }
});

function updateAllChecked9j() {
  $('#Clots').text('');
  $("input[name=answer9j]").each(function() {
    if (this.checked) {
      let old_text = $('#Clots').text() ? $('#Clots').text() + ', ' : '';
      $('#Clots').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 9i -->


<!-- //////////Begin Section 9 -->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-12 col-lg-6">
    <div class="form controls">
        <label>Reproduction - Women</label><br>
<input type="checkbox" name="answer9" value="Are you pregnant now or have reason to believe you are">&nbsp;Are you pregnant now or have reason to believe you are<br>
<input type="checkbox" name="answer9" value="cramps during your menstrual flow">&nbsp;cramps during your menstrual flow<br>
<input type="checkbox" name="answer9" value="Are the cramps somewhat painful">&nbsp;Are the cramps somewhat painful<br>
<input type="checkbox" name="answer9" value="Are the cramps very painful">&nbsp;Are the cramps very painful<br>
<textarea id="ReproductionWomen" name="ReproductionWomen" style="display:none;"></textarea>


<label>Are there clots in your menstrual flow</label><br>
<input type="checkbox" name="answer9j" value="few clots">&nbsp;few clots<br>
<input type="checkbox" name="answer9j" value="many clots">&nbsp;many clots<br>
<textarea id="Clots" name="Clots" style="display:none;"></textarea>

<!-- ////// -->
 <!-- <div class="col-md-6 col-sm-6 col-lg-6"> -->
   <div class="form controls">
        <!-- <label>Muscles - Do you have:</label><br> -->
<br>
    <label>How long is your menstrual cycle days</label><br>
  <div>
<input type="text" class="form-control" id="How_long_is_your_menstrual_cycle_days" name="How_long_is_your_menstrual_cycle_days" style="width: 70%;" required>
  </div>
<br>
<label>Is it regular</label><br>
  <div>
   <input type="text" class="form-control" id="Is_it_regular" name="Is_it_regular" style="width: 70%;" required>
            </div>
<!-- ////////////// -->
<br>
            <label>How long is your menstrual flow</label><br>
  <div>
   <input type="text" class="form-control" id="How_long_is_your_menstrual_flow" name="How_long_is_your_menstrual_flow" style="width: 70%;" required>
            </div>
<!-- \\\\\\\\\\\\\\\\ -->


<!-- ////////////// -->
<br>
            <label>What color is your menstrual flow</label><br>
  <div>
   <input type="text" class="form-control" id="What_color_is_your_menstrual_flow" name="What_color_is_your_menstrual_flow" style="width: 70%;" required>
            </div>
<!-- \\\\\\\\\\\\\\\\ -->

<!-- ////////////// -->
<br>
            <label>Do You use birth control pills? How long?</label><br>
  <div>
  <input type="text" class="form-control" id="Do_You_use_birth_control_pills_How_long" name="Do_You_use_birth_control_pills_How_long" style="width: 70%;" required>
            </div>
<!-- \\\\\\\\\\\\\\\\ -->

<!-- ////////////// -->
<br>
            <label>How many pregnancies have you had</label><br>
  <div>
  <input type="text" class="form-control" id="How_many_pregnancies_have_you_had" name="How_many_pregnancies_have_you_had" style="width: 70%;" required>
            </div>
<!-- \\\\\\\\\\\\\\\\ -->

<!-- ////////////// -->
<br>
            <label>How many children have you borne</label><br>
  <div>
  <input type="text" class="form-control" id="How_many_children_have_you_borne" name="How_many_children_have_you_borne" style="width: 70%;" required>
            </div>
<!-- \\\\\\\\\\\\\\\\ -->

<!-- ////////////// -->
<br>
            <label>How many miscarriages</label><br>
  <div>
  <input type="text" class="form-control" id="How_many_miscarriages" name="How_many_miscarriages" style="width: 70%;" required>
            </div>
<!-- \\\\\\\\\\\\\\\\ -->

<!-- ////////////// -->
<br>
            <label>How many abortions</label><br>
  <div>
  <input type="text" class="form-control" id="How_many_abortions" name="How_many_abortions" style="width: 70%;" required><br>
            </div>
<!-- \\\\\\\\\\\\\\\\ -->







</div>



<!-- <div class="form-group">
            </div> -->  
           
       
       
    
   
       
      
          
     
</div>

  </div>
<div class="col-md-6 col-sm-12 col-lg-6">
    
      <div class="form controls">
        <br>
</div>
</div>
</div>
<!-- /////////End Section 9 -->
<!-- Script for section 10-->
<!-- // -->
<script type="text/javascript">
        $("input[name=answer10]").change(function() {
  updateAllChecked10();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer10]").prop('checked', true).change();
  } else {
    $("input[name=answer10]").prop('checked', false).change();
  }
});

function updateAllChecked10() {
  $('#Respiration').text('');
  $("input[name=answer10]").each(function() {
    if (this.checked) {
      let old_text = $('#Respiration').text() ? $('#Respiration').text() + ', ' : '';
      $('#Respiration').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 10-->

<!-- Script for section 10a-->
<!-- // -->
<script type="text/javascript">
        $("input[name=answer10a]").change(function() {
  updateAllChecked10a();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer10a]").prop('checked', true).change();
  } else {
    $("input[name=answer10a]").prop('checked', false).change();
  }
});

function updateAllChecked10a() {
  $('#cough').text('');
  $("input[name=answer10a]").each(function() {
    if (this.checked) {
      let old_text = $('#cough').text() ? $('#cough').text() + ', ' : '';
      $('#cough').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- // -->
<!-- End Script of section 10a-->



<!-- /////////Begin Section 10 -->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="form controls">
      <br>
        <label>Respiration Do You have:</label><br>
<input type="checkbox" name="answer10" value="Have shortness of breath on slight exertion">&nbsp;Have shortness of breath on slight exertion<br>
<input type="checkbox" name="answer10" value="Shortness of breath - worse when lying down">&nbsp;Shortness of breath - worse when lying down<br>
<input type="checkbox" name="answer10" value="Difficulty inhaling">&nbsp;Difficulty inhaling<br>
<input type="checkbox" name="answer10" value="Difficulty exhaling">&nbsp;Difficulty exhaling<br>
<input type="checkbox" name="answer10" value="Sneezing">&nbsp;Sneezing<br>

<br>
<label>A cough</label><br>
<input type="checkbox" name="answer10a" value="dry Cough">&nbsp;dry&nbsp;<input type="checkbox" name="answer10a" value="wet Cough">&nbsp;wet<br>
<textarea id="cough" name="cough" style="display:none;"></textarea>

</div>
  </div>
<div class="col-md-6 col-sm-6 col-lg-6">
    <div class="form controls">
        <br><br>
<input type="checkbox" name="answer10" value="colored phlegm">&nbsp;colored phlegm<br>
<input type="checkbox" name="answer10" value="small amounts of phlegm">&nbsp;small amounts of phlegm<br>
<input type="checkbox" name="answer10" value="large amounts of phlegm">&nbsp;large amounts of phlegm<br>
<input type="checkbox" name="answer10" value="difficulty coughing phlegm up">&nbsp;difficulty coughing phlegm up<br>
<input type="checkbox" name="answer10" value="Sinus congestion">&nbsp;Sinus congestion<br>
<input type="checkbox" name="answer10" value="Sinus infections">&nbsp;Sinus infections<br>
<textarea id="Respiration" name="Respiration" style="display:none;"></textarea>
</div>
  </div>
</div>
<!-- ////////End Section 10 -->
<script type="text/javascript">
        $("input[name=answer11]").change(function() {
  updateAllChecked11();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer11]").prop('checked', true).change();
  } else {
    $("input[name=answer11]").prop('checked', false).change();
  }
});

function updateAllChecked11() {
  $('#Pain').text('');
  $("input[name=answer11]").each(function() {
    if (this.checked) {
      let old_text = $('#Pain').text() ? $('#Pain').text() + ', ' : '';
      $('#Pain').text(old_text + $(this).val());
      
    }
  })
}
</script>

<script type="text/javascript">
        $("input[name=answer11a]").change(function() {
  updateAllChecked11a();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer11a]").prop('checked', true).change();
  } else {
    $("input[name=answer11a]").prop('checked', false).change();
  }
});

function updateAllChecked11a() {
  $('#Headaches').text('');
  $("input[name=answer11a]").each(function() {
    if (this.checked) {
      let old_text = $('#Headaches').text() ? $('#Headaches').text() + ', ' : '';
      $('#Headaches').text(old_text + $(this).val());
      
    }
  })
}
</script>

<!-- ////////Begin Section 11  -->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="form controls">
      <br>
        <label>Pain - Do You Have:</label><br>
<input type="checkbox" name="answer11" value="Rapid onset">&nbsp;Rapid onset<br>
<input type="checkbox" name="answer11" value="Gradual onset">&nbsp;Gradual onset<br>
<input type="checkbox" name="answer11" value="Fixed location pain">&nbsp;Fixed location pain<br>
<input type="checkbox" name="answer11" value="Shifting location pain">&nbsp;Shifting location pain<br>
<input type="checkbox" name="answer11" value="Dull pain">&nbsp;Dull pain<br>
<input type="checkbox" name="answer11" value="Sharp pain">&nbsp;Sharp pain<br>
<br>
<label>Headaches</label><br>
<input type="checkbox" name="answer11a" value="Frontal">&nbsp;Frontal&nbsp;<input type="checkbox" name="answer11a" value="Side">&nbsp;Side<br> 
<input type="checkbox" name="answer11a" value="Back">&nbsp;Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="answer11" value="Behind the eyes">&nbsp;Behind the eyes <br><textarea id="Headaches" name="Headaches" style="display:none;"></textarea>
</div>
</div>
<div class="col-md-6 col-sm-6 col-lg-6">
<div class="form controls">
        <br><br><br>
<input type="checkbox" name="answer11" value="Burning pain">&nbsp;Burning pain<br>
<input type="checkbox" name="answer11" value="Stabbing pain">&nbsp;Stabbing pain<br>
<input type="checkbox" name="answer11" value="Joint pain">&nbsp;Joint pain<br>
<input type="checkbox" name="answer11" value="Low back pain">&nbsp;Low back pain<br>
<input type="checkbox" name="answer11" value="Chest pain">&nbsp;Chest pain<br>
<input type="checkbox" name="answer11" value="Pain under the ribs">&nbsp;Pain under the ribs<br><textarea id="Pain" name="Pain" style="display:none;"></textarea>
</div>
  </div>
</div>
<!-- ////////End Section 11 -->
<script type="text/javascript">
        $("input[name=answer12]").change(function() {
  updateAllChecked12();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer12]").prop('checked', true).change();
  } else {
    $("input[name=answer12]").prop('checked', false).change();
  }
});

function updateAllChecked12() {
  $('#Eyes').text('');
  $("input[name=answer12]").each(function() {
    if (this.checked) {
      let old_text = $('#Eyes').text() ? $('#Eyes').text() + ', ' : '';
      $('#Eyes').text(old_text + $(this).val());
      
    }
  })
}
</script>

<!-- ///////Begin  Section 12 -->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-12 col-lg-6">
    
      <div class="form controls">
        <br>
        <label>Head to Toes</label><br>
        <label>Eyes - Do you have:</label><br>

<input type="checkbox" name="answer12" value="change in vision">&nbsp;change in vision<br>
<input type="checkbox" name="answer12" value="blurry vision">&nbsp;blurry vision<br>
<input type="checkbox" name="answer12" value="red eyes">&nbsp;red eyes<br>
<input type="checkbox" name="answer12" value="dry eyes">&nbsp;dry eyes<br>
<input type="checkbox" name="answer12" value="gritty eyes">&nbsp;gritty eyes<br>
<input type="checkbox" name="answer12" value="poor night vision">&nbsp;poor night vision<br>
<input type="checkbox" name="answer12" value="See floaters">&nbsp;See floaters<br>
<textarea id="Eyes" name="Eyes" style="display:none;"></textarea>
</div>
  </div>

  <script type="text/javascript">
        $("input[name=answer13]").change(function() {
  updateAllChecked13();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer13]").prop('checked', true).change();
  } else {
    $("input[name=answer13]").prop('checked', false).change();
  }
});

function updateAllChecked13() {
  $('#Ears').text('');
  $("input[name=answer13]").each(function() {
    if (this.checked) {
      let old_text = $('#Ears').text() ? $('#Ears').text() + ', ' : '';
      $('#Ears').text(old_text + $(this).val());
      
    }
  })
}
</script>

<script type="text/javascript">
        $("input[name=answer13a]").change(function() {
  updateAllChecked13a();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer13a]").prop('checked', true).change();
  } else {
    $("input[name=answer13a]").prop('checked', false).change();
  }
});

function updateAllChecked13a() {
  $('#noise_in_ears').text('');
  $("input[name=answer13a]").each(function() {
    if (this.checked) {
      let old_text = $('#noise_in_ears').text() ? $('#noise_in_ears').text() + ', ' : '';
      $('#noise_in_ears').text(old_text + $(this).val());
      
    }
  })
}
</script>


<div class="col-md-6 col-sm-12 col-lg-6">
    <div class="form controls">
      <br><br>
        <label>Ears - Do you:</label><br>
<input type="checkbox" name="answer13" value="Have difficulty hearing">&nbsp;Have difficulty hearing<br>
<label>Have noise in your ears</label><br>
<input type="checkbox" name="answer13a" value="High pitched">
&nbsp;High-pitched&nbsp;
<input type="checkbox" name="answer13a" value="Low pitched">&nbsp;Low-pitched <br>

<textarea id="noise_in_ears" name="noise_in_ears" style="display:none;"></textarea>

<input type="checkbox" name="answer13" value="Have ear pain">&nbsp;Have ear pain<br>
<input type="checkbox" name="answer13" value="Feel pressure in your ears">&nbsp;Feel pressure in your ears<br>
<input type="checkbox" name="answer13" value="Have discharges from your ears">&nbsp;Have discharges from your ears<br><textarea id="Ears" name="Ears" style="display:none;"></textarea>

</div>
</div>
</div><!-- //////End Section 13 -->
<script type="text/javascript">
        $("input[name=answer14]").change(function() {
  updateAllChecked14();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer14]").prop('checked', true).change();
  } else {
    $("input[name=answer14]").prop('checked', false).change();
  }
});

function updateAllChecked14() {
  $('#Mouth').text('');
  $("input[name=answer14]").each(function() {
    if (this.checked) {
      let old_text = $('#Mouth').text() ? $('#Mouth').text() + ', ' : '';
      $('#Mouth').text(old_text + $(this).val());
      
    }
  })
}
</script>


<!-- /////Begin Section 14  -->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
        <br>
        <label>Mouth - Do you have:</label><br>
<input type="checkbox" name="answer14" value="Tongue ulcers">&nbsp;Tongue ulcers<br>
<input type="checkbox" name="answer14" value="Bleeding gums">&nbsp;Bleeding gums<br>
</div>

  </div>
<div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
        <br><br>
<input type="checkbox" name="answer14" value="Bitter taste in your mouth">&nbsp;Bitter taste in your mouth<br>
<input type="checkbox" name="answer14" value="Other tastes in your mouth">&nbsp;Other tastes in your mouth<br><textarea id="Mouth" name="Mouth" style="display:none;"></textarea>


</div>

  </div>
</div>
<!-- ////End Section 14 -->
<script type="text/javascript">
        $("input[name=answer15]").change(function() {
  updateAllChecked15();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer15]").prop('checked', true).change();
  } else {
    $("input[name=answer15]").prop('checked', false).change();
  }
});

function updateAllChecked15() {
  $('#Teeth').text('');
  $("input[name=answer15]").each(function() {
    if (this.checked) {
      let old_text = $('#Teeth ').text() ? $('#Teeth').text() + ', ' : '';
      $('#Teeth ').text(old_text + $(this).val());
      
    }
  })
}
</script>

<!-- ////Begin Section 14 -->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
        <br>
        <label>Teeth</label><br>
        <label>What is the condition of your teeth.</label><br>

<input type="checkbox" name="answer15" value="no fillings or crowns">&nbsp;no fillings or crowns<br>
<input type="checkbox" name="answer15" value="few fillings or crowns">&nbsp;few fillings or crowns<br>

</div>

  </div>
<div class="col-md-6 col-sm-6 col-lg-6">
  
      <div class="form controls">
        <br><br><br>
<input type="checkbox" name="answer15" value="many fillings or crowns">&nbsp;many fillings or crowns<br>
<input type="checkbox" name="answer15" value="Do you have tooth pain">&nbsp;Do you have tooth pain<br><textarea id="Teeth" name="Teeth" style="display:none;"></textarea>


</div>

  </div>
</div>
<!-- End Section Section 14 -->
<script type="text/javascript">
        $("input[name=answer16]").change(function() {
  updateAllChecked16();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer16]").prop('checked', true).change();
  } else {
    $("input[name=answer16]").prop('checked', false).change();
  }
});

function updateAllChecked16() {
  $('#Throat').text('');
  $("input[name=answer16]").each(function() {
    if (this.checked) {
      let old_text = $('#Throat').text() ? $('#').text() + ', ' : '';
      $('#Throat ').text(old_text + $(this).val());
      
    }
  })
}
</script>

<!-- //Begin Section 16-17-->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
        <br>
        <label>Throat - Do you have:</label><br>
    

<input type="checkbox" name="answer16" value="mild sore throats often">&nbsp;mild sore throats often<br>
<input type="checkbox" name="answer16" value="Difficulty swallowing">&nbsp;Difficulty swallowing<br>
<input type="checkbox" name="answer16" value="Sensation of something in your throat">&nbsp;Sensation of something in your throat<br>
<input type="checkbox" name="answer16" value="Phlegm in your throat">&nbsp;Phlegm in your throat<br><textarea id="Throat" name="Throat" style="display:none;"></textarea>
</div>

  </div>
  <script type="text/javascript">
        $("input[name=answer17]").change(function() {
  updateAllChecked17();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer17]").prop('checked', true).change();
  } else {
    $("input[name=answer17]").prop('checked', false).change();
  }
});

function updateAllChecked17() {
  $('#Nose').text('');
  $("input[name=answer17]").each(function() {
    if (this.checked) {
      let old_text = $('#Nose').text() ? $('#Nose').text() + ', ' : '';
      $('#Nose').text(old_text + $(this).val());
      
    }
  })
}
</script>

<div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
        <br>
        <label>Nose - Do you have:</label><br>
<input type="checkbox" name="answer17" value="obstructed nose">&nbsp;obstructed nose<br>
<input type="checkbox" name="answer17" value="nosebleeds">&nbsp;nosebleeds<br>
<input type="checkbox" name="answer17" value="dry nose">&nbsp;dry nose<br>
<textarea id="Nose" name="Nose" style="display:none;"></textarea>
</div>

  </div>
</div><br><br>
<!-- //End Section 16-17 -->

<!-- Start Script 18 -->
<script type="text/javascript">
        $("input[name=answer18]").change(function() {
  updateAllChecked18();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer18]").prop('checked', true).change();
  } else {
    $("input[name=answer18]").prop('checked', false).change();
  }
});

function updateAllChecked18() {
  $('#Muscles').text('');
  $("input[name=answer18]").each(function() {
    if (this.checked) {
      let old_text = $('#Muscles').text() ? $('#Muscles').text() + ', ' : '';
      $('#Muscles').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- end script no 18 -->
<!-- Start Script 18a -->
<script type="text/javascript">
        $("input[name=Muscle_weakness_Where]").change(function() {
  updateAllChecked18a();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=Muscle_weakness_Where]").prop('checked', true).change();
  } else {
    $("input[name=Muscle_weakness_Where]").prop('checked', false).change();
  }
});

function updateAllChecked18a() {
  $('#Muscle_weakness_Where').text('');
  $("input[name=Muscle_weakness_Where]").each(function() {
    if (this.checked) {
      let old_text = $('#Muscle_weakness_Where').text() ? $('#Muscle_weakness_Where').text() + ', ' : '';
      $('#Muscle_weakness_Where').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- end script no 18a-->
<!-- Start Script 18b -->
<script type="text/javascript">
        $("input[name=Muscle_tension_Where]").change(function() {
  updateAllChecked18b();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=Muscle_tension_Where]").prop('checked', true).change();
  } else {
    $("input[name=Muscle_tension_Where]").prop('checked', false).change();
  }
});

function updateAllChecked18b() {
  $('#Muscle_tension_Where').text('');
  $("input[name=Muscle_tension_Where]").each(function() {
    if (this.checked) {
      let old_text = $('#Muscle_tension_Where').text() ? $('#Muscle_tension_Where').text() + ', ' : '';
      $('#Muscle_tension_Where').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- end script no 18b -->
<!-- // Section 18-->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-6 col-lg-6">
   <div class="form controls">
    <br>
        <label>Muscles - Do you have:</label><br>
        <br>
    <label>Muscle weakness Where</label><br>
  <div>
<input type="text" class="form-control" id="Muscle_weakness_Where" name="Muscle_weakness_Where" style="width: 70%;" required>
  </div>
  <br>
<label>Muscle tension Where</label><br>
  <div>
   <input type="text" class="form-control" id="Muscle_tension_Where" name="Muscle_tension_Where" style="width: 70%;" required>
            </div>
<input type="checkbox" name="answer18" value="Muscle aches">&nbsp;Muscle aches&nbsp;
<input type="checkbox" name="answer18" value="Muscle cramps">&nbsp;Muscle cramps<br>
<input type="checkbox" name="answer18" value="Muscle tics">&nbsp;Muscle tics&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="answer18" value="Muscle spasms">&nbsp;Muscle spasms<br>
</div>

  </div>
<div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
        <br>
<!-- <input type="checkbox" name="answer18" value="Muscle tics">&nbsp;Muscle tics<br>
<input type="checkbox" name="answer18" value="Muscle spasms">&nbsp;Muscle spasms<br> -->
<textarea id="Muscles" name="Muscles" style="display:none;"></textarea>
</div>

  </div>
</div>

<!-- //End Section 18-->
<!-- Start Script 19 -->
<script type="text/javascript">
        $("input[name=answer19]").change(function() {
  updateAllChecked19();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer19]").prop('checked', true).change();
  } else {
    $("input[name=answer19]").prop('checked', false).change();
  }
});

function updateAllChecked19() {
  $('#Emotional_Mental_Thinking').text('');
  $("input[name=answer19]").each(function() {
    if (this.checked) {
      let old_text = $('#Emotional_Mental_Thinking').text() ? $('#Emotional_Mental_Thinking').text() + ', ' : '';
      $('#Emotional_Mental_Thinking').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- end script no 19 -->

<!-- Start Script 19a -->
<script type="text/javascript">
        $("input[name=answer19a]").change(function() {
  updateAllChecked19a();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer19a]").prop('checked', true).change();
  } else {
    $("input[name=answer19a]").prop('checked', false).change();
  }
});

function updateAllChecked19a() {
  $('#emotions_predominant').text('');
  $("input[name=answer19a]").each(function() {
    if (this.checked) {
      let old_text = $('#emotions_predominant').text() ? $('#emotions_predominant').text() + ', ' : '';
      $('#emotions_predominant').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- end script no 18 -->
<!-- Begin Section 19 -->
<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="form controls">
      <br>
        <label>Emotional/Mental/Thinking - Do you have:</label><br>
<input type="checkbox" name="answer19" value="Have poor memory">&nbsp;Have poor memory<br>
<input type="checkbox" name="answer19" value="Have mental restlessness">&nbsp;Have mental restlessness<br>

<br>
<label>Are any of these emotions predominant</label><br>

<input type="checkbox" name="answer19a" value="Fear">
&nbsp;Fear&nbsp;
<input type="checkbox" name="answer19a" value="Anger">&nbsp;Anger&nbsp;
<input type="checkbox" name="answer19a" value="Shock">&nbsp;Shock&nbsp;
<input type="checkbox" name="answer19a" value="Worry">&nbsp;Worry&nbsp;
<input type="checkbox" name="answer19a" value="Sadness">&nbsp;Sadness<br>




</div>
  </div>
<div class="col-md-6 col-sm-6 col-lg-6">
      <div class="form controls">
        <br><br>
<input type="checkbox" name="answer19" value="Have difficulty concentrating">&nbsp;Have difficulty concentrating<br>
<input type="checkbox" name="answer19" value="any stressful experiences">&nbsp;any stressful experiences<br>
<br><br>
<!-- <input type="checkbox" name="answer19a" value="Shock">&nbsp;Shock&nbsp;
<input type="checkbox" name="answer19a" value="Worry">&nbsp;Worry&nbsp;
<input type="checkbox" name="answer19a" value="Sadness">&nbsp;Sadness<br> -->
<textarea id="emotions_predominant" name="emotions_predominant" style="display:none;"></textarea>
<textarea id="Emotional_Mental_Thinking" name="Emotional_Mental_Thinking" style="display:none;"></textarea>
</div>
  </div>

<!-- End Section 19 -->
<!-- start script 20 -->
<script type="text/javascript">
        $("input[name=answer20]").change(function() {
  updateAllChecked20();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer20]").prop('checked', true).change();
  } else {
    $("input[name=answer20]").prop('checked', false).change();
  }
});

function updateAllChecked20() {
  $('#Miscellaneous').text('');
  $("input[name=answer20]").each(function() {
    if (this.checked) {
      let old_text = $('#Miscellaneous').text() ? $('#Miscellaneous').text() + ', ' : '';
      $('#Miscellaneous').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- end Script 20 -->

<!-- start script 20a-->
<script type="text/javascript">
        $("input[name=answer20a]").change(function() {
  updateAllChecked20a();
});

$("input[name=addall]").change(function() {
  if (this.checked) {
    $("input[name=answer20a]").prop('checked', true).change();
  } else {
    $("input[name=answer20a]").prop('checked', false).change();
  }
});

function updateAllChecked20a() {
  $('#feeling_of_heaviness').text('');
  $("input[name=answer20a]").each(function() {
    if (this.checked) {
      let old_text = $('#feeling_of_heaviness').text() ? $('#feeling_of_heaviness').text() + ', ' : '';
      $('#feeling_of_heaviness').text(old_text + $(this).val());
      
    }
  })
}
</script>
<!-- end Script 20 -->

<!-- Begin Section 20 -->
<div class="col-md-12 col-sm-12 col-lg-12" style="margin-left: 0px;padding:0px 0px 0px 0px !important;">
  <div class="col-md-6 col-sm-6 col-lg-6">
   <div class="form controls">
    <br>
        <label>Miscellaneous - Do you:</label><br>
<input type="checkbox" name="answer20" value="Feel your heart beat">&nbsp;Feel your heart beat<br>
<input type="checkbox" name="answer20" value="Have dizziness">&nbsp;Have dizziness<br>
<input type="checkbox" name="answer20" value="Have brittle nails">&nbsp;Have brittle nails<br>

<label>Have a feeling of heaviness</label><br>
<input type="checkbox" name="answer20a" value="Body">&nbsp;Body&nbsp;
<input type="checkbox" name="answer20a" value="Head">&nbsp;Head<br>
<input type="checkbox" name="answer20a" value="Arms">&nbsp;Arms&nbsp;&nbsp;<input type="checkbox" name="answer20a" value="Legs">&nbsp;Legs<br>
<textarea id="feeling_of_heaviness" name="feeling_of_heaviness" style="display:none;">
</textarea>
</div>
  </div>
<div class="col-md-6 col-sm-6 col-lg-6">
    
      <div class="form controls">
        <br><br>
<input type="checkbox" name="answer20" value="Have thirst without a desire to drink">&nbsp;Have thirst without a desire to drink<br>
<input type="checkbox" name="answer20" value="Have rashes">&nbsp;Have rashes<br>
<input type="checkbox" name="answer20" value="Have itching">&nbsp;Have itching<br>
<textarea id="Miscellaneous" name="Miscellaneous" style="display:none;"></textarea>
</div>

  </div>
</div>
</div>
<!-- End Section 20 -->

      <!-- ////////////////////// -->



      </div>
       <div class="modal-footer">
        <button type="submit" class="datas-btn btn btn-primary btn-sm" style="margin:0 auto;display:block;border-radius: 5px;border: 1px solid #babf10;">Submit</button>
        
        </div>
      </form>
     </div>
    </div>
  </div>

 
  

</div>

<!-- end .container -->




    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
