       <%- include partials/header_login %>

<!--      <span id="finalPricess" style="display: none;"></span>
 -->            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
    				<div class="container">
    					<div class="row">
    						<div class="col-xs-12 col-md-8">
    							<div class="cart-form-wrapper">
                                    <!-- <form action="#" method="post">
                                        <table class="shop_table cart" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="product-thumbnail">Product</th>
                                                    <th colspan="2" class="product-name">Product</th>
                                                    <th class="product-price">Price</th>
                                                    <th class="product-quantity">QTY</th>
                                                    <th class="product-subtotal">Total</th>
                                                    <th class="product-remove">&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="cart_item">
                                                    <td class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="img/shop/thumb.png" alt="">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="#">Black Porcelain Bag</a>
                                                    </td>
                                                    <td class="product-price">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity">
                                                            <script>
                                                                function increment(myInput) {
                                                                    myInput.value = (+myInput.value + 1) || 0;
                                                                }
                                                                function decrement(myInput) {
                                                                  if (myInput.value >=2)
                                                                    myInput.value = (myInput.value - 1) || 0;
                                                                }
                                                            </script>
                                                            <div class="product-quantities killMargin">
                                                                <div class="quantity clear">
                                                                    <span class="qty-control minus" onclick="decrement(this.parentNode.getElementsByTagName('input')[0]);">-</span>
                                                                    <input name="qty" class="qty-field" value="1" type="text">
                                                                    <span class="qty-control plus" onclick="increment(this.parentNode.getElementsByTagName('input')[0]);">+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-remove">
                                                        <a href="#"></a>
                                                    </td>
                                                </tr>
                                                <tr class="cart_item">
                                                    <td class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="img/shop/thumb.png" alt="">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="#">Black Porcelain Bag</a>
                                                    </td>
                                                    <td class="product-price">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity">
                                                            <script>
                                                                function increment(myInput) {
                                                                    myInput.value = (+myInput.value + 1) || 0;
                                                                }
                                                                function decrement(myInput) {
                                                                  if (myInput.value >=2)
                                                                    myInput.value = (myInput.value - 1) || 0;
                                                                }
                                                            </script>
                                                            <div class="product-quantities killMargin">
                                                                <div class="quantity clear">
                                                                    <span class="qty-control minus" onclick="decrement(this.parentNode.getElementsByTagName('input')[0]);">-</span>
                                                                    <input name="qty" class="qty-field" value="1" type="text">
                                                                    <span class="qty-control plus" onclick="increment(this.parentNode.getElementsByTagName('input')[0]);">+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-remove">
                                                        <a href="#"></a>
                                                    </td>
                                                </tr>
                                                <tr class="cart_item">
                                                    <td class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="img/shop/thumb.png" alt="">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="#">Black Porcelain Bag</a>
                                                    </td>
                                                    <td class="product-price">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity">
                                                            <script>
                                                                function increment(myInput) {
                                                                    myInput.value = (+myInput.value + 1) || 0;
                                                                }
                                                                function decrement(myInput) {
                                                                  if (myInput.value >=2)
                                                                    myInput.value = (myInput.value - 1) || 0;
                                                                }
                                                            </script>
                                                            <div class="product-quantities killMargin">
                                                                <div class="quantity clear">
                                                                    <span class="qty-control minus" onclick="decrement(this.parentNode.getElementsByTagName('input')[0]);">-</span>
                                                                    <input name="qty" class="qty-field" value="1" type="text">
                                                                    <span class="qty-control plus" onclick="increment(this.parentNode.getElementsByTagName('input')[0]);">+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-remove">
                                                        <a href="#"></a>
                                                    </td>
                                                </tr>
                                                <tr class="cart_item">
                                                    <td class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="img/shop/thumb.png" alt="">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="#">Black Porcelain Bag</a>
                                                    </td>
                                                    <td class="product-price">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity">
                                                            <script>
                                                                function increment(myInput) {
                                                                    myInput.value = (+myInput.value + 1) || 0;
                                                                }
                                                                function decrement(myInput) {
                                                                  if (myInput.value >=2)
                                                                    myInput.value = (myInput.value - 1) || 0;
                                                                }
                                                            </script>
                                                            <div class="product-quantities killMargin">
                                                                <div class="quantity clear">
                                                                    <span class="qty-control minus" onclick="decrement(this.parentNode.getElementsByTagName('input')[0]);">-</span>
                                                                    <input name="qty" class="qty-field" value="1" type="text">
                                                                    <span class="qty-control plus" onclick="increment(this.parentNode.getElementsByTagName('input')[0]);">+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal">
                                                        <span class="amount">$646.0</span>
                                                    </td>
                                                    <td class="product-remove">
                                                        <a href="#"></a>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        <div class="row actions">
                                            <div class="co-xs-12 col-sm-8 col-md-7">
                                                <div class="coupon-box">
                                                    <input type="text" placeholder="Coupon code" class="form-control" name="coupon_code">
                                                    <input type="submit" value="Apply Coupon" name="apply_coupon" class="btn btn-ash-border">
                                                </div>
                                            </div>
                                            <div class="col-xs-12  col-sm-4 col-md-5 text-right">
                                                <input type="submit" value="Update Cart" name="update_cart" class="btn btn-ash-border">
                                            </div>
                                        </div>
                                    </form>    -->
                               
                                </div>
    						</div>

                            <div class="col-md-12">

                               <a href="/home"><p class="text-center btn btn-blue">Go To Shopping</p> </a>
                               
                            </div>
    						
    						
    					</div>  <!-- // row -->
    				</div>  <!-- // container -->
                </main>
            </div>
        </div>

    
    </div>

<style type="text/css">
    .spinner {
   height: 0px;
    left: unset;
    margin: unset;
    position: unset;
    top: 0%;
    width: 50px;
}
</style>
    
   
        <!--
        footer
        ==================================== -->
        <footer class="footer">
            <div class="container">
                <p class="copyright pull-left item_left"> Copyright &copy; 2015 Eydia. All rights reserved. design by <strong><a href="#">pixel studio</a>.</strong></p>
                <ul class="pull-right social-links text-center item_right">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
        </footer>
        <!--
        End footer
        ==================================== -->
        
        <!-- back to top -->
        <a href="javascript:;" id="go-top">
            <i class="fa fa-angle-up"></i>
            top
        </a>

       
    </div>


  

     
         <script type="text/javascript" src="/js1/vendor/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="/js1/vendor/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/js1/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="/js1/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.appear.js"></script>
        <script type="text/javascript" src="/js1/jquery.bxslider.min.js"></script>
        <script type="text/javascript" src="/js1/vendor/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.backstretch.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.nav.js"></script>
        <script type="text/javascript" src="/js1/lightbox.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.parallax-1.1.3.js"></script>
        <!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js1?sensor=true"></script> -->
        <script type="text/javascript" src="/js1/jquery-validation.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/js1/form.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.multiscroll.min.js"></script>
        <script type="text/javascript" src="/js1/jquery-countTo.js"></script>
        <script type="text/javascript" src="/js1/jquery.mb.YTPlayer.min.js"></script>
        <script type="text/javascript" src="/js1/jflickrfeed.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.selectbox-0.2.min.js"></script>
        <script type="text/javascript" src="/js1/tweetie.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.sticky.js"></script>
        <script type="text/javascript" src="/js1/jquery.nicescroll.min.js"></script>
     
        <script type="text/javascript" src="/js1/bootstrap-progressbar.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.circliful.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.easypiechart.js"></script>
        <script type="text/javascript" src="/js1/masonry.pkgd.js"></script>
        <script type="text/javascript" src="/js1/jquery.tubular.1.0.js"></script>
        <script type="text/javascript" src="/js1/kenburned.min.js"></script>
        <script type="text/javascript" src="/js1/mediaelement-and-player.min.js"></script>
        <!-- shortcode scripts -->
        <script type="text/javascript" src="/shortcodes/js/jquery.nivo.slider.pack.js"></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.slicebox.min.js"></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.eislideshow.js"></script>
        <script type="text/javascript" src="/shortcodes/js/camera.min.js"></script>
        <script type="text/javascript" src="/shortcodes/js/jquery.zaccordion.min.js"></script>
        <script type="text/javascript" src="/shortcodes/js/main.js"></script>
        <script type="text/javascript" src="/js1/jquery.prettySocial.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.zoom.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.countdown.js"></script>
        <script type="text/javascript" src="/js1/jquery.webticker.min.js"></script>
        <script type="text/javascript" src="/js1/jquery.timepicker.min.js"></script>
        <script type="text/javascript" src="/js1/selectize.min.js"></script>
        <!-- image filter -->
        <script type="text/javascript" src="/js1/img-filter/jquery.gray.min.js"></script>
        <!-- // image filter -->
        <script type="text/javascript" src="/js1/wow.min.js"></script>
        <script src="/syntax-highlighter/scripts/prettify.min.js"></script>
        <script type="text/javascript">$.SyntaxHighlighter.init();</script>
        <script type="text/javascript" src="/js1/main.js"></script>
         <script type="text/javascript">
            $(function() {
                $(".slide-thumbs").flexslider({
                    animation: "slide",
                    controlNav: true,
                    animationLoop: false,
                    slideshow: false,
                    itemWidth: 75,
                    itemMargin: 5,
                    asNavFor: ".flex-with-thumb"
                });

                $(".flex-with-thumb").flexslider({
                    animation: "slide",
                    controlNav: false,
                    animationLoop: false,
                    slideshow: false,
                    sync: ".slide-thumbs"
                });
            });
        </script>

<script type="text/javascript">
    document.getElementById("cartvalue").value = localStorage.cart;
     // document.getElementById("cartvalues").value = localStorage.cart;
     
      
  </script>
  
  <script>
        var cart = [];

        $(function () {
            if (localStorage.cart)
            {
               alert(localStorage.cart);

                cart = JSON.parse(localStorage.cart);
                showCart();
                // document.getElementById("cartvalue").value = localStorage.cart;

               
            }
               if (cart.length == 0 || cart.length == null) {
              document.getElementById("totalprice").textContent= "0";
              document.getElementById("totalprices").textContent= "0";

              
                // $("#messageempty").html("YOUR CART IS CURRENTLY EMPTY");

                //  $("#messageemptysecond").html("You have not added any items in your shopping cart");
                //  document.getElementById("messagebutton").style.display = "block";
            }

        });


        function addToCart() {
             alert("me too calling");
            var productIdd = $("#prodId").val();
            // alert(productIdd);   
            var productStockkk =$("#prodStock").val();

            var productImgg =$("#prodImg").val();
            // alert(productStockkk);         
            var price =$("#productprice").text();
            // alert(price);
            var name = $("#productname").text();
            // alert(name);
            var productcategory = $("#productcategory").text();
            // alert(productcategory);
            var productsubcategory = $("#productsubcategory").text();
            // alert(productsubcategory);
            var qty = $("#qty").val();
            // alert(qty);
            var total= 0;

            for (var i in cart) {
                if(cart[i].Product == name)
                {
                    cart[i].ProductIds = productIdd;
                    cart[i].ProductStocks = productStockkk;
                    cart[i].ProductImgs = productImgg;
                    cart[i].Price = price;
                    cart[i].Qty = qty;
                    cart[i].Total = total;
                    showCart();
                    saveCart();
                    return;
                }
            }
            // create JavaScript Object
            var item = { ProductIds : productIdd , ProductImgs : productImgg, ProductStocks : productStockkk ,Product: name,  Price: price, Qty: qty, Total : total  }; 

            cart.push(item);
            saveCart();
            showCart();
        }

        function deleteItem(index){
            cart.splice(index,1); // delete item at index
            showCart();
            saveCart();
        }

        function saveCart() {
            if ( window.localStorage)
            {
                localStorage.cart = JSON.stringify(cart);

            }
        }

           function showCart() {
            localStorage.clear();
            window.location.reload();

             if (cart.length == 0) {
              alert(localStorage.cart);
                $("#cart").css("visibility", "hidden");
               // document.getElementById("totalitem").textContent= "0";
                document.getElementById("totalprice").textContent= "0";
                document.getElementById("totalprices").textContent= "0";
                return;
            }
          

             $("#cart").css("visibility", "visible");
            $("#cartBody").empty();

          
              var total= 0;
               var grandtotal= 0;
              var final= 0;

            for (var i in cart) {


                var item = cart[i];


               
                var total = total + item.Qty * item.Price;

                
                var productidde = productIdd =item.ProductIds;

                var productimgData =item.ProductImgs;

                var grandtotal = grandtotal + item.Qty * item.Price;
                //alert(grandtotal);
                var productnames = $("#productname").textContent=item.Product;
               //alert(productnames);
                var newprices = $("#newprice").textContent=item.Price;
                //alert(newprices);
                var totalqtys = $("#totalqty").value=item.Qty;
                alert(totalqtys);

               
                document.getElementById("totalprice").textContent=parseFloat(Math.round(total * 100) / 100).toFixed(2);

                 document.getElementById("grandtotalprice").textContent=parseFloat(Math.round(grandtotal * 100) / 100).toFixed(2);




                 
                 // alert(totalprice);

                  // document.getElementById("totalprices").textContent= parseFloat(Math.round(total * 100) / 100).toFixed(2);

               // var row =" <tr><td><h5 id='productId"+ i +"' name='productId"+ i +"'>" + item.ProductIds + "</h5></td><td><h5 id='productStock"+ i +"' name='productStock"+ i +"'>" + item.ProductStocks + "</h5></td><td><td><h5 id='productname"+ i +"' name='productname"+ i +"'>" + item.Product + "</h5></td><td><h5 id='newprice"+ i +"' name='newprice"+ i +"'><strong>$" + item.Price + "</strong></h5></td><td><div class='input-group spinner'><input type='text' class='form-control cssQty' id='totalqty"+ i +"' name='totalqty"+ i +"' value='" + item.Qty + "' rowid='"+i+"' pattern='[0-9]{10}' onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></div></td><td><h5 id='itemtotal" +i+"'><strong style='margin-right: 3px;'>"+"$"+ item.Qty * item.Price + "</strong></h5></td><td><button class='btn btn-link btn-lg pull-right' style='margin-right: 30px;margin-top: -3px;' onclick='deleteItem(" + i + ")'><span class='glyphicon glyphicon-trash'> </span></button></td></tr>";


               var totalShip = $("#shipAmount").text();
               var totalTax = $("#amountTax").text();
               // alert(totalTax);
                  var Finalvalue = +parseFloat(Math.round(grandtotal * 100) / 100).toFixed(2)+ +parseInt(totalShip)+ +parseFloat(1.84).toFixed(2);

                  $('#hdnCartTotal').val(parseFloat(Math.round(Finalvalue).toFixed(2)));

               $('#hdnCartTotalcart').val(parseFloat(Math.round(Finalvalue).toFixed(2)));


               document.getElementById("finalPrice").textContent=Finalvalue;
                document.getElementById("finalPricess").value=Finalvalue;

              if("<%= newfinalvalcoup %>" == 0){

                 document.getElementById("finalPrice").textContent=Finalvalue;
                 document.getElementById("finalPricess").value=Finalvalue;

                 }else{

                 document.getElementById("finalPrice").textContent="<%= newfinalvalcoup %>";
                 document.getElementById("finalPricess").value="<%= newfinalvalcoup %>";



                 }

               


                 var row ="<tr class='cart_item'><td class='product-thumbnail'><a href='#'><img src="+  item.ProductImgs +" alt='' style='height:50px;width:80px;'></a></td><td class='product-name'><a href='#'><h5 id='productname"+ i +"' name='productname"+ i +"'>" + item.Product + "</h5></a></td><td class='product-price'><span class='amount'><h5 id='newprice"+ i +"' name='newprice"+ i +"'><strong>$" + item.Price + "</strong></h5></span></td><td class='product-quantity'><div class='input-group spinner'><input type='text' class='form-control cssQty' id='totalqty"+ i +"' name='totalqty"+ i +"' value='" + item.Qty + "' rowid='"+i+"' pattern='[0-9]{10}' onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></div></td><td class='product-subtotal'><span class='amount'><h5 id='itemtotal" +i+"'><strong style='margin-right: 3px;'>"+"$"+ item.Qty * item.Price + "</strong></h5></span></td><td><button class='btn btn-link btn-lg' style='margin-top: -3px;' onclick='deleteItem(" + i + ")'><span class='glyphicon glyphicon-trash'> </span></button></td></tr>";
                $("#cartBody").append(row); 
            }
            // alert(row);




             // alert(Finalvalue);
        }
 </script>
 
<script type="text/javascript">


$(document).ready(function(){ 
$('.cssQty').change(function () {
  // alert("hii");
           
    var itemqty =$(this).val();
   // alert(itemqty);
    var id=$(this).attr("rowid");   
    var namepro = $('#'+ "productname" + id).text();
    // alert(namepro);  
    var actualprices=$('#'+ "newprice" + id).text();  
    var actualprice = actualprices.substr(1);
  //  alert(actualprice);
    var itemtotal = actualprice * itemqty;
    alert(itemtotal);

    var oldactualprice=$('#'+ "itemtotal" + id).text();  
    // alert(oldactualprice);
    var oldgrandotalprice=$('#grandtotalprice').text();  
     //alert(oldgrandotalprice);
    var calc = oldgrandotalprice - oldactualprice ;
    //alert(calc);
    $('#'+"itemtotal" + id).text("$"+itemtotal);
    // alert(oldgrandotalprice);
     var grandtotalprice1 = calc + itemtotal;
  //  alert(grandtotalprice1);
      $('#grandtotalprice').text(grandtotalprice1);
      $('#totalprice').text(grandtotalprice1);


           var grandtotal= 0;
           var total= 0;
           var final= 0;

        for (var i = 0; i < cart.length; i++) {
          if (cart[i].Product == namepro) {
                 cart[i].Price = actualprice;
                 cart[i].Qty = itemqty;
                 cart[i].Total = oldactualprice;
                 // showCart();
                 saveCart();  

         
          }
        }

              var total= 0;
              var grandtotal= 0;
              var final= 0;


              for (var i in cart) {
             var item = cart[i];


               
                var total = total + item.Qty * item.Price;

                var grandtotal = grandtotal + item.Qty * item.Price;

                var productnames = $("#productname").textContent=item.Product;
               // alert(productnames);
                var newprices = $("#newprice").textContent=item.Price;
                 // alert(newprices);
                var totalqtys = $("#totalqty").value=item.Qty;

                  document.getElementById("totalprice").textContent=parseFloat(Math.round(total * 100) / 100).toFixed(2);
                  // document.getElementById("totalprices").textContent= parseFloat(Math.round(total * 100) / 100).toFixed(2);


                  document.getElementById("grandtotalprice").textContent=parseFloat(Math.round(grandtotal * 100) / 100).toFixed(2);

              

                   // document.getElementById("messagebutton").style.display = "none";


               var totalShip = $("#shipAmount").text();
               var totalTax = $("#amountTax").text();
               // alert(totalTax);

               

                var Finalvalue = +parseFloat(Math.round(grandtotal * 100) / 100).toFixed(2)+ +parseInt(totalShip)+ +parseFloat(1.84).toFixed(2);

                $('#hdnCartTotal').val(parseFloat(Math.round(Finalvalue).toFixed(2)));

               $('#hdnCartTotalcart').val(parseFloat(Math.round(Finalvalue).toFixed(2)));



               document.getElementById("finalPrice").textContent=Finalvalue;
               document.getElementById("finalPricess").value=Finalvalue;
            


                 if("<%= newfinalvalcoup %>" == 0){

                 document.getElementById("finalPrice").textContent=Finalvalue;
                 document.getElementById("finalPricess").value=Finalvalue;


                 }else{

                 document.getElementById("finalPrice").textContent="<%= newfinalvalcoup %>";
                document.getElementById("finalPricess").value="<%= newfinalvalcoup %>";



                 }




           
            }

});
});

</script> 

    

<!-- 
<script>
      var autocomplete = {};
    var autocompletesWraps = ['test', 'test2'];

    var test_form = { street_number: 'short_name', route: 'long_name', locality: 'long_name', administrative_area_level_1: 'short_name', country: 'long_name', postal_code: 'short_name' };
    var test2_form = { street_number: 'short_name', route: 'long_name', locality: 'long_name', administrative_area_level_1: 'short_name', country: 'long_name', postal_code: 'short_name' };

  function initialize() {

      $.each(autocompletesWraps, function(index, name) {
      
        if($('#'+name).length == 0) {
          return;
        }

        autocomplete[name] = new google.maps.places.Autocomplete($('#'+name+' .autocomplete')[0], { types: ['geocode'] });
          
        google.maps.event.addListener(autocomplete[name], 'place_changed', function() {
          
          var place = autocomplete[name].getPlace();
          var form = eval(name+'_form');

          for (var component in form) {
            $('#'+name+' .'+component).val('');
            $('#'+name+' .'+component).attr('disabled', false);
          }
          
          for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (typeof form[addressType] !== 'undefined') {
              var val = place.address_components[i][form[addressType]];
              $('#'+name+' .'+addressType).val(val);
            }
          }
        });
      });
    }
    </script> -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->
   <!--  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIJ9XX2ZvRKCJcFRrl-lRanEtFUow4piM&libraries=places&callback=initAutocomplete"  type="text/javascript"></script> -->

 
    </body>
</html>
