    <%- include partials/header %>

        <!--
        End Navigation
        ==================================== -->

        <!--
        Home Banner
        ==================================== -->
      <span id="grandtotalprice" style="display: none;"></span>
     <span id="finalPrice" style="display: none;"></span>
     <span id="finalPricess" style="display: none;"></span>
        <section id="start" class="home-banner13 fullscreen control-one killPadding">
            <div class="slide13 shop-slide">
                <% for (var i = 0; i < loadsliderdata.length; i++) if(loadsliderdata[i].status == "1") { %>
                <div class="slide-item fullscreen active" style="background-image: url(/uploads/slider/<%= loadsliderdata[i].sliderImg.originalname %>);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 fullscreen">
                                <div class="banner-caption">
                                    <h1 class="">idea <strong>products <br>future</strong> design</h1>
                                    <p class="">where the end is a simpler understanding or a simpler <br>result or a simpler way to share. ometimes I have to <br>look backward to find simplicity</p>
                                    <div class="slide-button">
                                        <a href="#" class="btn btn-blue">order now!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <% } %>
            </div>
        </section>
        <!--
        End Home Banner
        ==================================== -->

        <!--
        Product Banner
        ==================================== -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="prod-title">
                            <h2>Products</h2>
                        </div>
                        <div class="filter-cat">
                            <ul>
                                <li><a href="#" data-filter="*" class="actve">All</a></li>
                                 <% for (var i = 0; i < loadcategorydata.length; i++) { %>
                                      <li><a href="#" data-filter=".<%= loadcategorydata[i]._id %>"><%= loadcategorydata[i].categoryName %></a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row shop-wrapper">
                     <% for (var i = 0; i < loadcategorydata.length; i++) { %>

                     
                    <div class="pd-box col-xs-12 col-sm-6 col-md-4 col-lg-3 <%= loadcategorydata[i]._id %>">
                        <div id="product<%= loadcategorydata[i]._id %>" data-product-id="<%= loadcategorydata[i]._id %>" class="chkProductID product-wrapper">
                             <% for (var j = 0; j < loadproductdata.length; j++) if(loadcategorydata[i].categoryName == loadproductdata[j].procatName && loadproductdata[j].productStatus == "1"){ %>

                            <div class="product-single">
                                <div class="product-image">

                                    <% if(loadproductdata[j].myimage == ""){  %> 

                                    <img src="" alt="" class="img-responsive">
                                    <% } else { %>
                                    <img src="/uploads/product/<%= loadproductdata[j].myimage.originalname %>" alt="" class="img-responsive">
                                    <% } %>
                                </div>
                                <div class="product-title">
                                    <div class="title-wrap">
                                        <span class="quick-view">
                                            <a href="/productshop?id=<%= loadproductdata[j]._id %>" class="">Quick View</a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <% } %>

                        </div>
                       
                    </div>
                     
                     <% } %>       
                </div>
            </div>
        </section>
        <!--
        End Product Banner
        ==================================== -->
 <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="prod-title">
                            <h2>Today Deals</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <% for (var i = 0; i < loadproductdata.length; i++)  if(loadproductdata[i].ProductDealCat == "Today Deal" && loadproductdata[i].productStatus == "1")  { %>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-wrapper">
                            <div class="product-single">
                                <div class="product-image">
                                    <img src="/uploads/product/<%= loadproductdata[i].myimage.originalname %>" alt="" class="img-responsive">
                                </div>
                                <div class="product-title">
                                    <div class="title-wrap">
                                        <span class="quick-view">
                                            <a href="/productshops?id=<%= loadproductdata[i]._id %>" class="">Quick View</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <% } %>       
                </div>
            </div>
        </section>

    <%- include partials/footer %>

<script type="text/javascript">
         $(window).load(function(){        
   $('#myModal').modal('show');
    });
</script>
    


